﻿@{
    Layout = null;

}
@RenderBody() <br />
<table>
    <tr>
        <td>
            @Html.ActionLink("View Statement", "Print", null, new { target = "_blank", Class = "AjaxButton" ,onclick="CloseMe()"})
        </td>
        <td>
            <button style="width:100px;height:35px;color:black;font-size:1.0em;padding:7px" onclick="CloseMe()">Close</button>
        </td>
    </tr>
</table>
<br />

@RenderSection("scripts", required: false)

<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center"
        
     });

    function CloseMe() {
        $("#dialog").dialog("close");
    }

 </script>

