﻿@{
    Layout = null;

}
@RenderBody() <br />
@Html.ActionLink("View Statement", "Pay", null, new {Class = "AjaxButton" })

<button class="AjaxButton" id="ClosMe" onclick="CloseMe()">Close</button>

<br />

@RenderSection("scripts", required: false)

<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center"
        
     });

    function CloseMe() {
        $("#dialog").dialog("close");
    }

 </script>

