﻿@{
    Layout = null;
    ViewBag.Title = ViewBag.Title ?? "Edit";
    ViewBag.Key = ViewBag.Key ?? 0;
    ViewBag.Inactive = ViewBag.Inactive ?? 0;
    ViewBag.Description = ViewBag.Description ?? "";
    ViewBag.Button = ViewBag.Button ?? "Add";
    ViewBag.Action = ViewBag.Action ?? "CreateMemberNotes"; 
}
    
@using (Ajax.BeginForm((string)ViewBag.Action, "Cashing", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog", OnSuccess="Successful" }))
{
  
     <div style="vertical-align:middle;">
        <input class="submitbutton" type="submit" value="@ViewBag.Button"/>
        @if (ViewBag.Key>0)
        {
        @Ajax.ActionLink("Cancel", "View", new { Key = ViewBag.Key }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class="cancelbutton"}) 
        }
    </div>
      @RenderBody()
}

@RenderSection("scripts", required: false)

<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position:"center"
     });

 </script>

