﻿@{
    Layout = null;
}
@RenderBody() <br />
<button style="width:100px;height:35px;color:black;font-size:1.0em;padding:7px" onclick="CloseMe()">Close</button>

<br />
@RenderSection("scripts", required: false)

<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center"
        
     });

    function CloseMe() {
        $("#dialog").dialog("close");
    }

 </script>

