﻿@{
    Layout = null;

}
@RenderBody() <br />
@Ajax.ActionLink("Pay Batch", "PayDone", new { BtnType = "Pay1" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "AjaxButton" })
<button style="width:100px;height:35px;color:black;font-size:1.0em;padding:7px" onclick="CloseMe()">Close</button>

<br />
@RenderSection("scripts", required: false)

<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center"
        
     });

    function CloseMe() {
        $("#dialog").dialog("close");
    }

 </script>

