﻿@model PhoenixWeb.Models.ViewModel.Accertify.AccertifyTransactionFilter
@{
    ViewBag.Title = "Accertify Review";
}
<h3 class="page-title">
    <div class="row" style="display: flex">
        <div id="accertifyHeader" style="font-size:30px; margin-left: 15px">
            Accertify Review
        </div>
        <div id="accertifyLink" style="margin-left: 10px">
            <button onclick="window.open('@ViewBag.AccertifyLink')" class="btn btn-primary"  style="width: 150px; border-radius: 5px !important; padding: 7px">
                <img width="15px" height="15px" src="~/Images/ICONS/ic_open_in_new_48px.svg" style="margin-bottom: 2px" />
                Open in Accertify
            </button>
        </div>
    </div>
</h3>

<p id="error-message" style="color: red"></p>
@Html.ValidationMessage("error")
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            Search transactions
        </div>
    </div>
    <div class="portlet-body form">
        <div action="#" class="horizontal-form" id="searchForm">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-9" id="param-area">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <div class="col-md-2 col-sm-4">
                                    @Html.LabelFor(m => m.SearchText, new { @class = "control-label" })
                                </div>
                                <div class="col-md-10 col-sm-8" id="searchText-div">
                                    @Html.TextBoxFor(m => m.SearchText, "", new { @class = "form-control search-param keyword", @placeHolder = "Member ID, Terminal ID" })
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <div class="col-md-4 col-sm-4">
                                    @Html.LabelFor(m => m.FromDate, new { @class = "control-label" })
                                </div>
                                <div class="col-md-4 col-sm-4" style="padding-right:10px;">
                                    <button id="btnYesterday" class="btn btn-setDate" back-date="1">Last 24 hrs</button>
                                </div>
                                <div class="col-md-4 col-sm-4" style="padding-left:10px;">
                                    <button id="btnLast3Days" class="btn btn-setDate" back-date="3">Last 3 days</button>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-offset-0">
                                <div class="col-md-6 col-md-offset-0 col-sm-4 col-sm-offset-4" style="padding-right:10px;">
                                    @Html.TextBoxFor(m => m.FromDate, "", new { @class = "form-control datepicker search-param filedate", @readonly = "readonly" })
                                </div>
                                <div class="col-md-6 col-sm-4" style="padding-left:10px;">
                                    @Html.TextBoxFor(m => m.ToDate, "", new { @class = "form-control datepicker search-param filedate", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <div class="col-md-4 col-sm-4">
                                    @Html.LabelFor(m => m.SubBusinessType, new { @class = "control-label" })
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.DropDownListFor(model => model.SubBusinessType, Model.ListSubBusinessType, new { @class = "form-control search-param", @disabled = "disabled" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="col-md-4 col-sm-4">
                                    @Html.LabelFor(m => m.AccertifyStatus, new { @class = "control-label" })
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.DropDownListFor(model => model.AccertifyStatus, Model.ListAccertifyStatus, new { @class = "form-control search-param" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions right">
                <a href="#" class="reset" id="reset">Reset</a>
                <button id="btnSearch" class="btn blue-madison" style="width: 120px; border-radius: 5px !important;">SEARCH</button>
            </div>
        </div>
    </div>
</div>
<div class="portlet box blue grid-wrapper" id="wrapper">
    <div class="portlet-title">
        <div class="caption">
            Search results
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-12">
            <div id="AccertifyTransaction">
            </div>
        </div>
    </div>
</div>
@section scripts {
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/pages/Accertify/PH-Accertify.js"></script>
    <script src="~/Scripts/pages/Accertify/PH-AccertifyService.js"></script>
    <style>
        #ui-datepicker-div .ui-datepicker-month,
        #ui-datepicker-div .ui-datepicker-month option {
            color: black !important
        }

        #ui-datepicker-div .ui-datepicker-year,
        #ui-datepicker-div .ui-datepicker-year option {
            color: black !important
        }

        .form-body > .row {
            margin-bottom: 5px;
        }

        .control-label {
            margin-top: 7px;
            padding-right: 5px;
            padding-left: 5px;
            pointer-events: none;
        }

        .reset {
            margin-right: 20px;
            color: grey;
        }

        .btn-inline {
            border-collapse: collapse;
            border-width: thin;
            border-radius: 2px !important;
            outline: none;
        }

        .ui-jqgrid .ui-jqgrid-bdiv {
            overflow-y: scroll
        }

        .ui-jqgrid .ui-jqgrid-htable th div {
            height: auto;
            overflow: hidden;
            padding-right: 4px;
            padding-top: 2px;
            position: relative;
            vertical-align: text-top;
            white-space: normal !important;
        }

        .form-group {
            min-height: 34px;
            margin-bottom: 0px;
        }

            .form-group label, .form-group button, .form-group select, .form-group input {
                margin-bottom: 8px;
            }

        .btn-setDate {
            width: 100%;
            border: solid 1px #ccc !important;
            border-radius: 5px !important;
            background-color: white !important;
            padding: 6px 0px;
        }

        .btn-setDate-active {
            background-color: #3598dc !important;
            color: aliceblue !important;
        }

        .datepicker {
            background-color: white !important;
        }

        p.customedText {
            margin: 3px 0px 3px 0px;
        }

            p.customedText.text-right {
                text-align: right;
            }

            p.customedText.text-bold {
                font-weight: 900;
            }

            p.customedText.has-border {
                border: solid 1px #ccc !important;
                border-radius: 3px;
            }

            p.customedText.hidden {
                display: none;
            }

            p.customedText.underlined {
                text-decoration: underline;
            }

        @@media (min-width: 992px) {
            #searchText-div {
                padding-left: 10px;
            }
        }

        select, input, button {
            border-radius: 2px !important;
        }

        a.clickable {
            cursor: pointer;
        }

        .underlined, ui-state-highlight .underlined {
            text-decoration: underline !important;
        }

        .s-ico {
            display: inline !important;
        }

        .ui-jqgrid-labels {
            background: none !important;
            background-color: #fff;
        }

        .ui-widget-content {
            background: none;
            background-color: #ffffff;
        }

            .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
                background: none;
                background-color: #ffffff;
            }

            .ui-widget-content .ui-state-hover, .ui-widget-content .ui-state-highlight {
                background: none !important;
                background-color: #eeeeee !important;
                border: 1px solid #ddd;
                color: #333;
            }

                .ui-widget-content .ui-state-hover.ui-th-column, .ui-widget-content .ui-state-highlight.ui-th-column {
                    color: #1c94c4;
                }

        .btn-disabled {
            border: none !important;
            outline: none;
            color: #acacac;
            background-color: #dadada;
            cursor: not-allowed !important;
        }

            .btn-disabled:hover {
                border: none;
                color: #acacac;
                background-color: #dadada;
                cursor: not-allowed !important;
            }

        .ui-jqgrid tr.ui-jqgrid-labels th {
            height: 36px;
            vertical-align: middle;
        }

        .ui-jqgrid tr.jqgrow td {
            height: 32px;
            vertical-align: middle;
        }

        .ui-jqgrid tr.ui-jqgrid-labels th, .ui-jqgrid tr.jqgrow td, .frozen-bdiv .jqgfirstrow > td {
            padding-left: 8px !important;
            padding-right: 8px !important;
        }

        .ui-jqgrid-htable tr th.ui-th-column.left {
            text-align: left !important;
        }

        .ui-jqgrid-htable tr th.ui-th-column.right {
            text-align: right !important;
        }

        .ui-jqgrid th.right > div.ui-jqgrid-sortable {
            margin-right: 12px;
            overflow: unset !important;
        }

        .ui-jqgrid .ui-jqgrid-resize-ltr {
            margin-right: -10px !important;
        }

        .ui-widget, .ui-jqgrid .ui-jqgrid-view, .ui-widget .btn-inline {
            font-size: 12px !important;
            font-family: "Open Sans", sans-serif;
        }

        .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited {
        }

        .frozen-div.ui-jqgrid-hdiv .ui-jqgrid-resize {
            pointer-events: none;
        }

        table.ui-jqgrid-btable {
            min-height: 1px;
        }

        @@media (min-width:700px) {
            #param-area {
                width: 100% !important;
            }
        }

        @@media (min-width:1300px) {
            #param-area {
                width: 75% !important;
            }
        }
    </style>
}

