﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}   
@{
    var sessionVar = Session["key"];   
}
@if((Int32)@ViewBag.Expiring > 0)
{
<div id="prefix_331871881142" class="Metronic-alerts alert alert-info fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
    Please note that your password will expire in @ViewBag.Expiring days, Please change your password before due date, Thanks
</div>
}


            @*<div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <a href="@Url.Action("Menu", "Member")"><img src="~/Images/ICONS/Member.png"  style="position:relative; float: left" /></a>
                    </div>
                    <div class="col-md-2">
                        <a href="@Url.Action("Menu", "Case")"><img src="~/Images/ICONS/Cases.png" style="position:relative; float: left" /></a>
                    </div>
                    <div class="col-md-2">
                        <a href="@Url.Action("Withdrawal", "Cashing")"><img id="Withdrawal" src="~/Images/ICONS/Withdrawal.png" style="position:relative; float: left" /></a>
                    </div>
                </div>
            </div>*@
<div style="align-content:center; margin-left:35%; margin-right:35%">

     @if (ViewContext.Controller.HasPermission("MenuMember"))
    {
        <a href="@Url.Action("Menu", "Member")"><img src="~/Images/ICONS/Member.png" style="position:relative; float: left" /></a>
    }
    @*@if (ViewContext.Controller.HasPermission("MenuCases"))
    {
    <a href="@Url.Action("Menu", "Case")"><img src="~/Images/ICONS/Cases.png" style="position:relative; float: left" /></a>
    }*@
    @if (ViewContext.Controller.HasPermission("MenuWithdrawal"))
    {
    <a href="@Url.Action("Withdrawal", "Cashing")"><img id="Withdrawal" src="~/Images/ICONS/Withdrawal.png" style="position:relative; float: left" /></a>
    }
    @if (ViewContext.Controller.HasPermission("MenuCashing"))
    {
    <a href="@Url.Action("Index", "Cashing")"><img src="~/Images/ICONS/Cashing.png" style="position:relative; float: left" /></a>
    }
    @if (ViewContext.Controller.HasPermission("MenuAdmin"))
    {
    <a href="@Url.Action("Index", "Administration")"><img src="~/Images/ICONS/Admin.png" style="position:relative; float: left" /></a>
    }
    @if (ViewContext.Controller.HasPermission("MenuMemberSignUp"))
    {
    <a href="@Url.Action("Index", "MemberSignUp")"><img src="~/Images/ICONS/MemberSignUp.png" style="position:relative; float: left" /></a>
    }
    @if (ViewContext.Controller.HasPermission("MenuMassScanning"))
    {
    <a href="@Url.Action("IndexMassScan", "Cashing")"><img src="~/Images/ICONS/MassScanning.png" style="position:relative; float: left" /></a>
    }
    @if (ViewContext.Controller.HasPermission("MenuMemberRequest"))
    {
    <a href="@Url.Action("Index", "MembersRequest")"><img src="~/Images/ICONS/MemberRequest.png" style="position:relative; float: left" /> </a>
    }
    @if (ViewContext.Controller.HasPermission("MenuTransaction"))
    {
    <a href="@Url.Action("Index", "Transaction")"><img src="~/Images/ICONS/Transactions.png" style="position:relative; float: left" /></a>
    }
    @if (ViewContext.Controller.HasPermission("MenuFreshDesk"))
    {
    <a target="_blank" href="@Url.Action("FreshDeskLogin", "AdminHome")"><img src="~/Images/ICONS/FreshDesk.png" style="position:relative; float: left" /> </a>
    }
    @if (ViewContext.Controller.HasPermission("MenuTerminal"))
    {
    <a href="@Url.Action("Search", "Terminal")"><img src="~/Images/ICONS/Terminal.png" style="position:relative; float: left" /></a>
    }
    @*@if (ViewContext.Controller.HasPermission("MenuDealer"))
    {
        <a href="@Url.Action("Dashboard", "Dealer")"><img src="~/Images/ICONS/Dealer.png" style="position:relative; float: left" /></a>
    }*@
</div>



 @*   <table id="MassScan" cellpadding:"5" align="center">





       @if (ViewContext.Controller.HasPermission("SFSearch"))
        {
            <tr>
                <td>
                    <a href="@Url.Action("Menu", "Member")"><img src="~/Images/ICONS/Member.png" /></a>
                </td>
                <td>
                    <a href="@Url.Action("Menu", "Case")"><img src="~/Images/ICONS/Cases.png" /></a>
                </td>
                <td>
                    <a href="@Url.Action("Withdrawal", "Cashing")"><img id="Withdrawal" src="~/Images/ICONS/Withdrawal.png" /></a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="@Url.Action("Index", "Cashing")"><img src="~/Images/ICONS/Cashing.png" /></a>
                </td>
                <td>
                    <a href="@Url.Action("Index", "Administration")"><img src="~/Images/ICONS/Admin.png" /></a>
                </td>
                <td>
                    <a href="@Url.Action("Index", "MemberSignUp")"><img src="~/Images/ICONS/MemberSignUp.png" /></a>
                </td>
            </tr>
            <tr>
                <td>
                    @if (@ViewBag.CanMassSacn == true)
                    {
                        <a href="@Url.Action("IndexMassScan", "Cashing")"><img src="~/Images/ICONS/MassScanning.png" /></a>
                    }
                </td>
                <td>
                    <a href="@Url.Action("Index", "MembersRequest")"><img src="~/Images/ICONS/MemberRequest.png" /> </a>
                </td>
                <td>
                    <a href="@Url.Action("Index", "Transaction")"><img src="~/Images/ICONS/Transactions.png" /></a>
                </td>
            </tr>
            <tr>
                <td>


                    <a target="_blank" href="@Url.Action("FreshDeskLogin", "AdminHome")">
                        <img src="~/Images/ICONS/FreshDesk.png" />
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Search", "Terminal")"><img src="~/Images/ICONS/Terminal.png" /></a>
                </td>


            </tr>

        }
        else if (User.IsInRole("Admin"))
        {
            <tr>
                <td>
                    <a href="@Url.Action("Menu", "Member")"><img src="~/Images/ICONS/Member.png" /></a>
                </td>
                <td>
                    <a href="@Url.Action("Menu", "Case")"><img src="~/Images/ICONS/Cases.png" /></a>
                </td>
                <td>
                    <a href="@Url.Action("Withdrawal", "Cashing")"><img id="Withdrawal" src="~/Images/ICONS/Withdrawal.png" /></a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="@Url.Action("Index", "Cashing")"><img src="~/Images/ICONS/Cashing.png" /></a>
                </td>
                <td>
                    <a href="@Url.Action("Index", "MembersRequest")"><img src="~/Images/ICONS/MemberRequest.png" /> </a>
                </td>
                <td>
                    <a href="@Url.Action("Index", "MemberSignUp")"><img src="~/Images/ICONS/MemberSignUp.png" /></a>
                </td>
            </tr>
            <tr>
                <td>
                    @if (@ViewBag.CanMassSacn == true)
                    {
                        <a href="@Url.Action("IndexMassScan", "Cashing")"><img src="~/Images/ICONS/MassScanning.png" /></a>
                    }
                </td>
                <td>
                    <a href="@Url.Action("Index", "Transaction")"><img src="~/Images/ICONS/Transactions.png" /></a>
                </td>
            </tr>
            <tr>
                <td>


                    <a target="_blank" href="@Url.Action("FreshDeskLogin", "AdminHome")">
                        <img src="~/Images/ICONS/FreshDesk.png" />
                    </a>
                </td>

            </tr>

        }
        else if (User.IsInRole("Operations"))
        {
            <tr>
                <td>
                    <a href="@Url.Action("Menu", "Member")"><img src="~/Images/ICONS/Member.png" /></a>
                </td>
                <td>
                    <a href="@Url.Action("Menu", "Case")"><img src="~/Images/ICONS/Cases.png" /></a>
                </td>
                <td>
                    <a href="@Url.Action("Index", "Cashing")"><img src="~/Images/ICONS/Cashing.png" /></a>
                </td>
            </tr>
            <tr>
                <td>
                    @if (@ViewBag.CanMassSacn == true)
                    {
                        <a href="@Url.Action("IndexMassScan", "Cashing")"><img src="~/Images/ICONS/MassScanning.png" /></a>
                    }
                </td>

            </tr>

        }
        else if (User.IsInRole("FrontCounterAdmin"))
        {

            <tr>
                <td>
                    <a href="@Url.Action("Withdrawal", "Cashing")"><img id="Withdrawal" src="~/Images/ICONS/Withdrawal.png" /></a>
                </td>
                <td>
                    <a href="@Url.Action("Index", "Cashing")"><img src="~/Images/ICONS/Cashing.png" /></a>
                </td>
                <td>
                    @if (@ViewBag.CanMassSacn == true)
                    {
                        <a href="@Url.Action("IndexMassScan", "Cashing")"><img src="~/Images/ICONS/MassScanning.png" /></a>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <a href="@Url.Action("Menu", "Member")"><img src="~/Images/ICONS/Member.png" /></a>
                </td>
            </tr>
        }
        else if (User.IsInRole("FrontCounter"))
        {
            <tr>
                <td>
                    <a href="@Url.Action("Withdrawal", "Cashing")"><img id="Withdrawal" src="~/Images/ICONS/Withdrawal.png" /></a>
                </td>
                <td>
                    <a href="@Url.Action("Index", "Cashing")"><img src="~/Images/ICONS/Cashing.png" /></a>
                </td>
                <td>
                    @if (@ViewBag.CanMassSacn == true)
                    {
                        <a href="@Url.Action("IndexMassScan", "Cashing")"><img src="~/Images/ICONS/MassScanning.png" /></a>
                    }
                </td>
            </tr>

        }
        else if (User.IsInRole("ExternalMassScan"))
        {
            <tr>
                <td>
                    <a href="@Url.Action("Index", "Cashing")"><img src="~/Images/ICONS/Cashing.png" /></a>
                </td>
                <td>
                    <a href="@Url.Action("IndexMassScan", "Cashing")"><img src="~/Images/ICONS/MassScanning.png" /></a>
                </td>
            </tr>
        }
        else if (User.IsInRole("ExternalCashing"))
        {
            <tr>
                <td>
                    <a href="@Url.Action("Index", "Cashing")"><img src="~/Images/ICONS/Cashing.png" /></a>
                </td>
            </tr>
        }
        else if (User.IsInRole("UpdateFinanceInfo"))
        {
            <tr>
                <td>
                    <a href="@Url.Action("Index", "Transaction")"><img src="~/Images/ICONS/Transactions.png" /></a>
                </td>
            </tr>
        }
    </table>*@
    <div class="hidden">
        <div id="abcd1" class="">
            Your password is expiring soon, Do you want to renew now? <br /><br />
            @Html.ActionLink("Yes", "ChangePassword", "Profile", null, new { Class = "btn blue" })
            <input type="button" class="btn blue" onclick="CloseMe()" value="No" />
        </div>
    </div>
    <div class="hidden">
        <div id="abcd2" class="">
            Your password is expiring soon, Please change password now <br /><br />
            @Html.ActionLink("Change", "ChangePassword", "Profile", null, new { Class = "btn blue" })
        </div>
    </div>

    @section scripts {
        <script type="text/javascript">
            function CloseMe() {
                $("#abcd1").dialog("close");
            }
            $(document).ready(function () {
                if ($("#abcd1").html() != "") {
                    $.ajax({
                        url: '@Url.Action("CheckPasswordExpiry", "Account")',
                        type: "GET",
                        success: function (data) {
                            var dataMsg = data;
                            if (dataMsg != "error") {
                                $("#abcd1").dialog();
                                $("#abcd1").dialog({
                                    title: "Password Expiry",
                                    position: "center",
                                    width: "300"
                                });
                            }
                        },
                        error: function (x, y, z) {
                            alert('error');
                        }
                    });
                }
            });

            $(document).ready(function () {
                if ($("#abcd2").html() != "") {
                    $.ajax({
                        url: '@Url.Action("CheckPasswordExpiry3dayLeft", "Account")',
                        type: "GET",
                        success: function (data) {
                            var dataMsg = data;
                            if (dataMsg != "error") {
                                $("#abcd2").dialog();
                                $("#abcd2").dialog({
                                    title: "Password Expiry",
                                    position: "center",
                                    width: "300"
                                });
                            }
                        },
                        error: function (x, y, z) {
                            alert('error');
                        }
                    });
                }
            });






        </script>
    }
