﻿@model System.Web.Mvc.HandleErrorInfo

@*@{
    ViewBag.Title = "Permission";
}

<hgroup class="title">
    <h1 class="error">Permission denied.</h1>
    <h2 class="error">An error occurred while processing your request.</h2>
    @Html.ValidationMessage("error")

</hgroup>*@

@{
    ViewBag.Title = "Unauthorised Request";
}
<h1>Error 401 : Unauthorised Request</h1>
<p />
<h2>
    You do not have permission to access the requested resource due to security restrictions.
    In order to gain access, please speak to your system administrator.
</h2>