﻿@using System.Web.Mvc.Html
@model PhoenixWeb.Models.ViewModel.GroupMemberVM
<style>
    .panel-heading {
        color: #ffffff;
        background: #f8b64b;
    }
    .panel {
        border-color: #b1c1ce;
    }
</style>
<div id="groupmemberdialog" style="display:none;">
    <form id="groupmemberdialogForm">
        <div class="form-body">
            @Html.HiddenFor(model => model.GroupID)

            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.GroupName, new { @class = "control-label " })
                </div>
                <div class="col-md-8">
                    <label id="groupName">@Model.GroupName</label>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.TotalMerchant, new { @class = "control-label " })
                </div>
                <div class="col-md-8">
                    <label id="totalMerchant">@Model.TotalMerchant</label>
                </div>
            </div>

            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-4">
                    @Html.Label("Import Merchants (optional)", new { @class = "control-label" })
                </div>
                <div class="col-md-6">
                    <input type="file" title="Import merchants into group" id="btnChooseFile" class="form-control">
                </div>
                <input type="button" title="Import merchants into group" value="Import File" class="btn btn-default" id="btnImportFile">
            </div>

            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-8" id="gridMerchantGroupSection" style="padding-right: 0px !important;">
                    <div class="form-group" id="parentMerchantGroupGrid">
                        <table id="merchantGroupGrid"></table>
                        <div id="merchantGroupGridPager"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel">
                        <div class="panel-heading">Add new merchant</div>
                        <div class="panel-body">
                            <textarea type="text" data-id="" class="form-control" id="MerchantInfo" style="height:100px" ></textarea>
                            <input type="button" value="Add merchant" id="btnAddMerchant" style="margin-top: 2%;" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p>Note: If the merchant has been belonged to groups, the earned rate of this merchant will be used the effected highest one.</p>
</div>

<div id="dialog-message" hidden>
    <div class="row" id="dialog-result" hidden>
        <div class="col-md-12">
            <strong class="green">Merchants which were successfully added</strong><br />
            <div id="added-merchants-to-group-success"></div>
            
            <br /><br /><br />
            <strong class="green">Merchants with invalid Id or had some issues</strong><br />
            <div id="added-merchants-to-group-error"></div>
        </div>
    </div>

    <div id="dialog-error" class="row" hidden>
        <div class="col-md-12">
            <strong id="error-message"></strong>
        </div>
    </div>
</div>