﻿@using System.Web.Mvc.Html
@using PhoenixWeb.Models.ViewModel
@model PhoenixWeb.Models.ViewModel.VMBaseWithPaging
@{
    ViewBag.Title = "Manage Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Manage Groups</h2>
<form id="managegroup">
    <div class="form-body">
        <div class="row" style="margin-bottom: 15px;">
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <span style="float:left;font-size:small">
                            <button type="button" class="btn blue-chambray" id="addGroup"><i class="fa fa-check"></i> Add group</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row" style="margin-bottom: 15px; display: none" id="filterSection">
                        <div style="position: relative; float: right;  width: 35%; margin-right: 7%;">
                            <i class="glyphicon glyphicon-search" style="position: absolute;pointer-events: none; padding: 10px; right: 0px;"></i>
                            <input id="textAdvanceSearch" title="Filter Member Key, QBR Number, Status, Comment" type="text" class="form-control" placeholder="Search..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <div class="form-group" id="parentGroupGrid">
                    <table id="gridGroup"></table>
                    <div id="gridGroupPager"></div>
                </div>
            </div>
        </div>
    </div>
</form>

@Html.Partial("_QantasEarnedRateDialog")
@Html.Partial("GroupMember", new GroupMemberVM())

@section scripts
{
    <script src="~/Scripts/pages/Group/PH-EarnedRateDialog.js"></script>
    <script src="~/Scripts/pages/QantasPointReviewing/Services/PH-QantasPointEarnedRateService.js"></script>
    <script src="~/Scripts/pages/Group/PH-ManageMerchantGroup.js"></script>
    <script src="~/Scripts/pages/Group/PH-MerchantGroupService.js"></script>
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".LiveSMS").addClass("active open");
        });
    </script>
}

<style type="text/css">
        #ui-datepicker-div .ui-datepicker-month,
        #ui-datepicker-div .ui-datepicker-month option {
            color: black !important
        }

        #ui-datepicker-div .ui-datepicker-year,
        #ui-datepicker-div .ui-datepicker-year option {
            color: black !important
        }
</style>
