﻿@using System.Web.Mvc.Html
@model PhoenixObjects.Glidebox.ActivateDeactivateProductModel

<style>
    .field-validation-error {
        color: red;
    }
</style>

<div id="activateDeactivateDialog" style="display:none;">
    <form id="activateDeactivateForm" action="#" method="post">
        <div class="form-body">
            @Html.HiddenFor(model => model.ID)
            <div class="row">
                <label id="title-action" class="control-label"></label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Reason, new { @class = "form-control", @placeholder = "Reason" })
                    @Html.ValidationMessageFor(model => model.Reason)
                </div>
            </div>
        </div>
    </form>
</div>

<style>
    .row {
        margin-bottom: 15px;
    }

    #activateDeactivateForm label {
        display: block;
        text-align: center;
        line-height: 150%;
        font-size: 20px;
        margin-bottom: 15px;
    }
</style>