﻿@using System.Web.Mvc.Html
@model PhoenixObjects.GlideBoxCategory.CategoryModel

<style>
    .field-validation-error {
        color: red;
    }

    .warning {
        color: #cabb09;
    }
</style>

<div id="categoryDialog" style="display:none;">
    <h3 id="category-title" class="control-label"></h3>
    <form id="CategoryForm" action="#" method="post">
        <div class="form-body">
            @Html.HiddenFor(model => model.CategoryID)
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.CategoryName, new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control"})
                    @Html.ValidationMessageFor(model => model.CategoryName)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.ShortName, new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.ShortName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ShortName)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.PriceCategory, new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    <div class="input-icon">
                        @Html.TextBoxFor(model => model.PriceCategory, new { @class = "form-control", @type = "number", @min = 0, @step = 0.1 })
                        <i class="fa fa-usd"></i>
                    </div>
  
                    @Html.ValidationMessageFor(model => model.PriceCategory)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.CommissionAmount, new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    <div class="input-icon">
                        @Html.TextBoxFor(model => model.CommissionAmount, new { @class = "form-control", @type = "number", @min = 0, @step = 0.1 })
                        <i class="fa fa-usd"></i>
                    </div>
                    @Html.ValidationMessageFor(model => model.CommissionAmount)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="button" value="Save" style="float:right; cursor:pointer" onclick="onSaveCategory()" id="btnSave" class="btn btn-primary">
                </div>
            </div>
        </div>
    </form>
</div>

<style>
    .row {
        margin-bottom: 15px;
    }
</style>