﻿<div id="glideboxHistoryDialog" style="display:none;">
    <div class="row" style="margin-bottom: 15px; margin-top:15px">
        <div class="col-md-12" style="display: none" id="filterSectionHistory">
            <div style="position: relative; float: right; width: 100%;">
                <i class="glyphicon glyphicon-search" id="btnSearchGlideboxHistory"></i>
                <input id="textAdvanceSearchHistory" type="text" class="form-control" placeholder="Search History (eg. Date, Activity or Modified By)" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" id="parentGlideboxHistoryGrid">
                <table id="gridGlideboxHistory"></table>
                <div id="gridGlideboxHistoryPager"></div>
            </div>
        </div>
    </div>
</div>

<style>
    #gridGlideboxHistory tr.jqgrow td {
        height: 30px;
        font-size: 12.5px;
    }

    #btnSearchGlideboxHistory {
        position: absolute;
        cursor: pointer;
        padding: 10px;
        right: 0px;
    }
</style>