﻿<div id="productDetailDialog" style="display:none;">
    <div class="form-body">
        <div class="row row-product-detail">
            <div class="col-md-6">
                <p class="lead"></p>
                <img src="~/assets/pages/img/product/default-image.png" id="product-detail-image" />
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-9">
                        <p class="lead" id="product-name"></p>
                    </div>
                    <div class="col-md-3">
                        <p class="lead" id="product-price"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Category:</h5>
                        <strong id="product-category"></strong>

                        <h5>Quantity:</h5>
                        <strong id="product-quantity"></strong>

                        <h5>Status:</h5>
                        <strong id="product-status"></strong>
                    </div>
                    <div class="col-md-6">
                        <h5>Created by:</h5>
                        <strong id="product-created-by"></strong>

                        <h5>Created date:</h5>
                        <strong id="product-created-datetime"></strong>
                    </div>
                </div>

                <div class="row" id="product-action"></div>
            </div>
        </div>
    </div>
</div>

<style>
    .row-product-detail {
        margin-top: 5px;
    }

    #product-detail-image {
        width: 100%;
        height: 270px;
    }

    #product-status {
        color: #04ac4c
    }
</style>