﻿@using System.Web.Mvc.Html
@model PhoenixObjects.Glidebox.ProductModel

<style>
    .field-validation-error {
        color: red;
    }

    .warning {
        color: #cabb09;
    }
</style>

<div id="productDialog" style="display:none;">
    <h3 id="product-title" class="control-label"></h3>
    <form id="ProductForm" action="#" method="post">
        <div class="form-body">
            @Html.HiddenFor(model => model.ProductID)
            @Html.TextBoxFor(model => model.Image, new {  @type = "file", @style = "visibility:hidden;" })
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.ProductName, new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProductName)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Price, new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    <div class="input-icon">
                        @Html.TextBoxFor(model => model.Price, new { @class = "form-control", @type = "number", @min = 0, @step = 0.1 })
                        <i class="fa fa-usd"></i>
                    </div>
                    @Html.ValidationMessageFor(model => model.Price)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Quantity, new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Quantity)
                </div>
            </div>
            <div class="row" id="products-mapped-category-mode">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Category, new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.Category, (IEnumerable<SelectListItem>)ViewBag.ProductCategories, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-8 text-center">
                    <img src="~/assets/pages/img/product/default-image.png" id="product-image" />
                    <input id="image-max-size" hidden value="@ViewBag.GlideboxProductImageMaxSize" />
                    <label id="select-image" class="btn product-image">Upload Photo</label>
                    <label id="reset-image" class="btn product-image">Remove</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="button" value="Save" style="float:right; cursor:pointer" onclick="onSaveProduct()" id="btnSave" class="btn btn-primary">
                </div>
            </div>
        </div>
    </form>
</div>

<style>
    .product-image {
        color: blue !important;
    }

    .product-image:hover{
        text-decoration: underline;
    }

    .row {
        margin-bottom: 15px;
    }

    #product-image {
        width: 100%;
        height: 150px;
    }
</style>