﻿@model PhoenixObjects.UserAuthentication.LoginModel
@{
    ViewBag.Title = "Change Password";
    Layout = null;
}


<html lang="en">
<!--<![endif]--><!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8">
    <title>PhoenixWeb | Change Password</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    @*@Scripts.Render("~/assets/globalCSS")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/assets/GlobalJS")*@
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css">
    @*<link href="~/Content/JQUI/jquery-ui-1.9.2.custom.css" rel="stylesheet" />*@
    <link href="~/assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
    <link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/global/plugins/select2/select2.css" rel="stylesheet" type="text/css">
    <link href="~/assets/admin/pages/css/login.css" rel="stylesheet" type="text/css">
    <link href="~/assets/global/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/assets/global/css/plugins.css" rel="stylesheet" type="text/css">
    <link href="~/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css">
    <link id="style_color" href="~/assets/admin/layout/css/themes/default.css" rel="stylesheet" type="text/css">
    <link href="~/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="favicon.ico">
</head>

<body class="login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="#">
            @*<img src="../../assets/admin/layout/img/logo-big.png" alt="">*@
            <img src="~/Images/ICONS/Logo_PhoenixWeb.png" alt="logo" class="logo-default" />
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    <div class="menu-toggler sidebar-toggler">
    </div>
    <!-- END SIDEBAR TOGGLER BUTTON -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        @using (Html.BeginForm("ChangePasswordMain", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-vertical login-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model=>model.UserName)
        <!-- BEGIN LOGIN FORM -->
            @*<form class="login-form" action="index.html" method="post" novalidate="novalidate">*@
            <h3 class="form-title">Change password</h3>
             <div>
                    <label>UserName: @ViewContext.Controller.Username()</label> &nbsp; &nbsp;
                 <u>
                     <small>
                         @Html.ActionLink("User different account!", "logoff", "Account")
                 </small>
             </u>
                </div><br />
            
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span>
                    Enter any username and password.
                </span>

               
            </div>
             <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Old Password</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    @*@Html.TextBoxFor(m => m.UserName, new { @class="m-wrap placeholder-no-fix", @type="text", @placeholder="User Name", @name="username" })*@


                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Old Password" name="OldPassword">
                </div>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">New Password</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    @*@Html.TextBoxFor(m => m.UserName, new { @class="m-wrap placeholder-no-fix", @type="text", @placeholder="User Name", @name="username" })*@


                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="New Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="at least eight symbols containing at least one number, one lower, and one upper letter" name="NewPassword">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Confirm Password</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    @*@Html.PasswordFor(m => m.Password, new { @class="m-wrap placeholder-no-fix", @type="password", @placeholder="Password", @name="password"})*@


                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Confirm Password" name="ConfirmPassword">
                </div>
            </div>
            <div class="form-actions">
                <label class="checkbox">
                    @*<div class="checker"><span><input type="checkbox" name="remember" value="1"></span></div> Remember me*@
                </label>
                <button type="submit" class="btn blue pull-right">
                    Change <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>
            @*<div class="forget-password">
                <h4>Forgot your password ?</h4>
                <p>
                    Please contact system administrator to reset password!
                 
                </p>
            </div>*@
            @*<div class="create-account">
                    <p>
                        Don't have an account yet ?&nbsp;
                        <a href="Register" id="register-btn" class="">Create an account</a>
                    </p>
                </div>*@
            @*</form>*@
        }
        <div>
            <small style="color:red">(Your password has not been changed for more than 90 days please change your password)</small>
        </div><br />

        <div style="color:red">
            @ViewBag.Error
        </div>
        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="forget-form" action="index.html" method="post" novalidate="novalidate">
            <h3>Forget Password ?</h3>
            <p>
                Enter your e-mail address below to reset your password.
            </p>
            <div class="form-group">
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email">
                </div>
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn">
                    <i class="m-icon-swapleft"></i> Back
                </button>
                <button type="submit" class="btn green pull-right">
                    Submit <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>
        </form>
        <!-- END FORGOT PASSWORD FORM -->
        <!-- BEGIN REGISTRATION FORM -->
        <!-- END REGISTRATION FORM -->
    </div>
    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->
    <div class="copyright">
        @DateTime.Now.Year &copy; PhoenixWeb | LiveGroup
    </div>
    <!-- END COPYRIGHT -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="../../assets/global/plugins/respond.min.js"></script>
    <script src="../../assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/assets/global/plugins/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="~/assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/assets/global/plugins/select2/select2.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="~/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="~/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
    <script src="~/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
    <script src="~/assets/admin/pages/scripts/login.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- END JAVASCRIPTS -->
    <!-- END BODY -->
    <span role="status" aria-live="polite" class="select2-hidden-accessible"></span>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    jQuery(document).ready(function () {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        QuickSidebar.init(); // init quick sidebar
        Demo.init(); // init demo features
        Login.init();
    });
</script>

