﻿
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.Label("Username")
                @Html.TextBox("Username")
            </li>
            <li>
                @Html.Label("Password")
                @Html.TextBox("Password")
            </li>
            <li>
                @Html.Label("ConfirmPassword")
                @Html.TextBox("ConfirmPassword")
            </li>
            <li>
                @Html.Label("Office")
                @Html.TextBox("ConfirmPassword")
            </li>
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
