﻿@model PhoenixObjects.Member.TerminalAllocationModel

@{
    ViewBag.Title = "Allocate Terminal";
    Layout = "~/Views/Shared/_TerminalPopupLayout.cshtml";
    ViewBag.Action = "AllocateMemberTerminal";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#SaleReps").autocomplete({
            source: '@Url.Action("AutoCompleteEmployee")'

        });
    });

    $(document).ready(function () {
        $("#EftTerminal_key").autocomplete({
            source: '@Url.Action("AutoCompleteEftTerminalId")'
        });
    });

</script>
<h3>Allocate Terminal</h3>
<h4 style="color:red">@ViewBag.Error</h4>
<table>
    <tr>
        <td>
            <b> @Html.DisplayNameFor(model => model.Member.MemberId) </b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Member.MemberId)
        </td>
    </tr>
    <tr>
        <td>
            <b> @Html.DisplayNameFor(model => model.Member.FirstName) </b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Member.FirstName)
        </td>
        <td>
            <b> @Html.DisplayNameFor(model => model.Member.LastName) </b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Member.LastName)
        </td>
    </tr>
    <tr>
        <td>
            <b> @Html.DisplayNameFor(model => model.Member.Email) </b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Member.Email)
        </td>
        <td>
            <b> @Html.DisplayNameFor(model => model.Member.Mobile) </b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Member.Mobile)
        </td>
    </tr>
</table>
<hr />

      <table>
          <tr>
              <td>
                  <div class="editor-label">
                      <label>Business ID</label>
                  </div>
              </td>
              <td>
                  <div class="editor-field">
                      <input type="text" name="VehicleId" required id="VehicleId" />
                  </div>
              </td>
              <td>

                  <div class="editor-label">
                     <label>Business Type</label>
                  </div>
              </td>
              <td>
                 <div class="editor-field">
                     <select style="width: 310px;height:30px" id="VehicleType" name="VehicleType"></select>
                  </div>
              </td>
           
          </tr>
          <tr>
              <td>
                  <div class="editor-label">
                      <label>Business State</label>
                  </div>
              </td>
              <td>
                  <div class="editor-field">
                      <select style="width: 310px;height:30px" id="StateId" name="StateId"></select>
                  </div>
              </td>
              <td>

                  <div class="editor-label">
                      <label>Terminal ID</label>
                  </div>
              </td>
              <td>
                  <div class="editor-field">
                      <input type="number" name="EftTerminal_key" required id="EftTerminal_key" />
                  </div>
              </td>
          </tr>
          <tr>
              <td>
                  <div class="editor-label">
                      <label>Terminal Allocation Date</label>
                  </div>
              </td>
              <td>
                  <div class="editor-field">
                      <input type="date" name="TerminalAllocationDate" required id="TerminalAllocationDate" />
                  </div>
              </td>

              <td>
                  <div class="editor-label">
                      <label>Delivery Required</label>
                  </div>
              </td>
              <td>
                  <div class="editor-field">
                        @Html.EditorFor(model => model.DeliveryRequired)
                      @Html.ValidationMessageFor(model => model.DeliveryRequired)
                  </div>
              </td>
          </tr>

           <tr>
              <td>
                  <div class="editor-label">
                      <label>Default Service Fee</label>
                  </div>
              </td>
              <td>
                  <div class="editor-field">
                      @Html.EditorFor(model => model.ServiceFee)
                      @Html.ValidationMessageFor(model => model.ServiceFee)
                  </div>
              </td>

              <td>
                  <div class="editor-label">
                      <label>Allow MOTO</label>
                  </div>
              </td>
              <td>
                  <div class="editor-field">
                        @Html.EditorFor(model => model.AllowMOTO)
                      @Html.ValidationMessageFor(model => model.AllowMOTO)
                  </div>
              </td>
          </tr>
           <tr>
              <td>
                  <div class="editor-label">
                      <label>Allow Refund</label>
                  </div>
              </td>
              <td>
                  <div class="editor-field">
                        @Html.EditorFor(model => model.AllowRefund)
                      @Html.ValidationMessageFor(model => model.AllowRefund)
                  </div>
              </td>

              <td>
                  <div class="editor-label">
                      <label>Sale Reps</label>
                  </div>
              </td>
              <td>
                  <div class="editor-field">
                      <input type="text" name="SaleReps" placeholder="type name and select" id="SaleReps"/>

                  </div>
              </td>
          </tr>
      </table>
        <p>

        </p>
 @if(Model.Member.TerminalAllocationList != null)
    {
<hr />
<table>
   
    @if (Model.Member.TerminalAllocationList != null && Model.Member.TerminalAllocationList.Count() > 0)
    {
        
        <thead style="font-weight:300">
           Current Allocation List 
        </thead>
          <tr>
                <td>
                  <label>Terminal_key</label>
                </td>
              <td>
                  <label>Vehicle_key</label>
              </td>
                <td>
                    <label>Member_key</label>
                </td>
                <td>
                    <label>ServiceFee</label>
                </td>

                <td>
                    <label>Effective Date</label>
                </td>
                <td>
                    <label>Allow Moto</label>
                </td>
              <td>
                  <label>Allow Refund</label>
              </td>
            </tr>
        foreach (var item in Model.Member.TerminalAllocationList)
        {
            <tr>
               
                <td>
                    @Html.DisplayFor(modelItem => item.EftTerminal_key)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicle_key)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member_key)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EffectiveDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AllowMOTO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AllowRefund)
                </td>
                <td></td>
               
            </tr>
        }
    }
    
</table>
 }
<br />
@section scripts {
    <script type="text/javascript">

        $("#dialog").dialog({
            width: "1000"
        });

        $.ajax({
            url: '@Url.Action("GetVehicleType", "AjaxAdmin")',
            type: "GET",
            dataType: "json",
            success: function (data) {
               $.each(data, function (i, item) {
                    $("#VehicleType").append(
                            $("<option></option>").val(item.VehicleType_key).html(item.Name)
                        );
                });
            },
            error: function () {
                alert("Error loadng Vehicle Type!");
            }
        });

        $.ajax({
            url: '@Url.Action("GetStates", "AjaxAdmin")',
            type: "GET",
            dataType: "json",
            success: function (data1) {
                $.each(data1, function (i, item) {
                    $("#StateId").append(
                            $("<option></option>").val(item.StateName).html(item.StateName)
                        );
                });

            },
            error: function () {
                alert("Error loadng State!");
            }
        });


    </script>
}