﻿@model PhoenixObjects.Member.BankAccountModel

@{
    ViewBag.Title = "Add Account";
    Layout = "~/Views/Shared/_AccountPopupLayout.cshtml";
    ViewBag.Action = "AddMemberAccount";
}
  
<h3>Add Account</h3><br />
<i style="color:red">@ViewBag.Error</i>
<table>
    <tr>
        <td>
            <b> @Html.DisplayNameFor(model => model.Member.MemberId) </b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Member.MemberId)
        </td>
    </tr>
    <tr>
        <td>
            <b> @Html.DisplayNameFor(model => model.Member.FirstName) </b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Member.FirstName)
        </td>
        <td>
            <b> @Html.DisplayNameFor(model => model.Member.LastName) </b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Member.LastName)
        </td>
    </tr>
    <tr>
        <td>
            <b> @Html.DisplayNameFor(model => model.Member.Email) </b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Member.Email)
        </td>
        <td>
            <b> @Html.DisplayNameFor(model => model.Member.Mobile) </b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Member.Mobile)
        </td>
    </tr>
</table>
<hr />
@*@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    *@<table>
    <tr>
        <td>
            <div class="editor-label">
                <label>Account Name</label>
            </div>
        </td>
        <td>
            <div class="editor-field">
                <input type="text" name="AccountName" id="AccountName" value="@Model.AccountName" />
            </div>
        </td>
        <td>

            <div class="editor-label">
                <label>Weight</label>
            </div>
        </td>
        <td>

            <div class="editor-field">
                <input type="text" name="Weight" id="Weight" />
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="editor-label">
                <label>Bsb No.</label>
            </div>
        </td>
        <td>
            <div class="editor-field">
                <input type="text" name="BsbNumber" id="BsbNumber" value="@Model.BSB" />
            </div>
        </td>
        <td>
            <div class="editor-label">
                <label>Account Number</label>
            </div>
        </td>
        <td>
            <div class="editor-field">
                <input type="text" name="AccountNumber" id="AccountNumber" value="@Model.AccountNumber" />
            </div>
        </td>
    </tr>

</table>
   
<hr />
<table>
    @if (Model.Member.BankAccounts != null && Model.Member.BankAccounts.Count() > 0)
    {
        <thead style="font-weight:300">
           Current Account List 
        </thead>
          <tr>
                <td>
                  <label>Account Key</label>
                </td>
                <td>
                    <label>Account Name</label>
                </td>
                <td>
                    <label>Account Number</label>
                </td>

                <td>
                    <label>BSB</label>
                </td>
                <td>
                    <label>Weight</label>
                </td>
            </tr>
        foreach (var item in Model.Member.BankAccounts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountKey)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.BSB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditAddress", new { id = item.AccountKey }) |
                    @Html.ActionLink("Details", "DetailsAddress", new { id = item.AccountKey }) 
                </td>
            </tr>
        }
    }
</table>

<br />
@section scripts {
    <script type="text/javascript">

        $("#dialog").dialog({
            width: "980"
        });

    </script>
}