﻿@model PhoenixObjects.Common.AddressListModel

@{
    ViewBag.Title = "Member Address";
  //  Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Layout = "~/Views/Shared/_AddressPopupLayout.cshtml";
    ViewBag.Action = "AddMemberAddress";
}

<script type="text/javascript">
        $(document).ready(function () {
            $("#PostCode").autocomplete({
                    source: '@Url.Action("AutoCompletePostCode")'

                });
        });

</script>
<h3>Add Member Address</h3><br />
@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
*@<table>
    <tr>
        <td>
            <b> @Html.DisplayNameFor(model => model.Member.MemberId) </b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Member.MemberId)
        </td>
    </tr>
    <tr>
        <td>
            <b> @Html.DisplayNameFor(model => model.Member.FirstName) </b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Member.FirstName)
        </td>
        <td>
            <b> @Html.DisplayNameFor(model => model.Member.LastName) </b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Member.LastName)
        </td>
    </tr>
    <tr>
        <td>
            <b> @Html.DisplayNameFor(model => model.Member.Email) </b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Member.Email)
        </td>
        <td>
            <b> @Html.DisplayNameFor(model => model.Member.Mobile) </b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Member.Mobile)
        </td>
    </tr>
</table>
<hr />

      <table>
          <tr>
              <td>
                  <div class="editor-label">
                      @Html.LabelFor(model => model.StreetNumber)
                  </div>
              </td>
              <td>
                  <div class="editor-field">
                      <input type="text" name="StreetNumber" autocomplete="off" required id="StreetNumber" />
                  </div>
              </td>
              <td>

                  <div class="editor-label">
                      @Html.LabelFor(model => model.StreetName)
                  </div>
              </td>
              <td>
                  <div class="editor-field">
                      <input type="text" name="StreetName" autocomplete="off" required id="StreetName" />
                  </div>
              </td>
           
          </tr>
          <tr>
              <td>
                  <div class="editor-label">
                      <label>Country</label>
                  </div>
              </td>
              <td>
                  <div class="editor-field">
                      <select style="width: 310px;height:30px" id="Country" name="Country">
                          <option value="1">Australia</option>
                      </select>
                  </div>
              </td>
              <td>

                  <div class="editor-label">
                      <label>Post Code</label>
                  </div>
              </td>
              <td>
                  <div class="editor-field">
                      <input type="text" name="PostCode" id="PostCode"/>
                  </div>
              </td>
          </tr>
          <tr>
              <td>
                  <div class="editor-label">
                      <label>Address Type</label>
                  </div>
              </td>
              <td>
                  <div class="editor-field">
                      <select style="width: 310px;height:30px" id="AddressType" name="AddressType">
                          <option value="None">None</option> 
                          <option value="Primary">Primary Address</option>  
                          <option value="Mailing">Mailing Address</option>                         
                      </select>
                      
                  </div>
              </td>
          </tr>
      </table>
       @* <p>
            <input type="submit" value="Add" />
            <span style="float:right; cursor:pointer" id="uncllopseall">
                @Html.ActionLink("Edit Member", "Edit", new { member_key = Model.Member.Member_key }) |
                @Html.ActionLink("Edit Account", "AddMemberAccount", new { id = Model.Member.Member_key })

            </span>
        </p>*@
@*}*@
 
<hr />
<table>
   @if (Model.Member.MemberAddresses != null && Model.Member.MemberAddresses.Count() >0)
    {
        <thead style="font-weight:300">
           Current Address List 
        </thead>
          <tr>
                <td>
                  <label>Street Number</label>
                </td>
                <td>
                    <label>Street Name</label>
                </td>
                <td>
                    <label>Suburb </label>
                </td>

                <td>
                    <label>State</label>
                </td>
                <td>
                    <label>Post Code</label>
                </td>
              <td>
                  <label>Country</label>
              </td>
            </tr>
        foreach (var item in Model.Member.MemberAddresses)
        {
            <tr>
               
                <td>
                    @Html.DisplayFor(modelItem => item.StreetNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StreetName)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.Suburb.SuburbName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Suburb.State.StateName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Suburb.PostCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Suburb.Country.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressType)
                </td>
                <td></td>
                <td>
                  
                    @*@Html.ActionLink("Details", "DetailsAddress", new { id = item.AddressKey }) |*@
                    @Html.ActionLink("Primary", "MakePrimary", new { id = item.AddressKey }) |
                    @Html.ActionLink("Mailing", "MakeMailing", new { id = item.AddressKey }) 
                </td>
            </tr>
        }
        }
</table>
  
<br /><br /><br />

@section scripts {
    <script type="text/javascript">

        $("#dialog").dialog({
            width: "980"
        });

    </script>
}