﻿@model PhoenixObjects.Member.MemberRentalModel

@{
    ViewBag.Title = "Add New Member Rental";
    ViewBag.Action = "AddMemberRental";
    Layout = "~/Views/Shared/_RentalPopupLayout.cshtml";
}
@*<script type="text/javascript">
  
    $(document).ready(function () {
        $("#MonthlyRental").change(function () {
            var MemberRentalTemplateKeyVal = $("#MonthlyRental").val();

            $("#TerminalRentalRateTb").empty();
            $("#TerminalRentalRateTbSF").empty();
            $("#TerminalRentalRateTb").show();
             $.ajax({
                 url: '@Url.Action("GetTerminalRentalRateList", "AjaxAdmin")',
                 data: { MemberRentalTemplateKey: MemberRentalTemplateKeyVal},
                 type: "GET",
                 dataType: "json",
                 success: function (data) {
                     $("#TerminalRentalRateTb").append(
                          $("<thead></thead>").append(
                                $("<tr></tr>").append(
                                   $("<th></th>").append('Terminal Rental Rate_key'),
                                   $("<th></th>").append(''),
                                   $("<th></th>").append('Transaction Target'),
                                   $("<th></th>").append(''),
                                   $("<th></th>").append('Rent Amount')
                          )
                         )
                     );
                     $.each(data, function (i, item) {
                         $("#TerminalRentalRateTb").append(
                             $("<tr></tr>").append(
                                 $("<td></td>").append(item.TerminalRentalRate_key),
                                  $("<td></td>").append(''),
                                 $("<td></td>").append('$' + item.TransactionTarget),
                                  $("<td></td>").append(''),
                                 $("<td></td>").append('$' + item.RentAmount)
                             )
                              );
                     });
                 }
             });
        });
    });
</script>*@
<h3>Add Member Rental</h3>
<h4 style="color:red">@ViewBag.Error</h4>
<table>
    <tr>
        <td>
            <b> @Html.DisplayNameFor(model => model.Member.MemberId) </b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Member.MemberId)
        </td>
    </tr>
    <tr>
        <td>
            <b> @Html.DisplayNameFor(model => model.Member.FirstName) </b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Member.FirstName)
        </td>
        <td>
            <b> @Html.DisplayNameFor(model => model.Member.LastName) </b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Member.LastName)
        </td>
    </tr>
    <tr>
        <td>
            <b> @Html.DisplayNameFor(model => model.Member.Email) </b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Member.Email)
        </td>
        <td>
            <b> @Html.DisplayNameFor(model => model.Member.Mobile) </b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Member.Mobile)
        </td>
    </tr>
</table><br />
<div id="CurrentRentalDetailsBar1" style="height:25px; background-color: white; font-size:medium; color:Black">
    Current Terminal Rental
   
</div>
<div id="CurrentRentalDetails">
    @if (@Model.MemberCurrentTerminalRentalList != null)
    {
        <table id="CurrentTerminalRentalRateTbSF">
            <thead>
                <tr>
                    <th>
                        Member Rental Key
                    </th>
                    <th></th>
                    <th>Transaction Target</th>
                    <th></th>
                    <th>Rent Amount</th>
                    <th></th>
                    <th>Start Date</th>
                    <th></th>
                    <th>End Date</th>

                </tr>
            </thead>
            @foreach (var mm in @Model.MemberCurrentTerminalRentalList)
            {
                <tr>
                    <td>@mm.MemberTerminalRentalKey</td>
                    <td></td>
                    <td>@mm.TransactionTarget</td>
                    <td></td>
                    <td>@mm.RentalAmount</td>
                    <td></td>
                    <td>@mm.StartDate</td>
                    <td></td>
                    <td>@mm.EndDate</td>
                </tr>}
        </table>

    }
</div><br />
<div id="CurrentRentalDetailsBar" onmouseover="enter(this)" onmouseout="leave(this)" style="height:25px; background-color: grey; font-size:medium; color:white">
    Select New Terminal Rental Template

</div>
 <div id="RentalDetails">
    <table style="width:100%">
        <tr>
            <td>
                <div class="editor-label">
                    <label id="RentFreelbl">Rent Free</label>
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.RentalRentFree)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    <label>Start Date</label>
                </div>
            </td>
            <td>

                <div class="editor-field">
                    <input type="date" name="StartDate" id="StartDate" value="@Model.RentalStartDateString" />
                </div>
            </td>
            <td>
                <div class="editor-label">
                    <label>End Date</label>
                </div>
            </td>
            <td>
                <div class="editor-field">
                    <input type="date" name="EndDate" id="EndDate" value="@Model.RentalEndDate" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    <label id="MonthlyRentallbl">Monthly Rental</label>
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.RentalMemberRentalTemplateKey, (IEnumerable<SelectListItem>)ViewBag.MemberRentalTemplateList, new { id = "MonthlyRental" })
                </div>
            </td>

        </tr>
    </table>

    @if (@Model.TerminalRentalRateList != null)
    {
        <table id="TerminalRentalRateTbSF">
            <thead>
                <tr>
                    <th>
                        Terminal Rental Rate_key
                    </th>
                    <th></th>
                    <th>Transaction Target</th>
                    <th></th>
                    <th>Rent Amount</th>
                </tr>
            </thead>
            @foreach (var mm in @Model.TerminalRentalRateList)
            {
                <tr>
                    <td>@mm.TerminalRentalRate_key</td>
                    <td></td>
                    <td>@mm.TransactionTarget</td>
                    <td></td>
                    <td>@mm.RentAmount</td>
                </tr>}
        </table>

    }

    <table id="TerminalRentalRateTb"></table>


</div><br />

<br />
@section scripts {
    <script type="text/javascript">

    $("#dialog").dialog({
        width: "980"
    });
  
    </script>
}