﻿@model PhoenixObjects.Member.MemberModel

@{
    ViewBag.Title = "Create";
   // Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#TerminalRentalRateTb").hide();
        //$("#RentFreeMsg").hide();
    });
   
    //$(document).ready(function () {
    //    if($("#RentFree").attr('Checked'))
    //    {
    //        alert("Hi");
    //        $("#RentFreeMsg").show();
            
    //    }
    //    else
    //    {
    //        $("#RentFreeMsg").show();
    //    }
    //});
  
    $(document).ready(function () {
        $("#MonthlyRental").change(function () {
            var MemberRentalTemplateKeyVal = $("#MonthlyRental").val();

            $("#TerminalRentalRateTb").empty();
            $("#TerminalRentalRateTbSF").empty();
            $("#TerminalRentalRateTb").show();
            @*@Model.TerminalRentalRateList.Equals(null);*@
             $.ajax({
                 url: '@Url.Action("GetTerminalRentalRateList", "AjaxAdmin")',
                 data: { MemberRentalTemplateKey: MemberRentalTemplateKeyVal},
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        $("#TerminalRentalRateTb").append(
                             $("<thead></thead>").append(
                                   $("<tr></tr>").append(
                                      $("<th></th>").append('Terminal Rental Rate_key'),
                                      $("<th></th>").append(''),
                                      $("<th></th>").append('Transaction Target'),
                                      $("<th></th>").append(''),
                                      $("<th></th>").append('Rent Amount')
                             )
                            )
                        );
                        $.each(data, function (i, item) {
                            $("#TerminalRentalRateTb").append(
                                $("<tr></tr>").append(
                                    $("<td></td>").append(item.TerminalRentalRate_key),
                                     $("<td></td>").append(''),
                                    $("<td></td>").append('$' + item.TransactionTarget),
                                     $("<td></td>").append(''),
                                    $("<td></td>").append('$' + item.RentAmount)
                                )
                                 );
                        });
                    }
                });
        });
    });
       $(document).ready(function () {
        $("#BusinessType").change(function () {
            var val1 = $("#BusinessType").val();
            $("#TerminalRentalRateTb").empty();
            $("#TerminalRentalRateTbSF").empty();
            $("#MonthlyRental").empty();
            $.ajax({
                url: '@Url.Action("GetMemberRentalTemplate", "AjaxAdmin")',
                data: {company_key : val1},
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $.each(data, function (i, item) {
                        $("#MonthlyRental").append(
                                 $("<option></option>").val(item.MemberRentalTemplateKey).html(item.Description)
                             );
                    });
                }
            });

            if (val1 == 20) {
                
                $("#MonthlyRentallbl").text("Admin Fee");
                $("#RentFreelbl").text("Free Admin Fee");
            }
            if (val1 == 19) {

                $("#MonthlyRentallbl").text("Monthly Rental");
                $("#RentFreelbl").text("Rent Fee");
            }
            if (val1 == 1) {
                $("#CommissionRateBar").show();
                $("#CommissionRate").show();
                $("#MSFMessgae").hide();
                $("#CRBeditRateId").hide();
                $("#MonthlyRentallbl").text("Admin Fee");
                $("#RentFreelbl").text("Free Admin Fee");
            }
            if (val1 == 18) {
                $("#CommissionRateBar").hide();
                $("#CommissionRate").hide();
                $("#MSFMessgae").show();
                $("#CRBeditRateId").show();
                $("#MonthlyRentallbl").text("Monthly Rental");
                $("#RentFreelbl").text("Rent Fee");
            }
                });
    });
  
    $(document).ready(function () {
        $("#CRBeditRateId").hide();
    });

    $(document).ready(function () {
        $("#Dealer").autocomplete({
            source: '@Url.Action("AutoCompleteDealer")'
        });
    });

    function enter(elem)
    {
        elem.style.color = 'lightblue';
    }
    function leave(elem) {
        elem.style.color = 'white';
    }
    
    $(document).ready(function () {
        $("#DebitRatePercentage").keyup(function () {
            var val1 = $("#DebitRatePercentage").val()
            if (val1.length = 1) {
                var val2 = val1 / 100
                val2 = val2.toFixed(2)
                $("#DebitRatePercentage").val(val2)
            }
            if (val1.length > 4) {

                val1 = val1 * 10
                val1 = val1.toFixed(2)
                $("#DebitRatePercentage").val(val1)
            }

        });
    });

    $(document).ready(function () {
        $("#MannualVoucherRate").keyup(function () {
            var val1 = $("#MannualVoucherRate").val()
            if (val1.length = 1) {
                var val2 = val1 / 100
                val2 = val2.toFixed(2)
                $("#DealerRate").val(val2)
            }
            if (val1.length > 4) {

                val1 = val1 * 10
                val1 = val1.toFixed(2)
                $("#DealerRate").val(val1)
            }
        });
    });

    $(document).ready(function () {
        $("#DebitRate").keyup(function () {
            var val1 = $("#DebitRate").val()
            if (val1.length = 1) {
                var val2 = val1 / 100
                val2 = val2.toFixed(2)
                $("#DealerRate").val(val2)
            }
            if (val1.length > 4) {
                val1 = val1 * 10
                val1 = val1.toFixed(2)
                $("#DealerRate").val(val1)
            }
        });
    });

    $(document).ready(function () {
        $("#MasterCardRate").keyup(function () {

            var val1 = $("#MasterCardRate").val()

            if (val1.length = 1) {
                var val2 = val1 / 100
                val2 = val2.toFixed(2)
                $("#MasterCardRate").val(val2)
            }
            if (val1.length > 4) {

                val1 = val1 * 10
                val1 = val1.toFixed(2)
                $("#MasterCardRate").val(val1)
            }

        });
    });

    $(document).ready(function () {
        $("#VisaCardRate").keyup(function () {

            var val1 = $("#VisaCardRate").val()

            if (val1.length = 1) {
                var val2 = val1 / 100
                val2 = val2.toFixed(2)
                $("#VisaCardRate").val(val2)
            }
            if (val1.length > 4) {

                val1 = val1 * 10
                val1 = val1.toFixed(2)
                $("#VisaCardRate").val(val1)
            }
        });
    });

    $(document).ready(function () {
        $("#AmexCardRate").keyup(function () {

            var val1 = $("#AmexCardRate").val()

            if (val1.length = 1) {
                var val2 = val1 / 100
                val2 = val2.toFixed(2)
                $("#AmexCardRate").val(val2)
            }
            if (val1.length > 4) {

                val1 = val1 * 10
                val1 = val1.toFixed(2)
                $("#AmexCardRate").val(val1)
            }
        });
    });
    
    $(document).ready(function () {
        var val1 = $("#SalesforceId").val()
        var text = "LiveEftPos"
        if (val1 != null  || val1 != "") {
            $("select option").filter(function () {
                return $(this).text() == text;
            }).prop('selected', true);
            //BusinessType
        }
    });

    $(document).ready(function () {
        var val1 = $("#BusinessType").val();
        if (val1 == 1) {
            $("#CommissionRateBar").show();
            $("#CommissionRate").show();
            $("#CRBeditRateId").hide();
        }
        else {
            $("#CommissionRateBar").hide();
            $("#CommissionRate").hide();
            $("#CRBeditRateId").show();
        }
    });
    
    $(document).ready(function () {
        $("#DinersCardRate").keyup(function () {

            var val1 = $("#DinersCardRate").val()

            if (val1.length = 1) {
                var val2 = val1 / 100
                val2 = val2.toFixed(2)
                $("#DinersCardRate").val(val2)
            }
            if (val1.length > 4) {

                val1 = val1 * 10
                val1 = val1.toFixed(2)
                $("#DinersCardRate").val(val1)
            }
        });
    });
    </script>

<h2>Add Member</h2>
<br />

@using (Html.BeginForm("Create", "Member", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
   @Html.ValidationMessage("error")

      <p>
            <input type="submit" value="Add"  />
            <input type="reset" value="Reset"  />
         
          
              <span style="float:right; cursor:pointer" id="uncllopseall">

             @Ajax.ActionLink("Add Address", "CreateMemberAddress", new { }, 
              new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess= "openDialog" }, new { Class = "" }) |
             @Ajax.ActionLink("Add Account", "CreateMemberAccount", new { }, 
              new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess= "openDialog" }, new { Class = "" }) |
              @Ajax.ActionLink("Allocate Terminal", "CreateAllocateMemberTerminal", new { },
              new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "" }) 

        </span>
         </p>
    <div>
      
    </div><br />
    <div id="OperatorDetailsBar" onmouseover="enter(this)" onmouseout="leave(this)" style="height:25px; background-color: grey; font-size:medium; color:white"> Add Details</div>
<div id="OperatorDetails">
    <table style="width:100%">
        <tr>
            <td>
                <label>SalesForce Id</label>
            </td>
            <td>
                <div class="editor-field">
                    <input type="text" name="SalesforceId" readonly="readonly" id="SalesforceId" value="@Model.SalesforceId" />
                </div>
            </td>
        </tr>
         <tr>
             <td>
                  <div class="editor-label">
           <label>Business Type</label>
        </div>
            </td>
             <td>
               @Html.DropDownListFor(model => model.CompanyKey, (IEnumerable<SelectListItem>)ViewBag.BusinessTypeList, new { id = "BusinessType", width = "200px", height ="30px" })
            <td>
        <div class="editor-label">
           <label>Is Bank</label>
        </div>
            </td>
             <td>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.IsBankCustomer)
        </div>
            </td>
         </tr>
    </table>
</div><br />
<div id="PersonalDetailsBar" onmouseover="enter(this)" onmouseout="leave(this)" style="height:25px; background-color: grey; font-size:medium; color:white"> Add Personal Details</div>
<div id="PersonalDetails">
    <table style="width:100%">
        <tr>
            <td>
                 <div class="editor-label">
                 <label>First Name</label>
        </div>
            </td>
             <td>
                 <div class="editor-field">
                <input type="text" name="FirstName" id="FirstName" value="@Model.FirstName" />
        </div>
            </td>
             <td>
                  <div class="editor-label">
           <label>Last Name</label>
        </div>
            </td>
             <td>
             <div class="editor-field">
                 <input type="text" name="LastName" id="LastName" required value="@Model.LastName"  />
        </div>
            </td>
             </tr>
         <tr>
            <td>
                <div class="editor-label">
           <label>Telephone</label>
        </div>
            </td>
             <td>
                   <div class="editor-field">
                       <input type="text" name="Telephone" id="Telephone" value="@Model.Telephone" />
        </div>
            </td>
             <td>
                 <div class="editor-label">
          <label>Fax</label>
        </div>
            </td>
             <td>
                     <div class="editor-field">
                         <input type="text" name="Fax" id="Fax" value="@Model.Fax"  />
        </div>
            </td>
              </tr>
         <tr>
             <td>
                  <div class="editor-label">
           <label>Mobile</label>
        </div>
            </td>
             <td>
                 <div class="editor-field">
                     <input type="text" maxlength="10" name="Mobile" id="Mobile" value="@Model.Mobile"  />
        </div>
            </td>
       
            <td>
                  <div class="editor-label">
           <label>Email</label>
        </div>
            </td>
             <td>
                 
        <div class="editor-field">
            <input type="text" name="Email" id="Email" value="@Model.Email" />
        </div>
            </td>
              </tr>
         <tr>
              <td>
                <label for="file">Photo</label>
                 </td>
             <td>
                <input type="file" name="file" id="file"/>
                
            </td>
             <td>
                 <div class="editor-label">
                     <label>PhotoID Expiry</label>
                 </div>
             </td>
             <td>
                 <div class="editor-field">
                     <input type="date" name="PhotoIDExpiry" id="PhotoIDExpiry" />
                 </div>
             </td>
              </tr>
         <tr>
             <td>
                 <div class="editor-label">
                     <label>Drivers License</label>
                 </div>
             </td>
             <td>
                 <div class="editor-field">
                     <input type="text" name="DriverLicenseNumber" id="DriverLicenseNumber" value="@Model.DriverLicenseNumber" />
                 </div>
             </td>
             <td>
                 <div class="editor-label">
                     <label>Date Of Birth</label>
                 </div>
             </td>
             <td>
                 <div class="editor-field">
                     <input type="date" name="DOB" id="DOB" value="@Model.DOBstring" />
                 </div>

             </td>
         
              </tr>
    </table>
  
 
</div><br />
 
<div id="BusinessDetailsBar" onmouseover="enter(this)" onmouseout="leave(this)" style="height:25px; background-color: grey; font-size:medium; color:white"> Add Business Details</div>
<div id="BusinessDetails">
    <table style="width:100%">
         <tr>
             <td>
                  <div class="editor-label">
           <label>Trading Name</label>
        </div>
            </td>
             <td>
                  <div class="editor-field">
                      <input type="text" name="TradingName" id="TradingName" required value="@Model.TradingName" />
        </div>
            </td>
             <td>
                 
        <div class="editor-label">
           <label>Dealer</label>
        </div>
            </td>
             <td>
                 
        <div class="editor-field">
                 <input type="text" name="Dealer" placeholder="type name and select" id="Dealer" />
        </div>
            </td>
         </tr>
         <tr>
            <td>
                  <div class="editor-label">
           <label>ACN</label>
        </div>
            </td>
             <td>
                    <div class="editor-field">
                 <input type="text" name="ACN" id="ACN" value="@Model.ACN" />
        </div>
            </td>
            <td>
                 
        <div class="editor-label">
           <label>ABN</label>
        </div>
            </td>
             <td>
                 
        <div class="editor-field">
            <input type="text" name="ABN" id="ABN" value="@Model.ABN" />
        </div>
            </td>
         </tr>
        <tr>
            <td>
                <div class="editor-label">
                    <label>Merchant Id</label>
                </div>
            </td>
            <td>
                <div class="editor-field">
                    <input type="text" name="Merchant" id="Merchant" value="@Model.MemberId" />
                </div>
            </td>
        </tr>
    </table>
</div><br />
    
    <div id="RentalDetailsBar" onmouseover="enter(this)" onmouseout="leave(this)" style="height:25px; background-color: grey; font-size:medium; color:white"> Add Terminal Rental</div>
<div id="RentalDetails">
    <table style="width:100%">
        <tr>
            <td>
                <div class="editor-label">
                    <label id="RentFreelbl">Rent Free</label>
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.RentalRentFree, new { id = "RentFree" })
                </div>
            </td>
            @*<td>
                <div class="editor-label">
                    <label id="RentFreeMsg">Rent Free Enabled</label>
                </div>
            </td>*@
        </tr>
        <tr>
            <td>

                <div class="editor-label">
                    <label>Start Date</label>
                </div>
            </td>
            <td>

                <div class="editor-field">
                    <input type="date" name="StartDate" id="StartDate" value="@Model.RentalStartDateString" />
                </div>
            </td>
            <td>

                <div class="editor-label">
                    <label>End Date</label>
                </div>
            </td>
            <td>

                <div class="editor-field">
                    <input type="date" name="EndDate" id="EndDate" value="@Model.RentalEndDate" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    <label id="MonthlyRentallbl">Monthly Rental</label>
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.RentalMemberRentalTemplateKey, (IEnumerable<SelectListItem>)ViewBag.MemberRentalTemplateList, new { id = "MonthlyRental" })


                    @*<select style="width: 310px;height:30px" id="MonthlyRental" name="MonthlyRental" ></select>*@
                </div>
            </td>
            
        </tr>
    </table>

    @if(@Model.TerminalRentalRateList != null)
    {
         <table id="TerminalRentalRateTbSF">
            <thead>
                <tr><th>Terminal Rental Rate_key
                    </th><th></th><th>Transaction Target</th>
                    <th></th><th>Rent Amount</th></tr></thead>
             @foreach(var mm in @Model.TerminalRentalRateList)
             {
             <tr><td>@mm.TerminalRentalRate_key</td><td></td>
                 <td>@mm.TransactionTarget</td><td></td>
                 <td>@mm.RentAmount</td></tr>}
         </table>
        
    }
   
         <table id="TerminalRentalRateTb"></table>
  

</div><br />

<div id="CommissionRateBar" onmouseover="enter(this)" onmouseout="leave(this)" style="height:25px; background-color: grey; font-size:medium; color:white"> Add Commission Rate/MSF</div>
   
    <div id="CommissionRate">
    <table style="width:100%">
         <tr>
             <td>
                  <div class="editor-label">
           <label>Debit Rate Percentage (%)</label>
        </div>
            </td>
             <td>
                  <div class="editor-field">
                      <input type="text" name="DebitRatePercentage" id="DebitRatePercentage" value="@Model.CRDebitRatePercentage" />
        </div>
            </td>
             <td>
                 <div class="editor-label">
                     <label>Manual Voucher Rate</label>
                 </div>
             </td>
             <td>

                 <div class="editor-field">
                     <input type="text" name="MannualVoucherRate" id="MannualVoucherRate" />
                 </div>
             </td>
         </tr>
         <tr>
             <td>
        <div class="editor-label">
           <label>Dealer Rate</label>
        </div>
            </td>
             <td>
                 
        <div class="editor-field">
            <input type="text" name="DealerRate" id="DealerRate" />
        </div>
            </td>
             
         </tr>
    </table>
</div>
    <div id="MSFBar" onmouseover="enter(this)" onmouseout="leave(this)" style="height:25px; background-color: grey; font-size:medium; color:white"> Add Commission Rate/MSF</div>
    <div id="MSFMessgae"><span style="color:green; font-weight:700"><i>(Please Enter Postive values as it will be saved as negative for LiveEftpos customers)</i></span></div>
    <div id="MSF">
    <table style="width:100%">
        <tr id="CRBeditRateId">
            <td>

                <div class="editor-label">
                    <label>Debit Rate ($)</label>
                </div>
            </td>
            <td>

                <div class="editor-field">
                    <input type="text" name="DebitRate" id="DebitRate" value="@Model.CRDebitRate" />
                </div>
            </td>
        </tr>
         <tr>
             <td>
                  <div class="editor-label">
           <label>Master Card Rate (%)</label>
        </div>
            </td>
             <td>
                  <div class="editor-field">
                      <input type="text" name="MasterCardRate" id="MasterCardRate" value="@Model.CRMasterCardRate" />
        </div>
            </td>
             <td>
                 
        <div class="editor-label">
           <label>Visa Card Rate (%)</label>
        </div>
            </td>
             <td>
        <div class="editor-field">
            <input type="text" name="VisaCardRate" id="VisaCardRate" value="@Model.CRVisaRate" />
        </div>
            </td>
         </tr>
         <tr>
            <td>
                  <div class="editor-label">
           <label>Amex Rate (%)</label>
        </div>
            </td>
             <td>
                    <div class="editor-field">
                        <input type="text" name="AmexCardRate" id="AmexCardRate" value="@Model.CRAmexRate" />
        </div>
            </td>
             <td>
                            <div class="editor-label">
           <label>Diners Rate (%)</label>
        </div>
            </td>
             <td>
                 
        <div class="editor-field">
            <input type="text" name="DinersCardRate" id="DinersCardRate" value="@Model.CRDinersRate" />
        </div>
             </td>
                </tr>
    </table>
</div><br /><br />
      
        <p>
            <input type="submit" value="Add" />
              <input type="reset" value="Reset"  />
       
      <span style="float:right; cursor:pointer" id="uncllopseall">

             @Ajax.ActionLink("Add Address", "CreateMemberAddress", new { }, 
              new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess= "openDialog" }, new { Class = "" }) |

             @Ajax.ActionLink("Add Account", "CreateMemberAccount", new { }, 
              new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess= "openDialog" }, new { Class = "" }) |

              @*@Ajax.ActionLink("Add Rental", "CreateMemberRental", new { }, 
              new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess= "openDialog" }, new { Class = "" }) |*@
      
                @Ajax.ActionLink("Allocate Terminal", "CreateAllocateMemberTerminal", new { },
              new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "" }) 

        </span> </p>
}
@section scripts {
    <script type="text/javascript">
       
        $.ajax({
            url: '@Url.Action("GetSearchFields", "AjaxAdmin")',
            type: "GET",
            dataType: "json",
            success: function (data) {
               $.each(data, function (i, item) {
                   $("#effectTypes").append(
                            $("<option></option>").val(item.SearchField).html(item.SearchKey)
                        );
                });
            }
        });
    </script>
}