﻿@model PhoenixObjects.Member.TerminalAllocationModel

@{
    ViewBag.Title = "Allocate Terminal";
    Layout = "~/Views/Shared/_TerminalPopupLayout.cshtml";
    ViewBag.Action = "CreateAllocateMemberTerminal";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#SaleReps").autocomplete({
            source: '@Url.Action("AutoCompleteEmployee")'
        });
    });

    $(document).ready(function () {
        $("#EftTerminal_key").autocomplete({
            source: '@Url.Action("AutoCompleteEftTerminalId")'
        });
    });

</script>
<h3>Allocate Terminal</h3>
<i style="color:red">@ViewBag.Error</i>
      <table>
          <tr>
              <td>
                  <div class="editor-label">
                      <label>Business ID</label>
                  </div>
              </td>
              <td>
                  <div class="editor-field">
                      <input type="text" name="VehicleId" required id="VehicleId" @*value="@Model.VehicleModel.VehicleId"*@ />
                  </div>
              </td>
              <td>

                  <div class="editor-label">
                     <label>Business Type</label>
                  </div>
              </td>
              <td>
                 <div class="editor-field">
                     @Html.DropDownListFor(model => model.VehicleModel.VehicleType_key, (IEnumerable<SelectListItem>)ViewBag.VehicleTypeList, new { id = "VehicleType", width = "200px", height = "30px" })


                     @*<select style="width: 310px;height:30px" id="VehicleType" name="VehicleType" ></select>*@
                  </div>
              </td>
           
          </tr>
          <tr>
              <td>
                  <div class="editor-label">
                      <label>Business State</label>
                  </div>
              </td>
              <td>
                  <div class="editor-field">
                      @Html.DropDownListFor(model => model.State_key, (IEnumerable<SelectListItem>)ViewBag.StateList, new { id = "State", width = "200px", height = "30px" })

                      @*<select style="width: 310px;height:30px" id="State" name="State">   </select>*@
                   
                  </div>
              </td>
              <td>

                  <div class="editor-label">
                      <label>Terminal ID</label>
                  </div>
              </td>
              <td>
                  <div class="editor-field">
                      <input type="text" name="EftTerminal_key" required id="EftTerminal_key" @*value="@Model.EftTerminal_key"*@ />
                  </div>
              </td>
          </tr>
          <tr>
              <td>
                  <div class="editor-label">
                      <label>Terminal Allocation Date</label>
                  </div>
              </td>
              <td>
                  <div class="editor-field">
                      <input type="date" name="TerminalAllocationDate" required id="TerminalAllocationDate" value="@Model.EffectiveDateString" />
                  </div>
              </td>
              <td>
                  <div class="editor-label">
                      <label>Sale Reps</label>
                  </div>
              </td>
              <td>
                  <div class="editor-field">
                      <input type="text" name="SaleReps" placeholder="type name and select" id="SaleReps"/>

                  </div>
              </td>
          </tr>
           <tr>
              <td>
                  <div class="editor-label">
                      <label>Default Service Fee</label>
                  </div>
              </td>
              <td>
                  <div class="editor-field">
                      @Html.EditorFor(model => model.ServiceFee)
                      @Html.ValidationMessageFor(model => model.ServiceFee)
                  </div>
              </td>
              <td>
                  <div class="editor-label">
                      <label>Allow MOTO</label>
                  </div>
              </td>
              <td>
                  <div class="editor-field">
                        @Html.EditorFor(model => model.AllowMOTO)
                      @Html.ValidationMessageFor(model => model.AllowMOTO)
                  </div>
              </td>
          </tr>
           <tr>
              <td>
                  <div class="editor-label">
                      <label>Allow Refund</label>
                  </div>
              </td>
              <td>
                  <div class="editor-field">
                        @Html.EditorFor(model => model.AllowRefund)
                      @Html.ValidationMessageFor(model => model.AllowRefund)
                  </div>
              </td>
               <td>
                   <div class="editor-label">
                       <label>Delivery Required</label>
                   </div>
               </td>
               <td>
                   <div class="editor-field">
                       @Html.EditorFor(model => model.DeliveryRequired)
                       @Html.ValidationMessageFor(model => model.DeliveryRequired)
                   </div>
               </td>
           
          </tr>
      </table>
        <p>

        </p>
 @if(Model.TerminalAllocationList != null)
    {
<hr />
<table>
   
    @if (Model.TerminalAllocationList != null && Model.TerminalAllocationList.Count() > 0)
    {
        
        <thead style="font-weight:300">
           Current Allocation List 
        </thead>
          <tr>
                <td>
                  <label>Business ID</label>
                </td>
              <td>
                  <label>Business Type</label>
              </td>
                <td>
                    <label>Registered State</label>
                </td>
                <td>
                    <label>Terminal Id </label>
                </td>
                <td>
                    <label>Effective Date</label>
                </td>
                @*<td>
                    <label>Allow Moto</label>
                </td>
              <td>
                  <label>Allow Refund</label>
              </td>*@
            </tr>
        foreach (var item in Model.TerminalAllocationList)
        {
            <tr>
               
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleModel.VehicleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleModel.VehicleType_key)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleModel.RegisteredState)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.EftTerminalId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EffectiveDate)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.AllowMOTO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AllowRefund)
                </td>*@
                <td></td>
               
            </tr>
        }
    }
    
</table>
 }
<br />

@section scripts {
    <script type="text/javascript">

        $("#dialog").dialog({
            width: "1000"
        });

     
        @*$.ajax({
            url: '@Url.Action("GetStates", "AjaxAdmin")',
            type: "GET",
            dataType: "json",
            success: function (data) {
                $.each(data, function (i, item) {
                    $("#State").append(
                            $("<option></option>").val(item.StateName).html(item.StateName)
                        );
                });

            },
            error: function () {
                alert("Error!");
            }
       
        });*@

     
    </script>
}
@*<script type="javascript">
                    $(document).ready(function () {
                        $("#countryid").change(function () {
                            // this will call when Country Dropdown select change
                            var countryid = parseInt($("#cointryid").val());
                            if (!isNaN(countryid)) {
                                var ddState = $("#stateid");
                                ddState.empty(); // this line is for clear all items from State dropdown
                                ddState.append($("<option></option").val("").html("Select State"));

                                // Here I will call Controller Action via Jquery to load State for selected Country
                                $.ajax({
                                    url: "@Url.Action("GetStates", "Feedback")",
                                    type: "GET",
                                    data: { countryid: countryid },
                                    dataType: "json",
                                    success: function (data) {
                                        $.each(data, function (i, item) {
                                            ddState.append(
                                                    $("<option></option>").val(item.stateid).html(item.statename)
                                                );
                                        });
                                    },
                                    error: function () {
                                        alert("Error!");
                                    }
                                });
                            }
                        });
                    });
</script>*@