﻿@model PhoenixObjects.Member.BankAccountModelList

@{
    ViewBag.Title = "Add Account";
    ViewBag.Action = "CreateMemberAccount";
    Layout = "~/Views/Shared/_AccountPopupLayout.cshtml";
}

  
<h3>Add Account</h3>
<i style="color:red">@ViewBag.Error</i>
    <table>
    <tr>
        <td>
            <div class="editor-label">
                <label>Account Name</label>
            </div>
        </td>
        <td>
            <div class="editor-field">
                <input type="text" name="AccountName" required id="AccountName" />
            </div>
        </td>
        <td>

            <div class="editor-label">
                <label>Weight</label>
            </div>
        </td>
        <td>

            <div class="editor-field">
                <input type="text" name="Weight" required placeholder="0 - 100%" id="Weight" />
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="editor-label">
                <label>Bsb No.</label>
            </div>
        </td>
        <td>

            <div class="editor-field">
                <input type="text" placeholder="###-###" name="BsbNumber" id="BsbNumber" maxlength="7" required />
            </div>
        </td>
        <td>
            <div class="editor-label">
                <label>Account Number</label>
            </div>
        </td>
        <td>
            <div class="editor-field">
                <input type="number" required name="AccountNumber" id="AccountNumber" />

            </div>
        </td>
    </tr>

</table>
    @if(Model.BAccounttModelList != null)
    {
        <hr />
<table>
    @if (Model.BAccounttModelList != null && Model.BAccounttModelList.Count() > 0)
    {
        <thead style="font-weight:300">
           Current Account List 
        </thead>
          <tr>
              <td>
                  <label>TempId</label>
              </td>
                <td>
                    <label>Account Name</label>
                </td>
                <td>
                    <label>Account Number</label>
                </td>

                <td>
                    <label>BSB</label>
                </td>
                <td>
                    <label>Weight</label>
                </td>
            </tr>
        foreach (var item in Model.BAccounttModelList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.BSB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Ajax.ActionLink("Delete", "DeleteCreateMemberAccount", new { Id = item.Id },
              new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "" }) 


                </td>
            </tr>
        }
        }
    
</table>
    }
<br />
@section scripts {
    <script type="text/javascript">

    $("#dialog").dialog({
        width: "980"
    });

    </script>
}