﻿@model PhoenixObjects.Common.CAddressList

@{
    ViewBag.Title = "Add Address";
    Layout = "~/Views/Shared/_AddressPopupLayout.cshtml";
    ViewBag.Action = "CreateMemberAddress";
}

<script type="text/javascript">
        $(document).ready(function () {
            $("#PostCode").autocomplete({
                    source: '@Url.Action("AutoCompletePostCode")'

                });
        });

</script>
<h3>Add Member Address</h3>
      <table>
          <tr>
              <td>
                  <div class="editor-label">
                      @Html.LabelFor(model => model.StreetNumber)
                  </div>
              </td>
              <td>
                  <div class="editor-field">
                      <input type="text" name="StreetNumber" autocomplete="off" required id="StreetNumber" value="@Model.StreetNumber"/>
                  </div>
              </td>
              <td>

                  <div class="editor-label">
                      @Html.LabelFor(model => model.StreetName)
                  </div>
              </td>
              <td>
                  <div class="editor-field">
                      <input type="text" name="StreetName" autocomplete="off" required id="StreetName" value="@Model.StreetName" />
                  </div>
              </td>
           
          </tr>
          <tr>
              <td>
                  <div class="editor-label">
                      <label>Country</label>
                  </div>
              </td>
              <td>
                  <div class="editor-field">
                      <select style="width: 310px;height:30px" id="Country" name="Country">
                          <option value="1">Australia</option>
                      </select>
                  </div>
              </td>
              <td>

                  <div class="editor-label">
                      <label>Post Code</label>
                  </div>
              </td>
              <td>
                  <div class="editor-field">
                      <input type="text" name="PostCode" required id="PostCode"/>
                  </div>
              </td>
          </tr>
          <tr>
              <td>
                  <div class="editor-label">
                      <label>Address Type</label>
                  </div>
              </td>
              <td>
                  <div class="editor-field">
                      <select style="width: 310px;height:30px" id="AddressType" name="AddressType">
                          <option value="Primary">Primary Address</option>  
                          <option value="Mailing">Mailing Address</option>                         
                      </select>
                      
                  </div>
              </td>
          </tr>
      </table>
        <p>

        </p>
 @if(Model.CAddresses != null)
    {
<hr />
<table>
   
    @if (Model.CAddresses != null && Model.CAddresses.Count() >0)
    {
        <thead style="font-weight:300">
           Current Address List 
        </thead>
          <tr>
              <td>
                  <label>TempId</label>
              </td>
                <td>
                  <label>Street Number</label>
                </td>
                <td>
                    <label>Street Name</label>
                </td>
                <td>
                    <label>Suburb </label>
                </td>

                <td>
                    <label>State</label>
                </td>
                <td>
                    <label>Post Code</label>
                </td>
              
            </tr>
        foreach (var item in Model.CAddresses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StreetNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StreetName)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.Suburb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostCode)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.AddressType)
                </td>
                <td>
                    @*@Html.ActionLink("Delete","DeleteCreatedAddress", new { Id = item.Id })*@


                    @Ajax.ActionLink("Delete", "DeleteCreatedAddress", new { Id = item.Id },
              new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "" }) 


                </td>
               
            </tr>
        }
    }
    
</table>
 }
<br />

@section scripts {
    <script type="text/javascript">

        $("#dialog").dialog({
            width: "980"
        });

    </script>
}