﻿@model PhoenixObjects.Member.MemberModel

@{
    ViewBag.Title = "Details";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Layout = "~/Views/Shared/DetailPopup.cshtml";
    ViewBag.Action = "CreateAllocateMemberTerminal";
}

<h2>Member Details</h2>
<img alt="" src="@Url.Action("GetPhoto", "Member", new {memberkey = @Model.Member_key })" height="100" width="180" class="photo" />
<table width="100%">
    <tr>
        <td>
            <div class="display-label-tb">
                <label class="display-label-tb">Company Key</label>
                @*@Html.DisplayNameFor(model => model.CompanyKey)*@
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.CompanyKey)
            </div>
        </td>
        <td>
            <div class="display-label-tb">
                <label class="display-label-tb">Business Name</label>
            </div>
          
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.BusinesstypeName)
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="display-label-tb">
                <label class="display-label-tb">Member Key</label>
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Member_key)
            </div>
        </td>
        <td>
            <div class="display-label-tb">
                @Html.DisplayNameFor(model => model.MemberId)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.MemberId)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label-tb">
                <label class="display-label-tb">Dealer Key</label>
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.DealerKey)
            </div>
        </td>
    </tr>
    <tr>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label-tb">
                @Html.DisplayNameFor(model => model.FirstName)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.FirstName)
            </div>
        </td>
        <td>
            <div class="display-label-tb">
                @Html.DisplayNameFor(model => model.LastName)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.LastName)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label-tb">
                @Html.DisplayNameFor(model => model.Telephone)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Telephone)
            </div>
        </td>
        <td>
            <div class="display-label-tb">
                @Html.DisplayNameFor(model => model.Fax)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Fax)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label-tb">
                @Html.DisplayNameFor(model => model.Email)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Email)
            </div>
        </td>
        <td>
            <div class="display-label-tb">
                @Html.DisplayNameFor(model => model.Mobile)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Mobile)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label-tb">
                <label class="display-label-tb">PhotoID Expiry</label>
            </div>
           
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.PhotoIDExpiryString)
            </div>

        </td>
        <td>
            <div class="display-label-tb">
                <label class="display-label-tb">Date of Birth</label>
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.DOBstring)
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td>
            <div class="display-label-tb">
                @Html.DisplayNameFor(model => model.TradingName)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.TradingName)
            </div>
        </td>
        <td>
            <div class="display-label-tb">
                @Html.DisplayNameFor(model => model.ABN)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.ABN)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label-tb">
                @Html.DisplayNameFor(model => model.ACN)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.ACN)
            </div>
        </td>
        <td>
            <div class="display-label-tb">
                @Html.DisplayNameFor(model => model.DriverLicenseNumber)
            </div>
        </td>
        <td>

            <div class="display-field">
                @Html.DisplayFor(model => model.DriverLicenseNumber)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label-tb">
                @Html.DisplayNameFor(model => model.IsOperator)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.IsOperator)
            </div>
        </td>
        <td>

            <div class="display-label-tb">
                @Html.DisplayNameFor(model => model.IsDealer)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.IsDealer)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label-tb">
                @Html.DisplayNameFor(model => model.IsFlatCommissionRate)
            </div>
           
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.IsFlatCommissionRate)
            </div>
        </td>
        <td>
            <div class="display-label-tb">
                @Html.DisplayNameFor(model => model.IsBankCustomer)
            </div>
           
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.IsBankCustomer)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label-tb">
                @Html.DisplayNameFor(model => model.Welcomed)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Welcomed)
            </div>
        </td>
        <td>
            <div class="display-label-tb">
                @Html.DisplayNameFor(model => model.Active)
            </div>
        </td>
        <td>

            <div class="display-field">
                @Html.DisplayFor(model => model.Active)
            </div>
        </td>
    </tr>
    <tr>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label-tb">
                @Html.DisplayNameFor(model => model.Address)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Address)
            </div>
        </td>
        <td>
            <div class="display-label-tb">
                @Html.DisplayNameFor(model => model.City)
            </div>
        </td>
        <td>

            <div class="display-field">
                @Html.DisplayFor(model => model.City)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label-tb">
                @Html.DisplayNameFor(model => model.State)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.State)
            </div>
        </td>
        <td>

            <div class="display-label-tb">
                @Html.DisplayNameFor(model => model.Postcode)
            </div>
        </td>
        <td>

            <div class="display-field">
                @Html.DisplayFor(model => model.Postcode)
            </div>
        </td>
    </tr>
        
    <tr>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label-tb">
                <label class="display-label-tb">Debit Rate</label>
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.CRDebitRate)
            </div>
        </td>
        <td>
            <div class="display-label-tb">
                <label class="display-label-tb">Debit Rate %</label>
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.CRDebitRatePercentage)
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="display-label-tb">
                <label class="display-label-tb">Visa Rate</label>
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.CRVisaRate)
            </div>
        </td>
        <td>
            <div class="display-label-tb">
                <label class="display-label-tb">MasterCard Rate</label>
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.CRMasterCardRate)
            </div>
        </td>
    </tr>
        <tr>
        <td>
            <div class="display-label-tb">
                <label class="display-label-tb">Amex Rate</label>
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.CRAmexRate)
            </div>
        </td>
        <td>
            <div class="display-label-tb">
                <label class="display-label-tb">Dinners Rate</label>
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.CRDinersRate)
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="display-label-tb">
                <label class="display-label-tb">Dealer Rate</label>
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.CRDealerRate)
            </div>
        </td>
        <td>
            <div class="display-label-tb">
                <label class="display-label-tb">Manual Voucher Rate</label>
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.CRManualVoucherRate)
            </div>
        </td>
    </tr>
    </table>
         <table>
             <tr>
                 <td>
                     <div class="display-label">
                         @Html.DisplayNameFor(model => model.Modified_dttm)
                     </div>
                 </td>
                 <td>
                     <div class="display-field">
                         @Html.DisplayFor(model => model.Modified_dttm)
                     </div>
                 </td>
             </tr>
             <tr>
                 <td>
                     <div class="display-label">
                         @Html.DisplayNameFor(model => model.ModifiedByUser)
                     </div>
                 </td>
                 <td>
                     <div class="display-field">
                         @Html.DisplayFor(model => model.ModifiedByUser)
                     </div>
                 </td>
             </tr>
         </table>




@section scripts {
    <script type="text/javascript">

        $("#dialog").dialog({
            width: "950"
        });
     </script>
}