﻿@model IEnumerable<PhoenixObjects.Member.MemberModel>

@{
    ViewBag.Title = "List";
  //  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Member List</h2>

<table>
    <tr>
         <th>
            @Html.DisplayNameFor(model => model.Member_key)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
         <td>
            @Html.DisplayFor(modelItem => item.Member_key)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Member_key }) |
            @Html.ActionLink("Address", "AddMemberAddress", new { id = item.Member_key }) |
            @Html.ActionLink("Details", "Details", new { id = item.Member_key }) |
        </td>
    </tr>
}

</table>
