﻿@{
    ViewBag.Title = "Menu";
  //  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*<script type="text/javascript">
     $(document).ready(function () {
         $("#CreateMember").hover(
         function () {
             $(this).attr("src", "~/Images/AddMemeber_hover.png");
             $(this).css('cursor', 'pointer');
         },
         function () {
             $(this).attr("src", "~/Images/AddMemeber.png");
             $(this).css('cursor', 'default');
         });
       
     });

     </script>*@

@*<h2 style="text-align:center">Member Menu</h2><br />*@
<table cellpadding:"5" align="center" width="70%">
    <tr>
        <td>
            <a href="@Url.Action("Create", "Member")"><img id="CreateMember" src="~/Images/AddMemeber.png" width:"50px" height:"30px"/></a>
        </td>
         <td>
            <a href="@Url.Action("Search", "Member")"><img src="~/Images/SearchMember.png" width:"50px" height:"30px"/></a>
        </td>
         <td>
            <a href="@Url.Action("SalesforceSearch", "Member")"><img src="~/Images/searchforce.png" width:"50px" height:"30px"/></a>
        </td>
              
    </tr>
</table>