﻿@model IEnumerable<Phoenix_BusLog.Salesforce.SAccount>

@{
    ViewBag.Title = "SalesforceSearch";
 //   Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Salesforce Search</h2>
<h3>Search an Account in Salesforce and add to Phoenix</h3>
@using (Html.BeginForm())
{
<table >
    <tr>
        <td>
            <div class="editor-field">
                <select style="width:200px; height:30px" name="Type" id="Type">
                    <option value="1">Name</option>
                    <option value="2">Phone</option>
                </select>
            </div>
        </td>
        <td>
            <div class="editor-field">
                <input type="text" required name="Name" id="Name" />
            </div>
        </td>
        <td>
            <input class="submitbutton" type="submit" value="Search" />
        </td>
    </tr>
    </table>
}

@if (Model != null && Model.Count() > 0)
    {
     <table>
         <thead>
             <tr>
                 <th>
                     <label style="font-weight:700">Name</label>
                 </th>
                 <th>
                     <b><label></label></b>
                 </th>
                 <th>
                     <label style="font-weight:700">Contact Name</label>
                 </th>
                 <th>
                     <b><label></label></b>
                 </th>
                 <th>
                     <label style="font-weight:700">Add to Phoenix</label>
                 </th>
             </tr>
         </thead>
             @foreach (var item in Model)
             {
                 <tr>
                     <td>
                         @Html.DisplayFor(modelItem => item.Name)
                     </td>
                     <td></td>
                     <td>
                         @Html.DisplayFor(modelItem => item.Phone)
                     </td>
                     <td></td>

                     <td>
                         @Html.ActionLink("Add", "SalesforceAddMemeber", new { id = item.Id })
                     </td>
                 </tr>
             }
</table>
}

@section scripts {
    <script type="text/javascript">
        $.ajax({
            url: '@Url.Action("GetSFName", "Member")',
            type: "GET",
            dataType: "json",
            success: function (data) {
               $.each(data, function (i, item) {
                   $("#effectTypes").append(
                            $("<option></option>").val(item.SearchField).html(item.SearchKey)
                        );
                });
            }
        });
    </script>
}

