﻿@model PhoenixObjects.Member.MemberSearchModel

@{
    ViewBag.Title = "Search";
 //   Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .toggler {
        width: 500px;
        height: 200px;
    }

    #button {
        padding: .5em 1em;
        text-decoration: none;
    }

    #effect {
        position: relative;
        width: 240px;
        height: 135px;
        padding: 0.4em;
    }

        #effect h3 {
            margin: 0;
            padding: 0.4em;
            text-align: center;
        }
</style>
<script>
    $(function () {
        // run the currently selected effect
        function runEffect() {
            // get effect type from
            var selectedEffect = $("#effectTypes").val();

            // most effect types need no options passed by default
            var options = {};
            // some effects have required parameters
            if (selectedEffect === "scale") {
                options = { percent: 0 };
            } else if (selectedEffect === "size") {
                options = { to: { width: 200, height: 60 } };
            }

            // run the effect
            $("#effect").toggle(selectedEffect, options, 500);
        };

        // set effect from select menu value
        $("#button").click(function () {
            runEffect();
            return false;
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#SearchKey1").click(function () {
            $("#Search1").toggle();
        });
    });
    $(document).ready(function () {
        $("#effectTypes").click(function () {
            var val2 = $("#effectTypes").val();
            $("#Search1").hide();
            $("#SearchKey1label").val(val2);
           
        });
    });
     
    $(function () {
        $("#Search1").hide();
    });

</script>
<h2>Search Member</h2>
<h3>Phoenix Search</h3><br />
@Html.ValidationMessage("error")

@using (Html.BeginForm())
{
    <div class="editor-field-medium">
        <input type="text" style="background-color:transparent; width:180px" readonly="readonly" name="SearchKey1label" id="SearchKey1label" />
        <input type="text" name="SearchKey1" id="SearchKey1" placeholder="Search key" />

        @*@Html..DropDownListFor(model => model.SearchFieldMetadata, IEnumerable<model.SearchFieldMetadata>, new { id = "SearchFieldMetadata", name = "effect" })*@

      

            <input class="submitbutton" type="submit" name="Command" value="AddSearch" />
            <input class="submitbutton" type="submit" name="Command" value="Search" />
            <br />
            <div id="Search1" style="margin-left:200px; position:absolute; box-shadow:2px 2px 4px 1px">
                <select id="effectTypes" name="effects" size="10"></select>
            </div>
            @Html.ValidationMessage("error")

</div>
}

@if (Model != null)
{ 
    if (Model.SearchList != null)
    {
        <table>
            <tr>
                <td>
                    <label>Search Key</label>
                </td>
                <td>
                    <label>Key Type</label>
                </td>
            </tr>
            @foreach (var item in Model.SearchList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SearchField)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SearchKey)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "DeleteSearchKey", new { key = item.SearchField }) 
                    </td>
                </tr>
            }
        </table>
    }
}
@if (Model != null)
{
    if (Model.Members != null)
    {
    <table>
        <tr>
            <td>
                <label style="font-weight:700">Member Id</label>
            </td>
            <td>
                <label style="font-weight:700">First Name</label>
            </td>
            <td>
                <label style="font-weight:700">Last Name</label>
            </td>
            <td>
                <label style="font-weight:700">Email Address</label>
            </td>
            <td></td>
        </tr>

        @foreach (var item in Model.Members)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { member_key = item.Member_key }) |
                    @*@Html.ActionLink("Address", "AddMemberAddress", new { id = item.Member_key }) |
                    @Html.ActionLink("Account", "AddMemberAccount", new { id = item.Member_key }) |*@
                    @Html.ActionLink("Clone", "CloneMember", new { id = item.Member_key }) |

                    @Ajax.ActionLink("Details", "Details", new { member_key = @item.Member_key },
                     new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "" }) 

                                        
                 
                </td>
            </tr>
        }
    </table>
    }
}


@section scripts {
    <script type="text/javascript">
        $.ajax({
            url: '@Url.Action("GetSearchFields", "AjaxAdmin")',
            type: "GET",
            dataType: "json",
            success: function (data) {
               $.each(data, function (i, item) {
                   $("#effectTypes").append(
                            $("<option></option>").val(item.SearchField).html(item.SearchKey)
                        );
                });
            }
        });
     </script>
}