﻿@model PhoenixObjects.Member.MemberModel

@{
    ViewBag.Title = "Edit";
}
@*@using (Html.BeginForm("Edit", "Member", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{*@
   
    @*@Html.ValidationSummary(true)
    @Html.ValidationMessage("error", new { style="color:red"})*@
  
        <h3 class="page-title">
            Operator Details
            <small>view operator details</small>
        </h3>
    <input type="hidden" id="CompanyKey" value=@Model.CompanyKey>
    @Html.HiddenFor(model => model.PrimaryAddressKey)
    @Html.HiddenFor(model => model.MailingAddressKey)
    @Html.HiddenFor(model => model.State)
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-adjust"></i>
                    Member
                </div>
                <div class="tools">
                    @*@Html.ActionLink("Daily Summary Report", "Reports", null, new { Class = "btn green btn-sm" })*@
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="horizontal-form">
                    <div class="form-body">
                        <span style="float:right;font-size:small">
                            @Html.ActionLink("View Payment Details", "OperatorPayments", new { Operator = @Model.Member_key }, new { Class = "btn green btn-sm" })
                        </span>
                        <h4 id="1" class="form-section">
                            Operator Info
                          
                        </h4>                      
                 

                        <input id="Member_key" name="Member_key" hidden="hidden" type="text" value="@Model.Member_key" />
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Active", new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.Active, new { @class = "form-control", id = "Active" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.Active)
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("OperatorId", new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.MemberId, new { @class = "form-control", id = "MemberId" })

                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.MemberId)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Business Type", new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                      
                                        @Html.DisplayFor(model => model.BusinesstypeName, new { id = "BusinessType", @class = "form-control" })


                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Payment Type", new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.PaymentType, new { id = "PaymentType", @class = "form-control" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.IsBankCustomer)
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>             
                      
                        <h4 id="2" class="form-section">Personal Info</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FirstName, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.FirstName, new { @class = "form-control", id = "FirstName" })
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.LastName, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.LastName, new { @class = "form-control", id = "LastName" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.LastName)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Telephone, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.Telephone, new { @class = "form-control", id = "Telephone" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.Telephone)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                           
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Fax, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.Fax, new { @class = "form-control", id = "Fax" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.Fax)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Mobile, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.Mobile, new { @class = "form-control", id = "Mobile" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.Mobile)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.Email, new { @class = "form-control", id = "Email" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.Email)
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                      
                        <div class="row">
                           
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DriverLicenseNumber, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.DriverLicenseNumber, new { @class = "form-control", id = "DriverLicenseNumber" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.DriverLicenseNumber)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DOB, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.DOBstring, new { @class = "form-control", id = "DOBstring" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.DOB)
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">                           
                           
                            <div id="DriverAuthId" class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DriverAuth, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.DriverAuth, new { @class = "form-control", id = "DriverAuth", maxLength = "24" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.DriverAuth)
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4 class="form-section">Primary Address
                            <small style="color:green">@Model.PrimaryAddressDesc</small>   
                          
                        </h4>
                                      
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Street No", new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                         @Html.DisplayFor(model => model.PrimaryAddress.StreetNumber, new { @class = "form-control"})
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Street Name", new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                           @Html.DisplayFor(model => model.PrimaryAddress.StreetName, new { @class = "form-control" })
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Post Code", new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                         @Html.DisplayFor(model => model.PrimaryAddress.Suburb.PostCode, new { @class = "form-control" })
                                        <span class="help-block">

                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4 class="form-section">
                            Mailing Address
                            &nbsp;  <input type="checkbox" id="SamePrimaryAdd" /><span style="font-size:smaller">Same as primary address</span>
                        </h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Street No", new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                           @Html.DisplayFor(model => model.MailingAddress.StreetNumber, new { @class = "form-control" })
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Street Name", new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                       
                                        @Html.DisplayFor(model => model.MailingAddress.StreetName, new { @class = "form-control" })
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Post Code", new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">                                    
                                        @Html.DisplayFor(model => model.MailingAddress.Suburb.PostCode, new { @class = "form-control" })
                                        <span class="help-block">

                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <h4 class="form-section">Business Details</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TradingName, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.TradingName, new { @class = "form-control", id = "TradingName" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.TradingName)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Dealer, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.Dealer.Dealer_key, new { @class = "form-control", id = "Dealer" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.Dealer)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ABN, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.ABN, new { @class = "form-control", id = "ABN" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.ABN)
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                           
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ACN, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.ACN, new { @class = "form-control", id = "ACN" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.ACN)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MerchantID, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.MerchantID, new { @class = "form-control", id = "MerchantID" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.MerchantID)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            @*<div id="MCCId" class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MCC, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.MCC, new { @class = "form-control", id = "MCC", maxLength = "4" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.MCC)
                                        </span>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                        @*<div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Ave Transaction", new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.AverageTransaction, new { @class = "form-control", id = "AvgTransaction", Type = "Number", min = "0.00", step = "0.01", maxLength = "10" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.AverageTransaction)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Ave Turnover", new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.AverageTurnover, new { @class = "form-control", id = "AvgTurnover", Type = "Number", min = "0.00", step = "0.01", maxLength = "10" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.AverageTurnover)
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>*@                     

                        @if (Model.BankAccounts != null && Model.BankAccounts.Count() > 0)
                        {
                            <h4 class="form-section">
                                Bank Account(s)
                                <span style="float:right;font-size:small">
                                    @Ajax.ActionLink("Add Account", "AddMemberAccount", new { id = @Model.Member_key },
                                  new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "" })

                                </span>
                            </h4>
                            <div class="portlet light bordered">
                                <div class="table-scrollable">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Account Key
                                                </th>
                                                <th>
                                                    Account Name
                                                </th>
                                                <th>
                                                    Account Number
                                                </th>
                                                <th>
                                                    BSB
                                                </th>
                                                <th>
                                                    Weight
                                                </th>
                                                <th>
                                                    Edit Account
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.BankAccounts)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.AccountKey)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.AccountName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.AccountNumber)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.BSB)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Weight)
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                @*</div>*@
                            </div>
                    }

                     
                        <br />
                     
                        @*<h4 class="form-section">
                            Current Rental Structure
                         
                        </h4>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <table id="TerminalRentalRateTb"></table>
                                        @if (@Model.TerminalRentalRateList != null)
{
                                            <table id="TerminalRentalRateTbSF">

                                                <tbody>
                                                    @foreach (var mm in @Model.MemberCurrentTerminalRentalList)
            {
                                                        <tr>
                                                            @if (@mm.EndDate == null)
                    {
                                                                <td>
                                                                    Rental Amount $@mm.RentalAmount for Turnover more than $@mm.TransactionTarget starting from @mm.StartDate
                                                                </td>
                    }
                    else
                    {
                                                                <td>
                                                                    Rental Amount $@mm.RentalAmount for turnover more than $@mm.TransactionTarget starting from @mm.StartDate to @mm.EndDate
                                                                </td>
                    }
                                                            <td>
                                                                &nbsp;
                                                            </td>
                                                            <td>
                                                                &nbsp;
                                                            </td>
                                                            
                                                        </tr>
            }
                                                </tbody>
                                            </table>
}
                                    else
                                    {
                                            <div class="col-md-12">

                                                <p>no record</p>
                                            </div>
                                    }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <table id="TerminalRentalRateTb"></table>
                                        @if (@Model.MemberRentalModelList != null)
                                    {
                                            <table id="TerminalRentalRateTbSF">
                                                @foreach (var mm in @Model.MemberRentalModelList)
                                            {
                                                    <tr>
                                                        @if (@mm.EndDate == null)
                                                    {
                                                            <td>
                                                                Rent free starting from @mm.StartDate till no data specified
                                                            </td>
                                                    }
                                                    else
                                                    {
                                                            <td>
                                                                Rent free starting from @mm.StartDate to @mm.EndDate
                                                            </td>
                                                    }
                                                        <td>
                                                            &nbsp;
                                                        </td>
                                                        <td>
                                                            &nbsp;
                                                        </td>
                                                      
                                                    </tr>
                                            }
                                            </table>
                                    }
                                    </div>
                                </div>
                            </div>
                        </div>*@
                       
                        @*<h4 class="form-section">
                            MyWeb Details                  
                        </h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("UserName", new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.MyWebUserProfile.UserName, new { @class = "form-control" })
                                        <span class="help-block">

                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Created Date", new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">                                      
                                        @Html.DisplayFor(model => model.MyWebUserProfile.CreatedDate, new { @class = "form-control" })
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Is InActive", new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.MyWebUserProfile.Inactive, new { @class = "form-control", id = "Inactive" })
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                       
                        @if (Model.TerminalAllocationList != null && Model.AllVehicleTerminalAllocation.Count() > 0)
                    {
                            <h4 class="form-section">Allocated Terminals
                               
                            </h4>
                            <div class="portlet light bordered">
                               
                                <div class="portlet-body">
                                    <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 160px;">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Vehicle
                                                    </th>                                                   
                                                    <th>
                                                        State
                                                    </th>
                                                    <th>
                                                        Type
                                                    </th>
                                                    <th>
                                                       Terminal ID
                                                    </th>
                                                    <th>
                                                        Effective Date                                                    
                                                       </th>
                                                    @*<th>
                                                        Swapped TID
                                                    </th>
                                                    <th>
                                                        Original TID
                                                    </th>
                                                    <th>
                                                        Action
                                                    </th>
                                                    <th>
                                                        Swap
                                                    </th>*@

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.AllVehicleTerminalAllocation)
                                                {
                                                    if(item.TerminalId != null)
                                                    { 
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.VehicleId)
                                                        </td>
                                                       
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.RegisteredState)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Name)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.TerminalId)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.EffectiveDate)
                                                        </td>
                                                        @*<td>
                                                            @Html.DisplayFor(modelItem => item.SwappedTID)
                                                        </td>
                                                      
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.OriginalTID)
                                                        </td>*@
                                                      
                                                    </tr>
                                                }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                        @*<div id="MSFBar">
                            <h4 class="form-section">
                                Commission Rate/MSF
                              
                            </h4>
                            <div id="CommissionRateBar" class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.Label("Debit Rate Percentage (%)", new { @class = "control-labelM col-md-4" })
                                        <div class="col-md-3">                                         
                                            @Html.DisplayFor(model => model.CRDebitRatePercentage, new { @class = "form-control" })
                                            <span class="help-block">
                                                @Html.ValidationMessageFor(model => model.CRDebitRatePercentage)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="CRBeditRateId" class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.Label("Debit Rate ($)", new { @class = "control-labelM col-md-4" })
                                        <div class="col-md-3">                                       
                                            @Html.DisplayFor(model => model.CRDebitRate, new { @class = "form-control" })
                                            <span class="help-block">
                                                @Html.ValidationMessageFor(model => model.CRDebitRate)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.Label("VisaCard Rate (%)", new { @class = "control-labelM col-md-4" })
                                        <div class="col-md-3">                                        
                                            @Html.DisplayFor(model => model.CRVisaRate, new { @class = "form-control" })
                                            <span class="help-block">
                                                @Html.ValidationMessageFor(model => model.CRVisaRate)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.Label("MasterCard Rate (%)", new { @class = "control-labelM col-md-4" })
                                        <div class="col-md-3">                                   
                                            @Html.DisplayFor(model => model.CRMasterCardRate, new { @class = "form-control" })
                                            <span class="help-block">
                                                @Html.ValidationMessageFor(model => model.CRMasterCardRate)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="row">
                               
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.Label("Diners Rate (%)", new { @class = "control-labelM col-md-4" })
                                        <div class="col-md-3">                                           
                                            @Html.DisplayFor(model => model.CRDinersRate, new { @class = "form-control" })
                                            <span class="help-block">
                                                @Html.ValidationMessageFor(model => model.CRDinersRate)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.Label("Amex Rate (%)", new { @class = "control-labelM col-md-4" })
                                        <div class="col-md-3">                                         
                                            @Html.DisplayFor(model => model.CRAmexRate, new { @class = "form-control" })
                                            <span class="help-block">
                                                @Html.ValidationMessageFor(model => model.CRAmexRate)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@<br />
                        @*<div>
                            <span style="float:right; cursor:pointer" id="uncllopseall">

                                @Ajax.ActionLink("Add Address", "AddMemberAddress", new { id = @Model.Member_key },
              new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "" }) |
                                @Ajax.ActionLink("Add Account", "AddMemberAccount", new { id = @Model.Member_key },
              new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "" }) |

                                @Ajax.ActionLink("Add Terminal", "AddAllocateMemberTerminal", new { id = @Model.Member_key, Company = @Model.CompanyKey, State = @Model.State },
              new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "" })

                            </span>
                        </div>*@
                    </div>
                    @*<br /><br />
                    <div class="form-actions right">
                        <button type="button" onclick="history.go(-1);return true;" class="btn default">Cancel</button>
                        <button type="submit" class="btn blue"><i class="fa fa-check"></i> Save</button>


                    </div>*@
                </form>
                <!-- END FORM-->
            </div>
        </div>

        @*}*@

       @section scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".Member").addClass("active open");
        });

        $("#DriverAuth").val('');
        $("#DriverAuthId").hide();


        @*$(document).ready(function () {
            $("#PPostCode").autocomplete({
                source: '@Url.Action("AutoCompletePostCode")'

            });
        });*@

        @*$(document).ready(function () {
            $("#MPostCode").autocomplete({
                source: '@Url.Action("AutoCompletePostCode")'

            });
        });*@

        $(document).ready(function () {
            $("#BusinessType").change(function () {
                var BusinessTypeVal = $("#BusinessType").val();
                if (BusinessTypeVal == 18) {
                    $("#MCCId").show();
                }
                else {
                    $("#MCC").val('');
                    $("#MCCId").hide();
                }


            });
        });

        $(document).ready(function () {
            $("#BusinessType").change(function () {
                var BusinessTypeVal = $("#BusinessType").val();
                if (BusinessTypeVal == 1) {
                    $("#DriverAuthId").show();
                }
                else {
                    $("#DriverAuth").val('');
                    $("#DriverAuthId").hide();
                }
            });
        });
        @*$(document).ready(function () {
            $("#BusinessType").change(function () {
                var BusinessTypeVal = $("#BusinessType").val();
                $('#Dealer').empty();
                $.ajax({
                    url: '@Url.Action("GetDealersByCompany", "AjaxAdmin")',
                    data: { CompanyKey: BusinessTypeVal },
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        $('#Dealer').append('<option value="0">Select One</option>');
                        $.each(data, function (i, item) {
                            $('#Dealer').append(
                                '<option value="' + item.Dealer_key + '">'
                                + item.DealerName +
                                '</option>');
                        });
                    },
                    error: function () {
                        //alert("Error");
                    }
                });
            });
        });*@

        //$(document).ready(function () {
        //    $("#SamePrimaryAdd").change(function () {
        //        if ($("#SamePrimaryAdd").attr('checked')) {
        //            var StreetNo = $('#StreetNo').val()
        //            var Street = $('#Street').val()
        //            var PostCode = $('#PPostCode').val()

        //            $('#MStreetNo').val(StreetNo)
        //            $('#MStreet').val(Street)
        //            $('#MPostCode').val(PostCode)
        //        }
        //        else {
        //            $('#MStreetNo').val('')
        //            $('#MStreet').val('')
        //            $('#MPostCode').val('')
        //        }
        //    });
        //});

        $.ajax({
            url: '@Url.Action("GetSearchFields", "AjaxAdmin")',
            type: "GET",
            dataType: "json",
            success: function (data) {
                $.each(data, function (i, item) {
                    $("#effectTypes").append(
                             $("<option></option>").val(item.SearchField).html(item.SearchKey)
                         );
                });
            }
        });

        @*$(document).ready(function () {
            $("#SaleReps").autocomplete({
                source: '@Url.Action("AutoCompleteEmployee")'
            });
        });*@


        //$(document).ready(function () {
        //    $("#BusinessType1").change(function () {
        //        var val1 = $("#BusinessType1").val();
        //        if (val1 == 1) {
        //            $("#CommissionRateBar").show();
        //            $("#CommissionRate").show();
        //            $("#MSFMessgae").hide();
        //            $("#CRBeditRateId").hide();
        //        }
        //        else {
        //            $("#CommissionRateBar").hide();
        //            $("#CommissionRate").hide();
        //            $("#MSFMessgae").show();
        //            $("#CRBeditRateId").show();
        //        }
        //    });
        //});



        //$(document).ready(function () {
        //        var val1 = $("#BusinessType1").val();
        //        if (val1 == 1) {
        //            $("#CommissionRateBar").show();
        //            $("#CommissionRate").show();
        //            $("#MSFMessgae").hide();
        //            $("#CRBeditRateId").hide();
        //        }
        //        else {
        //            $("#CommissionRateBar").hide();
        //            $("#CommissionRate").hide();
        //            $("#MSFMessgae").show();
        //            $("#CRBeditRateId").show();
        //        }
        //});


        //$(document).ready(function () {
        //    $("#CRBeditRateId").hide();
        //});
        @*$(document).ready(function () {
            $("#BusinessType").change(function () {
                var BusinessTypeVal = $("#BusinessType").val();
                $.ajax({
                    url: '@Url.Action("GetDefaultRates", "AjaxAdmin")',
                    data: { CompanyKey: BusinessTypeVal },
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        $("#CRVisaRate").val(data.Visa.toFixed(2))
                        $("#CRMasterCardRate").val(data.Master.toFixed(2))
                        $("#CRAmexRate").val(data.Amex.toFixed(2))
                        $("#CRDinersRate").val(data.Diners.toFixed(2))

                        $("#CRDebitRatePercentage").val(data.DebitPercentage.toFixed(2))
                        //$("#MannualVoucherRate").val(data.Amex.toFixed(2))
                        //$("#DealerRate").val(data.Diners.toFixed(2))
                        $("#CRDebitRate").val(data.Debit.toFixed(2))
                    },
                    error: function () {
                        //alert("Error");
                    }
                });
            });
        });*@
        @*$(document).ready(function () {
            $("#BusinessType").change(function () {
                var val1 = $("#BusinessType").val();
                $("#TerminalRentalRateTb").empty();
                $("#TerminalRentalRateTbSF").empty();
                $("#MonthlyRental").empty();
                $.ajax({
                    url: '@Url.Action("GetMemberRentalTemplate", "AjaxAdmin")',
                    data: { company_key: val1 },
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        $.each(data, function (i, item) {
                            $("#MonthlyRental").append(
                                     $("<option></option>").val(item.MemberRentalTemplateKey).html(item.Description)
                                 );
                        });
                    }
                });

                if (val1 == 20) {
                    $("#CommissionRateBar").show();
                    $("#CommissionRate").show();
                    $("#MSFMessgae").hide();
                    $("#CRBeditRateId").hide();
                    $("#MonthlyRentallbl").text("Admin Fee");
                    $("#RentFreelbl").text("Free Admin Fee");
                    $("#WeekReport").show();
                }
                if (val1 == 19) {

                    $("#MonthlyRentallbl").text("Monthly Rental");
                    $("#RentFreelbl").text("Rent Fee");
                    $("#WeekReport").hide();
                }
                if (val1 == 1) {
                    $("#CommissionRateBar").show();
                    $("#CommissionRate").show();
                    $("#MSFMessgae").hide();
                    $("#CRBeditRateId").hide();
                    $("#MonthlyRentallbl").text("Admin Fee");
                    $("#RentFreelbl").text("Free Admin Fee");
                    $("#WeekReport").show();
                }
                if (val1 == 18) {
                    $("#CommissionRateBar").hide();
                    $("#CommissionRate").hide();
                    $("#MSFMessgae").show();
                    $("#CRBeditRateId").show();
                    $("#MonthlyRentallbl").text("Monthly Rental");
                    $("#RentFreelbl").text("Rent Fee");
                    $("#WeekReport").hide();
                }
            });
        });*@
        //$(document).ready(function () {
        //    var val1 = $("#BusinessType").val();
        //    alert(val1)
        //    if (val1 == 20) {
        //        $("#CommissionRateBar").show();
        //        $("#CommissionRate").show();
        //        $("#MSFMessgae").hide();
        //        $("#CRBeditRateId").hide();
        //        $("#MonthlyRentallbl").text("Admin Fee");
        //        $("#RentFreelbl").text("Free Admin Fee");
        //        $("#WeekReport").show();
        //    }
        //    if (val1 == 19) {
        //        $("#MonthlyRentallbl").text("Monthly Rental");
        //        $("#RentFreelbl").text("Rent Fee");
        //        $("#WeekReport").hide();
        //    }
        //    if (val1 == 1) {
        //        $("#CommissionRateBar").show();
        //        $("#CommissionRate").show();
        //        $("#MSFMessgae").hide();
        //        $("#CRBeditRateId").hide();
        //        $("#MonthlyRentallbl").text("Admin Fee");
        //        $("#RentFreelbl").text("Free Admin Fee");
        //        $("#WeekReport").show();
        //    }
        //    if (val1 == 18) {
        //        $("#CommissionRateBar").hide();
        //        $("#CommissionRate").hide();
        //        $("#MSFMessgae").show();
        //        $("#CRBeditRateId").show();
        //        $("#MonthlyRentallbl").text("Monthly Rental");
        //        $("#RentFreelbl").text("Rent Fee");
        //        $("#WeekReport").hide();
        //    }
        //});

        //$(document).ready(function () {
        //    $("#CRDebitRate").change(function () {
        //        $("#error").text("");
        //        var val1 = $("#BusinessType").val();
        //        if (val1 == 18) {
        //            if ($("#CRDebitRate").val() > 0) {
        //                $("#error").text("Debit rate cannot be bigger then zero");
        //                //  alert("Debit rate cannot be bigger then zero");
        //                $("#CRDebitRate").val("");
        //                $("#CRDebitRate").focus();
        //            }
        //        }
        //    });
        //});

        //$(document).ready(function () {
        //    $("#CRVisaRate").change(function () {
        //        $("#error").text("");
        //        var val1 = $("#BusinessType").val();
        //        if (val1 == 18) {
        //            if ($("#CRVisaRate").val() > 0) {
        //                $("#error").text("Visa rate cannot be bigger then zero");
        //                //  alert("Visa rate cannot be bigger then zero");
        //                $("#CRVisaRate").val("");
        //                $("#CRVisaRate").focus();
        //            }
        //        }
        //    });
        //});

        //$(document).ready(function () {
        //    $("#CRMasterCardRate").change(function () {
        //        $("#error").text("");
        //        var val1 = $("#BusinessType").val();
        //        if (val1 == 18) {
        //            if ($("#CRMasterCardRate").val() > 0) {
        //                $("#error").text("Master Card rate cannot be bigger then zero");
        //                // alert("Master card rate cannot be bigger then zero");
        //                $("#CRMasterCardRate").val("");
        //                $("#CRMasterCardRate").focus();
        //            }
        //        }
        //    });
        //});
        //$(document).ready(function () {
        //    $("#CRAmexRate").change(function () {
        //        $("#error").text("");
        //        var val1 = $("#BusinessType").val();
        //        if (val1 == 18) {
        //            if ($("#CRAmexRate").val() > 0) {
        //                $("#error").text("Amex rate cannot be bigger then zero");
        //                // alert("Amex rate cannot be bigger then zero");
        //                $("#CRAmexRate").val("");
        //                $("#CRAmexRate").focus();
        //            }
        //        }
        //    });
        //});
        //$(document).ready(function () {
        //    $("#CRDinersRate").change(function () {
        //        $("#error").text("");
        //        var val1 = $("#BusinessType").val();
        //        if (val1 == 18) {
        //            if ($("#CRDinersRate").val() > 0) {
        //                $("#error").text("Diners rate cannot be bigger then zero");
        //                // alert("Diners rate cannot be bigger then zero");
        //                $("#CRDinersRate").val("");
        //                $("#CRDinersRate").focus();
        //            }
        //        }
        //    });
        //});
        @*$(document).ready(function () {
            $("#Dealer_keyString").autocomplete({
                source: '@Url.Action("AutoCompleteDealer")'

            });
        });*@

        //function enter(elem) {
        //    elem.style.color = 'lightblue';
        //}
        //function leave(elem) {
        //    elem.style.color = 'white';
        //}


        //$(document).ready(function () {
        //    var val1 = $("#SalesforceId").val()
        //    var text = "LiveEftPos"
        //    if (val1 != null || val1 != "") {
        //        $("select option").filter(function () {
        //            return $(this).text() == text;
        //        }).prop('selected', true);

        //    }
        //});



    </script>

    }


