﻿@model PhoenixWeb.Models.ViewModel.DealerDashboardVM
@{
    ViewBag.Title = "Menu";
}

<script src="~/Scripts/libraries/RGraph.common.core.js"></script>
<script src="~/Scripts/libraries/RGraph.bar.js"></script>
<script src="~/Scripts/libraries/RGraph.line.js"></script>
<script src="~/Scripts/libraries/RGraph.pie.js"></script>
<script src="~/Scripts/libraries/jquery-1.7.1.js"></script>
<script src="~/Scripts/libraries/jquery-1.7.1.min.js"></script>

    <link href="~/assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
<link href="~/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />


<div class="row" style="background-color:#F8F8F8">
    <div class="col-md-4">
        <label style="font-weight:700; font-size:medium; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:blue"><span style="font-weight:600">Dealer:</span> @Model.Dealer.TradingName</label><br />
        <label style="font-weight:500; font-size:small"><span style="font-weight:600">Name:</span> @Model.Dealer.FirstName @Model.Dealer.LastName</label><br />
        <label style="font-weight:500; font-size:small"><span style="font-weight:600">Contact</span> @Model.Dealer.Mobile / @Model.Dealer.Telephone</label>
    </div>
    <div class="col-md-4">
        <label style="font-weight:500; font-size:small"><span style="font-weight:600">Address:</span> @Model.Dealer.Address @Model.Dealer.City @Model.Dealer.State @Model.Dealer.Postcode</label><br />
        <label style="font-weight:500; font-size:small"><span style="font-weight:600">ABN:</span> @Model.Dealer.ABN </label><br />
        <label style="font-weight:500; font-size:small"><span style="font-weight:600">Email:</span> @Model.Dealer.Email </label>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-8 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Monthly turnover</span>
                    <span class="caption-helper">transaction in last 8 months</span>
                </div>
             
            </div>
            <div class="portlet-body">
                <canvas class="flot-overlay" id="trans" style="max-width:100%; margin-left:15px; height:auto" width="777" height="250">[No canvas support]</canvas>
            </div>
        </div>
      
    </div>
   
    @*<div class="row col-md-8 col-sm-12">*@
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 blue" href="@Url.Action("Operator", "Dealer")">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="1349">@Model.OperatorCount</span>
                    </div>
                    <div class="desc"> Active Operator </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 purple" href="@Url.Action("Terminals", "Dealer")">
                <div class="visual">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="details">
                    <div class="number">

                        <span data-counter="counterup" data-value="89">@Model.TerminalCount</span>
                    </div>
                    <div class="desc"> Total Terminals </div>
                </div>
            </a>
        </div>
    @*</div>*@
</div>
<div class="row" style="background-color:#F8F8F8">
    <div style="align-content:center; margin-top:7px; margin-bottom:7px; margin-left:35%; margin-right:35%">
        @if (ViewContext.Controller.HasPermission("MenuCashing"))
        {
            <a href="@Url.Action("Index", "Cashing")"><img src="~/Images/ICONS/Cashing.png" style="position:relative; float: left" /></a>
        }
        @if (ViewContext.Controller.HasPermission("DealerTransactionSearchMenu"))
        {
            <a href="@Url.Action("Transaction", "Dealer")"><img  src="~/Images/ICONS/Transactions.png" style="position:relative; float: left" /></a>
        }
        @if (ViewContext.Controller.HasPermission("DealerPaymentSearchMenu"))
        {
            <a href="@Url.Action("Payment", "Dealer")"><img src="~/Images/ICONS/Payment.png" style="position:relative; float: left" /></a>
        }
      
    </div>
</div>

<div class="row">
    <br />
</div>

<div class="portlet-body">
    <ul class="nav nav-tabs">
        <li class="active">
            <a class="btn green btn-sm" href="#tab_1_1" data-toggle="tab" aria-expanded="true"> Performance By Operator </a>
        </li>
        <li class="">
            <a class="btn blue btn-sm" href="#tab_1_2" data-toggle="tab" aria-expanded="false"> Performance By Terminal </a>
        </li>
      
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="tab_1_1">
            <div class="row">
                <div class="col-lg-4">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Last 7 days - Top 5 Performers</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-list">
                                <div class="mt-list-container list-default">
                                    <ul>
                                        @foreach (var n in Model.WeeklyTopPerformers)
                                        {
                                            <li class="mt-list-item">
                                                <div class="list-icon-container done">
                                                <a href="javascript:;">
                                                    <i class="icon-check"></i>
                                                </a>
                                            </div>
                                                @*<div class="list-datetime">
                                                @DateTime.Now.TimeOfDay.
                                                <br> @DateTime.Now.Date
                                            </div>*@
                                                <div class="list-item-content">
                                                    <h3 class="uppercase bold">
                                                        <a href="@Url.Action("OpDetails", "Dealer", new { Id = @n.MemberId }, null)">@n.TradingName</a>
                                                    </h3>
                                                    <p>MID: @n.MemberId @string.Format("{0:C}", @n.AmountSum)</p>                                                    
                                                    <p>contact : @n.Mobile/ @n.Telephone</p>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Last 7 days - Bottom 5 Performers</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-list">
                                <div class="mt-list-container list-simple">
                                    <ul>
                                        @foreach (var n in Model.WeeklyLeastPerformers)
                                        {
                                            <li class="mt-list-item">
                                                <div class="list-icon-container done">
                                                <i class="icon-close"></i>
                                            </div>
                                                @*<div class="list-datetime"> 8 Nov </div>*@
                                                <div class="list-item-content">
                                                    <h3 class="uppercase">
                                                        <a  href="@Url.Action("OpDetails", "Dealer", new { Id = @n.MemberId }, null)">@n.TradingName MID: @n.MemberId</a>
                                                        <p>@string.Format("{0:C}", @n.AmountSum)</p>                                                       
                                                        <p style="font-size:small">contact : @n.Mobile/ @n.Telephone</p>
                                                    </h3>
                                                </div>
                                            </li>
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span class="caption-subject font-green bold uppercase">No Transaction in last 7 days</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-list" style="position: relative; overflow:scroll; width: auto; height: 450px;">
                                <div class="mt-list-container list-news">
                                    <ul>
                                        @foreach (var n in Model.NoTransactionIn7Days)
                                        {
                                            <li class="mt-list-item">
                                                <div class="list-icon-container">
                                                    <a href="@Url.Action("OpDetails", "Dealer", new { Id = @n.MemberId }, null)">
                                                        <i class="fa fa-angle-right"></i>
                                                    </a>
                                                </div>
                                                <div class="list-datetime bold uppercase font-green"> @n.TerminalId </div>
                                                <div class="list-item-content">
                                                    <h3 class="uppercase">
                                                        <a href="@Url.Action("OpDetails", "Dealer", new { Id = @n.MemberId }, null)">@n.TradingName</a>
                                                    </h3>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Last 30 days - Top 5 Performers</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-list">

                                <div class="mt-list-container list-default">

                                    <ul>
                                        @foreach (var n in Model.MonthlyTopPerformers)
                                        {
                                            <li class="mt-list-item">
                                                <div class="list-icon-container done">
                                                    <a href="@Url.Action("OpDetails", "Dealer", new { Id = @n.MemberId }, null)">
                                                        <i class="icon-check"></i>
                                                    </a>
                                                </div>

                                                <div class="list-item-content">
                                                    <h3 class="uppercase bold">
                                                        <a href="@Url.Action("OpDetails", "Dealer", new { Id = @n.MemberId }, null)">@n.TradingName</a>
                                                    </h3>
                                                    <p>MID: @n.MemberId @string.Format("{0:C}", @n.AmountSum)</p>                                                  
                                                    <p>contact : @n.Mobile/ @n.Telephone</p>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Last 30 days - Bottom 5 Performers</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-list">
                                <div class="mt-list-container list-simple">
                                    <ul>
                                        @foreach (var n in Model.MonthlyLeastPerformers)
                                        {
                                            <li class="mt-list-item">
                                                <div class="list-icon-container done">
                                                    <i class="icon-close"></i>
                                                </div>
                                                <div class="list-item-content">
                                                    <h3 class="uppercase">
                                                        <a href="@Url.Action("OpDetails", "Dealer", new { Id = @n.MemberId }, null)">@n.TradingName MID: @n.MemberId</a>
                                                        <p>@string.Format("{0:C}", @n.AmountSum)</p>                                                       
                                                        <p style="font-size:small">contact : @n.Mobile/ @n.Telephone</p>
                                                    </h3>
                                                </div>
                                            </li>
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span class="caption-subject font-green bold uppercase"> No Transaction in last 30 days</span>
                                @*<div class="caption-desc font-grey-cascade"> Default list element style. Activate by adding <pre class="mt-code">.list-news</pre> class to the <pre class="mt-code">ul</pre> element. </div>*@
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-list" style="position: relative; overflow:scroll; width: auto; height: 450px;">
                                @*<div class="mt-list-head list-news font-white bg-blue">
                                <div class="list-head-title-container">
                                    <span class="badge badge-primary pull-right">3</span>
                                    <h3 class="list-title">News List</h3>
                                </div>
                            </div>*@
                                <div class="mt-list-container list-news">
                                    <ul>
                                        @foreach (var n in Model.NoTransactionIn30Days)
                                        {
                                            <li class="mt-list-item">
                                                <div class="list-icon-container">
                                                    <a href="@Url.Action("OpDetails", "Dealer", new { Id = @n.MemberId }, null)">
                                                        <i class="fa fa-angle-right"></i>
                                                    </a>
                                                </div>
                                                <div class="list-datetime bold uppercase font-green"> @n.TerminalId </div>
                                                <div class="list-item-content">
                                                    <h3 class="uppercase">
                                                        <a href="@Url.Action("OpDetails", "Dealer", new { Id = @n.MemberId }, null)">@n.TradingName</a>
                                                    </h3>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab_1_2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Last 7 days - Top 5 Performers By Terminal</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-list">
                                <div class="mt-list-container list-default">
                                    <ul>
                                        @foreach (var n in Model.WeeklyTop5PerformersByTerminal)
                                        {
                                            <li class="mt-list-item">
                                                <div class="list-icon-container done">
                                                    <a href="javascript:;">
                                                        <i class="icon-check"></i>
                                                    </a>
                                                </div>
                                                @*<div class="list-datetime">
                                                @DateTime.Now.TimeOfDay.
                                                <br> @DateTime.Now.Date
                                            </div>*@
                                                <div class="list-item-content">
                                                    <h3 class="uppercase bold">
                                                        <a href="@Url.Action("OpDetails", "Dealer", new { Id = @n.MemberId }, null)">@n.TradingName</a>
                                                    </h3>
                                                    <p>MID: @n.MemberId @string.Format("{0:C}", @n.AmountSum)</p>
                                                    <p>TerminalId : @n.TerminalId</p>
                                                    <p>contact : @n.Mobile/ @n.Telephone</p>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Last 7 days - Bottom 5 Performers</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-list">
                                <div class="mt-list-container list-simple">
                                    <ul>
                                        @foreach (var n in Model.WeeklyLeast5PerformersByTerminal)
                                        {
                                            <li class="mt-list-item">
                                                <div class="list-icon-container done">
                                                    <i class="icon-close"></i>
                                                </div>
                                                @*<div class="list-datetime"> 8 Nov </div>*@
                                                <div class="list-item-content">
                                                    <h3 class="uppercase">
                                                        <a href="@Url.Action("OpDetails", "Dealer", new { Id = @n.MemberId }, null)">@n.TradingName MID: @n.MemberId</a>
                                                        <p>@string.Format("{0:C}", @n.AmountSum)</p>
                                                        <p style="font-size:small">TerminalId : @n.TerminalId</p>
                                                        <p style="font-size:small">contact : @n.Mobile/ @n.Telephone</p>
                                                    </h3>
                                                </div>
                                            </li>
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Last 30 days - Top 5 Performers</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-list">

                                <div class="mt-list-container list-default">

                                    <ul>
                                        @foreach (var n in Model.MonthlyTop5PerformersByTerminal)
                                        {
                                            <li class="mt-list-item">
                                                <div class="list-icon-container done">
                                                    <a href="@Url.Action("OpDetails", "Dealer", new { Id = @n.MemberId }, null)">
                                                        <i class="icon-check"></i>
                                                    </a>
                                                </div>

                                                <div class="list-item-content">
                                                    <h3 class="uppercase bold">
                                                        <a href="@Url.Action("OpDetails", "Dealer", new { Id = @n.MemberId }, null)">@n.TradingName</a>
                                                    </h3>
                                                    <p>MID: @n.MemberId @string.Format("{0:C}", @n.AmountSum)</p>
                                                    <p>TerminalId : @n.TerminalId</p>
                                                    <p>contact : @n.Mobile/ @n.Telephone</p>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Last 30 days - Bottom 5 Performers</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-list">
                                <div class="mt-list-container list-simple">
                                    <ul>
                                        @foreach (var n in Model.WeeklyLeast5PerformersByTerminal)
                                        {
                                            <li class="mt-list-item">
                                                <div class="list-icon-container done">
                                                    <i class="icon-close"></i>
                                                </div>
                                                <div class="list-item-content">
                                                    <h3 class="uppercase">
                                                        <a href="@Url.Action("OpDetails", "Dealer", new { Id = @n.MemberId }, null)">@n.TradingName MID: @n.MemberId</a>
                                                        <p>@string.Format("{0:C}", @n.AmountSum)</p>
                                                        <p style="font-size:small">TerminalId : @n.TerminalId</p>
                                                        <p style="font-size:small">contact : @n.Mobile/ @n.Telephone</p>
                                                    </h3>
                                                </div>
                                            </li>
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>

        </div>
       
    </div>
    <div class="clearfix margin-bottom-20"> </div>
   
</div>











  


    <script src="~/assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>

    @section scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                $(".active").removeClass("active open");
                $(".Member").addClass("active open");
            });

            $.ajax({
                url: '@Url.Action("GetTansData", "Dealer")',
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var data1 = new Array();
                    var data2 = new Array();
                    for (i = 0; i < data.length; i++) {
                        data1[i] = data[i].Amount;
                        data2[i] = data[i].MonthName + '-' + data[i].year;
                    }
                    var bar = new RGraph.Bar('trans', data1)

              .Set('labels', data2)
                    .Set('Title', 'Monthly Turnover')
                   .Set('Title.Size', 10)
              .Set('gutter.left', 66)
              .Set('background.barcolor1', 'white')
              .Set('background.barcolor2', 'white')
              .Set('background.grid', true)
              .Set('colors', ['lightblue'])

              .Draw();

                }
            });
        </script>
    }
