﻿@model List<PhoenixObjects.Transaction.sTransactionParentModel>

@{
    ViewBag.Title = "SubList";
    Layout = null;
}

@if (Model.Count == 0)
{
    <em>No record found.</em>
    return;
}
    <div class="portlet-body">
        @if (Model != null)
        {
            <div class="panel-group accordion scrollable" id="accordion2">
                <div class="panel panel-default" style="position: relative; overflow:scroll; width: auto; height: 600px;">
                    @foreach (var m in Model)
                    {

                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#@m.Id">
                                    <span style="font-weight: 700;font-size:small">BatchNo.: @m.Batchno| TerminalId.: @m.TerminalId| Total Amount: @m.TotalAmount| Total MSF.: $@m.TotalMSF| Grand Total: $@m.Total</span>

                                </a>
                            </h4>
                        </div>
                        <div id="@m.Id" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">

                                <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height:auto">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Transaction Date
                                                </th>
                                                <th>
                                                    TernimalId
                                                </th>
                                                <th>
                                                    BatchNo.
                                                </th>
                                                <th>
                                                    Amount
                                                </th>
                                                <th>
                                                    MSF
                                                </th>
                                                <th>
                                                    Total
                                                </th>
                                                <th>
                                                    Card Number
                                                </th>
                                                <th>
                                                    Card Type
                                                </th>
                                                <th>
                                                    Transaction Type
                                                </th>
                                                <th>
                                                    Pay Status
                                                </th>
                                                <th>
                                                    DriverId
                                                </th>
                                                <th>
                                                    TaxiId
                                                </th>
                                                <th>
                                                    EndOFShift Date
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in m.Details)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.TransactionDate
                                                    </td>
                                                    <td>
                                                        @item.TerminalId
                                                    </td>
                                                    <td>
                                                        @item.Batchno
                                                    </td>
                                                    <td>
                                                        @item.Amount
                                                    </td>
                                                    <td>
                                                        @item.MSF
                                                    </td>
                                                    <td>
                                                        @item.Total
                                                    </td>
                                                    <td>
                                                        @item.CardNumber
                                                    </td>
                                                    <td>
                                                        @item.CardType
                                                    </td>
                                                    <td>
                                                        @item.TransType
                                                    </td>
                                                    <td>
                                                        @item.Status
                                                    </td>
                                                    <td>
                                                        @item.DriverId
                                                    </td>
                                                    <td>
                                                        @item.TaxiId
                                                    </td>
                                                    <td>
                                                        @item.EndOfShift
                                                    </td>


                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        }
    </div>