﻿@model List<PhoenixObjects.Transaction.oTransactionDetailsModel>
@{
    ViewBag.Title = "SubList";
    Layout = null;
}
        <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 500px;">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Amount
                </th>              
                <th>
                   Commission
                </th>     
                <th>
                    Total
                </th>     
                <th>
                   Rates Used
                </th>     
                         
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>
                        @m.Date
                    </td>
                    <td>
                        $@m.Amount
                    </td>
                    <td>
                        @m.MSF
                    </td>   
                    <td>
                        @m.Total
                    </td>   
                    <td>
                        @m.RateString
                    </td>                                   
                   
                </tr>
            }
        </tbody>
    </table>
</div>



   

