﻿@model PhoenixObjects.Member.MultiMemberSearchModel
@{
    ViewBag.Title = "Operators";
}

<h2>Operators</h2>
@if (Model.MemberList != null)
{
    if (Model.MemberList.Count > 0)
    {

        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Member Results
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 500px;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    MemberId
                                </th>
                                <th>
                                    Trading Name
                                </th>
                                <th>
                                    First Name
                                </th>
                                <th>
                                    Last Name
                                </th>
                                <th>
                                    Email Address
                                </th>                               
                                <th>
                                    View
                                </th>
                               
                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model.MemberList)
                            {
                                <tr>
                                    <td>
                                        @m.MemberId
                                    </td>
                                    <td>
                                        @m.TradingName
                                    </td>
                                    <td>
                                        @m.FirstName
                                    </td>
                                    <td>
                                        @m.LastName
                                    </td>
                                    <td>
                                        @m.Email
                                    </td>                                  
                                    <td>                                      
                                        @Html.ActionLink("Details", "Details", new { Id = @m.Member_key }, null)
                                    </td>   
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    }
}