﻿@model List<PhoenixObjects.Transaction.TransactionModel>
@{
    ViewBag.Title = "OperatorPaymentList";
    Layout = null;
}
<div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 500px;">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Payment Date
                </th>
                <th>
                    Total Amount
                </th>
                <th>
                    Statement
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>
                        @Ajax.ActionLink(@m.TransactionDate.Value.ToShortDateString() + ": " + @m.TransactionDate.Value.ToShortTimeString(), "OperatorSubList", "Dealer", new { transaction_key = @m.Transaction_key }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "PaymentDetailsPlaceHolder" })
                    </td>
                    <td>
                        @m.TotalAmount
                    </td>
                    <td>
                        @if (@m.PayRun_key != null)
                        {
                            @Html.ActionLink(@m.LodgementReferenceNo, "OperatorPrint", "Dealer", new { PayRun_Key = @m.PayRun_key, Type = "Bank", lodge = @m.LodgementReferenceNo, Memberkey =  @ViewBag.Operator }, new { target = "_blank" });
                        }
                        else if (@m.PayRun_key == null)
                        {
                            @Html.ActionLink(@m.LodgementReferenceNo, "OperatorPrint", "Dealer", new { PayRun_Key = 0, Type = "Cash", lodge = @m.LodgementReferenceNo, Memberkey = @ViewBag.Operator }, new { target = "_blank" });
                        }


                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
