﻿@{
    ViewBag.Title = "Payment";
}
<h3 class="page-title">
    Dealer Payment
    <small>payment  details</small>
</h3>
<div class="row">
    <div class="col-md-5">

        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">Payment List</div>
             
            </div>
            <div id="PaymentPlaceHolder" class="portlet-body">

                @Html.Action("PaymentList", "Dealer")
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="portlet box blue ">
            <div class="portlet-title">
                <div class="caption">Payment Details</div>
             
            </div>
            <div id="PaymentDetailsPlaceHolder" class="portlet-body">

                @Html.Action("SubList", "Dealer", new { transaction_key = 0 })
            </div>
        </div>
    </div>
   
</div>
<div class="row">
    @using (Html.BeginForm("ExportPayment", "Dealer", FormMethod.Post))
    {
        <button type="submit" name="submitButton" value="Export" style="float:right; margin-right:10px;" class="btn blue">Export To Excel</button>
    }
</div>

