﻿@model PhoenixObjects.Member.MultiMemberSearchModel
@{
    ViewBag.Title = "Search";
}
<h3 class="page-title">
    Search Operator
    <small>Phoenix operator Search</small>
</h3>

@Html.ValidationMessage("error")

@using (Html.BeginForm())
{

    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-adjust"></i>
                Search
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <div class="form-body">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-9">
                            @*<input class="form-control" placeholder="type Memberid or Terminalid or Trading name or Mobile No.." type="text" name="SearchKey1" id="SearchKey1" />*@

                            <input type="text" name="SearchKey11" id="SearchKey11" class="form-control" placeholder="type Memberid or Terminalid or Trading name or Mobile No..">
                        </div>
                        <button type="submit" name="Command" value="Search" class="btn blue-madison">SEARCH <i class="m-icon-swapright m-icon-white"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (Model.MemberList != null)
{
    if (Model.MemberList.Count > 0)
    {

        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Member Result
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 500px;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    OperatorId
                                </th>
                                <th>
                                    Trading Name
                                </th>
                                <th>
                                    First Name
                                </th>
                                <th>
                                    Last Name
                                </th>
                                <th>
                                    Email Address
                                </th>
                                <th>
                                    Company Type
                                </th>
                                <th>
                                    View
                                </th>
                                <th>
                                    LiveSMS
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model.MemberList)
                            {
                                <tr>
                                    <td>
                                        @m.MemberId
                                    </td>
                                    <td>
                                        @m.TradingName
                                    </td>
                                    <td>
                                        @m.FirstName
                                    </td>
                                    <td>
                                        @m.LastName
                                    </td>
                                    <td>
                                        @m.Email
                                    </td>
                                    <td>
                                        @m.BusinesstypeName
                                    </td>
                                    <td>
                                        @Html.ActionLink("Transaction", "ViewTransaction", new { member_key = @m.Member_key }) |
                                        @*@Html.ActionLink("Clone", "CloneMember", new { id = item.Member_key }) |*@
                                        @Html.ActionLink("Payments", "ViewPayments", new { member_key = @m.Member_key })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Details", "Details", "Member", new { member_key = @m.Member_key }) |
                                      
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    }
}

@section scripts {
    <script>
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".Member").addClass("active open");
        });

        $(document).ready(function () {
        $("#SearchKey11").autocomplete({
            source: '@Url.Action("AutoCompleteSPMemberSearchDealer", "AjaxAdmin")'
        });
       });



    </script>

}
