﻿@model List<PhoenixObjects.Transaction.TransactionDetailsModel>
@{
    ViewBag.Title = "SubList";
    Layout = null;
}
        <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 500px;">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Dealer Commission
                </th>              
                <th>
                   Dealer Rate 
                </th>     
                <th>
                    Fare Value
                </th>     
                <th>
                    Extras
                </th>     
                <th>
                    TerminalId
                </th> 
                <th>
                    TaxiId
                </th>               
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>
                        @m.ItemDate
                    </td>
                    <td>
                        $@m.Amount
                    </td>
                    <td>
                        @m.RateString
                    </td>   
                    <td>
                        @m.Fare
                    </td>   
                    <td>
                        @m.Extras
                    </td>   
                    <td>
                        @m.TerminalId
                    </td>   
                    <td>
                        @m.VehicleId
                    </td>                 
                   
                </tr>
            }
        </tbody>
    </table>
</div>



   

