﻿@model List<PhoenixObjects.Terminal.OperatorTerminalModel>
@{
    ViewBag.Title = "Terminals";
}

<h2>Terminals</h2>
@if (Model != null)
{
    if (Model.Count > 0)
    {
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Terminal Results
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 500px;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    TerminalId
                                </th>
                                <th>
                                    TaxiId
                                </th>
                                <th>
                                    MemberId
                                </th>
                                <th>
                                    Trading Name
                                </th>
                                <th>
                                    First Name
                                </th>
                                <th>
                                    Last Name
                                </th>
                                
                                <th>
                                    Email Address
                                </th>              
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model)
                            {
                                <tr>
                                    <td>
                                        @m.TerminalId
                                    </td>
                                    <td>
                                        @m.VehicleId
                                    </td>
                                    <td>
                                        @m.MemberId
                                    </td>
                                    <td>
                                        @m.TradingName
                                    </td> 
                                    <td>
                                        @m.FirstName
                                    </td>  
                                    <td>
                                        @m.LastName
                                    </td>                                 
                                    <td>
                                        @m.Email
                                    </td>                                   
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    }
}