﻿@{
    ViewBag.Title = "Transaction";
}


<script src="http://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
<!-- polyfiller file to detect and load polyfills -->
<script src="http://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>
<script>
    webshims.setOptions('waitReady', false);
    webshims.setOptions('forms-ext', { types: 'date' });
    webshims.polyfill('forms forms-ext');
</script>
<h3 class="page-title">
    Operator Transations
    <small>transaction  details</small>
</h3>
@using (Ajax.BeginForm("Search", "Dealer", FormMethod.Get, new AjaxOptions { UpdateTargetId = "TransactionDetailsPlaceHolder", OnBegin = "$('#TransactionDetailsPlaceHolder').html('Loading...');" }, new { @class = "form-horizontal", @id = "TerminalAllocationHeader" }))
{
 
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-adjust"></i>
               Transaction Search
            </div>
            <div class="tools">
                <a href="" class="expand"></a>

            </div>
        </div>
        <div class="portlet-body form" id="SearchCriteriaPlaceHolder">
            <!-- BEGIN FORM-->
            <form action="#" class="horizontal-form">
                <div class="form-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Amount From", new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    <input type="text" placeholder="$" class="form-control" name="amountFrom" id="amountFrom" />
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Amount To", new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    <input type="text" placeholder="$" class="form-control" name="amountTo" id="amountTo" />

                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Date From", new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    <input type="date" name="dateFrom" class="form-control" id="dateFrom" />
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Date To", new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    <input type="date" name="dateTo" class="form-control" id="dateTo" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Terminal Id", new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    <input type="text" name="TerminalId" class="form-control" id="TerminalId" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Batch No", new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    <input type="text" name="Batchno" class="form-control" id="Batchno" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Driver Id", new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    <input type="number" name="DriverId" class="form-control" id="DriverId" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Taxi Id", new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    <input type="text" name="TaxiId" class="form-control" id="TaxiId" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions right">
                    <button type="submit" name="Command" value="Search" class="btn blue-madison">SEARCH <i class="m-icon-swapright m-icon-white"></i></button>
                </div>
            </form>

        </div>
    </div>
}


<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">Transaction List <span style="font-size:smaller">(click batch to expand)</span> </div>
     
    </div>
    <div id="TransactionDetailsPlaceHolder" class="portlet-body">

        @Html.Action("Search", "Dealer")

    </div>
</div>
@using (Html.BeginForm("Export", "Dealer", FormMethod.Post))
{
    <button type="submit" name="submitButton" value="Export" style="margin-right:10px;float:right" class="btn blue">Export To Excel</button>
}
