﻿@{
    ViewBag.Title = "Menu";
}

<div style="align-content:center; margin-left:35%; margin-right:35%">
    @if (ViewContext.Controller.HasPermission("Transaction_TransactionSearch_SearchDocket"))
    {
        <a href="@Url.Action("PrintDocket", "Transaction")"><img src="~/Images/ICONS/SearchTransaction.png" style="position:relative; float: left" /></a>
    }
</div>


@*<table cellpadding:"5" align="center">
    <tr>
       
        <td>
            <a href="@Url.Action("PrintDocket", "Transaction")"><img src="~/Images/ICONS/SearchTransaction.png" /></a>
        </td>
      
    </tr>
</table>*@
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".Transaction").addClass("active open");
        });

    </script>
}