﻿@model PhoenixObjects.Financial.PrintDocketSearchModel
@using PhoenixObjects.Enums;
@{
    ViewBag.Title = "Print Docket";
}
<style>
    .col-md-4 {
        width: 35.6% !important;
    }

    .col-md-1 {
        width: 1% !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .col-md-8 {
        width: 72.1% !important;
    }

    .control-label {
        margin-top: 7px;
        padding-right: 5px;
        padding-left: 5px;
        pointer-events: none;
    }
</style>
<h3 class="page-title">
    Search Transactions
</h3>
@using (Html.BeginForm("PrintDocket", "Transaction", FormMethod.Post, new { @id = "frmSearchTransaction" }))
{
    if (ViewBag.ErrorMessage != null)
    {
        <div style="color:red">
            @ViewBag.ErrorMessage
        </div>
        <br />
    }

    <p id="error-message" style="color: red"></p>
    @Html.ValidationMessage("error")
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-adjust"></i>
                Search
            </div>
            <div class="tools">
                <a href="" class="expand"></a>



            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form action="#" class="horizontal-form">
                <div class="form-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Transaction Date from", new { @class = "control-label col-md-3" })
                                <div class="col-md-4">
                                    <input type="datetime-local" class="form-control" name="StartDate" id="StartDate" value="@Model.StartDateString" max="9999-01-01T00:00:00" step="1" />
                                </div>
                                @Html.Label("to", new { @class = "control-label col-md-1" })
                                <div class="col-md-4">
                                    <input type="datetime-local" class="form-control" name="EndDate" id="EndDate" value="@Model.EndDateString" max="9999-01-01T00:00:00" step="1" />
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("File Date from", new { @class = "control-label col-md-3" })
                                <div class="col-md-4">
                                    <input type="date" class="form-control" name="FileDateFrom" id="FileDateFrom" value="@Model.FileDateFromString" max="9999-01-01"/>
                                </div>
                                @Html.Label("to", new { @class = "control-label col-md-1" })
                                <div class="col-md-4">
                                    <input type="date" class="form-control" name="FileDateTo" id="FileDateTo" value="@Model.FileDateToString" max="9999-01-01"/>
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.FileDateTo)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Member Id", new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.MemberID, new { @class = "form-control", id = "MemberID" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.MemberID)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Terminal Id", new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.TerminalID, new { @class = "form-control", id = "TerminalID" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.TerminalID)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/row WestPac MID & Amex MID-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Westpac MID", new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.WestPacMerchantID, new { @maxlength = "8", @class = "form-control", id = "WestPacMerchantID" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.WestPacMerchantID)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Amex MID", new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.AmexMerchantID, new { @maxlength = "10", @class = "form-control", id = "AmexMerchantID" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.AmexMerchantID)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/row BussinessType & Card No Masked-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Bussiness Type", new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.CompanyKey, (IEnumerable<SelectListItem>)ViewBag.BusinessTypeList, null, new { id = "CompanyKey", @class = "form-control" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.CompanyKey)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Card No Masked", new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.CardMask, new { @class = "form-control", id = "CardMask" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.CardMask)
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Card Type", new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.CardType, (IEnumerable<SelectListItem>)ViewBag.CardType, " ", new { id = "CardType", @class = "form-control" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.CardType)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Total Amount", new { @class = "control-label col-md-3" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.DocketFrom, new { @class = "form-control", id = "DocketFrom" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.DocketFrom)
                                    </span>
                                </div>
                                @Html.Label("to", new { @class = "control-label col-md-1" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.DocketTo, new { @class = "form-control", id = "DocketTo" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.DocketTo)
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Batch Number", new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.BatchNumber, new { @class = "form-control", id = "BatchNumber" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.BatchNumber)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Taxi ID", new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.TaxiID, new { @class = "form-control", id = "TaxiID" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.TaxiID)
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Reference ID", new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ReceiptNo, new { @class = "form-control", id = "ReceiptNo", maxlength = "30" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.ReceiptNo)
                                    </span>
                                </div>
                            </div>
                        </div>
                        @if (ViewContext.Controller.IsDisplayUIControl(SystemConfigurationKeyEnum.DisplayGlideboxUI.ToString(), BusinessDomainEnum.Glidebox))
                        {
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label("Glide Box", new { @class = "control-label col-md-3" })
                                    <div class="col-md-8">
                                        @Html.CheckBoxFor(model => model.OnlyDisplayGlideboxTransaction, new { id = "GlideboxTransaction" })
                                        <label for="GlideboxTransaction">Show Glide Box transactions only</label><br />
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Approve Status", new { @class = "control-label col-md-3" })
                                <div class="col-md-8">

                                    @Html.CheckBoxFor(model => model.ApproveStatusBool, new { id = "Approved" })
                                    <label for="Approved">Approved Transactions</label><br />
                                    @Html.CheckBoxFor(model => model.DeclineStatusBool, new { id = "Declined" })
                                    <label for="Declined">Declined Transactions</label><br />
                                    @*@Html.CheckBoxFor(model => model.DeclineStatusBool, new { id = "Both" })
                                        <label for="Both">Include Both</label>*@

                                    @*@Html.DropDownListFor(model => model.ApproveStatus, (IEnumerable<SelectListItem>)ViewBag.ApprovalStatus, new { id = "ApprovalStatus", @class = "form-control" })*@
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.ApproveStatus)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Docket Status", new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.CheckBoxFor(model => model.DocketPaidStatusChecked, new { id = "DocketPaidStatusChecked" })
                                    <label for="DocketPaidStatusChecked">Paid</label><br />
                                    @Html.CheckBoxFor(model => model.DocketPendingStatusChecked, new { id = "DocketPendingStatusChecked" })
                                    <label for="DocketPendingStatusChecked">Pending</label><br />
                                    @Html.CheckBoxFor(model => model.DocketUnknownStatusChecked, new { id = "DocketUnknownStatusChecked" })
                                    <label for="DocketUnknownStatusChecked">Unknown</label><br />
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="form-actions right">
                    <button type="submit" name="Command" value="Search" class="btn blue-madison">Search <i class="m-icon-swapright m-icon-white"></i></button>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
}

@if (Model.TransactionSearch_ResultModel != null && Model.TransactionSearch_ResultModel.Count > 0)
{
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Transaction Search Result
            </div>
            <div style="float:right">
                @Html.ActionLink("Export to Excel", "ExportToExcel", "Transaction", null, new { Class = "btn btn-default btn-sm" })
                @Html.ActionLink("Export to CSV", "ExportToCSV", "Transaction", null, new { Class = "btn btn-default btn-sm" })
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 500px;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Print Receipt
                            </th>
                            <th>
                                Trading Name
                            </th>
                            <th>
                                MemberId
                            </th>
                            <th>
                                Business type
                            </th>
                            <th>
                                Amex Merchant ID
                            </th>
                            <th>
                                Taxi Name
                            </th>
                            <th>
                                TerminalID
                            </th>
                            <th>
                                Fare
                            </th>
                            <th>
                                Cash Out
                            </th>
                            <th>
                                Extras
                            </th>
                            <th>
                                Service Fee
                            </th>
                            <th>
                                Total Amount
                            </th>
                            @if (ViewContext.Controller.IsDisplayUIControl(SystemConfigurationKeyEnum.DisplayGlideboxUI.ToString(), BusinessDomainEnum.Glidebox))
                            {
                                <th>
                                    Glide Box Amount
                                </th>
                                <th>
                                    Glide Box Commission
                                </th>
                            }

                            <th>
                                Authorisation/Receipt No.
                            </th>
                            <th>
                                Batch Number
                            </th>
                            <th>
                                CardType
                            </th>
                            <th>
                                Card Number
                            </th>
                            <th>
                                Docket Status
                            </th>
                            <th>
                                Transaction date time
                            </th>
                            <th>
                                DriverId
                            </th>
                            <th>
                                Filedate
                            </th>
                            <th>
                                IsApproved
                            </th>

                            <th>
                                Westpac MID
                            </th>
                            <th>
                                Office Name
                            </th>
                            <th>
                                Paid To
                            </th>
                            <th>
                                Pay Date
                            </th>
                            <th>
                                Pay type
                            </th>

                            <th>
                                Processed By
                            </th>
                            <th>
                                Pickup
                            </th>
                            <th>
                                DropOff
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Card Entry Mode
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var r in Model.TransactionSearch_ResultModel)
                        {
                            <tr>
                                <td>
                                    @if (!(r.Authorisation.Length == 10 && r.Pickup == "Online"))
                                    {
                                        @Html.ActionLink("Print", "Print", new { TransactionID = @r.TransactionID, IsApproved = @r.IsApproved }, new { target = "_blank" })
                                    }
                                </td>
                                <td>
                                    @if (@r.MemberId != null && @r.MemberId != string.Empty)
                                    {
                                        if (@r.TradingName != null && @r.TradingName != "")
                                        {
                                            @Html.ActionLink(@r.TradingName, "ShowMember", new { id = @r.MemberId }, new { target = "_blank" })
                                        }
                                    }
                                    else
                                    {
                                        @r.TradingName
                                    }
                                </td>
                                <td>
                                    @if (@r.MemberId != null && @r.MemberId != string.Empty)
                                    {
                                        @Html.ActionLink(@r.MemberId, "ShowMember", new { id = @r.MemberId }, new { target = "_blank" })
                                    }
                                    else
                                    {
                                        @r.MemberId
                                    }
                                </td>
                                <td>
                                    @r.BusinessTypeName
                                </td>
                                <td>
                                    @r.AmexMID
                                </td>
                                <td>
                                    @r.Taxi
                                </td>
                                <td>
                                    @r.TerminalID
                                </td>
                                <td>
                                    @r.Fare
                                </td>
                                <td>
                                    @r.CashOut
                                </td>
                                <td>
                                    @r.Extras
                                </td>
                                <td>
                                    @r.ServiceFee
                                </td>
                                <td>
                                    @r.TotalAmount
                                </td>
                                @if (ViewContext.Controller.IsDisplayUIControl(SystemConfigurationKeyEnum.DisplayGlideboxUI.ToString(), BusinessDomainEnum.Glidebox))
                                {
                                    <td>
                                        @r.GlideboxAmount.ToString("0.00")
                                    </td>
                                    <td>
                                        @r.GlideboxCommission.ToString("0.00")
                                    </td>
                                }
                                <td>
                                    @r.Authorisation
                                </td>
                                <td>
                                    @r.BatchNumber
                                </td>
                                <td>
                                    @r.CardType
                                </td>
                                <td>
                                    @r.MaskedCardNum
                                </td>
                                <td>
                                    @r.DocketStatus
                                </td>
                                <td>
                                    @r.TransactionDateTime
                                </td>
                                <td>
                                    @r.DriverId
                                </td>
                                <td>
                                    @r.Filedate
                                </td>
                                <td>
                                    @r.IsApproved
                                </td>
                                <td>
                                    @r.Merchantid
                                </td>
                                <td>
                                    @r.OfficeName
                                </td>
                                <td>
                                    @r.PaidTo
                                </td>
                                <td>
                                    @r.PayDate
                                </td>
                                <td>
                                    @r.paytype
                                </td>

                                <td>
                                    @r.ProcessedBy
                                </td>
                                <td>
                                    @r.Pickup
                                </td>
                                <td>
                                    @r.DropOff
                                </td>
                                <td>
                                    @r.Status
                                </td>
                                <td>
                                    @r.CardEntryMode
                                </td>

                                @*<td>
                                        @r.TransactionID
                                    </td>*@

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".Transaction").addClass("active open");

            $("#frmSearchTransaction").submit(function (event) {
                var isValidStartDateEndDate = Util.CheckStartDateFollowEndDate("StartDate", "EndDate", "error-message");
                if (!isValidStartDateEndDate) {
                    event.preventDefault();
                    return;
                }

                if ($("#FileDateTo").val() && $("#FileDateFrom").val()) {
                    var isValidFileDateEnd = Util.CheckStartDateFollowEndDate("FileDateFrom", "FileDateTo", "error-message");
                    if (!isValidFileDateEnd) {
                        event.preventDefault();
                        return;
                    }
                }
               

                $("#error-message").text("");
            });
        });

    </script>
}

