﻿@model PhoenixObjects.Transaction.MissingTransactionSearchModel
@{
    ViewBag.Title = "Reconcile Missing";
}
<h3 class="page-title">
    Search Transactions
</h3>
@using (Html.BeginForm("ReconcileMissing", "Transaction", FormMethod.Post))
{
    @Html.ValidationMessage("error")
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-adjust"></i>
                Search
            </div>
            <div class="tools">
                <a href="" class="expand"></a>

            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <div class="form-body">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Start Date", new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                <input type="datetime-local" class="form-control" name="StartDate" id="StartDate" value="@Model.StartDateString" />

                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("End Date", new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                <input type="datetime-local" class="form-control" name="EndDate" id="EndDate" value="@Model.EndDateString" />
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.EndDate)
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Member Id", new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.MemberID, new { @class = "form-control", id = "MemberID" })
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.MemberID)
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Terminal Id", new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.TerminalID, new { @class = "form-control", id = "TerminalID" })
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.TerminalID)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Card No Masked", new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.CardMask, new { @class = "form-control", id = "CardMask" })
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.CardMask)
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Card Type", new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.CardType, (IEnumerable<SelectListItem>)ViewBag.CardType, new { id = "CardType", @class = "form-control" })
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.CardType)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Taxi ID", new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.TaxiID, new { @class = "form-control", id = "TaxiID" })
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.TaxiID)
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Amount", new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.DocketFrom, new { @class = "form-control", id = "DocketFrom" })
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.DocketFrom)
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Batch Number", new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.BatchNumber, new { @class = "form-control", id = "BatchNumber" })
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.BatchNumber)
                                </span>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Amount to", new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.DocketTo, new { @class = "form-control", id = "BatchNumber" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.DocketTo)
                                    </span>
                                </div>
                            </div>
                        </div>*@
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Approve Status", new { @class = "control-label col-md-3" })
                            <div class="col-md-6">

                                @Html.CheckBoxFor(model => model.ApproveStatusBool, new { id = "Approved" })
                                <label for="Approved">Approved Transactions</label><br />
                                @Html.CheckBoxFor(model => model.DeclineStatusBool, new { id = "Declined" })
                                <label for="Declined">Declined Transactions</label><br />
                                @*@Html.CheckBoxFor(model => model.DeclineStatusBool, new { id = "Both" })
                                    <label for="Both">Include Both</label>*@

                                @*@Html.DropDownListFor(model => model.ApproveStatus, (IEnumerable<SelectListItem>)ViewBag.ApprovalStatus, new { id = "ApprovalStatus", @class = "form-control" })*@
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.ApproveStatus)
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-actions right">
                @*<button type="button" onclick="history.go(-1);return true;" class="btn default">Cancel</button>*@


                <button type="submit" name="Command" value="Search" class="btn blue-madison">SEARCH <i class="m-icon-swapright m-icon-white"></i></button>

                @*<button type="submit" class="btn blue"><i class="fa fa-check"></i> Save</button>*@
            </div>

            <!-- END FORM-->
        </div>
    </div>
}

@if (Model.CadMusIn != null && Model.CadMusIn.Count > 0)
{
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Transaction Search Result
            </div>
            <div style="float:right">
                @Html.ActionLink("Export to Excel", "ExportReconcileMissing", "Transaction", null, new { Class = "btn btn-default btn-sm" })
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 500px;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Print Receipt
                            </th>
                            <th>
                                Trading Name
                            </th>
                            <th>
                                MemberId
                            </th>
                            <th>
                                Taxi Name
                            </th>
                            <th>
                                TerminalID
                            </th>
                            <th>
                                Fare
                            </th>
                            <th>
                                Extras
                            </th>
                            <th>
                                Service Fee
                            </th>
                            <th>
                                Total Amount
                            </th>
                            <th>
                                Authorisation
                            </th>
                            <th>
                                Batch Number
                            </th>
                            <th>
                                CardType
                            </th>
                            <th>
                                Card Number
                            </th>
                            <th>
                                Docket Status
                            </th>
                            <th>
                                DriverId
                            </th>
                            <th>
                                End Date
                            </th>
                            <th>
                                End Shift
                            </th>
                            <th>
                                Filedate
                            </th>
                            <th>
                                IsApproved
                            </th>

                            <th>
                                Merchantid
                            </th>
                            <th>
                                Office Name
                            </th>
                            <th>
                                Paid To
                            </th>
                            <th>
                                Pay Date
                            </th>
                            <th>
                                Pay type
                            </th>

                            <th>
                                Processed By
                            </th>

                            <th>
                                Start Date
                            </th>
                            <th>
                                Start Shift
                            </th>
                            <th>
                                Pickup
                            </th>
                            <th>
                                DropOff
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Card Entry Mode
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var r in Model.CadMusIn)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink("Print", "Print", new { TransactionID = @r.TransactionID, IsApproved = @r.IsApproved }, new { target = "_blank" })
                                </td>
                                <td>
                                    @if (@r.MemberId != null && @r.MemberId != string.Empty)
                                    {
                                        if (@r.TradingName != null)
                                        {
                                            @Html.ActionLink(@r.TradingName, "ShowMember", new { id = @r.MemberId }, new { target = "_blank" })
                                        }
                                    }
                                    else
                                    {
                                        @r.TradingName
                                    }
                                </td>
                                <td>
                                    @if (@r.MemberId != null && @r.MemberId != string.Empty)
                                    {
                                        @Html.ActionLink(@r.MemberId, "ShowMember", new { id = @r.MemberId }, new { target = "_blank" })
                                    }
                                    else
                                    {
                                        @r.MemberId
                                    }
                                </td>
                                <td>
                                    @r.Taxi
                                </td>
                                <td>
                                    @r.TerminalID
                                </td>
                                <td>
                                    @r.Fare
                                </td>
                                <td>
                                    @r.Extras
                                </td>
                                <td>
                                    @r.ServiceFee
                                </td>
                                <td>
                                    @r.TotalAmount
                                </td>
                                <td>
                                    @r.Authorisation
                                </td>
                                <td>
                                    @r.BatchNumber
                                </td>
                                <td>
                                    @r.CardType
                                </td>
                                <td>
                                    @r.MaskedCardNum
                                </td>
                                <td>
                                    @r.DocketStatus
                                </td>
                                <td>
                                    @r.DriverId
                                </td>

                                <td>
                                    @r.EndDate
                                </td>
                                <td>
                                    @r.EndShift
                                </td>
                                <td>
                                    @r.Filedate
                                </td>
                                <td>
                                    @r.IsApproved
                                </td>
                                <td>
                                    @r.Merchantid
                                </td>
                                <td>
                                    @r.OfficeName
                                </td>
                                <td>
                                    @r.PaidTo
                                </td>
                                <td>
                                    @r.PayDate
                                </td>
                                <td>
                                    @r.paytype
                                </td>

                                <td>
                                    @r.ProcessedBy
                                </td>

                                @*<td>
                                        @r.SourceFile
                                    </td>*@
                                <td>
                                    @r.StartDate
                                </td>
                                <td>
                                    @r.StartShift
                                </td>
                                <td>
                                    @r.Pickup
                                </td>
                                <td>
                                    @r.DropOff
                                </td>
                                <td>
                                    @r.Status
                                </td>
                                <td>
                                    @r.CardEntryMode
                                </td>

                                @*<td>
                                        @r.TransactionID
                                    </td>*@

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

}

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-6 right">
                @using (Html.BeginForm("BankFileUpload", "Transaction", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <div class="col-md-6 right">
                        <input type="file" name="file" />
                    </div>
                    <div class="col-md-6 right">
                        <input type="submit" value="Upload" />
                    </div>
                }
            </div>

        </div>
    </div>
</div>

@if (Model.BankFile == null && Model.BankFile.Count() == 0) { return; }
@using (Html.BeginForm("Import", "Transaction", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-6 right">

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <div class="col-md-6 right">
                        <input type="submit" value="Import In Phoenix" />
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Transaction Search Result
            </div>
            <div style="float:right">
                @Html.ActionLink("Export to Excel", "ExportReconcileMissing", "Transaction", null, new { Class = "btn btn-default btn-sm" })
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 500px;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Select
                            </th>
                            <th>
                                Merchant ID
                            </th>
                            <th>
                                Terminal Id
                            </th>
                            <th>
                                Settlement Date
                            </th>
                            <th>
                                Transaction Date
                            </th>
                            <th>
                                Transaction Time
                            </th>
                            <th>
                                STAN
                            </th>
                            <th>
                                Card Issuer
                            </th>
                            <th>
                                Card Number
                            </th>
                            <th>
                                Account
                            </th>
                            <th>
                                Expiry
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                TransType
                            </th>
                            <th>
                                Approved
                            </th>
                            <th>
                                Reversal
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.BankFile.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.CheckBoxFor(item => item.BankFile[i].IsChecked)
                                </td>
                                <td>
                                    @Html.LabelFor(item => item.BankFile[i].MerchantID)
                                </td>
                                <td>
                                    @Html.LabelFor(item => item.BankFile[i].TerminalId)
                                </td>
                                <td>
                                    @Html.LabelFor(item => item.BankFile[i].SettlementDate)
                                </td>
                                <td>
                                    @Html.LabelFor(item => item.BankFile[i].TransactionDate)
                                </td>
                                <td>
                                    @Html.LabelFor(item => item.BankFile[i].TransactionTime)
                                </td>
                                <td>
                                    @Html.LabelFor(item => item.BankFile[i].STAN)
                                </td>
                                <td>
                                    @Html.LabelFor(item => item.BankFile[i].CardIssuer)
                                </td>
                                <td>
                                    @Html.LabelFor(item => item.BankFile[i].CardNumber)
                                </td>
                                <td>
                                    @Html.LabelFor(item => item.BankFile[i].Account)
                                </td>
                                <td>
                                    @Html.LabelFor(item => item.BankFile[i].Account)
                                </td>
                                <td>
                                    @Html.LabelFor(item => item.BankFile[i].Expiry)
                                </td>
                                <td>
                                    @Html.LabelFor(item => item.BankFile[i].Amount)
                                </td>
                                <td>
                                    @Html.LabelFor(item => item.BankFile[i].TransType)
                                </td>
                                <td>
                                    @Html.LabelFor(item => item.BankFile[i].Reversal)
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".Transaction").addClass("active open");
        });
    </script>


}

