﻿/*Button Style*/
/*.submitbutton {
    background:#acb4cb; color:#fff; 
    cursor:pointer;
    padding:5px 10px; 
    -moz-border-radius:4px;
    -webkit-border-radius:4px
}

.cancelbutton {
    background:red; color:#fff; 
    cursor:pointer;
    padding:5px 10px; 
    -moz-border-radius:4px;
    -webkit-border-radius:4px
}*/
.quarterB {
    float:left;
    width:19%;
}
.quarter {
    float:left;
    width:22%;
}

.partForm
{
    padding:5px 5px 5px 5px;
    float:left;
    width:98%;
    margin-left:5%;
}

.third
{
    float:left;
    width:32%;
}


.half
{
    float:left;
    width:48%;
}


/*.strong
{
    font-weight:bolder;
}

.editor-field-medium input, .editor-field-medium select
{
    width:200px;
}

.editor-field-long input, .editor-field-long select
{
    width:300px;
}

.editor-field-longer input, .editor-field-longer select
{
    width:400px;
}

.editor-field-longeest input, .editor-field-longeest select
{
    width:500px;
}

.editor-field-longeest1 input, .editor-field-longeest1 select
{
    width:900px;
}

.editor-field-short input, .editor-field-short select
{
    width:100px;
}

.editor-field-shorter input, .editor-field-shorter select
{
    width:50px;
}
.editor-field-shortery input, .editor-field-shortery select
{
    width:70px;
}

*/

.editor-field span 
{   float:left;
    color: #333;
    font-size: 1em;
    font-weight:bold;
    line-height:20px;
    margin: 5px 0 6px 0;
    padding: 5px 0 6px 0;
    width:100%;
}

select
{
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    height:30px;
}
/*.ui-dialog { position: absolute; top: 0; left: 0; padding: 0; width: 300px; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative; border:none;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .1em 0; }
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }

.ui-tabs { position: relative; padding: 0em; zoom: 1; } 

.ui-tabs .ui-tabs-nav { margin: 0; padding: 0em .2em 0; }



.tblList {
    margin:0;
    border: 1px solid #959595;
}

.tblList td {
	padding : 1px;
	border: 1px solid #959595;
}
.rowa {
	background: #ffffff;
    height: 25px;
}
.rowb {
	background: #d1fafc;
    height: 25px;
}*/

/*.tblList .cell {
	padding: 1px;
	border: 1px solid #959595;
}*/
