﻿@{
    ViewBag.Title = "Change Password";
}
<h3 class="page-title">
    Change Password
    <small>user information</small>
</h3>
<h4 style="color:red">@ViewBag.Error</h4>
<h4 style="color:green">@ViewBag.Msg</h4>
@using (Html.BeginForm())
{
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
            User Information
        </div>
    </div>
    <div class="portlet-body form">
        <div class="form-body">
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Old Password", new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <input class="form-control" type="password" name="OldPassword" id="OldPassword" />
                        <span class="help-block">
                        
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("New Password", new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <input class="form-control" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="at least eight symbols containing at least one number, one lower, and one upper letter" name="NewPassword" id="NewPassword" />
                        <span class="help-block">

                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Confirm Password", new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <input class="form-control" type="password" name="ConfirmPassword" id="ConfirmPassword" />
                        <span class="help-block">

                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions right">
            <button type="submit" class="btn blue"><i class="fa fa-check"></i>Save</button>
        </div>
    </div>
</div>
}
