﻿@model PhoenixObjects.UserAuthentication.UserProfileModel

@{
    ViewBag.Title = "Profile";
}
<h3 class="page-title">
    Profile
    <small>user information</small>
</h3>
<h4 style="color:red">@ViewBag.Error</h4>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
            User Information
        </div>
    </div>
    <div class="portlet-body form">
        <div class="form-body">
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("User Name", new { @class = "control-label col-md-3" })
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.UserName, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Office", new { @class = "control-label col-md-3" })
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.Office, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="form-actions left">
            @Html.ActionLink("Change Password", "ChangePassword", null, new { @class = "btn blue" })
        </div>
    </div>
</div>



@using (Html.BeginForm("SaveFreshDeskAPI", "Profile", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-adjust"></i>
                Fresh Desk API
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("API Key", new { @class = "control-label col-md-3" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.FreshDeskAPI, new { @class = "form-control" })
                            @Html.HiddenFor(model => model.UserName, new { @class = "form-control" })
                            @Html.HiddenFor(model => model.Office, new { @class = "form-control" })
                            @Html.HiddenFor(model => model.UserId, new { @class = "form-control" })
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">

                        Where can I find my API key?
                        <br />
                        <ul>
                            <li>Log in to your <a href="https:livegroup.freshdesk.com">Support Portal</a></li>
                            <li>Click on your profile picture on the top right corner of your portal.</li>
                            <li>Go to Profile settings Page</li>
                            <li>Your API key will be available below the change password section to your right</li>
                        </ul>
                    </div>
                </div>
            </div>
            <br />

            <div class="form-actions left">
                <button type="submit" class="btn blue" id="btnSave"><i class="fa fa-check"></i> Save</button>
            </div>
        </div>
    </div>

}





@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".Adminitration").addClass("active open");
        });

    </script>
}
