﻿@{
    ViewBag.Title = "Manage Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3" style="font-size:30px" id="product-header"></div>
    <input id="product-categoryID" hidden value="@ViewBag.CategoryID" />
    <div class="col-md-9">
        @if (ViewContext.Controller.HasPermission("ManageGlideBox"))
        {
            <span class="product-action">
                <button type="button" class="btn btn-primary" hidden id="btnAdd"><i class="fa fa-plus"></i></button>
            </span>

            <span class="product-action">
                <button type="button" class="btn btn-primary" hidden id="add-product"><i class="fa fa-plus"></i></button>
            </span>

            <span class="product-action">
                <button type="button" class="btn btn-primary" hidden id="edit-category"><i class="fa fa-pencil"></i></button>
            </span>
        }
    </div>
</div>

<div id="manageProduct">
    <div class="row" style="margin-bottom: 15px; margin-top:15px">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="search-group">
                <input id="textAdvanceSearch" title="Filter Product" type="text" class="form-control" placeholder="Search Product" />
                <button class="glyphicon glyphicon-search" id="btnSearchProduct"></button>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            @Html.DropDownList("CategoryID", (IEnumerable<SelectListItem>)ViewBag.Categories, new { @class = "form-control", @style="width: 330px;" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" id="parentManageProductGrid">
                <table id="gridManageProduct"></table>
                <div id="gridManageProductPager"></div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/Glidebox/_ActivateDeactivateProductDialog.cshtml")
@Html.Partial("~/Views/Shared/Glidebox/_ProductDialog.cshtml")
@Html.Partial("~/Views/Shared/Glidebox/_GlideboxHistoryDialog.cshtml")
@Html.Partial("~/Views/Shared/Glidebox/_ProductDetailDialog.cshtml")
@Html.Partial("~/Views/Shared/Glidebox/_CategoryDialog.cshtml")

@section scripts
{
    <script src="~/Scripts/Common-Utils.js"></script>

    <script src="~/Scripts/pages/Product/PH-ManageProduct.js"></script>
    <script src="~/Scripts/pages/Product/PH-ManageProductService.js"></script>

    <script src="~/Scripts/pages/Product/PH-ProductDialog.js"></script>
    <script src="~/Scripts/pages/Product/PH-ActivateDeactivateProductDialog.js"></script>

    <script src="~/Scripts/pages/Glidebox/PH-GlideboxHistoryDialog.js"></script>
    <script src="~/Scripts/pages/Glidebox/PH-GlideboxService.js"></script>

    <script src="~/Scripts/pages/Category/PH-ManageCategoryService.js"></script>
    <script src="~/Scripts/pages/Category/PH-CategoryDialog.js"></script>

    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".glide-box").addClass("active open");

            $('.ui-jqgrid .ui-jqgrid-bdiv').css('overflow-x', 'hidden'); //hide horizontal scroll bar
        });
    </script>

    <style>
        .search-group {
            position: relative;
            float: left;
            width: 21em;
            margin-right: 5%;
        }

        .search-group #btnSearchProduct {
            position: absolute;
            padding: 10px;
            right: 0px;
            color: white;
            background-color: #428bca;
            cursor: pointer;
            left: 21em;
            top: -2.4em;
            position: relative;
            border: none;
        }

        .ui-jqgrid-labels {
            font-size: 12.5px;
        }

        #gridManageProduct tr.jqgrow td {
            height: 30px;
            font-size: 12.5px;
        }

        /*Wrapping text lines*/
        .ui-jqgrid tr.jqgrow td {
            white-space: pre-wrap !important;
            word-break: break-all !important;
        }

        .product-action {
            float: right;
            margin-right: 10px
        }
    
    </style>
}