﻿@{
    Layout = "";
}
<div class="form" id="div_AddNote" style="margin: 0px 3px 0px 3px;">
    <form>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Notes description </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <textarea class="form-control search-param" cols="20" id="NoteDesciption" maxlength="255" required name="NoteDesciption" rows="5" style="resize: none;"></textarea>
                </div>
            </div>
        </div>
        <div>
            <input class="search-param" type="checkbox" id="NoteType" />
            <label for="NoteType">Mark as high priority</label>
        </div>
    </form>

    <div class="row" style="text-align: right; margin:0px;">
        <button class="btn action-btn action-cancel" onclick="CloseDialog()">CANCEL</button>
        <button class="btn action-btn action-proceed">ADD</button>
    </div>
</div>
