﻿@{
    Layout = "";
}
<div class="form" id="div_AddNote" style="margin: 0px 3px 0px 3px;">
    <form>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Description </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <textarea class="form-control search-param" cols="20" id="NoteDesciption" maxlength="255" required name="NoteDesciption" rows="5" style="resize: none;"></textarea>
                </div>
            </div>
        </div>
    </form>

    <div class="row" style="text-align: right; margin-top: 10px;">
        <div class="col-md-12">
            <button class="btn action-btn action-cancel" onclick="CloseDialog()">CANCEL</button>
            <button class="btn action-btn action-proceed" onclick="AddNote()">ADD</button>
        </div>
    </div>
</div>
<style>
    form{
        font-size: 12px;
    }
    #div_AddNote .form-group, #div_AddNote .row {
        margin-top: 0px;
        margin-bottom: 0px;
    }
   
</style>