﻿@model PhoenixWeb.Models.ViewModel.FraudMonitoring.ReverseTransactionDetail
@{
    Layout = "";
}
@if (!string.IsNullOrEmpty(Model.Error))
{
    <div>
        @Html.TextBoxFor(m => m.Error)
    </div>
}
else
{
    <div class="form" id="div_CreateReverse">
        <form>
            @Html.TextBoxFor(m => m.DocketKey, new { @class = "hidden search-param" })
            <div class="row no-margin">
                <div class="cluster" style="width:50%;">
                    <div class="row no-margin title-div">
                        <div class="form-group">
                            <b>TRANSACTION DETAILS</b>
                        </div>
                    </div>
                    <div class="row form-group no-margin">
                        <div class="label-div">
                            @Html.LabelFor(m => m.Member, new { @class = "control-label" })
                        </div>
                        <div class="value-div">
                            @Html.DisplayFor(m => m.Member)
                        </div>
                    </div>
                    <div class="row form-group no-margin">
                        <div class="label-div">
                            @Html.LabelFor(m => m.BusinessType, new { @class = "control-label" })
                        </div>
                        <div class="value-div">
                            @Html.DisplayFor(m => m.BusinessType)
                        </div>
                    </div>
                    <div class="row form-group no-margin">
                        <div class="label-div">
                            @Html.LabelFor(m => m.TerminalId, new { @class = "control-label" })
                        </div>
                        <div class="value-div">
                            @Html.DisplayFor(m => m.TerminalId)
                        </div>
                    </div>
                    <div class="row form-group no-margin">
                        <div class="label-div">
                            @Html.LabelFor(m => m.TransactionDate, new { @class = "control-label" })
                        </div>
                        <div class="value-div">
                            @Html.DisplayFor(m => m.TransactionDate)
                        </div>
                    </div>
                    <div class="row form-group no-margin">
                        <div class="label-div">
                            @Html.LabelFor(m => m.TransactionResponse, new { @class = "control-label" })
                        </div>
                        <div class="value-div">
                            @Html.DisplayFor(m => m.TransactionResponse)
                        </div>
                    </div>
                    <div class="row form-group no-margin">
                        <div class="label-div">
                            @Html.LabelFor(m => m.CardNumber, new { @class = "control-label" })
                        </div>
                        <div class="value-div">
                            @Html.DisplayFor(m => m.CardNumber)
                        </div>
                    </div>
                    <div class="row form-group no-margin">
                        <div class="label-div">
                            @Html.LabelFor(m => m.CardMode, new { @class = "control-label" })
                        </div>
                        <div class="value-div">
                            @Html.DisplayFor(m => m.CardMode)
                        </div>
                    </div>
                    <div class="row form-group no-margin">
                        <div class="label-div">
                            @Html.LabelFor(m => m.PaymentStatus, new { @class = "control-label" })
                        </div>
                        <div class="value-div">
                            @Html.DisplayFor(m => m.PaymentStatus)
                        </div>
                    </div>
                    <div class="row form-group no-margin">
                        <div class="label-div">
                            @Html.LabelFor(m => m.FaceValue, new { @class = "control-label" })
                        </div>
                        <div class="value-div">
                            @Html.DisplayFor(m => m.FaceValue)
                        </div>
                    </div>
                    <div class="row form-group no-margin">
                        <div class="label-div">
                            @Html.LabelFor(m => m.Extras, new { @class = "control-label" })
                        </div>
                        <div class="value-div">
                            @Html.DisplayFor(m => m.Extras)
                        </div>
                    </div>
                    <div class="row form-group no-margin">
                        <div class="label-div">
                            @Html.LabelFor(m => m.ServiceCharge, new { @class = "control-label" })
                        </div>
                        <div class="value-div">
                            @Html.DisplayFor(m => m.ServiceCharge)
                        </div>
                    </div>
                    <div class="row form-group no-margin">
                        <div class="label-div">
                            @Html.LabelFor(m => m.Gst, new { @class = "control-label" })
                        </div>
                        <div class="value-div">
                            @Html.DisplayFor(m => m.Gst)
                        </div>
                    </div>
                    <div class="row form-group no-margin">
                        <div class="label-div">
                            @Html.LabelFor(m => m.LevyCharge, new { @class = "control-label" })
                        </div>
                        <div class="value-div">
                            @Html.DisplayFor(m => m.LevyCharge)
                        </div>
                    </div>
                    <div class="row form-group no-margin">
                        <div class="label-div">
                            @Html.LabelFor(m => m.TotalAmount, new { @class = "control-label" })
                        </div>
                        <div class="value-div">
                            @Html.DisplayFor(m => m.TotalAmount)
                        </div>
                    </div>
                </div>
                <div class="cluster" style="width:50%;">
                    <div class="row no-margin title-div">
                        <div class="form-group">
                            <b>REVERSAL DETAILS</b>
                        </div>
                    </div>
                    <div class="row form-group no-margin">
                        <div class="label-div">
                            @Html.LabelFor(m => m.ReverseAmount, new { @class = "control-label" })
                        </div>
                        <div class="value-div">
                            @Html.DisplayFor(m => m.ReverseAmount)
                        </div>
                    </div>
                    <div class="row form-group no-margin">
                        <div class="label-div">
                            @Html.LabelFor(m => m.ReverseReasonKey, new { @class = "control-label" })
                        </div>
                        <div class="value-div">
                            @Html.DropDownListFor(m => m.ReverseReasonKey, Model.ReverseReasons, new { @class = "form-control search-param"})
                            <label for="ReverseReasonKey" class="error" style="display:none;">Please select a reverse reason.</label>
                        </div>
                    </div>
                    <div class="row form-group no-margin">
                        <div class="label-div">
                            @Html.LabelFor(m => m.OtherReverseReason, new { @class = "control-label" })
                        </div>
                        <div class="value-div">
                            @Html.TextBoxFor(m => m.OtherReverseReason, new { @class = "form-control search-param disabled", @maxlength = "255" })
                            <label for="OtherReverseReason" class="error" style="display:none;">Other reason is required.</label>
                        </div>
                    </div>
                    <div class="row form-group no-margin">
                        <div class="label-div">
                            @Html.LabelFor(m => m.FreshdeskTicketNo, new { @class = "control-label" })
                        </div>
                        <div class="value-div">
                            @Html.TextBoxFor(m => m.FreshdeskTicketNo, new { @class = "form-control search-param", @maxlength = "10" })
                        </div>
                    </div>
                    <div class="row form-group no-margin">
                        <div class="label-div">
                            @Html.LabelFor(m => m.ReverseNote, new { @class = "control-label" })
                        </div>
                        <div class="value-div">
                            @Html.TextAreaFor(m => m.ReverseNote, new { @class = "form-control search-param", @rows = 6, @style = "resize: none;", @maxlength = "255" })
                        </div>
                    </div>
                </div>
            </div>
        </form>


        <div class="row" style="text-align: right; margin:0px;">
            <button class="btn action-btn action-cancel" onclick="CloseDialog()">CANCEL</button>
            <button class="btn action-btn action-proceed">REVERSE</button>
        </div>
    </div>
    <style>
        #dialog {
            font-size: 12px;
            font-family: "Open Sans", sans-serif;
        }

        .cluster {
            float: left;
            display: block;
        }

        .title-div{
            margin-bottom: 0px;
        }
        #dialog .form-group .label-div {
            width: 170px;
            float: left;
            display: block;
        }

            #dialog .form-group .label-div label, #dialog .form-group .value-div span {
                height: 24px;
                margin-bottom: 3px;
                margin-top: 3px;
            }
        #dialog .form-group input, #dialog .form-group select {
            border: 1px solid #ccc !important;
            border-radius: 2px !important;
            outline: none;
            height: 28px;
        }

            #dialog .form-group input:focus, #dialog .form-group select:focus, #dialog .form-group textarea:focus {
                border: 1px solid #3598dc !important;
            }

        #dialog .form-group .value-div {
            width: calc(100% - 170px);
            float: left;
            display: block;
        }

        input.disabled {
            background-color: #dadada;
            pointer-events: none;
        }

        .form-group {
        }
        label.error{
            margin-bottom: 0px;
        }
        .input-icon > i{
            top: 4px;
        }

        .value-div{
            padding-top: 3px;
        }
            .value-div input, .value-div div.input-icon, .value-div select, .value-div textarea {
                margin-top: -3px;
            }

        #dialog .form-group label, .form-group input, .form-group span{
            margin-bottom: 2px;
        }
    </style>
}