﻿@model PhoenixWeb.Models.ViewModel.FraudMonitoring.DocketTransactionDetailVM
@{
    ViewBag.Title = "Transaction Detail";
}
<style>
    .page-content, .ui-widget, .ui-jqgrid .ui-jqgrid-view, .ui-widget .btn-inline {
        font-size: 12px !important;
        font-family: "Open Sans", sans-serif;
    }
    .form-group row no-margin > div > input {
        width: 100%;
    }

    #DocketInfo_div label {
        pointer-events: none;
    }

    .form-group row no-margin > div:nth-child(2) {
        padding-left: 0px;
        padding-right: 0px;
    }

    .form-group row no-margin label, .form-group row no-margin input, .form-group row no-margin span {
        min-height: 20px;
        margin-bottom: 5px;
        white-space: pre-wrap;
        word-wrap:break-word;
    }
    
    .div-Title {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .bold-text, .bold-text label, .bold-text input {
        font-weight: 900;
    }

    .no-padding {
        padding-left: 0px;
        padding-right: 0px;
    }
    .action-btn, .action-btn:hover, .action-btn:focus {
        padding: 5px 10px;
        min-width: 80px;
        background-color: #3598DC;
        border-color: #3598DC;
        border-radius: 3px !important;
        color: #ffffff;
    }

    .ui-jqgrid tr.jqgrow td {
        height: 32px!important;
        vertical-align: middle;
    }

    .ui-jqgrid tr.ui-jqgrid-labels th {
        height: 36px;
        vertical-align: middle;
    }

    .ui-jqgrid tr.ui-jqgrid-labels th, .ui-jqgrid tr.jqgrow td, .frozen-bdiv .jqgfirstrow > td {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }

    .ui-jqgrid .ui-jqgrid-resize-ltr {
        margin-right: -10px !important;
    }
    .ui-widget-content {
        background: none;
        background-color: #ffffff;
    }

        .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
            background: none;
            background-color: #ffffff;
        }

        .ui-widget-content .ui-state-hover, .ui-widget-content .ui-state-highlight {
            background: none !important;
            background-color: #eeeeee !important;
            border: 1px solid #ddd;
            color: #333;
        }

    .ui-jqgrid .ui-jqgrid-hdiv .ui-state-hover.ui-th-column, .ui-jqgrid .ui-jqgrid-hdiv .ui-state-highlight.ui-th-column {
        color: #1c94c4;
    }
    .btn-inline {
        border-collapse: collapse;
        border-width: thin;
        border-radius: 2px !important;
        outline: none;
    }
    .portlet-form .form-body, .form .form-body {
        padding-bottom: 0px !important;
        padding-top: 0px !important;
        padding-left: 10px;
    }
    .ui-jqgrid-htable tr th.ui-th-column.left {
        text-align: left !important;
    }

    .ui-jqgrid-htable tr th.ui-th-column.right {
        text-align: right !important;
    }
    .ui-jqgrid tr.ui-row-ltr td{
        white-space: pre-wrap!important;
        word-wrap:break-word!important;
    }
    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }
    h3.page-title {
        padding-left: 25px;
        margin-bottom: 10px;
    }
    .portlet.box{
        margin-bottom: 0px;
    }
    label.error {
        color: red;
        pointer-events: none;
    }
    #tbl_TransactionNote div.ui-jqgrid-bdiv {
        max-height: 128px !important
    }
</style>
<h3 class="page-title" id="title">
</h3>
@Html.TextBoxFor(m => m.DocketKey, new { @class = "hidden" })
@Html.TextBoxFor(m => m.MemberKey, new { @class = "hidden" })
<p id="error-message" style="color: red"></p>
<div class="portlet box">
    <div class="portlet-body form" id="DocketInfo_div">
        <div class="row" style="background-color: #f5f5f5;margin-left:0px;margin-right:0px;padding-bottom:16px;">
            <div class="col-lg-4 no-padding">
                <div class="row" style="margin-left:0px;">
                    <div class="col-md-12">
                        <div class="form-body" id="TransactionDetail_div">
                            <div class="row div-Title">
                                <div class="col-sm-12">
                                    <b>TRANSACTION DETAILS</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group row no-margin hidden">
                                    <div class="col-md-5 col-sm-5">
                                        @Html.LabelFor(m => m.Member, new { @class = "" })
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        @Html.TextBoxFor(m => m.Member, new { @class = "display-only" })
                                    </div>
                                </div>
                                <div class="form-group row no-margin hidden">
                                    <div class="col-md-5 col-sm-5">
                                        @Html.LabelFor(m => m.BusinessType, new { @class = "" })
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        @Html.TextBoxFor(m => m.BusinessType, new { @class = "display-only" })
                                    </div>
                                </div>
                                <div class="form-group row no-margin hidden">
                                    <div class="col-md-5 col-sm-5">
                                        @Html.LabelFor(m => m.TerminalId, new { @class = "" })
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        @Html.TextBoxFor(m => m.TerminalId, new { @class = "display-only" })
                                    </div>
                                </div>
                                <div class="form-group row no-margin hidden">
                                    <div class="col-md-5 col-sm-5">
                                        @Html.LabelFor(m => m.TransactionDate, new { @class = "" })
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        @Html.TextBoxFor(m => m.TransactionDate, new { @class = "display-only" })
                                    </div>
                                </div>
                                <div class="form-group row no-margin hidden">
                                    <div class="col-md-5 col-sm-5">
                                        @Html.LabelFor(m => m.TransactionResponse, new { @class = "" })
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        @Html.TextBoxFor(m => m.TransactionResponse, new { @class = "display-only" })
                                    </div>
                                </div>
                                <div class="form-group row no-margin hidden">
                                    <div class="col-md-5 col-sm-5">
                                        @Html.LabelFor(m => m.CardType, new { @class = "" })
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        @Html.TextBoxFor(m => m.CardType, new { @class = "display-only" })
                                    </div>
                                </div>
                                <div class="form-group row no-margin hidden">
                                    <div class="col-md-5 col-sm-5">
                                        @Html.LabelFor(m => m.CardNumber, new { @class = "" })
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        @Html.TextBoxFor(m => m.CardNumber, new { @class = "display-only" })
                                    </div>
                                </div>
                                <div class="form-group row no-margin hidden">
                                    <div class="col-md-5 col-sm-5">
                                        @Html.LabelFor(m => m.CardHolderName, new { @class = "" })
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        @Html.TextBoxFor(m => m.CardHolderName, new { @class = "display-only" })
                                    </div>
                                </div>
                                <div class="form-group row no-margin hidden">
                                    <div class="col-md-5 col-sm-5">
                                        @Html.LabelFor(m => m.CardMode, new { @class = "" })
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        @Html.TextBoxFor(m => m.CardMode, new { @class = "display-only" })
                                    </div>
                                </div>
                                <div class="form-group row no-margin hidden">
                                    <div class="col-md-5 col-sm-5">
                                        @Html.LabelFor(m => m.TransactionAmountLE, new { @class = "" })
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        @Html.TextBoxFor(m => m.TransactionAmountLE, new { @class = "display-only money-display" })
                                    </div>
                                </div>
                                <div class="form-group row no-margin hidden">
                                    <div class="col-md-5 col-sm-5">
                                        @Html.LabelFor(m => m.FareAmountTaxi, new { @class = "" })
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        @Html.TextBoxFor(m => m.FareAmountTaxi, new { @class = "display-only money-display" })
                                    </div>
                                </div>
                                <div class="form-group row no-margin hidden">
                                    <div class="col-md-5 col-sm-5">
                                        @Html.LabelFor(m => m.ExtrasAmountTaxi, new { @class = "" })
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        @Html.TextBoxFor(m => m.ExtrasAmountTaxi, new { @class = "display-only money-display" })
                                    </div>
                                </div>
                                <div class="form-group row no-margin hidden">
                                    <div class="col-md-5 col-sm-5">
                                        @Html.LabelFor(m => m.AutoTipAmountTaxi, new { @class = "" })
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        @Html.TextBoxFor(m => m.AutoTipAmountTaxi, new { @class = "display-only money-display" })
                                    </div>
                                </div>
                                <div class="form-group row no-margin hidden">
                                    <div class="col-md-5 col-sm-5">
                                        @Html.LabelFor(m => m.TotalFareTaxi, new { @class = "" })
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        @Html.TextBoxFor(m => m.TotalFareTaxi, new { @class = "display-only money-display" })
                                    </div>
                                </div>
                                <div class="form-group row no-margin hidden">
                                    <div class="col-md-5 col-sm-5">
                                        @Html.LabelFor(m => m.MSF, new { @class = "" })
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        @Html.TextBoxFor(m => m.MSF, new { @class = "display-only money-display" })
                                    </div>
                                </div>
                                <div class="form-group row no-margin hidden">
                                    <div class="col-md-5 col-sm-5">
                                        @Html.LabelFor(m => m.AutoTipFeeAmountTaxi, new { @class = "" })
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        @Html.TextBoxFor(m => m.AutoTipFeeAmountTaxi, new { @class = "display-only money-display" })
                                    </div>
                                </div>
                                <div class="form-group row no-margin hidden">
                                    <div class="col-md-5 col-sm-5">
                                        @Html.LabelFor(m => m.LevyChargeAmountTaxi, new { @class = "" })
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        @Html.TextBoxFor(m => m.LevyChargeAmountTaxi, new { @class = "display-only money-display" })
                                    </div>
                                </div>
                                <div class="form-group row no-margin hidden bold-text">
                                    <div class="col-md-5 col-sm-5">
                                        @Html.LabelFor(m => m.TotalPaidAmount, new { @class = "" })
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        @Html.TextBoxFor(m => m.TotalPaidAmount, new { @class = "display-only money-display" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="col-lg-8">
                <div class="row" style="margin-top: 0px">
                    <div class="col-lg-6">
                        <div class="form-body" id="PaymentStatus_div">
                            <div class="row div-Title">
                                <div class="col-sm-12">
                                    <b>PAYMENT DETAILS</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group row no-margin hidden">
                                    <div class="col-md-5 col-sm-5">
                                        @Html.LabelFor(m => m.PaymentStatus, new { @class = "" })
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        @Html.TextBoxFor(m => m.PaymentStatus, new { @class = "display-only" })
                                    </div>
                                </div>
                                <div class="form-group row no-margin hidden">
                                    <div class="col-md-5 col-sm-5">
                                        @Html.LabelFor(m => m.ProcessedDate, new { @class = "" })
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        @Html.TextBoxFor(m => m.ProcessedDate, new { @class = "display-only" })
                                    </div>
                                </div>
                                <div class="form-group row no-margin hidden">
                                    <div class="col-md-5 col-sm-5">
                                        @Html.LabelFor(m => m.FailedDate, new { @class = "" })
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        @Html.TextBoxFor(m => m.FailedDate, new { @class = "display-only" })
                                    </div>
                                </div>
                                <div class="form-group row no-margin hidden">
                                    <div class="col-md-5 col-sm-5">
                                        @Html.LabelFor(m => m.LodgementReferenceNo, new { @class = "" })
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        @Html.TextBoxFor(m => m.LodgementReferenceNo, new { @class = "display-only" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-body" id="PaymentStatus_div">
                            <div class="row div-Title">
                                <div class="col-lg-12 flex-container">
                                    <div style="padding-top: 6px; width: 200px;">
                                        <b>TRANSACTION NOTES</b>
                                    </div>
                                    <div hidden>
                                        <button class="btn action-btn clickable"  id="btnAddNote" onclick="openAddNoteDialog()" dialog-name="AddNotes">ADD NOTES</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="padding-right: 0px">
                                    <div class="portlet box grid-wrapper" hidden id="tbl_TransactionNote" style="width: 750px;max-width:100%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portlet box grid-wrapper" hidden id="div_RelatedTransaction" style="margin-top: 8px;">
    <div class="row">
        <div class="col-md-12">
            <div style="padding-left: 25px;">
                <div class="row div-Title">
                    <div class="col-sm-12">
                        <b>RELATED TRANSACTIONS</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-actions">
            <div id="tbl_RelatedTransaction">
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/FraudMonitoring/TransactionDetailDialog.cshtml", new PhoenixWeb.Models.ViewModel.FraudMonitoring.RelatedTransaction())

@section scripts {
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/pages/FraudMonitoring/DocketTransactionDetail/PH-DocketTransactionDetail.js"></script>
    <script src="~/Scripts/pages/FraudMonitoring/DocketTransactionDetail/PH-DocketTransactionDetailService.js"></script>
}
