﻿@model PhoenixWeb.Models.ViewModel.FraudMonitoring.RelatedTransaction
<div class="portlet-body form form-div" id="TransactionDetailDialog" style="display:none;">
    <!-- BEGIN FORM-->
    <div class="form-body" style="width: calc(100% - 4px);" id="div_RaisedRequestDialog">
        <input hidden id="RaiseRequestID" />
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.RaiseRequestTypeName, new { @class = "control-labelM col-md-5 display-only-label" })
                            @Html.TextBoxFor(m => m.RaiseRequestTypeName, new { @class = "col-md-7 display-only" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.RequestAmount, new { @class = "control-labelM col-md-5 display-only-label" })
                            @Html.TextBoxFor(m => m.RequestAmount, new { @class = "col-md-7 display-only" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.FeeAmount, new { @class = "control-labelM col-md-5 display-only-label" })
                            @Html.TextBoxFor(m => m.FeeAmount, new { @class = "col-md-7 display-only" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ReasonDescription, new { @class = "control-labelM col-md-5 display-only-label" })
                            @Html.TextBoxFor(m => m.ReasonDescription, new { @class = "col-md-7 display-only" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ReferenceNumber, new { @class = "control-labelM col-md-5 display-only-label" })
                            @Html.TextBoxFor(m => m.ReferenceNumber, new { @class = "col-md-7 display-only" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.FreshdeskTicketNo, new { @class = "control-labelM col-md-5 display-only-label" })
                            @Html.TextBoxFor(m => m.FreshdeskTicketNo, new { @class = "col-md-7 display-only" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.RequestNote, new { @class = "control-labelM col-md-5 display-only-label" })
                            @Html.TextBoxFor(m => m.RequestNote, new { @class = "col-md-7 display-only" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CreatedDate, new { @class = "control-labelM col-md-5 display-only-label" })
                            @Html.TextBoxFor(m => m.CreatedDate, new { @class = "col-md-7 display-only" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CreatedBy, new { @class = "control-labelM col-md-5 display-only-label" })
                            @Html.TextBoxFor(m => m.CreatedBy, new { @class = "col-md-7 display-only" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.RequestStatus, new { @class = "control-labelM col-md-5 display-only-label" })
                            @Html.TextBoxFor(m => m.RequestStatus, new { @class = "col-md-7 display-only" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ProcessedDate, new { @class = "control-labelM col-md-5 display-only-label" })
                            @Html.TextBoxFor(m => m.ProcessedDate, new { @class = "col-md-7 display-only" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.FailedDate, new { @class = "control-labelM col-md-5 display-only-label" })
                            @Html.TextBoxFor(m => m.FailedDate, new { @class = "col-md-7 display-only" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.LodgementReferenceNo, new { @class = "control-labelM col-md-5 display-only-label" })
                            @Html.TextBoxFor(m => m.LodgementReferenceNo, new { @class = "col-md-7 display-only" })
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div style="vertical-align:middle; text-align: right;">
                            <button class="btn action-btn clickable" onclick="CloseDialog()">CLOSE</button>
                            <button class="btn action-btn clickable hidden-btn" request-type="chargeback" action-type="cancel" onclick="doRaisedRequestAction(this)">CANCEL CHARGEBACK</button>
                            <button class="btn action-btn clickable hidden-btn" request-type="chargeback" action-type="reverse" onclick="doRaisedRequestAction(this)">REVERSE CHARGEBACK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/pages/FraudMonitoring/RaisedRequestDialog/PH-RaisedRequestDialog.js"></script>
<script src="~/Scripts/pages/FraudMonitoring/RaisedRequestDialog/PH-RaisedRequestDialogService.js"></script>
<style>
    #div_RaisedRequestDialog .row {
        margin-top: 10px;
    }
    .form-group label {
        padding-left: 0px;
        padding-right: 0px;
    }
    .form-group label, .form-group input, .form-group span {
        min-height: 20px;
        margin-bottom: 3px;
        white-space: pre-wrap;
        word-wrap: break-word;
    }
    .hidden-btn{
        display: none;
    }
    .underlined {
        text-decoration: underline;
    }
</style>
