﻿<div class="portlet-body form form-div" id="driverCardInfoDialog" style="display:none;">
    <!-- BEGIN FORM-->
    <input hidden id="accountIdentifier" />
    <div class="form-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Card Status", new { @class = "control-labelM col-md-5" })
                    <span id="Status" class="col-md-7 bold"></span>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">

                    @Html.Label("First Name", new { @for = "FirstName", @class = "control-labelM col-md-5" })
                    <div class="col-md-7">
                        <input id="FirstName" data-original="" class="form-control " />

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Last Name", new { @for = "LastName", @class = "control-labelM col-md-5" })
                    <div class="col-md-7">
                        <input id="LastName" data-original="" class="form-control " />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Address 1", new { @for = "Address1", @class = "control-labelM col-md-5" })
                    <div class="col-md-7">
                        <input id="Address1" data-original="" class="form-control " />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Address 2", new { @for = "Address2", @class = "control-labelM col-md-5" })
                    <div class="col-md-7">
                        <input id="Address2" data-original="" class="form-control " />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("City", new { @for = "City", @class = "control-labelM col-md-5" })
                    <div class="col-md-7">
                        <input id="City" data-original="" class="form-control " />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("State", new { @for= "State", @class = "control-labelM col-md-5" })
                    <div class="col-md-7">
                        <select id="State" data-original="" class="form-control "></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Postal Code", new { @for = "PostalCode", @class = "control-labelM col-md-5" })
                    <div class="col-md-7">
                        <input id="PostalCode" data-original="" class="form-control " />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("DOB", new { @for = "DOB", @class = "control-labelM col-md-5" })
                    <div class="col-md-7">
                        <input type="date" data-original="" class="form-control" name="DOB" id="DOB" min="1900-01-01"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Mobile Phone", new { @for = "MobilePhone", @class = "control-labelM col-md-5" })
                    <div class="col-md-7">
                        <input id="MobilePhone" data-original="" class="form-control"  onkeypress="return Util.isNumberKey(event)" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Email", new { @for = "Email", @class = "control-labelM col-md-5" })
                    <div class="col-md-7">
                        <input id="Email" data-original="" class="form-control " />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div style="vertical-align:middle; text-align: right; padding:30px;">
                    <input class="btn blue right" type="button" onClick="DriverCardUpdateProfile();" value="Update" id="btnUpdateProfile" />
                    <input class="btn blue right" type="button" onClick="CloseDriverCardDialog('#driverCardInfoDialog');" value="Close" />
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .row {
        margin-top: 10px;
    }
</style>
