﻿<div class="portlet-body form form-div" id="driverCardChangeStatusDialog" style="display:none;">
    <!-- BEGIN FORM-->
    <input hidden id="accountIdentifier" />
    <div class="form-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Current Status", new { @class = "control-labelM col-md-3" })
                    <input id="CurrentStatusID" hidden />
                    <span id="CurrentStatus" class="col-md-9"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Update to", new { @class = "control-labelM col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownList("CardStatus", new SelectList((SelectList)ViewBag.DriverCardStatus, "Value", "Text"), "---Select status---", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="padding:30px;">
                <div style="vertical-align:middle; text-align: right">
                    <input class="btn blue right" type="button" onClick="UpdateCardStatus()" id="driverCardRegister" value="Update" />
                    <input class="btn blue right" type="button" onClick="CloseDriverCardDialog('#driverCardChangeStatusDialog')" value="Cancel" />
                </div>
            </div>
        </div>
    </div>
</div>