﻿@model PhoenixObjects.Member.MemberModel

<script type="text/x-jsrender" id="driverCardGridHeader">
    <thead>
        <tr id="headRow">
            <th>
                Account Identifier
            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
</script>
<script type="text/x-jsrender" id="driverCardGridBody">
    <tbody>
        {{for data itemVar="~card"}}
        <tr id="row_{{:AccountIdentifier}}">
            <td>{{:AccountIdentifier}}</td>
            <td><a href="javascript:void(0)" id="driverCardViewChangeHistory" onclick="OpenHistoryDriverCard({{:Id}})"> View Change History</a></td>
            {{if StatusCode != "F"}}
            <td>
                @if (ViewContext.Controller.HasPermission("DriverCardViewAccountDetail"))
                {
                    <a href="javascript:void(0)" id="driverCardAccountDetail" onclick="ShowAccountDetail({{:AccountIdentifier}}, @ViewData["IsFromDetail"].ToString())"> Account Details</a>
                }
            </td>
            @if (ViewData["IsFromDetail"].ToString() == "false")
            {
                <td>
                @if (ViewContext.Controller.HasPermission("DriverCardReissue"))
                {
                    <a href="javascript:void(0)" id="driverCardReissue" onclick="OpenReissueDriverCard({{:AccountIdentifier}})">Reissue</a>
                }
                </td>
                <td>
                @if (ViewContext.Controller.HasPermission("DriverCardUpdateCardStatus"))
                {
                    <a href="javascript:void(0)" id="driverCardUpdateStatus" onclick="OpenChangeCardStatus({{:AccountIdentifier}}, '{{:Status}}')">Update Status</a>
                }
                </td>
            }
            else
            {
                <td></td>
                <td></td>
            }

            {{else}}
            <td></td>
            <td></td>
            <td></td>
            {{/if}}
        </tr>

        {{/for}}
        @if (ViewData["IsFromDetail"].ToString() == "false")
        {
            <tr id="registerRow" style="display: none">
                <td>
                    @if (ViewContext.Controller.HasPermission("DriverCardRegister"))
                    {
                        <a href="javascript:void(0)" id="driverCardEmptyRegister" onclick="OpenRegisterDriverCard()">Register Card</a>
                    }
                </td>
            </tr>
        }

    </tbody>
</script>
<script type="text/x-jsrender" id="driverCardEmptyGridHeader">
    <thead>
        <tr id="emptyHeadRow">
            <th>
                No Card Available
            </th>
        </tr>
    </thead>
</script>
<script type="text/x-jsrender" id="driverCardEmptyGridBody">
    @if (ViewData["IsFromDetail"].ToString() == "false")
    {
        <tbody>
            <tr>
                <td>
                    @if (ViewContext.Controller.HasPermission("DriverCardRegister"))
                    {
                        <a href="javascript:void(0)" id="driverCardEmptyRegister" onclick="OpenRegisterDriverCard()">Register Card</a>
                    }
                </td>
            </tr>
        </tbody>
    }
</script>