﻿<div class="portlet-body form form-div" id="driverCardRegisterDialog" style="display:none;">
    <!-- BEGIN FORM-->
    <div class="form-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Enter 12-digit card reference number:", new { @class = "control-labelM col-md-12" })
                    <input class="form-control" type="text" name="cardReferenceNumber" id="cardReferenceNumber" value="" onkeypress="return Util.isNumberKey(event)" />
                </div>
            </div>
        </div>
        <div style="vertical-align:middle; text-align: right">
            <input class="btn blue right" type="button" onClick="CloseDriverCardDialog('#driverCardRegisterDialog')" value="Cancel" />
            <input class="btn blue right" type="button" onClick="DriverCardRegister()" id="driverCardRegister" value="Register" />
        </div>
    </div>
</div>