﻿<div class="portlet-body form form-div" id="driverCardChangeHistoryDialog" style="display:none;">
    <input id="currentCardId" hidden />
    <div class="form-body">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-12">
                <div class="form-group">
                    <table id="driverCardChangeHistory"></table>
                    <div id="driverCardChangeHistoryPager"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div style="vertical-align:middle; text-align: right; padding-right: 17px">
                    <input class="btn blue right" type="button" onClick="CloseDriverCardDialog('#driverCardChangeHistoryDialog');" value="Close" />
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .row {
        margin-top: 10px;
    }

    .ui-jqgrid .ui-jqgrid-bdiv {
        overflow-y: scroll
    }
</style>
