﻿@model PhoenixWeb.Models.ViewModel.DriverCard.TransferHistoryVM
@{
    ViewBag.Title = "TransferHistory";
    Layout = "~/Views/_InformationPopupLayout.cshtml";
}

<h2>Transfer History</h2>

<div class="form-body">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Payment Reference Number", new { @class = "control-label col-md-8" })
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.LodgementRefNo)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Total Amount", new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.TotalAmount)
                </div>
            </div>
        </div>
    </div>

</div>

@if (Model.TransferHistories != null)
{
    if (Model.TransferHistories != null && Model.TransferHistories.Count() > 0)
    {
        <div class="portlet light bordered" id="AddedTerminal">
            <div class="portlet-title">
            </div>
            <div class="portlet-body">
                <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 150px;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Date and Time
                                </th>
                                <th>
                                    Amount
                                </th>
                                <th>
                                    Payment Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TransferHistories)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TransactionDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SentAmount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PaymentStatus)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
}

<div class="form-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Pending balance for " + Model.LodgementRefNo, new { @class = "control-label col-md-8" })
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.PendingAmountForSelectedPayment)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Pending balance for MID: " + Model.MemberID, new { @class = "control-label col-md-8" })
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.PendingBalanceForMID)
                </div>
            </div>
        </div>

    </div>
</div>