﻿@using System.Activities.Expressions
@using System.Collections.Generic;
@using System.Linq;
@using PhoenixWeb.Helper
@model PhoenixWeb.Models.ViewModel.PricingPlan.PricingPlanVM

<input type="hidden" name="PlanId" id="PlanId" value="@Model.PlanId" />
<div class="container-fluid" id="PricingPlan" style="margin-left: 3em;">
    <form class="form-horizontal" role="form" method="post" id="PricingPlanForm">
        <div class="row-fluid form-group">
            <label class="col-sm-2 control-label">Plan Name</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" name="PlanName" id="PlanName" maxlength="100" value="@Model.PlanName" required>
            </div>
        </div>
        <div class="row-fluid form-group">
            <label class="col-sm-2 control-label">Business Type</label>
            <div class="col-sm-4">
                @Html.CustomDropdownListFor(model => model.SelectedBusinessTypeKey, Model.BusinessTypeSelectItem, null, null, new { id = "BusinessType", @class = "form-control", disabled = "disabled" })
            </div>
        </div>
        <div class="row-fluid form-group">
            <label class="col-sm-2 control-label">Sub-business Type(s)</label>
            <div class="col-sm-5" style="padding-top: 7px;" id="SubBussinessTypeCheckList">
                <label style="font-style: italic; font-size: small;">The plan will be available to the following sub-business type(s)</label>
                @{
                    foreach (var s in Model.SelectedSubBusinessTypes)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="SubBusinessType_@s.SubBusinessTypeKey" @(s.IsChecked ? "checked" : "") id="@s.SubBusinessTypeKey" /> @s.SubBusinessTypeName
                            </label>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="row-fluid form-group">
            <div class="col-sm-2">
                <label class="control-label">RATE</label>
            </div>
            <div class="col-md-9 rateTable" id="rateTable" style="margin-left: 1em;">
                <div class="row" style="padding: 7px 0;">
                    <div class="col-md-2"></div>
                    <div class="col-md-3">Option</div>
                    <div class="col-md-2">Rate</div>
                    <div class="col-md-2">Transaction Fee</div>
                </div>
                @{
                    foreach (var rate in Model.Rates)
                    {
                        <div class="row form-group rateRow" id="@rate.PayMethodKey" data-allowswitch="@rate.AllowSwitchDollarAndPercentage">
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="control-label" style="font-weight: bold">@rate.PayMethodName</label>
                                </div>
                                <div class="col-md-3">
                                    @{
                                        if (rate.AllowSwitchDollarAndPercentage)
                                        {
                                            <select class="form-control" id="rateoption_@rate.PayMethodKey" name="IsRateFixed_@rate.PayMethodKey">
                                                <option value="true" @(rate.IsRateFixed ? "selected" : "")>Dollar value ($)</option>
                                                <option value="false" @(!rate.IsRateFixed ? "selected" : "")>Percentage (%)</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <label class="control-label" style="margin-left: 17px">Percentage (%)</label>
                                        }
                                    }
                                </div>
                                <div class="col-md-2" style="display: -webkit-inline-box;">
                                    @if (@Model.PlanId > 0)
                                    {
                                        <input type="text" class="form-control ratenumber" id="ratenumber_@rate.PayMethodKey" name="Rate_@rate.PayMethodKey" value="@rate.Rate" display-name="@rate.PayMethodName" required="required" />

                                    }
                                    else
                                    {
                                        <input type="text" class="form-control ratenumber" id="ratenumber_@rate.PayMethodKey" name="Rate_@rate.PayMethodKey" value="" display-name="@rate.PayMethodName" required="required" />
                                    }
                                    <img class="errorIcon" id="Rate_@rate.PayMethodKey" src="~/Images/error.png" />
                                </div>
                                <div class="col-md-2" style="margin-left: 12px;display: -webkit-inline-box;">
                                    <label style="margin-left: -12px;margin-top: 5px;">$</label>
                                    @if (@Model.PlanId > 0)
                                    {
                                        <input type="text" class="form-control transactionfee" id="transactionfee_@rate.PayMethodKey" name="TranFee_@rate.PayMethodKey" value="@rate.TransactionFee" display-name="@rate.PayMethodName" />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control transactionfee" id="transactionfee_@rate.PayMethodKey" name="TranFee_@rate.PayMethodKey" value="" display-name="@rate.PayMethodName" />
                                    }
                                    <img class="errorIcon" src="~/Images/error.png" />
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="row-fluid form-group">
            <div class="col-sm-10">
                <button type="button" class="btn btn-primary" style="float: right; margin-left: 5px;" id="SavePricingPlan">Save</button>
                @if (@Model.PlanId > 0)
                {
                    <button type="button" class="btn btn-default" style="float: right" onclick="cancelUpdatePricingPlan()">Cancel</button>
                }
                else
                {
                    <button type="reset" onclick="resetForm()" class="btn btn-default" style="float: right">Reset</button>
                }

            </div>
        </div>
    </form>
</div>

<style>
    #PricingPlan label {
        text-align: left;
    }

    #PricingPlan input, button, select {
        border-radius: 4px !important;
    }

    #rateTable .form-group div.row > div {
        line-height: 24px;
    }

        #rateTable .form-group div.row > div .radio {
            padding-top: 1px;
        }

    #rateTable .radio-label {
        padding-top: 5px;
        margin-bottom: -5px;
    }

    #rateTable input[type="number"] {
        -moz-appearance: textfield;
    }

    #rateTable input::-webkit-outer-spin-button,
    #rateTable input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
</style>
<script src="~/Scripts/pages/PricingPlan/PH-CreateEditPricingPlan.js"></script>