﻿@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Manage Pricing Plans</h2>

<a href="CreatePlan" class="btn btn-primary" type="button">Create New Plan</a>
<br /><br />

<div class="portlet box grid-wrapper" id="wrapper">
    
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" id="PricingPlan">
            </div>
        </div>
    </div>
</div>

@section scripts {
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/pages/PricingPlan/PH-ManagePricingPlan.js" type="text/javascript"></script>
    <script src="~/Scripts/pages/PricingPlan/PH-ManagePricingPlanService.js" type="text/javascript"></script>
    <style>
        .ui-jqgrid tr.jqgrow td {
            height: 32px !important;
        }

        .ui-jqgrid table.ui-jqgrid-htable,
        .ui-jqgrid .ui-jqgrid-htable th {
            height: 36px !important;
        }

        .ui-state-hover, .ui-widget-content .ui-state-hover {
            border: 1px solid #c1c1c1;
            background: #EEEEEE;
            font-weight: bold;
            color: #363636;
        }

        .ui-state-highlight, .ui-widget-content .ui-state-highlight {
            border: 1px solid #c1c1c1;
            background: #EEEEEE;
            color: #363636;
        }


        .ui-jqgrid-labels {
            background: none !important;
            background-color: #fff;
        }

        .ui-widget-content {
            background: none;
            background-color: #ffffff;
        }

        .grid-col-padding-left {
            padding-left: 8px !important;
        }

        .grid-col-padding-right {
            padding-right: 8px !important;
        }

        .ui-jqgrid,
        .ui-jqgrid .ui-jqgrid-view,
        .ui-jqgrid .ui-jqgrid-pager,
        .ui-jqgrid .ui-pg-input,
        .ui-widget .btn-inline {
            font-size: 12px !important;
            font-family: 'Open Sans', sans-serif !important;
        }

        .btn-inline {
            border-collapse: collapse;
            border-width: thin;
            border-radius: 2px !important;
            outline: none;
            background-color: #FFFFFF;
        }


        .btn-inline:hover {
            background-color: #3598DC;
            color: #FEFEFE;
            border: none;
        }

        .ui-state-default .ui-th-column {
            padding-right: 1px !important;
        }
        .ui-jqgrid-htable tr th.ui-th-column.left {
            text-align: left !important;
        }

        .ui-jqgrid-htable tr th.ui-th-column.right {
            text-align: right !important;
        }
        .s-ico {
            display: inline !important;
        }
    </style>
    <style>
        #PricingPlanGrid a[role="button"] {
            border-radius: 5px !important;
            padding: -5px 0 !important;
            margin: 5px 0 !important;
        }
    </style>
}