﻿


/* Use it for Checkbox in case it has rendering issue*/
/*, .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]*/
.radio input[type="radio"], .radio-inline input[type="radio"] {
    margin-left: -10px !important;
}

/* freshdesk Side bar */
.sticky-container {
    padding: 0px;
    margin: 0px;
    position: fixed;
    right: -130px;
    top: 230px;
    width: 210px;
    z-index: 1100;
}

.sticky li {
    list-style-type: none;
    background-color: #fff;
    color: #efefef;
    height: 43px;
    padding: 0px;
    margin: 0px 0px 1px 0px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

    .sticky li:hover {
        margin-left: -115px;
    }

    .sticky li img {
        float: left;
        margin: 5px 4px;
        margin-right: 5px;
    }

    .sticky li p {
        padding-top: 5px;
        margin: 0px;
        line-height: 16px;
        font-size: 11px;
    }

        .sticky li p a {
            text-decoration: none;
            color: #2C3539;
        }

            .sticky li p a:hover {
                text-decoration: underline;
            }



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    margin-top: 10px;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    width: 80%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.modal-header {
    /*padding: 2px 16px;*/
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    /*padding: 2px 16px !important;*/
    padding: 0px;
}

.modal-footer {
    /*padding: 2px 16px;*/
    padding: 0px;
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
/*@-webkit-keyframes slideIn {
    from {
        top: 50px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        top: 50px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}*/

.freshDeskTickets {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    .freshDeskTickets td, .freshDeskTickets th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .freshDeskTickets tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .freshDeskTickets tr:hover {
        background-color: #ddd;
    }

    .freshDeskTickets th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }

.errorClass {
    border-color: red !important
}

.field-validation-error {
    color: red;
}

.input-icon {
    position: relative;
}

    .input-icon > i {
        position: absolute;
        display: block;
        transform: translate(0, -50%);
        top: 19%;
        pointer-events: none;
        text-align: center;
        font-style: normal;
    }

.inline-item {
    padding-right: 5px;
    padding-left: 5px;
}

    .inline-item:first-child {
        padding-left: 0px;
    }

    .inline-item:last-child {
        padding-right: 0px;
    }

select:hover, .datepicker:hover {
    cursor: pointer;
}

.btn-inline {
    min-width: 76px;
    min-height: 21px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    padding: 1px 6px 1px 6px;
    border: 0.5px solid #707070;
    border-radius: 3px;
    opacity: 1;
    color: #707070;
    text-decoration: none !important;
}

.ui-state-hover a.btn-inline:link, .ui-state-hover a.btn-inline:visited {
    color: #707070;
    text-decoration: none
}

.btn-inline:hover, a.btn-inline:hover, .ui-state-hover a.btn-inline:hover {
    background-color: #3598DC;
    color: #fefefe;
}


th.ui-th-column {
    min-height: 30px;
}

p.customedText {
    margin: 5px;
}

    p.customedText.text-right {
        text-align: right;
    }

    p.customedText.text-bold {
        font-weight: 900;
    }

    p.customedText.has-border {
        border: solid 1px #ccc !important;
        border-radius: 3px;
    }

    p.customedText.hidden {
        display: none;
    }

    p.customedText.underlined {
        text-decoration: underline;
    }

.ui-jqgrid .ui-icon-desc {
    margin-left: -1px;
}

.center-control-label {
    margin-top: 6px;
    padding-right: 5px;
    padding-left: 5px;
}


.clickable {
    cursor: pointer;
}

input.display-only, label.display-only, label.display-only-label {
    border: none;
    pointer-events: none;
    background-color: inherit;
}

label.error {
    pointer-events: none;
}
