﻿#ui-datepicker-div .ui-datepicker-month,
#ui-datepicker-div .ui-datepicker-month option {
    color: black !important
}

#ui-datepicker-div .ui-datepicker-year,
#ui-datepicker-div .ui-datepicker-year option {
    color: black !important
}