﻿@using PhoenixWeb.Models.ViewModel;
@model RewardsViewModel

@{
    ViewBag.Title = "Loyalty Points Rewards";
}

@Html.ValidationSummary(true)
<h3 class="page-title">
    Qantas Member Point Approval for Live Capital
    <small>approve/reject on generated qantas points</small>
</h3>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
            Approve / Reject Live Capital uploaded points
        </div>
        <div class="tools">
            <a href="" class="collapse"></a>
            <a href="" class="reload">
            </a>
        </div>
    </div>
</div>

@if (Model == null)
{
    return;
}


@using (Html.BeginForm("UpdateLoyaltyFileStatus", "Rewards", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{

    <form action="#" class="horizontal-form">
        <div class="form-body">
            <input id="LoyaltyExportFileId" name="LoyaltyExportFileId" hidden="hidden" type="text" value="" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Select Organisation", new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(x => Model.OrganisationId, new SelectList(Model.Organisations, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "ddpOrganisations" })
                            @Html.ValidationMessageFor(x => x.FileNames, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Select File Name", new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(x => Model.SelectedFileName, new SelectList(Model.FileNames, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "LoyaltyFileNames" })
                            @Html.ValidationMessageFor(x => x.FileNames, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.Hidden("showApproveReject", "true")
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span style="float:left;">
                        You have option to approve/reject each line item of file and.....
                    </span>
                    <span style="float:right;font-size:small" id="approveRejectLineItem">
                        <button type="button" class="btn red"><i class="fa fa-check"></i> Reject All</button>
                        <button type="button" class="btn blue"><i class="fa fa-check"></i> Approve All</button>
                        <br />
                        <span id="messageQBR"></span>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <table id="grdQbrPointHistory"></table>
                        <div id="grdQbrPointHistoryPager"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span style="float:left;">
                        ...submit to QBR to process. if you want to Reject whole file, select Reject in drop down. Once done, click Submit.<br />
                    </span>
                </div>
            </div>
            <div class="row" id="fileAction">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("File Approval Status", new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(x => Model.SelectionAction, new SelectList(Model.ApproveRejectAction, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "ApproveRejectAction" })
                            @Html.ValidationMessageFor(x => x.FileNames, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <span style="float:left;font-size:small" id="approveRejectFile">
                        <button type="button" class="btn blue-chambray"><i class="fa fa-check"></i> Submit</button>
                    </span>
                </div>
            </div>
            <div class="row">
                
            </div>
        </div>
    </form>
}

@section scripts {
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/loyaltyApproveReject.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#fileAction').hide()
            $('#approveRejectLineItem').hide()
            $('#approveRejectFile').hide()
        });


        $('#LoyaltyFileNames').change(function () {
            var selection = $('#LoyaltyFileNames').val();
            $('#LoyaltyExportFileId').val(selection);
            if (selection == "0" || selection == "") { return; }

            reloadGrid();
        });

        $(".red").click(function () {
            updateLoyaltyFileEntryStatus('reject', 0, true, 0);
            reloadGrid();
        });
        $(".blue").click(function () {
            updateLoyaltyFileEntryStatus('approve', 0, true, 0);
            reloadGrid();
        });
        $(".blue-chambray").click(function () {
            var selection = $('#ApproveRejectAction').val();
            if (selection == "0" || selection == "") { alert('Please select file approval status.'); return   ; }
            var selectedText = $('#ApproveRejectAction option[value=' + $('#ApproveRejectAction').val() + ']').text()
            updateLoyaltyFileStatus(selectedText, $('#LoyaltyExportFileId').val());
            window.location.href = window.location.href;
        });

        $("#ddpOrganisations").change(function (event) {
            $('#OrganisationId').val($(this).val());
            var userId = $(this).val();
            $.ajax({
                url: "@Url.Action("GetPendingUploadedFiles", "Rewards")",
                data: JSON.stringify({ id: userId }),
                type: "Post",
                dataType: "json",
                contentType: "application/json",
                beforeSend: function () {
                    $("#LoyaltyFileNames").html("");
                    $("#LoyaltyFileNames").append(
                        $("<option></option>").val('-1').html('loading...')
                    );
                    reloadGrid();

                },
                error: function (jqXHR, textStatus, errorThrown, data) {
                },
                success: function (data) {
                    $("#LoyaltyFileNames").html("");
                    for (var i = 0; i < data.length; i++) {
                        var item = data[i];
                        $("#LoyaltyFileNames").append(
                            $("<option></option>").val(item.Value).html(item.Text)
                        );
                    }
                }
            });
        });
    </script>
}
