﻿@using PhoenixWeb.Models.ViewModel;
@model RewardsViewModel

@{
    ViewBag.Title = "Qantas Points Rewards";
}

@Html.ValidationSummary(true)
<h3 class="page-title">
    Qantas Member Point Approval
    <small>approve/reject on generated qantas points</small>
</h3>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
            Approve / Reject Qantas points for the month of September'2017
        </div>
        <div class="tools">
            <a href="" class="collapse"></a>
            <a href="" class="reload">
            </a>
        </div>
    </div>
</div>

@if (Model == null)
{
    return;
}

@using (Html.BeginForm("UpdateQantasFileStatus", "Rewards", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{

    <form action="#" class="horizontal-form">
        <div class="form-body">
            <input id="QantasExportFileKey" hidden="hidden" type="text" value="" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Select File Name", new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(x => Model.SelectedFileName, new SelectList(Model.FileNames, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "QantasFileNames" })
                            @Html.ValidationMessageFor(x => x.FileNames, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.Hidden("showApproveReject", "true")
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span style="float:left;">
                        You have option to approve/reject each line item of file and.....
                    </span>
                    <span style="float:right;font-size:small" id="approveRejectLineItem">
                        <button type="button" class="btn red"><i class="fa fa-check"></i> Reject All</button>
                        <button type="button" class="btn blue"><i class="fa fa-check"></i> Approve All</button>
                        <br />
                        <span id="messageQBR"></span>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">                        
                            <table id="grdQbrPointHistory"></table>
                            <div id="grdQbrPointHistoryPager"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span style="float:left;">
                        ...submit to QBR to process. if you want to Reject whole file, select Reject in drop down. Once done, click Submit.<br />
                    </span>
                </div>
            </div>
            <div class="row" id="fileAction">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("File Approval Status", new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(x => Model.SelectionAction, new SelectList(Model.ApproveRejectAction, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "ApproveRejectAction" })
                            @Html.ValidationMessageFor(x => x.FileNames, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <span style="float:left;font-size:small" id="approveRejectFile">
                        <button type="button" class="btn blue-chambray"><i class="fa fa-check"></i> Submit</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
}


@section scripts {
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/qbrApproveReject.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#fileAction').hide()
            $('#approveRejectLineItem').hide()
            $('#approveRejectFile').hide()
        });


        $('#QantasFileNames').change(function () {
            var selection = $('#QantasFileNames').val();                  
            $('#QantasExportFileKey').val(selection);            
            if (selection == "0" || selection == "") { return; }            
            reloadGrid();
        });

        $(".red").click(function () {
            updateQantasFileEntryStatus('reject', 0, true, 0);           
        });
        $(".blue").click(function () {
            updateQantasFileEntryStatus('approve', 0, true, 0);            
        });
        $(".blue-chambray").click(function () {
            var selection = $('#ApproveRejectAction').val();
            if (selection == "0" || selection == "") { alert('Please select file approval status.'); return; }
            var selectedText = $('#ApproveRejectAction option[value=' + $('#ApproveRejectAction').val() + ']').text()
            updateQantasFileStatus(selectedText, $('#QantasExportFileKey').val());
            window.location.href = window.location.href;
        });
    </script>
}
