﻿@using PhoenixWeb.Models.ViewModel;
@model RewardsViewModel

@{
    ViewBag.Title = "Qantas Points Rewards";
}

@Html.ValidationSummary(true)
<h3 class="page-title">
    Qantas Member Points rejected
    <small>rejected qantas points by file</small>
</h3>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
            Summary of rejected points by file.
        </div>
        <div class="tools">
            <a href="" class="collapse"></a>
            <a href="" class="reload">
            </a>
        </div>
    </div>
</div>

@if (Model == null)
{
    return;
}

@using (Html.BeginForm("UpdateQantasFileStatus", "Rewards", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <input id="LoyaltyExportFileId" name="LoyaltyExportFileId" hidden="hidden" type="text" value="" />
    @Html.Hidden("showÄpproveReject", "false");
    <form action="#" class="horizontal-form">
        <div class="form-body">
            <input id="QantasExportFileKey" name="QantasExportFileKey" hidden="hidden" type="text" value="" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Select Organisation", new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(x => Model.OrganisationId, new SelectList(Model.Organisations, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "ddpOrganisations" })
                            @Html.ValidationMessageFor(x => x.FileNames, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Select File Name", new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">                            
                            @Html.DropDownListFor(x => Model.SelectedFileName, new SelectList(Model.FileNames, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "QantasFileNames" })
                            @Html.ValidationMessageFor(x => x.FileNames, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Status:</label>
                        </div>
                        <div class="col-md-6 left">
                            <label id="Status">..select file name to view..</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Exported Date:</label>
                        </div>
                        <div class="col-md-6 left">
                            <label id="ExportDate">..select file name to view..</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <table id="grdQbrPointHistory"></table>
                        <div id="grdQbrPointHistoryPager"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span style="float:right;font-size:small" id="approveRejectFile">

                    </span>
                </div>
            </div>
        </div>
    </form>
}


@section scripts {
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/loyaltyApproveReject.js"></script>

    <script type="text/javascript">
        $("#QantasFileNames").change(function (event) {
            $('#LoyaltyExportFileId').val($(this).val());
            var userId = $(this).val();
            $.ajax({
                url: "@Url.Action("GetUploadFileDetails", "Rewards")",
                data: { id: userId },
                type: "Get",
                dataType: "html",
                success: function (data) {
                    $("#ExportDate").html(JSON.parse(data).ExportDateTime);
                    $("#Status").html(JSON.parse(data).QantasExportFileStatu.Name);
                    reloadGrid();
                }
            });
        });
        $("#ddpOrganisations").change(function (event) {
            $('#OrganisationId').val($(this).val());
            var userId = $(this).val();
            $.ajax({
                url: "@Url.Action("GetUploadedFiles", "Rewards")",
                data: JSON.stringify({ id: userId }),
                type: "Post",
                dataType: "json",
                contentType: "application/json",
                beforeSend: function () {                    
                    $("#QantasFileNames").html("");
                    $("#QantasFileNames").append(
                        $("<option></option>").val('-1').html('loading...')
                    );
                },            
                error: function (jqXHR, textStatus, errorThrown, data) {                    
                },
                success: function (data) {                    
                    $("#QantasFileNames").html("");
                    for (var i = 0; i < data.length; i++) {
                        var item = data[i];
                        $("#QantasFileNames").append(
                            $("<option></option>").val(item.Value).html(item.Text)
                        );
                    }
                }
            });
        });
    </script>
}
