﻿@model PhoenixWeb.Models.ViewModel.LoyaltyUploadModel
@{
    ViewBag.Title = "Upload Loyalty Members";

    bool hasError = false;
}
<h3 class="page-title">
    QBR Points File Upload
</h3>
@using (Html.BeginForm("LoyaltyRewardsFileUpload", "Rewards", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationMessage("error")

    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-adjust"></i>
                Upload Point file
            </div>
            <div class="tools">
                <a href="" class="collapse"></a>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-6 right">
                                <div class="col-md-6 right">
                                    <input type="file" name="file" />
                                </div>
                                <div class="col-md-6 right">
                                    <input type="submit" value="Upload" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Organisation", new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.SelectionOrganisationId, (IEnumerable<SelectListItem>)Model.OrganisationforLoyaltySelectedItem, new { id = "SelectionOrganisationId", @class = "form-control" })
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.SelectionOrganisationId)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->
            </div>
            <!-- END FORM-->
        </div>
    </div>
}



@if (Model.FileRecords == null || Model.FileRecords.Count() == 0) { return; }
@using (Html.BeginForm("Import", "Rewards", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.HiddenFor(item => item.FileRecords, new { id = "FileRecords", @class = "form-control" });
    @Html.HiddenFor(item => item.FileName, new { id = "FileName", @class = "form-control" });
    @Html.HiddenFor(item => item.SelectionOrganisationId, new { id = "SelectionOrganisationId", @class = "form-control" });
    @Html.HiddenFor(item => item.AllowImport, new { id = "allowImport" });

    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Uploaded File Records
            </div>
        </div>
        <div class="portlet-body">
            <div class="alert alert-red">

                @if (ViewBag.UploadError != null && ViewBag.UploadError.Length > 1)
                {
                    <span>There are some errors in the file, please correct these in order to import file in Phoenix:</span>
                    <ul>
                        @foreach (var category in ViewBag.UploadError)
                        {
                            if (!String.IsNullOrEmpty(category))
                            {
                                <li>@category</li>
                            }
                        }
                    </ul>
                }
            </div>
            <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 500px;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>
                                Valid?
                            </td>
                            <th>
                                Member Id
                            </th>
                            <th>
                                Points
                            </th>
                            <th>
                                Business Name
                            </th>
                            <th>
                                Loyalty Number
                            </th>
                            <th>
                                Record Status
                            </th>
                            <th>
                                Record Date
                            </th>
                            <th>
                                Record Error
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.FileRecords.Count; i++)
                        {
                            <tr>
                                <td>
                                    @if (Model.FileRecords[i].HasError)
                                    {
                                        <img width="32" height="32" src="~/Images/cancel.png" />
                                    }
                                    else
                                    {
                                        <img width="32" height="32" src="~/Images/tick.png" />
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(item => item.FileRecords[i].MemberId)
                                </td>
                                <td>
                                    @Html.DisplayFor(item => item.FileRecords[i].Points)
                                </td>
                                <td>
                                    @Html.DisplayFor(item => item.FileRecords[i].Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(item => item.FileRecords[i].LoyaltyNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(item => item.FileRecords[i].Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(item => item.FileRecords[i].RecordDate)
                                </td>
                                <td>
                                    <ul>
                                        @foreach (var error in Model.FileRecords[i].Error)
                                        {

                                            if (!String.IsNullOrEmpty(error))
                                            {
                                                hasError = true;
                                                <li>@error</li>
                                            }
                                        }
                                    </ul>
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-actions" style="float:right">

            @if (Model.AllowImport)
            {
                if (((ViewBag.UploadError != null && ViewBag.UploadError.Length == 1) && !hasError))
                {
                    <button type="submit" name="Command" value="Search" class="btn blue-madison">Import In Phoenix <i class="m-icon-swapright m-icon-white"></i></button>
                }
            }
        </div>
    </div>
}
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".Transaction").addClass("active open");

            $(".btn blue-madison").enable = $('#allowImport').val() == "false" ? false : true;

        });
    </script>
}

