﻿@using System.Web.Mvc.Html
@using PhoenixWeb.Models.ViewModel;
@model DeclinedTransactionVM
@Html.ValidationSummary(true)

<h3 class="page-title">
    Process Declined Transaction
</h3>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
            Process declined transaction for the month of @DateTime.Now.ToString("MMMM yyyy")
        </div>
        <div class="tools">
            <a href="" class="expand"></a>
            <a href="" class="reload">
            </a>
        </div>
    </div>
</div>

@if (Model == null)
{
    return;
}

@using (Html.BeginForm("ProcessDeclinedTransaction", "MissingTransaction", FormMethod.Post, new { id = "declinedTransaction" }))
{

    <form action="#" class="horizontal-form">
        <div class="form-body">
            <input id="QantasExportFileKey" hidden="hidden" type="text" value="" />
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.TerminalID, new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(x => Model.TerminalID, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.TransactionStartDate, new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(x => Model.TransactionStartDate, new { @class = "form-control datepicker removeNotAllowCursor", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.TransactionEndDate, new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(x => Model.TransactionEndDate, new { @class = "form-control datepicker removeNotAllowCursor", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <span style="float:left;font-size:small">
                            <button type="button" class="btn blue-chambray" id="search"><i class="fa fa-check"></i> Search</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-12">
                    <div class="form-group" id="parentDeclinedTransactionGrid">
                        <table id="grdMissingTransaction"></table>
                        <div id="grdMissingTransactionPager"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <span style="float:left;font-size:small">
                        <button type="button" class="btn blue-chambray" id="approveDeclinedTransaction"><i class="fa fa-check"></i> Approved</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
}
@section scripts {
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/missingtransaction.js"></script>
    <style type="text/css">
        .removeNotAllowCursor {
            cursor: auto !important
        }

        #ui-datepicker-div .ui-datepicker-month,
        #ui-datepicker-div .ui-datepicker-month option {
            color: black !important
        }

        #ui-datepicker-div .ui-datepicker-year,
        #ui-datepicker-div .ui-datepicker-year option {
            color: black !important
        }
    </style>
    <script>
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".MissingTransaction").addClass("active open");

        });
    </script>
}
