﻿@using System.Web.Mvc.Html
@using PhoenixWeb.Models.ViewModel;
@model MissingTransactionFromWestPacVM
@Html.ValidationSummary(true)

<h3 class="page-title">
    Process Missing Transaction
</h3>
@*<div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-adjust"></i>
                Missing transaction from WestPac for the month of @DateTime.Now.ToString("MMMM yyyy")
            </div>
            <div class="tools">
                <a href="" class="collapse"></a>
                <a href="" class="reload">
                </a>
            </div>
        </div>
    </div>*@

@if (Model == null)
{
    return;
}

@using (Html.BeginForm("MissingTransactionFromWestPac", "MissingTransactionFromWestPac", FormMethod.Post, new { id = "MissingTransactionFromWestPac" }))
{

    <form action="#" class="horizontal-form">
        <div class="form-body">
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.TerminalID, new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(x => Model.TerminalID, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px;">


                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.TransactionStartDate, new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(x => Model.TransactionStartDate, new { @class = "form-control datepicker removeNotAllowCursor", @readonly = "readonly" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.TransactionEndDate, new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(x => Model.TransactionEndDate, new { @class = "form-control datepicker removeNotAllowCursor", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <span style="float:left;font-size:small">
                            <button type="button" class="btn blue-chambray" id="searchMissingTransactionFromWestPac"><i class="fa fa-check"></i> Search</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-12">
                    <div class="form-group" id="parentDeclinedTransactionGrid">
                        <table id="grdMissingTransactionFromWestPac"></table>
                        <div id="grdMissingTransactionFromWestPacPager"></div>
                    </div>
                </div>
            </div>
           
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.BatchID, new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(x => Model.BatchID, new { @class = "form-control datepickerWithDayAndMonthFormat", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.BatchSequence, new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(x => Model.BatchSequence, new { @class = "form-control"})
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.FileDate, new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(x => Model.FileDate, new { @class = "form-control datepicker", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <span style="float:left;font-size:small">
                        <button type="button" class="btn blue-chambray" id="approveMissingTransactionFromWestpac"><i class="fa fa-check"></i> Approved</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
}
@section scripts {
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/missingtransaction.js"></script>
    <style type="text/css">
        .removeNotAllowCursor {
            cursor: auto !important
        }

        #ui-datepicker-div .ui-datepicker-month,
        #ui-datepicker-div .ui-datepicker-month option {
            color: black !important
        }

        #ui-datepicker-div .ui-datepicker-year,
        #ui-datepicker-div .ui-datepicker-year option {
            color: black !important
        }
    </style>
    <script>
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".MissingTransaction").addClass("active open");
        });
    </script>
}
