﻿<div class="portlet-body form" id="memberRebateDialog" style="display:none;">
    <div class="container-fluid" style="background-color: white;">
        <div class="col-sm-2"></div>
        <form role="form" class="form-horizontal">
            <div class="row" style="margin-top: 10px; margin-left: unset;">
                Rebates only applicable for Debit/EFTPOS transactions.
                <br />
                Rebate amount must be set from $0 to $1.
            </div>
            <div class="row rebate">
                <div class="col-sm-5"><label class="card-type">Cash Advance</label></div>
                <div class="col-sm-5 rebate-input">
                    <span class="input-group-addon">$</span>
                    <input type="text"
                           class="form-control Rebate"
                           name="CRDebitRebateForCashAdvance"
                           id="CRDebitRebateForCashAdvance"
                           value="0">
                    <span style="display: inherit; line-height: 34px;">&nbsp;/transaction</span>
                    <img class="errorIcon" src="~/Images/error.png" />
                </div>
            </div>
            <div class="row rebate">
                <div class="col-sm-5"><label class="card-type">Purchase with Cash Out</label></div>
                <div class="col-sm-5 rebate-input">
                    <span class="input-group-addon">$</span>
                    <input type="text"
                           class="form-control Rebate"
                           name="CRDebitRebateForPurWithCashOut"
                           id="CRDebitRebateForPurWithCashOut"
                           value="0">
                    <span style="display: inherit; line-height: 34px;">&nbsp;/transaction</span>
                    <img class="errorIcon" src="~/Images/error.png" />
                </div>
            </div>
            <div class="row" id="errorMess">
                Please input rebate amount.
            </div>
            <div class="row row-footer">
                <button type="button" class="btn default" id="ResetDefaultRebate">Reset to defaults</button>
                <button type="button" class="btn default" id="CloseRebateDialog">Cancel</button>
                <button type="button" class="btn blue" id="SaveRebate">Save</button>
            </div>
        </form>
    </div>
</div>

<style>
    #memberRebateDialog span.input-group-addon {
        padding: 8px 0;
        margin: 1px 0 0 1px;
        width: 20px;
        border-radius: 5px 0 0 5px !important;
        border: 1px solid transparent;
        position: absolute;
    }

    #memberRebateDialog input[type="text"] {
        text-align: right;
    }

    #memberRebateDialog input[type="text"]{
        border-radius: 5px !important;
        width: 155px;
    }
    
    #memberRebateDialog div.row.rebate{
        background-color: whitesmoke;
        margin-left: unset;
        margin-right: unset;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    
    #memberRebateDialog div.row.rebate div.rebate-input{
        display: -webkit-inline-box;
    }
    
    #memberRebateDialog div.row-footer {
        float: right;
        margin: 10px 45px 10px 10px;
    }
    
    #memberRebateDialog #errorMess{
        margin: 10px 0 0 0px;
        font-style: italic;
        color: red;
        font-size: small;
        display: none;
    }
</style>
