﻿@using Phoenix_BusLog
@model PhoenixObjects.Member.MemberModel

<script type="text/x-jsrender" id="RebateGridTemplate">
<div class="rebate-content">
    <table  style="min-width: 50%;">
        <tbody>
            {{for data itemVar="~rate"}}
                <tr class="border-top">
                    <td>{{:DebitPurchaseWithCashOutText}}</td>
                    <td>
                      <span class="text-right">
                        {{:DebitPurchaseWithCashOutValue}}
                      </span>
                    </td>
                </tr>
            {{/for}}
        </tbody>
    </table>
</div>
</script>

<style>
    #RebateSection{
        margin-bottom: 5px;
    }
    
    #RebateSection div.rebate-title{
        background-color: whitesmoke;
        border: 1px solid #e7ecf1;
        border-bottom: none;
    }
    
    #RebateSection div.rebate-title span{
        margin-left: 10px;
    }
    
    #RebateSection div.rebate-title button#OpenRebatePopup{
        margin: 5px;
        margin-left: 10px;
    }
    
    #memberRebateDialog div.rebate label{
        font-weight: bold;
        margin-top: 7px;
    }
    
    #RebateGrid .rebate-content{
        padding: 10px;
        border: 1px solid #bfbfbf;
        border-top: none;
    }
    
    #RebateGrid td{
        width: 30%;
        display: table-cell;

    }
    #RebateGrid tr{
        line-height: 30px;
    }
    
    #RebateGrid span.text-right{
        width: auto;
        text-align: right;
        display: inline-block;
    }
</style>