﻿@using OfficeOpenXml.FormulaParsing.Excel.Functions.Logical
@model PhoenixObjects.Financial.CommissionRateModelVM

<div class="portlet-body form" id="editMemberCommissionRateDialog" style="display:none;">
    <input class="form-control" type="hidden" readonly name="BusinessType" id="CommissionRateBusinessType" value="" />
    <div class="container-fluid" style="background-color: white;">
        <div class="col-sm-2"></div>
        <form role="form" class="form-horizontal">
            <div class="row">
                <div class="form-group col-sm-10">
                    <label for="CommissionSubBusinessType" class="control-label col-sm-3 text-left" style="font-weight: bold; min-width: 230px;">Sub-business type</label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.CurrentCommissionRateModel.VehicleTypeId, new List<SelectListItem>(), new {id = "CommissionSubBusinessType", @class = "form-control", @disabled = "disabled"})
                    </div>
                </div>
            </div>
            <div class="row" id="PricingPlanRow">
                <div class="form-group col-sm-10">
                    <label for="PricingPlan" class="control-label col-sm-3 text-left" style="min-width: 230px;">Pricing Plan</label>
                    <div class="col-sm-8">
                        @Html.DropDownList("PricingPlan", new List<SelectListItem>(), new {id = "PricingPlan", @class = "form-control"})
                    </div>
                </div>
            </div>
            <div class="row row-header">
                <div class="col-sm-3"><label style="margin-left: -5px;">Card type</label></div>
                <div class="col-sm-3"><label>Rate</label></div>
                <div class="col-sm-3"><label style="margin-left: 17px;">Rate Option</label></div>
                <div class="col-sm-3"><label class="TranFee">Transaction Fee</label></div>
            </div>
            @{
                foreach (var payMenthod in  ViewBag.PayMethodList)
                {
                    <div class="row border-top" @(payMenthod["IsNewPayMethod"] == 1 ? "role=NewPayMethod" : "")>
                        <div class="col-sm-3"><label class="card-type">@payMenthod["CartType"]</label></div>
                        <div class="col-sm-3" style="display: -webkit-inline-box;">
                            <input type="text" class="form-control cmrate" name="CR@(payMenthod["elemId"])Rate" id="CommissionRateCR@(payMenthod["elemId"])Rate" value="@payMenthod["Rate"]">
                            <img class="errorIcon" src="~/Images/error.png"/>
                            <img class="warningIcon" src="~/Images/warning.png"/>
                        </div>
                        <div class="col-sm-3">
                            @if (payMenthod["RateOption"] == 0)
                            {
                                <select name="IsFixedRate@(payMenthod["elemId"])" id="IsFixedRate@(payMenthod["elemId"])" class="form-control">
                                    <option value="Dollar">Dollar value ($)</option>
                                    <option value="Percentage" selected>Percentage (%)</option>
                                </select>
                            }
                            else
                            {
                                <label class="rate-option">Percentage (%)</label>
                            }
                        </div>
                        <div class="col-sm-3" role="TranFee" style="display: -webkit-inline-box;">
                            <span class="input-group-addon">$</span>
                            <input type="text"
                                   class="form-control TranFee"
                                   name="CR@(payMenthod["elemId"])TranFee"
                                   id="CommissionRateCR@(payMenthod["elemId"])TranFee"
                                   value="@payMenthod["TransactionFee"]">
                            <img class="errorIcon" src="~/Images/error.png"/>
                        </div>
                    </div>
                }
            }
            <div class="row row-footer">
                <button type="button" class="btn default" onclick="ResetDefaultRateAndTranFee()">Reset to defaults</button>
                <button type="button" class="btn default" onclick="CloseCommissionRateDialog()">Cancel</button>
                <button type="button" class="btn blue" onclick="SaveCommissionRate()">Save</button>
            </div>
        </form>
    </div>
</div>

<style>
    #editMemberCommissionRateDialog select {
        border-radius: 5px!important;
        width: 300px;
    }
    
    #editMemberCommissionRateDialog input[type="text"], 
    #editMemberCommissionRateDialog div.border-top select {
        border-radius: 5px!important;
        width: 155px;
    }
    
    #editMemberCommissionRateDialog input[type="text"]{
            text-align: right;
    }
    
    #editMemberCommissionRateDialog label.text-left{
        text-align: left!important;
    }
    
    #editMemberCommissionRateDialog label.rate-option {
        padding-left: 17px;
    }
    
    #editMemberCommissionRateDialog label.card-type {
        font-weight: bold;
        margin-top: 7px;
    }
    
    #editMemberCommissionRateDialog .row-header{
        margin: unset;
        padding: 5px;
    }
    
    #editMemberCommissionRateDialog .row-header label {
        width: 100%;
        font-weight: bold;
        margin: 5px 10px 0 10px;
    }
    
    #editMemberCommissionRateDialog div.row-footer{
        float: right;
        margin: 10px 45px 10px 10px;
    }
    
    #editMemberCommissionRateDialog .row{
        margin-top: 10px;
    }
    
    #editMemberCommissionRateDialog .form-group{
        margin-bottom: unset;
    }
    
    #editMemberCommissionRateDialog span.input-group-addon{
        padding: 8px 0;
        margin: 1px 0 0 1px;
        width: 20px;
        border-radius: 5px 0 0 5px!important;
        border: 1px solid transparent;
        position: absolute;
    }
    
    #editMemberCommissionRateDialog div.row.border-top{
        border-top: 1px solid whitesmoke;
        padding: 5px 0 5px 0;
        margin: unset;
    }
    
    #editMemberCommissionRateDialog div[role="TranFee"].col-sm-3{
        width: auto;
    }
    
    .ui-dialog-titlebar-close {
                padding: 0 !important;
            }
    
    .ui-dialog-titlebar-close:after {
        content: '';
        width: 16px;
        height: 16px;
        display: inline-block;
        /* Change path to image*/
        background-image: url("../assets/global/plugins/jquery-ui/images/ui-icons_888888_256x240.png");
        background-position: -97px -129px;
        background-repeat: no-repeat;
    }
</style>