﻿@using Phoenix_BusLog
@model PhoenixObjects.Member.MemberModel

<script type="text/x-jsrender" id="CommissionRateGridTemplate">
<ul class="nav nav-tabs" role="tablist">
  {{if data.isFeeFreeMember}}
    <li role="presentation"><a href="#SubBusinessType19" index="0" aria-controls="#SubBusinessType19" role="tab" data-toggle="tab">Retail</a></li>
  {{/if}}

  {{for data.Rates itemVar="~rate" ~isFeeFreeMember=data.isFeeFreeMember}}
    {{if ~isFeeFreeMember && SubBusinessType === 'Retail'}}
    {{else}}
      <li role="presentation"><a href="#SubBusinessType{{:SubBusinessTypeID}}" index="{{:#getIndex()}}" aria-controls="#SubBusinessType{{:SubBusinessTypeID}}" role="tab" data-toggle="tab">{{:SubBusinessType}}</a></li>
    {{/if}}
  {{/for}}
</ul>
<div class="tab-content">

{{if data.isFeeFreeMember}}
<div role="tabpanel" class="tab-pane" index="0" id="SubBusinessType19">
      The Retail MSF rates for fee free members are applied via the <b>Default Service Fee</b> located in the relevant terminal Configuration page.
</div>
{{/if}}

{{for data.Rates itemVar="~rate" ~isFeeFreeMember=data.isFeeFreeMember}}
    <div role="tabpanel" class="tab-pane" index="{{:#index}}" id="SubBusinessType{{:SubBusinessTypeID}}">
    {{if ~isFeeFreeMember && SubBusinessType === 'Retail'}}
    {{else}}
    <table style="min-width: 50%;">
        <thead>
            <tr id="headRow">
                <th>
                    Card type
                </th>
                <th>
                    <span class="text-right">Rate</span>
                </th>
                <th style="line-height: 34px;">
                    <span class="text-right">Transaction Fee</span>
                
                    @if (ViewData["IsFromDetail"].ToString() == "false")
                    {
                        <button type="button" 
                                onclick="ModifyCommissionRate('@Model.MemberId','{{:SubBusinessTypeID}}', true)" 
                                class="btn blue" 
                                style="float: right; padding: 4px 12px;">Edit Rate
                        </button>
                    }
                </th>
            </tr>
        </thead>
        <tbody>
          <tr class="border-top">
            <td>Debit</td>
            <td>
              <span class="text-right">
              {{if IsDebitFixed == true && CRDebitRate}}
                {{if CRDebitRate > 0}}
                  ${{:CRDebitRate.toFixed(4)}}
                {{else}}
                  {{:CRDebitRate.toFixed(4).replace('-', '-$')}}
                {{/if}}
              {{else IsDebitFixed == false && CRDebitRatePercentage}}
                {{:CRDebitRatePercentage.toFixed(4)}}%
              {{else}}
                -
              {{/if}}
              </span>
            </td>
            <td>
              <span class="text-right">
              {{if CRDebitTranFee}}
                {{:CRDebitTranFee.toFixed(4).replace('-', '-$')}}
              {{else}}
                -
              {{/if}}
              </span>
            </td>
          </tr>
          <tr class="border-top">
            <td>VISA</td>
            <td>
              <span class="text-right">
              {{if CRVisaRate}}
                {{:CRVisaRate.toFixed(4)}}%
              {{else}}
                -
              {{/if}}
              </span>
            </td>
            <td>
              <span class="text-right">
              {{if CRVisaTranFee}}
                {{:CRVisaTranFee.toFixed(4).replace('-', '-$')}}
              {{else}}
                -
              {{/if}}
              </span>
            </td>
          </tr>
          <tr class="border-top">
            <td>VISA Debit</td>
            <td>
              <span class="text-right">
              {{if CRVisaDebitRate}}
                {{:CRVisaDebitRate.toFixed(4)}}%
              {{else}}
                -
              {{/if}}
              </span>
            </td>
            <td>
              <span class="text-right">
              {{if CRVisaDebitTranFee}}
                {{:CRVisaDebitTranFee.toFixed(4).replace('-', '-$')}}
              {{else}}
                -
              {{/if}}
              </span>
            </td>
          </tr>
          <tr class="border-top">
            <td>Mastercard</td>
            <td>
              <span class="text-right">
              {{if CRMasterCardRate}}
                {{:CRMasterCardRate.toFixed(4)}}%
              {{else}}
                -
              {{/if}}
              </span>
            </td>
            <td>
              <span class="text-right">
              {{if CRMasterCardTranFee}}
                {{:CRMasterCardTranFee.toFixed(4).replace('-', '-$')}}
              {{else}}
                -
              {{/if}}
              </span>
            </td>
          </tr>
          <tr class="border-top">
            <td>Mastercard Debit</td>
            <td>
              <span class="text-right">
              {{if CRMasterCardDebitRate}}
                {{:CRMasterCardDebitRate.toFixed(4)}}%
              {{else}}
                -
              {{/if}}
              </span>
            </td>
            <td>
              <span class="text-right">
              {{if CRMasterCardDebitTranFee}}
                {{:CRMasterCardDebitTranFee.toFixed(4).replace('-', '-$')}}
              {{else}}
                -
              {{/if}}
              </span>
            </td>
          </tr>
          <tr class="border-top">
            <td>AMEX</td>
            <td>
              <span class="text-right">
              {{if CRAmexRate}}
                {{:CRAmexRate.toFixed(4)}}%
              {{else}}
                -
              {{/if}}
              </span>
            </td>
            <td>
              <span class="text-right">
              {{if CRAmexTranFee}}
                {{:CRAmexTranFee.toFixed(4).replace('-', '-$')}}
              {{else}}
                -
              {{/if}}
              </span>
            </td>
          </tr>
          <tr class="border-top">
            <td>Diners</td>
            <td>
              <span class="text-right">
              {{if CRDinersRate}}
                {{:CRDinersRate.toFixed(4)}}%
              {{else}}
                -
              {{/if}}
              </span>
            </td>
            <td>
              <span class="text-right">
              {{if CRDinersTranFee}}
                {{:CRDinersTranFee.toFixed(4).replace('-', '-$')}}
              {{else}}
                -
              {{/if}}
              </span>
            </td>
          </tr>
          <tr class="border-top">
            <td>UnionPay</td>
            <td>
              <span class="text-right">
              {{if CRUnionPayRate}}
                {{:CRUnionPayRate.toFixed(4)}}%
              {{else}}
                -
              {{/if}}
              </span>
            </td>
            <td>
              <span class="text-right">
              {{if CRUnionPayTranFee}}
                {{:CRUnionPayTranFee.toFixed(4).replace('-', '-$')}}
              {{else}}
                -
              {{/if}}
              </span>
            </td>
          </tr>
          <tr class="border-top">
            <td>Zip Pay</td>
            <td>
              <span class="text-right">
              {{if CRZipPayRate}}
                {{:CRZipPayRate.toFixed(4)}}%
              {{else}}
                -
              {{/if}}
              </span>
            </td>
            <td>
              <span class="text-right">
              {{if CRZipPayTranFee}}
                {{:CRZipPayTranFee.toFixed(4).replace('-', '-$')}}
              {{else}}
                -
              {{/if}}
              </span>
            </td>
          </tr>
          <tr class="border-top">
            <td>Qantas</td>
            <td>
              <span class="text-right">
              {{if IsQantasFixed == true && CRQantasRate}}
                {{if CRQantasRate > 0}}
                    ${{:CRQantasRate.toFixed(4)}}
                {{else}}
                    {{:CRQantasRate.toFixed(4).replace('-', '-$')}}
                {{/if}}
              {{else IsQantasFixed == false && CRQantasRatePercentage}}
                  {{:CRQantasRatePercentage.toFixed(4)}}%
              {{else}}
                  -
              {{/if}}
              </span>
            </td>
            <td>
              <span class="text-right">
              {{if CRQantasTranFee}}
                {{:CRQantasTranFee.toFixed(4).replace('-', '-$')}}
              {{else}}
                -
              {{/if}}
              </span>
            </td>
          </tr>
          <tr>
            <td>Alipay</td>
            <td>
              <span class="text-right">
              {{if CRAlipayRate}}
                {{:CRAlipayRate.toFixed(4)}}%
              {{else}}
                -
              {{/if}}
              </span>
            </td>
            <td>
              <span class="text-right">
              {{if CRAlipayTranFee}}
                {{:CRAlipayTranFee.toFixed(4).replace('-', '-$')}}
              {{else}}
                -
              {{/if}}
              </span>
            </td>
          </tr>
          <tr class="border-top">
            <td>JCB</td>
            <td>
              <span class="text-right">
              {{if CRJCBRate}}
                {{:CRJCBRate.toFixed(4)}}%
              {{else}}
                -
              {{/if}}
              </span>
            </td>
            <td>
              <span class="text-right">
              {{if CRJCBTranFee}}
                {{:CRJCBTranFee.toFixed(4).replace('-', '-$')}}
              {{else}}
                -
              {{/if}}
              </span>
            </td>
          </tr>
        </tbody>
    </table>
    {{/if}}
    </div>
{{/for}}
</div>
</script>
<style>
    #CommissionRateGrid td{
        width: 30%;
        display: table-cell;

    }
    #CommissionRateGrid tr{
        line-height: 30px;
    }
    
    #CommissionRateGrid tr.border-top
    {
        border-top: 1px solid whitesmoke;
    }
    
    span.text-right{
        width: 111px;
        text-align: right;
        display: inline-block;
    }
</style>