﻿<div class="portlet-body form form-div popup-dialog" id="oxygenTransactionApproveDialog" style="display:none;">
    <!-- BEGIN FORM-->
    <div class="form-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Enter Oxygen transaction reference number:", new { @class = "control-labelM col-md-12" })
                    <input class="form-control" type="text" name="OxygenTransRefNo" id="OxygenTransRefNo" />
                </div>
                <input hidden id="ID"/>
            </div>
        </div>
        <div style="vertical-align:middle; text-align: right">
            <input class="btn blue right" type="button" onClick="Approve()" value="Approve"/>
            <input class="btn blue" type="button" onclick="CloseDialog('#oxygenTransactionApproveDialog')" id="btn-close" value="Close" />
        </div>
    </div>
</div>