﻿@model PhoenixObjects.DriverCard.OxygenTransactionSearchVM
@{
    ViewBag.Title = "Oxygen Transaction";
}
<h3 class="page-title">
    Search
</h3>

<p id="error-message" style="color: red"></p>
@Html.ValidationMessage("error")
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
            Search
        </div>
        <div class="tools">
            <a href="" class="expand"></a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="horizontal-form" id="searchForm">
            <div class="form-body" id="param-area">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.TransactionDateFrom, new { @class = "control-label col-md-4" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.TransactionDateFrom, "", new { @class = "form-control datepicker removeNotAllowCursor search-param", @readonly = "readonly" })
                            </div>
                            @Html.LabelFor(m => m.TransactionDateTo, new { @class = "control-label col-md-1" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.TransactionDateTo, "", new { @class = "form-control datepicker removeNotAllowCursor search-param", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CreatedDateFrom, new { @class = "control-label col-md-4" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.CreatedDateFrom, "", new { @class = "form-control datepicker removeNotAllowCursor search-param", @readonly = "readonly" })
                            </div>
                            @Html.LabelFor(m => m.CreatedDateTo, new { @class = "control-label col-md-1" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.CreatedDateTo, "", new { @class = "form-control datepicker removeNotAllowCursor search-param", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.OxygenTransRefNo, new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.OxygenTransRefNo, new { @class = "form-control search-param" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.MemberID, new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.MemberID, new { @class = "form-control search-param" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.LodgementReferenceNo, new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.LodgementReferenceNo, new { @class = "form-control search-param" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.AccountIdentifier, new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.AccountIdentifier, new { @class = "form-control search-param" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.TransactionType, new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.TransactionType, (IEnumerable<SelectListItem>)ViewBag.TransactionTypeList, "--Select--", new { @class = "form-control search-param" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.AmountFrom, new { @class = "control-label col-md-4" })
                            <div class="col-md-3">
                                @{var formated = String.Format("{0:0.00}", Model.AmountFrom);}
                                @Html.TextBoxFor(m => m.AmountFrom, formated, new { @class = "form-control search-param", @type = "number", @min = "0" })
                            </div>
                            @Html.LabelFor(m => m.AmountTo, new { @class = "control-label col-md-1" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.AmountTo, formated, new { @class = "form-control search-param", @type = "number", @min = "0" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.StatusID, new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.StatusID, (IEnumerable<SelectListItem>)ViewBag.StatusList, "--Select--", new { @class = "form-control search-param" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions right">
                <button id="btnExport" class="btn blue-madison" disabled>EXPORT <i class="m-icon-swapdown m-icon-white"></i></button>
                <button id="btnSearch" class="btn blue-madison">SEARCH <i class="m-icon-swapright m-icon-white"></i></button>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>
<div class="portlet box blue" id="wrapper">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Result
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-12">
            <div class="form-group" id="TransactionGroup">
                <table id="TransactionGrid"></table>
                <div id="TransactionGridPager"></div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/DriverCard/ApproveOxygenTransaction.cshtml")

@section scripts {
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/pages/OxygenTransaction/PH-OxygenTransaction.js"></script>
    <script src="~/Scripts/pages/OxygenTransaction/PH-OxygenTransactionService.js"></script>
    <style>
        .removeNotAllowCursor {
            cursor: auto !important
        }

        #ui-datepicker-div .ui-datepicker-month,
        #ui-datepicker-div .ui-datepicker-month option {
            color: black !important
        }

        #ui-datepicker-div .ui-datepicker-year,
        #ui-datepicker-div .ui-datepicker-year option {
            color: black !important
        }

        .form-body > .row {
            margin-bottom: 5px;
        }

        .control-label {
            margin-top: 5px;
            padding-right: 5px;
            padding-left: 5px;
        }

        .inline-button {
            border-collapse: collapse;
            border-width: thin;
            border-radius: 3px !important;
            background-color: #578ebe;
            border-color: #578ebe;
            color: #efefef;
        }            
    </style>
}

