﻿@{
    ViewBag.Title = "Update Card Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Update Card Status</h2>
<div class="row" style="margin-bottom: 20px;">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-adjust"></i>
                    Please enter Oxygen Account Identifiers (separated by semicolon ; )
                </div>
            </div>
            <div class="portlet-body form">
                <div class="panel-body">
                    <textarea type="text" data-id="" class="form-control" id="InputtedAccountIdentifiers" style="height:100px"></textarea>
                    <input type="button" value="Update Card Status" id="btnUpdateStatus" style="margin-top: 2%;" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/pages/Member/DriverCard/PH-DriverCardUpdateStatus.js" type="text/javascript"></script>