﻿<div class="portlet-body form" id="PaymentHistoryDetailPopup" style="display:none;">
    <div id="PaymentHistoryDetailGrid"></div>
    @Html.Partial("PaymentHistory/_PaymentHistoryDetailTemplate")
</div>

