﻿<script type="text/x-jsrender" id="PaymentHistoryDetailTemplate">
    <div class="container-fluid" style="background-color: white;">
        <div class="row">
            <div class="col-md-5">Payment Date</div>
            <div class="col-md-4">{{:PaymentDetail.PaymentDate}}</div>
        </div>
        <div class="row">
            <div class="col-md-5">Payment Reference No.</div>
            <div class="col-md-4">{{:PaymentDetail.PaymentReferenceNo}}</div>
        </div>
        <div class="row">
            <div class="col-md-5">Total Amount</div>
            <div class="col-md-4">{{:PaymentDetail.TotalAmountFormatted}}</div>
        </div>
        {{if PaymentDetail.IsSplitPayment}}
        <div class="row">
            <div class="col-md-5">Amount Transferred</div>
            <div class="col-md-4">{{:PaymentDetail.TransferredAmountFormatted}}</div>
        </div>
        <div class="row">
            <div class="col-md-5">Amount Pending</div>
            <div class="col-md-4">{{:PaymentDetail.PendingAmountFormatted}}</div>
        </div>
        {{/if}}
        <div class="row">
            <div class="col-md-5">Payment Type</div>
            <div class="col-md-4">{{:PaymentDetail.PaymentType}}</div>
        </div>
        <div class="row">
            <div class="col-md-5">Status</div>
            <div class="col-md-4">{{:PaymentDetail.PaymentStatus}}</div>
        </div>
        {{if PaymentDetail.PaymentType == 'Bank'}}
        <div class="row">
            <div class="col-md-5">Account Name</div>
            <div class="col-md-4">{{:PaymentDetail.AccountName}}</div>
        </div>
        <div class="row">
            <div class="col-md-5">Account Number</div>
            <div class="col-md-4">{{:PaymentDetail.AccountNumber}}</div>
        </div>
        <div class="row">
            <div class="col-md-5">BSB</div>
            <div class="col-md-4">{{:PaymentDetail.Bsb}}</div>
        </div>
        {{/if}}
        {{if PaymentDetail.PaymentType == 'Bank' && PaymentDetail.PaymentStatus == 'Failed' && !PaymentDetail.IsShowTransferHistory}}
        <div class="row">
            <div class="col-md-5">Failed Date</div>
            <div class="col-md-4">{{:PaymentDetail.FailedDate}}</div>
        </div>
        {{/if}}
        {{if PaymentDetail.IsShowLatestTransferDate}}
        <div class="row">
            <div class="col-md-5">Latest Transfer Date</div>
            {{if PaymentDetail.PaymentStatus == 'Pending'}}
                <div class="col-md-4">-</div>
            {{else}}
                <div class="col-md-4">{{:PaymentDetail.LatestTransferDate}}</div>
            {{/if}}
        </div>
        {{/if}}
        {{if PaymentDetail.IsShowTransferHistory}}
        <div class="row">
            <div class="col-md-8">
                <h3 style="font-weight: bold;">TRANSFER HISTORY</h3>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="TransferredHistories">
                <thead>
                <tr>
                    <th>
                        Transferred Date
                    </th>
                    <th class="text-right">
                        Amount
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Payment Type
                    </th>
                    <th>
                        Notes
                    </th>
                </tr>
                </thead>
                <tbody>{{for TransferHistories}}
                <tr>
                    <td>
                        <label>{{:TransferredDate}}</label>
                    </td>
                    <td class="text-right">
                        <label>{{:AmountFormatted}}</label>
                    </td>
                    <td>
                        <label>{{:PaymentStatus}}</label>
                    </td>
                    <td>
                        <label>{{:PaymentType}}</label>
                    </td>
                    <td>
                        <label>{{:PaymentNote}}</label>
                    </td>
                </tr>{{/for}}                
                </tbody>
            </table>
        </div>
        {{/if}}
        <div class="row">
            <button type="button" class="btn default pull-right" style="margin: 0 15px 15px 0;" onclick="ClosePaymentDetail()" role="button">CLOSE</button>
        </div>
    </div>
</script>


<style>
    #PaymentHistoryDetailGrid .payment-type{
        width: 12%;
    }
    
    #PaymentHistoryDetailGrid .trans-date{
        width: 18%;
    }
    
    #PaymentHistoryDetailGrid table#TransferredHistories{
        border: none;
    }
    
    #PaymentHistoryDetailGrid table#TransferredHistories th{
        background-color: white;
        border-top: none;
        border-left: none;
        border-right: none;
        font-weight: bold;
        font-size: medium;
        position: sticky; 
        top: 0;
    }
    
    #PaymentHistoryDetailGrid table#TransferredHistories td label{
        min-width: 155px;
    }

    .ui-dialog-titlebar-close {
        padding: 0 !important;
    }
    
    .ui-dialog-titlebar-close:after {
        content: '';
        width: 16px;
        height: 16px;
        display: inline-block;
        /* Change path to image*/
        background-image: url("../assets/global/plugins/jquery-ui/images/ui-icons_888888_256x240.png");
        background-position: -97px -129px;
        background-repeat: no-repeat;
    }
    
    #PaymentHistoryDetailGrid .table-responsive {
        overflow-x: auto;
        max-height: 426px;
    }
</style>
