﻿
@model string

<div class="portlet box grid-wrapper" id="PaymentHistoriesSection">
    <h4 class="form-section">
        Payment History
    </h4>
    <div class="row payment-search">
        <div class="col-md-3 form-group">
            <label class="col-md-3 control-label" for="PaymentDateFrom">From Date</label>
            <div class="col-md-8">
                <input class="form-control payment-datepicker removeNotAllowCursor" 
                       id="PaymentDateFrom" 
                       name="PaymentDateFrom" 
                       placeholder="DD/MM/YYYY" 
                       readonly
                       type="text"/>
            </div>
            <span class="info-icon"
                  title="The maximum date range that can be entered is one year">
            </span>
        </div>
        <div class="col-md-3 form-group">
            <label class="col-md-3 control-label" for="PaymentDateTo">To Date</label>
            <div class="col-md-8">
                <input class="form-control payment-datepicker removeNotAllowCursor" 
                       id="PaymentDateTo" 
                       name="PaymentDateTo" 
                       placeholder="DD/MM/YYYY" 
                       readonly
                       type="text"/>
            </div>
        </div>
        <div class="col-md-5 form-group">
            <label class="col-md-6 control-label" for="PaymentReferenceNo" style="width: auto;">Payment Reference Number</label>
            <div class="col-md-7">
                <input class="form-control"
                       id="PaymentReferenceNo"
                       type="text"/>
            </div>
        </div>
        <div class="col-md-1" style="padding-left: unset;">
            <button type="button" class="btn blue" role="button" id="PaymentHistoriesSearch">SEARCH</button>  
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" id="PaymentHistoriesNew">
            </div>
        </div>
    </div>
</div>

@Html.Partial("PaymentHistory/_PaymentHistoryDetail")

<script>
var memberKey = @Model;

</script>
<style>
    #PaymentHistoriesSection .payment-datepicker{
        background-color: white;
    }
    
    #PaymentHistoriesSection .payment-search label
    {
        line-height: 34px;
    }
    
    #PaymentHistoriesSection label.control-label{
        width:27%;
        padding: unset;
    }
    
    #PaymentHistoriesSection .btn-default {
        font-size: smaller;
        padding: 4px 10px;
        border-radius: 3px!important;
        margin: 0 8px;
    }
    
    #PaymentHistoriesSection span.info-icon{
        display: inline-block;
        margin: 3px;
        position: absolute;
        background-image: url("../images/info.svg");
        width: 27px;
        height: 27px;
    }
</style>

