﻿@model PhoenixWeb.Models.ViewModel.VMBaseWithPaging
@{
    ViewBag.Title = "QantasPointEarnedRate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Qantas Point Earned Rate</h2>
<div id="QantasPointEarnedRate">
    <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-12">
            <input id="btnAdd" value="Add New" class="btn btn-primary" type="button" style="float: left;" />
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-12">
            <div class="form-group" id="parentQantasPointEarnedRateGrid">
                <table id="grdQantasPointEarnedRateGrid"></table>
                <div id="grdQantasPointEarnedRateGridPager"></div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_QantasEarnedRateDialog")

@section scripts
{
    <script src="~/Scripts/pages/Group/PH-EarnedRateDialog.js"></script>
    <script src="~/Scripts/pages/QantasPointReviewing/Services/PH-QantasPointEarnedRateService.js"></script>
    <script src="~/Scripts/pages/QantasPointReviewing/PH-QantasPointEarnedRate.js"></script>
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <style type="text/css">
        #ui-datepicker-div .ui-datepicker-month,
        #ui-datepicker-div .ui-datepicker-month option {
            color: black !important
        }

        #ui-datepicker-div .ui-datepicker-year,
        #ui-datepicker-div .ui-datepicker-year option {
            color: black !important
        }
    </style>
    <script>
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".LiveSMS").addClass("active open");
        });
    </script>
}
