﻿@using System.Web.Mvc.Html
@using PhoenixWeb.Models.ViewModel;
@model QantasPointFileReviewingVM
@Html.ValidationSummary(true)

<h3 class="page-title">
    Qantas Point File Reviewing
</h3>

@if (Model == null)
{
    return;
}

@using (Html.BeginForm("SentToApproval", "QantasProcessing", FormMethod.Post, new { id = "qantasPointFileReviewing" }))
{
    <form action="#" class="horizontal-form">
        <dfiv class="form-body">
            <input id="QantasExportFileKey" hidden="hidden" type="text" value="" />
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.Years, new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(x => x.Year, Model.Years, new { @class = "form-control option-filter" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.Months, new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(x => x.Month, Model.Months, new { @class = "form-control option-filter" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.QantasFileID, new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(x => x.QantasFileID, Model.QantasFileNameList, new { @class = "form-control option-filter" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <span style="float:left;font-size:small">
                            <button type="button" class="btn blue-chambray" id="search"><i class="fa fa-check"></i> Load QBR</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px; display: none" id="filterSection">
                <div style="position: relative; float: right;  width: 15%; margin-right: 1%;">
                    <i class="glyphicon glyphicon-search" style="position: absolute;pointer-events: none; padding: 10px; right: 0px;"></i>
                    <input id="textAdvanceSearch" title="Filter Member ID, QBR Number, Status, Comment" type="text" class="form-control" placeholder="Search..." />
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-12">
                    <div class="form-group" id="parentQantasPointFileVerificationGrid">
                        <table id="grdQantasPointFileVerification"></table>
                        <div id="grdQantasPointFileVerificationPager"></div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-12">
                    <button type="button" style="float: right;" class="btn blue-chambray" onclick="ExportFile()">Generate to Excel</button>
                </div>
            </div>
        </dfiv>
    </form>
}
@section scripts {
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/pages/QantasPointFileReviewing/PH-QantasPointFileReviewing.js"></script>
    <script src="~/Scripts/pages/QantasPointFileReviewing/PH-QantasPointFileReviewingService.js"></script>
    <style type="text/css">
        </style>
    <script>
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".QantasReviewing").addClass("active open");
        });
    </script>
}
