﻿@using System.Web.Mvc.Html
@model PhoenixWeb.Models.ViewModel.QantasPointUploadVM
@{
    ViewBag.Title = "Qantas Point Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="page-title">
    Qantas Point Upload
</h3>
<form id="QantasPointUpload">
    <input type="hidden" id="urlHidden" value="@Url.Content("~/")">
    <div class="form-body">
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(x => Model.BusinessTypes, new { @class = "control-labelM col-md-4" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(x => x.BusinessTypeId, Model.BusinessTypes, new { @class = "form-control option-filter" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(x => Model.LoyaltyPromotions, new { @class = "control-labelM col-md-4" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(x => x.LoyaltyPromotionId, Model.LoyaltyPromotions, new { @class = "form-control option-filter" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Upload Qantas Point file", new { @class = "control-labelM col-md-4" })
                    <div class="col-md-6">
                        <input type="file" name="" title="Upload Qantas Point file" id="btnChooseFile" class="form-control">
                    </div>
                    <input type="button" title="Load data from file to grid view." value="Load File" class="btn btn-default" id="btnLoadFile">
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <div class="form-group" id="parentQantasPointUploadGrid">
                    <table id="grdQantasPointUploadGrid"></table>
                    <div id="grdQantasPointUploadGridPager"></div>
                </div>
            </div>
        </div>
        
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <button id="btnSave" class="form-control btn btn-primary" style="width: 5%;" disabled="disabled">Save</button>
            </div>
        </div>
    </div>
</form>
@section scripts
{
    <script src="~/Scripts/pages/QantasPointReviewing/PH-QantasPointUpload.js"></script>
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".QantasReviewing").addClass("active open");
        });
    </script>
}
