﻿@using System.Web.Mvc.Html
@using PhoenixWeb.Models.ViewModel;
@model QantasPointApprovalScreenVM
@Html.ValidationSummary(true)

<h3 class="page-title">
    Qantas Point Approval
</h3>

@if (Model == null)
{
    return;
}

@using (Html.BeginForm("SentToQantas", "QantasProcessing", FormMethod.Post, new { id = "QantasPointReviewingForManager" }))
{
    <input type="hidden" id="urlHidden" value="@Url.Content("~/")">
    <form action="#" class="horizontal-form">
        <div class="form-body">
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.Years, new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(x => x.Year, Model.Years, new { @class = "form-control option-filter" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.Months, new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(x => x.Month, Model.Months, new { @class = "form-control option-filter" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.BusinessTypes, new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(x => x.BusinessTypeID, Model.BusinessTypes, new { @class = "form-control option-filter" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <span style="float:left;font-size:small">
                            <button type="button" class="btn blue-chambray" id="search"><i class="fa fa-check"></i> Load QBR</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">Total Transaction: <label id="totalTransaction"> </label></div>
                <div class="col-md-2">Total Approval: <label id="totalApproval"> </label></div>
                <div class="col-md-2">Total Rejected: <label id="totalRejected"> </label></div>
                <div class="col-md-3">Total Point: <label id="totalPoint"> </label></div>
            </div>
            <div class="row" style="margin-bottom: 15px; display: none" id="filterSection">
                <div style="position: relative; float: right;  width: 15%; margin-right: 1%;">
                    <i class="glyphicon glyphicon-search" style="position: absolute;pointer-events: none; padding: 10px; right: 0px;"></i>
                    <input id="textAdvanceSearch" title="Filter Member ID, QBR Number, Status, Comment, Trading Name" type="text" class="form-control" placeholder="Search..." />
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-12">
                    <div class="form-group" id="parentQantasPointVerificationForManagerGrid">
                        <table id="grdQantasPointVerificationForManager"></table>
                        <div id="grdQantasPointVerificationForManagerPager"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <span style="float:left;font-size:small">
                        <button type="button" class="btn blue-chambray" id="Reject" onclick="onManagerRejectQantasPointReward()"><i class="fa fa-check"></i>Reject</button>
                    </span>
                </div>
                <div class="col-md-6">
                    <span style="float: right; font-size: small">
                        <button type="button" class="btn blue-chambray" onclick="ExportFile()">Generate to Excel</button>
                        <button type="button" class="btn blue-chambray" id="sentToQantas" onclick="sendQBRToQantas()"><i class="fa fa-check"></i>Sent to Qantas</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
}
@section scripts {
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/pages/QantasPointReviewing/PH-QantasPointReviewingForManager.js"></script>
    <style type="text/css">
        </style>
    <script>
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".QantasReviewing").addClass("active open");
        });
    </script>
}
