﻿@using System.Web.Mvc.Html
@using PhoenixWeb.Models.ViewModel;
@model QantasPointApprovalScreenVM
@Html.ValidationSummary(true)

<h3 class="page-title">
    Qantas Point Reviewing For Sale/Finance
</h3>
@*<div class="portlet box blue">
        @*<div class="portlet-title">
            <div class="caption">
                <i class="fa fa-adjust"></i>
                Process declined transaction for the month of @DateTime.Now.ToString("MMMM yyyy")
            </div>
            <div class="tools">
                <a href="" class="collapse"></a>
                <a href="" class="reload">
                </a>
            </div>
        </div>
    </div>*@

@if (Model == null)
{
    return;
}

@using (Html.BeginForm("SentToApproval", "QantasProcessing", FormMethod.Post, new { id = "QantasPointReviewingForSaleFin" }))
{
    <input type="hidden" id="urlHidden" value="@Url.Content("~/")">
    <form action="#" class="horizontal-form">
        <div class="form-body">
            <input id="QantasExportFileKey" hidden="hidden" type="text" value="" />
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.Years, new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(x => x.Year, Model.Years, new { @class = "form-control option-filter" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.Months, new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(x => x.Month, Model.Months, new { @class = "form-control option-filter" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.BusinessTypes, new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(x => x.BusinessTypeID, Model.BusinessTypes, new { @class = "form-control option-filter" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <span style="float:left;font-size:small">
                            <button type="button" class="btn blue-chambray" id="search"><i class="fa fa-check"></i> Load QBR</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px; display: none" id="filterSection">
                <div style="position: relative; float: right;  width: 15%; margin-right: 1%;">
                    <i class="glyphicon glyphicon-search" style="position: absolute;pointer-events: none; padding: 10px; right: 0px;"></i>
                    <input id="textAdvanceSearch" title="Filter Member ID, QBR Number, Status, Comment, TradingName" type="text" class="form-control" placeholder="Search..." />
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-12">
                    <div class="form-group" id="parentQantasPointVerificationForSaleFinGrid">
                        <table id="grdQantasPointVerificationForSaleFin"></table>
                        <div id="grdQantasPointVerificationForSaleFinPager"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <span style="float:left;font-size:small">
                        <button type="button" class="btn blue-chambray" id="Approve" onclick="onApproveQantasPointReward()"><i class="fa fa-check"></i>Approve</button>
                        <button type="button" class="btn blue-chambray" id="Reject" onclick="onRejectQantasPointReward()"><i class="fa fa-check"></i>Reject</button>
                    </span>
                </div>
                <div class="col-md-6">
                    <span style="float: right; font-size: small">
                        <button type="button" class="btn blue-chambray" onclick="ExportFile()">Generate to Excel</button>
                        <button type="button" class="btn blue-chambray" id="sentToApproval" onclick="sendQantasPointToApproval()"><i class="fa fa-check"></i>Sent to Approval</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
}
@section scripts {
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/pages/QantasPointReviewing/PH-QantasPointReviewingForSaleFin.js"></script>
    <style type="text/css">
        </style>
    <script>
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".QantasReviewing").addClass("active open");
        });
    </script>
}
