﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table cellpadding:"5" align="center">
   
@if (User.IsInRole("Administrator"))
{ <tr>
        <td>
            <a href="@Url.Action("Menu", "Member")"><img src="~/Images/Member.png" width:"50px" height:"30px"/></a>
        </td>
         <td>
            <a href="@Url.Action("Menu", "Case")"><img src="~/Images/Cases.png" width:"50px" height:"30px"/></a>
        </td>
        <td>
            <a href="@Url.Action("Withdrawal", "Cashing")"><img id="Withdrawal" src="~/Images/CashReport.png" width:"50px" height:"30px" /></a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="@Url.Action("Index", "Cashing")"><img src="~/Images/Cashing.png" width:"50px" height:"30px" /></a>
        </td>
        <td>
            <a href="@Url.Action("Index", "Administration")"><img src="~/Images/Administration.png" width:"50px" height:"30px" /></a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="@Url.Action("Index", "FreshDeskLogin")"><img src="~/Images/Cashing.png" width:"50px" height:"30px" /></a>
        </td>
        
    </tr>
}
else if(User.IsInRole("Operations"))
{
     <tr>
      <td>
            <a href="@Url.Action("Menu", "Member")"><img src="~/Images/Member.png" width:"50px" height:"30px"/></a>
        </td>
         <td>
            <a href="@Url.Action("Menu", "Case")"><img src="~/Images/Cases.png" width:"50px" height:"30px"/></a>
        </td>
         <td>
             <a href="@Url.Action("Index", "Cashing")"><img src="~/Images/Cashing.png" width:"50px" height:"30px" /></a>
         </td>
      </tr>
}
else if (User.IsInRole("FrontCounter"))
{
    <tr>
        <td>
            <a href="@Url.Action("Withdrawal", "Cashing")"><img id="Withdrawal" src="~/Images/CashReport.png" width:"50px" height:"30px" /></a>
        </td>
        <td>
            <a href="@Url.Action("Index", "Cashing")"><img src="~/Images/Cashing.png" width:"50px" height:"30px" /></a>
        </td>

    </tr>
}
else if (User.IsInRole("ExternalCashing"))
{
    <tr>
        <td>
            <a href="@Url.Action("Index", "Cashing")"><img src="~/Images/Cashing.png" width:"50px" height:"30px" /></a>
        </td>
    </tr>
}
</table>

