﻿@{
    ViewBag.Title = "BulkAssignCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bulk-assign-category">
    <h3 class="page-title">
        Bulk Assign Category
    </h3>
    <div class="row">
        <input type="hidden" id="txtMaxCategory" value= "@ViewBag.MaxCategoryAssignedInTerminal"/>
        <div class="col-md-12">
            <div class="search-group">
                <input id="textSearch" title="Filter Category Name." type="text" class="form-control" placeholder="Search Category" />
                <button class="glyphicon glyphicon-search" id="btnSearch"></button>
            </div>
        </div>
    </div>
    <div class=" row">
        <div id="categoryList" class="col-md-7 col-xs-12">
            <div class="form-group" id="parentAssignCategoryGrid">
                <table id="gridAssignCategory"></table>
            </div>
        </div>
        <div id="terminalList" class="col-md-4 col-xs-12">
            <label>Terminal ID*</label>
            <textarea type="text" class="form-control" id="txtTerminal" style="height:200px"></textarea>
            <input type="button" value="Assign" id="btnAssign" onclick="" style="margin-top: 2%;" class="btn btn-primary" />
        </div>
    </div>
</div>


@section scripts {
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/pages/Category/PH-TerminalCategory.js"></script>
    <script>
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".glide-box").addClass("active open");
        });

    </script>
}

<style type="text/css">

    .bulk-assign-category .search-group {
        position: relative;
        float: left;
        width: 19em;
    }

    .bulk-assign-category .ui-jqgrid-bdiv {
        overflow-y: auto !important;
        overflow-x: hidden !important;
        max-height: 540px !important;
    }

    .bulk-assign-category #btnSearch {
        position: absolute;
        padding: 10px;
        right: 0px;
        color: white;
        background-color: #428bca;
        cursor: pointer;
        left: 19em;
        top: -2.4em;
        position: relative;
        border: none;
    }

    .bulk-assign-category .row{
        padding-bottom: 20px;
    }

    .bulk-assign-category .select-order {
        width: 5em;
        height: 2em;
        border: 0.2em solid #e8e5e3;
        border-radius: 0.50em !important;
    }

    .bulk-assign-category #gview_gridAssignCategory .ui-jqgrid-hdiv {
        border: none !important;
    }

    .bulk-assign-category #gbox_gridAssignCategory {
        width: 100% !important;
        display: inline-block;
    }

    .bulk-assign-category #gbox_gridAssignCategory .ui-widget-header,
    .bulk-assign-category #gbox_gridAssignCategory .ui-pg-table {
        background: white;
    }

    .bulk-assign-category #gbox_gridAssignCategory,
    .bulk-assign-category #gbox_gridAssignCategory .ui-widget-content,
    .bulk-assign-category #gbox_gridAssignCategory .ui-jqgrid-caption,
    .bulk-assign-category #gbox_gridAssignCategory .ui-widget-content > td {
        border: none !important;
    }

    .bulk-assign-category #gview_gridAssignCategory .ui-th-column {
        border: none !important
    }

    .bulk-assign-category #gridAssignCategory tr.jqgrow td {
        height: 40px;
    }

    .bulk-assign-category #rs_mgridAssignCategory {
        display: none !important;
    }

    .bulk-assign-category #gridAssignCategory .cell-wrapper {
        word-break: break-all !important;
        display: table-cell;
        padding-right: 15px;
        white-space: pre-wrap !important;
    }

    .bulk-assign-category #gview_gridAssignCategory .ui-jqgrid-resize {
        display: none !important;
    }

    .bulk-assign-category #gview_gridAssignCategory .ui-jqgrid-labels {
        height: 40px;
    }

</style>