﻿@{
    ViewBag.Title = "Manage Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3" style="font-size:30px">Category</div>
    <div class="col-md-9">
        @if (ViewContext.Controller.HasPermission("ManageGlideBox"))
        {
            <span style="float:right">
                <button type="button" class="btn btn-primary" id="btnAdd"><i class="fa fa-plus"></i></button>
            </span>
        }
    </div>
</div>

<div id="manageCategory">
    <div class="row" style="margin-bottom: 15px; margin-top:15px">
        <div class="col-md-12" id="filterSection">
            <div class="search-group">
                <input id="textAdvanceSearch" title="Filter Category Name" type="text" class="form-control" placeholder="Search Category" />
                <button class="glyphicon glyphicon-search" id="btnSearchCategory"></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" id="parentManageCategoryGrid">
                <table id="gridManageCategory"></table>
                <div id="gridManageCategoryPager"></div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/Glidebox/_CategoryDialog.cshtml")
@Html.Partial("~/Views/Shared/Glidebox/_ActivateDeactivateCategoryDialog.cshtml")
@Html.Partial("~/Views/Shared/Glidebox/_GlideboxHistoryDialog.cshtml")

@section scripts
{
    <script src="~/Scripts/pages/Category/PH-ManageCategory.js"></script>
    <script src="~/Scripts/pages/Category/PH-ManageCategoryService.js"></script>

    <script src="~/Scripts/pages/Category/PH-CategoryDialog.js"></script>
    <script src="~/Scripts/pages/Category/PH-ActivateDeactivateCategoryDialog.js"></script>

    <script src="~/Scripts/pages/Glidebox/PH-GlideboxHistoryDialog.js"></script>
    <script src="~/Scripts/pages/Glidebox/PH-GlideboxService.js"></script>

    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".glide-box").addClass("active open");

            $('.ui-jqgrid .ui-jqgrid-bdiv').css('overflow-x', 'hidden'); //hide horizontal scroll bar
        });
    </script>

    <style>
        .search-group {
            position: relative;
            float: left;
            width: 19em;
        }

        .search-group #btnSearchCategory {
            position: absolute;
            padding: 10px;
            right: 0px;
            color: white;
            background-color: #428bca;
            cursor: pointer;
            left: 19em;
            top: -2.4em;
            position: relative;
            border: none;
        }

        .ui-jqgrid-labels {
            font-size: 12.5px;
        }

        #gridManageCategory tr.jqgrow td {
            height: 30px;
            font-size: 12.5px;
        }

        /*Wrapping text lines*/
        .ui-jqgrid tr.jqgrow td {
            white-space: pre-wrap !important;
            word-break: break-all !important;
        }
    
    
    </style>
}