﻿<div id="UploadFeePopup" class="portlet-body form" style="display: none">
    <div id="UploadSection">
        <h4 style="font-weight: 400;margin: 10px 0;">Select file to upload</h4>
        <div id="DragAndDropZone"></div>
        <p class="small-text">
            The format of the file is important. Please make sure you arrange the columns in your
            <br/>
            file to match our template and save as a CSV format.
            <br/>
            <a href="~/Resources/FeeImport/Interchange_Scheme_Fee_Import_Template.csv" target="_blank">Download</a> the template.
        </p>
    </div>
    <div id="ErrorSection" style="display: none">
        <h4> <img style="margin-top: -3px; font-size: 16px;" src="~/Images/icon-error.svg"/>&nbsp;&nbsp;&nbsp;<b>We found some errors with your file. </b></h4>
        <span style="font-size: 12px;">
            The file you uploaded has validation errors. For more details please download the returned file
            and refer to the last column for the reason why. Please check the data and try to upload again.
        </span>
        <div class="error-Section-button">
            <button type="button" class="btn blue" id="DownloadFile">Download file</button>
            <button type="button" class="btn btn-default">Close</button>
        </div>
    </div>
    <div id="ReviewSection" style="display: none">
        <h4 style="margin-bottom: 20px;">Please review data before submitting. Once submitted, changes to the fees cannot be made.</h4>
        <div id="ReviewData" class="table-responsive"></div>
        <div class="review-Section-button">
            <button type="button" class="btn blue" id="SubmitFees">Submit</button>
            <button type="button" class="btn btn-default">Cancel</button>
        </div>
    </div>
    <div id="SuccessSection" style="display: none">
        <img src="~/Images/icon-checked.svg"/> <br />
        <h2 style="font-weight: bold; font-size: 24px;">Uploaded successfully!</h2>
        <div class="success-Section-button">
            <button type="button" class="btn blue" id="ClosePopup">Close</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/dropzonejs/dropzone.js"></script>
<link rel="stylesheet" type="text/css" href="~/Scripts/dropzonejs/dropzone.css"/>
<link rel="stylesheet" type="text/css" href="~/Scripts/dropzonejs/basic.css"/>
<style>
    div[aria-describedby="UploadFeePopup"]{
        background: white;
        font-family: 'Open Sans';
    }
    
    div[aria-describedby="UploadFeePopup"] button{
            font-family: 'Open Sans';
    }
    
    #UploadFeePopup{
        margin: 0 15px 15px;
    }
    
    #UploadFeePopup p.small-text{
        font-size: 12px;
        text-align: center;
    }
    
    #UploadFeePopup p a{
        color: #127ab1;
        text-decoration: underline;
    }
    
    #ErrorSection{
        padding-top: 10px;
    }
    
    .error-Section-button,
    .review-Section-button,
    .success-Section-button{
        display: flex;
        flex-direction: row-reverse;
        margin-top: 15px;
    }
    
    .error-Section-button button,
    .review-Section-button button,
    .success-Section-button button{
        border-radius: 3px!important;
        margin-right: 5px;
    }
    
    #ReviewSection{
        margin-top: 20px;
    }
    
    #ReviewSection h4{
        font-weight: bold;
        font-size: 15px;
    }
    
    #ReviewSection table{
        border: none;
    }
        
    #ReviewSection th, 
    #ReviewSection td { 
        padding: 8px 16px; 
    }
    
    #ReviewSection .table-responsive {
        overflow-x: auto;
        max-height: 400px;
    }
    
    #ReviewSection .table-responsive th{
       background-color: white;
       border-top: none;
       font-weight: bold;
       font-size: 14px;
       position: sticky; 
       top: 0;
   }
    
    #ReviewSection .table-responsive th::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      border-bottom: 1px solid #ddd;
      border-top: 1px solid #ddd;
      display: block;
      top: 1px;
    }
    
    #SuccessSection {
        text-align: center;
        padding-top: 30px;
    }
    
    .ui-dialog-titlebar-close {
        padding: 0 !important;
    }
    
    .ui-dialog-titlebar-close:after {
        content: '';
        width: 16px;
        height: 16px;
        display: inline-block;
        /* Change path to image*/
        background-image: url("../assets/global/plugins/jquery-ui/images/ui-icons_888888_256x240.png");
        background-position: -97px -129px;
        background-repeat: no-repeat;
    }
    
    .dz-message{
        font-size: 14px;
    }
</style>
<script type="text/x-jsrender" id="ReviewDataTemplate">
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Trading Name
            </th>
            <th>
                MID
            </th>
            <th class="text-right">
                Total Fee value ($)
            </th>
        </tr>
    </thead>
    <tbody>{{for data}}
        <tr>
            <td>
                <label>{{:TradingName}}</label>
            </td>
            <td>
                <label>{{:MID}}</label>
            </td>
            <td class="text-right">
                <label>{{:TotalFee}}</label>
            </td>
        </tr>{{/for}}
    </tbody>
</table>
</script>