﻿<h2 class="fee-title">Interchange & Scheme Fee</h2> 
<button type="button" id="UploadButton" class="btn blue">
    <img src="~/Images/icon-upload.svg"/>&nbsp;&nbsp;&nbsp;
    Upload File
</button>
<h3 style="font-weight: 600; font-size: 16px;">RECENT UPLOADS</h3>

<div class="portlet box grid-wrapper" id="wrapper">
    
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" id="FeesRecentUpload">
            </div>
        </div>
    </div>
</div>

@Html.Partial("InterchangeAndSchemeFee/_UploadPopup")
<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/i18n/grid.locale-en.js"></script>
<script src="~/Scripts/jquery.jqGrid.min.js"></script>
<script src="~/Scripts/Common-Utils.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/pages/Import/PH-InterchargeAndScheme.js"></script>
<script type="text/javascript" src="~/Scripts/pages/Import/PH-InterchargeAndSchemeServices.js"></script>
<style>
    #UploadButton{
        border-radius: 3px!important;
        margin-top: -10px;
    }
    
    .fee-title{
        display: inline-block;
        padding-right: 10px;
        color: #666;
        font-size: 30px;
        font-weight: 300;
        font-family: "Open Sans", sans-serif;
        letter-spacing: -1px;
        margin: 0 0 15px 0;
    }
    
    .ui-jqgrid tr.jqgrow{
        line-height: 32px;
        font-size: 12px;
        font-family: 'Open Sans';
    }
    .ui-jqgrid-labels[role="rowheader"] > th{
        height: 36px;
        line-height: 36px;
        font-family: 'Open Sans';
        font-size: 12px;
    }
    
    .ui-jqgrid .ui-jqgrid-htable th div,
    .ui-jqgrid .ui-jqgrid-htable th span{
        height: 36px!important;
    }
    
    .grid-col-padding-left {
        padding-left: 8px !important;
    }

    .grid-col-padding-right {
        padding-right: 8px !important;
    }
        
    a.download-csv{
        border-radius: 5px!important;
        margin: -2px;
        font-size: 12px;
        background: url("../Images/icon-download.svg") no-repeat 6px 8px;
        padding: 3px 12px 3px 20px;
    }
    
    .ui-state-hover, .ui-widget-content .ui-state-hover {
        border: 1px solid #c1c1c1;
        background: #EEEEEE;
        font-weight: bold;
        color: #363636;
    }
    
    .ui-state-highlight, .ui-widget-content .ui-state-highlight {
        border: 1px solid #c1c1c1;
        background: #EEEEEE;
        color: #363636;
    }
</style>