﻿@model PhoenixObjects.UserAuthentication.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Phoenix web login</h2><br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>LoginModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            <input type="text" name="UserName" id="UserName" autocomplete="off" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
        </div>
        <table>
            <tr>
                <td>
                    Remember me
                </td>
                <td>
                    <input id="RememberMeId" name="RememberMe" type="checkbox" />
                </td>
            </tr>
        </table><br />
        <div>
            @Html.ActionLink("Forgot Password", "ResetPassword")
       </div>
        <p>
            <input class="button" type="submit" value="Login" />
        </p>
    </fieldset>
}
