﻿@{
    Layout = null;
    ViewBag.Title = ViewBag.Title ?? "Transfer History";
    ViewBag.DialogSize = "1000";
}

@using (Ajax.BeginForm("", "", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog", OnSuccess = "ReloadPage" }))
{
    @RenderBody()
    <div style="vertical-align:middle;">
        <input type="button" class="btn blue" onclick="CloseMe()" value="Close" />
    </div>


}

@RenderSection("scripts", required: false)

<script type="text/javascript">
    $("#dialog").dialog({
        title: "@ViewBag.Title",
        position: "center",
        width: "@ViewBag.DialogSize",
        modal: true
    });
    function CloseMe() {
        $("#dialog").dialog("close");
    }
    
</script>

