﻿@using System.Web.Mvc.Html
@using PhoenixWeb.Models.ViewModel;
@model PaywayReceiptViewModel
@Html.ValidationSummary(true)

<h3 class="page-title">
    PayWay Receipt Files
</h3>

@if (Model == null)
{
    return;
}
<input type="hidden" id="urlHidden" value="@Url.Content("~/")">
@using (Html.BeginForm("GetPaywayReceiptFiles", "Receipt", FormMethod.Post, new { id = "paywayReceipt" }))
{

    <form action="#" class="horizontal-form">
        <div class="form-body">
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.CustomerReferenceNumber, new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(x => Model.CustomerReferenceNumber, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.OrderNumber, new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(x => Model.OrderNumber, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.StartDate, new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(x => Model.StartDate, new { @class = "form-control datepicker removeNotAllowCursor", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.EndDate, new { @class = "control-labelM col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(x => Model.EndDate, new { @class = "form-control datepicker removeNotAllowCursor", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <span style="float:left;font-size:small">
                            <button type="button" class="btn blue-chambray" id="filter"><i class="fa fa-check"></i> Filter</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-12">
                    <div class="form-group" id="paywayReceiptGrid">
                        <table id="grdPaywayReceipt"></table>
                        <div id="grdPaywayReceiptPager"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <span style="float:left;font-size:small">
                        <button type="button" class="btn blue-chambray" onclick="ExportFile()" id="exportPaywayReceipt"><i class="fa fa-check"></i> Export to Excel</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
}
@section scripts {
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/pages/Receipt/payway.js"></script>
    <style type="text/css">
    .removeNotAllowCursor {
        cursor: auto !important
    }

    #ui-datepicker-div .ui-datepicker-month,
    #ui-datepicker-div .ui-datepicker-month option {
        color: black !important
    }

    #ui-datepicker-div .ui-datepicker-year,
    #ui-datepicker-div .ui-datepicker-year option {
        color: black !important
    }
</style>
    <script>
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".Receipt").addClass("active open");
        });
    </script>
}
