﻿<div id="dialogAllocateDocket" style="display:none; width: 1100px">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label col-md-5">Terminal Id</label>
                <div class="col-md-6" id="TerminalAllocation_TerminalId"></div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label col-md-5">Docket Batch Id</label>
                <div class="col-md-6" id="TerminalAllocation_DocketBatchId"></div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label col-md-5">Member Id</label>
                <div class="col-md-6" id="TerminalAllocation_MemberId"></div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label col-md-5">Vehicle Type</label>
                <div class="col-md-6" id="TerminalAllocation_VehicleType"></div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label col-md-5">Is Current</label>
                <div class="col-md-6" id="TerminalAllocation_IsCurrent"></div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label col-md-5">Modified By User</label>
                <div class="col-md-6" id="TerminalAllocation_ModifiedByUser"></div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label col-md-5">Effective Date</label>
                <div class="col-md-6">
                    <input type="text" readonly="readonly" id="AllocateDocket_EffectiveDate" tabindex="-1" />
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label col-md-5">Effective Time</label>
                <div class="col-md-7"><input type="time" id="AllocateDocket_EffectiveTime" style="height:28px;" /> hh:mm AM/PM</div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label col-md-5">Deallocated Date</label>
                <div class="col-md-7" id="TerminalAllocation_DeallocatedDate"></div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">                
            </div>
        </div>
    </div>
    <div class="pull-right" style="padding-bottom: 10px;">
        <button id="AllocateDocket_Save" class="btn btn-primary" onclick="allocateDocket(this)">Save</button>
        <button id="AllocateDocket_Cancel" class="btn btn-default" onclick="$('#dialogAllocateDocket').dialog('close')">Cancel</button>
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-12">
            <div class="form-group" id="parentTerminalAllocationGrid">
                <table id="grdTerminalAllocation"></table>
                <div id="grdTerminalAllocationPager"></div>
            </div>
        </div>
    </div>
</div>