﻿@model PhoenixObjects.Docket.SearchUnallocatedDocketModel
<input type="hidden" id="urlHidden" value="@Url.Content("~/")">
<style type="text/css">
    #ui-datepicker-div .ui-datepicker-month,
    #ui-datepicker-div .ui-datepicker-month option {
        color: black !important
    }

    #ui-datepicker-div .ui-datepicker-year,
    #ui-datepicker-div .ui-datepicker-year option {
        color: black !important
    }

    .field-validation-error {
        color: #e80c4d;
    }
</style>

<h3 class="page-title">
    UNALLOCATE DOCKETS
</h3>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
            Search
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="horizontal-form" id="frmSearchLog">
            <div class="form-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.DocketBatchId, new { @class = "control-label col-md-5" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.DocketBatchId, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.DocketBatchId)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.TerminalId, new { @class = "control-label col-md-5" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.TerminalId, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.TerminalId)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.BatchNumber, new { @class = "control-label col-md-5" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.BatchNumber, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.BatchNumber)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions right">
                <button type="button" name="btnSearch" id="btnSearch" value="Search" class="btn blue-madison">SEARCH <i class="m-icon-swapright m-icon-white"></i></button>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>

<div class="row" style="margin-bottom: 20px;">
    <div class="col-md-12">
        <div class="form-group" id="parentUnallocatedDocketGrid">
            <table id="grdUnallocatedDocket"></table>
            <div id="grdUnallocatedDocketPager"></div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Docket/_AllocateDocket.cshtml")

<div id="dialogInfo" style="display:none;">
    <p id="dialogInfoContent"></p>
    <div class="pull-right">
        <button onclick="$('#dialogInfo').dialog('close')" class="btn btn-default">Close</button>
    </div>

</div>
<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
@section scripts {
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/pages/Docket/PH-UnallocatedDockets.js"></script>
    <script>
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".Member").addClass("active open");
        });
    </script>
}