﻿@using System.Web.Mvc.Html
@using PhoenixWeb.Models.ViewModel;
@using PhoenixObjects.Enums;
@using PhoenixWeb.Models.ViewModel.iLink;

@model ILinkFileManagementSearchVM

<h3 class="page-title">
    iLink File Management

</h3>

<div>
    <label style="color:red" id="error" />
</div>
@Html.ValidationMessage("error")

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            Search
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="horizontal-form" id="frmSearchLog">
            <div class="form-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.LabelFor(m => m.StartDate, new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control datepicker removeNotAllowCursor", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.LabelFor(m => m.EndDate, new { @class = "control-label col-md-3" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control datepicker removeNotAllowCursor", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.LabelFor(m => m.FileName, new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.FileName, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Status, new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.Status, (IEnumerable<SelectListItem>)ViewBag.Statuses, "All", new { id = "FileStatus", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.LabelFor(m => m.FileType, new { @class = "control-label col-md-3" })
                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.FileType, (IEnumerable<SelectListItem>)ViewBag.FileTypes, "All", new { id = "FileType", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions right">
                <button type="button" name="btnSearch" id="btnSearch" value="Filter" class="btn blue-madison">Search <i class="m-icon-swapright m-icon-white"></i></button>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>

<div class="portlet box blue" id="wrapper">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Result
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-12">
            <div class="form-group" id="iLinkFileGroup">
                <table id="iLinkFileGrid"></table>
                <div id="iLinkFileGridPager"></div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/pages/iLinkConfig/iLinkFileManagement/PH-iLinkFileManagementService.js"></script>
    <script src="~/Scripts/pages/iLinkConfig/iLinkFileManagement/PH-FileManagement.js"></script>
    <style type="text/css">
        .removeNotAllowCursor {
            cursor: auto !important
        }

        #ui-datepicker-div .ui-datepicker-month,
        #ui-datepicker-div .ui-datepicker-month option {
            color: black !important
        }

        #ui-datepicker-div .ui-datepicker-year,
        #ui-datepicker-div .ui-datepicker-year option {
            color: black !important
        }
    </style>
    <script>
    </script>
}


