﻿@using System.Web.Mvc.Html
@using PhoenixWeb.Models.ViewModel
@model PhoenixWeb.Models.ViewModel.iLinkCredentialVM
@{
    ViewBag.Title = "iLink Credentials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>iLink Credentials</h2>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
            iLink Credentials
        </div>
        <div class="tools">
            <a href="" class="expand"></a>
        </div>
    </div>
    <div class="portlet-body form">
        <form id="ilinkcredential">
            <div class="form-body">
                <h3 class="form-section">iLink Credentials</h3>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            @Html.Label("Certificate Password", new { @class = "control-label col-md-3" })
                            <div class="col-md-7">
                                <input id="iLinkPassword" class="form-control" name="iLinkPassword" type="text" autocomplete="off" required>
                                <span class="help-block">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            @Html.Label("Certificate File", new { @class = "control-label col-md-3" })
                            <div class="col-md-7">
                                <input id="iLinkFilename" class="form-control" name="iLinkFilename" type="text" disabled autocomplete="off" required>
                                <span class="help-block">
                                </span>
                            </div>
                            <div class="col-md-2">
                                <input id="iLinkFileInput" class="form-control" name="iLinkFile" type="file" accept=".pfx" autocomplete="off" required size="20">
                                <label class="custom-file-upload" for="iLinkFileInput">Browse</label>
                                <span class="help-block">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            @Html.Label("Expiry Date", new { @class = "control-label col-md-3" })
                            <div class="col-md-7">
                                @Html.TextBox("iLinkExpiryDate", "", new { @class = "form-control datepicker removeNotAllowCursor", @readonly = "readonly", id = "iLinkExpiryDate" })
                                <span class="help-block">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="form-actions right">
                <button id="btn-discard" name="discard" class="btn blue-madison" disabled>Discard <i class="m-icon-swapright m-icon-white"></i></button>
                <button id="btn-save" class="btn blue-madison" disabled>Save <i class="m-icon-swapright m-icon-white"></i></button>
            </div>
        </form>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/pages/iLinkConfig/iLinkCredential/PH-iLinkCredentialConfigService.js"></script>
    <script src="~/Scripts/pages/iLinkConfig/iLinkCredential/PH-ManageiLinkCredentialConfig.js"></script>
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".Administration").addClass("active open");
        });
    </script>
}

<style type="text/css">
    #ui-datepicker-div .ui-datepicker-month,
    #ui-datepicker-div .ui-datepicker-month option {
        color: black !important
    }

    #ui-datepicker-div .ui-datepicker-year,
    #ui-datepicker-div .ui-datepicker-year option {
        color: black !important
    }

    input[type="file"] {
        display: none;
    }

    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }
</style>
