﻿@using System.Web.Mvc.Html
@using PhoenixWeb.Models.ViewModel
@model PhoenixWeb.Models.ViewModel.iLinkCredentialVM
@{
    ViewBag.Title = "Download Automation Config";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Download Automation Config</h2>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
            Download Automation Config
        </div>
    </div>
    <div class="portlet-body form">
        <form id="ilinkcredential">
            <div class="form-body">
                <h3 class="form-section"></h3>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            @Html.Label("File extension", new { @class = "control-label col-md-3" })
                            <div class="col-md-7">
                                <input id="iLinkAllowedFileExtensions" class="form-control" name="iLinkAllowedFileExtensions" type="text" autocomplete="off" required placeholder="Input allowed file extensions, seperated by ;">
                                <span class="help-block">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            @Html.Label("File name convention", new { @class = "control-label col-md-3" })
                            <div class="col-md-7">
                                <input id="iLinkFilenameConvention" class="form-control" name="iLinkFilenameConvention" type="text" autocomplete="off" required placeholder="Input required keyword in file name">
                                <span class="help-block">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            @Html.Label("Error notification receivers", new { @class = "control-label col-md-3" })
                            <div class="col-md-7">
                                <textarea type="" class="form-control" name="iLinkAutomaticErrorReceivers" id="iLinkAutomaticErrorReceivers" required placeholder="Input email addresses, seperated by ;" rows="3"></textarea>
                                <span class="help-block">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            @Html.Label("Result receivers", new { @class = "control-label col-md-3" })
                            <div class="col-md-7">
                                <textarea type="" class="form-control" name="iLinkAutomaticResultReceivers" id="iLinkAutomaticResultReceivers" required placeholder="Input email addresses, seperated by ;" rows="3"></textarea>
                                <span class="help-block">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="form-actions right">
                <button id="btn-discard" name="discard" class="btn blue-madison" disabled>Discard <i class="m-icon-swapright m-icon-white"></i></button>
                <button id="btn-save" class="btn blue-madison" disabled>Save <i class="m-icon-swapright m-icon-white"></i></button>
            </div>
        </form>
    </div>
</div>

    @section scripts
{
        <script src="~/Scripts/pages/iLinkConfig/iLinkAutomationConfig/PH-iLinkAutomationConfigService.js"></script>
        <script src="~/Scripts/pages/iLinkConfig/iLinkAutomationConfig/PH-ManageiLinkAutomationConfig.js"></script>
        <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
        <script src="~/Scripts/i18n/grid.locale-en.js"></script>
        <script src="~/Scripts/jquery.jqGrid.min.js"></script>
        <script>
            $(document).ready(function () {
                $(".active").removeClass("active open");
                $(".Administration").addClass("active open");
            });
        </script>
    }

    <style type="text/css">
        #ui-datepicker-div .ui-datepicker-month,
        #ui-datepicker-div .ui-datepicker-month option {
            color: black !important
        }

        #ui-datepicker-div .ui-datepicker-year,
        #ui-datepicker-div .ui-datepicker-year option {
            color: black !important
        }
    </style>
