@model PhoenixObjects.WebAppLog.SearchLogModel


<h3 class="page-title">
    PHOENIX LOG
</h3>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
            Search
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="horizontal-form" id="frmSearchLog">
            <div class="form-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.LoggedDateFrom, new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.LoggedDateFrom, new { @class = "form-control datepicker ", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.LoggedDateTo, new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.LoggedDateTo, new { @class = "form-control datepicker ", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Message, new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.Message, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Level, new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.Level, (IEnumerable<SelectListItem>)ViewBag.LevelList, "--Select--", new { @class = "form-control" })
                                <span class="help-block">

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions right">
                <button type="button" name="btnSearch" id="btnSearch" value="Search" class="btn blue-madison">SEARCH <i class="m-icon-swapright m-icon-white"></i></button>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>
<div class="portlet box blue" id="wrapper">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Result
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-12">
            <div class="form-group" id="parentTransactionHostLogGrid">
                <table id="grdiLinkAutomationLog"></table>
                <div id="grdiLinkAutomationLogPager"></div>
            </div>
        </div>
    </div>
</div>
<div id="popupViewDetailLog" style="display:none; background:#fff;">
    <textarea style="border: none;box-shadow: none;outline:none;" readonly="readonly"></textarea>
</div>

@section scripts {
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/pages/iLinkConfig/Log/PH-iLinkLogService.js"></script>
    <script src="~/Scripts/pages/iLinkConfig/Log/PH-ManageiLinkLog.js"></script>
    <style type="text/css">
        #ui-datepicker-div .ui-datepicker-month,
        #ui-datepicker-div .ui-datepicker-month option {
            color: black !important
        }

        #ui-datepicker-div .ui-datepicker-year,
        #ui-datepicker-div .ui-datepicker-year option {
            color: black !important
        }

        .field-validation-error {
            color: #e80c4d;
        }
    </style>
}