﻿@model PhoenixWeb.Models.ViewModel.iLink.ILinkTransactionManagementSearchVM
@{
    ViewBag.Title = "Imported Transaction";
}
<h3 class="page-title">
    Search
</h3>

<p id="error-message" style="color: red"></p>
@Html.ValidationMessage("error")
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
            Search
        </div>
        <div class="tools">
            <a href="" class="expand"></a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="horizontal-form">
            <div class="form-body">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.TransactionDateFrom, new { @class = "control-label col-md-4" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.TransactionDateFrom, "", new { @class = "form-control datepicker removeNotAllowCursor", @readonly = "readonly" })
                            </div>
                            @Html.LabelFor(m => m.TransactionDateTo, new { @class = "control-label col-md-1" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.TransactionDateTo, "", new { @class = "form-control datepicker removeNotAllowCursor", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ImportedDateFrom, new { @class = "control-label col-md-4" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.ImportedDateFrom, "", new { @class = "form-control datepicker removeNotAllowCursor", @readonly = "readonly" })
                            </div>
                            @Html.LabelFor(m => m.ImportedDateTo, new { @class = "control-label col-md-1" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.ImportedDateTo, "", new { @class = "form-control datepicker removeNotAllowCursor", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.TransactionNumber, new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.TransactionNumber, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.AuthorisationNumber, new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.AuthorisationNumber, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.MemberID, new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.MemberID, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.TerminalID, new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.TerminalID, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.BatchNumber, new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.BatchNumber, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.TransactionType, new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.TransactionType, (IEnumerable<SelectListItem>)ViewBag.TransactionType, "--Select--", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CardNumber, new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.CardNumber, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CardType, new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.DropDownListFor(m => m.CardType, (IEnumerable<SelectListItem>)ViewBag.CardType, "--Select--", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.AmountFrom, new { @class = "control-label col-md-4" })
                            <div class="col-md-3">
                                @{var formated = String.Format("{0:0.00}", Model.AmountFrom);}
                                @Html.TextBoxFor(m => m.AmountFrom, formated, new { @class = "form-control", @type = "number", @min = "0" })
                            </div>
                            @Html.LabelFor(m => m.AmountTo, new { @class = "control-label col-md-1" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.AmountTo, formated, new { @class = "form-control", @type = "number", @min = "0" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.SourceFile, new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.SourceFile, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.IsVoid, new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.IsVoid, new List<SelectListItem>(){
                                    new SelectListItem { Value = "N", Text = "No" },
                                    new SelectListItem { Value = "Y", Text = "Yes" }
                                }, "--Select--", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Approve Status", new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.CheckBoxFor(model => model.Approved)
                                <label for="Approved">Approved</label><br />
                                @Html.CheckBoxFor(model => model.Declined)
                                <label for="Declined">Declined</label><br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="display:none">
                    <input id="manuallyFile" type="file" />
                </div>
            </div>
            <div class="form-actions right">
                @if (ViewContext.Controller.HasPermission("ManualImportIlinkFile"))
                {
                    <button id="btnManuallyImport" class="btn blue-madison">MANUALLY IMPORT <i class="m-icon-swapdown m-icon-white"></i></button>
                }
                
                <button id="btnExport" class="btn blue-madison">EXPORT <i class="m-icon-swapdown m-icon-white"></i></button>
                <button id="btnSearch" class="btn blue-madison">SEARCH <i class="m-icon-swapright m-icon-white"></i></button>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>
<div class="portlet box blue" id="wrapper">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Result
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-12">
            <div class="form-group" id="TransactionGroup" >
                <table id="TransactionGrid" ></table>
                <div id="TransactionGridPager" ></div>
            </div>
        </div>
    </div>
</div>

<div id="TransactionRejectDialog" title="Transaction Reject Result" style="display: none;">
    <div class="portlet box blue" id="wrapper">
        <div class="portlet-title">
            <div class="caption" id="TransactionRejectTitle">
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <div class="form-group" id="TransactionGroup">
                    <table id="TransactionRejectGrid"></table>
                    <div id="TransactionRejectGridPager"></div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/pages/iLinkConfig/iLinkTransaction/PH-TransactionManagement.js"></script>
    <script src="~/Scripts/pages/iLinkConfig/iLinkTransaction/PH-TransactionManagementService.js"></script>
    <style>
        .removeNotAllowCursor {
            cursor: auto !important
        }

        #ui-datepicker-div .ui-datepicker-month,
        #ui-datepicker-div .ui-datepicker-month option {
            color: black !important
        }

        #ui-datepicker-div .ui-datepicker-year,
        #ui-datepicker-div .ui-datepicker-year option {
            color: black !important
        }
        .form-body > .row {
            margin-bottom: 5px;
        }

        .control-label {
            margin-top: 5px;
        }

/*        .ui-button-text {
            padding: 0em!important;
        }*/

        .ui-dialog-titlebar-close {
            padding: 0 !important;
        }

        .ui-dialog-titlebar-close:after {
            content: '';
            width: 16px;
            height: 16px;
            display: inline-block;
            /* Change path to image*/
            background-image: url(../assets/global/plugins/jquery-ui/images/ui-icons_888888_256x240.png);
            background-position: -97px -129px;
            background-repeat: no-repeat;
        }

        #TransactionRejectDialog {
            width: auto;
        }
    </style>
}

