﻿@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table cellpadding:"5" align="center" width="70%">
    <tr>
        <td>
            <a href="@Url.Action("SearchCase", "Case")"><img id="SearchCase" src="~/Images/AddCases.png" width:"50px" height:"30px" /></a>
        </td>
       

    </tr>
</table>
