﻿@model PhoenixObjects.Salesforce.CaseModel
@{
    ViewBag.Title = "SearchCase";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Search Member</h2>
<h3>Add Case to Salesforce</h3>
@using (Html.BeginForm())
{
    <table >
        <tr>
            <td>
                <div class="editor-label">
                    <label>TerminalID</label>
                </div>
            </td>
            <td>
                <div class="editor-field">
                    <input type="text"  name="TerminalID" id="TerminalID" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    <label>Name</label>
                </div>
            </td>
            <td>
                <div class="editor-field">
                    <input type="text"  name="Name" id="Name" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    <label>MemberID</label>
                </div>
            </td>
            <td>
                <div class="editor-field">
                    <input type="text"  name="MemberID" id="MemberID" />
                </div>
            </td>
             <td>
                 <button type="submit" name="submitButton" value="Search" class="submitbutton">Search</button>

            </td>
        </tr>
    </table>
    
    
    
  if(Model != null)
  { 
      <hr />
    <table >
        <tr>
            <td>
                <div class="editor-label">
                    <label>SalesforceID</label>
                </div>
            </td>
            <td>
                <div class="editor-field">
                    <input type="text" name="SalesforceID" id="SalesforceID" value="@Model.AccountSalesforceId" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    <label>Contact Name</label>
                </div>
            </td>
            <td>
                <div class="editor-field">
                    <input type="text" name="ContactName" id="ContactName" value="@Model.ContactName" />
                </div>
            </td>
            <td>
                <div class="editor-label">
                    <label>Terminal ID</label>
                </div>
            </td>
            <td>
                <div class="editor-field">
                    <input type="text" name="TerminalIDS" id="TerminalIDS"  value="@Model.TerminalId" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    <label>Account Name</label>
                </div>
            </td>
            <td>
                <div class="editor-field">
                    <input type="text" name="AccountName" id="AccountName" readonly="readonly" value="@Model.AccountName" />
                </div>
            </td>
             <td>
                 <div class="editor-label">
                     <label>Phone No#</label>
                 </div>
            </td>
            <td>
                <div class="editor-field">
                    <input type="text" name="PhoneNo" id="PhoneNo" value="@Model.Phone" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    <label>Subject</label>
                </div>
            </td>
            <td>
                <div class="editor-field">
                    <input type="text" name="Subject" id="Subject" />
                </div>
            </td>
            <td>
                <div class="editor-label">
                    <label>Email</label>
                </div>
            </td>
            <td>
                <div class="editor-field">
                    <input type="text" name="Email" id="Email" value="@Model.Email" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    <label>Description</label>
                </div>
            </td>
            <td colspan="3">
                <div class="editor-field">
                    <input type="text" name="Description" style="width:780px" id="Description" />
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="editor-label">
                    <label>Type</label>
                </div>
            </td>
            <td>
                <div class="editor-field">
                    <select name="Type" id="Type">
                        <option value="None">None</option>
                        <option value="Technical Support">Technical Support</option>
                        <option value="Account Support">Account Support</option>
                    </select>
                   
                </div>
            </td>
        </tr>
          <tr>
            <td>
                <div class="editor-label">
                    <label>Status</label>
                </div>
            </td>
            <td>
                <div class="editor-field">

                    <select name="Status" id="Status">
                        <option value="New">New</option>
                        <option value="On Hold">On Hold</option>
                        <option value="Escalated">Escalated</option>
                    </select>

                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    <label>Priority</label>
                </div>
            </td>
            <td>
                <div class="editor-field">
                    <select name="Priority" id="Priority">
                        <option value="None">None</option>
                        <option value="High">High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                    </select>
                   
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    <label>Case Origin</label>
                </div>
            </td>
            <td>
                <div class="editor-field">
                    <select name="CaseOrigin" id="CaseOrigin">
                        <option value="Email">Email</option>
                        <option value="Phone">Phone</option>
                        <option value="Web">Web</option>
                        <option value="ChatterAnswer">Chatter Answer</option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    <label>Escalate</label>
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.CheckBoxFor(model => model.EscalateB)
                    @Html.HiddenFor(model => model.ContactSalesforceId)
                    @*<input type="text" name="Escalate" id="Escalate"/>*@
                </div>
            </td>
        </tr>
        <tr>
            <td>
                @*<input class="submitbutton" name="SalesforceBtn" type="submit" style="width:200px" value="Add To Salesforce" />*@
                <button type="submit" name="submitButton" value="SalesforceBtn" class="submitbutton">Add To Salesforce</button>

            </td>
        </tr>
        
    </table>
  }
    
}
