﻿@model IEnumerable<PhoenixObjects.MyWeb.BankChangeRequestModel>
@{
    ViewBag.Title = "DetailChange";
}
<h3 class="page-title">
    Bank Change Requests
    <small>Members Request from MyWeb</small>
</h3>


@if (Model != null && Model.Count() > 0)
{
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Request List
            </div>

        </div>
        <div class="portlet-body">
            <div class="table-scrollable">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                RequestID
                            </th>
                            <th>
                                Member Id
                            </th>
                            <th>
                                Trading Name
                            </th>
                            <th>
                                CreateDate
                            </th>
                            <th>
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RequestID)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.MemberId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TradingName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Ajax.ActionLink("View Request", "ViewBankRequest", new { RequestID = item.RequestID }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}


@section scripts
{
    <script>
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".MembersRequest").addClass("active open");
        });
    </script>
}