﻿@model IEnumerable<PhoenixObjects.MyWeb.DetailChangeRequestModel>
@{
    ViewBag.Title = "Details Notification";
    Layout = null;
}

<li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <i class="icon-bell"></i>
        <span class="badge badge-default">
            @Model.Count()
        </span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <p>
                @Model.Count() change detail notifications
            </p>
        </li>

        <li>
            <ul class="dropdown-menu-list scroller" style="height: 150px;">
                @foreach (var item in Model)
                {
                    <li>
                        <a href="~/MembersRequest/DetailChange">
                            <span class="label label-sm label-icon label-info">
                                <i class="fa fa-bullhorn"></i>
                            </span>
                            @item.FirstName --@item.Status
                        </a>
                    </li>
                }
            </ul>
        </li>

        <li class="external">
            @Html.ActionLink("Display More...", "DetailChange", "MembersRequest")
        </li>
    </ul>
</li>

