﻿@{
    ViewBag.Title = "Menu";
}

<table cellpadding:"5" align="center">
    <tr>
        <td>
            <a href="@Url.Action("DetailChange", "MembersRequest")"><img id="DetailChange" src="~/Images/ICONS/DetailsChangeRequest_RO1.png" /></a>
        </td>
        <td>
            <a href="@Url.Action("BankChange", "MembersRequest")"><img src="~/Images/ICONS/BankChangeRequest_RO.png" /></a>
        </td>
        <td>
            <a href="@Url.Action("PaperRollRequest", "MembersRequest")"><img src="~/Images/ICONS/PaperRollRequest_RO.png" /></a>
        </td>

    </tr>
</table>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".MembersRequest").addClass("active open");
        });

    </script>
}
