﻿@model PhoenixObjects.MyWeb.PaperRollRequestModel

@{
    ViewBag.Title = "Request Confirmation";
    Layout = "~/Views/Shared/_ConfirmPaperRollRequestLayout.cshtml";
    ViewBag.Action = "ConfirmPaperRollRequest";
    ViewBag.DialogSize = "950";
}

<h3 class="page-title">
    Paper roll Request Confirmation
    <small>Memeber Requests from MyWeb</small>
</h3>
<h5 style="font-weight:700">(Any field left blank will be assumed no changes needed, ie. wont alter old record fields)</h5>
<i style="color:red">@ViewBag.Error</i>
<div class="portlet-body form">
    <!-- BEGIN FORM-->
    @Html.HiddenFor(model => model.AssignedDate)
    @Html.HiddenFor(model => model.AssignedTo)
    @Html.HiddenFor(model => model.CheckedBy)
    @Html.HiddenFor(model => model.CheckedDate)
    @Html.HiddenFor(model => model.CompleteBy)
    @Html.HiddenFor(model => model.CompletedDate)
    @Html.HiddenFor(model => model.CreateDate)
    @Html.HiddenFor(model => model.CreatedBy)
    @Html.HiddenFor(model => model.Member_key)
    @Html.HiddenFor(model => model.MemberId)
  

  
    <div class="form-body">
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("RequestID", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="RequestID" readonly id="RequestID" value="@Model.RequestID" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("MemberID", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="MemberID" readonly id="MemberID" value="@Model.MemberId" />
                </div>
            </div>
        </div>
     
    </div>
    <div class="row">
       
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Trading Name", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="TradingName" readonly required id="TradingName" value="@Model.TradingName" />
                 </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Address", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="OrgStreet" readonly id="OrgStreet" value="@Model.OrgStreet" />
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Quantity Requested", new { @class = "control-label col-md-6" })
                <div class="col-md-9">
                    <input type="text" class="form-control" name="QuantityRequested"  required id="QuantityRequested" value="@Model.QuantityRequested" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Delivery Address", new { @class = "control-label col-md-4" })
                <div class="col-md-9">
                    <input type="text" class="form-control" name="Street"  id="Street" value="@Model.Street" />
                </div>
            </div>
        </div>
    </div> 
    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Tracking Number", new { @class = "control-label col-md-4" })
                <div class="col-md-9">
                    <input type="text" class="form-control" name="trackingno" required id="trackingno" />
                </div>
            </div>
        </div>
      
    </div> 
   
   


@section scripts {
    <script type="text/javascript">

   
    </script>
}
