﻿@model PhoenixObjects.MyWeb.DetailChangeRequestModel

@{
    ViewBag.Title = "Request Confirmation";
    Layout = "~/Views/Shared/_ConfirmDetailRequestLayout.cshtml";
    ViewBag.Action = "ConfirmDetailRequest";
    ViewBag.DialogSize = "950";
}

<h3 class="page-title">
    Request Confirmation
    <small>Memeber Requests from MyWeb</small>
</h3>
<h5 style="font-weight:700">(Any field left blank will be assumed no changes needed, ie. wont alter old record fields)</h5>
<i style="color:red">@ViewBag.Error</i>
<div class="portlet-body form">
    <!-- BEGIN FORM-->
    @Html.HiddenFor(model => model.AssignedDate)
    @Html.HiddenFor(model => model.AssignedTo)
    @Html.HiddenFor(model => model.CheckedBy)
    @Html.HiddenFor(model => model.CheckedDate)
    @Html.HiddenFor(model => model.CompleteBy)
    @Html.HiddenFor(model => model.CompletedDate)
    @Html.HiddenFor(model => model.CreateDate)
    @Html.HiddenFor(model => model.CreatedBy)
    @Html.HiddenFor(model => model.Member_key)
    @Html.HiddenFor(model => model.MemberId)
    @Html.HiddenFor(model => model.New_StreetNo)
    @Html.HiddenFor(model => model.New_Street)

  
    <div class="form-body">
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("RequestID", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="RequestID" readonly id="RequestID" value="@Model.RequestID" />
                </div>
            </div>
        </div>
     
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("MemberID", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="MemberID" readonly id="MemberID" value="@Model.MemberId" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Trading Name", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="TradingName" readonly required id="TradingName" value="@Model.TradingName" />
                 </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Old Email", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="Old_Email" readonly id="Old_Email" value="@Model.Old_Email" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("New Email", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="New_Email"  id="New_Email" value="@Model.New_Email" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Old Fax", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="Old_Email" readonly id="Old_Email" value="@Model.Old_Fax" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("New Fax", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="New_Fax"  id="New_Fax" value="@Model.New_Fax" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Old Mobile", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="Old_Mobile" readonly id="Old_Mobile" value="@Model.Old_Mobile" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("New Mobile", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="New_Mobile"  id="New_Mobile" value="@Model.New_Mobile" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Old Phone", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="Old_Phone" readonly id="Old_Phone" value="@Model.Old_Phone" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("New Phone", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="New_Phone"  id="New_Phone" value="@Model.New_Phone" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Old PostCode", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="Old_PostCode" readonly id="Old_PostCode" value="@Model.Old_PostCode" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("New PostCode", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="New_PostCode"  id="New_PostCode" value="@Model.New_PostCode" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Old State", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="Old_State" readonly id="Old_State" value="@Model.Old_State" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("New State", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="New_State"  id="New_State" value="@Model.New_State" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Old Street", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="Old_Street" readonly id="Old_Street" value="@Model.Old_Street" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("New Street No", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="New_StreetNo" id="New_StreetNo" value="@Model.New_StreetNo" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Old Suburb", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="Old_Suburb" readonly id="Old_Suburb" value="@Model.Old_Suburb" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("New Street", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="New_Street" id="New_Street" value="@Model.New_Street" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
              
            </div>
        </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("New Suburb", new { @class = "control-label col-md-4" })
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="New_Suburb" id="New_Suburb" value="@Model.New_Suburb" />
                    </div>
                </div>
            </div>
    </div>
    @if(Model.SupportDoc1 !=null)
    { 
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Support Doc1", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    @*<img alt="" src="@Url.Action("View Support Document", "MembersRequest", new {RequestId = @Model.RequestID })" height="160" width="300" />*@
                   @Html.ActionLink("View Support Document", "SupportDocumentImage", "MembersRequest", new { RequestID = Model.RequestID, TypeID = 1 }, new { target = "_blank" })
                </div>
            </div>
        </div>
       
    </div>
    }
    @if (Model.SupportDoc2 != null)
    {
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Support Doc2", new { @class = "control-label col-md-4" })
                    <div class="col-md-6">
                        @Html.ActionLink("View Support Document", "SupportDocumentImage", "MembersRequest", new { RequestID = Model.RequestID, TypeID = 2 }, new { target = "_blank" })
                    </div>
                </div>
            </div>
        </div>
    }
</div><br />


@section scripts {
    <script type="text/javascript">

   
    </script>
}
