﻿@model PhoenixObjects.MyWeb.BankChangeRequestModel

@{
    ViewBag.Title = "Request Confirmation";
    Layout = "~/Views/Shared/_ConfirmBankRequestLayout.cshtml";
    ViewBag.Action = "ConfirmBankRequest";
    ViewBag.DialogSize = "950";
}

<h3 class="page-title">
    Request Confirmation
    <small>Memeber Requests from MyWeb</small>
</h3>
<h5 style="font-weight:700">(Any field left blank will be assumed no changes needed, ie. wont alter old record fields)</h5>
<i style="color:red">@ViewBag.Error</i>
<div class="portlet-body form">
    <!-- BEGIN FORM-->
    @Html.HiddenFor(model => model.AssignedDate)
    @Html.HiddenFor(model => model.AssignedTo)
    @Html.HiddenFor(model => model.CheckedBy)
    @Html.HiddenFor(model => model.CheckedDate)
    @Html.HiddenFor(model => model.CompleteBy)
    @Html.HiddenFor(model => model.CompletedDate)
    @Html.HiddenFor(model => model.CreateDate)
    @Html.HiddenFor(model => model.CreatedBy)
    @Html.HiddenFor(model => model.Member_key)
    @Html.HiddenFor(model => model.MemberId)
    @Html.HiddenFor(model => model.Account_key)
    @Html.HiddenFor(model => model.Old_Weight)
 

  
    <div class="form-body">
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("RequestID", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="RequestID" readonly id="RequestID" value="@Model.RequestID" />
                </div>
            </div>
        </div>
     
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("MemberID", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="MemberID" readonly id="MemberID" value="@Model.MemberId" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Trading Name", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="TradingName" readonly required id="TradingName" value="@Model.TradingName" />
                 </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Old Email", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="Old_AccountName" readonly id="Old_AccountName" value="@Model.Old_AccountName" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("New Email", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" required name="New_AccountName" id="New_AccountName" value="@Model.New_AccountName" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Old Fax", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="OLd_AccountNumber" readonly id="OLd_AccountNumber" value="@Model.OLd_AccountNumber" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("New Fax", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" required name="New_AccountNumber" id="New_AccountNumber" value="@Model.New_AccountNumber" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Old Mobile", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" name="Old_BSB" readonly id="Old_BSB" value="@Model.Old_BSB" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("New Mobile", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="text" class="form-control" required name="New_BSB" id="New_BSB" value="@Model.New_BSB" />
                </div>
            </div>
        </div>
    </div>   
  
    @if(Model.SupportDoc1 !=null)
    { 
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Support Doc1", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    @*<img alt="" src="@Url.Action("View Support Document", "MembersRequest", new {RequestId = @Model.RequestID })" height="160" width="300" />*@
                   @Html.ActionLink("View Support Document", "SupportDocumentImage_Bank", "MembersRequest", new { RequestID = Model.RequestID, TypeID = 1 }, new { target = "_blank" })
                </div>
            </div>
        </div>
    </div>
    }
    @if (Model.SupportDoc2 != null)
    {
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Support Doc2", new { @class = "control-label col-md-4" })
                    <div class="col-md-6">
                        @Html.ActionLink("View Support Document", "SupportDocumentImage_Bank", "MembersRequest", new { RequestID = Model.RequestID, TypeID = 2 }, new { target = "_blank" })
                    </div>
                </div>
            </div>
        </div>
    }
</div><br />


@section scripts {
    <script type="text/javascript">

   
    </script>
}
