﻿@model PhoenixObjects.Member.TerminalAllocationModel

<div id="editVehicleDialog" style="display:none;">
    <h3 class="page-title">
        Edit Vehicle
    </h3>
    <label style="color:red" id="error" ></label>
    <form id="editVehicleForm" action="">
        <div class="portlet-body form">
            <div class="form-body">
                <input type="hidden" id="VehicleKey" val="">
                <div class="row" style="margin-bottom: 15px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Business ID", new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.VehicleModel.VehicleId, new { id = "VehicleId", @class = "form-control", @required = true })
                                @Html.ValidationMessageFor(model => model.VehicleModel.VehicleId)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Sub-business Type", new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.VehicleModel.VehicleType_key, new List<SelectListItem>(), new { id = "VehicleType", @class = "form-control", @required = true })
                                @Html.ValidationMessageFor(model => model.VehicleModel.VehicleType_key)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Business State", new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.VehicleModel.RegisteredState, new List<SelectListItem>(), new { id = "VehicleState", @class = "form-control", @required = true })
                                @Html.ValidationMessageFor(model => model.VehicleModel.RegisteredState)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" @(ViewContext.Controller.HasPermission("EditEffectiveDate") ? "" : "hidden") >
                        <div class="form-group">
                            @Html.Label("Effective Date", new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <input id = "EffectiveDate" name="EffectiveDate" class = "form-control datetime-picker" type = "text" required/>
                                @Html.ValidationMessageFor(model => model.EffectiveDate)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="vertical-align:middle;">
            <input class="btn blue" type="button" id="btnUpdateVehicle" onclick="Submit()" value="Submit" />
            <input type="button" class="btn blue" onclick="CloseMe()" value="Close" />
        </div>
    </form>
</div>
