﻿<script type="text/x-jsrender" id="tmplTerminalRental">
    <thead>
        <tr id="headRow">
            <th scope="col">Transaction Target</th>
            <th scope="col">|</th>
            <th scope="col">Rent Amount</th>
            <th scope="col">|</th>
            <th scope="col">New Amount</th>
        </tr>
    </thead>
</script>
<script type="text/x-jsrender" id="tmplTerminalRentalList">
    <tbody>
        {{for data itemVar="~clonedata"}}
        <tr>
            <td>${{:~clonedata.TransactionTarget.toFixed(2)}}</td>
            <td>|</td>
            <td>${{:~clonedata.RentAmount.toFixed(2)}}</td>
            <td>|</td>
            <td>$<input style="width:60px" onkeypress="LH_ValidateInput(this)" id="{{:~clonedata.TerminalRentalRate_key}}" name="{{:~clonedata.TerminalRentalRate_key}}" value="{{:~clonedata.NewRentAmount}}"></td>
        </tr>
        {{/for}}
    </tbody>
</script>
