﻿@{

    ViewBag.Title = "Confirmed";
    Layout = "~/Views/Shared/_CommonConfirm.cshtml";
}

<h4>
    @ViewBag.Msg
</h4>
<p>
    @if ((ViewBag.InvalidOrNotUpdated != null && ViewBag.InvalidOrNotUpdated.Length > 0) || (ViewBag.Updated != null && ViewBag.Updated.Length > 0))
    {
        <div class="row">
            <div class="col-md-12">
                <strong class="green">Terminals which were successfully @ViewBag.ActionType</strong><br />
                @string.Join(", ", ViewBag.Updated)
                <br /><br /><br />
                <strong class="green">Terminals with invalid Id or had some issues</strong><br />
                @string.Join(", ", ViewBag.InvalidOrNotUpdated)
            </div>
        </div>
    }
</p>
@section scripts {
    <script type="text/javascript">
        $("#dialog").dialog({
            width: "500"
        });
    </script>
}
