﻿@model Phoenix_BusLog.TransactionHost.Model.DiffSurChargeModel
@{
    ViewBag.Title = "Edit Config ";
}
@Html.ValidationSummary(true)
@using (Html.BeginForm("DiffSurcharge", "Terminal", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.Terminal.TerminalKey, new { id = "key" })
    <h3 class="page-title">
        Transaction Add-On
        <small>toggle auto tip on terminal.</small>
    </h3>
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-adjust"></i>
                Terminal # <strong>@Html.DisplayFor(model => model.Terminal.TerminalID)</strong> bearing s/ n -

                <strong> @Html.DisplayFor(model => model.Terminal.SerialNumber)</strong>
                running on

                <strong>@Html.DisplayFor(model => model.Terminal.FullVersionNo)</strong> version.
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <h4 class="form-section" data-toggle="collapse" data-target="#AutoTip1">
                    <strong>Auto Tip 1</strong>: @Html.DisplayFor(model => model.AutoTipAountLabel)
                </h4>
                <div class="expand" id="AutoTip1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.HiddenFor(model => model.TerminalKey)
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="control-label">
                                            Enable?  @Html.DropDownListFor(model => model.EnableAutoTip, (IEnumerable<SelectListItem>)ViewBag.EnableMode, new { id = "EnableAutoTip" })
                                        </div>
                                    </div>
                                    @*<div class="col-md-4">
                                            No Defaults: <input type="radio" name="optionsRadios" id="6f" value="0"> None
                                        </div>
                                        <div class="col-md-4">
                                            <label style="color:green;font-weight:500">Default AutoTip Selected:</label>  <label style="color:green;font-weight:700" id="DefaultAutoTip"></label>
                                        </div>*@
                                </div>
                                <div class="row">
                                    <div id="no-more-tables" class="col-md-12">
                                        <table class="col-md-10 table-striped table-condensed cf">
                                            <thead class="cf">
                                                <tr>
                                                    <th></th>
                                                    <th>Type</th>
                                                    <th hidden>MSF</th>
                                                    <th>Amount</th>
                                                    <th>Icon</th>
                                                    <th>Make Default?</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Option 1</td>
                                                    <td>
                                                        @Html.DropDownListFor(model => model.Type1, (IEnumerable<SelectListItem>)ViewBag.TypeMode1, new { @style = "width: 80%", id = "AutoTrip1Type1" })
                                                        @Html.ValidationMessageFor(model => model.Type1)
                                                    </td>
                                                    <td hidden><input type="text" id="MSF1" name="MSF1" class="form-control" /></td>
                                                    <td><input type="text" class="form-control" id="AutoTrip1" name="AutoTrip1" value="@Model.AutoTip1ss" /></td>
                                                    <td>
                                                        @Html.DropDownListFor(model => model.AutoCardType1, (IEnumerable<SelectListItem>)ViewBag.CardTypeMode, new { @style = "width: 80%", id = "AutoCardType1" })
                                                        <img id="imgTip1Icon1" src="" style="width:24px; height:24px" />
                                                    </td>
                                                    <td>
                                                        @Html.RadioButtonFor(model => model.AutoTipDefaultButtonID, "1", new { name = "optionsRadios", id = "tip11" })
                                                        @*<input type="radio" name="optionsRadios" id="tip11" value="1">*@
                                                    </td>
                                                    <td align="center">
                                                        <button type="submit" id="btnNoDefaultTip1" value="No Default" class="btn blue-madison">No Default </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Option 2</td>
                                                    <td>
                                                        @Html.DropDownListFor(model => model.Type2, (IEnumerable<SelectListItem>)ViewBag.TypeMode1, new { @style = "width: 80%", id = "AutoTrip1Type2" })
                                                        @Html.ValidationMessageFor(model => model.Type2)
                                                    </td>
                                                    <td hidden><input type="text" id="MSF2" name="MSF2" class="form-control" /></td>
                                                    <td><input type="text" class="form-control" id="AutoTrip2" name="AutoTrip2" value="@Model.AutoTip2ss" /></td>
                                                    <td>
                                                        @Html.DropDownListFor(model => model.AutoCardType2, (IEnumerable<SelectListItem>)ViewBag.CardTypeMode, new { @style = "width: 80%", id = "AutoCardType2" })
                                                        <img id="imgTip1Icon2" src="" style="width:24px; height:24px" />
                                                    </td>
                                                    <td>
                                                        @Html.RadioButtonFor(model => model.AutoTipDefaultButtonID, "2", new { @name = "optionsRadios", id = "tip12" })
                                                        @*<input type="radio" name="optionsRadios" id="tip12" value="2" />*@
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Option 3</td>
                                                    <td>
                                                        @Html.DropDownListFor(model => model.Type3, (IEnumerable<SelectListItem>)ViewBag.TypeMode1, new { @style = "width: 80%", id = "AutoTrip1Type3" })
                                                        @Html.ValidationMessageFor(model => model.Type3)
                                                    </td>
                                                    <td hidden><input type="text" id="MSF3" name="MSF3" class="form-control" /></td>
                                                    <td><input type="text" class="form-control" id="AutoTrip3" name="AutoTrip3" value="@Model.AutoTip3ss" /></td>
                                                    <td>
                                                        @Html.DropDownListFor(model => model.AutoCardType3, (IEnumerable<SelectListItem>)ViewBag.CardTypeMode, new { @style = "width: 80%", id = "AutoCardType3" })
                                                        <img id="imgTip1Icon3" src="" style="width:24px; height:24px" />
                                                    </td>
                                                    <td>
                                                        @Html.RadioButtonFor(model => model.AutoTipDefaultButtonID, "3", new { name = "optionsRadios", id = "tip13" })
                                                        @*<input type="radio" name="optionsRadios" id="tip13" value="3" />*@
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Option 4</td>
                                                    <td>
                                                        @Html.DropDownListFor(model => model.Type4, (IEnumerable<SelectListItem>)ViewBag.TypeMode1, new { @style = "width: 80%", id = "AutoTrip1Type4" })
                                                        @Html.ValidationMessageFor(model => model.Type3)
                                                    </td>
                                                    <td hidden><input type="text" id="MSF4" name="MSF4" class="form-control" /></td>
                                                    <td><input type="text" class="form-control" id="AutoTrip4" name="AutoTrip4" value="@Model.AutoTip4ss" /></td>
                                                    <td>
                                                        @Html.DropDownListFor(model => model.AutoCardType4, (IEnumerable<SelectListItem>)ViewBag.CardTypeMode, new { @style = "width: 80%", id = "AutoCardType4" })
                                                        <img id="imgTip1Icon4" src="" style="width:24px; height:24px" />
                                                    </td>
                                                    <td>
                                                        @Html.RadioButtonFor(model => model.AutoTipDefaultButtonID, "4", new { name = "optionsRadios", id = "tip14" })
                                                        @*<input type="radio" name="optionsRadios" id="tip14" value="4" />*@
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <h5><strong>On Screen Display</strong></h5>
                            </div>
                            <div class="row">
                                <div id="no-more-tables" class="col-md-12">
                                    <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                        <tbody>
                                            <tr>
                                                <td>Display Option</td>
                                                <td>
                                                    @Html.DropDownListFor(model => model.AutoTipDisplayOption, (IEnumerable<SelectListItem>)ViewBag.AutoTipDisplayOption1, new { @style = "width: 80%", id = "AutoTipDisplayOption", Title = "P = Buttons show percentage only. A = Buttons show amount only. B = Buttons show both percentage and amount" })
                                                </td>
                                                <td>Enter Confirmation</td>
                                                <td>@Html.DropDownListFor(model => model.AutoTipEnterConfirmation, (IEnumerable<SelectListItem>)ViewBag.EnableCon, new { @style = "width: 80%", id = "AutoTipEnterConfirmation", title = "true = Soft-key button press updates the tip field, but the user must still press ENTER to accept the value. false = When the user presses a soft-key to specify a tip amount, that amount is accepted (as if they had pressed ENTER also)." })</td>
                                                <td>Title</td>
                                                <td>@Html.TextBoxFor(model => model.AutoTipTitle, new { @style = "width: 80%", id = "AutoTipTitle", title = " Top line of AutoTip screen." })</td>
                                            </tr>
                                            <tr>
                                                <td> Amount Display Enable</td>
                                                <td>
                                                    @Html.DropDownListFor(model => model.EnableAutoTipAmountDisplay, (IEnumerable<SelectListItem>)ViewBag.AmountDisplay, new { @style = "width: 80%", id = "EnableAutoTipAmountDisplay", title = "true = Show an (Amount) line, giving the total of all prior amount entries. Otherwise, this amount line is omitted. The label text is determined by tag DFB9." })
                                                </td>
                                                <td>EOS report option</td>
                                                <td>@Html.DropDownListFor(model => model.AutoTipEOSReportOption, (IEnumerable<SelectListItem>)ViewBag.AutoTipEOSReportOption1, new { @style = "width: 80%", id = "AutoTipEOSReportOption", title = "G = Gross. Show gross tip amount only (fees included). S = Net Summary. Show net tip amount only. D = Net Detailed. Show net tip amount, but also show gross and fee lines. If the amount to be shown is zero, no lines will be added to the EOS report." })</td>
                                                <td>Amount Label</td>
                                                <td>@Html.TextBoxFor(model => model.AutoTipAountLabel, new { @style = "width: 80%", id = "AutoTipAountLabel", title = "Text for the AutoTip amount line." })</td>
                                            </tr>
                                            <tr>
                                                <td>Total Display Enable</td>
                                                <td>
                                                    @Html.DropDownListFor(model => model.EnablrAutoTipTotalDisplay, (IEnumerable<SelectListItem>)ViewBag.TotalDisplay, new { @style = "width: 80%", id = "EnablrAutoTipTotalDisplay", title = "true = Show a (Total) line, giving the current sum of all amount screens. Otherwise, this total line is omitted." })
                                                </td>
                                                <td>Prior Amount Label</td>
                                                <td>@Html.TextBoxFor(model => model.AutoTipPriorAmountLabel, new { @style = "width: 80%", id = "AutoTipPriorAmountLabel", title = "Label for the sum of all prior amounts - the amount being tipped on. (Note that the label for the tip itself comes from tag DFCB)" })</td>
                                                <td>Screen Text</td>
                                                <td>@Html.TextBoxFor(model => model.AutoTipScreenText, new { @style = "width: 80%", id = "AutoTipAmountText", title = "Text for the AutoTip screen text." })</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div>
                                <h5 style="font-weight:700;margin-left:10px">Receipt Info</h5>
                            </div>
                            <div class="row">
                                <div id="no-more-tables" class="col-md-12">
                                    <table class="col-md-6 table-striped table-condensed cf">
                                        <tbody>
                                            <tr>
                                                <td>EOS report message</td>
                                                <td data-title="Company">
                                                    @Html.TextBoxFor(model => model.AutoTipEOSReportMessgae, new { @style = "width: 80%", id = "AutoTipEOSReportMessgae", title = "This specifies the text of the AutoTip message on the EOS report, using macro substitutions. An example (Well done...you have earned an extra $TN in tips ($Xcluding fees) which equates to $PN of your transactions). This would be rendered as something like (Well done...you have earned an extra $3.75 in tips (excluding fees) which equates to 2% of your transactions).If the gross tip amount is zero, this line will not be printed at all, unless the $$ macro is present." })
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="form-section" data-toggle="collapse" data-target="#AutoTip2">
                    <strong>Auto Tip 2</strong> @Html.DisplayFor(model => model.OptionTwo.AutoTipAountLabel)
                </h4>
                <div class="expand" id="AutoTip2">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="control-label">
                                            Enable?  @Html.DropDownListFor(model => model.OptionTwo.EnableAutoTip, (IEnumerable<SelectListItem>)ViewBag.EnableMode, new { id = "EnableAutoTip2" })
                                        </div>
                                    </div>
                                    @*<div class="col-md-2">
                                            No Defaults: <input type="radio" name="optionsRadios" id="6e" value="0"> None
                                        </div>
                                        <div class="col-md-2">
                                            <label style="color:green;font-weight:500">Default AutoTip Selected:</label>  <label style="color:green;font-weight:700" id="DefaultAutoTip"></label>
                                        </div>*@
                                </div>
                                <div class="row">
                                    <div id="no-more-tables" class="col-md-12">
                                        <table class="col-md-10 table-striped table-condensed cf">
                                            <thead class="cf">
                                                <tr>
                                                    <th></th>
                                                    <th class="text-center">Type</th>
                                                    <th class="text-center">MSF</th>
                                                    <th class="text-center">Amount</th>
                                                    <th class="text-center">Icon</th>
                                                    <th class="text-center">Make Default?</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Option 1</td>
                                                    <td>
                                                        @Html.DropDownListFor(model => model.OptionTwo.Type1, (IEnumerable<SelectListItem>)ViewBag.TypeMode1, new { @style = "width: 80%", id = "AutoTip2Type1" })
                                                        @Html.ValidationMessageFor(model => model.OptionTwo.Type1)
                                                    </td>
                                                    <td><input type="text" id="AutoTip2MSF1" name="AutoTip2MSF1" class="form-control" /></td>
                                                    <td><input type="text" class="form-control" id="AutoTip2Tip1String" name="AutoTip2Tip1String" value="@Model.OptionTwo.AutoTip1ss" /></td>
                                                    <td>
                                                        @Html.DropDownListFor(model => model.OptionTwo.AutoCardType1, (IEnumerable<SelectListItem>)ViewBag.CardTypeMode, new { @style = "width: 80%", id = "AutoTip2CardIcon1" })
                                                        <img id="imgAutoTip2Icon11" src="" style="width:24px; height:24px" />
                                                    </td>
                                                    <td>
                                                        @Html.RadioButtonFor(model => model.OptionTwo.AutoTipDefaultButtonID, "1", new { name = "AutoTip2optionsRadios", id = "AutoTip2Tip1Option" })
                                                        @*<input type="radio" name="AutoTip2optionsRadios" id="AutoTip2Tip1Option" value="1">*@
                                                    </td>
                                                    <td align="center">
                                                        <button type="submit" id="btnNoDefaultTip2" value="No Default" class="btn blue-madison">No Default </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Option 2</td>
                                                    <td>
                                                        @Html.DropDownListFor(model => model.OptionTwo.Type2, (IEnumerable<SelectListItem>)ViewBag.TypeMode1, new { @style = "width: 80%", id = "AutoTip2Type2" })
                                                        @Html.ValidationMessageFor(model => model.OptionTwo.Type2)
                                                    </td>
                                                    <td><input type="text" id="AutoTip2MSF2" name="AutoTip2MSF2" class="form-control" /></td>
                                                    <td><input type="text" class="form-control" id="AutoTip2Tip2String" name="AutoTip2Tip2String" value="@Model.OptionTwo.AutoTip2ss" /></td>
                                                    <td>
                                                        @Html.DropDownListFor(model => model.OptionTwo.AutoCardType2, (IEnumerable<SelectListItem>)ViewBag.CardTypeMode, new { @style = "width: 80%", id = "AutoTip2CardIcon2" })
                                                        <img id="imgAutoTip2Icon12" src="" style="width:24px; height:24px" />
                                                    </td>
                                                    <td>
                                                        @Html.RadioButtonFor(model => model.OptionTwo.AutoTipDefaultButtonID, "2", new { name = "AutoTip2optionsRadios", id = "AutoTip2Tip2Option" })
                                                        @*<input type="radio" name="AutoTip2optionsRadios" id="AutoTip2Tip2Option" value="2" />*@
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Option 3</td>
                                                    <td>
                                                        @Html.DropDownListFor(model => model.OptionTwo.Type3, (IEnumerable<SelectListItem>)ViewBag.TypeMode1, new { @style = "width: 80%", id = "AutoTip2Type3" })
                                                        @Html.ValidationMessageFor(model => model.OptionTwo.Type3)
                                                    </td>
                                                    <td><input type="text" id="AutoTip2MSF3" name="AutoTip2MSF3" class="form-control" /></td>
                                                    <td><input type="text" class="form-control" id="AutoTip2Tip3String" name="AutoTip2Tip3String" value="@Model.OptionTwo.AutoTip3ss" /></td>
                                                    <td>
                                                        @Html.DropDownListFor(model => model.OptionTwo.AutoCardType3, (IEnumerable<SelectListItem>)ViewBag.CardTypeMode, new { @style = "width: 80%", id = "AutoTip2CardIcon3" })
                                                        <img id="imgAutoTip2Icon13" src="" style="width:24px; height:24px" />
                                                    </td>
                                                    <td>
                                                        @Html.RadioButtonFor(model => model.OptionTwo.AutoTipDefaultButtonID, "3", new { name = "AutoTip2optionsRadios", id = "AutoTip2Tip3Option" })
                                                        @*<input type="radio" name="AutoTip2optionsRadios" id="AutoTip2Tip3Option" value="3" />*@
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Option 4</td>
                                                    <td>
                                                        @Html.DropDownListFor(model => model.OptionTwo.Type4, (IEnumerable<SelectListItem>)ViewBag.TypeMode1, new { @style = "width: 80%", id = "AutoTip2Type4" })
                                                        @Html.ValidationMessageFor(model => model.OptionTwo.Type3)
                                                    </td>
                                                    <td><input type="text" id="AutoTip2MSF4" name="AutoTip2MSF4" class="form-control" /></td>
                                                    <td><input type="text" class="form-control" id="AutoTip2Tip4String" name="AutoTip2Tip4String" value="@Model.OptionTwo.AutoTip4ss" /></td>
                                                    <td>
                                                        @Html.DropDownListFor(model => model.OptionTwo.AutoCardType4, (IEnumerable<SelectListItem>)ViewBag.CardTypeMode, new { @style = "width: 80%", id = "AutoTip2CardIcon4" })
                                                        <img id="imgAutoTip2Icon14" src="" style="width:24px; height:24px" />
                                                    </td>
                                                    <td>
                                                        @Html.RadioButtonFor(model => model.OptionTwo.AutoTipDefaultButtonID, "4", new { name = "AutoTip2optionsRadios", id = "AutoTip2Tip4Option" })
                                                        @*<input type="radio" name="AutoTip2optionsRadios" id="AutoTip2Tip4Option" value="4" />*@
                                                    </td>
                                                    
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <h5><strong>On Screen Display</strong></h5>
                            </div>
                            <div class="row">
                                <div id="no-more-tables" class="col-md-12">
                                    <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                        <tbody>
                                            <tr>
                                                <td>Display Option</td>
                                                <td>
                                                    @Html.DropDownListFor(model => model.OptionTwo.AutoTipDisplayOption, (IEnumerable<SelectListItem>)ViewBag.AutoTipDisplayOption1, new { @style = "width: 80%", id = "AutoTip2AutoTipDisplayOption", Title = "P = Buttons show percentage only. A = Buttons show amount only. B = Buttons show both percentage and amount" })
                                                </td>
                                                <td>Enter Confirmation</td>
                                                <td>@Html.DropDownListFor(model => model.OptionTwo.AutoTipEnterConfirmation, (IEnumerable<SelectListItem>)ViewBag.EnableCon, new { @style = "width: 80%", id = "AutoTip2AutoTipEnterConfirmation", title = "true = Soft-key button press updates the tip field, but the user must still press ENTER to accept the value. false = When the user presses a soft-key to specify a tip amount, that amount is accepted (as if they had pressed ENTER also)." })</td>
                                                <td>Title</td>
                                                <td>@Html.TextBoxFor(model => model.OptionTwo.AutoTipTitle, new { @style = "width: 80%", id = "AutoTip2AutoTipTitle", title = " Top line of AutoTip screen." })</td>
                                            </tr>
                                            <tr>
                                                <td> Amount Display Enable</td>
                                                <td>
                                                    @Html.DropDownListFor(model => model.OptionTwo.EnableAutoTipAmountDisplay, (IEnumerable<SelectListItem>)ViewBag.AmountDisplay, new { @style = "width: 80%", id = "AutoTip2EnableAutoTipAmountDisplay", title = "true = Show an (Amount) line, giving the total of all prior amount entries. Otherwise, this amount line is omitted. The label text is determined by tag DFB9." })
                                                </td>
                                                <td>EOS report option</td>
                                                <td>@Html.DropDownListFor(model => model.OptionTwo.AutoTipEOSReportOption, (IEnumerable<SelectListItem>)ViewBag.AutoTipEOSReportOption1, new { @style = "width: 80%", id = "AutoTip2AutoTipEOSReportOption", title = "G = Gross. Show gross tip amount only (fees included). S = Net Summary. Show net tip amount only. D = Net Detailed. Show net tip amount, but also show gross and fee lines. If the amount to be shown is zero, no lines will be added to the EOS report." })</td>
                                                <td>Amount Label</td>
                                                <td>@Html.TextBoxFor(model => model.OptionTwo.AutoTipAountLabel, new { @style = "width: 80%", id = "AutoTip2AutoTipAountLabel", title = "Text for the AutoTip amount line." })</td>
                                            </tr>
                                            <tr>
                                                <td>Total Display Enable</td>
                                                <td>
                                                    @Html.DropDownListFor(model => model.OptionTwo.EnablrAutoTipTotalDisplay, (IEnumerable<SelectListItem>)ViewBag.TotalDisplay, new { @style = "width: 80%", id = "AutoTip2EnablrAutoTipTotalDisplay", title = "true = Show a (Total) line, giving the current sum of all amount screens. Otherwise, this total line is omitted." })
                                                </td>
                                                <td>Prior Amount Label</td>
                                                <td>@Html.TextBoxFor(model => model.OptionTwo.AutoTipPriorAmountLabel, new { @style = "width: 80%", id = "AutoTip2AutoTipPriorAmountLabel", title = "Label for the sum of all prior amounts - the amount being tipped on. (Note that the label for the tip itself comes from tag DFCB)" })</td>
                                                <td>Screen Text</td>
                                                <td>@Html.TextBoxFor(model => model.OptionTwo.AutoTipScreenText, new { @style = "width: 80%", id = "AutoTip2AmountText", title = "Text for the AutoTip screen text." })</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div>
                                <h5 style="font-weight:700;margin-left:10px">Receipt Info</h5>
                            </div>
                            <div class="row">
                                <div id="no-more-tables" class="col-md-12">
                                    <table class="col-md-6 table-striped table-condensed cf">
                                        <tbody>
                                            <tr>
                                                <td>EOS report message</td>
                                                <td data-title="Company">
                                                    @Html.TextBoxFor(model => model.OptionTwo.AutoTipEOSReportMessgae, new { @style = "width: 80%", id = "AutoTip2AutoTipEOSReportMessgae", title = "This specifies the text of the AutoTip message on the EOS report, using macro substitutions. An example (Well done...you have earned an extra $TN in tips ($Xcluding fees) which equates to $PN of your transactions). This would be rendered as something like (Well done...you have earned an extra $3.75 in tips (excluding fees) which equates to 2% of your transactions).If the gross tip amount is zero, this line will not be printed at all, unless the $$ macro is present." })
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-actions right">
            <button type="submit" name="Command" value="Submit" style="float:right;margin-right:10px" class="btn blue-madison">Save <i class="m-icon-swapright m-icon-white"></i></button>
            @*<button type="button" onclick="history.go(-1);return true;" style="float:right;margin-right:10px" class=" btn default">Close</button>*@
            @Html.ActionLink("Back", "SearchTID", new { terminalId = @Model.Terminal.TerminalID }, new { @class = " btn default", @style = "float:right;margin-right:10px" })


        </div>
    </div>
}



@section scripts {
    <script type="text/javascript">

    $(function () {
        $('#AutoTipEOSReportMessgae').tooltip();
        $('#AutoTipFeeIncluded').tooltip();
        $('#AutoTipAountLabel').tooltip();
        $('#AutoTipEOSReportOption').tooltip();
        $('#AutoTipEnterConfirmation').tooltip();
        $('#AutoTipPriorAmountLabel').tooltip();
        $('#AutoTipTitle').tooltip();
        $('#EnablrAutoTipTotalDisplay').tooltip();
        $('#EnableAutoTipAmountDisplay').tooltip();
        $('#AutoTipDisplayOption').tooltip();


        $('#AutoTip2AutoTipDisplayOption').tooltip();
        $('#AutoTip2AutoTipEnterConfirmation').tooltip();
        $('#AutoTip2AutoTipTitle').tooltip();
        $('#AutoTip2EnableAutoTipAmountDisplay').tooltip();
        $('#AutoTip2AutoTipEOSReportOption').tooltip();
        $('#AutoTip2AutoTipAountLabel').tooltip();
        $('#AutoTip2EnablrAutoTipTotalDisplay').tooltip();
        $('#AutoTip2AutoTipPriorAmountLabel').tooltip();
        $('#AutoTip2AmountText').tooltip();
        $('#AutoTip2AutoTipEOSReportMessgae').tooltip();

    });

    $(document).ready(function () {
        var val1 = $("#AutoTrip1Type").val()
        if (val1 == 'Fixed') {
            $('#AutoTrip1Span').text("$")
        }
        else {
            $('#AutoTrip1Span').text("%")
        }
    });
    $(document).ready(function () {
        var val1 = $("#AutoTip2Type").val()
        if (val1 == 'Fixed') {
            $('#AutoTip2Span').text("$")
        }
        else {
            $('#AutoTip2Span').text("%")
        }
    });
    $(document).ready(function () {
        var val1 = $("#AutoTrip3Type").val()
        if (val1 == 'Fixed') {
            $('#AutoTrip3Span').text("$")
        }
        else {
            $('#AutoTrip3Span').text("%")
        }
    });
    $(document).ready(function () {
        var val1 = $("#AutoTrip4Type").val()
        if (val1 == 'Fixed') {
            $('#AutoTrip4Span').text("$")
        }
        else {
            $('#AutoTrip4Span').text("%")
        }
    });


    $(document).ready(function () {
        $("#AutoTrip1Type").change(function () {
            var val1 = $("#AutoTrip1Type").val()
            if (val1 == 'Fixed') {
                $('#AutoTrip1Span').text("$")
            }
            else {
                $('#AutoTrip1Span').text("%")
            }
        });
    });
    $(document).ready(function () {
        $("#AutoTip2Type").change(function () {
            var val1 = $("#AutoTip2Type").val()
            if (val1 == 'Fixed') {
                $('#AutoTip2Span').text("$ ")
            }
            else {
                $('#AutoTip2Span').text("% ")
            }
        });
    });
    $(document).ready(function () {
        $("#AutoTrip3Type").change(function () {
            var val1 = $("#AutoTrip3Type").val()
            if (val1 == 'Fixed') {
                $('#AutoTrip3Span').text("$ ")
            }
            else {
                $('#AutoTrip3Span').text("% ")
            }
        });
    });
    $(document).ready(function () {
        $("#AutoTrip4Type").change(function () {
            var val1 = $("#AutoTrip4Type").val()
            if (val1 == 'Fixed') {
                $('#AutoTrip4Span').text("$ ")
            }
            else {
                $('#AutoTrip4Span').text("% ")
            }
        });
    });

    $(document).ready(function () {
        $("#MSF4").focusout(function () {

            var val1 = $("#MSF4").val()
            var val2 = val1 / 100;

            var val11 = $("#AutoTrip4Type").val()
            if (val11 == 'Fixed') {
                $('#AutoTrip4').val(val1)
            }
            else {
                val3 = val2 / (1 - val2)
                val4 = val3 * 100
                $('#AutoTrip4').val(val4.toFixed(2))
            }

        });
        });

    $(document).ready(function () {
    $("#MSF1").focusout(function () {

        var val1 = $("#MSF1").val()
        var val2 = val1 / 100;

        var val11 = $("#AutoTrip1Type").val()
        if (val11 == 'Fixed') {
            $('#AutoTrip1').val(val1)
        }
        else {
            val3 = val2 / (1 - val2)
            val4 = val3 * 100
            $('#AutoTrip1').val(val4.toFixed(2))
        }

    });
    });

    $(document).ready(function () {
    $("#MSF2").focusout(function () {

        var val1 = $("#MSF2").val()
        var val2 = val1 / 100;

        var val11 = $("#AutoTip2Type").val()
        if (val11 == 'Fixed') {
            $('#AutoTip2').val(val1)
        }
        else {
            val3 = val2 / (1 - val2)
            val4 = val3 * 100
            $('#AutoTip2').val(val4.toFixed(2))
        }

    });
    });

    $(document).ready(function () {
        $("#MSF3").focusout(function () {

            var val1 = $("#MSF3").val()
            var val2 = val1 / 100;

            var val11 = $("#AutoTrip3Type").val()
            if (val11 == 'Fixed') {
                $('#AutoTrip3').val(val1)
            }
            else {
                val3 = val2 / (1 - val2)
                val4 = val3 * 100
                $('#AutoTrip3').val(val4.toFixed(2))
            }

        });
    });







        $(document).ready(function () {
            $("#AutoTip2MSF1").focusout(function () {

                var val1 = $("#AutoTip2MSF1").val()
                var val2 = val1 / 100;

                var val11 = $("#AutoTip2Type1").val()
                if (val11 == 'Fixed') {
                    $('#AutoTip2Tip1String').val(val1)
                }
                else {
                    val3 = val2 / (1 - val2)
                    val4 = val3 * 100
                    $('#AutoTip2Tip1String').val(val4.toFixed(2))
                }

            });
        });

        $(document).ready(function () {
            $("#AutoTip2MSF2").focusout(function () {

                var val1 = $("#AutoTip2MSF2").val()
                var val2 = val1 / 100;

                var val11 = $("#AutoTip2Type2").val()
                if (val11 == 'Fixed') {
                    $('#AutoTip2Tip2String').val(val1)
                }
                else {
                    val3 = val2 / (1 - val2)
                    val4 = val3 * 100
                    $('#AutoTip2Tip2String').val(val4.toFixed(2))
                }

            });
        });


        $(document).ready(function () {
            $("#AutoTip2MSF3").focusout(function () {

                var val1 = $("#AutoTip2MSF3").val()
                var val2 = val1 / 100;

                var val11 = $("#AutoTip2Type3").val()
                if (val11 == 'Fixed') {
                    $('#AutoTip2Tip3String').val(val1)
                }
                else {
                    val3 = val2 / (1 - val2)
                    val4 = val3 * 100
                    $('#AutoTip2Tip3String').val(val4.toFixed(2))
                }

            });
        });

        $(document).ready(function () {
            $("#AutoTip2MSF4").focusout(function () {

                var val1 = $("#AutoTip2MSF4").val()
                var val2 = val1 / 100;

                var val11 = $("#AutoTip2Type4").val()
                if (val11 == 'Fixed') {
                    $('#AutoTip2Tip4String').val(val1)
                }
                else {
                    val3 = val2 / (1 - val2)
                    val4 = val3 * 100
                    $('#AutoTip2Tip4String').val(val4.toFixed(2))
                }

            });
        });




    $(document).ready(function () {

        var tkey = @Model.Terminal.TerminalKey;

        $("#btnNoDefaultTip1").off("click").on("click",
            function (e) {
                $('input:radio[name=AutoTipDefaultButtonID]')
                    .each(function () {
                        $(this).parent().removeClass('checked');
                        $(this).prop('checked', false);
                    });
                e.preventDefault();
            });
        $("#btnNoDefaultTip2").off("click").on("click",
            function (e) {
                $('input:radio[name="OptionTwo.AutoTipDefaultButtonID"]')
                    .each(function () {
                        $(this).parent().removeClass('checked');
                        $(this).prop('checked', false);
                    });
                e.preventDefault();
            });


        @*$.ajax({
            url: '@Url.Action("GetAutoTipDefaultButton")',
            data: { key: tkey },
            type: "GET",
            dataType: "json",
            success: function (data) {
              //  alert(data)
                if (data == 0) {
                    $("#6e").attr("checked", true);
                    $("#DefaultAutoTip").text("None")
                }
                else if (data == 1) {
                    $("#6a").attr("checked", true);
                    $("#DefaultAutoTip").text("AutoTip1")
                }
                else if (data == 2) {
                    $("#6b").attr("checked", true);
                    $("#DefaultAutoTip").text("AutoTip2")
                }
                else if (data == 3) {
                    $("#6c").attr("checked", true);
                    $("#DefaultAutoTip").text("AutoTip3")
                }
                else if (data == 4) {
                    $("#6d").attr("checked", true);
                    $("#DefaultAutoTip").text("AutoTip4")
                }
            }
        });*@


		displayIconOnChange($("select#AutoCardType1"), $('#imgTip1Icon1'))
		displayIconOnChange($("select#AutoCardType2"), $('#imgTip1Icon2'))
		displayIconOnChange($("select#AutoCardType3"), $('#imgTip1Icon3'))
		displayIconOnChange($("select#AutoCardType4"), $('#imgTip1Icon4'))
		displayIconOnChange($("select#AutoTip2CardIcon1"), $('#imgAutoTip2Icon11'))
		displayIconOnChange($("select#AutoTip2CardIcon2"), $('#imgAutoTip2Icon12'))
		displayIconOnChange($("select#AutoTip2CardIcon3"), $('#imgAutoTip2Icon13'))
		displayIconOnChange($("select#AutoTip2CardIcon4"), $('#imgAutoTip2Icon14'))

        $("select#AutoCardType1").change(function () {
            displayIconOnChange($(this), $('#imgTip1Icon1'))
        });
        $("select#AutoCardType2").change(function () {
            displayIconOnChange($(this), $('#imgTip1Icon2'))
        });
        $("select#AutoCardType3").change(function () {
            displayIconOnChange($(this), $('#imgTip1Icon3'))
        });
        $("select#AutoCardType4").change(function () {
            displayIconOnChange($(this), $('#imgTip1Icon4'))
        });
        $("select#AutoTip2CardIcon1").change(function () {
            displayIconOnChange($(this), $('#imgAutoTip2Icon11'))
        });
        $("select#AutoTip2CardIcon2").change(function () {
            displayIconOnChange($(this), $('#imgAutoTip2Icon12'))
        });
        $("select#AutoTip2CardIcon3").change(function () {
            displayIconOnChange($(this), $('#imgAutoTip2Icon13'))
        });
        $("select#AutoTip2CardIcon4").change(function () {
            displayIconOnChange($(this), $('#imgAutoTip2Icon14'))
        });

        //$("input[type='radio']").click(function () { alert($(this).attr("value")) });

        function displayIconOnChange(select, img) {
            var val = select.val();
            var text = $("select#AutoCardType1 [value='" + val + "']").text().toLowerCase()

            //not the ideal way to do but we dont have to change the text and filename, hence this hack..
            text = text.replace(' ', '').replace('flag', '').replace('/', '').replace('okay', 'ok').replace('diners', 'diner').replace('mastercard', 'matercard').replace('silvercard', 'silvertip');
            if (text.substring(text.length - 1) == "s" && text != 'eftpos') {
                text = text.slice(0, -1);
            }


            img.attr('src', '../images/' + text + '.png');
        }
    });


    </script>

}

