﻿@model PhoenixWeb.Models.ViewModel.ImportTerminalPageVM
@{
    ViewBag.Title = "Import Terminals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="page-title">
    Import Terminals
</h3>
<form id="ImportTerminals">
    <div class="form-body">
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(x => Model.BusinessType, new { @class = "control-labelM col-md-4" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(x => x.BusinessTypeId, Model.BusinessType, new { @class = "form-control option-filter" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Upload Terminal file", new { @class = "control-labelM col-md-4" })
                    <div class="col-md-6">
                        <input type="file" name="" title="Upload Qantas Point file" id="btnChooseFile" class="form-control">
                    </div>
                    <input type="button" title="Load data from file to grid view." value="Load File" class="btn btn-default" id="btnLoadFile">
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <div class="form-group" id="parentTerminalGrid">
                    <table id="grdTerminalGrid"></table>
                    <div id="grdTerminalPager"></div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <button id="btnSave" class="form-control btn btn-primary" style="width: 5%;" disabled="disabled">Save</button>
            </div>
        </div>
    </div>
</form>
@section scripts
{
    <script src="~/Scripts/pages/Terminal/PH-ImportTerminals.js"></script>
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".Terminal").addClass("active open");

        });
    </script>
}
