﻿@model Phoenix_BusLog.TransactionHost.Model.TerminalLogoModel

@{
    ViewBag.Title = "Edit Config ";
    ViewBag.Key = Model.TerminalKey;
    ViewBag.Action = "Config";
}

@Html.ValidationSummary(true)
@*@using (Ajax.BeginForm("Logo", "Terminal", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog", OnSuccess = "Successful" }, new { @enctype = "multipart/form-data" }))
    {*@

@using (Html.BeginForm("Logo", "Terminal", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
@Html.HiddenFor(model => model.Terminal.TerminalKey)
<h3 class="page-title">
    Receipt Logo
</h3>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
            Settings
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <div class="form-body">

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.HiddenFor(model => model.TerminalKey)
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Terminal.TerminalID, new { @class = "control-label col-md-3" })
                                    <div class="col-md-9" style="font-weight:700">
                                        @Html.DisplayFor(model => model.Terminal.TerminalID)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Terminal.SerialNumber, new { @class = "control-label col-md-3" })
                                    <div class="col-md-9" style="font-weight:700">
                                        @Html.DisplayFor(model => model.Terminal.SerialNumber)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Terminal.FullVersionNo, new { @class = "control-label col-md-3" })
                                    <div class="col-md-9" style="font-weight:700">
                                        @Html.DisplayFor(model => model.Terminal.FullVersionNo)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />

                        <div class="row">

                            <div class="col-md-3">
                                <div class="control-label">
                                    @Html.Label("Header Logo", new { @class = "labeltrans" })
                                </div>
                                <div class="col-md-8">
                                    <input type="file" name="file1" id="file1" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="control-label">
                                    @Html.Label("Footer Logo", new { @class = "labeltrans" })
                                </div>
                                <div class="col-md-8">
                                    <input type="file" name="footerLogo" id="footerLogo" />
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="control-label">
                                    @Html.Label("Header Logo Description", new { @class = "labeltrans" })
                                </div>
                                <div class="col-md-11">
                                    <input type="text" id="RecieptDescription" name="RecieptDescription" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="control-label">
                                    @Html.Label("Footer Logo Description", new { @class = "labeltrans" })
                                </div>
                                <div class="col-md-11">
                                    <input type="text" id="footerLogoDescription" name="footerLogoDescription" />
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-3">
                                <div class="control-label">
                                    @Html.Label("Current Header Logo", new { @class = "labeltrans" })
                                </div>
                                <div class="col-md-11">
                                    @if (@Model.HasPhoto)
                                        {
                                    <span style="color:green">This Terminal has a custom logo</span><br /><br />
                                    <label>Remove custom logo</label>
                                    <input type="checkbox" name="RemoveLogo" id="RemoveLogo" />
                                        }
                                        else
                                        {
                                    <span style="color:red">There is no custom logo for this terminal</span>
                                        }
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="control-label">
                                    @Html.Label("Current Footer Logo", new { @class = "labeltrans" })
                                </div>
                                <div class="col-md-12">
                                    @if (@Model.HasFooterLogoPhoto)
                                        {
                                    <span style="color:green">This Terminal has a custom footer logo</span><br /><br />
                                    <label>Remove footer logo</label>
                                    <input type="checkbox" name="removeFooterLogo" id="removeFooterLogo" />
                                        }
                                        else
                                        {
                                    <span style="color:red">There is no custom footer logo for this terminal</span>
                                        }
                                </div>
                            </div>



                        </div>

                    </div>
                </div>
            </div>
            <br />

            <div class="form-actions right">
                <button type="submit" name="Command" value="Submit" style="float:right;margin-right:10px" class="btn blue-madison">Submit <i class="m-icon-swapright m-icon-white"></i></button>
                @*<button type="submit" name="Command" value="Submit" style="float:right;margin-right:10px" class="btn default">Cancel</button>*@
                @*<button type="button" onclick="history.go(-1);return true;" style="float:right;margin-right:10px" class=" btn default">Close</button>*@
                @Html.ActionLink("Close", "SearchTID", new { terminalId = @Model.Terminal.TerminalID }, new { @class = " btn default", @style = "float:right;margin-right:10px" })
            </div>
        </div>
    </div>
</div>
}



@section scripts {
    <script type="text/javascript">

    $(function () {
        $('#AutoTipEOSReportMessgae').tooltip();
        $('#AutoTipFeeIncluded').tooltip();
        $('#AutoTipAountLabel').tooltip();
        $('#AutoTipEOSReportOption').tooltip();
        $('#AutoTipEnterConfirmation').tooltip();
        $('#AutoTipPriorAmountLabel').tooltip();
        $('#AutoTipTitle').tooltip();
        $('#EnablrAutoTipTotalDisplay').tooltip();
        $('#EnableAutoTipAmountDisplay').tooltip();
        $('#AutoTipDisplayOption').tooltip();


    });

    $(document).ready(function () {
        var val1 = $("#AutoTrip1Type").val()
        if (val1 == 'Fixed') {
            $('#AutoTrip1Span').text("$")
        }
        else {
            $('#AutoTrip1Span').text("%")
        }
    });
    $(document).ready(function () {
        var val1 = $("#AutoTrip2Type").val()
        if (val1 == 'Fixed') {
            $('#AutoTrip2Span').text("$")
        }
        else {
            $('#AutoTrip2Span').text("%")
        }
    });
    $(document).ready(function () {
        var val1 = $("#AutoTrip3Type").val()
        if (val1 == 'Fixed') {
            $('#AutoTrip3Span').text("$")
        }
        else {
            $('#AutoTrip3Span').text("%")
        }
    });
    $(document).ready(function () {
        var val1 = $("#AutoTrip4Type").val()
        if (val1 == 'Fixed') {
            $('#AutoTrip4Span').text("$")
        }
        else {
            $('#AutoTrip4Span').text("%")
        }
    });


    $(document).ready(function () {
        $("#AutoTrip1Type").change(function () {
            var val1 = $("#AutoTrip1Type").val()
            if (val1 == 'Fixed') {
                $('#AutoTrip1Span').text("$")
            }
            else {
                $('#AutoTrip1Span').text("%")
            }
        });
    });
    $(document).ready(function () {
        $("#AutoTrip2Type").change(function () {
            var val1 = $("#AutoTrip2Type").val()
            if (val1 == 'Fixed') {
                $('#AutoTrip2Span').text("$ ")
            }
            else {
                $('#AutoTrip2Span').text("% ")
            }
        });
    });
    $(document).ready(function () {
        $("#AutoTrip3Type").change(function () {
            var val1 = $("#AutoTrip3Type").val()
            if (val1 == 'Fixed') {
                $('#AutoTrip3Span').text("$ ")
            }
            else {
                $('#AutoTrip3Span').text("% ")
            }
        });
    });
    $(document).ready(function () {
        $("#AutoTrip4Type").change(function () {
            var val1 = $("#AutoTrip4Type").val()
            if (val1 == 'Fixed') {
                $('#AutoTrip4Span').text("$ ")
            }
            else {
                $('#AutoTrip4Span').text("% ")
            }
        });
    });
    //$(document).ready(function () {
    //    $("#AutoTrip1").change(function () {

    //        var val1 = $("#AutoTrip1").val()
    //        if (val1.length = 1) {
    //            var val2 = val1 / 100
    //            val2 = val2.toFixed(2)
    //            $("#AutoTrip1").val(val2)
    //        }
    //        if (val1.length > 4) {

    //            val1 = val1 * 10
    //            val1 = val1.toFixed(2)
    //            $("#AutoTrip1").val(val1)
    //        }

    //    });
    //});
    //$(document).ready(function () {
    //    $("#AutoTrip2").change(function () {

    //        var val1 = $("#AutoTrip2").val()
    //        if (val1.length = 1) {
    //            var val2 = val1 / 100
    //            val2 = val2.toFixed(2)
    //            $("#AutoTrip2").val(val2)
    //        }
    //        if (val1.length > 4) {

    //            val1 = val1 * 10
    //            val1 = val1.toFixed(2)
    //            $("#AutoTrip2").val(val1)
    //        }

    //    });
    //});
    //$(document).ready(function () {
    //    $("#AutoTrip3").change(function () {

    //        var val1 = $("#AutoTrip3").val()
    //        if (val1.length = 1) {
    //            var val2 = val1 / 100
    //            val2 = val2.toFixed(2)
    //            $("#AutoTrip3").val(val2)
    //        }
    //        if (val1.length > 4) {

    //            val1 = val1 * 10
    //            val1 = val1.toFixed(2)
    //            $("#AutoTrip3").val(val1)
    //        }

    //    });
    //});
    //$(document).ready(function () {
    //    $("#AutoTrip4").change(function () {

    //        var val1 = $("#AutoTrip4").val()
    //        if (val1.length = 1) {
    //            var val2 = val1 / 100
    //            val2 = val2.toFixed(2)
    //            $("#AutoTrip4").val(val2)
    //        }
    //        if (val1.length > 4) {

    //            val1 = val1 * 10
    //            val1 = val1.toFixed(2)
    //            $("#AutoTrip4").val(val1)
    //        }

    //    });
    //});
    $(document).ready(function () {
        $("#MSF4").focusout(function () {

            var val1 = $("#MSF4").val()
            var val2 = val1 / 100;

            var val11 = $("#AutoTrip4Type").val()
            if (val11 == 'Fixed') {
                $('#AutoTrip4').val(val1)
            }
            else {
                val3 = val2 / (1 - val2)
                val4 = val3 * 100
                $('#AutoTrip4').val(val4.toFixed(2))
            }

        });
    }); $(document).ready(function () {
        $("#MSF1").focusout(function () {

            var val1 = $("#MSF1").val()
            var val2 = val1 / 100;

            var val11 = $("#AutoTrip1Type").val()
            if (val11 == 'Fixed') {
                $('#AutoTrip1').val(val1)
            }
            else {
                val3 = val2 / (1 - val2)
                val4 = val3 * 100
                $('#AutoTrip1').val(val4.toFixed(2))
            }

        });
    }); $(document).ready(function () {
        $("#MSF2").focusout(function () {

            var val1 = $("#MSF2").val()
            var val2 = val1 / 100;

            var val11 = $("#AutoTrip2Type").val()
            if (val11 == 'Fixed') {
                $('#AutoTrip2').val(val1)
            }
            else {
                val3 = val2 / (1 - val2)
                val4 = val3 * 100
                $('#AutoTrip2').val(val4.toFixed(2))
            }

        });
    });
    $(document).ready(function () {
        $("#MSF3").focusout(function () {

            var val1 = $("#MSF3").val()
            var val2 = val1 / 100;

            var val11 = $("#AutoTrip3Type").val()
            if (val11 == 'Fixed') {
                $('#AutoTrip3').val(val1)
            }
            else {
                val3 = val2 / (1 - val2)
                val4 = val3 * 100
                $('#AutoTrip3').val(val4.toFixed(2))
            }

        });
    });
    $(document).ready(function () {

        $(':radio[name="radio-choice-v-6a"]').change(function () {
            $("#radio-choice-v-6b").attr('checked', false);
            $("#radio-choice-v-6c").attr('checked', false);
            $("#radio-choice-v-6d").attr('checked', false);
            $("#radio-choice-v-6e").attr('checked', false);
        });
        $(':radio[name="radio-choice-v-6b"]').change(function () {
            $("#radio-choice-v-6a").attr('checked', false);
            $("#radio-choice-v-6c").attr('checked', false);
            $("#radio-choice-v-6d").attr('checked', false);
            $("#radio-choice-v-6e").attr('checked', false);
        });
        $(':radio[name="radio-choice-v-6c"]').change(function () {
            $("#radio-choice-v-6b").attr('checked', false);
            $("#radio-choice-v-6a").attr('checked', false);
            $("#radio-choice-v-6d").attr('checked', false);
            $("#radio-choice-v-6e").attr('checked', false);
        });
        $(':radio[name="radio-choice-v-6d"]').change(function () {
            $("#radio-choice-v-6b").attr('checked', false);
            $("#radio-choice-v-6c").attr('checked', false);
            $("#radio-choice-v-6a").attr('checked', false);
            $("#radio-choice-v-6e").attr('checked', false);
        });
        $(':radio[name="radio-choice-v-6e"]').change(function () {
            $("#radio-choice-v-6b").attr('checked', false);
            $("#radio-choice-v-6c").attr('checked', false);
            $("#radio-choice-v-6d").attr('checked', false);
            $("#radio-choice-v-6a").attr('checked', false);
        });

    });
    @*var tkey = $("key").val();
    $.ajax({
        url: '@Url.Action("GetAutoTipDefaultButton","Terminal")',
        data: { key: tkey },
        type: "GET",
        dataType: "json",
        success: function (data) {
            if (data == 0)
            {
                $("#radio-choice-v-6e").attr('checked', true);
            }
            else if(data == 1)
            {
                $("#radio-choice-v-6a").attr('checked', true);
            }
            else if (data == 2) {
                $("#radio-choice-v-6b").attr('checked', true);
            }
            else if (data == 3) {
                $("#radio-choice-v-6c").attr('checked', true);
            }
            else if (data == 4) {
                $("#radio-choice-v-6d").attr('checked', true);
            }

        }

    });*@
    $(document).ready(function () {

        var tkey = @Model.Terminal.TerminalKey

        $.ajax({
            url: '@Url.Action("GetAutoTipDefaultButton")',
            data: { key: tkey },
            type: "GET",
            dataType: "json",
            success: function (data) {
                if (data == 0) {
                    $("#radio-choice-v-6e").attr('checked', true);
                }
                else if (data == 1) {
                    $("#radio-choice-v-6a").attr('checked', true);
                }
                else if (data == 2) {
                    $("#radio-choice-v-6b").attr('checked', true);
                }
                else if (data == 3) {
                    $("#radio-choice-v-6c").attr('checked', true);
                }
                else if (data == 4) {
                    $("#radio-choice-v-6d").attr('checked', true);
                }
            }
        });
    });

    </script>

}

