﻿@model List<Phoenix_BusLog.TransactionHost.Model.TerminalModel>
@using PhoenixObjects.Enums;
@{
    ViewBag.Title = "Search";
}
<h3 class="page-title">
    Terminal
    <small>Search</small>
</h3>

@Html.ValidationMessage("error")

@using (Html.BeginForm("Search", "Terminal"))
{
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-adjust"></i>
                Search
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <div class="col-md-4">
                                @*<input class="form-control" placeholder="type Memberid or Terminalid or Trading name or Mobile No.." type="text" name="SearchKey1" id="SearchKey1" />*@

                                <input type="text" name="SearchKey11" id="SearchKey11" class="form-control" placeholder="Terminal id">
                            </div>
                            <div class="col-md-1">
                                <span style="color:grey;font-style:italic">Or</span>
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="SearchKey12" id="SearchKey12" class="form-control" placeholder="Serial no.">
                            </div>
                            <button type="submit" name="Command" value="Search" class="btn blue-madison">SEARCH <i class="m-icon-swapright m-icon-white"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}<div id="message" style="color:red;"></div>

@if (Model != null)
{
    if (Model.Count > 0)
    {

        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Terminal Result
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    TerminalId
                                </th>
                                <th>
                                    Serial Number
                                </th>
                                <th>
                                    VAA Version
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th></th>
                                @*<th>
                                        Phoenix view
                                    </th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model)
                            {
                                <tr>
                                    <td>
                                        @m.TerminalID
                                    </td>
                                    <td>
                                        @m.SerialNumber
                                    </td>
                                    <td>
                                        @m.VAAVersion
                                    </td>
                                    <td>
                                        @if (m.Inactive == true)
                                        {
                                            <span>
                                                Inactive
                                            </span>
                                        }
                                        else
                                        {
                                            <span>
                                                Active
                                            </span>
                                        }
                                    </td>

                                    <td>
                                        @Html.ActionLink("Configure", "Config", new { key = @m.TerminalKey }) |
                                    </td>
                                    <td>
                                        @Html.ActionLink("Manage", "Manage", new { key = @m.TerminalKey }) |
                                    </td>
                                    <td>
                                        @Html.ActionLink("Swap Terminal", "Swap", new { key = @m.TerminalKey }) |

                                    </td>
                                    <td>
                                        @Html.ActionLink("Logs", "SettlementLogs", new { key = @m.TerminalKey }) |
                                    </td>
                                    <td>
                                        @Html.ActionLink("Transactions", "Transactions", new { key = @m.TerminalKey }) |
                                    </td>
                                    <td>
                                        @Html.ActionLink("Bulk Update", "BulkUpdate", new { key = @m.TerminalKey }) |
                                    </td>
                                    <td>
                                        @Html.ActionLink("Bulk Add", "BulkAdd", new { key = @m.TerminalKey }) |
                                    </td>
                                    <td>
                                        @Html.ActionLink("Transactions Addon", "DiffSurcharge", new { key = @m.TerminalKey }) |
                                    </td>
                                    <td>
                                        @Html.ActionLink("Logo", "Logo", new { key = @m.TerminalKey }) |
                                    </td>
                                    <td>
                                        @Html.ActionLink("Member", "Details", "Member", new { member_key = @m.MemberKey }, null) |
                                    </td>
                                    <td>
                                        <a id="SetEOS@(m.TerminalKey)" onclick="OnSetEOS(@m.TerminalKey)" data-inactive="@m.Inactive" data-id="@m.TerminalID" data-has-receipt="@(m.ReceiptKey == null && m.AppKey == null ? false : true)" data-set="@m.IsSetEOS">@(m.IsSetEOS ? "Unset EOS" : "Set EOS")</a>|
                                    </td>
                                    <td>
                                        <a id="GP@(m.TerminalKey)" onclick="GeneratePassword(@m.TerminalKey)"  data-id="@m.TerminalID">Generate Password</a>|
                                    </td>
                                    @if (ViewContext.Controller.IsDisplayUIControl(SystemConfigurationKeyEnum.DisplayGlideboxUI.ToString(), BusinessDomainEnum.Glidebox))
                                    {
                                        if (ViewContext.Controller.HasPermission("ViewGlideBox") && ViewContext.Controller.HasPermission("ManageGlideBox") && m.IsAllowAssignCategory)
                                        {
                                            <td>
                                                <a id="btnAssign_@(m.TerminalID)" onclick="DisplayCategoryPopup(@m.TerminalID)" data-id="@m.TerminalID" data-set="@m.IsExistCategories">@(m.IsExistCategories ? "View Assigned Categories" : "Assign Categories to Terminal")</a>
                                            </td>
                                        }
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
}

<div id="assignCategoryDialog" class="assign-category" style="display: none;">
    <div class="row">
        <input type="hidden" id="txtMaxCategory" value="@ViewBag.MaxCategoryAssignedInTerminal" />
        <input type="hidden" id="txtTerminalId" value="">
        <div class="col-md-12">
            <div class="search-group">
                <i class="glyphicon glyphicon-search" id="btnSearch"></i>
                <input id="textSearch" title="Filter Category Name." type="text" class="form-control" placeholder="Search Category" />
            </div>
        </div>
    </div>
    <div class=" row">
        <div id="categoryList" class="col-md-12">
            <div class="form-group" id="parentAssignCategoryGrid">
                <table id="gridAssignCategory"></table>
            </div>
        </div>
    </div>
    <div class=" row">
        <input type="button" value="Assign" id="btnSave" data-is-edit="false" style="margin-left: 1em;" class="btn btn-primary" />
        <input type="button" value="Cancel" id="btnCancel" style="margin-left: 1em;" class="btn btn-default" />
    </div>
</div>

<div id="detailCategoryDialog" style="display: none;">
    <div class=" row">
        <div id="categoryList" class="col-md-12">
            <div class="form-group" id="parentDetailCategoryGrid">
                <table id="gridDetailCategory"></table>
            </div>
        </div>
    </div>
    <div class=" row">
        <input type="button" value="Edit" id="btnEdit" style="margin-left: 1em;" class="btn btn-primary" />
        <input type="button" value="Reset" id="btnReset" style="margin-left: 1em;" class="btn btn-default" />
    </div>
</div>


@section scripts {
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/pages/Terminal/PH-SearchTerminal.js"></script>
    <script src="~/Scripts/pages/Category/PH-TerminalCategory.js"></script>
    <script>
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".Terminal").addClass("active open");

        });

    </script>

}

    <style type="text/css">

        .assign-category .search-group {
            position: relative;
            float: right;
            width: 24em;
        }

        .assign-category .ui-jqgrid-bdiv {
            overflow-y: auto !important;
            overflow-x: hidden !important;
            max-height: 400px !important;
        }

        .assign-category #btnSearch {
            position: absolute;
            padding: 9.4px;
            right: 0px;
            color: white;
            background-color: #428bca;
            cursor: pointer;
        }

        .assign-category .row {
            padding-bottom: 20px;
        }

        .assign-category .select-order {
            width: 5em;
            height: 2em;
            border: 0.2em solid #e8e5e3;
            border-radius: 0.50em !important;
        }

        .assign-category #gview_gridAssignCategory .ui-jqgrid-hdiv {
            border: none !important;
        }

        .assign-category #gbox_gridAssignCategory {
            width: 100% !important;
            display: inline-block;
        }

            .assign-category #gbox_gridAssignCategory .ui-widget-header,
            .assign-category #gbox_gridAssignCategory .ui-pg-table {
                background: white;
            }

            .assign-category #gbox_gridAssignCategory,
            .assign-category #gbox_gridAssignCategory .ui-widget-content,
            .assign-category #gbox_gridAssignCategory .ui-jqgrid-caption,
            .assign-category #gbox_gridAssignCategory .ui-widget-content > td {
                border: none !important;
            }

        .assign-category #gview_gridAssignCategory .ui-th-column {
            border: none !important
        }

        .assign-category #gridAssignCategory tr.jqgrow td {
            height: 40px;
        }

        .assign-category #rs_mgridAssignCategory {
            display: none !important;
        }

        .cell-wrapper {
            word-break: break-all !important;
            display: table-cell;
            padding-right: 15px;
            white-space: normal !important;
        }

        .assign-category #gview_gridAssignCategory .ui-jqgrid-resize {
            display: none !important;
        }

        .assign-category #gview_gridAssignCategory .ui-jqgrid-labels {
            height: 40px;
        }
    </style>