﻿@model List<Phoenix_TransactionHostUI.View_SettlementLog>
@{
    ViewBag.Title = "Search";
}
<h3 class="page-title">
    Settlement Logs

</h3>


@Html.ValidationMessage("error")

@if (Model != null && Model.Count > 0)
{
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Settlement log for Terminal - <b>@Model.FirstOrDefault().TerminalID</b> | <a href="/terminal/search" style="color: lightcyan">Change Terminal</a>
            </div>
            <div class="actions">
                @Html.ActionLink("Close", "SearchTID", new { terminalId = @Model.FirstOrDefault().TerminalID }, new { @class = "btn btn-default btn-sm" })
            </div>

        </div>

        <div class="portlet-body">
            @using (Html.BeginForm())
            {
                <p style="text-align: right">
                    Find by Batch: @Html.TextBox("Search")
                    <input type="submit" value="Search" />
                </p>
            }

            <div id="message"></div>

            <ul class="nav nav-tabs nav-justified" role="tablist" id="settlementLogs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#panel1" id="ungrouped" role="tab"><i class="fa fa-list"></i> List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panel2" id="grouped" role="tab"><i class="fa fa-group"></i> Group</a>
                </li>
            </ul>

            <div class="tab-content">
                <!--Panel 1-->
                <div class="tab-pane fade in active" id="panel1" role="tabpanel">
                    <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 550px;">
                        <table class="table table-hover" style="width: auto; white-space:nowrap">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Type</th>
                                    <th>Server Date</th>
                                    <th>Terminal Date</th>
                                    <th>Serial Number</th>
                                    <th>Batch</th>
                                    <th>Resp Code</th>
                                    <th>Battery</th>
                                    <th>Signal</th>
                                    <th>VAA</th>
                                    <th>Net Amt</th>
                                    <th>Sales#</th>
                                    <th>Sales Amt</th>
                                    <th>Refund#</th>
                                    <th>Refund Amt</th>
                                    <th>Void#</th>
                                    <th>Void Amt</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var odd = true; }
                                @foreach (var m in Model)
                                {

                                    if (odd == true)
                                    {
                                        <tr role="row" class="even">
                                            @if (m.Type == "Login")
                                            {
                                                <td><button class="Reconcile" data-tid="@m.TerminalID" data-batch="@m.Batchnumber" data-merchant="@m.MerchantID">Reconcile</button></td>
                                            }
                                            else
                                            {
                                                <td>&nbsp;</td>
                                            }
                                            <td> @m.Type </td>
                                            <td> @m.UpdateDateTime </td>
                                            <td> @m.LogDateTime </td>
                                            <td> @m.TerminalSerialNo </td>
                                            <td> @m.Batchnumber </td>
                                            <td> @m.Response</td>
                                            <td> @m.BatteryStatus </td>
                                            <td> @m.SignalStrength </td>
                                            <td> @m.VAAVer </td>
                                            <td> @m.SettlementNetAmount </td>
                                            <td> @m.DebitNumber </td>
                                            <td> @m.DebitAmount </td>
                                            <td> @m.CreditNumber </td>
                                            <td> @m.CreditAmount </td>
                                            <td> @m.DebitReversalNumber </td>
                                            <td> @m.DebitReversalAmount </td>

                                        </tr>
                                    }
                                    else
                                    {
                                        <tr role="row" class="odd">
                                            @if (m.Type == "Login")
                                            {
                                                <td><button class="Reconcile" data-tid="@m.TerminalID" data-batch="@m.Batchnumber" data-merchant="@m.MerchantID">Reconcile</button></td>
                                            }
                                            else
                                            {
                                                <td>&nbsp;</td>
                                            }
                                            <td class=""> @m.Type </td>
                                            <td class="">@m.UpdateDateTime </td>
                                            <td class=""> @m.LogDateTime </td>
                                            <td> @m.TerminalSerialNo </td>
                                            <td> @m.Batchnumber </td>
                                            <td> @m.Response</td>
                                            <td> @m.BatteryStatus </td>
                                            <td> @m.SignalStrength </td>
                                            <td> @m.VAAVer </td>
                                            <td> @m.SettlementNetAmount </td>
                                            <td> @m.DebitNumber </td>
                                            <td> @m.DebitAmount </td>
                                            <td> @m.CreditNumber </td>
                                            <td> @m.CreditAmount </td>
                                            <td> @m.DebitReversalNumber </td>
                                            <td> @m.DebitReversalAmount </td>

                                        </tr>
                                    }
                                    odd = !odd;
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <!--/.Panel 1-->
                <!--Panel 2-->
                <div class="tab-pane fade" id="panel2" role="tabpanel">
                    <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 550px;">
                        <table class="table table-hover" style="width: auto; white-space:nowrap">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Type</th>
                                    <th>Server Date</th>
                                    <th>Terminal Date</th>
                                    <th>Serial Number</th>
                                    <th>Batch</th>
                                    <th>Resp Code</th>
                                    <th>Battery</th>
                                    <th>Signal</th>
                                    <th>VAA</th>
                                    <th>Net Amt</th>
                                    <th>Sales#</th>
                                    <th>Sales Amt</th>
                                    <th>Refund#</th>
                                    <th>Refund Amt</th>
                                    <th>Void#</th>
                                    <th>Void Amt</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var group in Model.GroupBy(item => item.Batchnumber))
                                {
                                    <tr role="row" class="even">
                                        <td class="" colspan="15">
                                            <b>Batch: @Html.Encode(group.Key)</b>
                                        </td>
                                    </tr>
                                    foreach (var m in group.OrderBy(order => order.UpdateDateTime))
                                    {
                                        <tr role="row">
                                            @if (m.Type == "Login")
                                            {
                                                <td><button class="Reconcile" data-tid="@m.TerminalID" data-batch="@m.Batchnumber" data-merchant="@m.MerchantID">Reconcile</button></td>
                                            }
                                            else
                                            {
                                                <td>&nbsp;</td>
                                            }
                                            <td>&nbsp;&nbsp;@m.Type </td>
                                            <td> @m.UpdateDateTime </td>
                                            <td> @m.LogDateTime </td>
                                            <td> @m.TerminalSerialNo </td>
                                            <td> @m.Batchnumber </td>
                                            <td> @m.Response</td>
                                            <td> @m.BatteryStatus </td>
                                            <td> @m.SignalStrength </td>
                                            <td> @m.VAAVer </td>
                                            <td> @m.SettlementNetAmount </td>
                                            <td> @m.DebitNumber </td>
                                            <td> @m.DebitAmount </td>
                                            <td> @m.CreditNumber </td>
                                            <td> @m.CreditAmount </td>
                                            <td> @m.DebitReversalNumber </td>
                                            <td> @m.DebitReversalAmount </td>
                                        </tr>
                                    }

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--/.Panel 2-->
            </div>
        </div>
    </div>
}

@section scripts {
    <script>
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".Terminal").addClass("active open");

            $(".table tbody tr td button.Reconcile").click(function (elem) {
                var tid = $(elem.currentTarget).data("tid");
                var batch = $(elem.currentTarget).data("batch");
                var merchantId = $(elem.currentTarget).data("merchant");
                $.ajax({
                    type: "POST",
                    url: "SaveBatchRecon",
                    dataType: "json",
                    data: JSON.stringify({ tid: tid, batch: batch, merchantId: merchantId }),
                    contentType: "application/json",
                    beforesend: function () {
                        $('#message').html('connecting...');
                    },
                    success: function (data) {
                        $('#message').html(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown, data) {
                        var msg = '';
                        if (jqXHR.status === 0) {
                            msg = 'Not connect.\n Verify Network.';
                        } else if (jqXHR.status == 404) {
                            msg = 'Requested page not found. [404]';
                        } else if (jqXHR.status == 500) {
                            msg = 'Internal Server Error [500].';
                        } else if (exception === 'parsererror') {
                            msg = 'Requested JSON parse failed.';
                        } else if (exception === 'timeout') {
                            msg = 'Time out error.';
                        } else if (exception === 'abort') {
                            msg = 'Ajax request aborted.';
                        } else {
                            msg = 'Uncaught Error.\n' + jqXHR.responseText;
                        }
                        $('#messageQBR').html("An error occured while connecting to server - " + jqXHR.message + "\nDetails: " + msg);
                    }
                });

            });
        });

        $(function () {
            $('#settlementLogs li:first-child a').tab('show')
        });
    </script>
}


