﻿@model Phoenix_BusLog.TransactionHost.Model.SwapTerminalModel

@{
    ViewBag.Title = "Edit Config ";
    ViewBag.Key = Model.TerminalKey;
    ViewBag.Action = "Config";
    // Layout = "~/Views/Shared/_EditLayout.cshtml";
}
@*<link href="~/Content/Form.css" rel="stylesheet" />*@


@Html.ValidationSummary(true)
@using (Ajax.BeginForm("Swap", "Terminal", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog", OnSuccess = "Successful" }))
{

    <h3 class="page-title">
        Terminal
        <small>update terminal details in transaction host</small>
    </h3>


    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-adjust"></i>
                Terminal Details
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <div class="form-body">


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">

                            @Html.HiddenFor(model => model.TerminalKey)

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.TerminalID, new { @class = "control-label col-md-3" })
                                        <div class="col-md-9" style="font-weight:700">
                                            @Html.DisplayFor(model => model.TerminalID)
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SerialNumber, new { @class = "control-label col-md-3" })
                                        <div class="col-md-9" style="font-weight:700">
                                            @Html.DisplayFor(model => model.SerialNumber)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FullVersionNo, new { @class = "control-label col-md-3" })
                                        <div class="col-md-9" style="font-weight:700">
                                            @Html.DisplayFor(model => model.FullVersionNo)
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>

                            <hr />

                            <div class="row">

                                <div class="col-md-3">
                                    <div class="control-label">
                                        @Html.LabelFor(model => model.SwapSerialNumber, new { @class = "labeltrans" })
                                    </div>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(model => model.SwapSerialNumber, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SwapSerialNumber)
                                    </div>
                                </div>
                            </div>


                            <br />
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="control-label">
                                        @Html.LabelFor(model => model.CreatedDate, new { @class = "labeltrans" })
                                    </div>
                                    <div class="col-md-7" style="font-weight:700">
                                        @Html.DisplayFor(model => model.CreatedDate, new { @class = "form-control" })
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-3">
                                    <div class="control-label">
                                        @Html.LabelFor(model => model.CreatedByUser, new { @class = "labeltrans" })
                                    </div>
                                    <div class="col-md-7" style="font-weight:700">
                                        @Html.DisplayFor(model => model.CreatedByUser, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-md-3">

                                </div>

                                <div class="col-md-3">

                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="control-label">
                                        @Html.LabelFor(model => model.UpdatedDate, new { @class = "labeltrans" })
                                    </div>
                                    <div class="col-md-7" style="font-weight:700">
                                        @Html.DisplayFor(model => model.UpdatedDate, new { @class = "form-control" })
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-3">
                                    <div class="control-label">
                                        @Html.LabelFor(model => model.UpdatedByUser, new { @class = "labeltrans" })
                                    </div>
                                    <div class="col-md-7" style="font-weight:700">
                                        @Html.DisplayFor(model => model.UpdatedByUser, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-3">

                                </div>

                                <div class="col-md-3">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions right">
                    <button type="submit" name="Command" value="Submit" style="float:right;margin-right:10px" class="btn blue-madison">Submit <i class="m-icon-swapright m-icon-white"></i></button>
                    @*<button type="button" onclick="history.go(-1);return true;" style="float:right;margin-right:10px" class=" btn default">Close</button>*@
                    @Html.ActionLink("Close", "SearchTID", new { terminalId = @Model.TerminalID }, new { @class = " btn default", @style = "float:right;margin-right:10px" })


                </div>
            </div>
        </div>       
    </div>
}



@section scripts {
    <script type="text/javascript">    

        $(document).ready(function () {
            $("#StateKey").change(
            function () {
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("TerminalNetworkSelect", "Terminal"))",
                    data: { "Key": this.value, "Default": "@(Model.TerminalNetworkKey??0)" },
                    success: function (data) {
                        $("#TerminalNetworkSelect").html(data);
                        $("#TerminalNetworkKey").trigger('change');
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve Terminal Network.');
                    }
                });
            });
        });
        $(document).ready(function () {
            if ($("#DefaultServiceFeeCkId").is(':checked')) {
                $('#txtDefaultServiceFee').attr("readonly", true)
            }
            else {
                $('#txtDefaultServiceFee').attr("readonly", false)

            }
        });

        $(document).ready(function () {
            if ($("#IsManualEOSId").is(':checked')) {
                $('#txtEOSTimeDecimal').attr("readonly", true)
                //$("#txtEOSTimeDecimal").val("")
            }
            else {
                $('#txtEOSTimeDecimal').attr("readonly", false)

            }
        });

        $(document).ready(function () {
            $("#txtDefaultServiceFee").keyup(function () {

                var val1 = $("#txtDefaultServiceFee").val()

                if (val1.length = 1) {
                    var val2 = val1 / 100
                    $("#txtDefaultServiceFee").val(val2)
                }
                if (val1.length > 4) {

                    val1 = val1 * 10
                    val1 = val1.toFixed(2)
                    $("#txtDefaultServiceFee").val(val1)
                }

            });
        });

        $(document).ready(function () {
            $("#ABNSettingId").keyup(function () {

                var val1 = $("#ABNSettingId").val()

                if (val1.length = 1) {
                    var val2 = val1 / 100
                    $("#ABNSettingId").val(val2)
                }
                if (val1.length > 4) {

                    val1 = val1 * 10
                    val1 = val1.toFixed(2)
                    $("#ABNSettingId").val(val1)
                }

            });
        });


        $(document).ready(function () {
            $("#MinimumChargeId").keyup(function () {

                var val1 = $("#MinimumChargeId").val()

                if (val1.length = 1) {
                    var val2 = val1 / 100
                    val2 = val2.toFixed(2)
                    $("#MinimumChargeId").val(val2)
                }
                if (val1.length > 4) {

                    val1 = val1 * 10
                    val1 = val1.toFixed(2)
                    $("#MinimumChargeId").val(val1)
                }

            });
        });

        $(document).ready(function () {
            $("#MaximumChargeId").keyup(function () {

                var val1 = $("#MaximumChargeId").val()
                if (val1.length = 1) {
                    var val2 = val1 / 100
                    val2 = val2.toFixed(2)
                    $("#MaximumChargeId").val(val2)
                }
                if (val1.length > 4) {

                    val1 = val1 * 10
                    val1 = val1.toFixed(2)
                    $("#MaximumChargeId").val(val1)
                }

            });
        });

        $(document).ready(function () {
            $("#txtEOSTimeDecimal").keyup(function () {


                var val1 = $("#txtEOSTimeDecimal").val()

                if (val1.length == 1) {
                    var val2 = "00:0" + val1
                    $("#txtEOSTimeDecimal").val(val2)
                }
                if (val1.length == 2) {
                    var val2 = "00:" + val1
                    $("#txtEOSTimeDecimal").val(val2)
                }

                if (val1.length >= 6) {
                    var ar = ""
                    $.each(val1, function (i, item) {

                        if (i == 1) {
                            ar = ar + item
                        }
                        if (i == 3) {
                            ar = ar + item
                        }
                        if (i == 4) {
                            ar = ar + ":" + item
                        }
                        if (i == 5) {
                            ar = ar + item
                        }

                    });

                    //var re = ar[0].toString() + ar[2].toString() + ":" + ar[3].toString() + ar[4].toString()
                    $("#txtEOSTimeDecimal").val(ar)
                }
            });
        });

        $(document).ready(function () {
            $("#DefaultServiceFeeCkId").change(function () {
                if ($(this).is(':checked')) {
                    $('#txtDefaultServiceFee').prop("readonly", true)
                    $('#txtDefaultServiceFee').val('0.00')
                }
                else {

                    $('#txtDefaultServiceFee').prop("readonly", false)
                }
            });
        });

        $(document).ready(function () {
            $("#UserIdConfigId").change(function () {
                var val1 = $("#UserIdConfigId").val()
                if (val1 == 'V') {
                    $('#UserIDId').attr("readonly", true)
                }
                if (val1 == 'R') {
                    $('#UserIDId').attr("readonly", false)
                }
                if (val1 == 'F') {
                    $('#UserIDId').attr("readonly", false)
                }
            });
        });

        $(document).ready(function () {
            $("#BusinessIdConfigId").change(function () {
                var val1 = $("#BusinessIdConfigId").val()
                if (val1 == 'V') {
                    $('#BusinessIDId').attr("readonly", true)
                }
                if (val1 == 'R') {
                    $('#BusinessIDId').attr("readonly", false)
                }
                if (val1 == 'F') {
                    $('#BusinessIDId').attr("readonly", false)
                }
            });
        });

        $(document).ready(function () {
            $("#ABNConfigId").change(function () {
                var val1 = $("#ABNConfigId").val()
                if (val1 == 'V') {
                    $('#ABNId').attr("readonly", true)
                }
                if (val1 == 'R') {
                    $('#ABNId').attr("readonly", false)
                }
                if (val1 == 'F') {
                    $('#ABNId').attr("readonly", false)
                }
            });
        });


        $(document).ready(function () {
            $("#IsManualEOSId").change(function () {
                if ($(this).is(':checked')) {
                    $('#txtEOSTimeDecimal').prop("readonly", true)
                    $('#txtEOSTimeDecimal').val("0")
                }
                else {

                    $('#txtEOSTimeDecimal').prop("readonly", false)
                }
            });
        });
    </script>
}
