﻿@model  Phoenix_TransactionHostUI.TerminalNetwork

@{
    Layout = null;
}

@Html.DropDownListFor(model => model.TerminalNetworkKey, (IEnumerable<SelectListItem>)ViewBag.terminalNetworks, new { @class = "form-control" })

<script type="text/javascript">

    $(document).ready(function () {

        $("#TerminalNetworkKey").change(
        function () {

            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.Action("NetworkSelect", "Terminal"))",
                data: { "Key": this.value, "Default": $("#TerminalNetworkKey").val() },
                success: function (data) {
                    $("#NetworkSelect").html(data);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve Terminal Network.');

                }
                        });
        });

    });

</script>