﻿@model PhoenixWeb.Models.ViewModel.TerminalTMSConnectVM



@{
    ViewBag.Title = "TMS Connect";
}

<h2>TMS Connect</h2>



@using (Html.BeginForm("TMSConnect", "Terminal"))
{
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-adjust"></i>
                Connect to TMS <small>settings</small>               
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="row">
                    <div class="col-md-12">
                        Paste or enter terminal Id in given box below. Click Submit. 
                        <br /><br />
                        Terminal Id(s):<br />
                        @Html.TextAreaFor(model => model.TerminalId, new { @id = "terminalId", @class = "form-control", required = "required" })

                        <br /><br />
                        Connect to TMS: @Html.CheckBoxFor(model => model.TMSConnect, new { @id = "terminalId", @class = "form-control" }) 
                        <br /><br />
                    </div>
                </div>
                @if  (Model != null && (Model.InvalidOrNotUpdated.Count() > 0 || Model.Updated.Count() > 0)) {
                <div class="row">
                    <div class="col-md-12">
                        <strong>Terminals with invalid Id or already set to TMS connect</strong><br />
                        @string.Join(", ", Model.InvalidOrNotUpdated)
                        <br /><br /><br />
                        <strong>Terminals which were set to TMS connect</strong><br />
                        @string.Join(", ", Model.Updated)
                    </div>
                </div>
                }
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button value="Reset" id="btnReset" class="btn">Reset</button>
                        <button type="submit" name="Command" value="Update" class="btn blue-madison">Submit <i class="m-icon-swapright m-icon-white"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts {
    <script src="~/assets/global/scripts/jQuery-tagEditor-master/jquery.caret.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/jQuery-tagEditor-master/jquery.tag-editor.min.js" type="text/javascript"></script>
    <link href="~/assets/global/scripts/jQuery-tagEditor-master/jquery.tag-editor.css" rel="stylesheet" type="text/css" />
    <script>
        $(document).ready(function () {

            $(".active").removeClass("active open");
            $(".Terminal").addClass("active open");

            $("#btnReset").click(function () {
                $(".tag-editor").empty();
                $(".tag-editor").append('<li style="width:1px">&nbsp;</li>');
                $(".tag-editor").append('<li class="placeholder"><div>Enter or paste temrinal id...</div></li>');
                
            });

            $('#terminalId').tagEditor({
                delimiter: ', ', /* space and comma */
                placeholder: 'Enter or paste temrinal id...',
                onChange: tag_classes,
                beforeTagSave: tag_classes,
                maxtags: 50,
            });

            function tag_classes(field, editor, tags) {
                $('li', editor).each(function () {
                    var li = $(this);
                    if (contains(li.find('.tag-editor-tag').html(), '@string.Join(", ", Model.InvalidOrNotUpdated)')) li.addClass('red-tag');
                    else if (contains(li.find('.tag-editor-tag').html(), '@string.Join(", ", Model.Updated)')) li.addClass('green-tag')
                    else li.removeClass('red-tag green-tag');
                });
            }
        });

        function contains(terminal, array)
        {            
            return $.inArray(terminal, array);
        }

        
    </script>
}