﻿@using System.Web.Mvc.Html
@using PhoenixWeb.Models.ViewModel;
@using PhoenixObjects.Enums;

@model TerminalTransactionLogPagingViewModel
@{
    ViewBag.Title = "Filter";

    var isDisplayUIControlsGlidebox = "false";

    if (ViewContext.Controller.IsDisplayUIControl(SystemConfigurationKeyEnum.DisplayGlideboxUI.ToString(), BusinessDomainEnum.Glidebox))
    {
        isDisplayUIControlsGlidebox = "true";
    }
}
<h3 class="page-title">
    Transaction Logs - @ViewBag.terminalID

</h3>

<div>
    <label style="color:red" id="error" />
</div>
@Html.ValidationMessage("error")

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
            Filter
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="horizontal-form" id="frmSearchLog">
            <div class="form-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.StartDate, new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control datepicker removeNotAllowCursor", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.EndDate, new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control datepicker removeNotAllowCursor", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Card Type", new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.CardType, (IEnumerable<SelectListItem>)ViewBag.CardType, " ", new { id = "CardType", @class = "form-control" })
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.CardType)
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Batch Number", new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.BatchNumber, new { @class = "form-control", id = "BatchNumber" })
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.BatchNumber)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Amount From", new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.MinAmount, new { @class = "form-control", id = "MinAmount", Type = "number", min = "0" })
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.MinAmount)
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Amount To", new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.MaxAmount, new { @class = "form-control", id = "MaxAmount", Type = "number", min = "0" })
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.MaxAmount)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Approve Status", new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                
                                @Html.CheckBoxFor(model => model.ApproveStatusBool, new { id = "Approved" })
                                <label for="Approved">Approved Transactions</label><br />
                                @Html.CheckBoxFor(model => model.DeclineStatusBool, new { id = "Declined" })
                                <label for="Declined">Declined Transactions</label><br />
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.ApproveStatus)
                                </span>
                            </div>
                        </div>
                    </div>
                    @if (ViewContext.Controller.IsDisplayUIControl(SystemConfigurationKeyEnum.DisplayGlideboxUI.ToString(), BusinessDomainEnum.Glidebox))
                    {
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Glide Box", new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    @Html.CheckBoxFor(model => model.OnlyDisplayGlideboxTransaction, new { id = "GlideboxTransaction" })
                                    <label for="Approved">Show Glide Box transactions only</label><br />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="form-actions right">
                <button type="button" name="btnSearch" id="btnSearch" value="Filter" class="btn blue-madison">Filter <i class="m-icon-swapright m-icon-white"></i></button>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>

<div class="portlet box blue" id="wrapper">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Transaction - @ViewBag.terminalID
        </div>
        <div class="actions">
            @Html.ActionLink("Close", "SearchTID", new { terminalId = ViewBag.terminalID }, new { @class = "btn btn-default btn-sm" })
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-12">
            <div class="form-group" id="transactionLogGroup">
                <table id="transactionLogGrid"></table>
                <div id="transactionLogPager"></div>
            </div>
        </div>
    </div>
</div>

<input id="display-ui-controls-glidebox" value="@isDisplayUIControlsGlidebox" hidden>

@section scripts {
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/pages/Terminal/PH-TransactionLog.js"></script>
    <style type="text/css">
        .removeNotAllowCursor {
            cursor: auto !important
        }

        #ui-datepicker-div .ui-datepicker-month,
        #ui-datepicker-div .ui-datepicker-month option {
            color: black !important
        }

        #ui-datepicker-div .ui-datepicker-year,
        #ui-datepicker-div .ui-datepicker-year option {
            color: black !important
        }
    </style>
    <script>
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".Terminal").addClass("active open");
        });
    </script>
}


