﻿@model Pheonix_BusLog.BusObjects.MemberModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}
<script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<link href="~/Content/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
<script type="text/javascript">

    $(document).ready(function () {
        $.getJSON("/Administrator/AjaxAdmin/GetStates", null, function (data) {
            $.each(data, function (i, item) {
                $("<option>").val(this.CountryId)
                             .text(this.CountryName)
                             .appendTo("#State");
            });
        });
    });

    $(document).ready(function () {
        $("#uncllopseall").click(function () {
            $("#uncllopseall").css("text-decoration", "underline");
            $("#PersonalDetails").show();
            $("#AccountDetails").show();
            $("#OperatorDetails").show();
            $("#BusinessDetails").show();
        });
    });
    $(document).ready(function () {
        $("#uncllopseall").mouseover(function () {
            $("#uncllopseall").css("text-decoration", "underline");
        });
    });
    $(document).ready(function () {
        $("#uncllopseall").mouseleave(function () {
            $("#uncllopseall").css("text-decoration", "none");
        });
    });

    function enter(elem)
    {
        elem.style.color = 'lightblue';
    }
    function leave(elem) {
        elem.style.color = 'white';
    }
  
   $(function () {
       $("#BusinessDetails").hide();
       $("#PersonalDetailsBar").css("backgroundColor", "blue")
   });
   $(function () {
       $("#AccountDetails").hide();

   });
   $(function () {
       $("#OperatorDetails").hide();
      
   });
   $(document).ready(function () {
       $("#PersonalDetailsBar").click(function () {
           $("#PersonalDetails").toggle(300);
           $("#BusinessDetails").hide();
           $("#AccountDetails").hide();
           $("#OperatorDetails").hide();
           $("#PersonalDetailsBar").css("backgroundColor", "blue")
           $("#BusinessDetailsBar").css("backgroundColor", "black")
           $("#AccountDetailsBar").css("backgroundColor", "black")
           $("#OperatorDetailsBar").css("backgroundColor", "black")
           //$("#FirstName").focus();
       });
   });

   $(document).ready(function () {
       $("#BusinessDetailsBar").click(function () {
           $("#BusinessDetails").toggle(300);
           $("#PersonalDetails").hide();
           $("#AccountDetails").hide();
           $("#OperatorDetails").hide();
           $("#PersonalDetailsBar").css("backgroundColor", "black")
           $("#BusinessDetailsBar").css("backgroundColor", "blue")
           $("#AccountDetailsBar").css("backgroundColor", "black")
           $("#OperatorDetailsBar").css("backgroundColor", "black")
           //$("#TradingName").focus();
       });
   });
   $(document).ready(function () {
       $("#AccountDetailsBar").click(function () {
           $("#AccountDetails").toggle(300);
           $("#PersonalDetails").hide();
           $("#BusinessDetails").hide();
           $("#OperatorDetails").hide();
           $("#PersonalDetailsBar").css("backgroundColor", "black")
           $("#BusinessDetailsBar").css("backgroundColor", "black")
           $("#AccountDetailsBar").css("backgroundColor", "blue")
           $("#OperatorDetailsBar").css("backgroundColor", "black")
           //$("#AccountName").focus();
       });
   });

   $(document).ready(function () {
       $("#OperatorDetailsBar").click(function () {
           $("#OperatorDetails").toggle(300);
           $("#PersonalDetails").hide();
           $("#BusinessDetails").hide();
           $("#AccountDetails").hide();
           $("#PersonalDetailsBar").css("backgroundColor", "black")
           $("#BusinessDetailsBar").css("backgroundColor", "black")
           $("#AccountDetailsBar").css("backgroundColor", "black")
           $("#OperatorDetailsBar").css("backgroundColor", "blue")
           //$("#Bond").focus();
       });
   });

    
    </script>

<h2>Create Member</h2>
<br />

@using (Html.BeginForm("Create", "Member", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

      <p>
            <input type="submit" value="Add"  />
            <input type="reset" value="Reset"  />
         
            <span style="float:right; cursor:pointer" id="uncllopseall">Uncollapse all</span>
         </p>
    <div>
      
    </div>
<div id="PersonalDetailsBar" onmouseover="enter(this)" onmouseout="leave(this)" style="height:25px; background-color: black; font-size:medium; color:white"> Add Personal Details</div>
<div id="PersonalDetails">
    <table style="width:70%">
        <tr>
            <td>
                 <div class="editor-label">
                 <label>First Name</label>
        </div>
            </td>
             <td>
                 <div class="editor-field">
                <input type="text" name="FirstName" id="FirstName" />
        </div>
            </td>
             <td>
                  <div class="editor-label">
           <label>Last Name</label>
        </div>
            </td>
             <td>
             <div class="editor-field">
             <input type="text" name="LastName" id="LastName" />
        </div>
            </td>
             </tr>
         <tr>
             <td>
                   <div class="editor-label">
           <label>Address</label>
        </div>
      
            </td>
             <td>
                   <div class="editor-field">
                        <input type="text" name="Address" id="Address" />
        </div>
            </td>
       
            <td>
                 <div class="editor-label">
            <label>City</label>
        </div>
            </td>
             <td>
                  <div class="editor-field">
               <input type="text" name="City" id="City" />
        </div>
            </td>
              </tr>
         <tr>
             <td>
                  <div class="editor-label">
          <label>State</label>
        </div>
            </td>
             <td>
                    
        <div class="editor-field">
                <select style="width: 310px;height:30px" id="State" name="State">
                </select>

        </div>
            </td>
             <td>
                 
        <div class="editor-label">
          <label>Post Code</label>
        </div>
            </td>
             <td>
                 
        <div class="editor-field">
            <input type="text" name="PostCode" id="PostCode" />
            </td>
             <div
      </tr>
         <tr>
            <td>
                <div class="editor-label">
           <label>Telephone</label>
        </div>
            </td>
             <td>
                   <div class="editor-field">
                         <input type="text" name="Telephone" id="Telephone" />
        </div>
            </td>
             <td>
                 <div class="editor-label">
          <label>Fax</label>
        </div>
            </td>
             <td>
                     <div class="editor-field">
                <input type="text" name="Fax" id="Fax" />
        </div>
            </td>
              </tr>
         <tr>
             <td>
                  <div class="editor-label">
           <label>Mobile</label>
        </div>
            </td>
             <td>
                 <div class="editor-field">
                <input type="text" name="Mobile" id="Mobile" />
        </div>
            </td>
       
            <td>
                  <div class="editor-label">
           <label>Email</label>
        </div>
            </td>
             <td>
                 
        <div class="editor-field">
          <input type="text" name="Email" id="Email" />
        </div>
            </td>
              </tr>
         <tr>
              <td>
        
                <label for="file">Photo</label>
                 </td>
             <td>
                <input type="file" name="file" id="file"/>
                
            </td>
             <td>
                   <div class="editor-label">
           <label>Drivers License No.</label>
        </div>
            </td>
             <td>
                  <div class="editor-field">
                  <input type="text" name="DriverLicenseNumber" id="DriverLicenseNumber" />
        </div>
            </td>
              </tr>
         <tr>
             <td>
                  <div class="editor-label">
           <label>PhotoID Expiry</label>
        </div>
            </td>
             <td>
                  
        <div class="editor-field">
            <input type="text" name="PhotoIDExpiry" id="PhotoIDExpiry" />
        </div>
            </td>
        
            <td>
                  <div class="editor-label">
           <label>Active</label>
        </div>
            </td>
             <td>
                  <div class="editor-field">
                <input type="checkbox" name="Active" id="Active" />
        </div>
            </td>
              </tr>
         <tr>
             <td>
                   <div class="editor-label">
            <label>DOB</label>
        </div>
            </td>
             <td>
                  <div class="editor-field">
                <input type="text" name="DOB" id="DOB" />
        </div>

         </td>
              <td>
           <div class="editor-label">
           <label>Welcomed</label>
        </div>
            </td>
             <td>
                 
        <div class="editor-field">
         <input type="checkbox" name="Welcomed" id="Welcomed" />
        </div>
            </td>
              </tr>
        
    </table>
</div><br />
    @*
        <p>
            <input type="submit" value="Add"  />
        </p>*@
<div id="BusinessDetailsBar" onmouseover="enter(this)" onmouseout="leave(this)" style="height:25px; background-color: black; font-size:medium; color:white"> Add Business Details</div>
<div id="BusinessDetails">
    <table style="width:70%">
         <tr>
             <td>
                  <div class="editor-label">
           <label>Trading Name</label>
        </div>
            </td>
             <td>
                  <div class="editor-field">
                 <input type="text" name="TradingName" id="TradingName" />
        </div>
            </td>
             <td>
                 
        <div class="editor-label">
           <label>ABN</label>
        </div>
            </td>
             <td>
                 
        <div class="editor-field">
            <input type="text" name="ABN" id="ABN" />
        </div>
            </td>
         </tr>
         <tr>
            <td>
                  <div class="editor-label">
           <label>ACN</label>
        </div>
            </td>
             <td>
                    <div class="editor-field">
                 <input type="text" name="ACN" id="ACN" />
        </div>
            </td>
             <td>
                  <div class="editor-label">
           <label>Referee Rate</label>
        </div>
            </td>
             <td>
                 <div class="editor-field">
                <input type="text" name="RefereeRate" id="RefereeRate" />
        </div>
            </td>
              </tr>
         <tr>
             <td>
               <div class="editor-label">
          <label>Company</label>
        </div>
            </td>
             <td>
                    <div class="editor-field">
                 <input type="text" name="Company_key" id="Company_key" />
        </div>
            </td>
             <td>
                  <div class="editor-label">
            <label>Member</label>
        </div>
            </td>
             <td>
                   <div class="editor-field">
                   <input type="text" name="Member_key" id="Member_key" />
        </div>
            </td>
        </tr>
         <tr>
            <td>
                   <div class="editor-label">
            <label>Referee</label>
        </div>
            </td>
             <td>
                  <div class="editor-field">
               <input type="text" name="Referee_key" id="Referee_key" />
        </div>
            </td>
             <td >
                   <div class="editor-label">
          
                        <input type="checkbox" name="ReceiveMonthlyActivityReport" id="ReceiveMonthlyActivityReport" />
          </div>
            </td>
             <td >
                   <div class="editor-field">
              <label>Receive Monthly Report</label>
        </div>
            </td>
             
              </tr>
         <tr>
       <td>
                   
        <div class="editor-label">
             <label>Business Region</label>
        </div>
            </td>
             <td>
                   <div class="editor-field">
             <input type="text" name="BusinessRegion_key" id="BusinessRegion_key" />
        </div>
            </td>
              <td>
                      <div class="editor-label">
                           <input type="checkbox"  name="ReceivePaymentReport" id="ReceivePaymentReport" />
        </div>
            </td>
             <td>
                 
        <div class="editor-field">
                <label>Receive Payment Report</label>
        </div>
            </td>
              </tr>
         <tr>
             <td>
                   <div class="editor-label">
             <label>Member Group</label>
        </div>
            </td>
             <td>
                   <div class="editor-field">
             <input type="text" name="MemberGroup_key" id="MemberGroup_key" />
        </div>
            </td>
             <td>
                        <div class="editor-label">
                             <input type="checkbox" name="ReceiveWeeklyActivityReport" id="ReceiveWeeklyActivityReport" />
        </div>
            </td>
             <td>
                 
 
        <div class="editor-field">
         <label>Receive Weekly Report</label>
        </div>
            </td>
         </tr>
    </table>
</div><br />@*
        <p>
            <input type="submit" value="Add" />
        </p>*@
   <div id="AccountDetailsBar" onmouseover="enter(this)" onmouseout="leave(this)" style="height:25px; background-color: black; font-size:medium; color:white"> Add Account Details</div>
<div id="AccountDetails">
    <table style="width:70%">
         <tr>
             <td>
                  <div class="editor-label">
           <label>Account Name</label> 
        </div>
            </td>
             <td>
                  <div class="editor-field">
                  <input type="text" name="AccountName" id="AccountName" />
        </div>
            </td>
             <td>
                 
        <div class="editor-label">
           <label>Weight</label>
        </div>
            </td>
             <td>
                 
        <div class="editor-field">
                   <input type="text" name="Weight" id="Weight" />
        </div>
            </td>
         </tr>
         <tr>
             <td>
                  <div class="editor-label">
           <label>Account Number</label>
        </div>
            </td>
             <td>
                  <div class="editor-field">
                  <input type="text" name="AccountNumber" id="AccountNumber" />

        </div>
            </td>
             <td>
                 
        <div class="editor-label">
           <label>Bsb No.</label>
        </div>
            </td>
             <td>
                 
        <div class="editor-field">
                   <input type="text" name="BsbNumber" id="BsbNumber" />
        </div>
            </td>
         </tr>
        
    </table>
</div><br />@*
        <p>
            <input type="submit" value="Add" />
        </p>*@
      <div id="OperatorDetailsBar" onmouseover="enter(this)" onmouseout="leave(this)" style="height:25px; background-color: black; font-size:medium; color:white"> Add Operator Details</div>
<div id="OperatorDetails">
    <table style="width:70%">
         <tr>
             <td>
                  <div class="editor-label">
           <label>Bond</label>
        </div>
            </td>
             <td>
                  <div class="editor-field">
                  <input type="text" name="Bond" id="Bond" />
        </div>
            </td>
             <td>
                 
        <div class="editor-label">
           <label>Bond Paid Date</label>
        </div>
            </td>
             <td>
                 
        <div class="editor-field">
                   <input type="text" name="BondPaidDate" id="BondPaidDate" />
        </div>
            </td>
         </tr>
         <tr>
             <td>
                  <div class="editor-label">
           <label>Bond Receipt No.</label>
        </div>
            </td>
             <td>
                  <div class="editor-field">
                  <input type="text" name="BondReceiptNo" id="BondReceiptNo" />

        </div>
            </td>
             <td>
                 
        <div class="editor-label">
           <label>Taxi Reg No.</label>
        </div>
            </td>
             <td>
                 
        <div class="editor-field">
                   <input type="text" name="TaxiRegNo" id="TaxiRegNo" />

        </div>
            </td>
         </tr>
         <tr>
             <td>
                  <div class="editor-label">
           <label>Allow Cash</label>
        </div>
            </td>
             <td>
                  <div class="editor-field">
                  <input type="checkbox" name="AllowCash" id="AllowCash" />

        </div>
            </td>
            <td>
        <div class="editor-label">
           <label>Pay Run group</label>
        </div>
            </td>
             <td>
                 
        <div class="editor-field">
                   <input type="text" name="PayRunGroup" id="PayRunGroup" />

        </div>
            </td>
         </tr>
        <tr>
              <td>
                 
        <div class="editor-label">
           <label>Pay By EFT</label>
        </div>
            </td>
             <td>
                 
        <div class="editor-field">
                   <input type="checkbox" name="PayByEFT" id="PayByEFT" />

        </div>
            </td>
           
         </tr>
    </table>
</div>
        <p>
            <input type="submit" value="Add" />
              <input type="reset" value="Reset"  />
        </p>
}

@*<div>
    @Html.ActionLink("Back to List", "Index", "AdminHome")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
