﻿@model IEnumerable<Pheonix_BusLog.BusObjects.MemberModel>

@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<h2>Member List</h2>

<table>
    <tr>
         <th>
            @Html.DisplayNameFor(model => model.MemberId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TradingName)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
         <td>
            @Html.DisplayFor(modelItem => item.MemberId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.TradingName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.MemberId }) |
            @Html.ActionLink("Details", "Details", new {  id=item.MemberId }) |
        </td>
    </tr>
}

</table>
