﻿
@{
    ViewBag.Title = "Members";

    ViewBag.Action = "GetMembers";
    Layout = "~/Areas/Administrator/Views/Shared/_PopupLayout.cshtml";
}

@Html.ValidationSummary(true)
<div>

    hi mate!!

</div>


@section scripts {
<script type="text/javascript">

  

    $("#dialog").dialog({
        width: "400"
    });

 
</script>
}
