﻿@{
    ViewBag.Title = "Menu";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="text-align:center">Member Menu</h2><br />
<table cellpadding:"5" align="center" width="70%">
    <tr>
        <td>
            <a href="@Url.Action("Create", "Member")"><img src="~/Images/AddMemeber.png" width:"50px" height:"30px"/></a>
        </td>
         <td>
            <a href="@Url.Action("Search", "Member")"><img src="~/Images/SearchMember.png" width:"50px" height:"30px"/></a>
        </td>
         <td>
            <a href="@Url.Action("List", "Member")"><img src="~/Images/List.png" width:"50px" height:"30px"/></a>
        </td>
                <td>
            <a href="@Url.Action("List", "Member")"><img src="~/Images/List.png" width:"50px" height:"30px"/></a>
        </td>
    </tr>
</table>