﻿@model IEnumerable<Pheonix_BusLog.BusObjects.MemberModel>
@{
    ViewBag.Title = "Search";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<h2>Search Member</h2><br />

           

@using (Html.BeginForm())
{
     <div class="editor-field-medium">
                @Html.TextBox("MemberId",null, new { placeholder="Member Id"}) OR
                @Html.TextBox("Name", null, new { placeholder="Name"})
       
     <input class="submitbutton" type="submit" value="Search"/>
         </div>
    
}