﻿@model PhoenixObjects.TransactionHost.SearchUnReconciledBatches
<input type="hidden" id="urlHidden" value="@Url.Content("~/")">
<style type="text/css">
    #ui-datepicker-div .ui-datepicker-month,
    #ui-datepicker-div .ui-datepicker-month option {
        color: black !important
    }

    #ui-datepicker-div .ui-datepicker-year,
    #ui-datepicker-div .ui-datepicker-year option {
        color: black !important
    }

    .field-validation-error {
        color: #e80c4d;
    }
</style>

<h3 class="page-title">
    CLOSE BATCHES
</h3>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
            Search
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="horizontal-form" id="frmSearchOpenBatches">
            <div class="form-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.TerminalID, new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.TerminalID, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.SerialNumber, new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.SerialNumber, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions right">
                <button type="button" name="btnSearch" id="btnSearch" value="Search" class="btn blue-madison">SEARCH <i class="m-icon-swapright m-icon-white"></i></button>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>

<!--UnReconciled Batches-->
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            View UnReconciled Batches
        </div>
    </div>
    <div class="portlet-body form row">
        <div class="col-md-12">
            <div class="form-group" id="parentUnReconciledBatchesGrid">
                <table id="grdUnReconciledBatches"></table>
                <div id="grdUnReconciledBatchesPager"></div>
            </div>
        </div>
    </div>
</div>

<!--End UnReconciled Batches-->
<!--UnReconciled Transactions-->
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            View UnReconciled Transactions
        </div>
    </div>
    <div class="portlet-body form row">
        <div class="col-md-12">
            <div class="form-group" id="parentUnReconciledTransactionsGrid">
                <table id="grdUnReconciledTransactions"></table>
                <div id="grdUnReconciledTransactionsPager"></div>
            </div>
        </div>
    </div>
</div>
<!--End UnReconciled Transactions-->
<div id="popupConfirmOpenBatches" style="display:none; background:#fff;">
    <p>Are you sure to close this batch ?</p>
    <div class="pull-right">
        <button id="Confirm" class="btn blue-madison">OK</button>
        <button id="Cancel" onclick="$('#popupConfirmOpenBatches').dialog('close')" class="btn btn-default">Cancel</button>

    </div>

</div>

<div id="popupInformation" style="display:none; background:#fff;">
    <p id="Content"></p>
    <div class="pull-right">
        <button id="Cancel" onclick="$('#popupInformation').dialog('close')" class="btn btn-default">Close</button>
    </div>

</div>


<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
@section scripts {
    <script>
        var statusSuccess = '@Convert.ToInt16(PhoenixObjects.Enums.StatusResponseEnum.Success)';
        var statusFail = '@Convert.ToInt16(PhoenixObjects.Enums.StatusResponseEnum.Fail)';
    </script>
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>

    <script src="~/Scripts/pages/TransactionHost/PH-OpenBatches.js"></script>
    <script>
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".Transaction").addClass("active open");

        });
    </script>
}
