﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="page-title">
    Reset password history
</h3>

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
            Search
        </div>
    </div>
    <div class="portlet-body form">
        <div class="form-body">
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">From Date</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control datepicker" style="cursor: unset" id="fromDate" readonly="readonly" title="" />
                        </div>

                        <label class="col-sm-1 control-label">To Date</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control datepicker" style="cursor: unset" id="toDate" readonly="readonly" title="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Search Text</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="searchText" placeholder="User name, reset by">
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="button" name="Command" id="btnSearch" value="Search" class="btn blue-madison">SEARCH <i class="m-icon-swapright m-icon-white"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

<form id="resetPasswordHistory">
    <div class="form-body">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <div class="form-group" id="resetPasswordHistoryGrid">
                    <table id="gridHistory"></table>
                    <div id="gridHistoryPager"></div>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts
{
    <link href="~/assets/custom/custom-datepicker.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/pages/PH-UserResetPasswordHistory.js"></script>
}

