﻿@model PhoenixObjects.Cashing.WebCashingResult

@{
    ViewBag.Title = "SubList";
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        $("#accordion").accordion({
            collapsible: true,
            heightStyle: "content",
            active: false
        });
        //$("#accordion").accordion({ header: "h3", collapsible: true, active: false });
    });
</script>
<div id="divs" style="width:80%;height:20px">

</div>
@if (Model.ResultList.Count == 0)
{
    return;
}
<h5 style="color:red">@ViewBag.ListError</h5>
@if (Model.ResultList.Count > 0)
{

    <table>
        <tr>
            <td>
                <span style="font-weight:700">Trading Name:</span>
            </td>
            <td>
                @Model.TradingName
            </td>
            <td>
                <span style="font-weight:700">Name:</span>
            </td>
            <td>@Model.Name</td>
            <td rowspan="5">
                @if(Model.PhotoID != null)
                { 
                <img alt="" src="@Url.Action("GetPhoto", "Cashing", new {memberId = @Model.memberid })" height="160" width="300" class="photo" />
                }
                else
                {
                    <img id="CreateMember" src="~/Images/MemberNotFound.png" class="photo" width:"250px" height:"150px" />
                }
                     </td>

        </tr>
        <tr>
            <td>
                <span style="font-weight:700">Member ID:</span>
            </td>
            <td>
                @Model.memberid
            </td>
            <td>
                <span style="font-weight:700">Phone:</span>
            </td>
            <td>
                @Model.Phone
            </td>
        </tr>
        <tr>
            <td>
                <span style="font-weight:700">Grand Total:</span>
            </td>
            <td>
                $@Model.GrandTotal
            </td>
            <td>
                <span style="font-weight:700">Mobile:</span>
            </td>
            <td>
                @Model.Mobile
            </td>
        </tr>
        <tr>
            <td>
                <span style="font-weight:700">Total Points:</span>
            </td>
            <td>@Model.TotalPoints</td>
            <td>
                <span style="font-weight:700">ABN:</span>
            </td>
            <td>@Model.ABN</td>
        </tr>
        <tr>
            <td>
                <span style="font-weight:700">Total Points Used:</span>
            </td>
            <td>@Model.TotalPointsUsed</td>
            <td colspan="2">
                @if (Model.BatchStatus == "Cash Customer")
                { 
                <span style="color:green; font-weight:700">CASH CUSTOMER</span>
                }
                else if (Model.BatchStatus == "Bank Customer")
                {
                    <span style="color:red">BANK CUSTOMER</span>
                }
             
            </td>
        </tr>
        <tr>
            <td colspan="7">
                <span style="font-weight:700">Member notes:</span>
            </td>
        </tr>
        <tr>
            <td colspan="7">
               <textarea readonly="readonly" style="width:750px; height:110px">
                    @if (Model.MemberNotes != null)
                    {
                        foreach (var n in @Model.MemberNotes)
                        {
                       <text>DATE :@n.NoteDate</text>
                       <text>STATUS :WARNING</text>
                       <text>NOTE :@n.Note</text>
                       <text>*****************************************************************************</text>
                        }
                    }

                    </textarea>
                <textarea id="Notes" name="Notes" style="width:250px; height:110px">
                   
                </textarea>
          
                    </td>

                    </tr>
                    <tr>
                        <td colspan="7"></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            @Ajax.ActionLink("Pay Batch", "PayDone", new { BtnType = "Pay" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "AjaxButton" })


                            @*<button style="width:180px;height:35px;color:black;font-size:1.0em;padding:7px" onclick="myFunction()">Pay Batch</button>*@
                            @Html.ActionLink("View Statement", "Print", null, new { target = "_blank", Class = "AjaxButton" })
                            @*<span style="font-weight:700;font-size:larger">Grand Total: $@Model.GrandTotal</span>*@
                           
                         
                            @*<button style="width:180px;height:35px;color:black;font-size:1.0em;padding:7px" onclick="myFunctionBatch()">Add New Batch</button>*@
                            
                         
                        </td>
                        <td style="float:right">

                            @Html.ActionLink("Add New Batch", "NewBatch", null, new { Class = "AjaxButton" })
                            @Html.ActionLink("Cancel Batch", "Cancel", null, new { Class = "AjaxButton" })
                            @if (!User.IsInRole("ExternalCashing"))
                            {
                                @Ajax.ActionLink("Add Notes", "ViewMemberNotes", new { Id = @Model.memberid },
                            new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "AjaxButton" })
                            }
                        </td>
                    </tr>
        <tr>
           <td>

           </td>
        </tr>
        <tr>
            <td colspan="7">
                <span style="font-weight:700;font-size:larger">End of Shift Count: @Model.Count</span> |
                <span style="font-weight:700;font-size:larger">FaceValue Total: $@Model.FaceValueTotal</span> |
                <span style="font-weight:700;font-size:larger">Commission Total: $@Model.CommissionTotal</span> |
                <span style="font-weight:700;font-size:larger">Extra Total: $@Model.ExtraTotal</span> |
                <span style="font-weight:700;font-size:larger">Grand Total: $@Model.GrandTotal</span> 
               
            </td>
        </tr>
        <tr>
            <td colspan="7"></td>
        </tr>
                </table>

    <div style="background-color:lightsteelblue; width:85%" id="accordion">
        @foreach (var m in Model.ResultList)
        {
            if (@m.BatchStatus == "Paid")
            { 
            <h3 style="color:white">Batch No.:@m.BatchNumber | FaceValue:$@m.FaceValue | Comm:$@m.TOtalcommission | Extras:$@m.Extras | Total:$@m.TotalPayable |<span style="color: darkred; font-weight: 700; "> Status:@m.BatchStatus</span></h3>
            }
            else if (@m.BatchStatus == "Valid")
            {
             <h3 style="color: white">Batch No.:@m.BatchNumber | FaceValue:$@m.FaceValue | Comm:$@m.TOtalcommission | Extras:$@m.Extras | Total:$@m.TotalPayable |<span style="color: darkgreen; font-weight: 700"> Status:@m.BatchStatus</span></h3>
            }
            else
            {
             <h3 style="color: white; ">Batch No.:@m.BatchNumber | FaceValue:$@m.FaceValue | Comm:$@m.TOtalcommission | Extras:$@m.Extras | Total:$@m.TotalPayable | <span style="color:darkred; font-weight:700"> Status:@m.BatchStatus</span></h3>
 
            }
        <table>
            <thead >
                <tr>
                    <th style="font-size: .85em; border-bottom-color: lightgray; border-bottom: solid; border-right: solid; border-right-color: lightgray; ">
                        Batch No.
                    </th>

                    <th style="font-size: .85em; border-bottom-color: lightgray; border-bottom: solid; border-right: solid; border-right-color: lightgray; ">
                        Terminal ID.
                    </th>

                    <th style="font-size: .85em; border-bottom-color: lightgray; border-bottom: solid; border-right: solid; border-right-color: lightgray; ">
                        Docket Date
                    </th>
                    <th style="font-size: .85em; border-bottom-color: lightgray; border-bottom: solid; border-right: solid; border-right-color: lightgray; ">Face Value </th>
                    <th style="font-size: .85em; border-bottom-color: lightgray; border-bottom: solid; border-right: solid; border-right-color: lightgray; ">Commission</th>
                    <th style="font-size: .85em; border-bottom-color: lightgray; border-bottom: solid; border-right: solid; border-right-color: lightgray; ">Extras</th>
                          <th style="font-size: .85em; border-bottom-color: lightgray; border-bottom: solid; border-right: solid; border-right-color: lightgray; ">Total Payable </th>
                    <th style ="font-size: .85em; border-bottom-color: lightgray; border-bottom: solid; border-right: solid; border-right-color: lightgray; ">
                        Payment Status
                    </th>

                    <th style="font-size: 1.0em; border-bottom-color: lightgray; border-bottom: solid; border-right: solid; border-right-color: lightgray">
                        Batch Status
                    </th>
                </tr>
            </thead>
                @foreach (var mc in m.ResultListChild)
                {
                   <tr>
                       <td style="font-size: .85em; border-right: solid; border-right-color: lightgray; ">
                           @mc.BatchNumber

                       </td>
                       <td style="font-size: .85em; border-right: solid; border-right-color: lightgray; ">
                           @mc.TerminalId
                       </td>
                       <td style="font-size: .85em; border-right: solid; border-right-color: lightgray; ">
                           @mc.docketdate
                       </td>
                       <td style="font-size: .85em; border-right: solid; border-right-color: lightgray; ">
                           $@mc.FaceValue
                       </td>
                       <td style="font-size: .85em; border-right: solid; border-right-color: lightgray; ">
                           $@mc.TOtalcommission
                       </td>
                       <td style="font-size: .85em; border-right: solid; border-right-color: lightgray; ">
                           $@mc.Extras
                       </td>
                       <td style="font-size: .85em; border-right: solid; border-right-color: lightgray; ">
                           $@mc.TotalPayable
                       </td>

                       <td style="font-size: .85em; border-right: solid; border-right-color: lightgray; ">
                           @mc.PaymentStatus
                       </td>
                       <td style="font-size: .85em; border-right: solid; border-right-color: lightgray; ">
                           @mc.BatchStatus
                       </td>
            </tr>
                }

</table>
   

        }
    </div>
}
<br />
<script>

    function myFunction() {
        var txt;
        var r = confirm("Are you sure you want to Pay this batch!");
        if (r == true) {
            $.ajax({
                url: '@Url.Action("PayDone", "Cashing")',
                data: { BtnType: "Pay" },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var dataMsg = data;
                    if (dataMsg == "Batch Paid, Please Print Statement")
                    {
                        $.getJSON("/Cashing/PayNow", null, function (data) {
                            $.each(data, function (i, item) {
                              
                            });
                        });
                        //var r = confirm("Batch Paid, Do you want to print statement?");
                        //if (r == true) {
                           @*$.ajax({
                                url: '@Url.Action("PayNow", "Cashing")',
                                type: "GET",
                            });*@
                        //}
                        //else {
                        //    txt = "You pressed Cancel!";
                        //}
                    }
                  
                }
            });
        } else {
            txt = "You pressed Cancel!";
        }
      
    }

    function myFunctionBatch() {
        var txt;
        var r = confirm("Enter New Batch!");
        if (r == true) {
            $.ajax({
                url: '@Url.Action("NewBatch", "Cashing")',
                type: "GET",
                dataType: "json",
                //success: function (data) {
                //    alert(data);
                //}
            });
        } else {
            txt = "You pressed Cancel!";
        }

    }
</script>

