﻿@model PhoenixObjects.Member.MemberBalanceModel

@{
    ViewBag.Title = "SubList";
    Layout = null;
}
  
    <div id="divs" style="width:80%;height:20px">

    </div>
    @if (Model.FirstName == null)
{
    <em>No record found or docket invalid for scanning</em>
    return;
}
    <h5 style="color:red">@ViewBag.Error</h5>
        @if (Model.FirstName != null)
{
    <table>
            <tr>
                <td>
                    <span style="font-weight:700">Trading Name:</span>
                </td>
                <td>
        @Model.TradingName
                </td>


                <td rowspan="5">
        @if(Model.photo != null)
                {
                <img alt="" src="@Url.Action("GetPhoto", "Cashing", new {memberId = @Model.MemberID })" height="200" width="350" class="photo" />
                }
                else
                {
                    <img id="CreateMember" src="~/Images/MemberNotFound.png" class="photo" width:"250px" height:"150px" />
                }
                         </td>

            </tr>
                    <tr>
                <td>
                    <span style="font-weight:700">Member ID:</span>
                </td>
                <td>
        @Model.MemberID
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight:700">Name:</span>
                </td>
                <td>@Model.FirstName @Model.LastName</td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight:700">Balance Amount:</span>
                </td>
                <td>
                    <span style="font-weight:700">  $@Model.Balance</span>
    </td>
            </tr>

         </table>
}
        @using(Html.BeginForm("PayWithdrawal", "Cashing", FormMethod.Post))
{
@Html.HiddenFor(m => m.MemberID)
<table>
        <tr>
            <td>
                <span style="font-weight:700">Withdraw Amount:</span>
            </td>
            <td>
                <input type="number" id="AmountID" name="Amount" />
            </td>
        </tr>
        <tr>
            <td>

                <button type="submit" style="width:180px;height:35px;color:black;font-size:1.0em;padding:7px">Pay Amount</button>
            </td>
        </tr>
    </table>
}



