﻿@model PhoenixWeb.Models.ViewModel.MemberNoteVM

@{
    ViewBag.Title = "Member Notes";
    ViewBag.Action = "CreateMemberNotes";
    Layout = "~/Views/Shared/_MemberNotesPopuLayout.cshtml";
}

<h3>Member Notes</h3>
<h4 style="color:red">@ViewBag.Error</h4>
<table>
    <tr>
        <td>
            <b> @Html.DisplayNameFor(model => model.MemberId) </b>
        </td>
        <td>
            @Html.DisplayFor(model => model.MemberId)
        </td>
        <td>
            <b> @Html.DisplayNameFor(model => model.TradingName) </b>
        </td>
        <td>
            @Html.DisplayFor(model => model.TradingName)
        </td>
    </tr>
    <tr>
        <td>
            <b> @Html.DisplayNameFor(model => model.FirstName) </b>
        </td>
        <td>
            @Html.DisplayFor(model => model.FirstName)
        </td>
        <td>
            <b> @Html.DisplayNameFor(model => model.LastName) </b>
        </td>
        <td>
            @Html.DisplayFor(model => model.LastName)
        </td>
    </tr>
</table>
<hr />
<table>
    <tr>
        <td>
            <div class="editor-label">
                <label>Warning</label>
            </div>
        </td>

        <td>
            <div class="editor-field">

                <input type="checkbox" id="IsWarning" name="IsWarning">

                @*<select style="width: 310px;height:30px" id="IsWarning" name="IsWarning">
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>*@
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="editor-label">
                <label>Note</label>
            </div>
        </td>
        <td>
            <div class="editor-field">
                @*<input type="te" name="Note" required id="Note" />*@
                <textarea name="Note" required id="Note"></textarea>
            </div>
        </td>
      
    </tr>
  

</table>
@if (Model.MemberNotes != null)
{
    <hr />
    <table>
        @if (Model.MemberNotes != null && Model.MemberNotes.Count() > 0)
        {
            <thead style="font-weight:300">
                Current Member Notes List
            </thead>
            <tr>
                @*<td>
                    <label>MemberNote key</label>
                </td>*@
                <td>
                    <label>Note</label>
                </td>
                <td>
                    <label>Note Date</label>
                </td>

                <td>
                    <label>Warning</label>
                </td>
            </tr>
            foreach (var item in Model.MemberNotes)
            {
                <tr>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.MemberNote_key)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoteDate)
                    </td>

                    <td>
                        @if(item.Warning == true)
                        {
                            @Html.Label("True")
                        }
                        else
                        {
                             @Html.Label("False")
                        }
                        @*@Html.DisplayFor(modelItem => item.Warning)*@
                    </td>
                </tr>
            }
        }
    </table>
}
<br />
@section scripts {
    <script type="text/javascript">

    $("#dialog").dialog({
        width: "980"
    });
  
    </script>
}