﻿@{
    ViewBag.Title = "Menu";
}

<table cellpadding:"5" align="center" width="70">
    <tr>
        <td>
            <a href="@Url.Action("Index", "Cashing")"><img id="Cash" src="~/Images/Cash.png" width:"50px" height:"30px" /></a>
        </td>
       
    </tr>
</table>
