﻿@{
    ViewBag.Title = "Confirm Payment";
    Layout = "~/Views/Shared/_Print.cshtml";
}
<h4>@ViewBag.Error</h4>
<h4>
    @ViewBag.Msg

</h4>
        @section scripts {
            <script type="text/javascript">

                $("#dialog").dialog({
                    width: "500"
                });
            </script>
        }
