﻿@{
    ViewBag.Title = "Reports";
}

@using (Html.BeginForm("GenerateReport","Cashing"))
{
    <div class="editor-field-medium">
        <input type="datetime-local" required name="startDate" id="startDate" />
        <input type="datetime-local" required name="EndDate" id="EndDate" />

        <input class="submitbutton" style="width:200px" type="submit" name="Command" value="Daily Cashing Summary" />
        @*<input class="submitbutton" style="float:right;height:30px; width:150px" type="submit" name="Command" value="SameDayCashing" />*@

    </div>
}
