﻿@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/libraries/jquery-1.7.1.min.js"></script>
<script>

    function Setfocus()
    {
        $("#TopBC").focus();
    }


    function getfocus() {
        $("#error").text("");
        var tb = $("#TopBC").val().length;
        var bb = $("#BottomBC").val().length;
        if (tb < 8) {
            $("#TopBC").focus();
            $("#error").text("Minimum 11-12 characters");
        }
        else if (bb < 6) {
            $("#BottomBC").focus();
            $("#error").text("Minimum 11-12 characters");
        }
        else {
            var ButtonKeys1 = { "EnterKey": 9 };
            $(function () {
                $("#BottomBC").keypress(function (e) {
                    if (e.which == ButtonKeys1.EnterKey) {
                        document.getElementById('submit').focus()
                        return false;
                    }
                });
            });
        }
    }
    function onSubmitfocus() {
        document.getElementById('submit').click()
    }
    function onsub() {
        document.getElementById('TopBC').focus()
        document.getElementById('TopBC').select()
    }

</script>

  <h2>Cash Withdrawal</h2>

<script type="text/javascript">
        $(function () {
            $("#TopBC").focus();
        });
</script>
<div>
    <label style="color:red" id="error"/>
</div>
<div style="color:red">
    @ViewBag.Error
</div>
<div >
  
    <div id="SearchCriteriaPlaceHolder" class="portlet-body">

        @using (Ajax.BeginForm("SearchMemberAccount", "Cashing", FormMethod.Get, new AjaxOptions { UpdateTargetId = "DocketCheckPlaceHolder", OnBegin = "$('#DocketCheckPlaceHolder').html('Loading...');" }, new { @class = "form-horizontal", @id = "TerminalAllocationHeader" }))
        {
           <table>
               <tr>
                   <td>
                       @Html.Label("Scan Top BarCode", new { @class = "control-label" })
                   </td>
  
               </tr>
               <tr>
                   <td>
                       <input type="text" id="TopBC" name="TopBC" onclick="Setfocus()"  required />
                   </td>
              
                   <td>
                       <button id="submit" type="submit" onfocus="onSubmitfocus()" onkeyup="onsub()" onclick="onsub()" class="btn blue">Submit</button>
                   </td>
               </tr>
           </table>                  
        }
    </div>
</div>
<div>

    <div id="DocketCheckPlaceHolder" class="portlet-body"><br />

      
        @Html.Action("SearchMemberAccount", "Cashing")

    
    </div>
</div>

@section scripts {
    <script type="text/javascript">
       @*$(window).unload(function() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("NewBatch", "Cashing")',
            dataType: 'json',
            });
    });*@
    </script>
}






