﻿@model PhoenixWeb.Models.ViewModel.RolesPermissionVM
@{
    ViewBag.Title = "AddPermission";
}
<h3 class="page-title">
    Member Permission
    <small>Add/Edit Member Permission</small>
</h3>

<div class="portlet-body form">
   
    <div class="row">
        <div class="col-md-4">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Roles
                    </div>
                    <div class="actions">                      
                            @Html.ActionLink("Add New Role", "MemberDetails", new { }, new {Class = "btn btn-default btn-sm" })                       
                    </div>

                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="form-body">

                    </div>
                    <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 500px;">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Role name
                                    </th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var m in Model.RoleList)
                                {
                                    <tr id=@m.RoleId class="ajax-link">
                                        <td>
                                            @m.RoleName
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                   
                </div>
            </div>
        </div>
    
            <div class="col-md-4">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Permissions in this role
                        </div>
                        <div class="actions">                      
                             
                            @Ajax.ActionLink("Add Permission", "AddPermissionToRole", new { },
                       new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { @Class = " btn btn-default btn-sm model fade in" }) 

                           
                        </div>

                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 500px;">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            Permission name
                                        </th>

                                    </tr>
                                </thead>
                                <tbody id="RolesTb"></tbody>
                            </table>
                        </div>
                    </div>                   
                </div>
            </div>
            <div class="col-md-4">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Users in this role
                        </div>
                        <div class="actions">
                            <a href="" class="AddUser btn btn-default btn-sm">Add User</a>
                            @*@Html.ActionLink("Add User", "MemberDetails", new { }, new { Class = "btn btn-default btn-sm" })*@

                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 500px;">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            Username
                                        </th>
                                    </tr>
                                </thead >
                                <tbody id="UsersTb"></tbody>
                            </table>
                        </div>
                    </div>                 
                </div>
            </div>      
    </div>
</div>


@section scripts {
    <script type="text/javascript">
          
       
        $(".ajax-link").click(function () {
            var id = $(this).attr('id');
            $(".ajax-link").css("background-color", "");
            $(this).css("background-color", "lightgreen");      
            $("#RolesTb").empty();          
            $.ajax({
                url: '@Url.Action("GetRolePermission", "AjaxAdmin")',
                data: { RoleId: id },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $.each(data, function (i, item) {
                       
                        $("#RolesTb").append(
                            $("<tr></tr>").append(
                                $("<td></td>").append(item.PermissionName)
                                //,$("<td></td>").append($(link).attr('id', item.PermissionId).attr('name', item.PermissionName))
                            )
                        );
                    });
                },
                error: function () {
                    alert("Error loading permission");
                }
            });       

        });

        $(".ajax-link").click(function () {
            var id = $(this).attr('id');          
            $("#UsersTb").empty();
            $.ajax({
                url: '@Url.Action("GetRoleUsers", "AjaxAdmin")',
                data: { RoleId: id },
                type: "GET",
                dataType: "json",
                success: function (data) {                  
                    $.each(data, function (i, item) {
                    
                        $("#UsersTb").append(
                            $("<tr></tr>").append(
                                $("<td></td>").append(item.UserName)
                            )
                        );
                    });
                },
                error: function () {
                    alert("Error loading users");
                }
            });

        });
       

    </script>
    }
