﻿@model PhoenixObjects.UserAuthentication.PermissionModel
@{
    ViewBag.Title = "Add Permission";
    Layout = "~/Views/Shared/_AddPermission.cshtml";
}


<div class="row">
    <!--/span-->
    <div class="col-md-8">
        <div class="form-group">
            @Html.Label("Permission Name", new { @class = "control-labelM col-md-5" })
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.PermissionId, (IEnumerable<SelectListItem>)ViewBag.PermissionList, new {@class = "form-control" })             
            </div>
        </div>
    </div>   
</div>


@section scripts {
    <script type="text/javascript">

        $("#dialog").dialog({
            width: "600"
        });

    </script>
}
