﻿@{
    ViewBag.Title = "Roles";
}
<h3 class="page-title">
    Assign User Roles
    <small>insert new user</small>
</h3>
@using (Html.BeginForm())
{
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-adjust"></i>
                Assign User Roles
            </div>
            <div class="tools">
                <a href="" class="expand"></a>

                <a href="" class="reload">
                </a>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form action="#" class="horizontal-form">
                <div class="form-body">
                    <h3 class="form-section">Role Info</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("User Name", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    <select class="form-control" id="UserName" name="UserName"></select>                                    <span class="help-block">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Role", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    <select class="form-control" id="Role" name="Role"></select>
                                    <span class="help-block">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="row" style="padding-left: 15px;padding-right: 15px;">
                    <div class="form-actions left col-md-6">
                        @if (ViewContext.Controller.HasPermission("AdminResetConfigCache"))
                        {
                            <button type="button" class="btn default" id="resetConfigCache">Reset Config cache </button>
                        }
                        else
                        {
                            <button type="button" class="btn default" disabled id="resetConfigCacheDisabled">Reset Config cache </button>
                        }
                    </div>
                    <div class="form-actions right col-md-6">
                        <button type="button" class="btn default">Cancel</button>
                        <button type="submit" class="btn blue"><i class="fa fa-check"></i>Save</button>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Added Role(s) for this user
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-hover" id="RolesTb"></table>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        $(".active").removeClass("active open");
        $(".Administration").addClass("active open");
    });
    $.ajax({
        url: '@Url.Action("GetUsers", "AjaxAdmin")',
        type: "GET",
        dataType: "json",
        success: function (data) {
            $.each(data, function (i, item) {
                $("#UserName").append(
                         $("<option></option>").val(item.UserId).html(item.UserName)
                     );
            });
        },
        error: function () {
            alert("Error loading users!");
        }
    });

    $.ajax({
        url: '@Url.Action("GetRoles", "AjaxAdmin")',
        type: "GET",
        dataType: "json",
        success: function (data) {
            $.each(data, function (i, item) {
                $("#Role").append(
                        $("<option></option>").val(item.RoleId).html(item.RoleName)
                    );
            });
        },
        error: function () {
            alert("Error loading roles!");
        }

    });

        $(document).ready(function () {

            $("#resetConfigCache").off("click").on("click",
                function() {
                    $.ajax({
                        url: '@Url.Action("ForceReloadRBAUsers", "Administration")',
                        type: "GET",
                        success: function (data) {
                            alert("Reload configuration success!");
                        },
                        error: function () {
                            alert("Error reload configuration!");
                        }

                    });
                });

        $("#UserName").change(function () {
            var UserName = $("#UserName").val();
            $("#RolesTb").empty();
            $("#RolesTb").show();
            $.ajax({
                url: '@Url.Action("GetUserRoles", "AjaxAdmin")',
                data: { Userid: UserName },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $("#RolesTb").append(
                         $("<thead></thead>").append(
                               $("<tr></tr>").append(
                                  $("<th></th>").append('Role')
                         )
                        )
                    );
                    $.each(data, function (i, item) {
                        var UserName = $("#UserName").val();
                        $("#RolesTb").append(
                            $("<tr></tr>").append(
                                $("<td></td>").append(item.RoleName)
                            )
                             );
                    });
                }
            });
        });
    });
    </script>
}
