﻿@model PhoenixObjects.UserAuthentication.UserProfileModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_ChangePassword.cshtml";
}

<h3 class="page-title">
    Change Password
    <small>Change User password</small>
</h3>


<div class="portlet-body form">
    <!-- BEGIN FORM-->
    <div class="form-body">
        @Html.HiddenFor(m=> m.UserId)
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("User name", new { @class = "control-labelM col-md-3" })
                    <div class="col-md-8">
                        <input class="form-control" type="text" readonly name="MemberId" id="MemberId" value="@Model.UserName" />
                    </div>
                </div>
            </div>
            
        </div>
       
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("New Password", new { @class = "control-labelM col-md-3" })
                    <div class="col-md-8">
                        <input class="form-control" type="password" name="NewPassword" id="NewPassword" />
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Confirm Password", new { @class = "control-labelM col-md-3" })
                    <div class="col-md-8">
                        <input class="form-control" type="password" name="ConfirmPassword" id="ConfirmPassword" />
                    </div>
                </div>
            </div>

        </div>

       
    </div>
    
</div>