﻿@{
 
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_CommonDialogAdmin.cshtml";
}
<h4>@ViewBag.Error</h4>
<h4>
    @ViewBag.Msg

</h4>
        @section scripts {
            <script type="text/javascript">

                $("#dialog").dialog({
                    width: "300"
                });
            </script>
        }
