﻿@model List<PhoenixWeb.Models.ViewModel.SystemConfigurationVM>
<h3 class="page-title">
    Manage Configuration
</h3>

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">

            <i class="fa fa-cogs"></i>Configuration
        </div>
    </div>
    <div class="portlet-body form">
        <div class="form-body">
            <form class="form-horizontal">
                <div class="box-body">

                </div>
                <div class="box-footer">
                    <button type="button" name="Command" id="btnReloadConfiguration" value="Reload" class="btn blue-madison">Reload System Configuration</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="portlet-body">
    <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 500px;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>
                        <label>Configuration Key</label>
                    </td>
                    <td>
                        <label>Value</label>
                    </td>
                    <td>
                        <label>Description</label>
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var n in Model)
                {
                    <tr>
                        <td>
                            @n.Key
                        </td>
                        <td>
                            @n.Value
                        </td>
                        <td>
                            @n.Description
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/pages/Administration/PH-Configuration.js"></script>
}

