﻿@model List<PhoenixObjects.Administrator.RoleModel>
@{
    ViewBag.Title = "CreateRoles";
}


<h3 class="page-title">
    Create Role
    <small>insert new role</small>
</h3>

@using (Html.BeginForm())
{
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-adjust"></i>
                Role
            </div>
            <div class="tools">
                <a href="" class="expand"></a>

                <a href="" class="reload">
                </a>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form action="#" class="horizontal-form">
                <div class="form-body">
                    <h3 class="form-section">Role Info</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Role Name", new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    <input id="RoleName" class="form-control" name="RoleName" type="text" autocomplete="off" required>
                                    <span class="help-block">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
               
                <div class="form-actions right">
                    <button type="button" class="btn default">Cancel</button>
                    <button type="submit" class="btn blue"><i class="fa fa-check"></i>Save</button>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
}
@if (Model != null && Model.Count > 0)
{
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Added Role(s)
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 500px;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Role Name
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RoleName)
                                </td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
@section scripts {
<script type="text/javascript">
    $(document).ready(function () {
        $(".active").removeClass("active open");
        $(".Administration").addClass("active open");
    });
</script>
}