﻿@{
    ViewBag.Title = "Roles";
}
<h3 class="page-title">
    Fresh Desk Credentials
    <small>add user fresh desk credentials</small>
</h3>
<h4 style="color:green;font-weight:600">
    @ViewBag.Msg
</h4>
<h4 style="color: red; font-weight: 600">
    @ViewBag.Err
</h4>
@using (Html.BeginForm("SaveFreshDeskCred","Administration", FormMethod.Post))
{
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-adjust"></i>
                User 
            </div>
            <div class="tools">
                <a href="" class="expand"></a>

                <a href="" class="reload">
                </a>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            @*<form action="#" class="horizontal-form">*@
                <div class="form-body">
                    @*<h3 class="form-section">Role Info</h3>*@
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("User Name", new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    <select class="form-control" id="PhoeUserName" name="PhoeUserName"></select>                                    <span class="help-block">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            @*</form>*@
            <!-- END FORM-->
        </div>
    </div>
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-adjust"></i>
              Fresh Desk Credentials
            </div>            
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            @*<form action="#" class="horizontal-form">*@
                <div class="form-body">
                    @*<h3 class="form-section">Role Info</h3>*@
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("User Name", new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="UserName" name="UserName" /> 
                                     <span class="help-block">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label("Email address", new { @class = "control-label col-md-3" })
                                    <div class="col-md-6">
                                        <input type="text" class="form-control"  id="Email" name="Email" />                                      
                                         <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <br />
                </div>

                <div class="form-actions right">
                        <button type="button" class="btn default">Cancel</button>
                        <button type="submit" class="btn blue"><i class="fa fa-check"></i>Save</button>
                    </div>
            @*</form>*@
            <!-- END FORM-->
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        $(".active").removeClass("active open");
        $(".Administration").addClass("active open");
    });
    $.ajax({
        url: '@Url.Action("GetUsers", "AjaxAdmin")',
        type: "GET",
        dataType: "json",
        success: function (data) {
            $.each(data, function (i, item) {
                $("#PhoeUserName").append(
                         $("<option></option>").val(item.UserId).html(item.UserName)
                     );
            });
        },
        error: function () {
            alert("Error loadng users!");
        }
    });

        $(document).ready(function () {
            $("#PhoeUserName").change(function () {
                var UserName = $("#PhoeUserName").val();
                $.ajax({
                    url: '@Url.Action("GetUserFreshDeskCred", "AjaxAdmin")',
                    data: { Userid: UserName },
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        $("#UserName").val(data.Username)
                        $("#Email").val(data.Email)
                    }
                });
            });
        });
    </script>
}
