﻿@{
    ViewBag.Title = "Menu";
}


<div style="align-content:center; margin-left:35%; margin-right:35%">
    @if (ViewContext.Controller.HasPermission("AdminCreateUser"))
    {
        <a href="@Url.Action("Register", "Administration")"><img id="AddUser" src="~/Images/ICONS/AddUser.png" style="position:relative; float: left" /></a>
    }
    @if (ViewContext.Controller.HasPermission("AdminCreateNewRoles"))
    {
        <a href="@Url.Action("CreateRoles", "Administration")"><img id="AddRoles" src="~/Images/ICONS/AddRoleType.png" style="position:relative; float: left" /></a>
    }
    @if (ViewContext.Controller.HasPermission("AdminAddUserRoles"))
    {
        <a href="@Url.Action("AddRoles", "Administration")"><img id="AddRoles" src="~/Images/ICONS/AssignUserRoles.png" style="position:relative; float: left" /></a>
    }
    @if (ViewContext.Controller.HasPermission("AdminChangeSalesforceCredential"))
    {
        <a href="@Url.Action("SalesforceCred", "Administration")"><img id="SalesforceCred" src="~/Images/ICONS/SalesforceAdmin.png" style="position:relative; float: left" /></a>
    }
    @if (ViewContext.Controller.HasPermission("AdminAddFreshDeskCredential"))
    {
        <a href="@Url.Action("FreshDeskCred", "Administration")"><img id="SalesforceCred" src="~/Images/ICONS/FreshDesk.png" style="position:relative; float: left" /></a>

    }
    @if (ViewContext.Controller.HasPermission("AdminAddPermission"))
    {
        <a href="@Url.Action("AddPermission", "Administration")"><img id="SalesforceCred" src="~/Images/ICONS/Permission.png" style="position:relative; float: left" /></a>

    }
    @if (ViewContext.Controller.HasPermission("AdminAddPermission"))
    {
        <a href="@Url.Action("ViewAllUsers", "Administration")"><img id="SalesforceCred" src="~/Images/ICONS/AdminUserList.png" style="position:relative; float: left" /></a>

    }

    </div>

        @*<table cellpadding:"5" align="center">
            <tr>
                <td>
                    <a href="@Url.Action("Register", "Administration")"><img id="AddUser" src="~/Images/ICONS/AddUser.png" /></a>
                </td>
                <td>
                    <a href="@Url.Action("CreateRoles", "Administration")"><img id="AddRoles" src="~/Images/ICONS/AddRoleType.png" /></a>
                </td>
                <td>
                    <a href="@Url.Action("AddRoles", "Administration")"><img id="AddRoles" src="~/Images/ICONS/AssignUserRoles.png" /></a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="@Url.Action("SalesforceCred", "Administration")"><img id="SalesforceCred" src="~/Images/ICONS/SalesforceAdmin.png" /></a>

                </td>
                <td>
                    <a href="@Url.Action("FreshDeskCred", "Administration")"><img id="SalesforceCred" src="~/Images/ICONS/FreshDesk.png" /></a>

                </td>
            </tr>
        </table>*@
        @section scripts {
            <script type="text/javascript">

                $(document).ready(function () {
                    $(".active").removeClass("active open");
                    $(".Administration").addClass("active open");
                });
            </script>
        }
