﻿@model List<PhoenixObjects.UserAuthentication.UserMFAConfigurationListModel>

@{ ViewBag.Title = "MFA Enabler"; }

<h2>MultiFactor Authentication Enabler</h2>



<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>MultiFactor Authentication Enabler
        </div>
    </div>
    <span style="color:green">@ViewBag.Message</span>
    <span style="color:red">@ViewBag.Error</span>
    <bold>Search for user:</bold><input type="text" id="search" onkeyup="applyFilterInTable()" placeholder="Type in user name.." title="Type in a username">
    <div class="portlet-body">
        <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 500px;">
            <div id="message"></div>
            <table class="table table-hover" id="usersList">
                <thead>
                    <tr>
                        <td>
                            <strong>User</strong>
                        </td>
                        <td>
                            <strong>Has Completed</strong>
                        </td>
                        <td>
                            <strong>Created On</strong>
                        </td>
                        <td>
                            <strong>Created By</strong>
                        </td>
                        <td>
                            <strong>Activate?</strong>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        var active = @Model[i].IsEnabled.HasValue ? @Model[i].IsEnabled.Value ? "ON" : "OFF" : "OFF";
                        <tr class="datarows">
                            <td>
                                @Model[i].UserName
                            </td>
                            <td>
                                @Model[i].HasCompleted
                            </td>
                            <td>
                                @Model[i].CreatedOn
                            </td>
                            <td>
                                @Model[i].CreatedBy
                            </td>
                            <td>
                                <div class="btn-group btn-toggle">
                                    <button style="margin-right: 0px" class="btn @(active == "ON" ? "btn-primary active" : "btn-default")" data-userid="@Model[i].userid" data-value="enable">ON</button>
                                    <button style="margin-right: 0px" class="btn @(active != "ON" ? "btn-primary active" : "btn-default")" data-userid="@Model[i].userid" data-value="disable">OFF</button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    #overlay {
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
    }

    #progressText {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        color: white;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
    }
</style>

<div id="overlay">
    <div id="progressText">saving, please wait...</div>
</div>


@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".Administration").addClass("active open");
        });

        off();
        if (document.getElementById("search").length > 0) { applyFilterInTable(); }
        $('.btn-toggle').click(function () {
            $(this).find('.btn').toggleClass('active');



            if ($(this).find('.btn-primary').size() > 0) {
                $(this).find('.btn').toggleClass('btn-primary');
            }

            $(this).find('.btn').toggleClass('btn-default');
            toggle($(this).find('.btn-primary').data("userid"), $(this).find('.btn-primary').data("value"));

        });

        function toggle(userid, value) {
            on();
            value = value == "enable";
            $.ajax({
                type: "POST",
                url: "Toggle",
                dataType: "json",
                data: JSON.stringify({ "userId": userid, "enable": value }),
                contentType: "application/json",
                beforesend: function () {
                    $('#message').html('connecting..');

                },
                success: function (data) {
                    $('#message').html(data.message);
                    $('#progressText').html('refreshing, please wait...');
                    if (data.Success) {
                        window.location.reload();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown, data) {
                    var msg = ''; 
                    off();
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }
                    $('#message').html("An error occured while connecting to server - " + jqXHR.message + "\nDetails: " + msg);
                }
            });
        }

        function on() {
            document.getElementById("overlay").style.display = "block";
        }

        function off() {
            document.getElementById("overlay").style.display = "none";
        }


        // Dirty solution to avoid server comm

        function applyFilterInTable() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById("usersList");
            tr = table.getElementsByClassName("datarows");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
}