﻿

@{
    ViewBag.Title = "Register";
}

<h3 class="page-title">
    Create User
    <small>insert new user</small>
</h3>

@using (Html.BeginForm())
{
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
            User
        </div>
        <div class="tools">
            <a href="" class="expand"></a>

            <a href="" class="reload">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="horizontal-form">
            <div class="form-body">
                <h3 class="form-section">User Info</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("User Name", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <input id="UserName" class="form-control" name="UserName" type="text" autocomplete="off" required>  
                                <span class="help-block">
                                 
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Email Address", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <input id="Email" class="form-control" name="Email" autocomplete="off" type="email" required>                               
                                <span class="help-block">
                                  
                                </span>
                             </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Role", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <select class="form-control" id="Role" name="Role"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Password", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <input id="Password" class="form-control" name="Password" autocomplete="off" type="password" required>
                                <span class="help-block">

                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Office", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <select class="form-control" id="Office" name="Office"></select>
                                <span class="help-block">

                                </span>
                             </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
               
                <br />
            </div>
         
            <div class="form-actions right">
                <button type="button" class="btn default">Cancel</button>
                <button type="submit" class="btn blue"><i class="fa fa-check"></i>Save</button>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>
}

@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".Administration").addClass("active open");
        });
        $.ajax({
            url: '@Url.Action("GetOffice", "AjaxAdmin")',
            type: "GET",
            dataType: "json",
            success: function (data) {
               $.each(data, function (i, item) {
                   $("#Office").append(
                            $("<option></option>").val(item.Office_key).html(item.Name)
                        );
                });
            },
            error: function () {
                alert("Error loadng office!");
            }
        });

        $.ajax({
            url: '@Url.Action("GetRoles", "AjaxAdmin")',
            type: "GET",
            dataType: "json",
            success: function (data) {
                $.each(data, function (i, item) {
                    $("#Role").append(
                            $("<option></option>").val(item.RoleId).html(item.RoleName)
                        );
                });

            },
            error: function () {
                alert("Error!");
            }

        });


    </script>
}
