﻿@model List<PhoenixWeb.Models.ViewModel.UserResendTokenViewModel>

@{ ViewBag.Title = "Reset Password Requests"; }

<h2>Reset Password Requests</h2>

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Reset Password Token Requests
        </div>
    </div>
    <span style="color:green">@ViewBag.Message</span>
    <span style="color:red">@ViewBag.Error</span>
    <div class="portlet-body">
        <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 500px;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Status</td>
                        <td>
                            <label>User</label>
                        </td>
                        <td>
                            <label>Created On</label>
                        </td>
                        <td>
                            <label>Expires By</label>
                        </td>
                        <td>
                            <label>Last Email</label>
                        </td>
                        <td>
                            <label>User's Email</label>
                        </td>
                        <td>
                            <label>Action</label>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var n in Model)
                    {
                        <tr>
                            <td>
                                @if (n.IsExpiredToken)
                                {<label class="btn btn-danger">Expired</label> }
                                else
                                { <label class="btn btn-primary">&nbsp;Active&nbsp;</label>}
                            </td>
                            <td>
                                @n.Username
                            </td>
                            <td>
                                @n.CreatedOn
                            </td>
                            <td>
                                @n.ExpiresBy
                            </td>
                            <td>
                                @n.LastEmailUsed
                            </td>
                            <td>
                                @n.Email
                            </td>
                            <td>
                                @if (n.IsExpiredToken)
                                {
                                    @Ajax.ActionLink("Regenerate Token", "ResendResetPasswordToken", new { Id = @n.UserId }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }) }
                                else
                                {
                                    @Ajax.ActionLink("Resend Token", "ResendResetPasswordToken", new { Id = @n.UserId }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" })
                                } |
                                @Html.ActionLink("Deactivate", "DeactivateResetPasswordToken", new { Id = @n.UserId, token = @n.ResetPasswordToken })
                                |
                                @Html.ActionLink("Reset Password", "ResetPassword", "Account", new { isAdminChangePassword = true, id = @n.ResetPasswordToken  }, null)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div> 
@section scripts
{
    <script>
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".Administration").addClass("active open");
        });
    </script>
}