﻿@model PhoenixWeb.Models.ViewModel.UserResendTokenViewModel

@{
    ViewBag.Title = "Resend Reset Password Token";
    Layout = "~/Views/Shared/_ResendResetPasswordToken.cshtml";
}

<h3 class="page-title">
    <small>Default users email address is filled. Alternatively, specify the email address below to send it to new address.</small>
</h3>


<div class="portlet-body form">
    <!-- BEGIN FORM-->
    <div class="form-body">
        @Html.HiddenFor(m=> m.UserId)
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Email", new { @class = "control-labelM col-md-3" })
                    <div class="col-md-8">                       
                        @Html.TextBoxFor(model => model.Email, new { @id = "email", @class = "form-control", required = "required", type = "email" })
                    </div>
                </div>
            </div>
        </div>       
    </div>    
</div>