﻿@model PhoenixObjects.Salesforce.SalesforceDetailModel

@{
    ViewBag.Title = "SalesforceCredentials";
}
<h3 class="page-title">
    Salesforce Credentials
    <small>alter credentials</small>
</h3>
@using (Html.BeginForm())
{
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-adjust"></i>
                Credentials
            </div>
            <div class="tools">
                <a href="" class="expand"></a>

                <a href="" class="reload">
                </a>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form action="#" class="horizontal-form">
                <div class="form-body">
                    <h3 class="form-section">Credentials Info</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("ClientId", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.ClientID, new { @class = "form-control", @readonly = "readonly" })
                                
                                    <span class="help-block">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Secret", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Secret, new { @class = "form-control", @readonly = "readonly" })
                                  
                                    <span class="help-block">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("UserName", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                   @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                                    <span class="help-block">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("PasswordToken", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.TokenPassword, new { @class = "form-control" })
                                 
                                    <span class="help-block">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>

                <div class="form-actions right">
                    <button type="button" class="btn default">Cancel</button>
                    <button type="submit" class="btn blue"><i class="fa fa-check"></i>Save</button>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
}



@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}*@
@section scripts {
<script type="text/javascript">
    $(document).ready(function () {
        $(".active").removeClass("active open");
        $(".Administration").addClass("active open");
    });
</script>
    }
