﻿@model PhoenixObjects.UserAuthentication.UserProfileModel
@{
    ViewBag.Title = "UserProfile";
}

<h2>User Profile</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
            @Html.DisplayFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayName("Role")
        </th>
    </tr>

    @foreach (var item in Model.Roles)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
           
            <td>
                @Html.ActionLink("Delete", "Delete", new { roleid = item.RoleId,  }) |
              
            </td>
        </tr>
    }
    </table>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".Administration").addClass("active open");
        });
    </script>
}
