﻿@model List<PhoenixObjects.UserAuthentication.UserProfileModel>

@{ ViewBag.Title = "ViewAllUsers"; }

<h2>ViewAllUsers</h2>

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Users
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 500px;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>
                            <label>User Name</label>
                        </td>
                        <td>
                            <label>Office</label>
                        </td>
                        @*<td>
                            <label>Roles</label>
                        </td>*@
                        <td>
                            <label>Change Password</label>
                        </td>
                        <td>
                            <label>Unlock Account</label>
                        </td>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var n in Model)
                    {
                        <tr>
                            <td>
                                @n.UserName
                            </td>
                            <td>
                                @n.Office
                            </td>
                            <td>
                                @Ajax.ActionLink("Change Password", "ChangePassword", new { Id = @n.UserId }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" })
                            </td>
                            <td>
                                @Html.ActionLink("Unlock User", "UnlockUser", new { Id = @n.UserId })
                            </td>


                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>