﻿@{
    ViewBag.Title = "Roles";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary()


    <div>Add Roles</div>
    <h4>@ViewBag.Message</h4>
    <table>
        <tr>
            <td>
                @Html.Label("UserName")
                <select style="width: 310px;height:30px" id="UserName" name="UserName"></select>
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Role")
                <select style="width: 310px;height:30px" id="Role" name="Role"></select>
            </td>
        </tr>

        <tr>
            <td>
                <input type="submit" value="Add" />
            </td>
        </tr>
    </table>
}


@section scripts {
    <script type="text/javascript">
        $.ajax({
            url: '@Url.Action("GetUsers", "AjaxAdmin")',
            type: "GET",
            dataType: "json",
            success: function (data) {
               $.each(data, function (i, item) {
                   $("#UserName").append(
                            $("<option></option>").val(item.UserId).html(item.UserName)
                        );
                });
            },
            error: function () {
                alert("Error loadng users!");
            }
        });

        $.ajax({
            url: '@Url.Action("GetRoles", "AjaxAdmin")',
            type: "GET",
            dataType: "json",
            success: function (data) {
                $.each(data, function (i, item) {
                    $("#Role").append(
                            $("<option></option>").val(item.RoleId).html(item.RoleName)
                        );
                });

            },
            error: function () {
                alert("Error loadng roles!");
            }

        });
    </script>
}
