﻿@{
    ViewBag.Title = "CreateRoles";
}

<h2>Create a Role</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()


    <div>Add Roles</div>
    <h4>@ViewBag.Message</h4>
    <table>
        <tr>
            <td>
                @Html.Label("Role Name")
                <input id="RoleName" name="RoleName" type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Add" />
            </td>
        </tr>
    </table>
}

