﻿@{
    ViewBag.Title = "Menu";
}

<table cellpadding:"5" align="center" width="70%">
    <tr>
        <td>
            <a href="@Url.Action("Register", "Administration")"><img id="AddUser" src="~/Images/AddUser.png" width:"50px" height:"30px" /></a>
        </td>
        <td>
            <a href="@Url.Action("CreateRoles", "Administration")"><img id="AddRoles" src="~/Images/CreateRoles.png" width:"50px" height:"30px" /></a>
        </td>
        <td>
            <a href="@Url.Action("AddRoles", "Administration")"><img id="AddRoles" src="~/Images/AddRoles.png" width:"50px" height:"30px" /></a>
        </td>
        <td>
            <a href="@Url.Action("SalesforceCred", "Administration")"><img id="SalesforceCred" src="~/Images/SalesforceCred.png" width:"50px" height:"30px" /></a>
        </td>


    </tr>
</table>
