﻿

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm())
{
      @Html.ValidationSummary()

   
     <div>Details</div>
    <table>
        <tr>
            <td>
                @Html.Label("UserName")
                <input id="UserName" name="UserName" type="text" autocomplete="off" required>
            </td>
        </tr>

        <tr>
            <td>
                @Html.Label("Email")
                <input id="Email" name="Email" type="email" autocomplete="off" required>
            </td>
        </tr>

        <tr>
            <td>
                @Html.Label("Password")
                <input id="Password" name="Password" type="password" autocomplete="off" required>
            </td>
        </tr>

        <tr>
            <td>
                @Html.Label("Office")
                <select style="width: 310px;height:30px" id="Office" name="Office"></select>
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Role")
                <select style="width: 310px;height:30px" id="Role" name="Role"></select>
            </td>
        </tr>

        <tr>
            <td>
                <input type="submit" value="Register" />
            </td>
           
        </tr>
    </table>
}

@section scripts {
    <script type="text/javascript">

       
        $.ajax({
            url: '@Url.Action("GetOffice", "AjaxAdmin")',
            type: "GET",
            dataType: "json",
            success: function (data) {
               $.each(data, function (i, item) {
                   $("#Office").append(
                            $("<option></option>").val(item.Office_key).html(item.Name)
                        );
                });
            },
            error: function () {
                alert("Error loadng office!");
            }
        });

        $.ajax({
            url: '@Url.Action("GetRoles", "AjaxAdmin")',
            type: "GET",
            dataType: "json",
            success: function (data) {
                $.each(data, function (i, item) {
                    $("#Role").append(
                            $("<option></option>").val(item.RoleId).html(item.RoleName)
                        );
                });

            },
            error: function () {
                alert("Error!");
            }

        });


    </script>
}
