﻿@model PhoenixObjects.Salesforce.SalesforceDetailModel

@{
    ViewBag.Title = "SalesforceCredentials";
}

<h2>Salesforce Credentials</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SalesforceDetailModel</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.ClientID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ClientID)
            @Html.ValidationMessageFor(model => model.ClientID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Secret)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Secret)
            @Html.ValidationMessageFor(model => model.Secret)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TokenPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TokenPassword)
            @Html.ValidationMessageFor(model => model.TokenPassword)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
