﻿@{
    Layout = null;
    ViewBag.Title = ViewBag.Title ?? "Edit";
    ViewBag.Key = ViewBag.Key ?? 0;
    ViewBag.Inactive = ViewBag.Inactive ?? 0;
    ViewBag.Description = ViewBag.Description ?? "";
    ViewBag.Button = ViewBag.Button ?? "Save";
    ViewBag.Action = ViewBag.Action ?? "CreateMemberAccount"; 
}
    
@using (Ajax.BeginForm((string)ViewBag.Action, "Member", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog", OnSuccess="Successful" }))
{
    @RenderBody()
     <div style="vertical-align:middle;">
         <input class="btn blue" type="button" onclick="SaveNewBankAccount()" value="@ViewBag.Button" />
         <input type="button" class="btn blue" onclick="CloseMe()" value="Close" /> 
        @if (ViewBag.Key>0)
        {
        @Ajax.ActionLink("Cancel", "View", new { Key = ViewBag.Key }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class="cancelbutton"}) 
        }
    </div>

}

@RenderSection("scripts", required: false)

    <script type="text/javascript">

    $("#dialog").dialog({
        title: "@ViewBag.Title",
        position: "center",
        width: "@ViewBag.DialogSize",
        modal: true
    });
    function CloseMe() {
        $("#dialog").dialog("close");
        }

    $(document).ready(function () {
        $('#BsbNumber').focusout(function () {
            var currentValue = $(this).val();
            if (isValidBsbNumber(currentValue)) {
                $('#BsbNumberErr').text("");
            }
            else {
                $("#BsbNumberErr").text("Bsb Number must following the format ###-### with # is a number from 0 - 9 ");
            }
        });
    });

    $(document).ready(function () {
        $("#Weight").focusout(function () {
            var val1 = $("#Weight").val()
            if (val1 > 100) {
                $("#WeightErr").text("value cannot be more then 100%");
            }
            else if (!$.isNumeric($("#Weight").val()))
            {
                $("#WeightErr").text("value should be numeric");
            }
            else if (val1 == '') {
                $("#WeightErr").text("");
            }

            if (val1 == '') {
                $("#WeightErr").text("");
            }
            if (val1 < 100) {
                $("#WeightErr").text("");
            }

        });
    });

    $(document).ready(function () {
        $("#AccountNumber").focusout(function () {
            var val1 = $("#AccountNumber").val()

            var pattern = /^[0-9]*$/;
            if (pattern.test(val1)) {
                $("#AccountNumberErr").text("");
            } else {
                $("#AccountNumberErr").text("value should be numeric");
            }
        });

        $("#AccountName").focusout(function () {
            var pattern = /^[A-Za-z0-9 _]*$/;
            if (pattern.test($("#AccountName").val())) {
                $("#AccountNameErr").text("");
            } else {
                $("#AccountNameErr").text("Please input letter, number, space and underscore only");
            }

        });
    });
    $(document).ready(function () {
        $("#BsbNumber").autocomplete({
            source: '@Url.Action("AutoCompleteBSBSearch")'

        });
    });

     function isValidBsbNumber(currentValue) {
        var pattern = /(\d{3})-(\d{3})/;

        currentValue = currentValue.replace(/-/g, '');

        if (currentValue.length >= 6) {
            $('#BsbNumber').val(currentValue.substring(0, 3) + '-' + currentValue.substring(3, 6));
        }

        if (pattern.test($('#BsbNumber').val()))
            return true;
        else 
            return false;
         }
     </script>

