﻿@{
    Layout = null;
    ViewBag.Title = ViewBag.Title ?? "Edit";
    ViewBag.Key = ViewBag.Key ?? 0;
    ViewBag.Inactive = ViewBag.Inactive ?? 0;
    ViewBag.Description = ViewBag.Description ?? "";
    ViewBag.Button = ViewBag.Button ?? "Save";
    ViewBag.Action = ViewBag.Action ?? "CreateMemberAddress"; 
}

@using (Ajax.BeginForm((string)ViewBag.Action, "Member", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog", OnSuccess = "Successful" }))
{
    @RenderBody()
    <div style="vertical-align:middle;">
        <input class="btn blue" type="submit" value="@ViewBag.Button" />
        <input id="test " type="button" class="btn blue" onclick="CloseMe()" value="Close" /> 
        @if (ViewBag.Key>0)
        {
        @Ajax.ActionLink("Cancel", "View", new { Key = ViewBag.Key }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class="cancelbutton"}) 
        }
    </div>     
}


<script type="text/javascript">

        $("#dialog").dialog({
            title: "@ViewBag.Title",
            position: "center",
            width: "@ViewBag.DialogSize",
            modal:true
        });

        function CloseMe() {
            $("#dialog").dialog("close");
        }

        $(document).ready(function () {
            $("#PostCode").autocomplete({
                source: '@Url.Action("AutoCompletePostCode")'

            });
        });
 </script>

@RenderSection("scripts", required: false) 