﻿@{
    Layout = null;
    ViewBag.Title = ViewBag.Title ?? "Edit";
    ViewBag.Key = ViewBag.Key ?? 0;
    ViewBag.Inactive = ViewBag.Inactive ?? 0;
    ViewBag.Description = ViewBag.Description ?? "";

}


@using (Ajax.BeginForm("AddPermissionToRole", "Administration", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog", OnSuccess = "Successful" }))
{
   
@RenderBody()

    <div style="float:right;">
        <input class="btn blue" type="submit" name="Command" formtarget="_blank" value="Submit" />
        <input type="button" class="btn blue" onclick="CloseMe()" value="Close" />
    </div>  

}

@RenderSection("scripts", required: false)

<script type="text/javascript">

    $("#dialog").dialog({
        title: "@ViewBag.Title",
        position: "center",
        width: "600"
    });
    function CloseMe() {
        $("#dialog").dialog("close");
    }
</script>


