﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/css1")
        @Scripts.Render("~/bundles/modernizr")

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")

        @*<script src="~/Scripts/jquery-ui-1.10.4.custom.min.js"></script>*@
      
    </head>
    <body>
        <header>
            <div  class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">
                       <a href="@Url.Action("Index", "AdminHome")"><img src="~/Images/Back.jpg" style="width:103px;height:35px"  /></a>
                    </p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
     
        </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - LiveGroup Phoenix Web</p>
                </div>
            </div>
        </footer>

        <div id="dialog" title="Dialog Title"></div>
    </body>
</html>

@*<script>
    $(document).ready(function () {
        $("#dialog").dialog({
            autoOpen: false,
            title: "@ViewBag.Title",
            width: "500",
            hegiht: "500",
            resizable: false,
            modal: true
        });

    });
    function openDialog() {
        $("#dialog").dialog("open");
    }
</script>*@
@RenderSection("scripts", required: false)

