﻿@{
    Layout = null;
    ViewBag.Title = ViewBag.Title ?? "Edit";
    ViewBag.Key = ViewBag.Key ?? 0;
    ViewBag.Inactive = ViewBag.Inactive ?? 0;
    ViewBag.Description = ViewBag.Description ?? "";
    ViewBag.Button = ViewBag.Button ?? "Save";
    ViewBag.Action = ViewBag.Action ?? "AllocateMemberTerminal"; 
}
    
@using (Ajax.BeginForm("AllocateMemberTerminal", "Member", new { Vehicle = @ViewBag.VehicleKey }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog", OnSuccess = "Successful" }))
{
    @RenderBody()
    <div style="vertical-align:middle;">
        <input class="btn blue" type="submit" value="@ViewBag.Button" />
        <input type="button" class="btn blue" onclick="CloseMe()" value="Close" /> 
        @if (ViewBag.Key>0)
        {
        @Ajax.ActionLink("Cancel", "View", new { Key = ViewBag.Key }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { @class="btn blue"}) 
        }
    </div>

     
}

@RenderSection("scripts", required: false)

<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center",
         width: "@ViewBag.DialogSize"
     });
    function CloseMe() {
        $("#dialog").dialog("close");
    }
    $(document).ready(function () {
        $("#EftTerminal_key").autocomplete({
            source: '@Url.Action("AutoCompleteEftTerminalId")'
        });

        $("#EftTerminal_key").change(function () {
            var Terminalid = $("#EftTerminal_key").val();
            $.ajax({
                url: '@Url.Action("GetDefaultAllocationDate", "AjaxAdmin")',
                data: { TerminalId: Terminalid },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $("#TerminalAllocationDate").val(data.EffectiveDateString);
                },
                error: function () {
                    alert("Error");
                }
            });
        });

        $("#TerminalAllocationDate").focusin(function () {          
            $("#warning").text("");           
        });
        $("#TerminalAllocationDate").focusout(function () {
            var dat = $("#TerminalAllocationDate").val();
            var todaydate = new Date();
            //alert(new Date(dat) + '*******' + todaydate + '**********' + dat)
            if (new Date(dat) > todaydate)
            {
                
                $("#warning").text("You have selected future date for terminal allocation");
            }
            if (new Date(dat) < todaydate) {
                $("#warning").text("You have selected past date for terminal allocation");
            }
        });
    });
 </script>

