﻿@{
    Layout = null;
    ViewBag.Title = ViewBag.Title ?? "Notes";
    ViewBag.Key = ViewBag.Key ?? 0;
    ViewBag.Inactive = ViewBag.Inactive ?? 0;
    ViewBag.Description = ViewBag.Description ?? "";
}
 
@RenderBody()
        <div style="float:right;">
            <input type="button" class="btn blue" onclick="CloseMe()" value="Close" />
        </div>
   

    <script type="text/javascript">

        $("#dialog").dialog({
            title: "@ViewBag.Title",
            position: "center",
            width: "@ViewBag.DialogSize"
        });
        function CloseMe() {
            $("#dialog").dialog("close");
        }
             

    </script>

    @RenderSection("scripts", required: false)
