﻿@{
    Layout = null;
    ViewBag.Title = @ViewBag.Title;
}
<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center",
         width: 650,
         height: 550

     });

        function CloseMe() {
            $("#dialog").dialog("close");
        }
</script>
@RenderBody() 
<input style="float:right" type="button" class="btn lightgrey" onclick="CloseMe()" value="Close" />

@Ajax.ActionLink("Add", "AddAuthorizedMember", null, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn blue", style = "float:right" })




@RenderSection("scripts", required: false)



