﻿@{
    Layout = null;
    ViewBag.Title = @ViewBag.Title;
}
<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center",
         width: 650,
         height: 550

     });

        function CloseMe() {
            $("#dialog").dialog("close");
        }
</script>
@RenderBody() 
<input style="float:right" type="button" class="btn blue" onclick="CloseMe()" value="Close" />


@RenderSection("scripts", required: false)



