﻿@{
    Layout = null;

}

@using (Html.BeginForm("ChangePasswordSaved", "Administration", FormMethod.Post))
{
    @RenderBody()
    <div style="float:right;">
        <input class="btn blue" type="submit" name="Command" value="Change Password" />
        <input type="button" class="btn blue" onclick="CloseMe()" value="Cancel" />
    </div>

}

<script type="text/javascript">

        $("#dialog").dialog({
            title: "@ViewBag.Title",
            position: "center",
            width: 500,
            height:400
        });
        function CloseMe() {
            $("#dialog").dialog("close");
        }


</script>

@RenderSection("scripts", required: false)
