﻿@{
    Layout = null;
    ViewBag.Title = ViewBag.Title ?? "View";
}

@RenderBody()

<div style="vertical-align:middle;float:right">
    <button class="btn blue" onclick="CloseMe()">Close</button>

</div>

@RenderSection("scripts", required: false)

<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center",
         width: "@ViewBag.DialogSize",
         modal: true
     });
    function CloseMe() {
        $("#dialog").dialog("close");
    }
</script>

