﻿@{
    Layout = null;
    ViewBag.Title = ViewBag.Title ?? "Commission rate";
    ViewBag.Key = ViewBag.Key ?? 0;
    ViewBag.Inactive = ViewBag.Inactive ?? 0;
    ViewBag.Description = ViewBag.Description ?? "";
    ViewBag.Button = ViewBag.Button ?? "Add";
    ViewBag.Action = ViewBag.Action ?? "CreateMemberCommissionRate"; 
}
    
@using (Ajax.BeginForm((string)ViewBag.Action, "Member", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog", OnSuccess="Successful" }))
{
    @RenderBody()
     <div style="vertical-align:middle;">
         <input class="btn blue" type="submit" value="@ViewBag.Button" />
         <input type="button" class="btn blue" onclick="CloseMe()" value="Cancel" /> 
      
    </div>
}

@RenderSection("scripts", required: false)

<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center",
         width: "@ViewBag.DialogSize"
     });
    function CloseMe() {
        $("#dialog").dialog("close");
    }
   
 </script>

