﻿@{
    ViewBag.Title = "Confirmed";
    Layout = null;
}
<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center"
     });

    function CloseMe() {
        $("#dialog").dialog("close");
    }

</script>

@RenderBody() <br />
<div style="float:right;">
    <input type="button" class="btn blue" onclick="CloseMe()" value="Close" />
    </div>
    <br />

    @RenderSection("scripts", required: false)


