﻿@{
    Layout = null;
    ViewBag.Title = @ViewBag.Title;
}
<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center"

     });

        function CloseMe() {
            $("#dialog").dialog("close");
        }
</script>

@RenderBody() <br />
@Html.ActionLink((string)@ViewBag.BtnName, (string)@ViewBag.ContAction, new { Id = (int)ViewBag.PraValus1, AMember = (int)ViewBag.PraValus2 }, new { Class = "btn blue" })
@if (@ViewBag.BtnName != "Ok")
{
    <input type="button" class="btn blue" onclick="CloseMe()" value="No" />

}


<br />
@RenderSection("scripts", required: false)



