﻿@{
    Layout = null;
    ViewBag.Title = @ViewBag.Title;
}
<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center"

     });

        function CloseMe() {
            $("#dialog").dialog("close");
        }
</script>

@RenderBody() <br />
<div style="float:right;">
    @Html.ActionLink((string)@ViewBag.BtnName, (string)@ViewBag.ContAction, new { }, new { Class = "btn blue" })
    @if (@ViewBag.BtnName != "Ok")
    {
        <input type="button" class="btn blue" onclick="CloseMe()" value="No" />

    }
    </div>


    <br />
    @RenderSection("scripts", required: false)



