﻿@{
    Layout = null;

}
@RenderBody() <br />
<table>
    <tr>
        <td>
            @Html.ActionLink("View Statement", "Print", null, new { target = "_blank", Class = "btn blue", onclick = "CloseMe()" })
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            <button class="btn blue" onclick="CloseMe()">Close</button>
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            @Html.ActionLink("Close & New", "NewBatchDirect",null, new { Class = "btn blue" })
        </td>
    </tr>
</table>
<br />

@RenderSection("scripts", required: false)

<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center"
        
     });

    function CloseMe() {
        $("#dialog").dialog("close");
    }

 </script>

