﻿@{
    ViewBag.Title = "Pay";
    Layout = null;
}
<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center"
     });

    function CloseMe() {
        $("#dialog").dialog("close");
    }

</script>

@RenderBody() <br />
@Html.ActionLink("View Statement", "Pay", null, new { Class = "btn blue" })

<input type="button" class="btn blue" onclick="CloseMe()" value="No" /> 

<br />

@RenderSection("scripts", required: false)


