﻿@{
    Layout = null;
    ViewBag.Title = ViewBag.Title ?? "Commission rate";
    ViewBag.Key = ViewBag.Key ?? 0;
    ViewBag.Inactive = ViewBag.Inactive ?? 0;
    ViewBag.Description = ViewBag.Description ?? "";
    ViewBag.Button = ViewBag.Button ?? "Proceed";
    ViewBag.Action = ViewBag.Action ?? "EditMemberCommissionRate";
}

<script src="~/assets/global/scripts/CommissionRateValidation.js"></script>
@*@using (Html.BeginForm((string)ViewBag.Action, "Member",FormMethod.Post))*@
@using (Ajax.BeginForm("EditCheckCommission", "Member", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog", OnSuccess = "Successful" }))
{

    @RenderBody()
    <div style="vertical-align:middle;">
        <input class="btn blue" type="button" id="submitResult" value="@ViewBag.Button" />
        <input type="button" class="btn blue" onclick="CloseMe()" value="Cancel" />

    </div>
}

@RenderSection("scripts", required: false)
<style type="text/css">
    .tooltip-inner {
        background-color: yellow;
        color: black;
        width: 1500px
    }
</style>
<script src="~/Scripts/Common-Utils.js?v=1.0.0.0" type="text/javascript"></script>
<script src="~/Scripts/pages/PH-EditMemberCommissionRate.js?v=1.0.0.0" type="text/javascript"></script>

<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center",
         width: 800,
         height: 650
     });
    function CloseMe() {
        $("#dialog").dialog("close");
    }

</script>