﻿@{
    Layout = null;
    ViewBag.Title = ViewBag.Title ?? "Edit";
    ViewBag.Key = ViewBag.Key ?? 0;
    ViewBag.Inactive = ViewBag.Inactive ?? 0;
    ViewBag.Description = ViewBag.Description ?? "";
    ViewBag.Button = ViewBag.Button ?? "Update";
    ViewBag.Action = ViewBag.Action ?? "CreateMemberRental"; 
}
   
@*@using (Ajax.BeginForm("EditMemberRentFree", "Member", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog", OnSuccess = "Successful" }))*@
@using (Html.BeginForm("EditMemberRentFree", "Member"))
{
    @RenderBody()<br />
    <div style="vertical-align:middle;">
        <input class="btn blue" type="submit" value="@ViewBag.Button" />
         <input type="button" class="btn blue" onclick="CloseMe()" value="Cancel" /> 
    </div>
}
@RenderSection("scripts", required: false)

<script type="text/javascript">
     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center",
         width: "@ViewBag.DialogSize"
     });
        function CloseMe() {
            $("#dialog").dialog("close");
        }

        $(document).ready(function () {
            $("#RentFreeChk").click(function () {

            if ($("#RentFreeChk").attr("checked"))
            {
                $("#RentFreeEndDatelbl").show();
                $("#RentFreeStartDatelbl").show();
                $("#RentFreeStartDate1").show();
                $("#RentFreeEndDate").show();

                $("#RentalAmountNewlbl").hide();
                $("#RentalAmountNew").hide();
                $("#EndDateNewlbl").hide();
                $("#EndDateNew").hide();
            }
            else
            {
                $("#RentFreeEndDatelbl").hide();
                $("#RentFreeStartDatelbl").hide();
                $("#RentFreeStartDate1").hide();
                $("#RentFreeEndDate").hide();

                $("#RentalAmountNewlbl").show();
                $("#RentalAmountNew").show();
                $("#EndDateNewlbl").show();
                $("#EndDateNew").show();
            }
        });
        });


        $(document).ready(function () {
            $("#RentFreeEndDatelbl").hide();
        });
        $(document).ready(function () {
            $("#RentFreeStartDatelbl").hide();
        });
        $(document).ready(function () {
            $("#RentFreeStartDate1").hide();
        });
        $(document).ready(function () {
            $("#RentFreeEndDate").hide();
        });
</script>



