﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Phoenixweb</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/css1")
        @Scripts.Render("~/bundles/modernizr")

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
            @*<script src="~/Scripts/jquery-ui-1.10.4.custom.min.js"></script>*@
        @*@Scripts.Render("~/bundles/jqueryui")*@


    </head>
    <body style="margin-left:270px; margin-right:270px">
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">
                        <img src="~/Images/LIV002_LiveGroupLogo_CMYK.png" height="50" width="100" />
                    </p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @*@Html.Partial("_LoginPartial")*@
                    </section>
                 
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - LiveGroup Phoenix Web</p>
                </div>
            </div>
        </footer>

   
    </body>
</html>
     @RenderSection("scripts", required: false)