﻿@{
    Layout = null;
}
<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center"

     });

   function CloseMe() {

        $("#dialog").dialog("close");
    }

</script>
@using (Ajax.BeginForm("AddMemberToLiveSMS", "Member", null, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog", OnSuccess = "Successful" }))
{
    @RenderBody()
    <div style="vertical-align:middle;float:right">
        <input class="btn blue" type="submit" value="Add" />
        <input type="button" class="btn blue" onclick="CloseMe()" value="Cancel" />    
    </div>

}


<br />
@RenderSection("scripts", required: false)



