﻿@{
    Layout = null;
    ViewBag.Title = ViewBag.Title ?? "Edit";
    ViewBag.Key = ViewBag.Key ?? 0;
    ViewBag.Inactive = ViewBag.Inactive ?? 0;
    ViewBag.Description = ViewBag.Description ?? "";
    ViewBag.Button = ViewBag.Button ?? "Search";
    ViewBag.Action = "ManualVoucher";
}
    
@using (Ajax.BeginForm("ManualVoucher", "Cashing", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog", OnSuccess = "Successful" }))
{
    @RenderBody()      
     <div style="vertical-align:middle;">
         <input class="btn blue" type="submit" value="@ViewBag.Button" />
         <input type="button" class="btn blue" onclick="CloseMe()" value="Cancel" /> 
         @Html.ActionLink("Process", "AddManualVoucher", "Cashing", new { @style = "float:right", @class = "btn blue" })
       
        @if (ViewBag.Key>0)
        {
        @Ajax.ActionLink("Cancel", "View", new { Key = ViewBag.Key }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class="cancelbutton"}) 
        }
    </div>

}

<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center",
         width: "@ViewBag.DialogSize"
     });
    function CloseMe() {
        $("#dialog").dialog("close");
    }

      $(document).ready(function () {
              var val1 = $("#LastCursor").val()
              $('#' + val1).focus();
      });

    @*$(document).ready(function () {
        $("#BsbNumber").keyup(function () {
            var val1 = $("#BsbNumber").val()
            if (val1.length > 5) {
                var hypen = $("#BsbNumber").val(val1.substring(0, 3) + '-' + val1.substring(3, 6))
            }
        });
    });

    $(document).ready(function () {
    
        $("#MemberSearchField").autocomplete({
            source: '@Url.Action("AutoCompleteGeneralMemberSearch")'

        });
    });*@
 </script>

@RenderSection("scripts", required: false)
