﻿@{
    Layout = null;
    ViewBag.Title = ViewBag.Title ?? "Edit";
    ViewBag.Key = ViewBag.Key ?? 0;
    ViewBag.Inactive = ViewBag.Inactive ?? 0;
    ViewBag.Description = ViewBag.Description ?? "";  
}
 
    @using (Ajax.BeginForm("ManualVoucher", "Cashing", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "Successful" }))
    {
        @RenderBody() <br />
        <div style="float:right;">
            <input class="btn blue" type="submit" name="Command" formtarget="_blank" value="@ViewBag.Button" />
            <input type="button" class="btn blue" onclick="CloseMe()" value="Close" />
        </div>
       
    }

    <script type="text/javascript">

        $("#dialog").dialog({
            title: "@ViewBag.Title",
            position: "center",
            width: 200
        });
        function CloseMe() {
            $("#dialog").dialog("close");
        }
        $('.bus').bind('click', function () {
            var s1 = $(this).attr('id');       
            $.ajax({
                url: '@Url.Action("SetServicefee","Cashing")',
                data: { Servicefee: s1 },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    if (data == "Success") {

                    }
                },
                error: function () {
                    alert("Error");
                }
            });

        });


    </script>

    @RenderSection("scripts", required: false)
