﻿@{
    Layout = null;
    ViewBag.Title = ViewBag.Title ?? "Edit";
    ViewBag.Key = ViewBag.Key ?? 0;
    ViewBag.Inactive = ViewBag.Inactive ?? 0;
    ViewBag.Description = ViewBag.Description ?? "";
    ViewBag.Button = ViewBag.Button ?? "Search";
    ViewBag.Action = ViewBag.Action ?? "SearchMember"; 
}
    
@using (Ajax.BeginForm("SearchAuthorisedMember", "Member", new { MemberKey = @ViewBag.Memberkey }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog", OnSuccess = "Successful" }, new { id = "mySpinner" }))
{
    <img id="myLoadingElement" style="position:fixed;top:50%;left:50%" src="~/Images/loading-spinner-default.gif" />
    @RenderBody()
     <div style="vertical-align:middle;">
         <input class="btn blue" type="submit" />
         <input type="button" class="btn blue" onclick="CloseMe()" value="Cancel" /> 
        @if (ViewBag.Key > 0)
        {
        @Ajax.ActionLink("Cancel", "View", new { Key = ViewBag.Key }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "cancelbutton" }) 
        }
    </div>

}



<script type="text/javascript">
   
     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center",
         width: "@ViewBag.DialogSize"
     });
    function CloseMe() {
        $("#dialog").dialog("close");
    }
    $(document).ready(function () {
        $("#BsbNumber").keyup(function () {
            var val1 = $("#BsbNumber").val()
            if (val1.length > 5) {
                var hypen = $("#BsbNumber").val(val1.substring(0, 3) + '-' + val1.substring(3, 6))
            }
        });
    });

    $(document).ready(function () {
    
        $("#MemberSearchField").autocomplete({
            source: '@Url.Action("AutoCompleteGeneralMemberSearch","AjaxAdmin")'

        });
    });

    $("#myLoadingElement").hide();

    $("#mySpinner").submit(function (e) {
        $("#myLoadingElement").show();
    });
 </script>

@RenderSection("scripts", required: false)
