﻿@{
    Layout = null;
    ViewBag.Title = ViewBag.Title ?? "Edit";
    ViewBag.Key = ViewBag.Key ?? 0;
    ViewBag.Inactive = ViewBag.Inactive ?? 0;
    ViewBag.Description = ViewBag.Description ?? "";
    ViewBag.Button = ViewBag.Button ?? "Add Notes";
    ViewBag.Action = ViewBag.Action ?? "CreateMemberNotes"; 
}
    
@using (Ajax.BeginForm("CreateMemberNotes", "Member", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog" }))
{
    @RenderBody()

     <div style="vertical-align:middle;float:right">
         <input class="btn blue" type="submit" value="Submit" />
         <button class="btn blue" onclick="CloseMe()">Cancel</button>
    
    </div>
}

@RenderSection("scripts", required: false)

<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center",
         width: "@ViewBag.DialogSize",
         modal: true
     });
    function CloseMe() {
        $("#dialog").dialog("close");
    }
 </script>

