﻿@{
    Layout = null;
    ViewBag.Title = ViewBag.Title ?? "Edit";
    ViewBag.Key = ViewBag.Key ?? 0;
    ViewBag.Inactive = ViewBag.Inactive ?? 0;
    ViewBag.Description = ViewBag.Description ?? "";
    ViewBag.Button = ViewBag.Button ?? "Add Notes";
    ViewBag.Action = ViewBag.Action ?? "CreateMemberNotes"; 
}
    
@using (Html.BeginForm("CreateMemberNotes", "Cashing",FormMethod.Post))
{
    @RenderBody()

     <div style="vertical-align:middle;">
         <input class="btn blue" type="submit" value="@ViewBag.Button" />
         <button class="btn blue" onclick="CloseMe()">Cancel</button>
        @if (ViewBag.Key>0)
        {
        @Ajax.ActionLink("Cancel", "View", new { Key = ViewBag.Key }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class="cancelbutton"}) 
        }
    </div>
}

@RenderSection("scripts", required: false)

<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center",
         width: "@ViewBag.DialogSize"
     });
    function CloseMe() {
        $("#dialog").dialog("close");
    }
 </script>

