﻿@{
    Layout = null;
    ViewBag.Title = ViewBag.Title ?? "Edit";
    ViewBag.Key = ViewBag.Key ?? 0;
    ViewBag.Inactive = ViewBag.Inactive ?? 0;
    ViewBag.Description = ViewBag.Description ?? "";
    ViewBag.Button = ViewBag.Button ?? "Search";
}

@using (Ajax.BeginForm("SearchMerchant", "Member", new { MemberKey = @ViewBag.Memberkey, CurrentUserId = @ViewBag.CurrentUserId }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog" }, new { id = "mySpinner" }))
{
    <img id="myLoadingElement" style="position:fixed;top:40%;left:50%" src="~/Images/loading-spinner-default.gif" />
    @RenderBody()
    <div style="vertical-align:middle;">
        <input class="btn blue" type="submit" value="Search" />
        <input type="button" class="btn blue" onclick="CloseMe()" value="Cancel" />
        @if (ViewBag.Key > 0)
        {
            @Ajax.ActionLink("Cancel", "View", new { Key = ViewBag.Key }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog" }, new { Class = "cancelbutton" })
        }
    </div>

}



<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center",
         width: "@ViewBag.DialogSize"
     });
    function CloseMe() {
        $("#dialog").dialog("close");
    }

    $("#myLoadingElement").hide();

    $("#mySpinner").submit(function (e) {
        $("#myLoadingElement").show();
    });
</script>

@RenderSection("scripts", required: false)
