﻿@{
    Layout = null;
    ViewBag.Title = "New Batch";
}
<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center"

     });

        function CloseMe() {
            $("#dialog").dialog("close");
        }
</script>

@RenderBody() <br />
@Html.ActionLink("Yes", "NewBatch", new { BtnType = "New" } , new { Class = "btn blue" })
@*<button class="btn blue" onclick="CloseMe()">No</button>*@
<input type="button"class="btn blue" onclick="CloseMe()" value="No" /> 

<br />
@RenderSection("scripts", required: false)



