﻿@{
    Layout = null;
    ViewBag.Title = ViewBag.Title ?? "Edit";
    ViewBag.Key = ViewBag.Key ?? 0;
    ViewBag.Inactive = ViewBag.Inactive ?? 0;
    ViewBag.Description = ViewBag.Description ?? "";
    ViewBag.Button = ViewBag.Button ?? "Add Batch";
    ViewBag.Action = "Sameday";
}
    
@using (Html.BeginForm("AddNoReceipt", "Cashing"))
{

 
    <div style="vertical-align:middle;float:right">
        <input class="btn blue" type="submit" value="@ViewBag.Button" />
        <input type="button" class="btn blue" onclick="CloseMe()" value="Cancel" />
    </div>
    <img id="myLoadingElement" style="position:fixed;top:50%;left:50%" src="~/Images/loading-spinner-default.gif" />
    @RenderBody()      
     @*<div style="vertical-align:middle;float:right">
         <input class="btn blue" type="submit" value="@ViewBag.Button" />
         <input type="button" class="btn blue" onclick="CloseMe()" value="Cancel" /> 
    </div>*@
}

<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center",
         width: "@ViewBag.DialogSize"
     });
    function CloseMe() {
        $("#dialog").dialog("close");
    }
    $("#myLoadingElement").hide();

    $("#mySpinner").submit(function (e) {
        $("#myLoadingElement").show();
    });
 </script>

@RenderSection("scripts", required: false)
