﻿@{
    Layout = null;
}

<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center",
         width: "@ViewBag.DialogSize"

     });

    function CloseMe() {
        $("#dialog").dialog("close");
    }

</script>
@RenderBody() <br />

@*<button class="btn blue" onclick="CloseMe()">Close</button>*@
@Html.ActionLink("Close", "PaperRollRequest", "MembersRequest", null, new { Class = "btn blue" })

<br />



@RenderSection("scripts", required: false)

