﻿@{
    ViewBag.Title = "Confirm";
    Layout = null;
}
<script type="text/javascript">

    $("#dialog").dialog({
         title: "@ViewBag.Title",
        position: "center",
        width: "@ViewBag.DialogSize"
     });

    function CloseMe() {
        $("#dialog").dialog("close");
    }
</script>

    @RenderBody()
    <div style="vertical-align:middle;">
        @Html.ActionLink("Yes", "PayWithdrawal","Cashing", new { Class = "btn blue" })
        <input type="button" class="btn blue" onclick="CloseMe()" value="Cancel" />
    </div>


@RenderSection("scripts", required: false)


