﻿@{
    Layout = null;
}

<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center"

     });

    function CloseMe() {
        $("#dialog").dialog("close");
    }

</script>
@RenderBody() <br />
<button class="btn blue" onclick="CloseMe()">Close</button>

<br />



@RenderSection("scripts", required: false)

