﻿@{
    Layout = null;
}
<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center"

     });

   function CloseMe() {

        $("#dialog").dialog("close");
    }

</script>
@RenderBody() <br />
@Ajax.ActionLink("Pay Batch", "PayDone", new { BtnType = "Pay1" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn blue" })
<input type="button" class="btn blue" onclick="CloseMe()" value="No" /> 

<br />
@RenderSection("scripts", required: false)



