﻿@using System.Web.Mvc.Html
@model PhoenixWeb.Models.ViewModel.QantasPointEarnedRateVM

<style>
    .field-validation-error{
        color: red;
    }
    .warning{
        color: #cabb09;
    }
</style>

<div id="qatasEarnedRateDialog" style="display:none;">
    <h3 id="title" class="control-label"> Add new QBR Earned Rate</h3>
    <label id="warningMesage" class="warning"></label>
    <form id="PointEarnedRateForm" action="UpdateQantasPointEarnedRate" method="post">
        <div class="form-body">
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.GroupID)
            <input id="IsUsed" value="" type="hidden">
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.ExchangeRateTypeCode, new { @class = "control-label " })
                </div>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.ExchangeRateTypeCode, new List<SelectListItem>(), "", new { @class = "form-control" })
                </div>
            </div>
            <div class="row" id="QantasExchangeRateRow" style="margin-bottom: 15px;">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.QantasExchangeRate, new { @class = "control-label " })
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.QantasExchangeRate, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.QantasExchangeRate)
                </div>
            </div>
            <div class="row" id="NameRow" style="margin-bottom: 15px;">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label " })
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="row" id="StartDateRow" style="margin-bottom: 15px;">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.StartDate, new { @class = "control-label " })
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control datepicker datecheck", @readonly = "readonly", @style = "cursor: unset;", @title = "Start Date must be smaller End Date and larger past date." })
                    @Html.ValidationMessageFor(model => model.StartDate)
                </div>
            </div>
            <div class="row" id="EndDateRow" style="margin-bottom: 15px;">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.EndDate, new { @class = "control-label " })
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control datepicker datecheck", @readonly = "readonly", @style = "cursor: unset;", @title = "End Date must be larger Start Date and past date." })
                    @Html.ValidationMessageFor(model => model.EndDate)
                </div>
            </div>
            <div class="row" id="EffectedDayRow" style="margin-bottom: 15px;">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.EffectedDay, new { @class = "control-label " })
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.EffectedDay, new { @class = "form-control", type = "number", min = "1" })
                    @Html.ValidationMessageFor(model => model.EffectedDay)
                </div>
            </div>
            <div class="row" id="GroupNameRow" style="margin-bottom: 15px;">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.GroupName, new { @class = "control-label " })
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.GroupName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.GroupName)
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-12">
                    <input type="button" value="Save" style="float:right;" onclick="onSaveExchangeRate()" id="btnSave" class="btn btn-primary">
                </div>
            </div>
        </div>
    </form>
</div>