﻿@{
    Layout = null;
    ViewBag.Title = ViewBag.Title ?? "Edit";
    ViewBag.Key = ViewBag.Key ?? 0;
    ViewBag.Inactive = ViewBag.Inactive ?? 0;
    ViewBag.Description = ViewBag.Description ?? "";
    ViewBag.Button = ViewBag.Button ?? "Search";
    ViewBag.Action = "QuickScan";
}
    
@using (Ajax.BeginForm("QuickScannning", "Cashing", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog", OnSuccess = "Successful" }))
{
    @RenderBody()      
     <div style="vertical-align:middle;">
         @*<button id="submit1" type="submit" onfocus="onSubmitfocus1()" onkeyup="onsub1()" onclick="onsub1()" class="btn blue">Submit</button>*@

         <button id="submitBh" type="submit" @*onfocus="onSubmitfocus1()"*@ class="btn blue">Submit</button>

         <input type="button" class="btn blue" onclick="CloseMe()" value="Close" /> 
         
         @Html.ActionLink("Process", "ProcessQuickScan", "Cashing", new { @class = "btn blue", @float = "right" })
     
    </div>

}

<script type="text/javascript">

    $("#dialog").dialog({
        title: "@ViewBag.Title",
        position: "center",
        width: "@ViewBag.DialogSize"
     });
    function CloseMe() {
        $("#dialog").dialog("close");
    }
      //$(window).load(function() {
      //    $("#QSTopBC").focus();
      //});
    

      $(document).ready(function () {
          $("#QSTopBC").focus();
      });


      function getfocus1() {
        
          $("#error1").text("");
          var tb = $("#QSTopBC").val().length;
          var tbt = $("#QSTopBC").val()
          var bb = $("#QSBottomBC").val().length;
          var bbt = $("#QSBottomBC").val();
          if (tb < 8) {
              $("#QSTopBC").focus();
              $("#error1").text("Minimum 11-12 characters");
          }
          else if (bb < 6) {
              $("#QSBottomBC").focus();
              $("#error1").text("Minimum 11-12 characters");
          }
          else if (bbt == tbt) {
              $("#error1").text("rescan");
              $("#QSTopBC").focus();
              $("#QSTopBC").select();
          }
          else if (tbt.substring(0, 1) == "0" || tbt.substring(0, 1) == "1" || tbt.substring(0, 1) == "2" || tbt.substring(0, 1) == "3")
          {
              $("#error1").text("rescan");
              $("#QSTopBC").focus();
              $("#QSTopBC").select();
          }
          else {
              var ButtonKeys11 = { "EnterKey": 9 };
              var ButtonKeys12 = { "EnterKey": 13 };
              //$(function () {
              //    $("#QSBottomBC").keypress(function (e) {
              //        if (e.which == ButtonKeys11.EnterKey) {
              document.getElementById('submitBh').click()
                         // document.getElementById('submitBh').click()
                         // return false;
                    //  }
                    
              //    });
              //});
          }
      }


      //function getfocus1() {

      //    alert("Hi")
      //    //('#btmSubmit').trigger('click');

      //    alert("Hi12")
      //       //var ButtonKeys11 = { "EnterKey": 9 };
      //    // $(function () {
      //    //alert("Hi")
      //    //$("#QSBottomBC").keydown(function (e) {
      //    //    alert("Hi2")
      //    //    var code = e.keyCode || e.which;
            
      //    //            if (code === 9) {
                   
      //   // document.getElementById('#btmSubmit').focus()
      //  //  document.getElementById('#btmSubmit').click()
      //                    //return false;
      //                //}
      //                //if (e.which == ButtonKeys11.EnterKey) {
      //                //    document.getElementById('#btmSubmit').focus()
                         
      //                //}

      //            //});
      //        //});
      //    }     


      //function onSubmitfocus1() {
        //  document.getElementById('submitBh').click()
          //('#btmSubmit').trigger('click');
      //}
      function onsub11() {
          document.getElementById('#QSTopBC').focus()
          document.getElementById('#QSTopBC').select()
      }
 </script>

@RenderSection("scripts", required: false)
