﻿@{
    Layout = null;
    ViewBag.Title = ViewBag.Title ?? "Edit";
    ViewBag.Key = ViewBag.Key ?? 0;
    ViewBag.Inactive = ViewBag.Inactive ?? 0;
    ViewBag.Description = ViewBag.Description ?? "";
    ViewBag.Button = ViewBag.Button ?? "Redeem Vouchers";
    ViewBag.Button = ViewBag.Button ?? "Redeem Vouchers";
    ViewBag.Action = "RedeemVouchers";
}
 
    @*@using (Ajax.BeginForm("RedeemVouchers", "Cashing", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog", OnSuccess = "Successful" }))*@
    @using (Html.BeginForm("RedeemVouchers", "Cashing",FormMethod.Post))
    {
        <div style="float:right;">
            <input class="btn blue" type="submit" name="Command" formtarget="_blank" value="@ViewBag.Button" onclick="return confirm('are you sure you want to redeem voucher');" />
            @*<input class="btn blue" type="submit" name="Command" formtarget="_blank" value="@ViewBag.Button" onclick="return confirm('are you sure you want to redeem voucher');" />*@
            @*@Html.ActionLink("Redeem Vouchers", "RedeemVouchersProcess", "Cashing", new { VoucherType = "VoucherTypeVal", Override ="OverrideVal" }, new {id="Ink", target = "_blank", Class = "btn blue" })*@
            <input class="btn blue" type="submit" name="Command" formtarget="_blank" value="Use Vouchers" onclick="return confirm('are you sure you want to redeem & used voucher');" />

               @*<input class="btn blue" type="submit" name="Command"  value="Use Vouchers" />*@
            <input type="button" class="btn blue" onclick="CloseMe()" value="Close" />


        </div>
        @RenderBody()
    }

    <script type="text/javascript">

        $("#dialog").dialog({
            title: "@ViewBag.Title",
            position: "center",
            width: "@ViewBag.DialogSize"
        });
        function CloseMe() {
            $("#dialog").dialog("close");
        }

        $(document).ready(function () {
            var val1 = $("#LastCursor").val()
            $('#' + val1).focus();
        });

        $("#Ink").click(function (evt) {
            var fakedUri = $("#Ink").prop("href");
            var uri1 = fakedUri.replace("OverrideVal", $("#Override").val());
            var uri2 = fakedUri.replace("VoucherTypeVal", $("#VoucherType").val());
        });


        @*$(document).ready(function () {
        $("#BsbNumber").keyup(function () {
            var val1 = $("#BsbNumber").val()
            if (val1.length > 5) {
                var hypen = $("#BsbNumber").val(val1.substring(0, 3) + '-' + val1.substring(3, 6))
            }
        });
    });

    $(document).ready(function () {

        $("#MemberSearchField").autocomplete({
            source: '@Url.Action("AutoCompleteGeneralMemberSearch")'

        });
    });*@
    </script>

    @RenderSection("scripts", required: false)
