﻿@{
    ViewBag.Title = "Register";
    Layout = null;
}
<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center",
         width: "@ViewBag.DialogSize"
     });

    function CloseMe() {
        $("#dialog").dialog("close");
    }

</script>
@using (Ajax.BeginForm("AddMemberPortalMembership", "Member", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog", OnSuccess = "Successful" }))
{
    @RenderBody()
    <br />
    <div style="vertical-align:middle;">
        <input class="btn blue" type="submit" value="Register" />
        <input type="button" class="btn blue" onclick="CloseMe()" value="Cancel" />
     
    </div>
}

<br />

@RenderSection("scripts", required: false)


