﻿@{
    Layout = null;

}
@RenderBody() <br />
@Ajax.ActionLink("Remove", "Remove", new { BtnType = "Remove" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn blue" })
<button class="btn blue" onclick="CloseMe()">Close</button>
<br />
@RenderSection("scripts", required: false)

<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center"
        
     });

    function CloseMe() {
        $("#dialog").dialog("close");
    }

 </script>

