﻿@{
    Layout = null;
    ViewBag.Title = ViewBag.Title ?? "Edit";
    ViewBag.Key = ViewBag.Key ?? 0;
    ViewBag.Inactive = ViewBag.Inactive ?? 0;
    ViewBag.Description = ViewBag.Description ?? "";
    ViewBag.Button = ViewBag.Button ?? "Update";
    ViewBag.Action = ViewBag.Action ?? "CreateMemberRental"; 
}
   
@using (Ajax.BeginForm((string)ViewBag.Action, "Member", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog", OnSuccess = "Successful" }))
//@using (Html.BeginForm((string)ViewBag.Action, "Member"))
{
    @RenderBody()
    <div style="vertical-align:middle;">
        <input class="btn blue" type="submit" value="@ViewBag.Button" />
         <input type="button" class="btn blue" onclick="CloseMe()" value="Cancel" /> 
    </div>
}
<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center",
         width: "@ViewBag.DialogSize"
     });
        function CloseMe() {
            $("#dialog").dialog("close");
        }
        $(document).ready(function () {
            $("#MonthlyRental1").change(function () {
                var MemberRentalTemplateKeyVal = $("#MonthlyRental1").val();

                $("#TerminalRentalRateTb1").empty();
                $("#TerminalRentalRateTbSF1").empty();
                $("#TerminalRentalRateTb1").show();
                $.ajax({
                    url: '@Url.Action("GetTerminalRentalRateList", "AjaxAdmin")',
                    data: { MemberRentalTemplateKey: MemberRentalTemplateKeyVal },
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        $("#TerminalRentalRateTb1").append(
                             $("<thead></thead>").append(
                                   $("<tr></tr>").append(
                                      $("<th></th>").append('Transaction Target'),
                                      $("<th></th>").append('Rent Amount'),
                                      $("<th></th>").append('New Amount')
                             )
                            )
                        );
                        $.each(data, function (i, item) {
                            $("#TerminalRentalRateTb1").append(
                                $("<tr></tr>").append(
                                    $("<td></td>").append('$' + item.TransactionTarget.toFixed(2)),
                                    $("<td></td>").append('$' + item.RentAmount.toFixed(2)),
                                    $("<td></td>").append($('<input style="width:60px" type="number">').attr('id', item.TerminalRentalRate_key).attr('name', item.TerminalRentalRate_key))
                                )
                                 );
                        });
                    }
                });
            });
        });


    $(document).ready(function () {
        if($("#RentalRentFree").attr("checked"))
        {
            $("#MonthlyRental1").prop("disabled", true);
            $("#TerminalRentalRateTb1").empty();
            $("#TerminalRentalRateTbSF1").empty();
        }
        else
        {
            $("#MonthlyRental1").prop("disabled", false);
        }
    });
</script>
@RenderSection("scripts", required: false)


