﻿@{
    Layout = null;
    ViewBag.Title = ViewBag.Title ?? "Edit";
    ViewBag.Key = ViewBag.Key ?? 0;
    ViewBag.Inactive = ViewBag.Inactive ?? 0;
    ViewBag.Description = ViewBag.Description ?? "";
    ViewBag.Button = ViewBag.Button ?? "Add";
    ViewBag.Action = "Sameday";
}
    
@using (Ajax.BeginForm("Sameday", "Cashing", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog", OnSuccess = "Successful" }))
{
    @RenderBody()      
     <div style="vertical-align:middle;">
         <input class="btn blue" type="submit" value="@ViewBag.Button" id="btnAddSamedayCashing"/>
         <input type="button" class="btn blue" onclick="CloseMe()" value="Cancel" /> 
         @if(@ViewBag.ShowProcess == "true")
         {
            @Html.ActionLink("Process", "AddSameDayCashing", "Cashing", new { @style="float:right", @class = "btn blue" })
         }  
         else
         {
             <span style="color:red;float:right">Batch total does not match: @ViewBag.BatchAmount</span>
         }    
       
        @if (ViewBag.Key>0)
        {
        @Ajax.ActionLink("Cancel", "View", new { Key = ViewBag.Key }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class="cancelbutton"}) 
        }
    </div>
}

<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center",
         width: "@ViewBag.DialogSize"
     });
    function CloseMe() {
        $("#dialog").dialog("close");
    }
   
    $("#abcd1").dialog("close");

    $('#btnAddSamedayCashing').click(function () {
        $('#form0').submit();
    });
    @*$(document).ready(function () {
        $("#BsbNumber").keyup(function () {
            var val1 = $("#BsbNumber").val()
            if (val1.length > 5) {
                var hypen = $("#BsbNumber").val(val1.substring(0, 3) + '-' + val1.substring(3, 6))
            }
        });
    });

    $(document).ready(function () {
    
        $("#MemberSearchField").autocomplete({
            source: '@Url.Action("AutoCompleteGeneralMemberSearch")'

        });
    });*@
 </script>

@RenderSection("scripts", required: false)
