﻿@{
    ViewBag.Title = "Sameday cashing";
    Layout = null;
}
<script type="text/javascript">

    $("#abcd1").dialog({
         title: "@ViewBag.Title",
         position: "center"
     });

    function CloseMe() {
        $("#abcd1").dialog("close");
    }

</script>

@RenderBody() <br />
@Ajax.ActionLink("Yes", "SameDay", null, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn blue" })

<input type="button" class="btn blue" onclick="CloseMe()" value="No" /> 

<br />

@RenderSection("scripts", required: false)


