﻿@{
    Layout = null;
    ViewBag.Title = ViewBag.Title ?? "Edit";
    ViewBag.Key = ViewBag.Key ?? 0;
    ViewBag.Inactive = ViewBag.Inactive ?? 0;
    ViewBag.Description = ViewBag.Description ?? "";
    ViewBag.Button = ViewBag.Button ?? "Save";
    ViewBag.Action = ViewBag.Action ?? "AllocateMemberTerminal";
    ViewBag.MessageType = ViewBag.MessageType ?? "Message";
    ViewBag.MemberKey = ViewBag.MemberKey ?? 0;
}

@using (Ajax.BeginForm((string)ViewBag.Action, "Member", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog", OnSuccess = "ReloadPage" }))
{
    @RenderBody()
    <div style="vertical-align:middle;">
        <input class="btn blue" type="submit" value="@ViewBag.Button" />
        <input type="button" class="btn blue" onclick="CloseMe()" value="Close" />
        @if (ViewBag.Key > 0)
        {
            @Ajax.ActionLink("Cancel", "View", new { Key = ViewBag.Key }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { @class = "btn blue" })
        }
    </div>


}

@RenderSection("scripts", required: false)

<script type="text/javascript">

    ReloadPage = function () {
        @*if (@ViewBag.MemberKey) {
            window.location.href = Util.PH_UpdateURL() + "Member/Edit?member_key=@ViewBag.MemberKey";
        }*@
    };

    function Successful() {
        if ("@ViewBag.Action" == "AddRewardsManualEntry") {
            $('#dialog-message').dialog({
                title: "@ViewBag.MessageType",
                modal: true,
                buttons: [{
                    text: 'Close',
                    click: function () {
                        $(this).dialog('close');
                    },
                    class: 'btn blue'
                }]
            });
        }
    }
    $("#dialog").dialog({
        title: "@ViewBag.Title",
        position: "center",
        width: "@ViewBag.DialogSize",
        height: "auto",
        modal: true
    });
    function CloseMe() {
        $("#dialog").dialog("close");
    }
    @*$(document).ready(function () {
        $("#SaleReps").autocomplete({
            source: '@Url.Action("AutoCompleteEmployee")'

        });
    });*@

    $(document).ready(function () {
        $("#EftTerminal_key").autocomplete({
            source: '@Url.Action("AutoCompleteEftTerminalId")'
        });
    });

    $(document).ready(function () {
        $("#EftTerminal_key").focusout(function () {
            var Terminalid = $("#EftTerminal_key").val();
            if (Terminalid.length > 7) {
                $.ajax({
                    url: '@Url.Action("GetDefaultAllocationDate", "AjaxAdmin")',
                    data: { TerminalId: Terminalid },
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        $("#TerminalAllocationDate").val(data.dDate)
                        $("#warning").text("");
                        $("#TerminalAllocationActual").html(data.tActual)
                    },
                    error: function () {
                        alert("Error");
                    }
                });
            }
        });
    });

    $(document).ready(function () {
        $("#TerminalAllocationDate").focusin(function () {
            $("#warning").text("");
        });
        $("#TerminalAllocationDate").focusout(function () {
            var dat = $("#TerminalAllocationDate").val(); //yyyy-MM-dd

            var todaydate = new Date();
            var dtNow = new Date(todaydate.getFullYear(), todaydate.getMonth(), todaydate.getDate());

            var arrDt = dat.split("-");
            var allocationDate = new Date(arrDt[0], arrDt[1] - 1, arrDt[2]);

            if (allocationDate > dtNow) {
                $("#warning").text("You have selected future date for terminal allocation");
            }

            if (allocationDate < dtNow) {
                $("#warning").text("You have selected past date for terminal allocation");
            }
        });
    });
</script>

