﻿@{
    Layout = null;
    ViewBag.Title = ViewBag.Title ?? "Edit";
    ViewBag.Key = ViewBag.Key ?? 0;
    ViewBag.Inactive = ViewBag.Inactive ?? 0;
    ViewBag.Description = ViewBag.Description ?? "";
    ViewBag.Button = ViewBag.Button ?? "Scan";

    ViewBag.Action = "UseVouchers";
}
 
    @using (Ajax.BeginForm("UseVouchers", "Cashing", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog", OnSuccess = "Successful" }))
    {
        @RenderBody()
        <div style="float:right;">
            <input class="btn blue" type="submit" name="Command" formtarget="_blank" value="@ViewBag.Button" />
            <input type="button" class="btn blue" onclick="CloseMe()" value="Close" />
        </div>
       
    }

    <script type="text/javascript">

        $("#dialog").dialog({
            title: "@ViewBag.Title",
            position: "center",
            width: "@ViewBag.DialogSize"
        });
        function CloseMe() {
            $("#dialog").dialog("close");
        }
              
       
    </script>

    @RenderSection("scripts", required: false)
