﻿@{
    ViewBag.Title = "Confirm Cash Withdrwal";
    Layout = null;
}
<script type="text/javascript">

    $("#dialog").dialog({
         title: "@ViewBag.Title",
        position: "center",
        width: "@ViewBag.DialogSize"
     });

    function CloseMe() {
        $("#dialog").dialog("close");
    }
</script>


@using (Ajax.BeginForm("PayWithdrawalMsg", "Cashing", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog", OnSuccess = "Successful" }))
{
        @RenderBody()
    <div style="vertical-align:middle;">
        <input class="btn blue" type="submit" value="@ViewBag.Button" />
        <input type="button" class="btn blue" onclick="CloseMe()" value="Cancel" />
    </div>
}

@RenderSection("scripts", required: false)


