﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = null;
}

<hgroup class="title">
    <h1 class="error">Connection error.</h1>
    <h2 class="error">An error occurred while processing your request. Please contact Admin</h2>
    @Html.ValidationMessage("error")

</hgroup>

