﻿@{
    Layout = null;
    ViewBag.Title = "Details";
   
}

    @RenderBody()
   <br />
<input type="button" class="btn blue" onclick="CloseMe()" value="Close" /> 
@RenderSection("scripts", required: false)

<script type="text/javascript">

     $("#dialog").dialog({
         position: "center",
         width: "@ViewBag.DialogSize"
     });
     function CloseMe() {

         $("#dialog").dialog("close");
     }
   

 </script>

