﻿@{
    ViewBag.Title = "Menu";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div style="align-content:center; margin-left:35%; margin-right:35%">
    @if (ViewContext.Controller.HasPermission("CaseAddSaleFCase"))
    {
        <a href="@Url.Action("SearchCase", "Case")"><img id="SearchCase" src="~/Images/ICONS/AddCase.png" style="position:relative; float: left" /></a>
    }
    </div>
        @*<table cellpadding:"5" align="center">
            <tr>
                <td>
                    <a href="@Url.Action("SearchCase", "Case")"><img id="SearchCase" src="~/Images/ICONS/AddCase.png" /></a>
                </td>


            </tr>
        </table>*@
        @section scripts {
            <script type="text/javascript">
                $(document).ready(function () {
                    $(".active").removeClass("active open");
                    $(".Case").addClass("active open");
                });

            </script>
        }
