﻿@model PhoenixObjects.Salesforce.CaseModel
@{
    ViewBag.Title = "SearchCase";
}
<h3 class="page-title">
   Add Case in Salesforce
    <small>add new case</small>
</h3>
@using (Html.BeginForm())
{
    
    <div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
            Search Salesforce
        </div>
        <div class="tools">
            <a href="" class="expand"></a>

            <a href="" class="reload">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="horizontal-form">
            <div class="form-body">
                <h3 class="form-section">Search Member</h3>
             
                <div class="row">

                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Name", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <input type="text" class="form-control" required name="Name" id="Name" />
                                <span class="help-block">
                                </span>
                                <button type="submit" name="submitButton" value="Search" class="btn blue-madison"><i class="fa fa-search"></i>Search</button>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>



        @if(Model != null)
        { 
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form action="#" class="horizontal-form">
                <div class="form-body">
                    <h3 class="form-section">Add Case</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("SalesforceID", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    <input type="text" class="form-control" readonly="readonly" name="SalesforceID" id="SalesforceID" value="@Model.AccountSalesforceId" />
                                    <span class="help-block">

                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Contact Name", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    <input type="text" class="form-control" readonly="readonly" name="ContactName" id="ContactName" value="@Model.ContactName" />
                                    <span class="help-block">

                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("TerminalId", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    <input type="text" class="form-control" readonly="readonly" name="TerminalIDS" id="TerminalIDS" value="@Model.TerminalId" />
                                    <span class="help-block">

                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Account Name", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="AccountName" id="AccountName" readonly="readonly" value="@Model.AccountName" />
                                    <span class="help-block">

                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Phone Number", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    <input type="text" class="form-control" readonly="readonly" name="PhoneNo" id="PhoneNo" value="@Model.Phone" />
                                    <span class="help-block">

                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Subject", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="Subject" id="Subject" />
                                    <span class="help-block">

                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Email", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    <input type="text" class="form-control" readonly="readonly" name="Email" id="Email" value="@Model.Email" />
                                    <span class="help-block">

                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Description", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="Description" id="Description" />
                                    <span class="help-block">

                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Type", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    <select name="Type" id="Type" class="form-control">
                                        <option value="None">None</option>
                                        <option value="Technical Support">Technical Support</option>
                                        <option value="Account Support">Account Support</option>
                                    </select>
                                    <span class="help-block">

                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Status", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    <select name="Status" id="Status" class="form-control">
                                        <option value="New">New</option>
                                        <option value="On Hold">On Hold</option>
                                        <option value="Escalated">Escalated</option>
                                    </select>
                                    <span class="help-block">

                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Priority", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    <select name="Priority" id="Priority" class="form-control">
                                        <option value="None">None</option>
                                        <option value="High">High</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Low">Low</option>
                                    </select>
                                    <span class="help-block">

                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Case Origin", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    <select name="CaseOrigin" id="CaseOrigin" class="form-control">
                                        <option value="Email">Email</option>
                                        <option value="Phone">Phone</option>
                                        <option value="Web">Web</option>
                                        <option value="ChatterAnswer">Chatter Answer</option>
                                    </select>
                                    <span class="help-block">

                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Escalate", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.CheckBoxFor(model => model.EscalateB, new { @class = "form-control" })
                                    <span class="help-block">

                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="form-actions right">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" name="submitButton" value="SalesforceBtn" class="btn blue-madison" >Add To Salesforce</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
                </form>
                <!-- END FORM-->
            </div>
            }
    </div>
    
}
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".Case").addClass("active open");
        });

    </script>
}