﻿@model PhoenixObjects.QBR.QBRFileHistoryDetailVM

@{
    var title = Model.TradingName + " - #" + Model.QBRNumber;
    ViewBag.Title = title;
    Layout = "~/Views/Shared/_CommonViewDialog.cshtml";
    ViewBag.DialogSize = "1100";
    var fileHistory = Model.qbrFileHistories;
    var fileDetails = Model.qbrFileDetails;
}

@{
    if (Model.IsError)
    {
        <div>
            Unable to process the request. Please try again later.
        </div>
    }
    else
    {
        <ul class="nav nav-tabs nav-justified" role="tablist" id="historyTable">
            <li class="nav-item active">
                <a class="nav-link active" data-toggle="tab"  href="#historyPanel" id="history" role="tab"> History </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab"  href="#detailPanel" id="details" role="tab"> Details</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="historyPanel" role="tabpanel">
                <div class="portlet light bordered" id="HistoryTab">
                    <div class="portlet-body">
                        <div class="row" style="margin-bottom: 10px">
                            <div class="col-md-1">
                                <b>SUMMARY</b>
                            </div>
                            <div class="col-md-5">
                                <div class="col-md-6">
                                    MID
                                </div>
                                <div class="col-md-6">
                                    @Model.MemberId
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    Points
                                </div>
                                <div class="col-md-8">
                                    @string.Format("{0:N}", Model.Points)
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 10px">
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-5">
                                <div class="col-md-6">
                                    Trading Name
                                </div>
                                <div class="col-md-6">
                                    @Model.TradingName
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    Promotions Name
                                </div>
                                <div class="col-md-8">
                                    @Model.PromotionName
                                </div>
                            </div>
                        </div>

                        <br /><br />

                        <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: auto; max-height: 400px;">
                            <table class="table table-hover">
                                <thead>
                                    <tr style="background-color: #E1DBDB;">
                                        <th>
                                            Submitted Date
                                        </th>
                                        <th>
                                            File Name
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Reject Reason
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in fileHistory)
                                    {
                                        <tr>
                                            <td>
                                                @item.SubmittedDate
                                            </td>

                                            <td>
                                                @item.FileName
                                            </td>
                                            <td>
                                                @item.Status
                                            </td>
                                            <td>
                                                @if (item.Status.ToLower().Contains("rejected"))
                                                {
                                                    @item.UploadStatus
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="detailPanel" role="tabpanel">
                <div class="portlet light bordered" id="DetailTab">
                    <div class="portlet-body">
                        <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: auto; max-height: 400px;">
                            <table class="table table-hover">
                                <thead>
                                    <tr style="background-color: #E1DBDB;">
                                        <th style="text-align: right">
                                            Points Period
                                        </th>
                                        <th>
                                            Sub-business Type
                                        </th>
                                        <th>
                                            Card Type
                                        </th>
                                        <th style="text-align: right">
                                            Point-per-dollar
                                        </th>
                                        <th style="text-align: right">
                                            Points
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in fileDetails)
                                    {
                                        <tr>
                                            <td align="right">
                                               @item.MonthPeriod /@item.YearPeriod
                                            </td>
                                            <td>
                                                @item.SubBusinessTypeName
                                            </td>

                                            <td>
                                                @item.CardTypeName
                                            </td>
                                            <td align="right">
                                                @item.ExchangeRate
                                            </td>
                                            <td align="right">
                                                @string.Format("{0:##,###}", item.Points)
                                            </td>
                                            <td>
                                                @item.Description
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}