﻿@{
    ViewBag.Title = "Qantas Business Number change history";
    Layout = "~/Views/Shared/_CommonViewDialog.cshtml";
    ViewBag.DialogSize = "550";
}

    <div class="row">
        <div class="col-md-12">
            <div class="form-group" id="MemberQBRPointHistoryResult">
            </div>
        </div>
    </div>