﻿@model PhoenixWeb.Models.ViewModel.QBR.QBRSearchPointHistoryVM

<h3 class="page-title">
    Search Points History
</h3>

@using (Html.BeginForm())
{
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                Search
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <div class="form-body">
            </div>
            <div class="row" style="margin-bottom: 8px">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="col-md-5 center-control-label">
                                Member ID
                            </div>
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.MemberID, new { @class = "form-control search-param", @maxlength = "50", @pattern = "[^a-zA-Z0-9]" })
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="col-md-4 center-control-label">
                                QBR Number
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.QBRNumber, new { @class = "form-control  search-param", @maxlength = "50", @pattern = "[^a-zA-Z0-9]" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-bottom: 8px">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="col-md-5 center-control-label">
                                Business Type
                            </div>
                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.CompanyKey, Model.BusinessTypes, new { id = "CompanyKey", @class = "form-control search-param" })
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="col-md-4 center-control-label">
                                Point Period
                                <span class="glyphicon glyphicon-info-sign" style="padding-left: 10px;" title="The period when points were generated for transactions made within 2 months prior." data-placement="right"></span>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PeriodFrom, new { @class = "form-control monthpicker removeNotAllowCursor search-param", @readonly = "readonly", @placeholder = "From" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PeriodTo, new { @class = "form-control monthpicker removeNotAllowCursor search-param", @readonly = "readonly", @placeholder = "To" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-bottom: 8px">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="col-md-5 center-control-label">
                                Promotion Name
                            </div>
                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.PromotionID, Model.Promotions, new { id = "PromotionID", @class = "form-control search-param" })
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="col-md-4 center-control-label">
                                Submitted Date
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.SubmittedFrom, new { @class = "form-control datepicker removeNotAllowCursor search-param", @readonly = "readonly", @placeholder = "From" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.SubmittedTo, new { @class = "form-control datepicker removeNotAllowCursor search-param", @readonly = "readonly", @placeholder = "To" })
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-bottom: 8px">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="col-md-5 center-control-label">
                                File Name
                            </div>
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.FileName, new { @class = "form-control  search-param", @maxlength = "50", @pattern = "[^a-zA-Z0-9-_.]" })
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="col-md-4 center-control-label">
                                Status
                            </div>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.StatusID, Model.QBRFileStatuses, new { id = "StatusID", @class = "form-control search-param" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12" style="background-color: #efefef; height: 50px; padding-top: 8px">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-6" style="text-align:right">
                                    <a href="#" class="reset" id="reset">Reset</a>
                                    <button type="submit" id="btnSearch" name="Command" value="Search" onclick="SearchQBRHistory(event)" class="btn searchButton">SEARCH</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="portlet box blue grid-wrapper">
        <div class="portlet-title">
            <div class="caption">
                Results
                @if (ViewContext.Controller.HasPermission("ExportQBRSearchPointHistory"))
                {
                    <button type="submit" id="btnExport" onclick="ExportQBRHistory(event)" name="Export" class="btn exportButton">EXPORT DATA</button>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" id="QBRPointHistorySearchResult">
                </div>
            </div>
        </div>
    </div>
}
<style>
    .removeNotAllowCursor {
        cursor: auto !important
    }

    .datepicker {
        background-color: white !important;
    }

    .monthpicker {
        background-color: white !important;
    }

    #ui-datepicker-div .ui-datepicker-month,
    #ui-datepicker-div .ui-datepicker-month option {
        color: black !important;
    }

    #ui-datepicker-div .ui-datepicker-year,
    #ui-datepicker-div .ui-datepicker-year option {
        color: black !important;
    }

    .ui-monthpicker-remove-calendar {
        display: none;
    }

    .reset {
        margin-right: 20px;
        color: grey;
    }

    .disableKeyword {
        color: #C1C1C1;
    }

    .exportButton {
        background-color: #efefef;
        width: 150px;
        color: grey;
        margin-left: 1.5em;
        border-radius: 2px !important;
    }

    .searchButton {
        background-color: #3598dc;
        width: 100px;
        color: white;
        border-radius: 2px !important;
    }

    .ui-jqgrid tr.jqgrow td {
        height: 32px !important;
    }

    .ui-jqgrid table.ui-jqgrid-htable,
    .ui-jqgrid .ui-jqgrid-htable th {
        height: 36px !important;
    }

    .ui-state-hover, .ui-widget-content .ui-state-hover {
        border: 1px solid #c1c1c1;
        background: #EEEEEE;
        font-weight: bold;
        color: #363636;
    }

    .ui-state-highlight, .ui-widget-content .ui-state-highlight {
        border: 1px solid #c1c1c1;
        background: #EEEEEE;
        color: #363636;
    }

    .grid-col-padding-left {
        padding-left: 8px !important;
    }

    .grid-col-padding-right {
        padding-right: 8px !important;
    }

    .ui-jqgrid,
    .ui-jqgrid .ui-jqgrid-view,
    .ui-jqgrid .ui-jqgrid-pager,
    .ui-jqgrid .ui-pg-input,
    .ui-widget .btn-inline {
        font-size: 12px !important;
        font-family: 'Open Sans', sans-serif !important;
    }

    .btn-inline {
        border-collapse: collapse;
        border-width: thin;
        border-radius: 2px !important;
        outline: none;
        background-color: #FFFFFF;
    }

    .clickable {
        cursor: pointer;
    }

    .btn-inline:hover {
        background-color: #3598DC;
        color: #FEFEFE;
        border: none;
    }

    .ui-state-default .ui-th-column {
        padding-right: 1px !important;
    }

    .s-ico {
        padding-right: 7px !important;
    }

    .ui-jqgrid .ui-icon-asc {
        margin-left: 1px;
    }

</style>

@section scripts {
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/pages/QBR/PH-SearchPointHistory.js" type="text/javascript"></script>
    <script src="~/Scripts/pages/QBR/PH-QBRService.js"></script>
}