﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".Member").addClass("active open");
        });

    </script>
}
