﻿@{
    ViewBag.Title = "Menu";
}
<table cellpadding:"5" align="center">
    <tr>
        <td>
            <a href="@Url.Action("Create", "MemberSignUp")"><img id="CreateMember" src="~/Images/ICONS/AddMember.png" /></a>
        </td>
      
    </tr>
</table>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".Member").addClass("active open");
        });

    </script>
}