﻿@{
    Layout = null;
    ViewBag.Title = "Message";
}
<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center",
         width: "600"

    });

    function CloseMe() {
        $("#dialog").dialog("close");
    }
</script>
<div class="row">
    <div class="col-md-4">
        <label>Parent Member ID</label>
    </div>
    <div class="col-md-4">
        <label>@ViewBag.ParentMemberId</label>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label>Parent Trading Name</label>
    </div>
    <div class="col-md-4">
        <label>@ViewBag.ParentTradingName</label>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-4">
        <label>Member ID</label>
    </div>
    <div class="col-md-4">
        <label>@ViewBag.memberId</label>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label>Trading Name</label>
    </div>
    <div class="col-md-4">
        <label>@ViewBag.tradingName</label>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label>Email</label>
    </div>
    <div class="col-md-4">
        <label>@ViewBag.email</label>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label>Mobile</label>
    </div>
    <div class="col-md-4">
        <label>@ViewBag.mobile</label>
    </div>
</div>

@Ajax.ActionLink("No",
    "SearchMerchant",
    new { memberKey = (int)ViewBag.ParentMemberKey },
    new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog" },
    new { Class = "btn blue" }
    )


@Ajax.ActionLink("Confirm",
                 "SendPhoneVerification",
                 new
                 {
                     memberKey = (int)ViewBag.memberKey,
                     memberId = ViewBag.memberId,
                     firstName = ViewBag.firstName,
                     tradingName = ViewBag.tradingName,
                     email = ViewBag.email,
                     mobile = ViewBag.mobile,
                     businessType = ViewBag.businessType
                 },
                 new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog" },
                 new { Class = "btn blue" })
<br />
@section scripts {
    <script type="text/javascript">


    </script>
}



