﻿<script type="text/x-jsrender" id="tmplFeeList">
    {{for data.fees itemVar="~fee"}}
    <div class="col-md-3">
        <div class="form-group">
            @Html.Label("Fee", new { @class = "control-labelM col-md-4" })
            <div class="col-md-8">
                <select class="form-control" {{if !~fee.IsEnable || ~root.data.isReadOnly}} disabled="disabled" {{/if}} id="ddl_Fee_{{:~fee.ID}}">
                    {{for ~root.data.types}}
                    <option value="{{:ID}}">{{:Name}}</option>
                    {{/for}}
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            @Html.Label("Amount", new { @class = "control-labelM col-md-4" })
            <div class="col-md-8">
                <input type="number" class="form-control" {{if !~fee.IsEnable ||  ~root.data.isReadOnly}} disabled="disabled" {{/if}}
                       id="amount_{{:~fee.ID}}"
                       value="{{:~fee.Amount}}"
                       data-Id="{{:~fee.ID}}"
                       data-feeId="{{:~fee.FeeID}}"
                       onfocusout="validateAmount(this)"
                       step='0.01' />
                <span class="help-block text-danger">
                    <label style="color:red" id="error_fee_{{:~fee.ID}}"></label>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            @Html.Label("Enable", new { @class = "control-labelM col-md-4" })
            <div class="col-md-8">
                <div class="checker {{if ~root.data.isReadOnly}} disabled {{/if}} ">
                    <span class="{{if ~fee.IsEnable}} checked {{/if}}">
                        <input type="checkbox"
                               id="enable_fee_{{:~fee.ID}}"
                               {{if ~fee.IsEnable }} checked {{/if}}
                               onchange="OnCheckEnable(this)"
                               data-feeAmount="{{:~fee.Amount}}"
                               data-feeId="{{:~fee.ID}}"
                               class="{{if ~root.data.isReadOnly}}check-box{{else}}form-control{{/if}}"
                               {{if ~root.data.isReadOnly}} disabled {{/if}}/>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <div class="col-md-12">
                <button type="button" class="btn blue" id="make_request_{{:~fee.ID}}">Make Request Change</button>
            </div>
        </div>
    </div>
    {{/for}}
</script>