﻿@model PhoenixObjects.Member.MemberModel

<div class="table-scrollable" id="EditMemberFeeDialog">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Frequency
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Status
                </th>
                @if (ViewBag.IsMemberDetailPage != true)
                {
                    <th>
                        Actions
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model.Fees)
            {
                <tr>
                    <td>
                        @m.Name
                        <span class="glyphicon glyphicon-info-sign" title="@m.Description" data-placement="right"></span>
                    </td>
                    <td>
                        @m.FrequencyName
                    </td>
                    <td>
                        @if (m.FeeChargeStartDate.HasValue)
                        {
                            <span>
                                @m.FeeChargeStartDate.Value.ToString("dd/MM/yyyy")
                            </span>
                        }
                        else
                        {
                            <span>
                            </span>
                        }
                    </td>
                    <td>
                        @if (m.FeeChargeEndDate.HasValue)
                        {
                            <span>
                                @m.FeeChargeEndDate.Value.ToString("dd/MM/yyyy")
                            </span>
                        }
                        else
                        {
                            <span>
                            </span>
                        }
                    </td>
                    <td>
                        @m.Amount
                    </td>
                    <td>
                        @if (m.IsEnable == true)
                        {
                            <span>
                                Active
                            </span>
                        }
                        else
                        {
                            <span>
                                Inactive
                            </span>
                        }
                    </td>
                    @if (ViewBag.IsMemberDetailPage != true)
                    {
                        <td>
                            @if (ViewContext.Controller.HasPermission("EditFees") && Model.EnableAFForPhysicalTerminalAllocatedToMerchant)
                            {
                                <img class="icon" src="~/Images/edit.png" onclick="EditMemberFee(@m.ID)" />
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    function EditMemberFee(feeChargeDetailID) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("EditMemberFee")",
            data: {
                memberKey: $("#Member_key").val(),
                feeChargeDetailID: feeChargeDetailID
            },
            success: function (dataResponse) {
                if (dataResponse.IsSuccess) {
                    var data = dataResponse.Data;
                    var popupViewDetailLog = $('#editMemberFee').dialog({
                        title: "Edit Fee",
                        position: "center",
                        width: 700,
                        height: 350,
                        draggable: true,
                        drag: function (event, ui) {
                            var scrollTopPx = $(document).scrollTop();
                            var positionUI = ui.position;
                            positionUI.top = positionUI.top - scrollTopPx;
                            $(this).closest(".ui-dialog").css("top", positionUI.top);
                        }
                    });
                    $("#EditFeeTicketNumber").val('');
                    $("#EditFeeReason").val('');
                    $("#EditFeeAmount").val(data.Amount);
                    $("#EditFeeAmount").blur();
                    $("#EditFeeAmount").attr("min", data.MinAmount);
                    $("#EditFeeAmount").attr("max", data.MaxAmount);
                    $("#editMemberFeeForm #FeeChargeDetailID").val(feeChargeDetailID);
                    $("#editMemberFeeForm #Amount").val(data.Amount);
                    $("#editMemberFeeForm #IsActive").val(data.IsActive);
                    $("#editMemberFeeForm #EditFeeAmountErrorMessage").text('');
                    $("#editMemberFeeForm #messageReason").text('');
                    $("#editMemberFeeForm #messageTicketNumber").text('');
                    if (data.IsActive) {
                        $("#EditFeeStatus option[value='true']").attr("selected", "selected");
                    } else {
                        $("#EditFeeStatus option[value='false']").attr("selected", "selected");
                    }
                    $("#EditStartDate").val(data.StartDate);

                    popupViewDetailLog.dialog('option');
                } else {
                    alert("System Error. Please contact IT Admin");
                }
            }
        });
    }

    editMemberFeeCloseMe = function() {
        $("#editMemberFee").dialog('close');
    };
</script>