﻿@model PhoenixObjects.Member.MemberModel


<input type="hidden" id ="IsMemberDetailPage" value="@ViewBag.IsMemberDetailPage"/>
<div id="message" style="color:red;"></div>
<ul class="nav nav-tabs nav-justified" role="tablist" id="feeHistoryTable">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#panel3" id="allocated" role="tab"><i class="fa fa-list"></i> Charge Activity</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel4" id="deallocated" role="tab"><i class="fa fa-list"></i> Recent Activity</a>
    </li>
</ul>
<div class="tab-content">

    <div class="tab-pane fade in active" id="panel3" role="tabpanel">
        <br />
        <div class="row">
            <div class="col-md-1">
                @Html.Label("", "Start Date")
            </div>
            <div class="col-md-2">
                @Html.TextBox("chargeFilterFromDate", "", new { @class = "form-control datepicker removeNotAllowCursor", @readonly = "readonly", id = "chargeFilterFromDate" })
            </div>
            <div class="col-md-1">
                @Html.Label("", "End Date")
            </div>
            <div class="col-md-2">
                @Html.TextBox("chargeFilterEndDate", "", new { @class = "form-control datepicker removeNotAllowCursor", @readonly = "readonly", id = "chargeFilterEndDate" })
            </div>
            <div class="col-md-1">
                @Html.Label("", "Status")
            </div>
            <div class="col-md-2">
                @Html.DropDownList("statusType", Model.StatusTypes, new { id = "statusType", @class = "form-control" })
            </div>
        </div>
        <br />

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <div class="form-group">
                    <table id="grid"></table>
                    <div id="grdChargeActivityPager"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="panel4" role="tabpanel">

        <br />
        <div class="row">
            <div class="col-md-1">
                @Html.Label("", "Date")
            </div>
            <div class="col-md-2">
                @Html.TextBox("changeFilterDate", "", new { @class = "form-control datepicker removeNotAllowCursor", @readonly = "readonly", id = "changeFilterDate" })
            </div>
            <div class="col-md-1">
                @Html.Label("", "User")
            </div>
            <div class="col-md-2">
                @Html.TextBox("changeFilterUsername", "", new { @class = "form-control", id = "changeFilterUsername" })
            </div>
        </div>
        <br />

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <div class="form-group">
                    <table id="gridChangeHistory"></table>
                    <div id="grdChangeActivityPager"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .ui-jqgrid .ui-jqgrid-bdiv {
        overflow-y: scroll
    }

    .removeNotAllowCursor {
        cursor: auto !important
    }

    #ui-datepicker-div .ui-datepicker-month,
    #ui-datepicker-div .ui-datepicker-month option {
        color: black !important
    }

    #ui-datepicker-div .ui-datepicker-year,
    #ui-datepicker-div .ui-datepicker-year option {
        color: black !important
    }

    #memberFeeHistoryGrid .ui-subgrid {
        height: 35px;
    }

    #memberFeeHistoryGrid .ui-jqgrid tr.jqgrow {
        height: 35px;
    }

    .rowheight {
        padding-top: 3px;
    }

    #chargeFilterFromDate {
        background-color: white !important;
    }

    #chargeFilterEndDate {
        background-color: white !important;
    }

    #changeFilterDate {
        background-color: white !important;
    }
</style>
<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/i18n/grid.locale-en.js"></script>
<script src="~/Scripts/jquery.jqGrid.min.js"></script>
<script src="~/Scripts/Common-Utils.js?v=1.0.0.0" type="text/javascript"></script>


<script type="text/javascript">

    var pageWidth = $("#panel3").width() - 50;

    $('#feeHistoryTable li #allocated').on('shown.bs.tab', function () {
        $("#grid").setGridWidth($("#panel3").width() - 20);
    });

    $('#feeHistoryTable li #deallocated').on('shown.bs.tab', function () {
        $("#gridChangeHistory").setGridWidth($("#panel4").width() - 20);
    });

    $(window).bind('resize', function () {
        $("#grid").setGridWidth($("#panel3").width() - 20);
        $("#gridChangeHistory").setGridWidth($("#panel4").width() - 20);
    }).trigger('resize');

    var baseURL = Util.PH_UpdateURL();
    var searchChargeModel = {
        MemberKey: $('#Member_key').val(),
        CurrentPage: 1,
        PageSize: 10
    };
    var searchChangeModel = {
        MemberKey: $('#Member_key').val(),
        CurrentPage: 1,
        PageSize: 10,
        SortColumn: 'ProcessedDate',
        SortDirection: 'DESC'
    };

    customDescription = function (cellvalue, options, rowObject) {
        var response = "";
        if (rowObject.IsActive == true && rowObject.NewAmount == null && rowObject.OldAmount == null) {
            response = "Set Account Fee to active";
        }
        if (rowObject.NewAmount != null && rowObject.OldAmount == null && rowObject.IsActive == null) {
            response = "Set Account Fee amount to " + rowObject.NewAmount;
        }
        if (rowObject.OldAmount != null && rowObject.NewAmount != null) {
                response = "Change Account Fee amount to " + rowObject.NewAmount;
        }
        if (rowObject.OldAmount != null && rowObject.NewAmount == null && rowObject.IsActive != null) {
            var status = rowObject.IsActive == true ? "active" : "inactive";
            response = "Change Account Fee to " + status;
        }
        return response;
    }

    $("#grid").jqGrid({
        datatype: "json",
        height: 'auto',
        colNames: ['ID', '','Processed', 'Fee Type', 'Period', 'Amount', 'Status', '', '', '', '', '', '', '', '', ''],
        colModel: [
            { name: 'ID', hidden: true },
            { name: 'IDCombined', key: true, hidden: true },
            { name: 'ProcessedDate', formatter: 'date', formatoptions: { newformat: 'd/m/Y' } },
            { name: 'FeeTypeName' },
            { name: 'StartDate', formatter: 'date', formatter: 'date', formatoptions: { newformat: 'M-y' } },
            { name: 'Amount' },
            { name: 'StatusDescription'},
            { name: 'Status', hidden: true },
            { name: 'FailedDate', hidden: true },
            { name: 'ReferenceNumber', hidden: true },
            { name: 'IsRefunded', hidden: true },
            { name: 'RefundDate', hidden: true },
            { name: 'RefundReason', hidden: true },
            { name: 'RefundTicketNumber', hidden: true },
            { name: 'ParentReferenceNumber', hidden: true },
            { name: 'RefundAmount', hidden: true }
        ],
        rowNum: 10,
        rowList: [10, 20, 50, 100],
        emptyrecords: 'No records to display',
        autowidth: true,
        pager: '#grdChargeActivityPager',
        jsonReader: {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false,
        },
        onSortCol: function (index, columnIndex, sortOrder) {
            searchChargeModel.SortColumn = index;
            searchChargeModel.SortDirection = sortOrder;
            loadChargeActivities();
        },
        subGrid: true,
        subGridOptions: {
            plusicon: "ui-icon-triangle-1-e",
            minusicon: "ui-icon-triangle-1-s",
            openicon: "ui-icon-arrowreturn-1-e"
        },
        subGridRowExpanded: function (subgrid_id, row_id) {
            var subgrid_table_id = subgrid_id + "_t",
                pager_id = "p_" + subgrid_table_id,
                localRowData = $(this).jqGrid("getRowData", row_id);
            if (localRowData.Status == "SUCCESS") {
                var refundButtonHtml = "";

                if ('@ViewContext.Controller.HasPermission("RefundFees")' == 'True' && !$("#IsMemberDetailPage").val()) {
                    var isDisabled = "";
                    if (localRowData.IsRefunded == "true") {
                        isDisabled = "disabled";
                    }
                    refundButtonHtml = `<div class='row'><div class='col-md-6'><input class="btn blue" ${isDisabled} type="button" name="Refund" value="Refund" id="${localRowData.ID}_btnRefund" onclick="RefundMemberFeePopup(${localRowData.Amount}, ${localRowData.ID})"/></div></div>`;
                }

                $("#" + subgrid_id).html(
                    `<div class='row'><div class='col-md-1'>Ref No:</div><div class='col-md-1'>${localRowData.ParentReferenceNumber}</div></div>
                     ${refundButtonHtml}
                    `
                );
            }
            if (localRowData.Status == "FAILED") {
                var failedDate = new Date(localRowData.FailedDate);

                $("#" + subgrid_id).html(
                    `<div class='row rowheight'><div class='col-md-1'>Ref No:</div><div class='col-md-1'>${localRowData.ParentReferenceNumber}</div></div>
                     <div class='row rowheight'><div class='col-md-1'>Failed Date:</div><div class='col-md-1'>${failedDate.FormatDate()}</div></div>
                    `
                );
            }

            if (localRowData.Status == "PENDING_REFUND"
                || localRowData.Status == "REFUNDED"
                || localRowData.Status == "FAILED_REFUND") {
                var content = "";
                content +=
                    `<div class='row rowheight'><div class='col-md-2'>Refund amount:</div><div class='col-md-1'>${localRowData.RefundAmount}</div></div>`;
                content +=
                    `<div class='row rowheight'><div class='col-md-2'>Refund date:</div><div class='col-md-1'>${localRowData.RefundDate}</div></div>`;
                content +=
                    `<div class='row rowheight'><div class='col-md-2'>Refund reason:</div><div class='col-md-1' style='word-break: break-word;'>${localRowData.RefundReason}</div></div>`;
                content +=
                    `<div class='row rowheight'><div class='col-md-2'>Ticket number:</div><div class='col-md-1'>${localRowData.RefundTicketNumber}</div></div>`;

                if (localRowData.Status == "REFUNDED" || localRowData.Status == "FAILED_REFUND") {
                    content +=
                        `<div class='row rowheight'><div class='col-md-2'>Refund Ref No:</div><div class='col-md-1'>${localRowData.ReferenceNumber}</div></div>`;
                }

                content +=
                    `<div class='row rowheight'><div class='col-md-2'>Original Ref No:</div><div class='col-md-1'>${localRowData.ParentReferenceNumber}</div></div>`;

                $("#" + subgrid_id).html(
                    content
                );
            }
        }
    });

    $("#gridChangeHistory").jqGrid({
        datatype: "json",
        height: 'auto',
        colNames: ['ID', 'Date', 'User', 'Description', 'TicketNumber', 'OldAmount', 'NewAmount', 'IsActive', 'Reason'],
        colModel: [
            { name: 'ID', sorttype: "int", key: true, hidden: true },
            { name: 'ProcessedDate', width: (pageWidth * (30 / 100)), formatter: 'date', formatoptions: { newformat: 'd/m/Y' } },
            { name: 'Username', width: (pageWidth * (30 / 100)) },
            { name: 'Description', sortable: false, width: (pageWidth * (40 / 100)), formatter: customDescription },
            { name: 'TicketNumber', hidden: true },
            { name: 'OldAmount', hidden: true },
            { name: 'NewAmount', hidden: true },
            { name: 'IsActive', hidden: true },
            { name: 'Reason', hidden: true },
        ],
        autowidth: true,
        shrinkToFit: true,
        pager: '#grdChangeActivityPager',
        rowNum: 10,
        rowList: [10, 20, 50, 100],
        emptyrecords: 'No records to display',
        jsonReader: {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false,
        },
        onSortCol: function (index, columnIndex, sortOrder) {
            searchChangeModel.SortColumn = index;
            searchChangeModel.SortDirection = sortOrder;
            loadChangeActivities();
        },
        subGrid: true,
        subGridOptions: {
            plusicon: "ui-icon-triangle-1-e",
            minusicon: "ui-icon-triangle-1-s",
            openicon: "ui-icon-arrowreturn-1-e"
        },
        subGridRowExpanded: function (subgrid_id, row_id) {
            var subgrid_table_id = subgrid_id + "_t",
                pager_id = "p_" + subgrid_table_id,
                localRowData = $(this).jqGrid("getRowData", row_id);
            $("#" + subgrid_id).html(
                `<div class='row'><div class='col-md-2'>Reason:</div><div class='col-md-8' style='word-break: break-word;'>${localRowData.Reason}</div></div>
                 <div class='row'><div class='col-md-2'>Ticket Number:</div><div class='col-md-8'>${localRowData.TicketNumber}</div></div>`
            );
        }
    });


    $('#chargeFilterFromDate').change(function () {
        var startDate = $("#chargeFilterFromDate").datepicker('getDate');
        searchChargeModel.StartDate = startDate;
        searchChargeModel.CurrentPage = 1;
        loadChargeActivities();
    });

    $('#chargeFilterEndDate').change(function () {
        var endDate = $("#chargeFilterEndDate").datepicker('getDate');
        searchChargeModel.EndDate = endDate;
        searchChargeModel.CurrentPage = 1;
        loadChargeActivities();
    });

    $('#statusType').change(function () {
        searchChargeModel.Status = this.value;
        searchChargeModel.CurrentPage = 1;
        loadChargeActivities();
    });

    $('#changeFilterDate').change(function () {
        var processDate = $("#changeFilterDate").datepicker('getDate');
        searchChangeModel.ProcessedDate = processDate;
        searchChangeModel.CurrentPage = 1;
        loadChangeActivities();
    });

    $('#changeFilterUsername').change(function () {
        searchChangeModel.Username = this.value;
        searchChangeModel.CurrentPage = 1;
        loadChangeActivities();
    });


    loadChargeActivities = function () {
        //display loading state
        $("#grid").closest(".ui-jqgrid").find('.loading').show();

        $.ajax({
            url: baseURL + "Member/GetChargeActivities",
            headers: {
                "Content-Type": "application/json"
            },
            type: "POST",
            data: JSON.stringify(searchChargeModel)
        }).done(function (result) {
            //Loading data to grid
            var grid = $('#grid')[0];
            $('#grid').jqGrid('clearGridData');
            grid.addJSONData(result);

            //hide loading state
            $("#grid").closest(".ui-jqgrid").find('.loading').hide();
        }).fail(function (err) {
            console.log(err);
        });
    };



    RefundMemberFeePopup = function (amount, chargeHistoryID) {
        $('#refundMemberFee').dialog({
            title: "Refund Fee",
            position: "center",
            width: 700,
            height: 400,
            draggable: true,
            drag: function (event, ui) {
                var scrollTopPx = $(document).scrollTop();
                var positionUI = ui.position;
                positionUI.top = positionUI.top - scrollTopPx;
                $(this).closest(".ui-dialog").css("top", positionUI.top);
            }
        });

        $("#FeeChargeHistoryID").val(chargeHistoryID);
        $("#originalAmount").text("$" + amount);
        $("#RefundFeeAmount").attr("min", 0.01);
        $("#RefundFeeAmount").attr("max", amount);
        $("#RefundFeeAmount").val(amount);
        $("#RefundFeeAmount").blur();
        $("#RefundFeeTicketNumber").val("");
        $("#RefundFeeReason").val("");

        $("#RefundFeeAmountErrorMessage").text("");
        $("#RefundFeeReasonErrorMessage").text("");
        $("#RefundFeeTicketErrorMessage").text("");
    };

    $('#grid').setGridParam({
        onPaging: function (pgButton) {
            var currentPage = $('#grid').getGridParam('page');
            var rowNum = $('#grid').getGridParam('rowNum');

            if (pgButton == "next_grdChargeActivityPager") {
                currentPage = currentPage + 1;
            }
            if (pgButton == "prev_grdChargeActivityPager") {

                if (currentPage == 1) {
                    return;
                }
                currentPage = currentPage - 1;
            }

            if (pgButton == "first_grdChargeActivityPager") {
                currentPage = 1;
            }

            if (pgButton == "last_grdChargeActivityPager") {
                currentPage = $('#grid').getGridParam('lastpage');
            }
            var p = $(this).jqGrid("getGridParam");
            var elTotalPage = $(p.pager).find("span[id*='grdChargeActivityPager']")[0];
            var totalPage = elTotalPage ? (parseInt(elTotalPage.innerText) || 0) : 0;

            if (pgButton == "records") {
                var newRowNum = parseInt($(p.pager).find(".ui-pg-selbox").val());
                rowNum = newRowNum;
            }

            if (pgButton == "user") {
                var newPage = parseInt($(p.pager).find(".ui-pg-input").val());

                if (newPage <= totalPage && newPage > 0) {
                    currentPage = newPage;
                }
            }

            if (currentPage > totalPage) {
                return;
            }

            searchChargeModel.CurrentPage = currentPage;
            searchChargeModel.PageSize = rowNum;
            loadChargeActivities();
        }
    });

    loadChangeActivities = function () {
        //display loading state
        $("#gridChangeHistory").closest(".ui-jqgrid").find('.loading').show();

        $.ajax({
            url: baseURL + "Member/GetChangeActivities",
            headers: {
                "Content-Type": "application/json"
            },
            type: "POST",
            data: JSON.stringify(searchChangeModel)
        }).done(function (result) {
            //Loading data to grid
            var grid = $('#gridChangeHistory')[0];
            $('#gridChangeHistory').jqGrid('clearGridData');
            grid.addJSONData(result);

            //hide loading state
            $("#gridChangeHistory").closest(".ui-jqgrid").find('.loading').hide();
        }).fail(function (err) {
            console.log(err);
        });
    };



    $('#gridChangeHistory').setGridParam({
        onPaging: function (pgButton) {
            var currentPage = $('#gridChangeHistory').getGridParam('page');
            var rowNum = $('#gridChangeHistory').getGridParam('rowNum');

            if (pgButton == "next_grdChangeActivityPager") {
                currentPage = currentPage + 1;
            }
            if (pgButton == "prev_grdChangeActivityPager") {

                if (currentPage == 1) {
                    return;
                }
                currentPage = currentPage - 1;
            }

            if (pgButton == "first_grdChangeActivityPager") {
                currentPage = 1;
            }

            if (pgButton == "last_grdChangeActivityPager") {
                currentPage = $('#grid').getGridParam('lastpage');
            }
            var p = $(this).jqGrid("getGridParam");
            var elTotalPage = $(p.pager).find("span[id*='grdChangeActivityPager']")[0];
            var totalPage = elTotalPage ? (parseInt(elTotalPage.innerText) || 0) : 0;

            if (pgButton == "records") {
                var newRowNum = parseInt($(p.pager).find(".ui-pg-selbox").val());
                rowNum = newRowNum;
            }

            if (pgButton == "user") {
                var newPage = parseInt($(p.pager).find(".ui-pg-input").val());

                if (newPage <= totalPage && newPage > 0) {
                    currentPage = newPage;
                }
            }

            if (currentPage > totalPage) {
                return;
            }

            searchChangeModel.CurrentPage = currentPage;
            searchChangeModel.PageSize = rowNum;
            loadChangeActivities();
        }
    });

    loadChargeActivities();
    loadChangeActivities();

    $(function () {
        $('.datepicker').datepicker({
            changeYear: true,
            showButtonPanel: true,
            changeMonth: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            dateFormat: 'dd-mm-yy',
            yearRange: "-10:+10"
        });

        $("#chargeFilterFromDate").datepicker('option', 'beforeShowDay', function (date) {
            var endDate = $("#chargeFilterEndDate").datepicker('getDate');
            return endDate ? Util.disabledDateFollowOtherDate(endDate, date) : [true];
        });

        $("#chargeFilterEndDate").datepicker('option', 'beforeShowDay', function (date) {
            var startDate = $("#chargeFilterFromDate").datepicker('getDate');
            return startDate ? Util.disabledDateFollowOtherDate(date, startDate) : [true];
        });

    });

</script>