﻿@{
    Layout = null;
    ViewBag.Title = "Message";
}
<script type="text/javascript">

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center",
         width: "500"

    });

    function CloseMe() {
        $("#dialog").dialog("close");
    }
</script>

<h4>
    @ViewBag.Msg

</h4>
<br />
@Html.ActionLink("Remove Account",
                 "RemoveMerchant",
                 new { memberKey = (int)ViewBag.memberKey, userId = (int)ViewBag.userId, memberId = ViewBag.memberId },
                 new { Class = "btn blue" })

<input type="button" class="btn blue" onclick="CloseMe()" value="No" />
<br />
@section scripts {
    <script type="text/javascript">


    </script>
}



