﻿@model PhoenixObjects.Member.MemberModel

<div id="message" style="color:red;"></div>
<div class="portlet light bordered" id="Merchant">
    <div class="portlet-body">
        <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: auto; max-height: 400px;">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        Merchant ID
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Trading Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Mobile
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.MerchantList)
                {
                    <tr>
                        <td id="merchantId_@item.MemberId">
                            @Html.DisplayFor(modelItem => item.MemberId)
                        </td>

                        <td id="firstName_@item.FirstName">
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td id="lastName_@item.LastName">
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>

                        <td id="tradingName_@item.TradingName">
                            @Html.DisplayFor(modelItem => item.TradingName)
                        </td>
                        <td id="email_@item.Email">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td id="mobile_@item.Mobile">
                            @Html.DisplayFor(modelItem => item.Mobile)
                        </td>
                        @if (ViewContext.Controller.HasPermission("ManageMerchant"))
                        {
                        <td>
                            @Ajax.ActionLink("Remove", "RemoveMerchantMessage", new { memberKey = item.MemberKey, userId = item.UserId, memberId = item.MemberId },
                                new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog" }, new { Class = "btn red btn-sm" })
                        </td>
                        }

                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
