﻿@model PhoenixObjects.Member.MemberModel
@{
    var allocatedTerminalList = Model.AllVehicleTerminalAllocation.Where(x => x.IsAllocated);
    var deAllocatedTerminalList = Model.AllVehicleTerminalAllocation.Where(x => !x.IsAllocated);
}

<div id="message" style="color:red;"></div>
<ul class="nav nav-tabs nav-justified" role="tablist" id="allocateTerminalsTable">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#panel1" id="allocated" role="tab"><i class="fa fa-list"></i> Allocated Terminals (@allocatedTerminalList.Count())</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel2" id="deallocated" role="tab"><i class="fa fa-list"></i> De-Allocated Terminals (@deAllocatedTerminalList.Count())</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade in active" id="panel1" role="tabpanel">
        <div class="portlet light bordered" id="AllocatedTerminals">
            <div class="portlet-body">
                <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: auto; max-height: 400px;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Vehicle
                                </th>
                                <th>
                                    State
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Terminal ID
                                </th>
                                <th>
                                    Effective Date
                                </th>
                                <th>
                                    Swapped TID
                                </th>
                                <th>
                                    Original TID
                                </th>
                                <th>
                                    Action
                                </th>
                                <th>
                                    Swap
                                </th>
                                @if (ViewContext.Controller.HasPermission("EditVehicle"))
                                {
                                    <th>
                                        Edit
                                    </th>
                                }
                                <th>
                                    Set EOS
                                </th>
                                <th>
                                    API Key
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in allocatedTerminalList)
                            {
                                <tr>
                                    <td id="vehicleId_@item.Vehicle_key">
                                        @Html.DisplayFor(modelItem => item.VehicleId)
                                    </td>

                                    <td id="state_@item.Vehicle_key">
                                        @Html.DisplayFor(modelItem => item.RegisteredState)
                                    </td>
                                    <td id="type_@item.Vehicle_key" data-key="@item.VehicleTypeKey">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>

                                    <td id="terminalId_@item.Vehicle_key">
                                        @Html.DisplayFor(modelItem => item.TerminalId)
                                    </td>
                                    <td id="effectiveDate_@item.Vehicle_key">
                                        @Html.DisplayFor(modelItem => item.EffectiveDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SwappedTID)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.OriginalTID)
                                    </td>

                                    <td>
                                        @Ajax.ActionLink("Deallocate", "DeallocateTerminal", new { Id = item.TerminalAllocation_key, TerminalId = item.TerminalId, Member = @Model.Member_key },
                                            new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn red btn-sm" })
                                    </td>
                                    <td>
                                        @Ajax.ActionLink("Swap Out", "SwapTerminal", new { VehicleId = item.VehicleId, Member = @Model.Member_key, Vehicle = item.Vehicle_key, Terminal = item.TerminalId, TerminalAllocation = item.TerminalAllocation_key },
                                            new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn grey btn-sm" })
                                    </td>

                                    @if (ViewContext.Controller.HasPermission("EditVehicle"))
                                    {
                                        <td>
                                            <input type="button" value="Edit" class="btn grey btn-sm NotAllowModifiedVehicle" id="edit_@item.Vehicle_key" onclick="EditVehicle(@item.Vehicle_key)" />
                                        </td>
                                    }

                                    <td>
                                        @if (item.TerminalKey != 0)
                                        {
                                            <a id="SetEOS@(item.TerminalKey)" onclick="OnSetEOS(@item.TerminalKey)" data-inactive="@item.Inactive" data-id="@item.TerminalId" data-has-receipt="@(item.ReceiptKey == null && item.AppKey == null ? false : true)" data-set="@item.IsSetEOS">@(item.IsSetEOS ? "Unset EOS" : "Set EOS")</a>
                                        }
                                    </td>
                                    <td>
                                        @if (item.EnableSendAPIKey)
                                        {
                                            <input type="button" value="Send API Key" class="btn grey btn-sm" id="sendapikey_@item.TerminalId" onclick="SendAPIKey(@item.TerminalId)" />
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="panel2" role="tabpanel">
        <div class="portlet light bordered" id="DeAllocatedTerminals">
            <div class="portlet-body">
                <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: auto; max-height: 400px;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Vehicle
                                </th>
                                <th>
                                    State
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Effective Date
                                </th>
                                <th>
                                    Deallocated Date
                                </th>
                                <th>
                                    Terminal ID
                                </th>
                                <th>
                                    Swapped TID
                                </th>
                                <th>
                                    Original TID
                                </th>
                                <th>
                                    Action
                                </th>
                                @if (ViewContext.Controller.HasPermission("EditVehicle"))
                                {
                                    <th>
                                        Edit
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in deAllocatedTerminalList)
                            {
                            <tr>
                                <td id="vehicleId_@item.Vehicle_key">
                                    @Html.DisplayFor(modelItem => item.VehicleId)
                                </td>

                                <td id="state_@item.Vehicle_key">
                                    @Html.DisplayFor(modelItem => item.RegisteredState)
                                </td>
                                <td id="type_@item.Vehicle_key" data-key="@item.VehicleTypeKey">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td id="effectiveDate_@item.Vehicle_key">
                                    @Html.DisplayFor(modelItem => item.EffectiveDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeallocatedDate)
                                </td>
                                <td>
                                    @item.TerminalId
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SwappedTID)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.OriginalTID)
                                </td>
                                <td>
                                    @Ajax.ActionLink("Allocate", "AllocateTerminal", new { id = item.VehicleId, Member = @Model.Member_key, Vehicle = item.Vehicle_key },
                                        new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn green btn-sm NotAllowModifiedVehicle"})
                                </td>
                                @if (ViewContext.Controller.HasPermission("EditVehicle"))
                                {
                                    <td>
                                        <input type="button" value="Edit" class="btn grey btn-sm NotAllowModifiedVehicle" id="edit_@item.Vehicle_key" onclick="EditVehicle(@item.Vehicle_key)" />
                                    </td>
                                }
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>