﻿@{
    Layout = null;
    ViewBag.Title = "Message";
}
<script type="text/javascript">
    var urlOrigin = Util.PH_UpdateURL();
    $(document).ready(function () {
        $("#phoneNumber").val("@ViewBag.mobile");
        if ($("#phoneNumber").val() == "") {
            $('#isChangePhoneNumber').attr("checked", true);
            jQuery.uniform.update('#isChangePhoneNumber');
        }
        handleChangePhoneCheckBox();
        sendVerifiedCode("@ViewBag.mobile", true);

        $("#isChangePhoneNumber").off("change").on('change', function () {
            handleChangePhoneCheckBox();
        });

        $("#btnResendCode").off("click").on("click", function () {
            if ($("#phoneNumber").valid()) {
                sendVerifiedCode($("#phoneNumber").val(), true);
            }
        });

        $("#btnContinueCreateMerchant").off("click").on("click", function () {
            handleValidateCodeAndCreateMerchant();
        });
    })

     $("#dialog").dialog({
         title: "@ViewBag.Title",
         position: "center",
         width: "500"

    });

</script>
<input id="memberKeyHidden" name="memberKeyHidden" type="hidden" value="@ViewBag.memberKey" />
<input id="memberIdHidden" name="memberIdHidden" type="hidden" value="@ViewBag.memberId" />
<input id="firstNameHidden" name="firstNameHidden" type="hidden" value="@ViewBag.firstName" />
<input id="tradingNameHidden" name="tradingNameHidden" type="hidden" value="@ViewBag.tradingName" />
<input id="emailHidden" name="emailHidden" type="hidden" value="@ViewBag.email" />
<input id="businessTypeHidden" name="businessTypeHidden" type="hidden" value="@ViewBag.businessType" />



<form id="frmVerificationPhone">
    <label id="popupValidateMessage" style="color:red;"></label>
    <p>We sent you a code to below phone number</p>
    <div class="row">
        <div class="form-group col-md-12">
            <input id="phoneNumber" type="text" name="Mobile" class="form-textbox col-md-12" required />
            <label class="error text-danger errorLabel ErrorLabelPosition" style="padding-left:15px;" id="popup-mobile-error" for="phoneNumber"></label>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <div class="col-md-8">
                <span style="float:left;"><input id="isChangePhoneNumber" value="" type="checkbox" /> Change Phone number</span>
            </div>
            <button id="btnResendCode" type="button" class="btn btn-primary col-md-4" style="float:right;">
                <span id="refeshIcon" class="glyphicon glyphicon-refresh"></span>
                Resend Code
                <span id="countNumber"></span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <input id="verificationCode" name="VerificationCode" placeholder="Input the verification code here" required type="text" class="form-textbox col-md-12" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12 center-block">
            <button type="button" style="float: none;margin-top:2%" id="btnContinueCreateMerchant" class="btn btn-primary center-block col-md-6">Continue</button>
        </div>
    </div>

    @*<div class="row">
            <div class="col-md-4">
                <label>Verification Code:</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" type="text" name="verificationCode" id="verificationCode" />
            </div>
        </div>
        <br />
        <input type="button" class="btn blue" onclick="CloseMe()" value="No" />
        @Ajax.ActionLink("Resend",
                        "SendPhoneVerification",
                        new {
                            memberKey = (int)ViewBag.memberKey,
                            memberId = ViewBag.memberId,
                            firstName = ViewBag.firstName,
                            tradingName = ViewBag.tradingName,
                            email = ViewBag.email,
                            mobile = ViewBag.mobile,
                            businessType = ViewBag.businessType
                        },
                        new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog" },
                        new { Class = "btn blue" })

        @Ajax.ActionLink("Submit",
                         "ValidateVerificationCode",
                         new
                         {
                             memberKey = (int)ViewBag.memberKey,
                             memberId = ViewBag.memberId,
                             firstName = ViewBag.firstName,
                             tradingName = ViewBag.tradingName,
                             email = ViewBag.email,
                             mobile = ViewBag.mobile,
                             businessType = ViewBag.businessType
                         },
                         new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog" },
                         new { Class = "btn blue" })*@
    <br />
</form>