﻿@model PhoenixObjects.Member.TerminalAllocationModel

@{
    ViewBag.Title = "Allocate Virtual Terminal";
    Layout = "~/Views/Shared/_TerminalPopupLayout.cshtml";
    ViewBag.Action = "AddAllocateMemberVirtualTerminal";
    ViewBag.DialogSize = "1000";
    ViewBag.MemberKey = Model.Member_key;
}
<h3 class="page-title">
    Allocate Terminal
    <small>allocate terminal to member</small>
</h3>
@Html.HiddenFor(model => model.Member.MemberId)
@Html.HiddenFor(model => model.Member_key)
@Html.HiddenFor(model => model.Member.TradingName)
@Html.HiddenFor(model => model.Member.FirstName)
@Html.HiddenFor(model => model.Member.LastName)
@Html.HiddenFor(model => model.Member.TerminalAllocationList)
<label style="color:red" id="warning" />
<label style="color:green" id="TerminalAllocationActual"></label>
<h5 style="color:red">@ViewBag.Error</h5>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.Label("MemberId", new { @class = "control-labelM col-md-2" })
            <div class="col-md-9">
                @Html.DisplayFor(model => model.Member.MemberId, new { @class = "form-control" }) /@Html.DisplayFor(model => model.Member.TradingName, new { @class = "form-control" }) / @Html.DisplayFor(model => model.Member.FirstName, new { @class = "form-control" }) @Html.DisplayFor(model => model.Member.LastName, new { @class = "form-control" })

            </div>
        </div>
    </div>
</div>

<div class="portlet-body form">
    <!-- BEGIN FORM-->

    <div class="form-body">
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Terminal Type", new { @class = "control-labelM col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.TerminalType_Key, Model.VirtualTerminalTypes, new { id = "TerminalType_Key", @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Sub-business Type", new { @class = "control-labelM col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.VehicleModel.VehicleType_key, (IEnumerable<SelectListItem>)ViewBag.VehicleTypeList, new { id = "VehicleType_key", @class = "form-control" })
                    @Html.HiddenFor(model => model.VehicleModel.VehicleType.Company_Key)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Business State", new { @class = "control-labelM col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.State_key, (IEnumerable<SelectListItem>)ViewBag.StateList, new { id = "State_key", @class = "form-control" })
                    <div class="col-md-9">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Allow Refund", new { @class = "control-labelM col-md-4" })
                <div class="col-md-8">
                    @Html.CheckBoxFor(model => model.AllowRefundB)
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
    </script>
}