﻿@model PhoenixObjects.Member.TerminalAllocationModel

@{
    ViewBag.Title = "Allocate Terminal";
    Layout = "~/Views/Shared/_TerminalPopupLayout.cshtml";
    ViewBag.Action = "AddAllocateMemberTerminal";
    ViewBag.DialogSize = "1000";
}
<h3 class="page-title">
    Allocate Terminal
    <small>allocate terminal to member</small>
</h3>
@Html.HiddenFor(model => model.Member.MemberId)
@Html.HiddenFor(model => model.Member.TradingName)
@Html.HiddenFor(model => model.Member.FirstName)
@Html.HiddenFor(model => model.Member.LastName)
@Html.HiddenFor(model => model.Member.TerminalAllocationList)
<label style="color:red" id="warning" />
<label style="color:green" id="TerminalAllocationActual"></label>
<h5 style="color:red">@ViewBag.Error</h5>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.Label("MemberId", new { @class = "control-labelM col-md-2" })
            <div class="col-md-9">
                @Html.DisplayFor(model => model.Member.MemberId, new { @class = "form-control" }) /@Html.DisplayFor(model => model.Member.TradingName, new { @class = "form-control" }) / @Html.DisplayFor(model => model.Member.FirstName, new { @class = "form-control" }) @Html.DisplayFor(model => model.Member.LastName, new { @class = "form-control" })

            </div>
        </div>
    </div>
</div>

<div class="portlet-body form">
    <!-- BEGIN FORM-->

    <div class="form-body">
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Business ID", new { @class = "control-labelM col-md-4" })
                <div class="col-md-8">
                    <input type="text" class="form-control" name="VehicleId" required id="VehicleId" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Sub-business Type", new { @class = "control-labelM col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.VehicleModel.VehicleType_key, (IEnumerable<SelectListItem>)ViewBag.VehicleTypeList, new { id = "VehicleType_key", @class = "form-control" })
                    @Html.HiddenFor(model => model.VehicleModel.VehicleType.Company_Key)
                    @Html.HiddenFor(model => model.VehicleModel.VehicleType_key)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Business State", new { @class = "control-labelM col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.State_key, (IEnumerable<SelectListItem>)ViewBag.StateList, new { id = "State_key", @class = "form-control" })
                    <div class="col-md-9">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Terminal Id", new { @class = "control-labelM col-md-4" })
                <div class="col-md-8">
                    <input type="text" class="form-control" name="EftTerminal_key" required id="EftTerminal_key" placeholder="type id and select" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Allocation Date", new { @class = "control-labelM col-md-4" })
                <div class="col-md-5">
                    <input type="date" class="form-control" name="TerminalAllocationDate" required id="TerminalAllocationDate" />
                </div>
                <div class="col-md-3">
                    <label style="font-size:small">DD-MM-YYYY</label>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Sale Reps", new { @class = "control-labelM col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.Employee_key, (IEnumerable<SelectListItem>)ViewBag.EmployeeList, new { id = "SaleReps", @class = "form-control" })
                    @*<input type="text" class="form-control" name="SaleReps" placeholder="type name and select" id="SaleReps" />*@
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Allocation Time", new { @class = "control-label col-md-4" })
                <div class="col-md-5">
                    <input type="time" class="form-control" name="TerminalAllocationTime" required id="TerminalAllocationTime" />
                    @*@Html.TextBoxFor(model => model.TerminalAllocationTime, new { type = "time", id="TerminalAllocationTime" })*@
                </div>
                <div class="col-md-3">
                    <label style="font-size:small">hh:mm:AM/PM</label>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Default Service Fee", new { @class = "control-labelM col-md-4" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.ServiceFee, new { @class = "form-control", @type = "number", @title = "Please add a number.", @step = "any" })
                    <div class="col-md-8">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Allow Moto", new { @class = "control-labelM col-md-4" })
                <div class="col-md-8">
                    @Html.CheckBoxFor(model => model.AllowMOTOB)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Allow Refund", new { @class = "control-labelM col-md-4" })
                <div class="col-md-8">
                    @Html.CheckBoxFor(model => model.AllowRefundB)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Delivery Required", new { @class = "control-labelM col-md-4" })
                <div class="col-md-8">
                    @Html.CheckBoxFor(model => model.DeliveryRequiredB)
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.Member.TerminalAllocationList != null && Model.Member.TerminalAllocationList.Count() > 0)
{
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Added Terminal(s)
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 150px;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Business ID
                            </th>
                            <th>
                                Business Type
                            </th>
                            <th>
                                Registered State
                            </th>
                            <th>
                                Terminal Id
                            </th>
                            <th>
                                Effective Date
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Member.TerminalAllocationList)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.VehicleModel.VehicleId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VehicleModel.VehicleType_key)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VehicleModel.RegisteredState)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.EftTerminalId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EffectiveDate)
                                </td>

                                <td></td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            if ("@Model.NotAllowSelectSubBusinessType" == "True") {
                $("#VehicleType_key").attr("disabled", "disabled");
            } else {
                $("#VehicleType_key").removeAttr("disabled");
            }
        });
      

    </script>
}