﻿@model PhoenixObjects.Member.BankAccountModel

@{
    ViewBag.Title = "Add Account";
    Layout = "~/Views/Shared/_AccountPopupLayout.cshtml";
    ViewBag.Action = "AddMemberAccount";
    ViewBag.DialogSize = "980";
}
<h3 class="page-title">
    Account
    <small>add member account</small>
</h3>
@Html.HiddenFor(m => m.Member_Key)
<h4 id="errorMessage" style="color:red">@ViewBag.Error</h4>
@*<div class="portlet-body form">
    <div class="form-body">
      
    </div>
</div>*@
<div class="portlet-body form">
    <!-- BEGIN FORM-->

    <div class="form-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("MemberId", new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DisplayFor(model => model.Member.MemberId, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("First Name", new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DisplayFor(model => model.Member.TradingName, new { @class = "form-control" }) /  @Html.DisplayFor(model => model.Member.FirstName, new { @class = "form-control" }) @Html.DisplayFor(model => model.Member.LastName, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>   
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Bsb No", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="###-###" name="BsbNumber" id="BsbNumber" required />
                        <span id="BsbNumberErr" class="help-block"/>
                            @*@Html.DropDownListFor(model => model.BSB, (IEnumerable<SelectListItem>)ViewBag.DrawDropDownBsb, new { id = "BsbNumber", @class = "form-control" })*@
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Account number", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <input type="text" class="form-control" required name="AccountNumber" pattern="\d{0,100}" title="Accepted values from 0 to 9 digits" id="AccountNumber" />
                        <span id="AccountNumberErr" class="help-block"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Account Name", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="AccountName" required id="AccountName" />
                        <span id="AccountNameErr" class="help-block" />
                    </div>
                </div>
            </div>
            @*<div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Weight(%)", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="Weight" pattern="\d{0,100}" title="Accepted values from 0 to 9 digits" required placeholder="0 - 100" id="Weight" />
                        <span id="WeightErr" class="help-block">
                        </span>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        //$("#dialog").dialog({
        //    width: "980"
        //});
        //$(document).ready(function () {
        //    $("#BsbNumber").keyup(function () {
        //        var val1 = $("#BsbNumber").val()
        //        if (val1.length > 5) {
        //            var hypen = $("#BsbNumber").val(val1.substring(0, 3) + '-' + val1.substring(3, 6))
        //        }
        //    });
        //});
    </script>
}