﻿@model PhoenixObjects.Common.AddressListModel

@{
    ViewBag.Title = "Member Address";
    Layout = "~/Views/Shared/_AddressPopupLayout.cshtml";
    ViewBag.Action = "AddMemberAddress";
    ViewBag.DialogSize = "980";
}

<h3 class="page-title">
    Address
    <small>add member address</small>
</h3>
<h4 style="color:red">@ViewBag.Error</h4>
<div class="portlet-body form">
    <div class="form-body">
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("MemberId", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.Member.MemberId, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("First Name", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.Member.FirstName, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Last Name", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.Member.LastName, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Email", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.Member.Email, new { @class = "form-control" })
                    <div class="col-md-9">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Mobile", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.Member.Mobile, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portlet-body form">
   
    <div class="form-body">
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Street Number", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <input type="text" class="form-control" name="StreetNumber" autocomplete="off" required id="StreetNumber"  />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Street Name", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <input type="text" class="form-control" name="StreetName" autocomplete="off" required id="StreetName"  />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Country", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <select class="form-control" id="Country" name="Country">
                        <option value="1">Australia</option>
                    </select>
                    <div class="col-md-9">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Post Code", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <input type="text" class="form-control" name="PostCode" required id="PostCode" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Address Type", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <select class="form-control" id="AddressType" name="AddressType">
                        <option value="Primary">Primary Address</option>
                        <option value="Mailing">Mailing Address</option>
                    </select>
                    <div class="col-md-9">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><br />

    @if (Model.Member.MemberAddresses != null && Model.Member.MemberAddresses.Count() > 0)
    {
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Added Address(s)
                </div>

            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Street Number
                                </th>
                                <th>
                                    Street Name
                                </th>
                                <th>
                                    Suburb
                                </th>
                                <th>
                                    State
                                </th>
                                <th>
                                    PostCode
                                </th>
                                <th>
                                    Address Type
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Member.MemberAddresses)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StreetNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StreetName)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Suburb.SuburbName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Suburb.State.StateName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Suburb.PostCode)
                                    </td>
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AddressType)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Primary", "MakePrimary", new { id = item.AddressKey }) |
                                        @Html.ActionLink("Mailing", "MakeMailing", new { id = item.AddressKey })                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }

@section scripts {
    <script type="text/javascript">

        //$("#dialog").dialog({
        //    width: "980"
        //});

        @*$(document).ready(function () {
            $("#PostCode").autocomplete({
                source: '@Url.Action("AutoCompletePostCode")'

            });
        });*@

    </script>
}