﻿@model PhoenixObjects.Fee.MemberFeeModel

@{
    ViewBag.Title = "Allocate Member Fees";
    ViewBag.Action = "";
    Layout = "~/Views/Shared/_MemberFeePopupLayout.cshtml";
    ViewBag.DialogSize = "780";
}
@using (Ajax.BeginForm("AddMemberFee", "Member", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog" }, new { id = "addMemberFeePopup" }))
{
    @Html.HiddenFor(model => model.MemberKey, new { @Value = ViewBag.MemberKey })
    @Html.HiddenFor(model => model.FeeAsJson, new { @Value = ViewBag.FeeAsJson })
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <div class="form-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Fee Type", new { @class = "control-labelM col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.FeeTypeID, (IEnumerable<SelectListItem>)ViewBag.ChargeFeeTypes, new { @class = "form-control", id = "FeeTypes" })
                            <span class="help-block">
                                <span class="field-validation-error" data-valmsg-for="FeeTypeID" data-valmsg-replace="true">
                                    <span for="EditFeeTicketNumber" class="" id="FeeTypeIDErrorMessage"></span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Amount", new { @class = "control-labelM col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", id = "Amount" })
                            <span class="help-block">
                                <span class="field-validation-error" data-valmsg-for="Amount" data-valmsg-replace="true">
                                    <span for="Amount" class="" id="FeeAmountErrorMessage"></span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Start Date", new { @class = "control-labelM col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control",
                           @readonly = "readonly", id = "feeStartDate" })
                            <span class="field-validation-error" data-valmsg-for="StartDate" data-valmsg-replace="true">
                                <span for="StartDate" class="" id="FeeStartDateErrorMessage"></span>
                            </span>
                        </div>
                    </div>
                </div>
                @*<div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("End Date", new { @class = "control-labelM col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control datepicker removeNotAllowCursor", @readonly = "readonly", id = "feeEndDate", @type = "date" })
                            <span class="help-block">
                                @Html.ValidationMessageFor(model => model.EndDate)
                            </span>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <input type="button" class="btn blue" onclick="CloseMe()" value="Cancel" />
                <input class="btn blue" type="button" name="Save" value="Save" id="addNewFeeBtn" />
            </div>
        </div>
    </div>
}

<div id="dialog-confirm" title="Confirmation" style="display: none;text-align: center;">
    <p>
        Are you sure you want to add a new fee?
    </p>
</div>
<div id="add-new-fee-dialog-success" title="Success" style="display: none;text-align: center;">
    <p>
        Account Fee added successfully
    </p>
</div>

<style type="text/css">
    .removeNotAllowCursor {
        cursor: auto !important
    }

    #ui-datepicker-div .ui-datepicker-month,
    #ui-datepicker-div .ui-datepicker-month option {
        color: black !important
    }

    #ui-datepicker-div .ui-datepicker-year,
    #ui-datepicker-div .ui-datepicker-year option {
        color: black !important
    }
</style>
<script src="~/Scripts/Common-Utils.js?v=1.0.0.0" type="text/javascript"></script>
<script src="~/Scripts/jquery.formatCurrency-1.4.0.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var enddate = day + "/" + (month) + "/" + now.getFullYear();
        $('#feeStartDate').val(enddate);

        $('#addMemberFeePopup #Amount').blur(function () {
            $('#addMemberFeePopup #Amount').formatCurrency();
        });
    });

        $("#dialog").dialog({
            title: "@ViewBag.Title",
            position: "center",
            width: 700,
            height:280
        });
        function CloseMe() {
            $("#dialog").dialog("close");
        };

        $("#FeeTypes").off("change").on("change",
            function () {
                console.log("Changed");
                var selectedValue = $("#FeeTypes").val();
                if (selectedValue == -1) {
                    return false;
                } else {
                    var fees = JSON.parse($("#FeeAsJson").val());
                    var fee = fees.filter(fee => fee.ID == selectedValue);
                    if (!fee || fee.length == 0) {
                        return false;
                    } else {

                        $("#Amount").attr("min", fee[0].MinAmount);
                        $("#Amount").attr("max", fee[0].MaxAmount);
                    }
                }
            });


        $("#addNewFeeBtn").off("click").on("click",
            function () {
                $("#FeeTypeIDErrorMessage").text("");
                $("#FeeAmountErrorMessage").text("");
                $("#FeeStartDateErrorMessage").text("");
                var feeTypeSelected = $("#FeeTypes").val();
                if (feeTypeSelected == -1 || !feeTypeSelected) {
                    $("#FeeTypeIDErrorMessage").text("Please select Fee Type");
                    return false;
                }

                if ($("#addMemberFeePopup #Amount").val() == "") {
                    $("#FeeAmountErrorMessage").text("Amount is required.");
                    return false;
                }

                var currentAmount = parseFloat($("#addMemberFeePopup #Amount").asNumber().toFixed(2));
                var maxValue = parseFloat($("#Amount").attr("max"));
                var minValue = parseFloat($("#Amount").attr("min"));
                if (isNaN(currentAmount) || !currentAmount || currentAmount < minValue || currentAmount > maxValue) {
                    $("#FeeAmountErrorMessage").text("Amount must be between " + minValue + " and " + maxValue + ".");
                    return false;
                }

                if ($("#feeStartDate").val() == "") {
                    $("#FeeStartDateErrorMessage").text("StartDate is required");
                    return false;
                }

                
                $( "#dialog-confirm" ).dialog({
                    resizable: false,
                    height: "auto",
                    width: 400,
                    modal: true,
                    drag: function (event, ui) {
                        var scrollTopPx = $(document).scrollTop();
                        var positionUI = ui.position;
                        positionUI.top = positionUI.top - scrollTopPx;
                        $(this).closest(".ui-dialog").css("top", positionUI.top);
                    },
                    buttons: {
                        "Yes": function (e) {
                            var currentAmount = parseFloat($("#addMemberFeePopup #Amount").asNumber().toFixed(2));
                            var addFee = {
                                MemberKey: $("#addMemberFeePopup #MemberKey").val(),
                                FeeTypeID: feeTypeSelected,
                                Amount: currentAmount,
                                StartDate: "", //$("#addMemberFeePopup #feeStartDate").val(),
                                EndDate:  "" //$("#addMemberFeePopup #feeEndDate").val(),
                            }
                            $(this).off(e);
                            var dialogElement = $(this);
                            $.ajax({
                                url: baseURL + "Member/AddMemberFee",
                                type: "POST",
                                dataType: "html",
                                contentType: "application/json",
                                data: JSON.stringify(addFee),
                                success: function (result) {
                                    $("#memberFeeGrid").empty();
                                    $("#memberFeeGrid").html(result);
                                    loadChangeActivities();
                                    dialogElement.dialog("close");
                                    $("#dialog").dialog("close");
                                    $( "#add-new-fee-dialog-success" ).dialog({
                                        resizable: false,
                                        height: "auto",
                                        width: 400,
                                        modal: true,
                                        drag: function (event, ui) {
                                            var scrollTopPx = $(document).scrollTop();
                                            var positionUI = ui.position;
                                            positionUI.top = positionUI.top - scrollTopPx;
                                            $(this).closest(".ui-dialog").css("top", positionUI.top);
                                        },
                                        buttons: {
                                            "Ok": function () {
                                                var dialogElement = $(this);
                                                dialogElement.dialog("close");
                                            }
                                        }
                                    });
                                }
                            });
                        },
                        "No": function () {
                            $(this).dialog( "close" );
                        }
                    }
                });
        });

        $('.datepicker').datepicker({
            changeYear: true,
            showButtonPanel: true,
            changeMonth: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            dateFormat: 'yy-mm-dd',
            yearRange: "-10:+10" 
        });
</script>
