﻿@model PhoenixObjects.Member.MemberRentalModel

@{
    ViewBag.Title = "Add Rent Free";
    ViewBag.Action = "AddMemberRental";
    Layout = "~/Views/Shared/_RentalFreePopupLayout.cshtml";
    ViewBag.DialogSize = "980";
}

<h3 class="page-title">
    Member Rent Free
    <small>add rent free</small>
</h3>
<h4 style="color:red">@ViewBag.Error</h4>
<h4 style="color:darkgreen">@ViewBag.Msg</h4>
<div class="portlet-body form">
    <div class="form-body">
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("MemberId", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.Member.MemberId, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("First Name", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.Member.FirstName, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Last Name", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.Member.LastName, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Email", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.Member.Email, new { @class = "form-control" })
                    <div class="col-md-9">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Mobile", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.Member.Mobile, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-body">
    <h3 class="form-section">Enter Dates</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Start Date", new { @class = "control-label col-md-3" })
                <div class="col-md-6">
                    <input type="date" class="form-control" name="StartDate" id="StartDate" value="@Model.RentalStartDateString" />
                    <span class="help-block">
                        @Html.ValidationMessageFor(model => model.RentalStartDateString)
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("End Date", new { @class = "control-label col-md-3" })
                <div class="col-md-6">
                    <input type="date" class="form-control" name="EndDate" id="EndDate" value="@Model.RentalEndDate" />
                    <span class="help-block">
                        @Html.ValidationMessageFor(model => model.RentalEndDate)
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

@section scripts {
    <script type="text/javascript">

    </script>
}
