﻿@{
 
    ViewBag.Title = "Confirm Payment";
    Layout = "~/Views/Shared/_RegisterPortalUser.cshtml";
    ViewBag.DialogSize = "400";
}
<h4>@ViewBag.Error</h4>
<h4>
    @ViewBag.Msg
</h4>
<div>
    <label>
        UserName :
    </label>
    <input type="text" id="PortalUserName" name="PortalUserName" />
    <input type="hidden" id="Memberkey" name="Memberkey" value="@ViewBag.id" />
</div>
        @section scripts {
            <script type="text/javascript">

                $("#dialog").dialog({
                    width: "500"
                });
            </script>
        }
