﻿@using Phoenix_BusLog
@model PhoenixObjects.Member.MemberRentalModel

@{
    ViewBag.Title = "Add New Member Rental";
    ViewBag.Action = "AddMemberRental";
    Layout = "~/Views/Shared/_RentalPopupLayout.cshtml";
    ViewBag.DialogSize = "980";
}

<h5 class="page-title">
    Member Rental
    <small>add member rental</small>
</h5>
<h4 style="color:red">@ViewBag.Error</h4>
<h4 style="color:green">@ViewBag.Msg</h4>
<div class="portlet-body form">
    @Html.HiddenFor(model => model.Member.CompanyKey)
    @Html.HiddenFor(model => model.Member.MemberId)
    @Html.HiddenFor(model => model.Member.FirstName)
    @Html.HiddenFor(model => model.Member.LastName)
    @Html.HiddenFor(model => model.Member.Email)
    @Html.HiddenFor(model => model.Member.Mobile)
    @Html.HiddenFor(model => model.Member.RentalStartDateString)
    <input type="hidden" name="IsFeeFreeMember" value="@ViewBag.IsFeeFreeMember.ToString()" />
    <div class="form-body">
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("MemberId", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.Member.MemberId, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("First Name", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.Member.FirstName, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Last Name", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.Member.LastName, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Email", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.Member.Email, new { @class = "form-control" })
                    <div class="col-md-9">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Mobile", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.Member.Mobile, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-body">
    <h3 class="form-section">Terminal Rental</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Rent Free", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.CheckBoxFor(model => model.RentalRentFree, new { id = "RentalRentFree" })
                    <span class="help-block">
                        @Html.ValidationMessageFor(model => model.RentalRentFree)
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Start Date", new { @class = "control-label col-md-3" })
                <div class="col-md-6">
                    <input type="date" class="form-control" name="StartDate" id="StartDate" value="@Model.RentalStartDateString" />
                    <span class="help-block">
                        @Html.ValidationMessageFor(model => model.RentalStartDateString)
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("End Date", new { @class = "control-label col-md-3" })
                <div class="col-md-6">
                    <input type="date" class="form-control" name="EndDate" id="EndDate" value="@Model.RentalEndDate" />
                    <span class="help-block">
                        @Html.ValidationMessageFor(model => model.RentalEndDate)
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Monthly Rental", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.RentalMemberRentalTemplateKey, (IEnumerable<SelectListItem>)ViewBag.MemberRentalTemplateList, new { id = "MonthlyRental1", @class = "form-control" })
                    <span class="help-block">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

@if (@Model.TerminalRentalRateList != null)
{
                <table id="TerminalRentalRateTbSF1" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Transaction Target</th>
                            <th>Rent Amount</th>
                            <th>New Amount</th>
                        </tr>
                    </thead>
                    @foreach (var mm in @Model.TerminalRentalRateList)
                    {
                    <tr>
                        <td>@mm.TransactionTarget</td>
                        @*<td></td>*@
                        <td>@mm.RentAmount</td>
                        <td>
                            <input type="number" style="width:60px" id=@mm.TerminalRentalRate_key name=@mm.TerminalRentalRate_key>
                        </td>
                        @*<td>
            <input type="text" style="height:20px; width:70px" class="form-control" id=@mm.TerminalRentalRate_key name=@mm.TerminalRentalRate_key />
        </td>*@
                    </tr>}
                </table>
            }
<table id="TerminalRentalRateTb1" class="table table-hover"></table>
