﻿@model PhoenixWeb.Models.ViewModel.MemberReferenceEntryViewModel

@{
    ViewBag.Title = "Add Manual Entry";
    Layout = "~/Views/Shared/_TerminalPopupLayout.cshtml";
    ViewBag.Action = "AddRewardsManualEntry";
    ViewBag.DialogSize = "1000";
    ViewBag.MessageType = ViewBag.MessageType;
}
<h3 class="page-title">
    Allocate QBR points to Member
    <small>allocate manual points such as bonus, missing points</small>
</h3>
@Html.HiddenFor(model => model.Member.MemberId)
@Html.HiddenFor(model => model.Member.TradingName)
@Html.HiddenFor(model => model.Member.FirstName)
@Html.HiddenFor(model => model.Member.LastName)
<label style="color:green" id="TerminalAllocationActual"></label>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.Label("MemberId", new { @class = "control-labelM col-md-2" })
            <div class="col-md-9">
                @Html.DisplayFor(model => model.Member.MemberId, new { @class = "form-control" }) /@Html.DisplayFor(model => model.Member.TradingName, new { @class = "form-control" }) / @Html.DisplayFor(model => model.Member.FirstName, new { @class = "form-control" }) @Html.DisplayFor(model => model.Member.LastName, new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
<div class="portlet-body form">
    <!-- BEGIN FORM-->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Points, new { @class = "control-labelM col-md-4" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Points, new { @class = "form-control", @required = "required" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Description, new { @class = "control-labelM col-md-4" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @required = "required" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("For Month", new { @class = "control-labelM col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.SelectedMonth, (IEnumerable<SelectListItem>)ViewBag.Months, new { id = "MonthKey", @class = "form-control", @required = "required" })
                    <div class="col-md-8">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("For Year", new { @class = "control-labelM col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.SelectedYear, (IEnumerable<SelectListItem>)ViewBag.Years, new { id = "YearKey", @class = "form-control", @required = "required" })
                    <div class="col-md-8">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Promotion ID", new { @class = "control-labelM col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.SelectedPromotionId, (IEnumerable<SelectListItem>)ViewBag.PromotionIds, new { id = "PromotionId", @class = "form-control", @required = "required" })
                    <div class="col-md-8">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Entry Type", new { @class = "control-labelM col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.MemberReferenceEntryTypeKey, (IEnumerable<SelectListItem>)ViewBag.MemberReferenceEntryList, new { id = "MemberReferenceEntryKey", @class = "form-control", @required = "required" })
                    <div class="col-md-8">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.MemberReferenceEntries != null && Model.MemberReferenceEntries.Count() > 0)
{
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>QBR Enteries
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 150px;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Entry Date Time
                            </th>
                            <th>
                                Points
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                For Month/Year
                            </th>
                            <th>
                                Promotion
                            </th>
                            <th>
                                Assigned By
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MemberReferenceEntries)
                        {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.EntryDateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Points)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.MonthName)' @Html.DisplayFor(modelItem => item.YearPeriod)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PromotionName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedByUser)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

<div>
    @Html.Partial("~/Views/Shared/_MessageDialog.cshtml", (string)ViewBag.Message ?? "")
</div>

@section scripts {
}