﻿@using System.Web.Mvc.Html
@using PhoenixWeb.Models.ViewModel;
@model MemberFeeApprovalVM
@Html.ValidationSummary(true)

@{
    ViewBag.Title = "Approval Members Fee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="page-title">
    Member Fee Approval
</h3>

<input type="hidden" id="urlHidden" value="@Url.Content("~/")">
<form action="#" class="horizontal-form">
    <div class="form-body">
        <input id="QantasExportFileKey" hidden="hidden" type="text" value="" />
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(x => Model.MemberID, new { @class = "control-labelM col-md-4" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.MemberID, new { @class = "form-control " })
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(x => Model.Username, new { @class = "control-labelM col-md-4" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.Username, new { @class = "form-control " })
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-6">
                <div class="col-md-6">
                    <span style="float:left;font-size:small">
                        <button type="button" class="btn blue-chambray" id="search"><i class="fa fa-check"></i> Load Pending Fees</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <div class="form-group" id="parentPendingFeesGrid">
                    <table id="grdPendingFees"></table>
                    <div id="grdPendingFeesPager"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span style="float:left;font-size:small">
                    <button type="button" class="btn blue-chambray" id="Approve" onclick="onApprove()"><i class="fa fa-check"></i>Approve</button>
                    <button type="button" class="btn blue-chambray" id="Reject" onclick="onReject()"><i class="fa fa-check"></i>Reject</button>
                </span>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/pages/Member/PH-ApprovalMemberFees.js"></script>
    <style type="text/css">
    </style>
    <script>
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".Member").addClass("active open");
        });
    </script>
}
