﻿@model PhoenixObjects.Common.CAddressList

@{
    ViewBag.Title = "Add Address";
    Layout = "~/Views/Shared/_AddressPopupLayout.cshtml";
    ViewBag.Action = "CreateMemberAddress";
    ViewBag.DialogSize = "980";
}

<h3 class="page-title">
    Address
    <small>add member address</small>
</h3>

    <div class="portlet-body form">
    <!-- BEGIN FORM-->

    <div class="form-body">
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Street Number", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <input type="text" class="form-control" name="StreetNumber" maxlength="20" autocomplete="off" required id="StreetNumber" value="@Model.StreetNumber" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Street Name", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <input type="text" class="form-control" name="StreetName" maxlength="40" autocomplete="off" required id="StreetName" value="@Model.StreetName" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Country", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <select class="form-control" id="Country" name="Country">
                        <option value="1">Australia</option>
                    </select>
                    <div class="col-md-9">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Post Code", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <input type="text" class="form-control" name="PostCode" required id="PostCode" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Address Type", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <select class="form-control" id="AddressType" name="AddressType">
                        <option value="Primary">Primary Address</option>
                        <option value="Mailing">Mailing Address</option>
                    </select>
                    <div class="col-md-9">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><br />
@if (Model.CAddresses != null)
{
    if (Model.CAddresses != null && Model.CAddresses.Count() > 0)
    {
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Added Address(s)
                </div>

            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    RowId
                                </th>
                                <th>
                                    Street Number
                                </th>
                                <th>
                                    Street Name
                                </th>
                                <th>
                                    Suburb
                                </th>
                                <th>
                                    State
                                </th>
                                <th>
                                    PostCode
                                </th>
                                <th>
                                    Address Type
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CAddresses)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StreetNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StreetName)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Suburb)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.State)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PostCode)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.AddressType)
                                    </td>
                                    <td>
                                        @Ajax.ActionLink("Delete", "DeleteCreatedAddress", new { Id = item.Id },
                                   new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
}

    @section scripts {
        <script type="text/javascript">
            //$("#dialog").dialog({
            //    width: "980"
            //});

            @*$(document).ready(function () {
                $("#PostCode").autocomplete({
                    source: '@Url.Action("AutoCompletePostCode")'

                });
            });*@
        </script>
    }
