﻿@model PhoenixObjects.Member.MemberModel
@using Phoenix_BusLog
@using PhoenixObjects.Enums
@using PhoenixObjects.Financial
@using PhoenixWeb.Helper
@{
    string readOnlyZipMerchantAPI = ViewContext.Controller.HasPermission("AccessZipAPI") == true ? "" : "readonly";
    ViewBag.Title = "Create";
}
<link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    .tooltip-inner {
        background-color: yellow;
        color: black;
        width: 1500px;
    }

    .ManualRemoved {
        display: none;
    }

    #ui-datepicker-div .ui-datepicker-month,
    #ui-datepicker-div .ui-datepicker-month option {
        color: black !important
    }

    #ui-datepicker-div .ui-datepicker-year,
    #ui-datepicker-div .ui-datepicker-year option {
        color: black !important
    }

    .dob-datepicker {
        background-color: #FFF !important;
        cursor: default !important;
    }

    .dob-row button.ui-datepicker-trigger {
        width: 15%;
    }

    .row {
        margin-top: 10px;
    }

    #uniform-ExtendedSettlement,
    #uniform-EOMMSFPayment {
        margin-left: -2px;
    }

    span#zip-section.info-icon {
        display: inline-block;
        margin-left: 10px;
        position: absolute;
        background-image: url(../images/info.svg);
        width: 20px;
        height: 20px;
    }
</style>

@*@using (Ajax.BeginForm("Create", "Member", new { BtnType = "CheckTerminal" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog", OnSuccess = "Successful" }, new { @enctype = "multipart/form-data", @id = "CusForm" }))
    {*@
@using (Html.BeginForm("Create", "Member", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "CusForm" }))
{

    @Html.ValidationSummary(true)
    @Html.ValidationSummary(false, "", new { style = "color:Red", id = "ErrorMessage" })


    //light bordered
    <h3 class="page-title">
        Create Member
        <small>insert new member</small>
    </h3>
    <input type="hidden" id="CompanyKey" value=@Model.CompanyKey />
    <input type="hidden" id="AllVehicleType" value="@ViewBag.VehicleDtoAsJson" />
    <input type="hidden" id="subkey" value="@Model.SubBusinessTypeKey" />
    @Html.HiddenFor(model => model.Member_key)
    @Html.HiddenFor(model => model.PrimaryAddressKey)
    @Html.HiddenFor(model => model.MailingAddressKey)
    @Html.HiddenFor(model => model.PurposeTypes)
    @Html.HiddenFor(model => model.BankAccountDtoAsJson)
    @Html.HiddenFor(model => model.CommissionRatesDtoAsJson)
    @Html.HiddenFor(model => model.RebatesDtoAsJson)
    <input type="hidden" id="hdnFeeFreeMemberTemplateKey" data-value="@Caching.GetSystemConfigurationByKey(SystemConfigurationKeyEnum.FeefreeRentalTemplateKey.ToString()).ToString()" />
    <input type="hidden" id="ListTerminal" name="ListTerminal" value="@ViewBag.ListTerminal" />
    <input type="hidden" id="ListMCCRequiredBusinessType" value="@ViewBag.ListMCCRequiredBusinessType" />
    <input type="hidden" id="CompanyKeysAllowOnlyOneSubBusToAllTerminals" value="@Caching.GetSystemConfigurationByKey(SystemConfigurationKeyEnum.CompanyKeysAllowOnlyOneSubBusToAllTerminals.ToString())" />
    <input type="hidden" id="BusinessKeysAllowFixedFee" value="@Caching.GetSystemConfigurationByKey("BusinessKeysAllowFixedFee")" />
    <input type="hidden" id="BusinessKeysAllowRebate" value="@Caching.GetSystemConfigurationByKey("BusinessKeysAllowRebate")" />
    <input type="hidden" id="BusinessTypeAllowSplitPaymentReport" value="@Caching.GetSystemConfigurationByKey("EnableSplitPaymentReport")" />
    <input type="hidden" id="ListEOMMSFPaymentEnableBusinessType" value="@ViewBag.ListEOMMSFPaymentEnableBusinessType" />
    <input type="hidden" id="BusinessTypeAutoEnableEOMMSFPayment" value="@Caching.GetSystemConfigurationByKey("BusinessTypeAutoEnableEOMMSFPayment")" />;
    <input type="hidden" id="BusinessTypeAutoEnableSplitPaymentReport" value="@Caching.GetSystemConfigurationByKey("BusinessTypeAutoEnableEOMMSFPayment")" />;
    <input type="hidden" id="BusinessEnableTransactionList" value="@Caching.GetSystemConfigurationByKey("BusinessEnableTransactionList")" />;
    <input type="hidden" id="BusinessTypeAllowFeeFree" value="@Caching.GetSystemConfigurationByKey("BusinessTypeAllowFeeFree")" />
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-adjust"></i>
                Member
            </div>
            <div class="tools">
                <a href="" class="expand"></a>

                <a href="" class="reload">
                </a>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form action="#" class="horizontal-form">
                <div class="form-body">
                    <h4 class="form-section">Member Info</h4>

                    <span style="float:right; cursor:pointer" id="uncllopseall">

                        @*@Ajax.ActionLink("Add Address", "CreateMemberAddress", new { },
                            new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { @Class = "model fade in" }) |*@

                        @Ajax.ActionLink("Add Account", "CreateMemberAccount", new { },
                        new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "" }) |

                        @Ajax.ActionLink("Allocate Terminal", "CreateAllocateMemberTerminal", new { subBusinessTypeKey = @Model.SubBusinessTypeKey, Id = @Model.CompanyKey},
                        new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog", OnBegin = "fnOnBegin"}, new { Class = "AjaxAllocateTerminal"})
                    </span>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SalesforceId, new { @class = "control-labelM col-md-5" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.SalesforceId, new { @readonly = "readonly", @class = "form-control", id = "SalesforceId" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.SalesforceId)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--/span-->
                        <div class="col-md-5">
                            <div class="form-group">
                                @Html.Label("Business Type", new { @class = "control-labelM col-md-5", @for = "BusinessType" })
                                <div class="col-md-6">
                                    @Html.CustomDropdownListFor(model => model.CompanyKey, (IEnumerable<CustomHelpers.CustomSelectItem>
                                        )ViewBag.BusinessTypeList, "Select Business Type", "0",
                                        new
                                        {
                                            id = "BusinessType", @class = "form-control", required = "required"
                                        })

                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.CompanyKey)
                                        <span id="error-vehicle-type" class="field-validation-error">There are some wrong between Business Type of Terminal Allocation and Business Type.</span>
                                        <span id="error-message-vehicle-type" class="field-validation-error"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" style="line-height: 33px; display: none" id="FeeFreeMemberSection">
                            <div class="col-md-1">
                                @Html.CheckBoxFor(model => model.IsFeeFreeMember, new { @class = "form-control", id = "IsFeeFreeMember" })
                            </div>
                            @Html.LabelFor(model => model.IsFeeFreeMember, new { @Id = "IsFeeFreeMember", @class = "control-labelM col-md-8" })
                        </div>
                    </div>
                    <div class="row ManualRemoved" id="subbusinessTypeSection">
                        <div class="col-md-5">
                            <div class="form-group">
                                @Html.Label("Sub-business Type", new { @class = "control-labelM col-md-5", @for = "SubBusinessType" })
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.SubBusinessTypeKey, new List<SelectListItem>(),
                                        new
                                        {
                                            id = "SubBusinessType", @class = "form-control", required = "required"
                                        })

                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.SubBusinessTypeKey)
                                        <span id="error-sub-business-type" class="field-validation-error">This field is required.</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                @Html.Label("Payment Type", new { @class = "control-labelM col-md-5" })
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.PaymentType, (IEnumerable<SelectListItem>
                                        )ViewBag.PaymentTypeList, new { id = "PaymentType", @class = "form-control" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.IsBankCustomer)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!--/row-->
                    <h4 class="form-section">Personal Info</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName, new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", id = "FirstName", maxLength = "20", @required = "required" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.FirstName)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", id = "LastName", maxLength = "20", @required = "required" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.LastName)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Telephone, new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control", id = "Telephone", maxLength = "17" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.Telephone)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/row-->
                    <div class="row">
                        @*<div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Telephone, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control", id = "Telephone", maxLength = "17" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.Telephone)
                                        </span>
                                    </div>
                                </div>
                            </div>*@
                        <!--/span-->
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Fax, new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Fax, new { @class = "form-control", id = "Fax", maxLength = "15" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.Fax)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Mobile, new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", id = "Mobile", maxLength = "17", @required = "required" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.Mobile)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", id = "Email", maxLength = "50", @required = "required" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.Email)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">


                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PhotoID, new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    <input type="file" name="file" id="file" />
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.PhotoID)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PhotoIDExpiry, new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.PhotoIDExpiry, new { @class = "form-control", id = "PhotoIDExpiry" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.PhotoIDExpiry)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DriverLicenseNumber, new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.DriverLicenseNumber, new { @class = "form-control", id = "DriverLicenseNumber", maxLength = "20" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.DriverLicenseNumber)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-labelM col-md-4" for="DOBstring">DOB</label>
                                <div class="col-md-8 dob-row" style="flex-flow: row wrap;">
                                    <input type="text" class="form-control dob-datepicker" name="DOBstring" id="DOBstring" value="@Model.DOBstring" readonly required="required" style="width: 85%" />
                                    <span class="help-block" style="width: 100%;">
                                        @Html.ValidationMessageFor(model => model.DOBstring)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div id="DriverAuthId" class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DriverAuth, new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.DriverAuth, new { @class = "form-control", id = "DriverAuth", maxLength = "24" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.DriverAuth)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <h4 class="form-section">Primary Address</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PStreetNo, new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    <input type="text" class="form-control" name="PStreetNo" required value="@Model.PStreetNo" id="PStreetNo" />
                                    <span class="help-block">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PStreet, new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    <input type="text" class="form-control" name="PStreet" required value="@Model.PStreet" id="PStreet" />
                                    <span class="help-block">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PPostCode, new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    <input type="text" name="PPostCode" class="form-control" required value="@Model.PPostCode" id="PPostCode" />
                                    <span class="help-block">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 class="form-section">
                        Mailing Address
                        &nbsp;  <input type="checkbox" id="SamePrimaryAdd" /><span style="font-size:smaller">Same as primary address</span>
                    </h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Street No", new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    <input type="text" class="form-control" name="MStreetNo" value="@Model.MStreetNo" id="MStreetNo" />
                                    <span class="help-block">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Street Name", new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    <input type="text" class="form-control" name="MStreet" value="@Model.MStreet" id="MStreet" />
                                    <span class="help-block">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Post Code", new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    <input type="text" name="MPostCode" class="form-control" value="@Model.MPostCode" id="MPostCode" />

                                    <span class="help-block">

                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="form-section">Business Details</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TradingName, new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.TradingName, new { @class = "form-control", id = "TradingName", maxLength = "50", required = "required" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.TradingName)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Dealer, new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @*@Html.TextBoxFor(model => model.Dealer, new { @class = "form-control", id = "Dealer" })*@
                                    @*@Html.DropDownListFor(model => model.Dealer, (IEnumerable<SelectListItem>
                                        )ViewBag.Dealers, new { @class = "form-control", id = "Dealer" })*@
                                    @Html.DropDownListFor(model => model.DealerKey, (IEnumerable<SelectListItem>
                                        )ViewBag.Dealers, new { @class = "form-control", id = "Dealer" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.Dealer)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ABN, new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ABN, new { @class = "form-control", id = "ABN", maxLength = "15" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.ABN)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ACN, new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ACN, new { @class = "form-control", id = "ACN", maxLength = "15" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.ACN)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.MerchantID, new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.MerchantID, new { @class = "form-control", id = "MerchantID", maxLength = "50", required = "required" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.MerchantID)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div id="MCCId" class="col-md-4">
                            <div class="form-group">
                                <label class="control-labelM col-md-4" for="MCC">MCC<span class="mandatory" style="color:red; display:none;"> *</span></label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.MCC, new { @class = "form-control", id = "MCC", maxLength = "4" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.MCC)
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Ave Transaction", new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.AverageTransaction, new { @class = "form-control", min = "0.00", maxLength = "10", type = "number", step = "0.01" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.AverageTransaction)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Ave Turnover", new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.AverageTurnover, new { @class = "form-control", min = "0.00", maxLength = "10", type = "number", step = "0.01" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.AverageTurnover)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("QBR #", new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.QBRNumber, new { @class = "form-control", id = "textQBR", maxLength = "12" })
                                    <div id="messageQBR"></div>
                                    <input type="button" class="btn btn-info btn-sm qbrBtn" id="validateQBR" value="Validate" />
                                    <div id="loadingDiv_notRequired"></div>
                                    <input type="hidden" id="IsQBRvalidated" value="0" />
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.QBRNumber)
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.MerchantWebsite, new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.MerchantWebsite, new { @class = "form-control", id = "textMerchantWebsite", maxLength = "100" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Amex Merchant ID", new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.AmexMerchantID, new { @class = "form-control", @id = "AmexMerchantID", maxlength = "16" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.EOMMSFPayment, new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @if (ViewContext.Controller.HasPermission("SetEndOfMonthMSF"))
                                    {
                                        @Html.CheckBoxFor(model => model.EOMMSFPayment, new { @class = "form-control", id = "EOMMSFPayment" })
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(model => model.EOMMSFPayment, new { @class = "form-control", id = "EOMMSFPayment" })
                                        <input id="EOMMSFPayment" name="EOMMSFPayment" hidden value="@Html.Raw(Json.Encode(Model.EOMMSFPayment))" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ExtendedSettlement, new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @if (ViewContext.Controller.HasPermission("MemberAddAllocateMemberTerminal") ||
                                         ViewContext.Controller.HasPermission("MemberEditMember"))
                                    {
                                        @Html.CheckBoxFor(model => model.ExtendedSettlement, new { @class = "form-control", id = "ExtendedSettlement" })
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(model => model.ExtendedSettlement, new { @class = "form-control", id = "ExtendedSettlement" })
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>

                    <div id="bankAccountArea">
                        <h4 class="form-section" data-target="#BankAccounts">
                            Bank Account(s)
                            <span style="float:right;font-size:small">
                                @Ajax.ActionLink("Add Account", "CreateMemberAccount", new { },
                                new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "" })
                            </span>
                        </h4>
                        <table class="table table-striped" id="tblBankAccount"></table>
                    </div>

                    <h4 class="form-section">
                        Statements
                        <small>(Select statements member would like to receive)</small>
                    </h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("End Of Month Statement", new { @class = "control-labelM col-md-8" })
                                <div class="col-md-4">
                                    @Html.CheckBoxFor(model => model.ReceiveMonthlyActivityReportB, new { id = "ReceiveMonthlyActivityReportB" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.ReceiveMonthlyActivityReportB)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Payment Report", new { @class = "control-labelM col-md-8" })
                                <div class="col-md-4">
                                    @Html.CheckBoxFor(model => model.ReceivePaymentReportB, new { id = "ReceivePaymentReportB" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.ReceivePaymentReportB)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.EnableSplitPaymentReport, new { @class = "control-labelM col-md-8" })
                                <div class="col-md-4">
                                    @Html.CheckBoxFor(model => model.EnableSplitPaymentReport, new { id = "EnableSplitPaymentReport" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.EnableSplitPaymentReport)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="WeekReport" class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Weekly Activity Report", new { @class = "control-labelM col-md-8" })
                                <div class="col-md-4">
                                    @Html.CheckBoxFor(model => model.ReceiveWeeklyActivityReportB, new { id = "ReceiveWeeklyActivityReportB" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.ReceiveWeeklyActivityReportB)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div id="TransactionList" class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Transaction List in EOM statement", new { @class = "control-labelM col-md-8" })
                                <div class="col-md-4">
                                    @Html.CheckBoxFor(model => model.EnableTransactionListOnEOMReport, new { id = "EnableTransactionListOnEOMReport" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.EnableTransactionListOnEOMReport)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 class="form-section">Terminal Rental/Admin Fee</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Start Date", new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @*<input type="date" class="form-control" name="RentalStartDate" id="RentalStartDate" data-org-value='@Model.RentalStartDate' />*@
                                    @Html.TextBoxFor(m => m.RentalStartDate, "{0:yyyy-MM-dd}", new { @type = "date" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.RentalStartDate)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("End Date", new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @*<input class="form-control form-control-inline input-medium date-picker" size="16" type="text" value="">*@
                                    @*@Html.TextBoxFor(model => model.RentalEndDate, new { @class = "form-control form-control-inline input-medium date-picker" })*@
                                    @*<input type="date" class="form-control" name="RentalEndDate" id="RentalEndDate" data-org-value="@Model.RentalEndDate" />*@
                                    @Html.TextBoxFor(m => m.RentalEndDate, "{0:yyyy-MM-dd}", new { @type = "date" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.RentalEndDate)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Rent Free", new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @Html.CheckBoxFor(model => model.RentalRentFree, new { id = "RentFree" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.RentalRentFree)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Monthly Rental", new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.RentalMemberRentalTemplateKey, (IEnumerable<SelectListItem>)ViewBag.MemberRentalTemplateList, new { @id = "MonthlyRental", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="hdnBusinessType" data-value="@Model.CompanyKey" />
                        <input type="hidden" id="hdnRentalMemberRentalTemplateKey" data-value="@Model.RentalMemberRentalTemplateKey" />
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Template", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    <table id="TerminalRentalRateTb" class="table"></table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="MSFBar">
                        <h4 class="form-section">
                            Commission Rate/MSF
                        </h4>
                        <div>
                            <div id="RebateSection">
                                <div class="rebate-title">
                                    <span><b>REBATE AMOUNT</b> (only applicable for Debit/EFTPOS transactions)</span>
                                    <button id="OpenRebatePopup" type="button" class="btn blue">Add Rebate</button>
                                </div>
                                <div id="RebateGrid"></div>
                            </div>
                            <div style="margin-bottom: 5px; background-color:whitesmoke;">
                                <span style="margin-left: 10px; font-weight: bold;">RATES</span>
                                <button type="button" class="btn blue" style="margin-left: 10%;" onclick="ModifyCommissionRate('@Model.MemberId', null, false, false)">Add Rate</button>
                            </div>
                            <div id="CommissionRateGrid"></div>
                        </div>
                        <br />

                        <br />
                        <div class="row">
                            <div class="col-md-8">
                                @if (Model.SalesforceData != null)
                                {
                                    <span style="color:green; font-weight:700">Saleforce data</span>
                                    <div>
                                        <span style="color:green">Debit rate: @Model.SalesforceData.DebitRateString | VisaCard rate: @Model.SalesforceData.VisaRateString | MasterCard rate: @Model.SalesforceData.MasterRateString | AmexCard rate: @Model.SalesforceData.AmexRateString | Diners rate: @Model.SalesforceData.DinersRateString | UnionPay rate: @Model.SalesforceData.UnionPayRateString | Zip rate: @Model.SalesforceData.ZipRatesString | Alipay rate: @Model.SalesforceData.AlipayRateString | QantasQFF rate: @Model.SalesforceData.QantasRateString </span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div><br />
                    <div>
                        <span style="float:right; cursor:pointer" id="uncllopseall">
                            @Ajax.ActionLink("Add Account", "CreateMemberAccount", new { },
                            new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "" }) |

                            @Ajax.ActionLink("Allocate Terminal", "CreateAllocateMemberTerminal", new { subBusinessTypeKey = @Model.SubBusinessTypeKey, Id = @Model.CompanyKey},
                                new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog", OnBegin = "fnOnBegin"}, new { Class = "AjaxAllocateTerminal"})

                        </span>
                    </div><br />

                    <h4 class="form-section">
                        Zip API
                        <span id="zip-section" class="info-icon hidden" title="Zip Pay is not available for fee free merchants"></span>
                    </h4>
                    <div id="ZipMerchantAPI" class="row @readOnlyZipMerchantAPI">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Zip API Key", new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ZipMerchantAPIModel.ZipAPIKey, new { id = "ZipAPIKey", @class = "form-control", @onchange = "OnChangeZipMerchantAPI()", @title = "Please input Zip API Key" })
                                    <span class="help-block text-danger">
                                        @Html.ValidationMessageFor(model => model.ZipMerchantAPIModel.ZipAPIKey)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Location ID", new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ZipMerchantAPIModel.LocationID, new { id = "LocationID", @class = "form-control", @onchange = "OnChangeZipMerchantAPI()", @title = "Please input Location ID" })
                                    <span class="help-block text-danger">
                                        @Html.ValidationMessageFor(model => model.ZipMerchantAPIModel.LocationID)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Is Active", new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @Html.CheckBoxFor(model => model.ZipMerchantAPIModel.IsActive, new { @class = "form-control", id = "Inactive" })
                                    <span class="help-block">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div><br />
                </div>
                <div>
                    <span style="color:red;margin-left:10px" id="error"></span>
                </div>



                <br /><br />
                <div class="form-actions right">
                    <button type="button" onclick="history.go(-1);return true;" class="btn default">Cancel</button>
                    <button type="button" class="btn blue" id="submitResult"><i class="fa fa-check"></i> Save</button>


                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
}
@Html.Partial("~/Views/Member/Commission/_Rebate.cshtml")
@Html.Partial("~/Views/Member/Commission/_RebateGrid.cshtml")
@Html.Partial("~/Views/Member/Commission/CommissionRateGrid.cshtml", Model, new ViewDataDictionary { { "IsFromDetail", "false" } })
@Html.Partial("~/Views/Terminal/_TerminalRenderTemplate.cshtml")
@Html.Partial("~/Views/Member/Commission/CommissionRate.cshtml", new CommissionRateModelVM())
<script type="text/x-jsrender" id="tmplBankAccountHeader">
    <thead>
        <tr id="headRow">
            <th>Account Name</th>
            <th>Account Number</th>
            <th>BSB</th>
            {{for data}}
            <th>{{:PurposeTypeName}}</th>
            {{/for}}
            <th>Action</th>
        </tr>
    </thead>
</script>
<script type="text/x-jsrender" id="tmplBankAccountList">
    <tbody>
        {{for data itemVar="~clonedata"}}
        <tr id="row_{{:AccountKey}}">
            <td>{{:AccountName}}</td>
            <td>{{:AccountNumber}}</td>
            <td>{{:BSB}}</td>
            {{for TransactionPurposeDtoAsJson }}
            <td><input type="checkbox" style="zoom: 1.4;" id="chk_{{:~clonedata.AccountKey}}_{{:PurposeTypeID}}" data-purposename="{{:PurposeTypeName}}" data-purposeid="{{:PurposeTypeID}}" data-accountkey="{{:~clonedata.AccountKey}}" {{if Checked}} checked {{/if}} onchange="OnCheckPurpose(this)" /></td>
            {{/for}}
            {{if AccountKey < 1}}
            <td><a href="#" id="delete_{{:AccountKey}}" onclick="onDeleteBankAccount({{:AccountKey}})" title="New added account can be delete"> Delete</a></td>
            {{else}}
            <td></td>
            {{/if}}
        </tr>
        {{/for}}
    </tbody>
</script>
<script src="~/assets/pages/scripts/table-datatables-editable.min.js" type="text/javascript"></script>
<script src="~/Scripts/Common-Utils.js" type="text/javascript"></script>
<script src="~/Scripts/pages/PH-BankAccount.js"></script>
<script src="~/Scripts/pages/Member/CommissionRate/PH-Rebate.js"></script>
<script src="~/Scripts/pages/Member/CommissionRate/PH-CommissionRate.js"></script>
<script src="~/Scripts/pages/Member/PH-FeeFree.js"></script>
<script src="~/Scripts/pages/PH-MerchantCreation.js?v=1.0.0.0" type="text/javascript"></script>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#error-vehicle-type").hide();
            $("#error-message-vehicle-type").hide();
            //load Bank Account Area
            RenderBankAccountGrid("tblBankAccount");
            RenderCommissionRates("commissionRateGrid");
        });

        $("#textMerchantWebsite").off("focusout").on("focusout",
            function () {
                var regex =
                    /^(https?:\/\/)?(www\.)[-a-zA-Z0-9@@:%._\+~#=]{2,256}\.[a-z]{2,4}\b([-a-zA-Z0-9@@:%_\+.~#?&//=]*)|(https?:\/\/)?(www\.)?(?!ww)[-a-zA-Z0-9@@:%._\+~#=]{2,256}\.[a-z]{2,4}\b([-a-zA-Z0-9@@:%_\+.~#?&//=]*)$/ig;
                var value = $("#textMerchantWebsite").val();
                if (value && !regex.test(value)) {
                    $("#textMerchantWebsite").attr("title", "Wrong format");
                    $("#textMerchantWebsite").addClass("errorClass");
                } else {
                    $("#textMerchantWebsite").attr("title", "");
                    $("#textMerchantWebsite").removeClass("errorClass");
                }
            });

        $("#AmexMerchantID").off("focusout").on("focusout",
            function () {
                var regex = /^\d+$/;
                var value = $("#AmexMerchantID").val();
                if (value && !regex.test(value)) {
                    $("#AmexMerchantID").attr("title", "Please enter a numerical value only");
                    $("#AmexMerchantID").addClass("errorClass");
                } else {
                    $("#AmexMerchantID").attr("title", "");
                    $("#AmexMerchantID").removeClass("errorClass");
                }
            });

        $("#editMemberCommissionRateDialog").dialog({
            draggable: true,
            drag: function (event, ui) {
                var scrollTopPx = $(document).scrollTop();
                var positionUI = ui.position;
                positionUI.top = positionUI.top - scrollTopPx;
                $(this).closest(".ui-dialog").css("top", positionUI.top);
            }
        });
        $("#editMemberCommissionRateDialog").dialog("close");

        $('input[type=text], select').each(function () {
            var req = $(this).attr('required');
            if (undefined != req) {
                var label = $('label[for="' + $(this).attr('id') + '"]');
                var text = label.text();
                if (text.length > 0) {
                    label.append('<span style="color:red"> *</span>');
                }
            }
        });

        var dt = new Date();
        dt.setFullYear(new Date().getFullYear() - 16);

        Util.InitDatepicker('#DOBstring', {
            changeYear: true,
            changeMonth: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            showButtonPanel: false,
            defaultDate: dt,
            dateFormat: 'dd/mm/yy',
            yearRange: '-80:-16'
        });
    </script>
}
<input type="hidden" id="hdSessionTerminalAllocationListUrl" value="@Url.Content(" ~/Member/GetSessionTerminalAllocationList")" />
