﻿@model PhoenixObjects.Member.MemberRentalModel

@{
    ViewBag.Title = "Add New Member Rental";
    ViewBag.Action = "CreateMemberRental";
    Layout = "~/Views/Shared/_RentalPopupLayout.cshtml";
}

@*<script type="text/javascript">
    $(document).ready(function () {
        $.getJSON("Phoenixweb/AjaxAdmin/GetRentalTurnoverRange", null, function (data) {
            $.each(data, function (i, item) {
                $("<option>").val(this.RentalTurnoverRangeKey)
                             .text(this.RangeMsg)
                             .appendTo("#RentalTurnoverRange");
            });
        });
    });
</script>*@
<h3>Add Member Rental</h3>
    <table>
    <tr>
        <td>
            <div class="editor-label">
                <label>Rent Free</label>
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.EditorFor(model => model.RentFree)
                @Html.ValidationMessageFor(model => model.RentFree)
            </div>
        </td>
       
    </tr>
    <tr>
        <td>
            <div class="editor-label">
                <label>Start Date</label>
            </div>
        </td>
        <td>
            <div class="editor-field">
                 <input type="date" name="StartDate"  id="StartDate" />

            </div>
        </td>
        <td>

            <div class="editor-label">
                <label>End Date</label>
            </div>
        </td>
        <td>

            <div class="editor-field">
                 <input type="date" name="EndDate" id="EndDate" />
            </div>
        </td>
    </tr>

        <tr>
        <td>
            <div class="editor-label">
                <label>Rental Amount</label>
            </div>
        </td>
        <td>
            <div class="editor-field">
                <input type="number" name="RentalAmount" required id="RentalAmount" value="@Model.RentalAmount" />
            </div>
        </td>
        <td>

            <div class="editor-label">
                <label>Rental Turnover Range</label>
            </div>
        </td>
        <td>

            <div class="editor-field">
                <select style="width: 310px;height:30px" id="RentalTurnoverRange" name="RentalTurnoverRange"></select>
            </div>
        </td>
    </tr>

</table>


    @if (Model.MemberRentalModelList != null)
    {
        <hr />
<table>
    @if (Model.MemberRentalModelList != null && Model.MemberRentalModelList.Count() > 0)
    {
        <thead style="font-weight:300">
           Current Member Rental List 
        </thead>
        
          <tr>
                <td>
                  <label>Rental Free</label>
                </td>
                <td>
                    <label>Start Date</label>
                </td>
                <td>
                    <label>End Date</label>
                </td>

                <td>
                    <label>Rental Amount</label>
                </td>
                <td>
                    <label>Rental Turn Over</label>
                </td>
            </tr>
        foreach (var item in Model.MemberRentalModelList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RentFree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.RentalAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentalTurnoverRangeKey)
                </td>
               
            </tr>
        }
    }
    
</table>
    }
<br />
@section scripts {
    <script type="text/javascript">

    $("#dialog").dialog({
        width: "980"
    });

    $.ajax({
        url: '@Url.Action("GetRentalTurnoverRange", "AjaxAdmin")',
        type: "GET",
        dataType: "json",
        success: function (data) {
            $.each(data, function (i, item) {
                $("#RentalTurnoverRange").append(
                        $("<option></option>").val(item.RentalTurnoverRangeKey).html(item.RangeMsg)
                    );
            });

        }
    });

      
    </script>
}