﻿@model PhoenixObjects.Financial.CommissionRateModelVM

@{
    ViewBag.Title = "Add Commission rate";
    ViewBag.Action = "CreateMemberCommissionRate";
    Layout = "~/Views/Shared/_CommissionRatePopupLayout.cshtml";
    ViewBag.DialogSize = "750";
}
   
  <h3 class="page-title">
    Commission rate
    <small>add member commssion rate</small>
</h3>
    <i style="color:red">@ViewBag.Error</i>

<div class="portlet-body form">
    <!-- BEGIN FORM-->

    <div class="form-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Business Type", new { @class = "control-labelM col-md-4" })
                    <div class="col-md-8">
                        <input class="form-control" type="text" readonly name="BusinessType" id="BusinessType" value="@Model.CommissionRateModel.BusinessType" />
                    </div>
                </div>
            </div>
        </div> <br />
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Debit Rate", new { @class = "control-labelM col-md-4" })
                    <div class="col-md-2">
                        <input class="form-control" type="text" name="CRDebitRate" id="CRDebitRate" value="@Model.CommissionRateModel.CRDebitRate" />

                    </div>
                    <div class="col-md-3">
                        <input type="radio" name="rado" checked value="Percentage" />% (Percentage)

                    </div>
                    <div class="col-md-3">
                        <input type="radio" name="rado" value="Dollar" />$ (Dollar value)
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Visa Card Rate (%)", new { @class = "control-labelM col-md-4" })
                    <div class="col-md-2">
                        <input class="form-control" type="text" name="CRVisaRate" id="CRVisaRate" value="@Model.CommissionRateModel.CRVisaRate" />

                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Master Card Rate (%)", new { @class = "control-labelM col-md-4" })
                    <div class="col-md-2">
                        <input class="form-control" type="text" name="CRMasterCardRate" id="CRMasterCardRate" value="@Model.CommissionRateModel.CRMasterCardRate" />

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Amex Rate (%)", new { @class = "control-labelM col-md-4" })
                    <div class="col-md-2">
                        <input class="form-control" type="text" name="CRAmexRate" id="CRAmexRate" value="@Model.CommissionRateModel.CRAmexRate" />

                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Diners Rate (%)", new { @class = "control-labelM col-md-4" })
                    <div class="col-md-2">
                        <input class="form-control" type="text" name="CRDinersRate" id="CRDinersRate" value="@Model.CommissionRateModel.CRDinersRate" />

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("UnionPay Rate (%)", new { @class = "control-labelM col-md-4" })
                    <div class="col-md-2">
                        <input class="form-control" type="text" name="CRAmexRate" id="CRAmexRate" value="@Model.CommissionRateModel.CRAmexRate" />

                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Zip Rate (%)", new { @class = "control-labelM col-md-4" })
                    <div class="col-md-2">
                        <input class="form-control" type="text" name="CRDinersRate" id="CRDinersRate" value="@Model.CommissionRateModel.CRDinersRate" />

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Qantas Rate", new { @class = "control-labelM col-md-4" })
                    <div class="col-md-2">
                        <input class="form-control" type="text" name="CRQantasRate" id="CRQantasRate" value="@Model.CommissionRateModel.CRQantasRate" />

                    </div>
                    <div class="col-md-3">
                        <input type="radio" name="qantasrado" checked value="Percentage" />% (Percentage)

                    </div>
                    <div class="col-md-3">
                        <input type="radio" name="qantasrado" value="Dollar" />$ (Dollar value)
                    </div>

                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Alipay Rate (%)", new { @class = "control-labelM col-md-4" })
                    <div class="col-md-2">
                        <input class="form-control" type="text" name="CRDinersRate" id="CRDinersRate" value="@Model.CommissionRateModel.CRDinersRate" />

                    </div>
                </div>
            </div>
        </div>
    </div>  

</div>
@if (Model.SalesforceData != null )
{
    <span style="color:green; font-weight:600">Saleforce data</span>
<div>
    <span style="color:green">Debit rate: @Model.SalesforceData.CRDebitRate | VisaCard rate: @Model.SalesforceData.CRVisaRate | MasterCard rate: @Model.SalesforceData.CRMasterCardRate | AmexCard rate: @Model.SalesforceData.CRAmexRate | Diners rate: @Model.SalesforceData.CRDinersRate | UnionPay rate: @Model.SalesforceData.CRUnionPayRate | Zip rate: @Model.SalesforceData.CRZipRate | Qantas rate: @Model.SalesforceData.CRQantasRate | Alipay rate: @Model.SalesforceData.CRAlipayRate </span>
</div>
}
<br />
@if (Model.CommissionRateModelAdded != null )
{
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Commssions to be added
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>
                                <label>Debit Rate</label>
                            </td>
                            <td>
                                <label>DebitRate Type</label>
                            </td>
                            <td>
                                <label>MasterCard Rate</label>
                            </td>
                            <td>
                                <label>Visa Rate</label>
                            </td>
                            <td>
                                <label>Amex Rate</label>
                            </td>
                            <td>
                                <label>Diners Rate</label>
                            </td>

                            <td>
                                <label>UnionPay Rate</label>
                            </td>

                            <td>
                                <label>Zip Rate</label>
                            </td>
                            <td>
                                <label>Qantas Rate</label>
                            </td>
                            <td>
                                <label>Qantas Rate Type</label>
                            </td>
                            <td>
                                <label>Alipay Rate</label>
                            </td>
                        </tr>
                    </thead>
                    <tbody>                       
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => Model.CommissionRateModelAdded.CRDebitRate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.CommissionRateModelAdded.DebitRateType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.CommissionRateModelAdded.CRMasterCardRate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.CommissionRateModelAdded.CRVisaRate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.CommissionRateModelAdded.CRAmexRate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.CommissionRateModelAdded.CRDinersRate)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => Model.CommissionRateModelAdded.CRUnionPayRate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.CommissionRateModelAdded.CRZipRate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.CommissionRateModelAdded.CRQantasRate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.CommissionRateModelAdded.QantasRateType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.CommissionRateModelAdded.CRAlipayRate)
                            </td>
                        </tr>
                     
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
    @section scripts {
        <script type="text/javascript">

            $(document).ready(function () {
                $("#CRDebitRate").change(function () {
                    $("#error").text("");
                    var val1 = $("#BusinessType").val();
                    if (val1 == "LiveEftPos") {
                        if ($("#CRDebitRate").val() > 0) {
                            $("#error").text("Debit rate cannot be bigger then zero");
                            //  alert("Debit rate cannot be bigger then zero");
                            $("#CRDebitRate").val("");
                            $("#CRDebitRate").focus();
                        }
                    }
                });
            });

            $(document).ready(function () {
                $("#CRVisaRate").change(function () {
                    $("#error").text("");
                    var val1 = $("#BusinessType").val();
                    if (val1 == "LiveEftPos") {
                        if ($("#CRVisaRate").val() > 0) {
                            $("#error").text("Visa rate cannot be bigger then zero");
                            //  alert("Visa rate cannot be bigger then zero");
                            $("#CRVisaRate").val("");
                            $("#CRVisaRate").focus();
                        }
                    }
                });
            });

            $(document).ready(function () {
                $("#CRMasterCardRate").change(function () {
                    $("#error").text("");
                    var val1 = $("#BusinessType").val();
                    if (val1 == "LiveEftPos") {
                        if ($("#CRMasterCardRate").val() > 0) {
                            $("#error").text("Master Card rate cannot be bigger then zero");
                            // alert("Master card rate cannot be bigger then zero");
                            $("#CRMasterCardRate").val("");
                            $("#CRMasterCardRate").focus();
                        }
                    }
                });
            });
            $(document).ready(function () {
                $("#CRAmexRate").change(function () {
                    $("#error").text("");
                    var val1 = $("#BusinessType").val();
                    if (val1 == "LiveEftPos") {
                        if ($("#CRAmexRate").val() > 0) {
                            $("#error").text("Amex rate cannot be bigger then zero");
                            // alert("Amex rate cannot be bigger then zero");
                            $("#CRAmexRate").val("");
                            $("#CRAmexRate").focus();
                        }
                    }
                });
            });
            $(document).ready(function () {
                $("#CRDinersRate").change(function () {
                    $("#error").text("");
                    var val1 = $("#BusinessType").val();
                    if (val1 == "LiveEftPos") {
                        if ($("#CRDinersRate").val() > 0) {
                            $("#error").text("Diners rate cannot be bigger then zero");
                            // alert("Diners rate cannot be bigger then zero");
                            $("#CRDinersRate").val("");
                            $("#CRDinersRate").focus();
                        }
                    }
                });
            });

            $(document).ready(function () {
                $("#CRUnionPayRate").change(function () {
                    $("#error").text("");
                    var val1 = $("#BusinessType").val();
                    if (val1 == "LiveEftPos") {
                        if ($("#CRUnionPayRate").val() > 0) {
                            $("#error").text("UnionPay rate cannot be bigger then zero");
                            // alert("Diners rate cannot be bigger then zero");
                            $("#CRUnionPayRate").val("");
                            $("#CRUnionPayRate").focus();
                        }
                    }
                });
            });

            $(document).ready(function () {
                $("#CRZipRate").change(function () {
                    $("#error").text("");
                    var val1 = $("#BusinessType").val();
                    if (val1 == "LiveEftPos") {
                        if ($("#CRZipRate").val() > 0) {
                            $("#error").text("Zip rate cannot be bigger then zero");
                            // alert("Diners rate cannot be bigger then zero");
                            $("#CRZipRate").val("");
                            $("#CRZipRate").focus();
                        }
                    }
                });
            });

            $(document).ready(function () {
                $("#CRQantasRate").change(function () {
                    $("#error").text("");
                    var val1 = $("#BusinessType").val();
                    if (val1 == "LiveEftPos") {
                        if ($("#CRQantasRate").val() > 0) {
                            $("#error").text("Qantas rate cannot be bigger then zero");
                            //  alert("Debit rate cannot be bigger then zero");
                            $("#CRQantasRate").val("");
                            $("#CRQantasRate").focus();
                        }
                    }
                });
            });

            $(document).ready(function () {
                $("#CRAlipayRate").change(function () {
                    $("#error").text("");
                    var val1 = $("#BusinessType").val();
                    if (val1 == "LiveEftPos") {
                        if ($("#CRAlipayRate").val() > 0) {
                            $("#error").text("Alipay rate cannot be bigger then zero");
                            // alert("Diners rate cannot be bigger then zero");
                            $("#CRAlipayRate").val("");
                            $("#CRAlipayRate").focus();
                        }
                    }
                });
            });
</script>
}