﻿@using PhoenixWeb.Helper
@model PhoenixObjects.Member.TerminalAllocationModel

@{
    ViewBag.Title = "Allocate Terminal";
    Layout = "~/Views/Shared/_TerminalPopupLayout.cshtml";
    ViewBag.Action = "CreateAllocateMemberTerminal";
    ViewBag.DialogSize = "1000";
}

<h3 class="page-title">
    Terminal Allocation
    <small>allocate member terminal</small>
</h3>
<i style="color:red">@ViewBag.Error</i>
<label style="color:red" id="warning" />
<label style="color:green" id="TerminalAllocationActual"></label>
@*<input type="" id="TerminalAllocationActual" />*@
<div class="portlet-body form" id="TerminalAllocationForm">
    <!-- BEGIN FORM-->

    <div class="form-body">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Business ID", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="VehicleId" required id="VehicleId" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Sub-Business Type", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.CustomDropdownListFor(model => model.VehicleModel.VehicleType_key, (IEnumerable<CustomHelpers.CustomSelectItem>)ViewBag.VehicleTypeList, null, null, new { id = "VehicleType", @class = "form-control" })
                        @Html.HiddenFor(model => model.VehicleModel.VehicleType.Company_Key)
                        @Html.HiddenFor(model => model.VehicleModel.VehicleType_key)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Business State", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.State_key, (IEnumerable<SelectListItem>)ViewBag.StateList, new { id = "State", @class = "form-control" })

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Terminal Id", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="EftTerminal_key" required id="EftTerminal_key" placeholder="type id and select" />

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Allocation Date", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <input type="date" class="form-control" name="TerminalAllocationDate" required id="TerminalAllocationDate" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Sale Reps", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Employee_key, (IEnumerable<SelectListItem>)ViewBag.EmployeeList, new { id = "SaleReps", @class = "form-control" })
                        @*<input type="text" class="form-control" name="SaleReps" placeholder="type name and select" id="SaleReps" />*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Allocation Time", new { @class = "control-label col-md-4" })
                    <div class="col-md-5">
                        <input type="time" class="form-control" name="TerminalAllocationTime" required id="TerminalAllocationTime" />
                        @*@Html.TextBoxFor(model => model.TerminalAllocationTime, new { type = "time", id="TerminalAllocationTime" })*@
                    </div>
                    <div class="col-md-3">
                        <label style="font-size:small">hh:mm|AM/PM</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Default Service Fee", new { @class = "control-label col-md-4" })
                    <div class="col-md-5">
                        @Html.TextBoxFor(model => model.ServiceFee, new { @class = "form-control", @type = "number", @title = "Please add a number.", @step = "any" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Allow Moto", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.CheckBoxFor(model => model.AllowMOTOB)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Allow Refund", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.CheckBoxFor(model => model.AllowRefundB)

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Delivery Required", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.CheckBoxFor(model => model.DeliveryRequiredB)
                    </div>
                </div>
            </div>
        </div>
        <div style="display:none;">
            <input id="ListAddedTerminalJson" name="ListAddedTerminalJson" value="@ViewBag.ListAddedTerminalJson" />
            <input id="ReloadThis" name="ReloadThis" />
        </div>
    </div>
</div>
@if (Model.TerminalAllocationList != null)
{
    if (Model.TerminalAllocationList != null && Model.TerminalAllocationList.Count() > 0)
    {
        <div class="portlet light bordered" id="AddedTerminal">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Added Terminal(s)
                </div>

            </div>
            <div class="portlet-body">
                <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 150px;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Business ID
                                </th>
                                <th>
                                    Business Type
                                </th>
                                <th>
                                    Registered State
                                </th>
                                <th>
                                    Terminal Id
                                </th>
                                <th>
                                    Effective Date
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TerminalAllocationList)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.VehicleModel.VehicleId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VehicleModel.VehicleType_key)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VehicleModel.RegisteredState)
                                    </td>

                                    <td class="terminalid">
                                        @Html.DisplayFor(modelItem => item.EftTerminalId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EffectiveDate)
                                    </td>

                                    <td>
                                        <span onclick="removeAllocation(this)">Delete</span>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            if ("@Model.NotAllowSelectSubBusinessType" == "True") {
                $("#VehicleType").attr("disabled", "disabled");
            } else {
                $("#VehicleType").removeAttr("disabled");
            }

            var listAfterAddAnAllocation = $("#ListAddedTerminalJson").val();
            if (listAfterAddAnAllocation != '' && listAfterAddAnAllocation != null)
                $("#ListTerminal").val(listAfterAddAnAllocation);
            else {
                var listReopenAddAllocation = $("#ListTerminal").val();
                if (listReopenAddAllocation != '' && listReopenAddAllocation != null) {
                    $("#ReloadThis").val("true");
                    $("#ListAddedTerminalJson").val(listReopenAddAllocation);
                    $("#TerminalAllocationActual").closest("form").submit();
                }
            }
        });
        removeAllocation = function (el) {
            var row = $(el).closest("tr");
            var terminalId = row.find(".terminalid").text().replace(/\n/g, "").trim();
            var listAllocatedJson = $("#ListAddedTerminalJson").val();
            var listAllocated = [];
            if (listAllocatedJson != '')
                listAllocated = JSON.parse(listAllocatedJson);
            for (var i = 0; i < listAllocated.length; i++) {
                if (listAllocated[i].EftTerminalId == terminalId)
                    listAllocated.splice(i, 1);
            }
            if (listAllocated.length == 0) {
                $("#ListAddedTerminalJson").val('');
                $("#ListTerminal").val('');
                $("#AddedTerminal").remove();
            } else {
                var listJson = JSON.stringify(listAllocated)
                $("#ListAddedTerminalJson").val(listJson);
                $("#ListTerminal").val(listJson);
                row.remove();
            }
        }
    </script>
}
