﻿@model PhoenixWeb.Models.ViewModel.DeallocateTerminalVM
@{
 
    ViewBag.Title = "Deallocate Terminal";
    Layout = "~/Views/Shared/_DeallocateTerminal.cshtml";
   
}


  Are you sure you want to deallocate @Model.TerminalId ? <br /> <br /> 

    <div class="row">
    @Html.HiddenFor(model=>model.TerminalAllocationKey)
        @Html.HiddenFor(model => model.MemberKey)
        <div class="col-md-10">
            <div class="form-group">
                @Html.Label("Update Status", new { @class = "control-labelM col-md-4" })
                <div class="col-md-7">
                  @Html.DropDownListFor(model => model.Status, (IEnumerable<SelectListItem>)ViewBag.StatusList, new { id = "Status", name = "Status", @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
<div class="row">

    <div class="col-md-10">
        <div class="form-group">
            @Html.Label("Effective Date", new { @class = "control-labelM col-md-4" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.EffectiveDateString, new { name = "TerminalEffectiveDate", @class = "form-control", @step="1", type="datetime-local", autocorrect="off" })
            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-10">
        <div class="form-group">
            @Html.Label("Location", new { @class = "control-labelM col-md-4" })
            <div class="col-md-7">
                @*@Html.DropDownListFor(model => model.Location, (IEnumerable<SelectListItem>)ViewBag.LocationList, new { id = "Location", name = "Location", @class = "form-control" })*@
                @Html.TextBoxFor(model => model.Location, new { id = "Location", name = "Location", @class = "form-control" })

            </div>
        </div>
    </div>
</div>
   
<span style="color:red;font-size:smaller">@ViewBag.Err</span>
        @section scripts {
            <script type="text/javascript">

                $("#dialog").dialog({
                    width: "600"
                });

                @*$(document).ready(function () {                 
                      
                        $.ajax({
                            url: '@Url.Action("GetTerminalStatus", "AjaxAdmin")',                         
                            type: "GET",
                            dataType: "json",
                            success: function (data) {
                             
                                $.each(data, function (i, item) {
                                    $("#Status").append(
                                             $("<option></option>").val(item.Id).html(item.Name)
                                         );
                                });
                            }
                        });
                });*@

            </script>
        }
