﻿﻿@using Phoenix_BusLog
@using System.Linq;
@using Phoenix_BusLog
@model PhoenixObjects.Member.MemberModel

@{
    ViewBag.Title = "Edit";
}

<style>
    .ui-jqgrid tr.jqgrow td {
        height: 32px !important;
    }

    .ui-jqgrid table.ui-jqgrid-htable,
    .ui-jqgrid .ui-jqgrid-htable th {
        height: 32px !important;
    }

    .ui-state-hover, .ui-widget-content .ui-state-hover {
        border: 1px solid #c1c1c1;
        background: #EEEEEE;
        font-weight: bold;
        color: #363636;
    }

    .ui-state-highlight, .ui-widget-content .ui-state-highlight {
        border: 1px solid #c1c1c1;
        background: #EEEEEE;
        color: #363636;
    }

    .grid-col-padding-left {
        padding-left: 8px !important;
    }

    .grid-col-padding-right {
        padding-right: 8px !important;
    }

    .ui-jqgrid,
    .ui-jqgrid .ui-jqgrid-view,
    .ui-jqgrid .ui-jqgrid-pager,
    .ui-jqgrid .ui-pg-input,
    .ui-widget .btn-inline {
        font-size: 12px !important;
        font-family: 'Open Sans', sans-serif !important;
    }

    .btn-inline {
        border-collapse: collapse;
        border-width: thin;
        border-radius: 2px !important;
        outline: none;
        background-color: #FFFFFF;
    }

    .clickable {
        cursor: pointer;
    }

    .btn-inline:hover {
        background-color: #3598DC;
        color: #FEFEFE;
        border: none;
    }
    
    label.control-labelM {
        line-height: 34px;
    }
    
    span#zip-section.info-icon {
        display: inline-block;
        margin-left: 10px;
        position: absolute;
        background-image: url(../images/info.svg);
        width: 20px;
        height: 20px;
    }
</style>

@using (Html.BeginForm("Edit", "Member", FormMethod.Post, new {@enctype = "multipart/form-data", @id = "DetailMember"}))
{
    //#FFFFFF
    @Html.ValidationSummary(true)
    @Html.ValidationMessage("error", new {style = "color:red"})

    <h3 class="page-title">
        Member Details
        <small>view member details</small>
    </h3>
    @Html.HiddenFor(model => model.Member_key)
    @Html.HiddenFor(model => model.CompanyKey)
    @Html.HiddenFor(model => model.PrimaryAddressKey)
    @Html.HiddenFor(model => model.MailingAddressKey)
    @Html.HiddenFor(model => model.State)
    @Html.HiddenFor(model => model.PurposeTypes)
    @Html.HiddenFor(model => model.MemberId, new {id = "memberid"})
    @Html.HiddenFor(model => model.CompanyKey, new {id = "businessTypeID"})
    @Html.HiddenFor(model => model.FeeDtoAsJson)
    @Html.HiddenFor(model => model.ChargeFeeTypeDtoAsJson)
    @Html.HiddenFor(model => model.CommissionRatesDtoAsJson)
    @Html.HiddenFor(model => model.DriverCardDtoAsJson)
    @Html.HiddenFor(model => model.PaymentType)
    @Html.HiddenFor(model => model.RebatesDtoAsJson)
    <input type="hidden" id="BusinessKeysAllowRebate" value="@Caching.GetSystemConfigurationByKey("BusinessKeysAllowRebate")"/>
    <input type="hidden" id="BusinessKeysShowPaymentType" value="@Caching.GetSystemConfigurationByKey("BusinessKeysShowPaymentType")"/>
    <input type="hidden" id="BusinessEnableTransactionList" value="@Caching.GetSystemConfigurationByKey("BusinessEnableTransactionList")"/>
    <div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
            Member
        </div>
    </div>

    <div class="portlet-body form">
    <!-- BEGIN FORM-->
    <form action="#" class="horizontal-form">
    <div class="form-body">
    <h4 id="1" class="form-section">
        Member Info | <button id="myBtn">View FreshDesk tickets</button>
        <span style="float:right;font-size:small">
        </span>
    </h4>


    <input id="Member_key" name="Member_key" hidden="hidden" type="text" value="@Model.Member_key"/>
    <div class="row">

        <div class="col-md-5">
            <div class="form-group">
                @Html.Label("Active", new {@class = "control-labelM col-md-5"})
                <div class="col-md-6" style="line-height: 34px">
                    @Html.DisplayFor(model => model.Active, new {@class = "form-control", id = "Active"})
                    <span class="help-block">
                        @Html.ValidationMessageFor(model => model.Active)
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                @Html.Label("MemberId", new {@class = "control-labelM col-md-5"})
                <div class="col-md-6" style="line-height: 34px">
                    @Html.DisplayFor(model => model.MemberId, new {@class = "form-control", @id = "MemberId"})
                    <span class="help-block">
                        @Html.ValidationMessageFor(model => model.MemberId)
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                @Html.Label("Business Type", new {@class = "control-labelM col-md-5"})
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.BusinesstypeName, new {@readonly = "true", id = "BusinessType", @class = "form-control"})
                </div>
            </div>
        </div>
        @if (Caching.GetSystemConfigurationByKey("BusinessTypeAllowFeeFree").Split(';').Any(b => b == Model.CompanyKey.ToString()))
        {
            <div class="col-md-5" style="line-height: 33px;" id="FeeFreeMemberSection">
                <div class="col-md-1">
                    <input type="checkbox" class="form-control d-none" id="IsFeeFreeMember" @(Model.IsFeeFreeMember ? "checked" : "") />
                </div>
                @Html.LabelFor(model => model.IsFeeFreeMember, new {@Id ="IsFeeFreeMember",  @class = "control-labelM col-md-8" })
            </div>
        }
                    </div>
                    <div class="row" id="SubBusinesstypeNameEle">
                        <div class="col-md-5">
                            <div class="form-group">
                                @Html.Label("Sub-business Type", new { @class = "control-labelM col-md-5" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.SubBusinesstypeName, new { @readonly = "true", id = "SubBusinesstypeName", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                @Html.Label("Payment Type", new { @class = "control-labelM col-md-5" })
                                <div class="col-md-6" style="line-height: 34px">
                                    @Html.DisplayFor(model => model.PaymentType, new { id = "PaymentType", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 id="2" class="form-section" data-target="#PersonalInfo">Personal Info</h4>
                    <div class="row" id="PersonalInfo">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FirstName, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.FirstName, new { @class = "form-control", id = "FirstName" })
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.LastName, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.LastName, new { @class = "form-control", id = "LastName" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.LastName)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Telephone, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.Telephone, new { @class = "form-control", id = "Telephone" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.Telephone)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">

                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Fax, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.Fax, new { @class = "form-control", id = "Fax" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.Fax)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Mobile, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.Mobile, new { @class = "form-control", id = "Mobile" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.Mobile)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.Email, new { @class = "form-control", id = "Email" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.Email)
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PhotoID, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        <input type="file" name="file" id="file" />
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.PhotoID)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PhotoIDExpiry, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.PhotoIDExpiry, new { @class = "form-control", id = "PhotoIDExpiry" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.PhotoIDExpiry)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DriverLicenseNumber, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.DriverLicenseNumber, new { @class = "form-control", id = "DriverLicenseNumber" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.DriverLicenseNumber)
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DOB, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.DOBstring, new { @class = "form-control", id = "DOBstring" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.DOB)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div id="DriverAuthId" class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DriverAuth, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.DriverAuth, new { @class = "form-control", id = "DriverAuth", maxLength = "24" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.DriverAuth)
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 class="form-section" data-target="#Address">
                        Address
                    </h4>
                    <div id="Address">
                        <h5>
                            Primary Address
                            <small style="color:green">@Model.PrimaryAddressDesc</small>
                        </h5>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Street No", new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.PrimaryAddress.StreetNumber, new { @class = "form-control" })
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Street Name", new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.PrimaryAddress.StreetName, new { @class = "form-control" })
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Post Code", new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.PrimaryAddress.Suburb.PostCode, new { @class = "form-control" })
                                        <span class="help-block">

                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h5>
                            Mailing Address
                            &nbsp;  <input type="checkbox" id="SamePrimaryAdd" /><span style="font-size:smaller">Same as primary address</span>
                        </h5>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Street No", new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.MailingAddress.StreetNumber, new { @class = "form-control" })
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Street Name", new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">

                                        @Html.DisplayFor(model => model.MailingAddress.StreetName, new { @class = "form-control" })
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Post Code", new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.MailingAddress.Suburb.PostCode, new { @class = "form-control" })
                                        <span class="help-block">

                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <h4 class="form-section" data-target="#Rewards">Rewards</h4>
                    <div class="row" id="Rewards">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TradingName, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.TradingName, new { @class = "form-control", id = "TradingName" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.TradingName)
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 class="form-section" data-target="#BusinessDetails">Business Details</h4>
                    <div class="row" id="BusinessDetails">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TradingName, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.TradingName, new { @class = "form-control", id = "TradingName" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.TradingName)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Dealer, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @*@Html.TextBoxFor(model => model.Dealer_keyString, new { @class = "form-control", id = "Dealer_keyString" })*@
                                        @Html.DisplayFor(model => model.Dealer.Dealer_key, new { @class = "form-control", id = "Dealer" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.Dealer)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ABN, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.ABN, new { @class = "form-control", id = "ABN" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.ABN)
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ACN, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.ACN, new { @class = "form-control", id = "ACN" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.ACN)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MerchantID, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.MerchantID, new { @class = "form-control", id = "MerchantID" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.MerchantID)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div id="MCCId" class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MCC, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.MCC, new { @class = "form-control", id = "MCC", maxLength = "4" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.MCC)
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Ave Transaction", new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.AverageTransaction, new { @class = "form-control", id = "AvgTransaction", Type = "Number", min = "0.00", step = "0.01", maxLength = "10" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.AverageTransaction)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Ave Turnover", new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.AverageTurnover, new { @class = "form-control", id = "AvgTurnover", Type = "Number", min = "0.00", step = "0.01", maxLength = "10" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.AverageTurnover)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("QBR #", new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.QBRNumber, new { @class = "form-control", @readonly = "readonly", id = "labelQBR" })
                                        <button type="button" class="btn btn-info btn-sm qbrBtn" id="btnQBRHistory" onclick="ViewPointHistory(event)">History</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MerchantWebsite, new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.MerchantWebsite, new { @class = "form-control", id = "textMerchantWebsite" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Amex Merchant ID", new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.AmexMerchantID, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Deactive QBR", new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.IsDisableQBR, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("EOM MSF Payment", new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.EOMMSFPayment, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Extended Settlement", new { @class = "control-labelM col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.ExtendedSettlement, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                @if (Caching.GetSystemConfigurationByKey("LiveGroupAmexSettlement").Split(new char[] { ';' }).Any(r => r == @Model.CompanyKey.ToString()))
                                {
                                    <div class="form-group">
                                        @Html.Label("Live Group Amex Settlement", new { @class = "control-labelM col-md-4" })
                                        <div class="col-md-8">
                                            @Html.DisplayFor(model => model.IndirectAmexSettlement, new { @class = "form-control" })
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="BankAccountDtoAsJson" class="form-control" id="BankAccountDtoAsJson" value='@Model.BankAccountDtoAsJson'>
                    <div id="bankAccountArea">
                        <h4 class="form-section" data-target="#BankAccounts">
                            Bank Account(s)
                            <span style="float:right;font-size:small">
                                @Ajax.ActionLink("Add Account", "AddMemberAccount", new { id = @Model.Member_key },
                                    new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "", @Style = "pointer-events: none; opacity: 0.2;" })

                            </span>
                        </h4>
                        <table class="table table-striped" id="tblBankAccount"></table>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.DriverCardDtoAsJson) || Model.PaymentType == "Card")
                    {
                        <div id="driverCardArea">
                            <h4 class="form-section" data-target="#DriverCard">
                                Driver Card
                            </h4>
                            <table class="table table-striped" id="driverCardGrid"></table>
                        </div>
                    }

                    <h4 class="form-section" data-target="#Statements">
                        Statements
                        <small>(Select statements member would like to receive)</small>
                    </h4>

                    <div id="Statements">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("End Of Month Statement", new { @class = "control-labelM col-md-8" })
                                    <div class="col-md-4">
                                        @Html.DisplayFor(model => model.ReceiveMonthlyActivityReportB, new { @class = "form-control" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.ReceiveMonthlyActivityReportB)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Payment Report", new { @class = "control-labelM col-md-8" })
                                    <div class="col-md-4">
                                        @Html.DisplayFor(model => model.ReceivePaymentReportB, new { @class = "form-control" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.ReceivePaymentReportB)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EnableSplitPaymentReport, new { @class = "control-labelM col-md-8" })
                                    <div class="col-md-4">
                                        @Html.DisplayFor(model => model.EnableSplitPaymentReport, new { @class = "form-control" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.EnableSplitPaymentReport)
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @if (Model.CompanyKey == 1)
                            {
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.Label("Weekly Activity Report", new { @class = "control-labelM col-md-8" })
                                        <div class="col-md-4">
                                            @Html.DisplayFor(model => model.ReceiveWeeklyActivityReportB, new { @class = "form-control" })
                                            <span class="help-block">
                                                @Html.ValidationMessageFor(model => model.ReceiveWeeklyActivityReportB)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div id="TransactionList" class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Transaction List in EOM statement", new { @class = "control-labelM col-md-8" })
                                    <div class="col-md-4">
                                        @Html.DisplayFor(model => model.EnableTransactionListOnEOMReport, new { id = "EnableTransactionListOnEOMReport" })
                                        <span class="help-block">
                                            @Html.ValidationMessageFor(model => model.EnableTransactionListOnEOMReport)
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                    <h4 class="form-section" data-target="#CurrentRentalStructure">
                        Current Rental Structure
                    </h4>
                    <div id="CurrentRentalStructure">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <table id="TerminalRentalRateTb"></table>
                                        @if (@Model.TerminalRentalRateList != null)
                                        {
                                            <table id="TerminalRentalRateTbSF">

                                                <tbody>
                                                    @foreach (var mm in @Model.MemberCurrentTerminalRentalList)
                                                    {
                                                        <tr>
                                                            @if (@mm.EndDate == null)
                                                            {
                                                                <td>
                                                                    Rental Amount $@mm.RentalAmount for Turnover more than $@mm.TransactionTarget starting from @mm.StartDate
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>
                                                                    Rental Amount $@mm.RentalAmount for turnover more than $@mm.TransactionTarget starting from @mm.StartDate to @mm.EndDate
                                                                </td>
                                                            }
                                                            <td>
                                                                &nbsp;
                                                            </td>
                                                            <td>
                                                                &nbsp;
                                                            </td>

                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                        else
                                        {
                                            <div class="col-md-12">

                                                <p>no record</p>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <table id="TerminalRentalRateTb"></table>
                                        @if (@Model.MemberRentalModelList != null)
                                        {
                                            <table id="TerminalRentalRateTbSF">
                                                @foreach (var mm in @Model.MemberRentalModelList)
                                                {
                                                    <tr>
                                                        @if (@mm.EndDate == null)
                                                        {
                                                            <td>
                                                                Rent free starting from @mm.StartDate till no data specified
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                Rent free starting from @mm.StartDate to @mm.EndDate
                                                            </td>
                                                        }
                                                        <td>
                                                            &nbsp;
                                                        </td>
                                                        <td>
                                                            &nbsp;
                                                        </td>

                                                    </tr>
                                                }
                                            </table>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 class="form-section" data-target="#MyWebDetails">
                        MyWeb Details
                    </h4>
                    <div class="row" id="MyWebDetails">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("UserName", new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @Html.DisplayFor(model => model.MyWebUserProfile.UserName, new { @class = "form-control" })
                                    <span class="help-block">

                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("Created Date", new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    <label>@(Model.MyWebUserProfile.UserName == null ? string.Empty : Model.MyWebUserProfile.CreatedDate.ToString())</label>
                                    <span class="help-block">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Is Active", new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @Html.DisplayFor(model => model.MyWebUserProfile.IsActive, new { @class = "form-control", id = "Inactive" })
                                    <span class="help-block">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            @if (ViewContext.Controller.HasPermission("GhostMyWebUser") && Model.MyWebUserProfile.IsActive)
                            {
                                <button id="btnGhost" type="button" class="btn btn-default">Ghost Account</button>
                            }
                        </div>
                    </div>

                    @if (Model.TerminalAllocationList != null && Model.AllVehicleTerminalAllocation.Count() > 0)
                    {
                        <h4 class="form-section" data-target="#AllocatedTerminals">
                            Allocated Terminals

                        </h4>
                        <div id="message" style="color:red;"></div>
                        <div class="portlet light bordered" id="AllocatedTerminals">

                            <div class="portlet-body">
                                <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: auto; max-height: 400px;">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Vehicle
                                                </th>
                                                <th>
                                                    State
                                                </th>
                                                <th>
                                                    Type
                                                </th>
                                                <th>
                                                    Terminal ID
                                                </th>
                                                <th>
                                                    Effective Date
                                                </th>
                                                <th>
                                                    Swapped TID
                                                </th>
                                                <th>
                                                    Original TID
                                                </th>
                                                @*<th>
                                                        Action
                                                    </th>
                                                    <th>
                                                        Swap
                                                    </th>*@
                                                <th>
                                                    Actions
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.AllVehicleTerminalAllocation)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.VehicleId)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.RegisteredState)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Name)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TerminalId)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.EffectiveDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SwappedTID)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.OriginalTID)
                                                    </td>


                                                    <td>
                                                        @{
                                                            if (item.IsAllocated)
                                                            {
                                                                @Html.ActionLink("Configure", "Config", "Terminal", new { key = item.TerminalKey }, null) <small>|</small>
                                                                @Html.ActionLink("Manage", "Manage", "Terminal", new { key = item.TerminalKey }, null)<small>|</small>
                                                                @Html.ActionLink("Swap Terminal", "Swap", "Terminal", new { key = item.TerminalKey }, null)<small>|</small>
                                                                @Html.ActionLink("Logs", "SettlementLogs", "Terminal", new { key = item.TerminalKey }, null)<small>|</small>
                                                                @Html.ActionLink("Transactions", "Transactions", "Terminal", new { key = item.TerminalKey }, null)<small>|</small>
                                                                @Html.ActionLink("Bulk Update", "BulkUpdate", "Terminal", new { key = item.TerminalKey }, null)<small>|</small>
                                                                @Html.ActionLink("Bulk Add", "BulkAdd", "Terminal", new { key = item.TerminalKey }, null)<small>|</small>
                                                                @Html.ActionLink("Transactions Addon", "DiffSurcharge", "Terminal", new { key = item.TerminalKey }, null)<small>|</small>
                                                                @Html.ActionLink("Logo", "Logo", "Terminal", new { key = item.TerminalKey }, null)<small>|</small>
                                                                <a id="SetEOS@(item.TerminalKey)" onclick="OnSetEOS(@item.TerminalKey)" data-inactive="@item.Inactive" data-id="@item.TerminalId" data-has-receipt="@(item.ReceiptKey == null && item.AppKey == null ? false : true)" data-set="@item.IsSetEOS">@(item.IsSetEOS ? "Unset EOS" : "Set EOS")</a>
                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }

                    @if (ViewContext.Controller.HasPermission("ViewFees"))
                    {
                        <h4 class="form-section" data-target="#ManangeFees">
                            Fees
                        </h4>
                        <div id="memberFeeGrid">
                            @Html.Partial("~/Views/Member/_MemberFeeGrid.cshtml", Model)
                        </div>
                        <div id="memberFeeHistoryGrid">
                            @Html.Partial("~/Views/Member/_MemberFeeHistoryGrid.cshtml", Model)
                        </div>
                    }

                    <div id="MSFBar">
                        <h4 class="form-section" data-target="#CommissionRateMSF">
                            Commission Rate/MSF
                        </h4>
                        <div id="RebateSection">
                            <div class="rebate-title" style="padding-top: 10px;padding-bottom: 10px;">
                                <span><b>REBATE AMOUNT</b> (only applicable for Debit/EFTPOS transactions)</span>
                            </div>
                            <div id="RebateGrid"></div>
                        </div>

                        <div style="margin-bottom: 5px;background-color:whitesmoke;padding-top: 10px;padding-bottom: 10px;">
                            <span style="margin-left: 10px; font-weight: bold;">RATES</span>
                        </div>
                        <div id="CommissionRateMSF">
                            <div id="CommissionRateGrid"></div>
                        </div>
                    </div><br />

                    <h4 class="form-section">
                        Zip API
                        @if (Model.IsFeeFreeMember)
                        {
                            <span id="zip-section" class="info-icon" title="Zip Pay is not available for fee free merchants"></span>
                        }
                    </h4>
                    <div id="ZipMerchantAPI" class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Zip API Key", new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ZipMerchantAPIModel.ZipAPIKey, new { id = "ZipAPIKey", @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Location ID", new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ZipMerchantAPIModel.LocationID, new { id = "LocationID", @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Is Active", new { @class = "control-labelM col-md-4" })
                                <div class="col-md-8">
                                    @Html.DisplayFor(model => model.ZipMerchantAPIModel.IsActive, new { @class = "form-control", id = "Inactive" })
                                    <span class="help-block">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div><br />

                @Html.Partial("~/Views/Member/PaymentHistory/_PaymentHistory.cshtml", Model.Member_key.ToString())

                @if (Model.MonthlyReportHistory != null && Model.MonthlyReportHistory.Count() > 0)
                    {
                        <div id="MonthlyReport">
                            <h4 class="form-section" data-target="#EOMReportList">
                                Monthly Reports
                            </h4>
                            @*<button  data-target="#PaymentHistories" class="btn blue">Show/Hide</button>*@
                            <div id="EOMReportList">
                                <div class="table-scrollable" style="position:relative;overflow:scroll;width:auto;max-height:320px;">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Month
                                                </th>
                                                <th>
                                                    Year
                                                </th>

                                                @*<th>
                                                        Description
                                                    </th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.MonthlyReportHistory)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Month)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Year)
                                                    </td>

                                                    @*<td>
                                                            @Html.DisplayFor(modelItem => item.Description)
                                                        </td>*@


                                                    <td>
                                                        @Html.ActionLink("Download Report"
                                                                            , "ViewLEEndOfMonthReport"
                                                                            , new { Member_key = @item.MemberKey, Month = @item.Month, Year = @item.Year }
                                                                            , new {@target = "_blank"})
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                @*</div>*@
                            </div>
                        </div>
                    }

                    @if (Model.FinancialYearReportHistory != null && Model.FinancialYearReportHistory.Count() > 0)
                    {
                        <div id="EOYReports">
                            <h4 class="form-section" data-target="#EOFYReportList">
                                End Of Financial Year Reports
                            </h4>
                            @*<button  data-target="#PaymentHistories" class="btn blue">Show/Hide</button>*@
                            <div id="EOFYReportList">
                                <div class="table-scrollable" style="position:relative;overflow:scroll;width:auto; max-height : 320px">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>

                                                <th>
                                                    Financial Year
                                                </th>

                                                @*<th>
                                                        Description
                                                    </th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.FinancialYearReportHistory)
                                            {
                                                <tr>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.FinancialPeriod)
                                                    </td>

                                                    @*<td>
                                                            @Html.DisplayFor(modelItem => item.Description)
                                                        </td>*@


                                                    <td>
                                                        @{                                                        
                                                            if (Model.CompanyKey == 18 || Model.CompanyKey == 22 || Model.CompanyKey == 26 || Model.CompanyKey == 27)
                                                            {
                                                                @Html.ActionLink("Download Report", "ViewLEEndOfFinanicialYearReport", new {Member_key = @item.MemberKey, Year = @item.Year}, new {@target = "_blank"});
                                                            }
                                                            else if (Model.CompanyKey == 1 || Model.CompanyKey == 23)
                                                            {
                                                                @Html.ActionLink("Download Report", "ViewLTEndOfFinanicialYearReport", new {Member_key = @item.MemberKey, Year = @item.Year}, new {@target = "_blank"});
                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                @*</div>*@
                            </div>
                        </div>
                    }
                    <div class="">
                        <h4>
                            Member Notes
                        </h4>
                        <table id="grdMemberNotes"></table>
                        <div id="grdMemberNotesPager"></div>
                    </div>
                    <div class="">
                        <h4 class="form-section" data-target="#EOFYReportList">
                            QBR Point history
                        </h4>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" id="MemberDetailQBRPointHistorySearch">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <span style="float:right; cursor:pointer" id="uncllopseall">

                            @Ajax.ActionLink("Add Address", "AddMemberAddress", new { id = @Model.Member_key },
                new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "" }) |
                            @Ajax.ActionLink("Add Account", "AddMemberAccount", new { id = @Model.Member_key },
                new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "", @Style = "pointer-events: none; opacity: 0.2;" }) |

                            @Ajax.ActionLink("Add Terminal", "AddAllocateMemberTerminal", new { id = @Model.Member_key, Company = @Model.CompanyKey, State = @Model.State },
                new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "" })

                        </span>
                    </div>
                    <br /><br />

                    <div class="form-actions right">
                        <button type="button" onclick="history.go(-1);return true;" class="btn default">Cancel</button>
                        <button type="submit" class="btn blue" disabled="disabled"><i class="fa fa-check"></i> Save</button>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>

    </div>

}
@Html.Partial("~/Views/Member/_FeeList.cshtml")

<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>            @Html.DisplayFor(model => model.FirstName, new { @class = "form-control", id = "FirstName" })</h2>
            <h4>Fresh Desk Tickets</h4>

        </div>
        <div class="modal-body">
            <input type="hidden" id="previousPane" value="" />
            <ul class="nav nav-tabs nav-justified" role="tablist" id="memberFreshDeskTickets">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#Open" id="ungrouped" role="tab"><i class="fa fa-list"></i> Open</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Pending" id="grouped" role="tab"><i class="fa fa-group"></i> Pending</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Resolve" id="grouped" role="tab"><i class="fa fa-group"></i> Resolved</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Close" id="grouped" role="tab"><i class="fa fa-group"></i> Closed</a>
                </li>
            </ul>

            <div class="tab-content">
                <!--Panel 1-->
                <div class="tab-pane fade in active" id="panel1" role="tabpanel">
                    <div class="portlet-body">
                        <div class="table-scrollable" id="openTicketsContainer" style="position: relative; overflow:scroll; width: auto; height: 300px; top: 0px">

                        </div>
                    </div>
                </div>
                <!--/.Panel 1-->
                <!--Panel 2-->
                <div class="tab-pane fade" id="panel2" role="tabpanel">
                    <div class="portlet-body">
                        <div class="table-scrollable" id="pendingTicketsContainer" style="position: relative; overflow:scroll; width: auto; height: 300px;">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="panel3" role="tabpanel">
                    <div class="portlet-body">
                        <div class="table-scrollable" id="resolvedTicketsContainer" style="position: relative; overflow:scroll; width: auto; height: 300px; ">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="panel4" role="tabpanel">
                    <div class="portlet-body">
                        <div class="table-scrollable" id="closeTicketsContainer" style="position: relative; overflow:scroll; width: auto; height: 300px; ">
                        </div>
                    </div>
                </div>
                <!--/.Panel 2-->
            </div>
            <div class="modal-footer">
                <div id="messagefreshdesk"></div>
                <img id="processing" src="~/Images/wedge.gif" alt="loader.." hidden="hidden" />
                &nbsp;
            </div>
        </div>
    </div>
</div>

<style>
    .qbrBtn {
        margin-top: 5px;
    }
</style>

@Html.Partial("~/Views/Member/Commission/CommissionRateGrid.cshtml", Model, new ViewDataDictionary { { "IsFromDetail", "true" } })
@Html.Partial("~/Views/Member/DriverCard/DriverCardGrid.cshtml", Model, new ViewDataDictionary { { "IsFromDetail", "true" } })
@Html.Partial("~/Views/Member/DriverCard/CardInfo.cshtml")
@Html.Partial("~/Views/Member/Commission/_RebateGrid.cshtml")
@Html.Partial("~/Views/Member/DriverCard/DriverCardHistory.cshtml")
<script type="text/x-jsrender" id="tmplBankAccountHeader">
    <thead>
        <tr id="headRow">
            <th>Account Name</th>
            <th>Account Number</th>
            <th>BSB</th>
            {{for data}}
            <th>{{:PurposeTypeName}}</th>
            {{/for}}
        </tr>
    </thead>
</script>
<script type="text/x-jsrender" id="tmplBankAccountList">
    <tbody>
        {{for data itemVar="~clonedata"}}
        <tr id="row_{{:AccountKey}}">
            <td>{{:AccountName}}</td>
            <td>{{:AccountNumber}}</td>
            <td>{{:BSB}}</td>
            {{for TransactionPurposeDtoAsJson }}
            <td><input type="checkbox" style="zoom: 1.4;" id="chk_{{:~clonedata.AccountKey}}_{{:PurposeTypeID}}" data-purposename="{{:PurposeTypeName}}" data-purposeid="{{:PurposeTypeID}}" data-accountkey="{{:~clonedata.AccountKey}}" {{if Checked}} checked {{/if}} disabled="disabled" onchange="OnCheckPurpose(this)" /></td>
            {{/for}}
        </tr>
        {{/for}}
    </tbody>
</script>

@section scripts {
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/pages/QBR/PH-QBRService.js"></script>
    <script src="~/Scripts/Common-Utils.js" type="text/javascript"></script>
    <script src="~/Scripts/pages/Member/Details/qbrPointHistory.js"></script>
    <script src="~/Scripts/pages/Member/Details/MemberDetailQBR.js"></script>
    <script src="~/Scripts/pages/Member/Details/MemberDetailQBRService.js"></script>


    <script src="~/Scripts/pages/PH-BankAccount.js" type="text/javascript"></script>
    <script src="~/Scripts/pages/Terminal/PH-SearchTerminal.js"></script>
    <script src="~/Scripts/pages/Member/PH-MemberNotes.js" type="text/javascript"></script>
    <script src="~/Scripts/pages/PH-Fee.js" type="text/javascript"></script>
    <script src="~/Scripts/pages/Member/PH-MyWebAccount.js" type="text/javascript"></script>
    <script src="~/Scripts/pages/Member/CommissionRate/PH-CommissionRate.js"></script>
    <script src="~/Scripts/pages/Member/CommissionRate/PH-Rebate.js"></script>
    <script src="~/Scripts/pages/Member/PaymentHistory/PH-PaymentHistoryService.js"></script>
    <script src="~/Scripts/pages/Member/PaymentHistory/PH-PaymentHistory.js"></script>

    <script src="~/Scripts/pages/Member/DriverCard/PH-DriverCard.js"></script>
    <script src="~/Scripts/pages/Member/DriverCard/PH-DriverCardService.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ("@Model.NotAllowSelectSubBusinessType" == "False") {
                $("#SubBusinesstypeNameEle").hide();
            } else {

                $("#SubBusinesstypeNameEle").show();
            }

            $(".active").removeClass("active open");
            $(".Member").addClass("active open");
            $('#memberQbrPointHistory a:first').tab('show');
            $('#memberFreshDeskTickets a:first').tab('show');
            $('#feeHistoryTable li:first-child a').tab('show');
            RenderBankAccountGrid("tblBankAccount");
            RenderCommissionRates("commissionRateGrid");
            RenderDriverCard("driverCardGrid");
            
            //disabled IsFeeFreeMember checkbox
            Util.DisableCheckbox('IsFeeFreeMember');
        });

        $(document).ready(function () {
            var BusinessTypeVal = $('#businessTypeID').val();
            var availableBusinessTypes = [Util.MemberBusinessType.TaxiEPay,
            Util.MemberBusinessType.LiveEftPosBlackForTaxi,
            Util.MemberBusinessType.TaxiPro
            ];

            if (availableBusinessTypes.indexOf(BusinessTypeVal) != -1) {
                $("#DriverAuthId").show();
            }
            else {
                $("#DriverAuth").val('');
                $("#DriverAuthId").hide();
            }
            var allowList = $("#BusinessEnableTransactionList").val();
            if (allowList.split(";").indexOf(BusinessTypeVal) < 0) {
                $('#TransactionList').hide();
            } else {
                $('#TransactionList').show();
            }

            $("#BusinessType").change(function () {
                var BusinessTypeVal = $("#BusinessType").val();
                if (BusinessTypeVal == 18) {
                    $("#MCCId").show();
                }
                else {
                    $("#MCC").val('');
                    $("#MCCId").hide();
                }
            });

            renderDriverCard = function () {
                var type = $("#PaymentType").val();
                var driverCardData = $("#DriverCardDtoAsJson").val();
                if (type != "Card") {
                    $("#driverCardArea").hide();
                }
                else {
                    $("#driverCardArea").show();
                }
            }

            renderDriverCard();
            RenderRebatesGrid();
            ShowHideRebateSection(BusinessTypeVal);
        });

        //0 - Default from store, 1 - validated, -1 - Invalid QBR, -2 - Yet to Validate
        $(document).ready(function () {
            $("#Dealer_keyString").autocomplete({
                source: '@Url.Action("AutoCompleteDealer")'
            });
        });

        function enter(elem) {
            elem.style.color = 'lightblue';
        }
        function leave(elem) {
            elem.style.color = 'white';
        }



        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function (e) {
            e.preventDefault();
            modal.style.display = "block";
            return false;
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var target = $(e.target).attr("href") // activated tab
            $('#processing').show();
            $('#messagefreshdesk').html('Loading, please wait...');
            if (target === "#Open") {
                getfreshdeskTickets(2, 'openTicketsContainer');
            } else  if (target === "#Pending") {
                getfreshdeskTickets(3, 'pendingTicketsContainer');
            } else if (target === "#Resolve") {
                getfreshdeskTickets(4, 'resolvedTicketsContainer');
            }
            else if (target === "#Close") {
                getfreshdeskTickets(5, 'closeTicketsContainer');
            }
        });

        function ViewPointHistory(event) {
            event.preventDefault();
            InitializeMemberQBRPointHistoryDialog();
        };

        function getfreshdeskTickets(status, divid) {
            var memberId = $("#memberid").val();
            $.ajax({
                type: "GET",
                url: "GetFreshDeskTickets",
                dataType: "json",
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
                data: { 'status': status, 'memberId': memberId },
                contentType: "application/json",
                beforesend: function () {

                    $('#messagefreshdesk').html('Reaching freshdesk, please wait...');
                },
                success: function (data) {
                    $('#messagefreshdesk').html('Got data from freshdesk, please wait...');
                    createTableFromJSON(divid, data);
                },
                complete: function (e) {
                    $('#processing').hide();
                    $('#messagefreshdesk').html('Finished Loading.');
                },
                error: function (jqXHR, textStatus, errorThrown, data) {
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }
                    $('#messagefreshdesk').html("An error occured while connecting to server - " + jqXHR.message + "\nDetails: " + msg);
                }
            });
        }

            var SOURCE = {
                Email: 1,
                Portal : 2,
                Phone : 3,
                Chat :7,
                Mobihelp :8,
                FeedbackWidget: 9,
                OutboundEmail : 10,
                properties: {
                    1: { value: 1, name: "Email" },
                    2: { value: 2, name: "Portal" },
                    3: { value: 3, name: "Phone" },
                    7: { value: 7, name: "Chat" },
                    8: { value: 8, name: "Mobihelp" },
                    9: { value: 9, name: "Feedback Widget" },
                    10: { value: 10, name: "Outbound Email" },
                }
            };

            var STATUS = {
                Open: 2,
                Pending : 3,
                Resolved: 4,
                Closed: 5,
                properties: {
                    2: { value: 2, name: "Open" },
                    3: { value: 3, name: "Pending" },
                    4: { value: 4, name: "Resolved" },
                    5: { value: 5, name: "Closed" },
                }
            };

            var PRIORITY = {
                Low: 1,
                Medium: 2,
                High: 3,
                Urgent: 4,
                properties: {
                    1: { value: 1, name: "Low" },
                    2: { value: 2, name: "Medium" },
                    3: { value: 3, name: "High" },
                    4: { value: 4, name: "Urgent" },
                }
            };

            var source_column = 5;
            var status_column = 8;
            var priority_column = 6;

            var col = ["id", "subject", "created_at", "updated_at", "type", "source", "priority", "requester_id", "status", "cc_emails"];
            var headerText = ["Ticket #", "Subject", "Reported On", "Last Updated", "Type", "Source", "Priority", "Requested By", "Status", "Reported To"];

        function createTableFromJSON(divid, data) {
            //var col = [];
            /*
            for (var i = 0; i < data.results.length; i++) {
                for (var key in data.results[i]) {
                    if (col.indexOf(key) === -1) {
                        col.push(key);
                    }
                }
            }
            */
            // CREATE DYNAMIC TABLE.
            var table = document.createElement("table");

            table.setAttribute('class', "freshDeskTickets");

            // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.

            var tr = table.insertRow(-1);                   // TABLE ROW.

            for (var i = 0; i < headerText.length; i++) {
                var th = document.createElement("th");      // TABLE HEADER.
                th.innerHTML = headerText[i];
                tr.appendChild(th);
            }

            if (data.length > 0) {
                data = JSON.parse(data);

                // ADD JSON DATA TO THE TABLE AS ROWS.
                for (var i = 0; i < data.results.length; i++) {

                    tr = table.insertRow(-1);

                    for (var j = 0; j < col.length; j++) {
                        var tabCell = tr.insertCell(-1);
                        tabCell.innerHTML = j === 0 ? "<a href='https://livegroup.freshdesk.com/helpdesk/tickets/" + data.results[i][col[j]] + "'>" + data.results[i][col[j]] + "</a>"
                            : j === source_column ? SOURCE.properties[data.results[i][col[j]]].name
                                : j === status_column ? STATUS.properties[data.results[i][col[j]]].name
                                    : j === priority_column ? PRIORITY.properties[data.results[i][col[j]]].name
                                        : data.results[i][col[j]];
                    }
                }
            }

            // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
            $('#' + divid).html('');
            $('#' + divid).append(table);
            $('#' + divid).parent().parent().show();
            $('#' + divid).parent().parent().addClass('in');
            if ($('#previousPane').val() != '') {
                $($('#previousPane').val()).parent().parent().hide();
            }
            $('#previousPane').val('#' + divid);
            }
    </script>
}


