﻿@model PhoenixObjects.Member.MemberModel

@{
    ViewBag.Title = "Details";
   // Layout = "~/Views/Shared/DetailPopup.cshtml";
}

<h3 class="page-title">
    Member Details
    <small>update member details</small>
</h3>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
            Member
        </div>
       
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="horizontal-form">
            <div class="form-body">
                <h3 class="form-section">Member Info</h3>
                <input id="Member_key" name="Member_key" hidden="hidden" type="text" value="@Model.Member_key" />
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Active", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.CheckBoxFor(model => model.Active, new { @disabled = "disabled" })
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.Active)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("MemberId", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.MemberId)
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.MemberId)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Business Type", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.BusinesstypeName)
                                @Html.HiddenFor(model => model.CompanyKey)
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.CompanyKey)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Payment Type", new { @class = "control-label col-md-3" })
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.PaymentType)
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.IsBankCustomer)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->
                <h3 class="form-section">Personal Info</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.FirstName)
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.LastName)
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.LastName)
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Telephone, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.Telephone)
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.Telephone)
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Fax, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.Fax)
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.Fax)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Mobile, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.Mobile)
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.Mobile)
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.Email)
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.Email)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DriverLicenseNumber, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.DriverLicenseNumber)
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.DriverLicenseNumber)
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DOB, new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.DisplayFor(model => model.DOB)
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.DOB)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="form-section">Business Details</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TradingName, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.TradingName)
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.TradingName)
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Dealer", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.Dealer.Dealer_key)
                                <span class="help-block">

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ABN, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.ABN)
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.ABN)
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ACN, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.ACN)
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.ACN)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.MerchantID, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.MerchantID)
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.MerchantID)
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
                @if (Model.BankAccounts != null && Model.BankAccounts.Count() > 0)
                {
                    <h3 class="form-section">
                        Bank Account(s)
                    </h3>
                    <div class="portlet light bordered">
                        @*<div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Added Account(s)
                        </div>

                    </div>*@
                        @*<div class="portlet-body">*@
                        <div class="table-scrollable">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            Account Key
                                        </th>
                                        <th>
                                            Account Name
                                        </th>
                                        <th>
                                            Account Number
                                        </th>
                                        <th>
                                            BSB
                                        </th>
                                        <th>
                                            Weight
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.BankAccounts)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AccountKey)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AccountName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AccountNumber)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.BSB)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Weight)
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        @*</div>*@
                    </div>
                }
                <h3 class="form-section">
                    Statements
                    <small>(Select statements member would like to receive)</small>
                </h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("End Of Month Statement", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.CheckBoxFor(model => model.ReceiveMonthlyActivityReportB, new { id = "ReceiveMonthlyActivityReport", @disabled = "disabled" })
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.ReceiveMonthlyActivityReportB)
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Payment Report", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.CheckBoxFor(model => model.ReceivePaymentReportB, new { id = "ReceivePaymentReport", @disabled = "disabled" })
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.ReceivePaymentReportB)
                                </span>
                            </div>
                        </div>
                    </div>
                    @if (Model.CompanyKey == 1)
                    {
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Weekly Activity Report", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.CheckBoxFor(model => model.ReceiveWeeklyActivityReportB, new { id = "ReceiveWeeklyActivityReport", @disabled = "disabled" })
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.ReceiveWeeklyActivityReportB)
                                    </span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <h3 class="form-section">
                    Current Rental Structure
                
                </h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <table id="TerminalRentalRateTb"></table>
                                @if (@Model.TerminalRentalRateList != null)
                                {
                                    <table id="TerminalRentalRateTbSF">

                                        <tbody>
                                            @foreach (var mm in @Model.MemberCurrentTerminalRentalList)
                                            {
                                                <tr>
                                                    @if (@mm.EndDate == null)
                                                    {
                                                        <td>
                                                            Rental Amount $@mm.RentalAmount for Turnover more than $@mm.TransactionTarget starting from @mm.StartDate
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            Rental Amount $@mm.RentalAmount for turnover more than $@mm.TransactionTarget starting from @mm.StartDate to @mm.EndDate
                                                        </td>
                                                    }
                                                  
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <table id="TerminalRentalRateTb"></table>
                                @if (@Model.MemberRentalModelList != null)
                                {
                                    <table id="TerminalRentalRateTbSF">
                                        @foreach (var mm in @Model.MemberRentalModelList)
                                        {
                                            <tr>
                                                @if (@mm.EndDate == null)
                                                {
                                                    <td>
                                                        Rent free starting from @mm.StartDate till no data specified
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        Rent free starting from @mm.StartDate to @mm.EndDate
                                                    </td>
                                                }
                                             
                                            </tr>
                                        }
                                    </table>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="form-section">Primary Address</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Address", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.Address)
                                <span class="help-block">

                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("City", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.City)
                                <span class="help-block">

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("State", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.State)
                                <span class="help-block">

                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Post Code", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.Postcode)
                                <span class="help-block">

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="form-section">MyWeb Details</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("UserName", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.MyWebUserProfile.UserName)
                                @*<input type="text" class="form-control" name="UserName" value="@Model.MyWebUserProfile.UserName" readonly="readonly" id="UserName" />*@
                                <span class="help-block">

                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Created Date", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.MyWebUserProfile.CreatedDate)
                                @*<input type="text" class="form-control" name="CreatedDate" value="@Model.MyWebUserProfile.CreatedDate" readonly="readonly" id="CreatedDate" />*@
                                <span class="help-block">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Is InActive", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.CheckBoxFor(model => model.MyWebUserProfile.Inactive, new { @disabled = "disabled" })
                                <span class="help-block">

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.TerminalAllocationList != null && Model.TerminalAllocationList.Count() > 0)
                {
                    <h3 class="form-section">Allocated Terminals</h3>
                    <div class="portlet light bordered">
                        @*<div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Added Terminal(s)
                        </div>

                    </div>*@
                        <div class="portlet-body">
                            <div class="table-scrollable">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                Business ID
                                            </th>
                                            <th>
                                                Business Type
                                            </th>
                                            <th>
                                                Registered State
                                            </th>
                                            <th>
                                                Terminal Id
                                            </th>
                                            <th>
                                                Effective Date
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.TerminalAllocationList)
                                        {
                                            <tr>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.VehicleModel.VehicleId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.VehicleModel.VehicleType_key)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.VehicleModel.RegisteredState)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.EftTerminalId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.EffectiveDate)
                                                </td>

                                                <td></td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
                <div id="MSFBar">
                    <h3 class="form-section">
                        Commission Rate/MSF
                        @*<small>(Please Enter Postive values as it will be saved as negative for LiveEftpos customers)</small>*@
                    </h3>
                    <div id="CommissionRateBar" class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Debit Rate Percentage (%)", new { @class = "control-label col-md-3" })
                                <div class="col-md-3">
                                    @Html.DisplayFor(model => model.CRDebitRatePercentage)
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.CRDebitRatePercentage)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="CRBeditRateId" class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Debit Rate ($)", new { @class = "control-label col-md-3" })
                                <div class="col-md-3">
                                    @Html.DisplayFor(model => model.CRDebitRate)
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.CRDebitRate)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Visa Card Rate (%)", new { @class = "control-label col-md-3" })
                                <div class="col-md-3">
                                    @Html.DisplayFor(model => model.CRVisaRate)
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.CRVisaRate)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Master Card Rate (%)", new { @class = "control-label col-md-3" })
                                <div class="col-md-3">
                                    @Html.DisplayFor(model => model.CRMasterCardRate)
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.CRMasterCardRate)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Amex Rate (%)", new { @class = "control-label col-md-3" })
                                <div class="col-md-3">
                                    @Html.DisplayFor(model => model.CRAmexRate)
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.CRAmexRate)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Diners Rate (%)", new { @class = "control-label col-md-3" })
                                <div class="col-md-3">
                                    @Html.DisplayFor(model => model.CRDinersRate)
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.CRDinersRate)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br />
                <div>
                
                </div>
           
    
                <br />
           
            </div>
          
          
        </form>
        <!-- END FORM-->
    </div>
</div>
@section scripts {
    <script type="text/javascript">

                $(document).ready(function () {
                    $(".active").removeClass("active open");
                    $(".Member").addClass("active open");
                });


        $.ajax({
            url: '@Url.Action("GetSearchFields", "AjaxAdmin")',
            type: "GET",
            dataType: "json",
            success: function (data) {
               $.each(data, function (i, item) {
                   $("#effectTypes").append(
                            $("<option></option>").val(item.SearchField).html(item.SearchKey)
                        );
                });

            }
        });

        $(document).ready(function () {
            $("#SaleReps").autocomplete({
                source: '@Url.Action("AutoCompleteEmployee")'
            });
        });


        $(document).ready(function () {
            $("#BusinessType").change(function () {
                var val1 = $("#BusinessType").val();
                if (val1 == 1) {
                    $("#CommissionRateBar").show();
                    $("#CommissionRate").show();
                    $("#MSFMessgae").hide();
                }
                else {
                    $("#CommissionRateBar").hide();
                    $("#CommissionRate").hide();
                    $("#MSFMessgae").show();
                }
            });
        });
        $(document).ready(function () {
            $("#BusinessType").change(function () {
                var val1 = $("#BusinessType").val();
                if (val1 == 1) {
                    $("#CRBeditRateId").hide();
                }
                else {
                    $("#CRBeditRateId").show();
                }
            });
        });
        $(document).ready(function () {
            $("#CRBeditRateId").hide();
        });

        $(document).ready(function () {
            $("#Dealer_keyString").autocomplete({
                source: '@Url.Action("AutoCompleteDealer")'
            });
        });

        function enter(elem) {
            elem.style.color = 'lightblue';
        }
        function leave(elem) {
            elem.style.color = 'white';
        }


        $(document).ready(function () {
            var val1 = $("#SalesforceId").val()
            var text = "LiveEftPos"
            if (val1 != null || val1 != "") {
                $("select option").filter(function () {
                    return $(this).text() == text;
                }).prop('selected', true);
            }
        });

        $(document).ready(function () {
            var val1 = $("#BusinessType").val();
            if (val1 == 1) {
                $("#CommissionRateBar").show();
                $("#CommissionRate").show();
                $("#CRBeditRateId").hide();
            }
            else {
                $("#CommissionRateBar").hide();
                $("#CommissionRate").hide();
                $("#CRBeditRateId").show();
            }
        });
        
    </script>
}