﻿@model PhoenixObjects.Member.MemberRentalModel

@{
    ViewBag.Title = "Disable Rent Free";
    ViewBag.Action = "DisableMemberRentFree";
    Layout = "~/Views/Shared/_DisableRentalFreeLayout.cshtml";
    ViewBag.DialogSize = "600";
}

    @Html.HiddenFor(model => model.Member.MemberId)
    @Html.HiddenFor(model => model.MemberRental_key)
    <h4>Do you want to disable this rent free period? This will add @ViewBag.EndDate as End Date! </h4>   


@section scripts {
    <script type="text/javascript">

    </script>
}
