﻿@model PhoenixObjects.Member.MemberTerminalRentalModel

@{
    ViewBag.Title = "Edit Terminal Rental";
    Layout = "~/Views/Shared/_EditRentalAmtLayout.cshtml";
    ViewBag.Action = "EditMemberRentalAmount";
    ViewBag.DialogSize = "980";
}
<h3 class="page-title">
    Edit Rental Amount
    <small>edit member rental</small>
</h3>
<h4 style="color:red">@ViewBag.Error</h4>

<div class="portlet-body form">
    <!-- BEGIN FORM-->

    <div class="form-body">
    </div>
    @Html.HiddenFor(model => model.MemberTerminalRentalKey)

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Start Date", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <input type="text" class="form-control" readonly name="StartDate" id="StartDate" value="@Model.StartDate" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("End Date", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <input type="text" class="form-control" readonly name="EndDate" id="EndDate" value="@Model.EndDate" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Current Amount", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <input type="text" class="form-control" readonly name="RentalAmount" id="RentalAmount" value="@Model.RentalAmount" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Target", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <input type="text" class="form-control" readonly name="TransactionTarget" required id="TransactionTarget" value="@Model.TransactionTarget" />
                </div>
            </div>
        </div>
    </div>
    @*<div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Rent Free", new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <input type="checkbox" name="RentFreeChk" id="RentFreeChk" />
                    </div>
                </div>
            </div>
        </div>*@
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("New Amount", new { @class = "control-label col-md-3", id = "RentalAmountNewlbl" })
                <div class="col-md-9">
                    <input type="text" class="form-control" name="RentalAmountNew" id="RentalAmountNew" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("End Date", new { @class = "control-label col-md-3", id = "EndDateNewlbl" })
                <div class="col-md-9">
                    <input type="date" class="form-control" name="EndDateNew" id="EndDateNew" />
                </div>
            </div>
        </div>
    </div>

    @*<div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Start Date", new { @class = "control-label col-md-3", id = "RentFreeEndDatelbl" })
                    <div class="col-md-9">
                        <table id="RentFreeStartDate1">
                            <tr>
                                <td style="width:80px">
                                    <select>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>

                                </td>
                                <td style="width:100px">
                                    <select>
                                        <option value="Year">@DateTime.Now.Year</option>
                                        <option value="Year">@DateTime.Now.AddYears(1).Year</option>
                                        <option value="Year">@DateTime.Now.AddYears(2).Year</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("End Date", new { @class = "control-label col-md-3", id = "RentFreeStartDatelbl" })
                    <div class="col-md-9">
                        <input type="date" class="form-control" name="RentFreeEndDate" id="RentFreeEndDate" />
                    </div>
                </div>
            </div>
        </div>*@

</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            
        });
    </script>
}