﻿@model PhoenixObjects.Member.MemberRentalModel

@{
    ViewBag.Title = "Edit Rent Free";
    ViewBag.Action = "EditMemberRentFree";
    Layout = "~/Views/Shared/_EditRentalFreeLayout.cshtml";
    ViewBag.DialogSize = "600";
}

<h3 class="page-title">
    Member Rent Free
    <small>edit rent free</small>
</h3>

<div class="portlet-body form">
    @Html.HiddenFor(model => model.Member.MemberId)
    @Html.HiddenFor(model => model.MemberRental_key)
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Editing: ", new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DisplayFor(model => model.MemberRental_key, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("MemberId: ", new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DisplayFor(model => model.Member.MemberId, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Trading Name:", new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DisplayFor(model => model.Member.TradingName, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("End Date", new { @class = "control-label col-md-4" })
                    <div class="col-md-9">
                        <input type="date" class="form-control" name="EndDate" id="EndDate" value="@Model.RentalEndDate" />

                    </div>
                </div>
            </div>
        </div>
    </div>

@section scripts {
    <script type="text/javascript">

    </script>
}
