﻿@model PhoenixWeb.Models.ViewModel.BankAccountModelVM

@{
    ViewBag.Title = "Add Account";
    Layout = "~/Views/Shared/_AccountPopupLayout.cshtml";
    ViewBag.Action = "EditMemberAccount";
    ViewBag.DialogSize = "980";
}
<h3 class="page-title">
   Edit Account
    <small>edit member account</small>
   
</h3>
<h4>
    <span style="font-weight:600; color:darkgreen">Edit weight to zero (0) if you want to close this account.</span>
</h4>
<h4 style="color:red">@ViewBag.Error</h4>

<div class="portlet-body form">
    <!-- BEGIN FORM-->

    <div class="form-body">
    </div>
    @Html.HiddenFor(model => model.MemberID)
    @Html.HiddenFor(model => model.Account_Key)
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Bsb No", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <input type="text" readonly="readonly" class="form-control" placeholder="###-###" name="BSB" maxlength="7" required id="BSB" value="@Model.BSB" />
                    <span id="BsbNumberErr" class="help-block" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Account number", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <input type="text" readonly="readonly" class="form-control" required name="AccountNumber" pattern="\d{0,100}" title="Accepted values from 0 to 9 digits" id="AccountNumber" value="@Model.AccountNumber" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Account Name", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <input type="text" readonly="readonly" class="form-control" name="AccountName" required id="AccountName" value="@Model.AccountName" />
                </div>
            </div>
        </div>
    </div>


</div>
    @section scripts {
        <script type="text/javascript">

</script>
}