﻿@model PhoenixObjects.Fee.FeeChargeDetailModel
<div class="portlet-body form" id="editMemberFee" style="display: none">
    @using (Ajax.BeginForm("EditMemberFee", "Member", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog" }, new { id = "editMemberFeeForm" }))
    {
        @Html.HiddenFor(model => model.MemberKey)
        @Html.HiddenFor(model => model.FeeChargeDetailID)
        @Html.HiddenFor(model => model.MinAmount)
        @Html.HiddenFor(model => model.MaxAmount)
        @Html.HiddenFor(model => model.IsActive)
        @Html.HiddenFor(model => model.Amount)


        <div class="form-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-labelM col-md-4">Amount</label>
                        <div class="col-md-8">
                            <input class="form-control" name="Amount" id="EditFeeAmount" />
                            <span class="help-block">
                                <span class="field-validation-error" data-valmsg-replace="true">
                                    <span class="" id="EditFeeAmountErrorMessage"></span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-labelM col-md-4" for="EditFeeReason">Status</label>
                        <div class="col-md-8">
                            <select class="form-control" name="IsActive" id="EditFeeStatus">
                                <option value="true">
                                    Active
                                </option>
                                <option value="false">
                                    Inactive
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-labelM col-md-4" for="EditFeeReason">Reason<span style="color: red"> *</span></label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" maxlength="300" name="Reason" id="EditFeeReason" onfocusout="IsValidReason(this)" />
                            <span class="field-validation-error">
                                @Html.ValidationMessageFor(model => model.Reason, null, new { id = "messageReason" })
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-labelM col-md-4" for="EditFeeTicketNumber">Ticket#<span style="color: red"> *</span></label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" maxlength="10" name="TicketNumber" id="EditFeeTicketNumber" onfocusout="IsValidTicketNumber(this)" />
                            <span class="field-validation-error">
                                @Html.ValidationMessageFor(model => model.TicketNumber, null, new { id = "messageTicketNumber" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-labelM col-md-4" for="EditStartDate">Start Date</label>
                        <div class="col-md-8">
                            <input class="form-control" readonly="readonly" type="text" name="StartDate" id="EditStartDate" />
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="text-center">
                    <input type="button" class="btn blue" onclick="editMemberFeeCloseMe()" value="Cancel" />
                    <input class="btn blue" type="button" name="Save" value="Save" onclick="btnSaveEditMemberFee()" />
                </div>
            </div>
        </div>
    }

    <div id="edit-fee-dialog-success" title="Success" style="display: none;text-align: center;">
        <p id="edit-success-content">

        </p>
    </div>

    <div id="edit-fee-dialog-unchange" title="Error" style="display: none;text-align: center;">
        <p>
            Amount and Status are not changed, please update!
        </p>
    </div>

    <div id="edit-fee-dialog-change-status" title="Error" style="display: none;text-align: center;">
        <p>
            The amount can not be updated when status of the Account Fee is made 'Inactive'
        </p>
    </div>

    <div id="edit-fee-dialog-inactive-change-amount" title="Error" style="display: none;text-align: center;">
        <p>
            The Account Fee must be active to edit the amount.
        </p>
    </div>
</div>

<script src="~/Scripts/jquery.formatCurrency-1.4.0.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $('#EditFeeAmount').blur(function () {
            $('#EditFeeAmount').formatCurrency();
        });
    })

    IsValidAmount = function () {
        if ($("#EditFeeAmount").val() == "") {
            $("#EditFeeAmountErrorMessage").text("Amount is required.");
            return false;
        }
        var currentAmount = parseFloat($("#EditFeeAmount").asNumber().toFixed(2));
        var maxValue = parseFloat($("#EditFeeAmount").attr("max"));
        var minValue = parseFloat($("#EditFeeAmount").attr("min"));
        if (!currentAmount || currentAmount < minValue || currentAmount > maxValue) {
            $("#EditFeeAmountErrorMessage").text("Amount must be between " + minValue + " and " + maxValue + ".");
            return false;
        }
       
        return true;
    };

    IsValidTicketNumber = function () {
        if ($("#EditFeeTicketNumber").val() == "") {
            $("#messageTicketNumber").text("Ticket Number is required");
            return false;
        }
        else {
            var pattern = /[0-9]$/;
            if (!pattern.test($("#EditFeeTicketNumber").val())) {
                $("#messageTicketNumber").text("Ticket Number should be numeric only");
                return false;
            }
        }
        $("#messageTicketNumber").text("");
        return true;
    };

    IsValidReason = function () {
        if ($("#EditFeeReason").val() == "") {
            $("#messageReason").text("Reason is required");
            return false;
        }
        $("#messageReason").text("");
        return true;
    };

    $("#EditFeeAmount").change(function () {
        if (IsValidAmount()) {
            $("#EditFeeAmountErrorMessage").text("");
        }
    });

    $("#EditFeeTicketNumber").change(function () {
        IsValidTicketNumber();
    });

    $("#EditFeeReason").change(function () {
        IsValidReason();
    });

    showPopupDialog = function (messageDialogId) {
        $(messageDialogId).dialog({
            resizable: false,
            height: "auto",
            width: 400,
            modal: true,
            drag: function (event, ui) {
                var scrollTopPx = $(document).scrollTop();
                var positionUI = ui.position;
                positionUI.top = positionUI.top - scrollTopPx;
                $(this).closest(".ui-dialog").css("top", positionUI.top);
            },
            buttons: {
                "Ok": function () {
                    var dialogElement = $(this);
                    dialogElement.dialog("close");
                }
            }
        });
    }

    btnSaveEditMemberFee = function () {
        var currentAmount = parseFloat($("#editMemberFeeForm #EditFeeAmount").asNumber().toFixed(2));
        var status = $("#EditFeeStatus").val();
        var oldAmount = $("#editMemberFeeForm #Amount").val();
        var oldStatus = $("#editMemberFeeForm #IsActive").val();

        if (oldAmount == currentAmount && oldStatus == status) {
            showPopupDialog("#edit-fee-dialog-unchange");
            return false;
        }

        if (IsValidTicketNumber() && IsValidAmount() && IsValidReason()) {
            var editFee = {
                MemberKey: $("#editMemberFeeForm #MemberKey").val(),
                TicketNumber: $("#EditFeeTicketNumber").val(),
                FeeChargeDetailID: $("#editMemberFeeForm #FeeChargeDetailID").val(),
                Amount: currentAmount,
                IsActive: status, 
                Reason: $("#EditFeeReason").val(),
            }

            //current active => change amount and set status to inactive.
            if (currentAmount != oldAmount && status != oldStatus && status == "false") {
                showPopupDialog("#edit-fee-dialog-change-status");
                return false;
            }

            //current inactive => change amount when not update status to active.
            if (status == oldStatus && status == "false" && currentAmount != oldAmount) {
                showPopupDialog("#edit-fee-dialog-inactive-change-amount");
                return false;
            }

            $.ajax({
                url: baseURL + "Member/EditMemberFee",
                type: "POST",
                dataType: "html",
                contentType: "application/json",
                data: JSON.stringify(editFee),
                success: function (result) {
                    $("#memberFeeGrid").empty();
                    $("#memberFeeGrid").html(result);
                    $("#editMemberFee").dialog('close');
                    loadChangeActivities();

                    var currentAmount = parseFloat($("#editMemberFeeForm #EditFeeAmount").asNumber().toFixed(2));
                    var status = $("#EditFeeStatus").val();
                    var oldAmount = $("#editMemberFeeForm #Amount").val();
                    var oldStatus = $("#editMemberFeeForm #IsActive").val();
                    var content = "Success!";
                    if (currentAmount != oldAmount && status != oldStatus) {
                        content = "Status and amount updated successfully.";
                    }
                    else {
                        if (currentAmount != oldAmount) {
                            content = "Amount updated successfully";
                        }
                        else if (status != oldStatus) {
                            content = "Status updated successfully";
                        }
                    }

                    $("#edit-success-content").text(content);
                    showPopupDialog("#edit-fee-dialog-success");
                }
            });
        }
    }
</script>