﻿@model PhoenixWeb.Models.ViewModel.LiveSMSMemberVM
@{
 
    ViewBag.Title = "LiveSMS";
    Layout = "~/Views/Shared/_LiveSMSDulpicateAddDialog.cshtml";
}
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
           Add Credit Details
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        @*<div class="form-body">
        </div>*@  
        @Html.HiddenFor(model=>model.MemberId)
        @Html.HiddenFor(model => model.Username)
        @Html.HiddenFor(model => model.name)
        <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-9">
                            <label>MemberId: </label>@Model.MemberId
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-9">
                            <label>Username: </label>@Model.Username
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-9">
                            <label>Name: </label>@Model.name
                        </div>
                    </div>
                </div>
            </div>
        <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-8">
                            <input type="text" name="Credit" id="Credit" class="form-control" placeholder="Enter credit">
                        </div>
                    </div>
                </div>
            </div>
        <div class="row">&nbsp;</div>
        </div>
</div>
        @section scripts {
            <script type="text/javascript">

                $("#dialog").dialog({
                    width: "500"
                });
            </script>
        }
