﻿@{
    ViewBag.Title = "Allocate Member Fees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Allocate Member Fees</h2>

<div id="ChargeFee" class="row">
</div>
<input type="hidden" id="feeTypes" value='@ViewBag.FeeTypes' />

<div class="row" style="margin-bottom: 20px;">
    <div class="col-md-7" id="gridMemberSection" style="padding-right: 0px !important;">
        <div class="form-group" id="parentMemberGrid">
            <table id="memberGrid"></table>
            @*<div id="memberGridPager"></div>*@
        </div>
    </div>
    <div class="col-md-5">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-adjust"></i>
                    Add Member (Please list MIDs separated by semicolon ; )
                </div>
            </div>
            <div class="portlet-body form">
                <div class="panel-body">
                    <textarea type="text" data-id="" class="form-control" id="MemberInfo" style="height:100px"></textarea>
                    <input type="button" value="Add Member" id="btnAddMember" style="margin-top: 2%;" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom: 20px;">
    <input type="button" value="Save" id="btnSave" style="margin-top: 2%;" class="btn btn-primary" />
</div>

<div id="dialog-message" hidden>
    <div class="row" id="dialog-result" hidden>
        <div class="col-md-12">
            <strong class="green">Merchants which were successfully added</strong><br />
            <div id="added-merchants-to-group-success"></div>

            <br /><br /><br />
            <strong class="green">Merchants with invalid Id or had some issues</strong><br />
            <div id="added-merchants-to-group-error"></div>
        </div>
    </div>

    <div id="dialog-error" class="row" hidden>
        <div class="col-md-12">
            <strong id="error-message"></strong>
        </div>
    </div>
</div>

<script type="text/x-jsrender" id="tmplFeeList">
    {{for data.fees itemVar="~fee"}}
    <div class="col-md-3">
        <div class="form-group">
            @Html.Label("Fee", new { @class = "control-labelM col-md-4" })
            <div class="col-md-8">
                <select class="form-control" id="ddl_Fee_{{:~fee.ID}}">
                    {{for ~root.data.types}}
                    <option value="{{:ID}}">{{:Name}}</option>
                    {{/for}}
                </select>
                <span class="help-block text-danger">
                    <label style="color:red" id="error_feeType_{{:~fee.ID}}"></label>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            @Html.Label("Amount", new { @class = "control-labelM col-md-4" })
            <div class="col-md-8">
                <input class="form-control"
                       id="amount_{{:~fee.ID}}"
                       data-Id="{{:~fee.ID}}"
                       data-feeId="{{:~fee.FeeID}}"
                       onfocusout="validateAmount(this)"
                       value="$0.00" />
                <span class="help-block text-danger">
                    <label style="color:red" id="error_fee_{{:~fee.ID}}"></label>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            @Html.Label("Start Date", new { @class = "control-labelM col-md-4" })
            <div class="col-md-8">
                <input type="text" class="form-control"
                       readonly="readonly"
                       id="startDate"
                       data-Id="{{:~fee.ID}}"
                       data-feeId="{{:~fee.FeeID}}"
                       value="" />
                <span class="help-block text-danger">
                    <label style="color:red" id="error_startDate"></label>
                </span>
            </div>
        </div>
    </div>
    @*<div class="col-md-3">
            <div class="form-group">
                @Html.Label("End Date", new { @class = "control-labelM col-md-4" })
                <div class="col-md-8">
                    <input type="date"
                           class="form-control datepicker removeNotAllowCursor"
                           readonly="readonly"
                           id="endDate"
                           data-Id="{{:~fee.ID}}"
                           data-feeId="{{:~fee.FeeID}}"

                           />

                </div>
            </div>
        </div>*@
    {{/for}}
</script>

@section scripts {
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/jquery.jqGrid.js"></script>
    <script src="~/Scripts/jquery.formatCurrency-1.4.0.js" type="text/javascript"></script>
    <script src="~/Scripts/pages/Member/PH-MemberFees.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".Member").addClass("active open");
            RenderFees("ChargeFee");

            var now = new Date();
            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);
            var enddate = day + "/" + (month) + "/" + now.getFullYear();
            $('#startDate').val(enddate);
            //$("#startDate").datepicker('option', 'beforeShowDay', function (date) {
            //    var endDate = $("#endDate").datepicker('getDate');
            //    return endDate ? Util.disabledDateFollowOtherDate(endDate, date) : [true];
            //});

            //$("#endDate").datepicker('option', 'beforeShowDay', function (date) {
            //    var startDate = $("#startDate").datepicker('getDate');
            //    return startDate ? Util.disabledDateFollowOtherDate(date, startDate) : [true];
            //});
        });
    </script>
}

<style type="text/css">
    .ui-jqgrid-bdiv {
        max-height: 400px;
    }

    .removeNotAllowCursor {
        cursor: auto !important
    }

    #ui-datepicker-div .ui-datepicker-month,
    #ui-datepicker-div .ui-datepicker-month option {
        color: black !important
    }

    #ui-datepicker-div .ui-datepicker-year,
    #ui-datepicker-div .ui-datepicker-year option {
        color: black !important
    }
</style>