﻿@{
    ViewBag.Title = "Menu";
}

<div style="align-content:center; margin-left:35%; margin-right:35%">
    @if (ViewContext.Controller.HasPermission("MemberAddMember"))
    {
        <a href="@Url.Action("Create", "Member")"><img id="CreateMember" src="~/Images/ICONS/AddMember.png" style="position:relative; float: left" /></a>
    }
    @if (ViewContext.Controller.HasPermission("MemberSearchMember"))
    {
        <a href="@Url.Action("Search", "Member")"><img src="~/Images/ICONS/MemberSearch.png" style="position:relative; float: left" /></a>
    }
    @*@if (ViewContext.Controller.HasPermission("MemberSForceSearch"))
    {
        <a href="@Url.Action("SalesforceSearch", "Member")"><img src="~/Images/ICONS/SearchSalesforce.png" style="position:relative; float: left" /></a>
    }*@
</div>

@*<table cellpadding:"5" align="center">
    <tr>
        <td>
            <a href="@Url.Action("Create", "Member")"><img id="CreateMember" src="~/Images/ICONS/AddMember.png" /></a>
        </td>
         <td>
            <a href="@Url.Action("Search", "Member")"><img src="~/Images/ICONS/MemberSearch.png" /></a>
        </td>
         <td>
            <a href="@Url.Action("SalesforceSearch", "Member")"><img src="~/Images/ICONS/SearchSalesforce.png" /></a>
        </td>
    </tr>
</table>*@
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".Member").addClass("active open");
        });
      
    </script>
}