﻿@model PhoenixObjects.Fee.MemberRefundFeeModel

@{
    ViewBag.Title = "Refund Fee";
    ViewBag.Action = "";
    Layout = "~/Views/Shared/_MemberFeePopupLayout.cshtml";
    ViewBag.DialogSize = "850";
}
<div class="portlet-body form" id="refundMemberFee" style="display: none">
    @using (Ajax.BeginForm("RefundFee", "Member", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "dialog" }, new { id = "refundMemberFeePopup" }))
    {
        @Html.HiddenFor(model => model.MemberKey, new { @Value = ViewBag.MemberKey })
        @Html.HiddenFor(model => model.FeeChargeHistoryID)
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="row text-center">
                    @Html.Label("Fee Amount:")
                </div>
                <div class="row text-center ">
                    <label id="originalAmount" style="font-size: x-large"></label>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Refund Amount", new { @class = "control-labelM col-md-4" })
                            <div class="col-md-8">
                                <input class="form-control" name="Amount" id="RefundFeeAmount" />
                                <span class="help-block">
                                    <span class="field-validation-error" data-valmsg-replace="true">
                                        <span class="" id="RefundFeeAmountErrorMessage"></span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-labelM col-md-4" for="EditFeeReason">Reason<span style="color: red"> *</span></label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" maxlength="150" name="Reason" required id="RefundFeeReason" />
                                <span class="field-validation-error" data-valmsg-replace="true">
                                    <span class="" id="RefundFeeReasonErrorMessage"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-labelM col-md-4" for="EditFeeTicketNumber">Ticket#<span style="color: red"> *</span></label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" maxlength="10" name="TicketNumber" id="RefundFeeTicketNumber" onfocusout="IsValidRefundTicketNumber(this)" />
                                <span class="field-validation-error" data-valmsg-replace="true">
                                    <span class="" id="RefundFeeTicketErrorMessage"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <input type="button" class="btn blue" onclick="CloseRefundPopup()" value="Cancel" />
                    <input class="btn blue" type="button" name="Save" value="Save" id="refundFeeBtn" />
                </div>
            </div>
        </div>
    }

    <div id="refund-dialog-confirm" title="Confirmation" style="display: none;text-align: center;">
        <p>
            Are you sure you want to refund?
        </p>
    </div>
    <div id="dialog-success" title="Success" style="display: none;text-align: center;">
        <p>
            Success!
        </p>
    </div>
</div>
<style type="text/css">
    .removeNotAllowCursor {
        cursor: auto !important
    }

    #ui-datepicker-div .ui-datepicker-month,
    #ui-datepicker-div .ui-datepicker-month option {
        color: black !important
    }

    #ui-datepicker-div .ui-datepicker-year,
    #ui-datepicker-div .ui-datepicker-year option {
        color: black !important
    }
</style>
<script src="~/Scripts/Common-Utils.js?v=1.0.0.0" type="text/javascript"></script>
<script src="~/Scripts/jquery.formatCurrency-1.4.0.js" type="text/javascript"></script>
<script type="text/javascript">

    $(function () {
        $('#RefundFeeAmount').blur(function () {
            $('#RefundFeeAmount').formatCurrency();
        });
    })

    function CloseRefundPopup() {
        $("#refundMemberFee").dialog("close");
    };

    reloadChargeActivities = function () {
        //display loading state
        $("#grid").closest(".ui-jqgrid").find('.loading').show();

        $.ajax({
            url: baseURL + "Member/GetChargeActivities",
            headers: {
                "Content-Type": "application/json"
            },
            type: "POST",
            data: JSON.stringify(searchChargeModel)
        }).done(function (result) {
            //Loading data to grid
            var grid = $('#grid')[0];
            $('#grid').jqGrid('clearGridData');
            grid.addJSONData(result);

            //hide loading state
            $("#grid").closest(".ui-jqgrid").find('.loading').hide();
        }).fail(function (err) {
            console.log(err);
        });
    };

    IsValidRefundTicketNumber = function () {
        if ($("#RefundFeeTicketNumber").val() == "") {
            $("#RefundFeeTicketErrorMessage").text("Ticket Number is required");
            return false;
        }
        else {
            var pattern = /[0-9]$/;
            if (!pattern.test($("#RefundFeeTicketNumber").val())) {
                $("#RefundFeeTicketErrorMessage").text("Ticket Number should be numeric only");
                return false;
            }
        }
        $("#RefundFeeTicketErrorMessage").text("");
        return true;
    };

    IsValidRefundReason = function () {
        if ($("#RefundFeeReason").val() == "") {
            $("#RefundFeeReasonErrorMessage").text("Reason is required");
            return false;
        }
        $("#RefundFeeReasonErrorMessage").text("");
        return true;
    };

    IsValidRefundAmount = function ()
    {
        var currentAmount = parseFloat($("#RefundFeeAmount").asNumber().toFixed(2));
        var maxValue = parseFloat($("#RefundFeeAmount").attr("max"));
        var minValue = parseFloat($("#RefundFeeAmount").attr("min"));
        if (isNaN(currentAmount) || !currentAmount || currentAmount < minValue) {
            $("#RefundFeeAmountErrorMessage").text("Value must be greater than or equal " + minValue);
            return false;
        }

        if (currentAmount > maxValue) {
            $("#RefundFeeAmountErrorMessage").text("Value must be smaller than or equal " + maxValue);
            return false;
        }
        $("#RefundFeeAmountErrorMessage").text("");
        return true;
    }

    $("#RefundFeeAmount").change(function () {
        IsValidRefundAmount();
    });

    $("#RefundFeeTicketNumber").change(function () {
        IsValidRefundTicketNumber();
    });

    $("#RefundFeeReason").change(function () {
        IsValidRefundReason();
    });

    $("#refundFeeBtn").off("click").on("click",
        function () {
            $("#RefundFeeAmountErrorMessage").text("");
            $("#RefundFeeReasonErrorMessage").text("");
            $("#RefundFeeTicketErrorMessage").text("");

            if (IsValidRefundAmount() == false || IsValidRefundTicketNumber() == false || IsValidRefundReason() == false) {
                return false;   
            }

            $( "#refund-dialog-confirm" ).dialog({
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                drag: function (event, ui) {
                    var scrollTopPx = $(document).scrollTop();
                    var positionUI = ui.position;
                    positionUI.top = positionUI.top - scrollTopPx;
                    $(this).closest(".ui-dialog").css("top", positionUI.top);
                },
                buttons: {
                    "Yes": function (e) {
                        var currentAmount = parseFloat($("#RefundFeeAmount").asNumber().toFixed(2));
                        var refundFee = {
                            MemberKey: $("#refundMemberFeePopup #MemberKey").val(),
                            Amount: currentAmount,
                            Reason: $("#RefundFeeReason").val(),
                            TicketNumber: $("#RefundFeeTicketNumber").val(),
                            FeeChargeHistoryID: $("#FeeChargeHistoryID").val()
                        }
                        $(this).off(e);
                        var dialogElement = $(this);
                        $.ajax({
                            url: baseURL + "Member/RefundMemberFee",
                            type: "POST",
                            dataType: "html",
                            contentType: "application/json",
                            data: JSON.stringify(refundFee),
                            success: function (result) {
                                $("#refundMemberFeePopup #RefundFeeAmount").val('');
                                $("#RefundFeeReason").val(''),
                                $("#RefundFeeTicketNumber").val(''),
                                reloadChargeActivities();
                                $("#refundMemberFee").dialog("close");
                                dialogElement.dialog("close");
                                $("#dialog").dialog("close");
                                $("#dialog-success").dialog({
                                    resizable: false,
                                    height: "auto",
                                    width: 400,
                                    modal: true,
                                    drag: function (event, ui) {
                                        var scrollTopPx = $(document).scrollTop();
                                        var positionUI = ui.position;
                                        positionUI.top = positionUI.top - scrollTopPx;
                                        $(this).closest(".ui-dialog").css("top", positionUI.top);
                                    },
                                    buttons: {
                                        "Ok": function () {
                                            var dialogElement = $(this);
                                            dialogElement.dialog("close");
                                        }
                                    }
                                });
                            }
                        });
                    },
                    "No": function () {
                        $(this).dialog( "close" );
                    }
                }
            });
    });

</script>
