﻿@{
 
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_RestPassword.cshtml";
    ViewBag.DialogSize = "400";
}
<h4>@ViewBag.Error</h4>
<h4>
    @ViewBag.Msg
</h4>
<div>
    <label>
        UserName :@ViewBag.UserName
    </label>
    <label>
        Email Address :@ViewBag.Email
    </label>
   
</div>
        @section scripts {
            <script type="text/javascript">
            </script>
        }
