﻿@model IEnumerable<Phoenix_BusLog.Salesforce.SAccount>

@{
    ViewBag.Title = "SalesforceSearch";
    //   Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="page-title">
    Salesforce Search
    <small>Search an Account in Salesforce and add to Phoenix</small>
</h3>


@using (Html.BeginForm())
{
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-adjust"></i>
                Search
            </div>

        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form action="#" class="horizontal-form">
                <div class="form-body">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Select", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <select class ="form-control" style="width:200px; height:30px" name="Type" id="Type">
                                    <option value="1">Name</option>
                                    <option value="2">Phone</option>
                                </select>
                                <span class="help-block">

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Search Value", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <input type="text" class="form-control" required name="Name" id="Name" />
                                <span class="help-block">

                                </span>
                                <button type="submit" name="Command" value="Search" class="btn blue-madison">SEARCH <i class="m-icon-swapright m-icon-white"></i></button>
                             <br />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <br />

        </div>
    </div>

}

@if (Model != null && Model.Count() > 0)
{
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Saleforce Account List
            </div>

        </div>
        <div class="portlet-body">
            <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 500px;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            @*<th>
                            <b><label></label></b>
                        </th>*@
                            <th>
                                Contact Name
                            </th>
                            @*<th>
                            <b><label></label></b>
                        </th>*@
                            <th>
                                Add to Phoenix
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                @*<td></td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                @*<td></td>*@

                                <td>
                                    @Ajax.ActionLink("Add to Phoenix", "SalesforceDulpicateAddDialog", new { id = item.Id }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" })


                                    @*@Html.ActionLink("Add to Phoenix", "SalesforceDulpicateAddDialog", new { id = item.Id })*@

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@*<div class="hidden">
    <div id="abcd1" class="">
        Do you want to create sameday cashing? <br /><br />
        @Ajax.ActionLink("Yes", "SameDay", null, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn blue" })
        <input type="button" class="btn blue" onclick="CloseMe()" value="No" />
    </div>
</div>*@

@section scripts {
    <script type="text/javascript">
     
                $(document).ready(function () {
                    $(".active").removeClass("active open");
                    $(".Member").addClass("active open");
                });
      
        $.ajax({
            url: '@Url.Action("GetSFName", "Member")',
            type: "GET",
            dataType: "json",
            success: function (data) {
                $.each(data, function (i, item) {
                    $("#effectTypes").append(
                             $("<option></option>").val(item.SearchField).html(item.SearchKey)
                         );
                });
            }
        });

        @*function CloseMe() {
            $("#abcd1").dialog("close");
        }

        $(document).ready(function () {
            if ($("#abcd1").html() != "") {
                $.ajax({
                    url: '@Url.Action("SalesforceDulpicateAddDialog", "Member")',
                    type: "GET",
                    success: function (data) {
                        var dataMsg = data;
                        if (dataMsg != "error") {
                            // $("#abcd1").html(data);
                            $("#abcd1").dialog();
                            $("#abcd1").dialog({
                                title: "Sameday Cashing",
                                position: "center",
                                width: "300"
                            });
                        }
                    },
                    error: function (x, y, z) {
                        alert('error');
                    }
                });
            }
        });*@

    </script>
}

