﻿@model PhoenixObjects.Member.MultiMemberSearchModel
@{
    ViewBag.Title = "Search Member";
    ViewBag.Action = "SearchMember";
    Layout = "~/Views/Shared/_MemberAuth.cshtml";
    ViewBag.DialogSize = "780";
}


<h3 class="page-title">
    Search
    <small>search member account</small>
</h3>
<i style="color:red">@ViewBag.Error</i>
<i style="color:red">@Html.ValidationMessage("Error")</i>

<div class="portlet-body form">
       <div class="form-body">
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.Label("Search Name/MID:", new { @class = "control-label col-md-2" })                
                <div class="col-md-4">
                    <input type="text" class="form-control" name="MemberSearchField"  id="MemberSearchField" />
                </div>
               
            </div>
        </div>
    </div>
    
</div><br />

  @if (Model.MemberList != null)
  {
      if (Model.MemberList.Count > 0)
      {

        <div class="portlet box grey ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Member Result
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 200px;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    MemberId
                                </th>
                                <th>
                                    Trading Name
                                </th>
                                <th>
                                    First Name
                                </th>
                                <th>
                                    Last Name
                                </th>
                                <th>
                                    Mobile
                                </th>
                                <th>
                                    Business type
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model.MemberList)
                            {
                                <tr>
                                    <td>
                                        @m.MemberId
                                    </td>
                                    <td>
                                        @m.TradingName
                                    </td>
                                    <td>
                                        @m.FirstName
                                    </td>
                                    <td>
                                        @m.LastName
                                    </td>
                                    <td>
                                        @m.Mobile
                                    </td>
                                    <td>
                                        @m.BusinesstypeName
                                    </td>
                                    <td>
                                        @Html.ActionLink("Add", "AddAuthMember", new { Id = (int)@ViewBag.Memberkey, AMember = m.Member_key }, new { @class = "btn green btn-sm" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

      }
  }


@section scripts {
    <script type="text/javascript">

    </script>
}
