﻿@model PhoenixWeb.Models.ViewModel.Member.Search.MemberSearchVM

@{
    ViewBag.Title = "Search";
}
<h3 class="page-title">
    Search Member
    <small>Phoenix Member Search</small>
</h3>

@Html.ValidationMessage("error")

@using (Html.BeginForm())
{

    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                Search
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <div class="form-body">
            </div>
            <div class="row" style="margin-bottom: 8px">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="col-md-4 center-control-label">
                                Business Type
                            </div>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.CompanyKey, Model.BusinessTypes, new { id = "CompanyKey", @class = "form-control search-param" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-10">
                                <div class="col-md-4 center-control-label">
                                    Payment Type
                                </div>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.PaymentKey, Model.PaymentTypes, new { id = "PaymentKey", @class = "form-control search-param" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-bottom: 8px">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="col-md-4 center-control-label">
                                Dealer
                            </div>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.DealerKey, Model.Dealers, new { id = "DealerKey", @class = "form-control search-param" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-10">
                                <div class="col-md-4 center-control-label">
                                    QBR Status
                                </div>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.QBRStatusKey, Model.QBRStatuses, new { id = "QBRStatusKey", @class = "form-control search-param" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-bottom: 8px">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="col-md-4 center-control-label">
                                Created Date
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.CreatedDateFrom, new { @class = "form-control datepicker removeNotAllowCursor search-param", @readonly = "readonly", @placeholder = "From" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.CreatedDateTo, new { @class = "form-control datepicker removeNotAllowCursor search-param", @readonly = "readonly", @placeholder = "To" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row" style="margin-bottom: 8px">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-3" style="margin-top: 7px;">
                            <div class="col-md-3">
                                <label class="switch">
                                    <input type="checkbox" id="keywordToggle" checked>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="col-md-9" style="height: 30px; padding-top:1px;">
                                <label id="lblKeyword" class="disableKeyword">Search by keywords</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    @Html.TextBoxFor(model => model.SearchKeyword,
                                                    new
                                                         {
                                                             @class = "form-control search-param",
                                                             @maxlength = "50",
                                                             @placeholder = "Terminal ID, Member ID, Trading Name, Mobile Number, Email, QBR Number, Account Identifier"
                                                         })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12" style="background-color: #efefef; height: 50px; padding-top: 8px">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <div style="margin-left: -20px">
                                        <input type="checkbox" checked="checked" class="search-param" id="chkActive" />
                                        <label for="chkActive">Show only active merchants</label>
                                    </div>
                                </div>
                                <div class="col-md-6" style="text-align:right">
                                    <a href="#" class="reset" id="reset">Reset</a>
                                    <button type="submit" id="btnSearch" name="Command" value="Search" onclick="SearchMember(event)" class="btn searchButton">SEARCH</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="portlet box blue grid-wrapper">
        <div class="portlet-title">
            <div class="caption">
                Search results
                @if (ViewContext.Controller.HasPermission("ExportMember"))
                {
                    <button type="submit" id="btnExport" onclick="ExportMemberSearched(event)" name="Export" class="btn exportButton">EXPORT DATA</button>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" id="MemberSearchResult">
                </div>
            </div>
        </div>
    </div>
}
@if (ViewContext.Controller.HasPermission("FraudMonitoringViewReport"))
{
    <input hidden id="pms_FraudMonitoringViewReport" value="true"/>
}
<style>
    .removeNotAllowCursor {
        cursor: auto !important
    }

    #ui-datepicker-div .ui-datepicker-month,
    #ui-datepicker-div .ui-datepicker-month option {
        color: black !important
    }

    #ui-datepicker-div .ui-datepicker-year,
    #ui-datepicker-div .ui-datepicker-year option {
        color: black !important
    }

    .reset {
        margin-right: 20px;
        color: grey;
    }

    .disableKeyword {
        color: #C1C1C1;
    }

    .exportButton {
        background-color: #efefef;
        width: 150px;
        color: grey;
        margin-left: 1.5em;
        border-radius: 2px !important;
    }

    .searchButton {
        background-color: #3598dc;
        width: 100px;
        color: white;
        border-radius: 2px !important;
    }

    .action-icon {
        height: 16px;
        filter: brightness(0.8);
    }

        .action-icon:hover {
            filter: brightness(0);
        }
        .action-icon[src$=".svg"] {
            filter: contrast(0.2);
        }
        .action-icon[src$=".svg"]:hover {
            filter: contrast(0.9);
        }
    .ui-autocomplete-term {
        color: #4819E0;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 90px;
        height: 60px;
    }

        .switch .checker {
            opacity: 0 !important;
            width: 0 !important;
            height: 0 !important;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: -15px;
        left: -6px;
        right: 0px;
        bottom: 24px;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 25px;
            width: 25px;
            left: 1px;
            bottom: 1px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    div.inputchecked + .slider {
        background-color: #2196F3;
    }

        div.inputchecked + .slider:before {
            -webkit-transform: translateX(33px);
            -ms-transform: translateX(33px);
            transform: translateX(33px);
        }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px !important;
        width: 60px !important;
    }

        .slider.round:before {
            border-radius: 50%;
        }
    .ui-jqgrid tr.jqgrow td { height: 40px !important; }
    .ui-jqgrid table.ui-jqgrid-htable,
    .ui-jqgrid .ui-jqgrid-htable th {
        height: 36px !important;
    }

    .ui-state-hover, .ui-widget-content .ui-state-hover {
        border: 1px solid #c1c1c1;
        background: #EEEEEE;
        font-weight: bold;
        color: #363636;
    }

    .ui-state-highlight, .ui-widget-content .ui-state-highlight {
        border: 1px solid #c1c1c1;
        background: #EEEEEE;
        color: #363636;
    }

    .grid-col-padding-left {
        padding-left: 8px !important;
    }

    .grid-col-padding-right {
        padding-right: 8px !important;
    }

    #jqgh_MemberSearchResultGrid_TradingName {
        text-align: left;
        padding-left: 6px !important;
    }
    .ui-jqgrid,
    .ui-jqgrid .ui-jqgrid-view,
    .ui-jqgrid .ui-jqgrid-pager,
    .ui-jqgrid .ui-pg-input {
        font-size: 12px !important;
        font-family: 'Open Sans', sans-serif !important;
    }

    .ui-state-default .ui-th-column {
        padding-right: 1px !important;
    }

    .s-ico{
        padding-right: 7px !important;
    }

    .ui-jqgrid .ui-icon-asc{
        margin-left: 1px;
    }
   
</style>
@section scripts {
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/pages/Member/PH-Search.js" type="text/javascript"></script>
    <script src="~/Scripts/pages/Member/PH-SearchService.js"></script>
}
