﻿@model PhoenixWeb.Models.ViewModel.Member.Search.SearchMemberTerminalAllocationVM

@{
    ViewBag.Title = "Terminal Allocation";
    Layout = "~/Views/Shared/_CommonViewDialog.cshtml";
    ViewBag.DialogSize = Model.IsError || Model.AllVehicleTerminalAllocation.Count == 0 ? "500" : "1100";
    var allocatedTerminalList = Model.AllVehicleTerminalAllocation.Where(x => x.IsAllocated);
    var deAllocatedTerminalList = Model.AllVehicleTerminalAllocation.Where(x => !x.IsAllocated);
}

@{
    if (Model.IsError)
    {
        <div>
            An error happened while processing your request. Please try again.
        </div>
    }
    else
    {
        if (Model.AllVehicleTerminalAllocation.Count > 0)
        {
            <ul class="nav nav-tabs nav-justified" role="tablist" id="allocateTerminalsTable">
                <li class="nav-item active">
                    <a class="nav-link active" data-toggle="tab" href="#panel1" id="allocated" role="tab"><i class="fa fa-list"></i> Allocated Terminals (@allocatedTerminalList.Count())</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panel2" id="deallocated" role="tab"><i class="fa fa-list"></i> De-Allocated Terminals (@deAllocatedTerminalList.Count())</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="panel1" role="tabpanel">
                    <div class="portlet light bordered" id="AllocatedTerminals">
                        <div class="portlet-body">
                            <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: auto; max-height: 400px;">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                Sub-business
                                            </th>
                                            <th>
                                                State
                                            </th>
                                            <th>
                                                Type
                                            </th>
                                            <th>
                                                Terminal ID
                                            </th>
                                            <th>
                                                Effective Date
                                            </th>
                                            <th>
                                                Swapped TID
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in allocatedTerminalList)
                                        {
                                            <tr>
                                                <td id="vehicleId_@item.Vehicle_key">
                                                    @Html.DisplayFor(modelItem => item.VehicleId)
                                                </td>

                                                <td id="state_@item.Vehicle_key">
                                                    @Html.DisplayFor(modelItem => item.RegisteredState)
                                                </td>
                                                <td id="type_@item.Vehicle_key" data-key="@item.VehicleTypeKey">
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </td>

                                                <td id="terminalId_@item.Vehicle_key">
                                                    @Html.DisplayFor(modelItem => item.TerminalId)
                                                </td>
                                                <td id="effectiveDate_@item.Vehicle_key">
                                                    @Html.DisplayFor(modelItem => item.EffectiveDate)
                                                </td>
                                                <td id="SwappedTID_@item.Vehicle_key">
                                                    @Html.DisplayFor(modelItem => item.SwappedTID)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="panel2" role="tabpanel">
                    <div class="portlet light bordered" id="DeAllocatedTerminals">
                        <div class="portlet-body">
                            <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: auto; max-height: 400px;">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                Terminal ID
                                            </th>
                                            <th>
                                                Original TID
                                            </th>
                                            <th>
                                                Sub-business
                                            </th>
                                            <th>
                                                State
                                            </th>
                                            <th>
                                                Type
                                            </th>
                                            <th>
                                                Effective Date
                                            </th>
                                            <th>
                                                Deallocated Date
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in deAllocatedTerminalList)
                                        {
                                            <tr>
                                                <td>
                                                    @item.TerminalId
                                                </td>
                                                <td>
                                                    @item.OriginalTID
                                                </td>
                                                <td id="vehicleId_@item.Vehicle_key">
                                                    @item.VehicleId
                                                </td>

                                                <td id="state_@item.Vehicle_key">
                                                    @item.RegisteredState
                                                </td>
                                                <td id="type_@item.Vehicle_key" data-key="@item.VehicleTypeKey">
                                                    @item.Name
                                                </td>
                                                <td id="effectiveDate_@item.Vehicle_key">
                                                    @item.TerminalAllocatedDate
                                                </td>
                                                <td>
                                                    @item.DeallocatedDate
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div>
                No terminal allocation was found.
            </div>
        }
    }
}