﻿@model PhoenixObjects.Member.TerminalAllocationModel

@{
    ViewBag.Title = "Swap Terminal";
    Layout = "~/Views/Shared/_SwapTerminal.cshtml";
    ViewBag.DialogSize = "1000";
}
<h3 class="page-title">
    Swap Terminal
    <small>Swap terminal for businessId: <span style="color:green;font-weight:600">@ViewBag.VehicleId</span>  </small>
</h3>
@Html.HiddenFor(model=>model.Member.MemberId)
@Html.HiddenFor(model => model.Member_key)
@Html.HiddenFor(model => model.TerminalAllocation_key)
<input type="hidden" name="Language" value=@ViewBag.VehicleKey>
<h4 style="color:red">@ViewBag.Error</h4>
@*<div class="portlet-body form">
    <div class="form-body">
    </div>*@
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.Label("MemberId", new { @class = "control-labelM col-md-3" })
                <div class="col-md-3">
                    @Html.DisplayFor(model => model.Member.MemberId, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.Label("Name", new { @class = "control-labelM col-md-3" })
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.Member.TradingName, new { @class = "form-control" }) / @Html.DisplayFor(model => model.Member.FirstName, new { @class = "form-control" }) @Html.DisplayFor(model => model.Member.LastName, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.Label("Business ID", new { @class = "control-labelM col-md-4" })
                <div class="col-md-7">
                    <label >@ViewBag.VehicleId</label>
                   
                </div>
            </div>
        </div> 
    </div>
@*</div>*@

    @*<div class="portlet-body form">       
        <div class="form-body">
        </div>*@
        <h4 class="form-section">Current Terminal Info</h4>
        <div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Terminal", new { @class = "control-labelM col-md-4" })
            <div class="col-md-3">
                @Html.DisplayFor(model => model.OriginalTerminalID, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Location", new { @class = "control-labelM col-md-4" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.EFTTerminalLocation, new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Status", new { @class = "control-labelM col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.OldTerminalStatus, (IEnumerable<SelectListItem>)ViewBag.StatusList, new { id = "Status", name = "Status", @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        <h4 class="form-section">New Terminal Info</h4>
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("New Terminal Id", new { @class = "control-labelM col-md-4" })
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="EftTerminal_key" required id="EftTerminal_key" placeholder="type id and select" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Default Service Fee", new { @class = "control-labelM col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.ServiceFee, new { @class = "form-control", @type = "number", @title = "Please add a number.", @step = "any" })
                        <div class="col-md-8">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Allocation Date", new { @class = "control-labelM col-md-4" })
                    <div class="col-md-8">
                        <input type="datetime-local" class="form-control" step="1" autocorrect="off" name="TerminalAllocationDate" required id="TerminalAllocationDate" value="@Model.EffectiveDateString" />
                        <div class="col-md-9">
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Sale Reps", new { @class = "control-labelM col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.Employee_key, (IEnumerable<SelectListItem>)ViewBag.EmployeeList, new { id = "SaleReps", @class = "form-control" })
                        </div>
                    </div>
                </div>*@
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Allow Moto", new { @class = "control-labelM col-md-4" })
                    <div class="col-md-8">
                        @Html.CheckBoxFor(model => model.AllowMOTOB)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Allow Refund", new { @class = "control-labelM col-md-4" })
                    <div class="col-md-8">
                        @Html.CheckBoxFor(model => model.AllowRefundB)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Delivery Required", new { @class = "control-labelM col-md-4" })
                    <div class="col-md-8">
                        @Html.CheckBoxFor(model => model.DeliveryRequiredB)
                    </div>
                </div>
            </div>
        </div>
    @*</div>*@


    @section scripts {
        <script type="text/javascript">
        </script>
    }
