﻿@model PhoenixWeb.Models.ViewModel.AllMemberNoteVM

@{
    ViewBag.Title = " All Member Notes";
    ViewBag.Action = "CreateMemberNotes";
    Layout = "~/Views/Shared/_AllMemberNotesPopuLayout.cshtml";
    ViewBag.DialogSize = "600";
}


<div class="portlet box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Notes
        </div>
        <div class="actions">
        </div>
    </div>
    <div class="portlet-body">
        <div class="slimScrollDiv" style="position: relative; overflow:hidden; width: auto; height: 400px;">
            <div class="scroller" style="height: 400px; overflow:scroll; width: auto;" data-always-visible="1" data-rail-visible="1" data-rail-color="blue" data-handle-color="red" data-initialized="1">
                @if (Model.MemberNotes != null)
                {
                    <strong>Member Warnings</strong><br>
                }
                else
                {
                    <strong>No Notes</strong><br>
                }
                @if (Model.MemberNotes != null)
                {
                    foreach (var n in @Model.MemberNotes)
                    {
                        <text>DATE :@n.NoteDate</text><br />
                    if(n.Warning == true)
                    { 
                        <text>STATUS :<b>WARNING</b></text><br />
                }
                else
                    {
                        <text>STATUS :<b>INFORMATION</b></text><br />
                   
                
                
                }          

                        <text>NOTE :@n.Note</text><br />





                        if (ViewContext.Controller.HasPermission("CashingChangeNoteWarning"))
                        {
                            <text>
                                @if (n.Warning == false)
                                {
                                    <label>Warning</label>
                                    @Ajax.ActionLink("Show as Warning", "ChangeNoteWarning", new { Id = @n.MemberNote_key, type = true },
                                           new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn btn-default btn-sm" })

                                }

                            </text><br />
                        }









                        <text>***************************************************</text><br />
                    }
                }
            </div>
        </div>
    </div>
</div>

  


@section scripts {
    <script type="text/javascript">
        //$(document).ready(function () {
        //    $(".active").removeClass("active open");
        //    $(".Cashing").addClass("active open");
        //});
   
    </script>
}