﻿@model List<PhoenixObjects.Member.AuthorisedMemberModel>
           
    @{
        ViewBag.Title = "Search Authorised Member";
        ViewBag.Action = "SearchMember";
        Layout = "~/Views/Shared/_AuthorisedMember.cshtml";
      
    }
    <h4 class="page-title">
        Authorised Member       
    </h4>

    @Html.ValidationMessage("error")

    @if (Model != null)
    {
        if (Model.Count > 0)
        {
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Member Result
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 300px;">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Select Member
                                    </th>   
                                    <th>
                                        Photo
                                    </th>                                  
                                    <th>
                                        Member Info
                                    </th>
                                                        
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var m in Model)
                                {
                                    <tr>
                                        <td>                                          
                                            @Ajax.ActionLink("Select", "ConfirmAuthorisedMember", new { Id = @m.Member_AuthorisedMember_key }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { @Class = "btn green btn-sm" })

                                        </td>   
                                        <td>
                                            @if (m.HasPhoto == true)
                                            {
                                                <img alt="" src="@Url.Action("GetPhoto", "Cashing", new {memberId = @m.MemberId })" height="160" width="300" />
                                            }
                                            else
                                            {
                                                <img id="CreateMember" src="~/Images/MemberNotFound.png" width:"250px" height:"150px" />
                                            }
                                        </td>         
                                        <td>
                                            @m.MemberId/@m.TradingName/@m.FName @m.LastName
                                        </td>
                                                             
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    }

    @section scripts {
        <script>
            $(document).ready(function () {
                $(".active").removeClass("active open");
                $(".Member").addClass("active open");
            });
                       

        </script>
    }
