﻿@{
 
    ViewBag.Title = "Confirmed";
    Layout = "~/Views/Shared/_ComErrorAjax.cshtml";
}

<h4>
    @ViewBag.Err
   
</h4>
        @section scripts {
            @*<script type="text/javascript">

                $("#dialog").dialog({
                    width: "500"
                });
            </script>*@
        }
