﻿@{
 
    ViewBag.Title = "Confirmed";
    Layout = "~/Views/Shared/_CommonConfirm.cshtml";
}

<h4>
    @ViewBag.Msg

</h4>
        @section scripts {
            <script type="text/javascript">

                $("#dialog").dialog({
                    width: "500"
                });
            </script>
        }
