﻿@{
    ViewBag.Title = "Error";
    Layout = null;
}
<style type="text/css">
    body{
        background-color:lightgrey;
    }
    h2{
        color:maroon;
        font-size:larger;
    }
     h3{
        color:black;
        font-size:smaller;
    }
    h4{
        color:maroon;
        font-size:medium;
    }
</style>
<h2>An Error Occured</h2>
<h4>@ViewBag.Error</h4>
<h4>@Html.ValidationMessage("Error")</h4>


<h3>
   There has been some technical issues while processing your request, Please try again and if the error still occur please contact our technical support team itsupport@livegroup.com.au with this screen shot.
</h3>