﻿@model PhoenixObjects.Cashing.WebCashingResult
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript">
     
</script>
    <h3 class="page-title">
        Cashing
        <small>docket cashing</small>
    </h3>
    <div>
        <label style="color:red" id="error"/>
    </div>
    <div style="color:red">
        @ViewBag.Error
    </div>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
            Scan docket(s)
        </div>

    </div>
    <div class="portlet-body form">
        <div id="SearchCriteriaPlaceHolder" class="portlet-body">
            @using (Html.BeginForm("Search", "Cashing", FormMethod.Get))
            {
                <div class="form-body">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Scan Top BarCode", new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="TopBC" name="TopBC" autofocus required />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Scan Bottom BarCode", new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                <input id="BottomBC" class="form-control" required name="BottomBC" onblur="getfocus()" type="text" />
                            </div>
                        </div>
                    </div>
                </div><br />
                <div class="form-actions left">
                    <button id="submit" type="submit" onfocus="onSubmitfocus()" onkeyup="onsub()" onclick="onsub()" class="btn blue-madison">Submit</button>
                    @Html.ActionLink("Daily Summary Report", "Reports", null, new { Class = "btn blue-madison" })
                    @Ajax.ActionLink("Search Member", "SearchMember", "Cashing", new { }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { @Class = "btn blue-madison" })
                </div>
            }
        </div>
    </div>
</div>

@if(Model != null)
{ 
<h5 style="color:red">@ViewBag.ListError</h5>
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
            Member Information -
            @if (Model.BatchStatus == "Cash Customer")
            {
                <span style="color:green; font-weight:700">CASH CUSTOMER - </span><span style="color: black; font-weight: 700"> (@Model.TradingName) Member Id: @Model.memberid</span>
            }
            else if (Model.BatchStatus == "Bank Customer")
            {
                <span style="color: red; font-weight: 700">BANK CUSTOMER - </span><span style="color: black; font-weight: 700"> (@Model.TradingName) Member Id: @Model.memberid</span>
            }
            <span style="color: red; font-weight: 700" id="Paid"></span>
        </div>

        <div style="float:right">
            @Ajax.ActionLink("New Cashing", "NewBatch", new { BtnType = "Confirm" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { placeholder = "Add New Batch", Class = "btn blue-madison" })
            @Ajax.ActionLink("Cancel Cashing", "Cancel", new { BtnType = "Confirm" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn blue-madison" })
            @Ajax.ActionLink("Enter Manual Vouchers", "ManualVoucher", new { Id = @Model.memberid}, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn blue-madison" })


            </div>
    </div>
    <div class="portlet-body form">
        <div class="form-body">
        </div>
        @if (Model.GrandTotal > 0)
        {
            <div>
                @Ajax.ActionLink("Pay Batch", "PayDone", new { BtnType = "Pay" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn blue-madison" })
                @Html.ActionLink("View Statement", "Print", null, new { target = "_blank", Class = "btn blue-madison" })
                @if (ViewContext.Controller.HasPermission("CashingViewMemberNotes"))
                {
                    @Ajax.ActionLink("Add Notes", "ViewMemberNotes", new { Id = @Model.memberid },
                                 new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn blue-madison" })
                }
            </div>
        }
        else if(Model.LodgementReferenceNo != string.Empty)
        {
            @Html.ActionLink("View Statement", "Print", null, new { target = "_blank", Class = "btn blue-madison" })

        }

        <br />
        <span style="font-weight:700;font-size:larger">End of Shift Count: @Model.Count</span> |
        <span style="font-weight:700;font-size:larger">Fare Total: $@Model.FaceValueTotal</span> |
        <span style="font-weight:700;font-size:larger">Extra Total: $@Model.ExtraTotal</span> |
        <span style="font-weight:700;font-size:larger">Batch Total: $@Model.BatchTotal</span> |
        <span style="font-weight:700;font-size:larger">Commission Total: $@Model.CommissionTotal</span> |
        <span style="background-color:lightgreen; font-weight:700;font-size:larger">Grand Total: $@Model.GrandTotal</span>
        <br /><br />
        <div class="row">
            <div class="col-md-8 ">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Dockets
                        </div>
                    </div>
                    <div class="portlet-body">
                        @if (Model.ResultList != null)
                        {
                            <div class="panel-group accordion scrollable" id="accordion2">
                                <div class="panel panel-default">
                                    @foreach (var m in Model.ResultList)
                                    {

                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#@m.BatchID">
                                                    @if (@m.BatchStatus == "Paid")
                                                {
                                                <span style="font-weight: 700">TId:@m.TerminalId | Fare:$@m.FaceValue | Extras:$@m.Extras | Docket Total:$@m.BatchTotal| Comm:$@m.TOtalcommission  | Total:$@m.TotalPayable | @m.CardType<span style="color: darkred; font-weight: 700; "> Status:@m.BatchStatus</span></span>
                                                }
                                                else if (@m.BatchStatus == "Valid")
                                                {
                                                <span style="font-weight: 700"> TId:@m.TerminalId | Fare:$@m.FaceValue | Extras:$@m.Extras | Docket Total:$@m.BatchTotal| Comm:$@m.TOtalcommission  | Total:$@m.TotalPayable | @m.CardType<span style="color: darkgreen; font-weight: 700"> Status:@m.BatchStatus</span></span>
                                                }
                                                else
                                                {
                                                <span style="font-weight: 700">TId:@m.TerminalId | Fare:$@m.FaceValue | Extras:$@m.Extras | Docket Total:$@m.BatchTotal| Comm:$@m.TOtalcommission  | Total:$@m.TotalPayable | @m.CardType<span style="color:darkred; font-weight:700"> Status:@m.BatchStatus</span></span>
                                                }
                                                </a>
                                            </h4>
                                        </div>

                                        <div id="@m.BatchID" class="panel-collapse collapse" style="height: 0px;">
                                            <div class="panel-body">
                                                <div class="table-scrollable">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    Docket Date
                                                                </th>
                                                                <th>
                                                                    Fare
                                                                </th>
                                                                <th>
                                                                    Extras
                                                                </th>
                                                                <th>
                                                                    Batch Total
                                                                </th>
                                                                <th>
                                                                    Commission
                                                                </th>

                                                                <th>
                                                                    Total Payable
                                                                </th>
                                                                <th>
                                                                    Payment Status
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var mc in m.ResultListChild)
                                                        {
                                                        <tr>
                                                            <td>
                                                                @mc.docketdate
                                                            </td>
                                                            <td>
                                                                $@mc.FaceValue
                                                            </td>
                                                            <td>
                                                                $@mc.Extras
                                                            </td>
                                                            <td>
                                                                $@mc.DocketTotal
                                                            </td>
                                                            <td>
                                                                $@mc.TOtalcommission
                                                            </td>

                                                            <td>
                                                                $@mc.TotalPayable
                                                            </td>

                                                            <td>
                                                                @mc.PaymentStatus
                                                            </td>
                                                        </tr>
                                                        }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 ">
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>Member Details
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        @*@Html.Label("Member PhotoID", new { @class = "control-label col-md-3" })*@
                                        <div class="form-group">
                                            <div class="col-md-9">
                                                @if (Model.PhotoID != null)
                                                {
                                                    <img alt="" src="@Url.Action("GetPhoto", "Cashing", new {memberId = @Model.memberid })" height="160" width="300" />
                                                }
                                                else
                                                {
                                                    <img id="CreateMember" src="~/Images/MemberNotFound.png" width:"250px" height:"150px" />
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-3" })
                                        <div class="col-md-8">
                                            @Html.DisplayFor(model => model.Phone, new { @class = "form-control" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Mobile, new { @class = "control-label col-md-3" })
                                        <div class="col-md-8">
                                            @Html.DisplayFor(model => model.Mobile, new { @class = "form-control" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.Label("Total Points", new { @class = "control-label col-md-3" })
                                        <div class="col-md-8">
                                            @Html.DisplayFor(model => model.TotalPoints, new { @class = "form-control" })

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.Label("Total Points Used", new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.DisplayFor(model => model.TotalPointsUsed, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="row">
            <div class="col-md-8 ">
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="portlet box red">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Notes
        </div>
    </div>
    <div class="portlet-body">

        <div data-spy="scroll" data-target=".navbar" data-offset="50">

            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">WebSiteName</a>
                    </div>
                    <div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav">
                                <li><a href="#section1">Section 1</a></li>
                                <li><a href="#section2">Section 2</a></li>


                            </ul>
                        </div>
                    </div>
                </div>
            </nav>

            <div id="section1" class="container-fluid">
                <h1>Section 1</h1>
                <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
                <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
            </div>
            <div id="section2" class="container-fluid">
                <h1>Section 2</h1>
                <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
                <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
            </div>
        </div>






                    @*<div class="slimScrollDiv" style="position: relative; overflow: scroll; width: auto; height: 200px;">
                            <div class="scroller" style="height: 200px; overflow: scroll; width: auto;" data-always-visible="1" data-rail-visible="1" data-rail-color="red" data-handle-color="green" data-initialized="1">
                                @if (Model.MemberNotes != null)
                                {
                                    <strong>Member Warnings</strong><br>
                                }
                                else
                                {
                                    <strong>No Notes</strong><br>
                                }

                                @if (Model.MemberNotes != null)
                                {
                                    foreach (var n in @Model.MemberNotes)
                                    {
                                        <text>DATE :@n.NoteDate</text><br />
                                        <text>STATUS :WARNING</text><br />
                                        <text>NOTE :@n.Note</text><br />
                                        <text>*************************************************************</text><br />
                                    }
                                }
                            </div><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 170.940170940171px; background: green;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: red;"></div>
                        </div>*@
                </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
}

@section scripts {
<script type="text/javascript">

    $(document).ready(function () {
        $(".active").removeClass("active open");
        $(".Cashing").addClass("active open");
    });

    function getfocus() {
        $("#error").text("");
        var tb = $("#TopBC").val().length;
        var tbt = $("#TopBC").val()
        var bb = $("#BottomBC").val().length;
        var bbt = $("#BottomBC").val();
        if (tb < 8) {
            $("#TopBC").focus();
            $("#error").text("Minimum 11-12 characters");
        }
        else if (bb < 6) {
            $("#BottomBC").focus();
            $("#error").text("Minimum 11-12 characters");
        }
        else if (bbt == tbt) {
            $("#error").text("rescan");
            $("#TopBC").focus();
            $("#TopBC").select();
        }
        else {
            var ButtonKeys1 = { "EnterKey": 9 };
            $(function () {
                $("#BottomBC").keypress(function (e) {
                    if (e.which == ButtonKeys1.EnterKey) {
                        document.getElementById('submit').focus()
                        return false;
                    }
                });
            });
        }
    }
    function onSubmitfocus() {
        document.getElementById('submit').click()
    }
    function onsub() {
        document.getElementById('TopBC').focus()
        document.getElementById('TopBC').select()
    }
    $(function () {
        $("#accordion").accordion({
            collapsible: true,
            heightStyle: "content",
            active: false
        });
    });
    function myFunction() {
        var txt;
        var r = confirm("Are you sure you want to Pay this batch!");
        if (r == true) {
            $.ajax({
                url: '@Url.Action("PayDone", "Cashing")',
                data: { BtnType: "Pay" },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var dataMsg = data;
                    if (dataMsg == "Batch Paid, Please Print Statement")
                    {
                        $.getJSON("/Cashing/PayNow", null, function (data) {
                            $.each(data, function (i, item) {
                              
                            });
                        });
                    }
                }
            });
        } else {
            txt = "You pressed Cancel!";
        }
    }
    function myFunctionBatch() {
        var txt;
        var r = confirm("Enter New Batch!");
        if (r == true) {
            $.ajax({
                url: '@Url.Action("NewBatch", "Cashing")',
                type: "GET",
                dataType: "json",
              
            });
        } else {
            txt = "You pressed Cancel!";
        }

    }
</script>

}





