﻿@model PhoenixObjects.Cashing.WebCashingResult
@using PhoenixObjects.Enums;
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
     
</script>   
    <div>
        <label style="color:red" id="error"/>
    </div>
    <div style="color:red">
    @ViewBag.Error
    @Html.ValidationMessage("Error")
    @if (Model != null)
    {      
            @Model.ErrorMsg;          
    }
</div>

<div class="row">
    <div class="col-md-8">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-adjust"></i>
                    CASHING -  Scan docket(s)
                </div>
                <div class="actions">
                    @Html.ActionLink("Daily Summary Report", "Reports", null, new { Class = "btn green btn-sm" })
                    @if (ViewContext.Controller.HasPermission("CashingSearchMember"))
                    {
                        @Ajax.ActionLink("Search Member", "SearchMember", "Cashing", new { }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { @Class = "btn yellow btn-sm" })
                    }
                </div>
            </div>
            <div class="portlet-body form">
                <div id="SearchCriteriaPlaceHolder" class="portlet-body">
                    @using (Html.BeginForm("Search", "Cashing", FormMethod.Get
                        //, new { id = "barcodes"}
                        ))
                    {
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.Label("Top Barcode", new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" id="TopBC" name="TopBC" autofocus required />
                                        </div>
                                        @Html.Label("Bottom Barcode", new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            <input id="BottomBC" class="form-control" required name="BottomBC" onblur="getfocus()" type="text" />
                                        </div>
                                        <button id="submitDoc" type="submit" onfocus="onSubmitfocus()" onkeyup="onsub()" onclick="onsub()" class="btn blue-madison btn-sm">Submit</button>
                                    </div>
                                </div>
                            </div>
                            @*<div id="myLoadingElement" style="display: none;">
                                <img src="loading.gif" alt="Loading..." />
                            </div>*@
                        </div>
                        
                    }

                    @if (Model != null)
                    {
                        @*<h5 style="color:red">@ViewBag.ListError</h5>*@
                        <div class="portlet light bordered">

                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-adjust"></i>
                                    @if (Model.BatchStatus == "Cash Customer")
                                    {
                                        <span style="color:green; font-weight:700;font-size:medium">CASH CUSTOMER</span><span style="color: blue; font-weight: 700; font-size:medium"> - @Model.TradingName /Member Id: @Model.memberid</span>
                                    }
                                    else if (Model.BatchStatus == "Bank Customer")
                                    {
                                        <span style="color: red; font-weight: 700;font-size:medium">BANK CUSTOMER</span><span style="color: blue; font-weight: 700 ;font-size:medium"> @Model.TradingName /Member Id: @Model.memberid</span>
                                    }
                                    else if (Model.BatchStatus == "Card Customer")
                                    {
                                        <span style="color: blue; font-weight: 700;font-size:medium">CARD CUSTOMER</span><span style="color: blue; font-weight: 700 ;font-size:medium"> @Model.TradingName /Member Id: @Model.memberid</span>
                                    }
                                    <span style="color: red; font-weight: 700" id="Paid"></span>
                                </div>
                                <div style="float:right">
                                    @if (ViewContext.Controller.HasPermission("CashingManualVoucher") || ViewContext.Controller.HasPermission("CashingRedeemVouchers") || ViewContext.Controller.HasPermission("CashingUseVouchers"))
                                    {
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true" aria-expanded="false">
                                                Tools
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                @if (ViewContext.Controller.HasPermission("CashingManualVoucher"))
                                                {
                                                    <li>
                                                        @Ajax.ActionLink("Manual Vouchers", "ManualVoucherCheckBusinessType", new { Id = @Model.memberid }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn blue-madison btn-sm" })

                                                    </li>
                                                }

                                                @if (ViewContext.Controller.HasPermission("Cashing/NoReceipt"))
                                                {
                                                    <li>
                                                        @Ajax.ActionLink("No Receipts", "NoReceipt", new { Id = @Model.memberid }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn blue-madison btn-sm" })

                                                    </li>
                                                }

                                                @if (ViewContext.Controller.HasPermission("CashingRedeemVouchers"))
                                                {
                                                    <li>
                                                        @Ajax.ActionLink("Redeem Vouchers", "RedeemVouchers", new { Id = @Model.memberid }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn blue-madison btn-sm" })

                                                    </li>
                                                }
                                                @if (ViewContext.Controller.HasPermission("CashingUseVouchers"))
                                                {
                                                    <li>
                                                        @Ajax.ActionLink("Scan Vouchers", "UseVouchers", new { Id = @Model.memberid }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn blue-madison btn-sm" })

                                                    </li>
                                                }

                                            </ul>
                                        </div>
                                    }
                                    @Ajax.ActionLink("New Cashing", "NewBatch", new { BtnType = "Confirm" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { placeholder = "Add New Batch", Class = "btn blue-madison btn-sm" })
                                    @Ajax.ActionLink("Cancel Cashing", "Cancel", new { BtnType = "Confirm" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn blue-madison btn-sm" })


                                </div>

                            </div>
                            <div class="portlet-body form">
                                @if (Model.GrandTotal != 0)
                                {
                                    <div>
                                        @Ajax.ActionLink("Pay Batch", "PayDone", new { BtnType = "Pay" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn red btn-sm" })

                                    </div>
                                }
                                <span style="font-weight:500;font-size:small">End of Shift Count: @Model.Count</span> |
                                @*<span style="font-weight:700;font-size:small">FaceValue Total: $@Model.FaceValueTotal</span>*@ |
                                <span style="font-weight:700;font-size:small">FaceValue Total: $@Model.FaceValueTotal</span> |
                                <span style="background-color:pink;font-weight:700;font-size:small; color:black">Batch Total: $@Model.BatchTotal</span> |
                                @if (ViewContext.Controller.IsDisplayUIControl(SystemConfigurationKeyEnum.DisplayGlideboxUI.ToString(), BusinessDomainEnum.Glidebox))
                                {
                                    <span style="font-weight:700;font-size:small;background-color:orange">Glidebox Commission Total: $@Model.TotalGlideboxCommission |</span> 
                                }

                                <span style="background-color:lightgreen; font-weight:700;font-size:small">Grand Total: $@Model.GrandTotal</span>  <br />
                                <span style="font-weight:600;font-size:small">Extra Total: $@Model.ExtraTotal</span> |
                                <span style="font-weight:600;font-size:small">TipPro Total: $@Model.TipProTotal</span> |
                                <span style="font-weight:600;font-size:small">TipFee Total: $@Model.TippingFeeTotal</span> |
                                <span style="font-weight:600;font-size:small">Handling Charges: $@Model.HandlingFeeSummary</span> |
                                <span style="font-weight:600;font-size:small">Levy Charges: $@Model.LevyChargeSummary</span> |
                                <span style="font-weight:600;font-size:small">Commission Total: $@Model.CommissionTotal</span>

                                <br /><br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="portlet box blue">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-gift"></i>Dockets
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                @if (Model.ResultList != null)
                                                {
                                                    <div class="panel-group accordion scrollable" id="accordion2">
                                                        <div class="panel panel-default" style="position: relative; overflow:scroll; width: auto; height: auto;">
                                                            @foreach (var m in Model.ResultList)
                                                            {

                                                                <div class="panel-heading">
                                                                    <h4 class="panel-title">
                                                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#@m.BatchID">
                                                                            @if ((@m.BatchStatus).ToLower() == "paid")
                                                                            {
                                                                            <span style="font-weight: 600;font-size:small">
                                                                                BatchNo: @m.BatchNumber | Batch Total: $@m.BatchTotal | TId:@m.TerminalId | Fare:$@m.FaceValue | Extras:$@m.Extras | TipPro:$@m.TipPro | Tip Fee:$@m.TippingFee | Comm:$@m.TOtalcommission | H.Chrg:$@m.TotalBatchHandlingFee | Levy:$@m.TotalLevyCharge | Glidebox Comm: $@m.TotalGlideboxCommission | Total:$@m.TotalPayable | @m.CardType<span style="color: darkred; font-weight: 600; "> Status: @m.BatchStatus</span>
                                                                                @if (@m.LodgementReferenceNo != null)
                                                                                {
                                                                                    @Html.ActionLink("Print statement", "PrintPaidOne", new { LogNo = @m.LodgementReferenceNo }, new { target = "_blank", Class = "btn btn-sm blue" })
                                                                                }
                                                                            </span>
                                                                            }
                                                                            else if ((@m.BatchStatus).ToLower() == "valid")
                                                                            {
                                                                            <span style="font-weight: 600 ;font-size:small"><span style="color:darkblue; font-weight:700"> BatchNo: @m.BatchNumber </span> | <span style="color:darkblue; font-weight:700"> Batch Total: $@m.BatchTotal  </span>| TId:@m.TerminalId | Fare:$@m.FaceValue | Extras:$@m.Extras |TipPro:$@m.TipPro | Tip Fee:$@m.TippingFee | Comm:$@m.TOtalcommission | H.Chrg:$@m.TotalBatchHandlingFee |Levy:$@m.TotalLevyCharge | @if (ViewContext.Controller.IsDisplayUIControl(SystemConfigurationKeyEnum.DisplayGlideboxUI.ToString(), BusinessDomainEnum.Glidebox)) { <span>Glidebox Comm: $@m.TotalGlideboxCommission |</span> }  Total:$@m.TotalPayable | @m.CardType<span style="color: darkgreen; font-weight: 700"> Status: @m.BatchStatus</span></span>
                                                                                @Html.ActionLink("Remove", "RemoveBatch", new { BatchID = @m.BatchID }, new { Class = "btn btn-sm red" })

                                                                            }
                                                                            else
                                                                            {
                                                                            <span style="font-weight: 600;font-size:small"><span style="color:darkblue; font-weight:700"> BatchNo:@m.BatchNumber </span> | <span style="color:darkblue; font-weight:700">Batch Total:$@m.BatchTotal </span> | TId:@m.TerminalId | Fare:$@m.FaceValue | Extras:$@m.Extras |TipPro:$@m.TipPro | Tip Fee:$@m.TippingFee | Comm:$@m.TOtalcommission | H.Chrg:$@m.TotalBatchHandlingFee |Levy:$@m.TotalLevyCharge | @if (ViewContext.Controller.IsDisplayUIControl(SystemConfigurationKeyEnum.DisplayGlideboxUI.ToString(), BusinessDomainEnum.Glidebox)) { <span>Glidebox Comm: $@m.TotalGlideboxCommission |</span> } Total:$@m.TotalPayable | @m.CardType<span style="color:darkred; font-weight:700"> Status: @m.BatchStatus</span></span>
                                                                            }
                                                                        </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="@m.BatchID" class="panel-collapse collapse" style="height: 0px;">
                                                                    <div class="panel-body">
                                                                        <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: auto;">
                                                                            <table class="table table-hover">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>
                                                                                            Docket Date
                                                                                        </th>
                                                                                        <th>
                                                                                            Fare
                                                                                        </th>
                                                                                        <th>
                                                                                            Extras
                                                                                        </th>
                                                                                        <th>
                                                                                            TipPro
                                                                                        </th>
                                                                                        <th>
                                                                                            Tipping Fee
                                                                                        </th>
                                                                                        <th>
                                                                                            Total
                                                                                        </th>
                                                                                        <th>
                                                                                            Commission
                                                                                        </th>
                                                                                        <th>
                                                                                            Handling Fee
                                                                                        </th>
                                                                                        <th>
                                                                                            Levy Charge
                                                                                        </th>
                                                                                        @if (ViewContext.Controller.IsDisplayUIControl(SystemConfigurationKeyEnum.DisplayGlideboxUI.ToString(), BusinessDomainEnum.Glidebox))
                                                                                        {
                                                                                            <th>
                                                                                                Glidebox Comm
                                                                                            </th>
                                                                                        }

                                                                                        <th>
                                                                                            Total Payable
                                                                                        </th>
                                                                                        <th>
                                                                                            Payment Status
                                                                                        </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    @foreach (var mc in m.ResultListChild)
                                                                                    {
                                                                                        <tr>
                                                                                            <td>
                                                                                                @mc.docketdate
                                                                                            </td>
                                                                                            <td>
                                                                                                $@mc.FaceValue
                                                                                            </td>
                                                                                            <td>
                                                                                                $@mc.Extras
                                                                                            </td>
                                                                                            <td>
                                                                                                $@mc.TipPro
                                                                                            </td>
                                                                                            <td>
                                                                                                $@mc.TippingFee
                                                                                            </td>
                                                                                            <td>
                                                                                                $@mc.DocketTotal
                                                                                            </td>
                                                                                            <td>
                                                                                                $@mc.TOtalcommission
                                                                                            </td>
                                                                                            <td>
                                                                                                $@mc.handlingFee
                                                                                            </td>
                                                                                            <td>
                                                                                                $@mc.LevyCharge
                                                                                            </td>
                                                                                            @if (ViewContext.Controller.IsDisplayUIControl(SystemConfigurationKeyEnum.DisplayGlideboxUI.ToString(), BusinessDomainEnum.Glidebox))
                                                                                            {
                                                                                                <td>
                                                                                                    $@mc.GlideboxCommission
                                                                                                </td>
                                                                                            }

                                                                                            <td>
                                                                                                $@mc.TotalPayable
                                                                                            </td>

                                                                                            <td>
                                                                                                @mc.PaymentStatus
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                </tbody>
                                                                            </table>
                                                                            @if (ViewContext.Controller.IsDisplayUIControl(SystemConfigurationKeyEnum.DisplayGlideboxUI.ToString(), BusinessDomainEnum.Glidebox))
                                                                            {
                                                                                if (m.ResultGlideboxCommissionListChild.Count > 0)
                                                                                {
                                                                                    <h4>Glide box</h4>
                                                                                    <table class="table table-hover">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th>
                                                                                                    Category ID
                                                                                                </th>
                                                                                                <th>
                                                                                                    Category Code
                                                                                                </th>
                                                                                                <th>
                                                                                                    Quantity
                                                                                                </th>
                                                                                                <th>
                                                                                                    Commission
                                                                                                </th>
                                                                                            </tr>
                                                                                        </thead>


                                                                                        @foreach (var item in m.ResultGlideboxCommissionListChild.OrderBy(x => x.CategoryID))
                                                                                        {
                                                                                            <tr>
                                                                                                <td>
                                                                                                    @item.CategoryID
                                                                                                </td>
                                                                                                <td>
                                                                                                    @item.ShortName
                                                                                                </td>
                                                                                                <td>
                                                                                                    @item.Quantity
                                                                                                </td>
                                                                                                <td>
                                                                                                    $@item.TotalCommissionAmount
                                                                                                </td>
                                                                                            </tr>
                                                                                        }
                                                                                    </table>
                                                                                }
                                                                            }

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }

                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div>
                        </div>
                    }
                </div>
            </div>
        </div>


    </div>

    @if (Model != null)
    {
        <div class="col-md-4">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Member Details
                    </div>

                    <div class="actions">

                        @if (ViewContext.Controller.HasPermission("CashingAuthorisedMembers"))
                        {
                            @Ajax.ActionLink("Authorised Members", "AuthorisedMembers", new { Id = @Model.Member_key }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn green btn-sm" })

                        }

                        @if (ViewContext.Controller.HasPermission("CashingMemberDetails"))
                        {
                            @Html.ActionLink("Details", "MemberDetails", new { memberId = @Model.memberid }, new { target = "_blank", Class = "btn btn-default btn-sm" })
                        }
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                @*<div class="form-group">*@
                                <div class="col-md-9">
                                    @if (Model.PhotoID != null)
                                    {
                                        <img alt="" src="@Url.Action("GetPhoto", "Cashing", new {memberId = @Model.memberid })" height="160" width="300" />
                                    }
                                    else
                                    {
                                        <img id="CreateMember" src="~/Images/MemberNotFound.png" width:"250px" height:"150px" />
                                    }
                                </div>
                                @*</div>*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.Label("T/N:", new { @class = "control-label col-md-2", @style = "font-weight:600" })
                                <div class="col-md-9">
                                    @Html.DisplayFor(model => model.TradingName, new { @class = "form-control" }) / @Html.DisplayFor(model => model.Name, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<hr />*@
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.Label("Id:", new { @class = "control-label col-md-2", @style = "font-weight:600" })
                                <div class="col-md-3">
                                    @Html.DisplayFor(model => model.memberid, new { @class = "form-control" })
                                </div>
                                @Html.Label("ABN:", new { @class = "control-label col-md-2", @style = "font-weight:600" })
                                <div class="col-md-3">
                                    @Html.DisplayFor(model => model.ABN, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (ViewContext.Controller.HasPermission("MemberEditMember"))
                    {
                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.Label("Mobile:", new { @class = "control-label col-md-2", @style = "font-weight:600" })
                                    <div class="col-md-3">
                                        @Html.DisplayFor(model => model.Mobile, new { @class = "form-control" })

                                    </div>
                                    @Html.Label("Phone:", new { @class = "control-label col-md-2", @style = "font-weight:600" })
                                    <div class="col-md-3">
                                        @Html.DisplayFor(model => model.Phone, new { @class = "form-control" })

                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.Label("Last Amt Cashing:", new { @class = "control-label col-md-5", @style = "font-weight:600" })
                                <div class="col-md-7">
                                    @*@Html.DisplayFor(model => model.LastCashedAmt, new { @class = "form-control" })*@
                                    <label id="LastCashedAmt"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.Label("Last Date Cashing:", new { @class = "control-label col-md-5", @style = "font-weight:600" })
                                <div class="col-md-7">
                                    @*@Html.DisplayFor(model => model.LastCashedDateTime, new { @class = "form-control" })*@
                                    <label id="LastCashedDateTime"></label>
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.Label("Auth#:", new { @class = "control-label col-md-5", @style = "font-weight:600" })
                                <div class="col-md-7">
                                    @Html.DisplayFor(model => model.DriverCertificateId, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#tab_2_1" data-toggle="tab" aria-expanded="true"> Points </a>
                        </li>
                        @if (ViewContext.Controller.HasPermission("MemberEditMember"))
                        {
                            <li class="">
                                <a href="#tab_2_2" data-toggle="tab" aria-expanded="false"> Terminal(s) </a>
                            </li>
                            <li class="">
                                <a href="#tab_2_3" data-toggle="tab" aria-expanded="false"> Comm. Rates </a>
                            </li>
                        }
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="tab_2_1">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        @Html.Label("Total Points", new { @class = "control-label col-md-8", @style = "font-weight:600" })
                                        <div class="col-md-4">                                      
                                            @*<input type="text" id="TotalPoints" class="form-control" />*@
                                            <label id="TotalPoints" ></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        @Html.Label("Points Used", new { @class = "control-label col-md-8", @style = "font-weight:600" })
                                        <div class="col-md-4">
                                            @*@Html.DisplayFor(model => model.TotalPointsUsed, new { @class = "form-control" })*@
                                            <label id="TotalPointsUsed"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        @Html.Label("Points Available", new { @class = "control-label col-md-8", @style = "font-weight:600" })
                                        <div class="col-md-4">
                                            @Html.DisplayFor(model => model.TotalPointsAvailable, new { @class = "form-control" })
                                            <label id="TotalPointsAvailable"></label>
                                       
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (ViewContext.Controller.HasPermission("MemberEditMember"))
                        {
                            <div class="tab-pane fade" id="tab_2_2">
                                @*@foreach (var n in Model.TerminalAllocationList)
                                {
                                    <span style="font-weight:700">
                                        @n.EftTerminalId -
                                    </span> <span>@n.VehicleModel.VehicleId - @n.VehicleModel.RegisteredState </span> <span> | </span>

                                }*@
                                <div id="Terminals">

                                </div>

                            </div>

                            <div class="tab-pane fade" id="tab_2_3">

                                <span>
                                    <label>Debit: </label><label style="font-weight:700" id="Debit"></label>
                                </span>
                                <br />

                                <span>
                                    <label>Visa: </label> <label style="font-weight:700" id="Visa"></label>
                                </span>
                                <br />
                                <span>
                                    <label>Master: </label> <label style="font-weight:700" id="Master"></label>
                                </span><br />
                                <span>
                                    <label>Diners: </label>  <label style="font-weight:700" id="Diners"></label>
                                </span><br />
                                <span>
                                    <label>Amex: </label>   <label style="font-weight:700" id="Amex"></label>
                                </span>
                                <br />
                                <span>
                                    <label>UnionPay: </label>   <label style="font-weight:700" id="UnionPay"></label>
                                </span>

                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="portlet box red">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Notes
                    </div>
                    <div class="actions">

                        @if (ViewContext.Controller.HasPermission("CashingCreateMemberNotes"))
                        {
                            @Ajax.ActionLink("Add Notes", "ViewMemberNotes", new { Id = @Model.memberid },
                                           new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn btn-default btn-sm" })
                        }
                        @if (ViewContext.Controller.HasPermission("CashingViewMemberNotes"))
                        {
                            @Ajax.ActionLink("View All Notes", "AllMemberNotes", new { Id = @Model.memberid },
                                           new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn btn-default btn-sm" })
                        }
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="slimScrollDiv" style="position: relative; overflow:hidden; width: auto; height: 300px;">
                        <div class="scroller" style="height: 300px; overflow:scroll; width: auto;" data-always-visible="1" data-rail-visible="1" data-rail-color="blue" data-handle-color="red" data-initialized="1">
                          <div id="Notes">
                          </div>                          
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-md-4">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Member Details
                    </div>
                </div>
                <div class="portlet-body">
                    no records found
                </div>
            </div>
        </div>
    }

</div>

            <div class="hidden">
                <div id="abcd1" class="">
                    Do you want to create sameday cashing? <br /><br />
                    @Ajax.ActionLink("Yes", "SameDay", null, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn blue" })
                    <input type="button" class="btn blue" onclick="CloseMe()" value="No" />
                </div>
            </div>
            <div class="hidden">
                <div id="abcd2" class="">
                    Do you want to include charge back? <br /><br />
                    @Html.ActionLink("Yes", "ChargeBack",null, new { Class = "btn blue" })
                    @*<input type="button" class="btn blue" onclick="CloseMe1()" value="No" />*@
                    @Html.ActionLink("No", "AcknowledgeChargeBack", "Cashing", new { @class = "btn blue" })
                </div>
            </div>
            <div class="hidden">
                <div id="abcd3" class="">
                    Do you want to switch to an authorised member? <br /><br />
                    @Ajax.ActionLink("View Authorised Members", "AuthorisedMembers", null, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn blue" })
                    @*<input type="button" class="btn blue" onclick="CloseMe2()" value="No" />*@
                    @Html.ActionLink("No", "AcknowledgeAuthoriseConfirm", "Cashing", new { @class = "btn blue" })
                </div>
            </div>


<div class="hidden">
    <div id="abcd7" class="">
       No authorised member found! <br /><br />
        @Html.ActionLink("Ok", "AcknowledgeAuthoriseConfirm", "Cashing", new { @class = "btn blue" })
    </div>
</div>


            <div class="hidden">
    <div id="abcd4" class="">
        Do you want to include Insurance charge back? <br /><br />
        @Html.ActionLink("Yes", "InsuranceChargeBack", null, new { Class = "btn blue" })
        @*<input type="button" class="btn blue" onclick="CloseMe3()" value="No" />*@
        @Html.ActionLink("No", "AcknowledgeInsuranceChargeBack", "Cashing", new { @class = "btn blue" })
    </div>
</div>
            <div class="hidden">
    <div id="abcd5" class="">
        <div class="portlet box red">

            <div class="portlet-body">
                <div class="slimScrollDiv" style="position: relative; overflow:hidden; width: auto; height: auto;">
                    <div class="scroller" style="height: 300px; overflow:scroll; width: auto;" data-always-visible="1" data-rail-visible="1" data-rail-color="blue" data-handle-color="red" data-initialized="1">
                        <div id="Notespopup">
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
        @*<input type="button" class="btn blue" onclick="CloseMe4()" value="Acknowledged" />*@
        @Html.ActionLink("Acknowledged", "AcknowledgeMemberNotesConfirm", "Cashing", new { @class = "btn blue" })
    </div>
</div>
            @section scripts {
                <script type="text/javascript">

    $(document).ready(function () {
        $(".active").removeClass("active open");
        $(".Cashing").addClass("active open");
    });

    function CloseMe() {
        $("#abcd1").dialog("close");

    }


//Comment this out because we didn't want to show all popups at once
    //function CloseMe1() {
    //    $("#abcd2").dialog("close");
                    //}
    @*function CloseMe1() {
        $.ajax({
            url: '@Url.Action("AcknowledgeChargeBack", "Cashing")',
            type: "GET",
            success: function (data) {
                var dataMsg = data;
                if (dataMsg != "error") {
                    $("#abcd2").dialog("close");
                }
            },
        });
    }*@
    @*function CloseMe2() {
        $.ajax({
            url: '@Url.Action("AcknowledgeAuthoriseConfirm", "Cashing")',
            type: "GET",
            success: function (data) {
                var dataMsg = data;
                if (dataMsg != "error") {
                    $("#abcd3").dialog("close");
                }
            },
        });

    }*@
    //function CloseMe3() {
    //    $("#abcd4").dialog("close");
    //}

    @*function CloseMe3() {
        $.ajax({
            url: '@Url.Action("AcknowledgeInsuranceChargeBack", "Cashing")',
            type: "GET",
            success: function (data) {
                var dataMsg = data;
                if (dataMsg != "error") {
                    $("#abcd4").dialog("close");
                }
            },
        });
    }*@

    @*function CloseMe4() {
        $.ajax({
            url: '@Url.Action("AcknowledgeMemberNotesConfirm", "Cashing")',
            type: "GET",
            success: function (data) {
                var dataMsg = data;
                if (dataMsg != "error") {
                    $("#abcd5").dialog("close");

                }
            },
        });

    }*@
      $(document).ready(function () {
                        if ($("#abcd3").html() != "") {

                            $.ajax({
                                url: '@Url.Action("AuthorisedMembersConfirm", "Cashing")',
                                type: "GET",
                                submit:function(){
                                    $("#myLoadingElement").show();
                                },
                                //beforeSend:function(){
                                //    $("#myLoadingElement").show();

                                //},
                                //complete:function(){
                                //    $("#myLoadingElement").hide();
                                //},
                                success: function (data) {
                                    var dataMsg = data;
                                    if (dataMsg == "success") 
                                    {
                                        $("#abcd3").dialog();
                                        $("#abcd3").dialog({
                                            title: "Authorised Members",
                                            position: "center",
                                            width: "300",
                                            zIndex:"1"
                                        });
                                    }
                                    else if (dataMsg == "noauthorise")
                                    {
                                        //$("#abcd7").dialog();
                                        //$("#abcd7").dialog({
                                        //    title: "No Authorised Members",
                                        //    position: "center",
                                        //    width: "300"                                         
                                        //});
                                        

                                        //if no authorised member found, open Member Notes form
                                        if ($("#abcd5").html() != "") {
                                            LG_ShowProgressMask();
                                            $.ajax({
                                                url: '@Url.Action("MemberNotesConfirm", "Cashing")',
                                                type: "GET",
                                                success: function (data) {
                                                    LG_HideProgressMask();
                                                    var dataMsg = data.Result;
                                                    if (dataMsg != "error") {
                                                        $.each(data.Data, function (i, item) {
                                                            $("#Notespopup").append(
                                                                    ' <text>STATUS :<b>WARNING</b></text><br />',
                                                                     ' <text>NOTE :' + item.Note+'</text><br />',
                                                                     '<a class = "btn btn-default btn-sm" href="../Cashing/ChangeNoteWarningPopUp/' + item.MemberNote_key + '?Type=False">Do not show this message next time</a><br />',
                                        
                                                                        ' <text>********************************************</text><br />'
                                                                );
                                                        });
                                                        
                                                        $("#abcd5").dialog({
                                                            title: "Member Notes",
                                                            position: "center",
                                                            width: "600",
                                                            modal: true,
                                                            dialogClass: "no-close",
                                                            closeOnEscape: false
                                                        });
                                                    }
                                                    else
                                                    {
                                                        if ($("#abcd1").html() != "") 
                                                        {
                                                            $.ajax(
                                                                {
                                                                url: '@Url.Action("SamedayConfirm", "Cashing")',
                                                                type: "GET",
                                                                success: function (data) 
                                                                {
                                                                    var dataMsg = data;
                                                                    if (dataMsg != "error") 
                                                                    {
                                                                        // $("#abcd1").html(data);
                                                                        $("#abcd1").dialog();
                                                                        $("#abcd1").dialog(
                                                                            {
                                                                            title: "Sameday Cashing",
                                                                            position: "center",
                                                                            width: "300"
                                                                        });
                                                                    }
                                                                },
                                                                error: function (x, y, z) {
                                                                    //alert('error SamedayConfirm');
                                                                }
                                                            });
                                                        }
                                                    }
                                                },
                                                error: function (x, y, z) {
                                                    LG_HideProgressMask();
                                                    //alert('error MemberNotesConfirm');
                                                }
                                            });
                                        }
                                    }
                                },
                                error: function (x, y, z) {
                                    //alert('error AuthorisedMembersConfirm');
                                }
                            });
                        }
       });
    $(document).ready(function () {
        if ($("#abcd1").html() != "") {
            $.ajax({
                url: '@Url.Action("SamedayConfirm", "Cashing")',
                type: "GET",
                success: function (data) {
                    var dataMsg = data;
                    if (dataMsg != "error") {
                        // $("#abcd1").html(data);
                        $("#abcd1").dialog();
                        $("#abcd1").dialog({
                            title: "Sameday Cashing",
                            position: "center",
                            width: "300"
                        });
                    }
                },
                error: function (x, y, z) {
                    //alert('error SamedayConfirm');
                }
            });
        }
    });

    $(document).ready(function () {
        if ($("#abcd2").html() != "") {
            $.ajax({
                url: '@Url.Action("ChargeBackConfirm", "Cashing")',
                type: "GET",
                success: function (data) {
                    var dataMsg = data;
                    if (dataMsg != "error") {
                        $("#abcd2").dialog();
                        $("#abcd2").dialog({
                            title: "Charge back",
                            position: "center",
                            width: "300"
                        });
                    }
                },
                error: function (x, y, z) {
                    //alert('error ChargeBackConfirm');
                }
            });
        }
    });

    $(document).ready(function () {
        if ($("#abcd4").html() != "") {
            $.ajax({
                url: '@Url.Action("InsuranceConfirm", "Cashing")',
                type: "GET",
                success: function (data) {
                    var dataMsg = data;
                    if (dataMsg != "error") {
                        $("#abcd4").dialog();
                        $("#abcd4").dialog({
                            title: "Member Insurance",
                            position: "center",
                            width: "300"
                        });
                    }
                },
                error: function (x, y, z) {
                    //alert('error InsuranceConfirm');
                }
            });
        }
    });
   
    $(document).ready(function () {
        if ($("#abcd5").html() != ""){//} && $("#Notespopup").html().trim() == '') {
            LG_ShowProgressMask();
            $.ajax({
                url: '@Url.Action("MemberNotesConfirm", "Cashing")',
                type: "GET",
                success: function (data) {
                    LG_HideProgressMask();
                    var dataMsg = data.Result;
                    if (dataMsg != "error") {
                        $.each(data.Data, function (i, item) {
                            $("#Notespopup").append(
                                    ' <text>STATUS :<b>WARNING</b></text><br />',
                                     ' <text>NOTE :' + item.Note+'</text><br />',
                                     '<a class = "btn btn-default btn-sm" href="../Cashing/ChangeNoteWarningPopUp/' + item.MemberNote_key + '?Type=False">Do not show this message next time</a><br />',
        
                                        ' <text>********************************************</text><br />'
                                );
                        });
                        
                        $("#abcd5").dialog({
                            title: "Member Notes",
                            position: "center",
                            width: "600",
                            modal: true,
                            dialogClass: "no-close",
                            closeOnEscape: false
                        });
                    }
                },
                error: function (x, y, z) {
                    LG_HideProgressMask();
                    //alert('error MemberNotesConfirm');
                }
            });
        }
    });

    $(document).ready(function () {

        $.ajax({
            url: '@Url.Action("GetRewardPoints", "Cashing")',
            data: { Id:  @Model.Member_key },
            type: "GET",
            success: function (data) {

                //alert(data.Total);
                $("#TotalPoints").text(data.Total);
                $("#TotalPointsAvailable").text(data.TotalAvail);
                $("#TotalPointsUsed").text(data.TotalUsed);

            },
            error: function (x, y, z) {

            }
        });
    });


    $(document).ready(function () {

        $.ajax({
            url: '@Url.Action("GetCommissionRate", "Cashing")',
            data: { Id:  @Model.Member_key },
            type: "GET",
            success: function (data) {

                $("#Amex").text(data.Amex);
                $("#Visa").text(data.Visa);
                $("#Master").text(data.Master);
                $("#Debit").text(data.Debit);
                $("#Diners").text(data.Diners);
                $("#UnionPay").text(data.UnionPay);
            },
            error: function (x, y, z) {

            }
        });
    });

    $(document).ready(function () {

        $.ajax({
            url: '@Url.Action("GetTerminals", "Cashing")',
            data: { Id:  @Model.Member_key },
            type: "GET",
            success: function (data) {
                $.each(data, function (i, item) {
                    $("#Terminals").append(
                            '<label>'
                + item +
                '</label>'
                        );
                });

            },
            error: function (x, y, z) {

            }
        });

    });


    $(document).ready(function () {

        $.ajax({
            url: '@Url.Action("GetLastCashing", "Cashing")',
            data: { Id:  @Model.Member_key },
            type: "GET",
            success: function (data) {
                $("#LastCashedAmt").text(data.LastCashedAmt);
                $("#LastCashedDateTime").text(data.LastCashedDateTime);

            },
            error: function (x, y, z) {

            }
        });

    });

    $(document).ready(function () {

        $.ajax({
            url: '@Url.Action("GetNotes", "Cashing")',
            data: { Id:  @Model.Member_key },
            type: "GET",
            success: function (data) {
                $.each(data, function (i, item) {
                    $("#Notes").append(
                            ' <text>STATUS :<b>WARNING</b></text><br />',
                             ' <text>NOTE :' + item.Note+'</text><br />',
                             //'<a class = "btn btn-default btn-sm" href="/Cashing/ChangeNoteWarning/' + item.MemberNote_key + '?Type=False">Do not show</a><br />',

                                ' <text>********************************************</text><br />'
                        );
                });
            },
            error: function (x, y, z) {

            }
        });
    });


    @*$(document).ready(function () {
        if(@Model != null)
        {
            $.ajax({
                url: '@Url.Action("GetRewardPoints", "Cashing")',
                data: { Id:  @Model.Member_key },
                type: "GET",
                success: function (data) {
                    var dataMsg = data;
                    alert(dataMsg);
                },
                error: function (x, y, z) {
                    alert('error');
                }
            });
        }
        });*@

    //drt.Total = re.TotalTrans;
    //drt.TotalAvail = re.TotalPoints.Value;
    //drt.TotalUsed = re.TotalPointsUsed;


    @*$(window).unload(function() {
       $.ajax({
           type: 'POST',
           url: '@Url.Action("NewBatchDirect", "Cashing")',
           dataType: 'json',
       });
   });*@
    function getfocus() {
        $("#error").text("");
        var tb = $("#TopBC").val().length;
        var tbt = $("#TopBC").val()
        var bb = $("#BottomBC").val().length;
        var bbt = $("#BottomBC").val();
        if (tb < 8) {
            $("#TopBC").focus();
            $("#error").text("Minimum 11-12 characters");
        }
        else if (bb < 6) {
            $("#BottomBC").focus();
            $("#error").text("Minimum 11-12 characters");
        }
        else if (tbt.substring(0, 1) == "0" || tbt.substring(0, 1) == "1" || tbt.substring(0, 1) == "2" || tbt.substring(0, 1) == "3") {
            $("#error").text("rescan");
            $("#TopBC").focus();
            $("#TopBC").select();
        }
        else if (bbt == tbt) {
            $("#error").text("rescan");
            $("#TopBC").focus();
            $("#TopBC").select();
        }
        else {
            var ButtonKeys1 = { "EnterKey": 9 };
            $(function () {
                $("#BottomBC").keypress(function (e) {
                    if (e.which == ButtonKeys1.EnterKey) {
                        document.getElementById('submitDoc').focus()
                        return false;
                    }
                });
            });
        }
    }
    function onSubmitfocus() {
        $('#submitDoc').trigger('click');
        $('#submitDoc').prop('disabled',true);
    }
    function onsub() {
        document.getElementById('TopBC').focus()
        document.getElementById('TopBC').select()
    }

    //$('#submitDoc').click(function (e) {
    //    e.preventDefault();
    //});
    $(function () {
        $("#accordion").accordion({
            collapsible: true,
            heightStyle: "content",
            active: false
        });
    });


    function myFunction() {
        var txt;
        var r = confirm("Are you sure you want to Pay this batch!");
        if (r == true) {
            $.ajax({
                url: '@Url.Action("PayDone", "Cashing")',
                data: { BtnType: "Pay" },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var dataMsg = data;
                    if (dataMsg == "Batch Paid, Please Print Statement") {
                        $.getJSON("/Cashing/PayNow", null, function (data) {
                            $.each(data, function (i, item) {

                            });
                        });
                    }
                }
            });
        } else {
            txt = "You pressed Cancel!";
        }
    }
    function myFunctionBatch() {
        var txt;
        var r = confirm("Enter New Batch!");
        if (r == true) {
            $.ajax({
                url: '@Url.Action("NewBatch", "Cashing")',
                type: "GET",
                dataType: "json",

            });
        } else {
            txt = "You pressed Cancel!";
        }

    }

                    $(document).ready(function () {
  
                        // Hide the "busy" Gif at load:
                        $("#myLoadingElement").hide();
  
                        // Attach click handler to the submit button:
                        $('#process').click(function () {
                            $('#barcodes').submit();
                        });
  
                        // Handle the form submit event, and make the Ajax request:
                        $("#barcodes").on("submit", function (event) {
                            event.preventDefault();
  
                            // Show the "busy" Gif:
                            $("#myLoadingElement").show();
                            var url = $(this).attr("action");
                            var formData = $(this).serialize();
                            $.ajax({
                                url: url,
                                type: "POST",
                                data: formData,
                                dataType: "json",
                                success: function (resp) {
  
                                    // Hide the "busy" gif:
                                    $("#myLoadingElement").hide();
  
                                    // Do something useful with the data:
                                    //$("<h3>" + resp.FirstName + " " + resp.LastName + "</h3>").appendTo("#divResult");
                                }
                            })
                        });
                    });
                </script>
            }
<style>
 .no-close .ui-dialog-titlebar-close {
   display: none;
 }
 </style>