﻿@model PhoenixObjects.Cashing.WebCashingResult
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
     
</script>   
    <div>
        <label style="color:red" id="error"/>
    </div>
    <div style="color:red">
    @ViewBag.Error
    @Html.ValidationMessage("Error")
    @if (Model != null)
    {      
            @Model.ErrorMsg;          
    }
</div>
<div class="row">
    <div class="col-md-8">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-adjust"></i>
                    CASHING -  Scan docket(s)
                </div>
                <div class="actions">
                    @Html.ActionLink("Daily Summary Report", "Reports", null, new { Class = "btn green btn-sm" })
                    @Html.ActionLink("Manual Voucher Report", "ManualVoucherReports", null, new { Class = "btn green btn-sm" })
                    @if (ViewContext.Controller.HasPermission("CashingSearchMember"))
                    {
                        @Ajax.ActionLink("Search Member", "SearchMember", "Cashing", new { }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { @Class = "btn yellow btn-sm" })
                    }
                </div>
            </div>
            <div class="portlet-body form">
                <div id="SearchCriteriaPlaceHolder" class="portlet-body">
                    @using (Html.BeginForm("Search", "Cashing", FormMethod.Get))
                    {
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.Label("Top Barcode", new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" id="TopBC" name="TopBC" autofocus required />
                                        </div>
                                        @Html.Label("Bottom Barcode", new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            <input id="BottomBC" class="form-control" required name="BottomBC" onblur="getfocus()" type="text" />
                                        </div>
                                        <button id="submitDoc" type="submit" onfocus="onSubmitfocus()" onkeyup="onsub()" onclick="onsub()" class="btn blue-madison btn-sm">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }                
                </div>
            </div>
        </div>


    </div>

  
        <div class="col-md-4">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Member Details
                    </div>
                </div>
                <div class="portlet-body">
                    no records found
                </div>
            </div>

        </div>

</div>



            @section scripts {
                <script type="text/javascript">

                    $(document).ready(function () {
                        $(".active").removeClass("active open");
                        $(".Cashing").addClass("active open");
                    });

                    function getfocus() {
                        $("#error").text("");
                        var tb = $("#TopBC").val().length;
                        var tbt = $("#TopBC").val()
                        var bb = $("#BottomBC").val().length;
                        var bbt = $("#BottomBC").val();
                        if (tb < 8) {
                            $("#TopBC").focus();
                            $("#error").text("Minimum 11-12 characters");
                        }
                        else if (bb < 6) {
                            $("#BottomBC").focus();
                            $("#error").text("Minimum 11-12 characters");
                        }
                        else if (tbt.substring(0, 1) == "0" || tbt.substring(0, 1) == "1" || tbt.substring(0, 1) == "2" || tbt.substring(0, 1) == "3") {
                            $("#error").text("rescan");
                            $("#TopBC").focus();
                            $("#TopBC").select();
                        }
                        else if (bbt == tbt) {
                            $("#error").text("rescan");
                            $("#TopBC").focus();
                            $("#TopBC").select();
                        }
                        else {
                            var ButtonKeys1 = { "EnterKey": 9 };
                            $(function () {
                                $("#BottomBC").keypress(function (e) {
                                    if (e.which == ButtonKeys1.EnterKey) {
                                        document.getElementById('submitDoc').focus()
                                        return false;
                                    }
                                });
                            });
                        }
                    }
                    function onSubmitfocus() {
                        $('#submitDoc').trigger('click');
                        $('#submitDoc').prop('disabled', true);
                    }
                    function onsub() {
                        document.getElementById('TopBC').focus()
                        document.getElementById('TopBC').select()
                    }
                </script>
            }





