﻿@{
    ViewBag.Title = "Index";
}

<h3 class="page-title">
    Mass Scanning
    <small>docket mass scanning</small>
</h3>
<div>
    <label style="color:red" id="error"/>
</div>
<div style="color:red">
    @ViewBag.Error
</div>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
            Scan docket(s)
        </div>

    </div>

    <div class="portlet-body form">
        <div id="SearchCriteriaPlaceHolder" class="portlet-body">
            @using (Ajax.BeginForm("Search", "Cashing", new { ScanType = "MassScan" }, new AjaxOptions { UpdateTargetId = "DocketCheckPlaceHolder", OnBegin = "$('#DocketCheckPlaceHolder').html('Loading...');" }, new { @class = "form-horizontal", @id = "TerminalAllocationHeader" }))
        {
                <div class="form-body">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Scan Top BarCode", new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="TopBC" name="TopBC" autofocus required />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Scan Bottom BarCode", new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                <input id="BottomBC" class="form-control" required name="BottomBC" onblur="getfocus()" type="text" /><br />
                                <button id="submit" type="submit" onfocus="onSubmitfocus()" onkeyup="onsub()" onclick="onsub()" class="btn blue-madison">Submit</button><br />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div>
    <div id="DocketCheckPlaceHolder" class="portlet-body">
        <br />
        @Html.Action("Search", "Cashing", new { ScanType = "MassScan" })
    </div>
</div>


@section scripts {
    <script type="text/javascript">
     
                $(document).ready(function () {
                    $(".active").removeClass("active open");
                    $(".Cashing").addClass("active open");
                });
    



       $(window).unload(function() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("NewBatch", "Cashing")',
            dataType: 'json',
            });
       });
       
        function getfocus() {
            $("#error").text("");
            var tb = $("#TopBC").val().length;
            var tbt = $("#TopBC").val()
            var bb = $("#BottomBC").val().length;
            var bbt = $("#BottomBC").val();
            if (tb < 8) {
                $("#TopBC").focus();
                $("#error").text("Minimum 11-12 characters");
            }
            else if (bb < 6) {
                $("#TopBC").focus();
                $("#error").text("Minimum 11-12 characters");
            }
            else if (bbt == tbt) {
                $("#error").text("rescan");
                $("#TopBC").focus();
                $("#TopBC").select();
              
            }
            else {
                var ButtonKeys1 = { "EnterKey": 9 };
                $(function () {
                    $("#BottomBC").keypress(function (e) {
                        if (e.which == ButtonKeys1.EnterKey) {
                            document.getElementById('submit').focus()
                            return false;
                        }
                    });
                });
            }
        }
        function onSubmitfocus() {
            document.getElementById('submit').click()
        }
        function onsub() {
            document.getElementById('TopBC').focus()
            document.getElementById('TopBC').select()
        }

    </script>
}






