﻿@model PhoenixObjects.Cashing.WebCashingResult

@{
    ViewBag.Title = "SubList";
    Layout = null;
}
<h5 style="color:red">@ViewBag.Error</h5>
@if (Model.WebCashing_MassScanModelList.Count == 0)
{
    return;
}
<h5 style="color:red">@ViewBag.ListError</h5>
<div class="portlet light bordered">
      
    <div class="portlet-body form">
        Member Information -
        @if (Model.BatchStatus != "Valid")
        {
            <span style="color: red; font-weight: 700">INVALID -</span><span style="color: black; font-weight: 700"> (@Model.WebCashing_MassScanModelList.FirstOrDefault().TradingName) @Model.WebCashing_MassScanModelList.FirstOrDefault().BatchNumber</span>
        }
        else if (Model.BatchStatus == "Valid")
        {
            <span style="color: green; font-weight: 700">VALID -</span><span style="color: black; font-weight: 700"> (@Model.WebCashing_MassScanModelList.FirstOrDefault().TradingName) @Model.WebCashing_MassScanModelList.FirstOrDefault().BatchNumber</span>
        }
        <div class="form-body">
        </div>

        @if(Model.GrandTotal > 0)
        {
            <div>
                @Ajax.ActionLink("Pay Batch", "PayDone", new { BtnType = "Pay", ScanType = "MassScan" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn blue-madison" })
                @Html.ActionLink("View Statement", "Print", new { ScanType = "MassScan" }, new { target = "_blank", Class = "btn blue-madison" })
            </div>
        }

        <div style="float:right">
            @Ajax.ActionLink("New", "NewBatch", new { BtnType = "Confirm", ScanType = "MassScan" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn blue-madison" })
            @Ajax.ActionLink("Cancel Batch", "Cancel", new { BtnType = "Confirm", ScanType = "MassScan" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn blue-madison" })

        </div>
        <br /><br />
        <span style="font-weight:700;font-size:larger">End of Shift Count: @Model.Count</span> |
        <span style="font-weight:700;font-size:larger">FaceValue Total: $@Model.FaceValueTotal</span> |
        <span style="font-weight:700;font-size:larger">Extra Total: $@Model.ExtraTotal</span> |
        <span style="font-weight:700;font-size:larger">Batch Total: $@Model.BatchTotal</span> |
        <span style="font-weight:700;font-size:larger">Commission Total: $@Model.CommissionTotal</span> |
        <span style="background-color:lightgreen; font-weight:700;font-size:larger">Grand Total: $@Model.GrandTotal</span>
        <br /><br />
        <span style="background-color:#ffb7b7; font-weight:400;font-size:small">Grand Total Paid: $@Model.GrandPaidTotal</span> |
        <span style="font-weight:400;font-size:small">Total Paid Plus Grand Total: $@Model.GrandfaceValue_N_PaidTotal</span> 
        <br /><br />
    @if (Model.WebCashing_MassScanModelList != null)
    {
            <table class="table table-hover">
                    <tbody>
                       @foreach (var m in Model.WebCashing_MassScanModelList)
                        {
                            <tr>
                                <td>
                                    @if (@m.BatchStatus == "Paid")
                                    {
                                        <span style="font-weight: 700">TId: @m.TerminalId | BatchId: @m.BatchID | Paid Amount: $@m.GrandTotalPaidAmount | Paid By: @m.PaidBy | Paid Date: @m.PaidDate | Type: @m.PaymentType | T/A:@m.TradingName |</span><span style="color: darkred; font-weight: 700"> Status:@m.BatchStatus</span>
                                    }
                                    else if (@m.BatchStatus == "Valid")
                                    {
                                        <span style="font-weight: 700">Terminal Id: @m.TerminalId | BatchId: @m.BatchID | Fare: $@m.TotalBatchFaceValue| Extras:$@m.TotalBatchExtras | Batch Total:$@m.BatchTotal | Comm:$@m.TotalBatchCommission  | Total:$@m.BatchTotal | T/A:@m.TradingName |</span><span style="color: darkgreen; font-weight: 700"> Status:@m.BatchStatus</span>
                                    }
                                    else
                                    {
                                        <span style="font-weight: 700">Terminal Id: @m.TerminalId | BatchId: @m.BatchID | Fare: $@m.TotalBatchFaceValue| Extras:$@m.TotalBatchExtras | Batch Total:$@m.BatchTotal | Comm:$@m.TotalBatchCommission  | Total:$@m.BatchTotal | T/A:@m.TradingName |</span> <span style="color:darkred; font-weight:700"> Status:@m.BatchStatus</span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
    }
        <br />
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".Cashing").addClass("active open");
        });
     
    </script>
}
