﻿@*@model PhoenixObjects.Cashing.WebCashingResult

@{
    ViewBag.Title = "SubList";
    Layout = null;
}
<h5 style="color:red">@ViewBag.Error</h5>
@if (Model.ResultList.Count == 0)
{
    return;
}
<h5 style="color:red">@ViewBag.ListError</h5>
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
            Member Information -
            @if (Model.BatchStatus == "Cash Customer")
            {
                <span style="color:green; font-weight:700">CASH CUSTOMER - </span><span style="color: black; font-weight: 700"> (@Model.TradingName) Member Id: @Model.memberid</span>
            }
            else if (Model.BatchStatus == "Bank Customer")
            {
                <span style="color: red; font-weight: 700">BANK CUSTOMER - </span><span style="color: black; font-weight: 700"> (@Model.TradingName) Member Id: @Model.memberid</span>
            }
            <span style="color: red; font-weight: 700" id="Paid"></span>
        </div>
     
        <div style="float:right">
            @Ajax.ActionLink("New Cashing", "NewBatch", new { BtnType = "Confirm" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { placeholder ="Add New Batch", Class = "btn blue-madison"})
            @Ajax.ActionLink("Cancel Cashing", "Cancel", new { BtnType = "Confirm" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn blue-madison" })
        </div>
    </div>
    <div class="portlet-body form">
        <div class="form-body">
        </div>
        @if (Model.GrandTotal > 0)
        {
            <div>
                @Ajax.ActionLink("Pay Batch", "PayDone", new { BtnType = "Pay" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn blue-madison" })
                @Html.ActionLink("View Statement", "Print", null, new { target = "_blank", Class = "btn blue-madison" })
                @if (!User.IsInRole("ExternalCashing") || User.IsInRole("Administrator"))
                {
                    @Ajax.ActionLink("Add Notes", "ViewMemberNotes", new { Id = @Model.memberid },
                                 new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "btn blue-madison" })
                }
             </div>
        }
        else if(Model.LodgementReferenceNo != string.Empty)
        {
          @Html.ActionLink("View Statement", "Print", null, new { target = "_blank", Class = "btn blue-madison" })

        }
         
        <br />
        <span style="font-weight:700;font-size:larger">End of Shift Count: @Model.Count</span> |
        <span style="font-weight:700;font-size:larger">Fare Total: $@Model.FaceValueTotal</span> |
        <span style="font-weight:700;font-size:larger">Extra Total: $@Model.ExtraTotal</span> |
        <span style="font-weight:700;font-size:larger">Batch Total: $@Model.BatchTotal</span> |
        <span style="font-weight:700;font-size:larger">Commission Total: $@Model.CommissionTotal</span> |
        <span style="background-color:lightgreen; font-weight:700;font-size:larger">Grand Total: $@Model.GrandTotal</span>
        <br /><br />
        <div class="row">
            <div class="col-md-8 ">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Dockets
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="panel-group accordion scrollable" id="accordion2">
                            <div class="panel panel-default">
                                @foreach (var m in Model.ResultList)
                                {

                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#@m.BatchID">
                                            @if (@m.BatchStatus == "Paid")
                                                {
                                            <span style="font-weight: 700">TId:@m.TerminalId | Fare:$@m.FaceValue | Extras:$@m.Extras | Docket Total:$@m.BatchTotal| Comm:$@m.TOtalcommission  | Total:$@m.TotalPayable |</span>  <span style="color: darkred; font-weight: 700; "> Status:@m.BatchStatus</span>
                                                }
                                                else if (@m.BatchStatus == "Valid")
                                                {
                                            <span style="font-weight: 700"> TId:@m.TerminalId | Fare:$@m.FaceValue | Extras:$@m.Extras | Docket Total:$@m.BatchTotal| Comm:$@m.TOtalcommission  | Total:$@m.TotalPayable |</span><span style="color: darkgreen; font-weight: 700"> Status:@m.BatchStatus </span>
                                                }
                                                else
                                                {
                                            <span style="font-weight: 700">TId:@m.TerminalId | Fare:$@m.FaceValue | Extras:$@m.Extras | Docket Total:$@m.BatchTotal| Comm:$@m.TOtalcommission  | Total:$@m.TotalPayable |</span> <span style="color:darkred; font-weight:700"> Status:@m.BatchStatus</span>
                                                }
                                        </a>
                                    </h4>
                                </div>

                                <div id="@m.BatchID" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <div class="table-scrollable">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Docket Date
                                                        </th>
                                                        <th>
                                                            Fare
                                                        </th>
                                                        <th>
                                                            Extras
                                                        </th>
                                                        <th>
                                                            Batch Total
                                                        </th>
                                                        <th>
                                                            Commission
                                                        </th>

                                                        <th>
                                                            Total Payable
                                                        </th>
                                                        <th>
                                                            Payment Status
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var mc in m.ResultListChild)
                                                        {
                                                    <tr>
                                                        <td>
                                                            @mc.docketdate
                                                        </td>
                                                        <td>
                                                            $@mc.FaceValue
                                                        </td>
                                                        <td>
                                                            $@mc.Extras
                                                        </td>
                                                        <td>
                                                            $@mc.BatchTotal
                                                        </td>
                                                        <td>
                                                            $@mc.TOtalcommission
                                                        </td>

                                                        <td>
                                                            $@mc.TotalPayable
                                                        </td>

                                                        <td>
                                                            @mc.PaymentStatus
                                                        </td>
                                                    </tr>
                                                        }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 ">
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>Member Details
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                   
                                        <div class="form-group">
                                            <div class="col-md-9">
                                                @if (Model.PhotoID != null)
                                                {
                                                <img alt="" src="@Url.Action("GetPhoto", "Cashing", new {memberId = @Model.memberid })" height="160" width="300" />
                                                }
                                                else
                                                {
                                                <img id="CreateMember" src="~/Images/MemberNotFound.png" width:"250px" height:"150px" />
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-3" })
                                        <div class="col-md-8">
                                            @Html.DisplayFor(model => model.Phone, new { @class = "form-control" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Mobile, new { @class = "control-label col-md-3" })
                                        <div class="col-md-8">
                                            @Html.DisplayFor(model => model.Mobile, new { @class = "form-control" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.Label("Total Points", new { @class = "control-label col-md-3" })
                                        <div class="col-md-8">
                                            @Html.DisplayFor(model => model.TotalPoints, new { @class = "form-control" })

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.Label("Total Points Used", new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.DisplayFor(model => model.TotalPointsUsed, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 ">
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="portlet box red">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-gift"></i>Notes
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;">
                                    <div class="scroller" style="height: 200px; overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible="1" data-rail-color="red" data-handle-color="green" data-initialized="1">
                                        @if (Model.MemberNotes != null)
                                        {
                                    <strong>Member Warnings</strong><br>
                                        }
                                        else
                                        {
                                    <strong>No Notes</strong><br>
                                        }

                                        @if (Model.MemberNotes != null)
                                        {
                                            foreach (var n in @Model.MemberNotes)
                                            {
                                    <text>DATE :@n.NoteDate</text><br />
                                    <text>STATUS :WARNING</text><br />
                                    <text>NOTE :@n.Note</text><br />
                                    <text>*************************************************************</text><br />
                                            }
                                        }
                                    </div><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 170.940170940171px; background: green;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: red;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".active").removeClass("active open");
        $(".Cashing").addClass("active open");
    });

    $(function () {
        $("#accordion").accordion({
            collapsible: true,
            heightStyle: "content",
            active: false
        });
    });
    function myFunction() {
        var txt;
        var r = confirm("Are you sure you want to Pay this batch!");
        if (r == true) {
            $.ajax({
                url: '@Url.Action("PayDone", "Cashing")',
                data: { BtnType: "Pay" },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var dataMsg = data;
                    if (dataMsg == "Batch Paid, Please Print Statement")
                    {
                        $.getJSON("/Cashing/PayNow", null, function (data) {
                            $.each(data, function (i, item) {
                              
                            });
                        });
                    }
                  
                }
            });
        } else {
            txt = "You pressed Cancel!";
        }
      
    }
  

    function myFunctionBatch() {
        var txt;
        var r = confirm("Enter New Batch!");
        if (r == true) {
            $.ajax({
                url: '@Url.Action("NewBatch", "Cashing")',
                type: "GET",
                dataType: "json",
          
            });
        } else {
            txt = "You pressed Cancel!";
        }

    }
</script>*@

