﻿@model PhoenixObjects.Financial.CommissionRate_MemberRateModelList
@{
    ViewBag.Title = "Manual Vouchers";
    ViewBag.Action = "ManualVoucher";
    Layout = "~/Views/Shared/_ManualVoucherPopupLayout.cshtml";
    ViewBag.DialogSize = "940";
}
<h3 class="page-title">
    Manual Vouchers
    <small>KEY: H.Chr = Handling Charges | Rate = Commission Rate</small><br />
   
</h3>
<i style="color:red">@ViewBag.Error</i>
<i style="color:red">@Html.ValidationMessage("Error")</i>
<input type="hidden" id="LastCursor" value="@ViewBag.LastCursor" />
<div class="row">
    <div class="col-md-6">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Service fee @Model.ServiceFeeRate % - @Model.BusinessType
                    <input type="hidden" name="ServiceFeeRate" value=@Model.ServiceFeeRate>
                    <input type="hidden" name="BusinessType" value=@Model.BusinessType>
                </div>
            </div>
            <div class="portlet-body">
                @if (Model.MemberRateModelList.Count > 0)
                {
                     <div class="table-scrollable">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <label style="font-weight:700">Type</label>
                                </th>
                                <th>
                                    <label style="font-weight:700">Amt</label>
                                </th>
                                <th>
                                    <label style="font-weight:700">Rate</label>
                                </th>
                                <th>
                                    <label style="font-weight:700">H.Chrg</label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var r in Model.MemberRateModelList)
                            {                                                                
                                <tr>
                                    <td>
                                        @r.Name
                                    </td>
                                    <td>
                                        <input type="text" style="height:20px; width:70px" class="form-control" id=@r.DocketPayMethod_key name=@r.DocketPayMethod_key />
                               </td>
                                    <td>
                                        @r.ManualCommissionRate%
                                    </td>
                                    <td>
                                        @r.HandlingCharge
                                    </td>
                              </tr>
                            }
                        </tbody>
                    </table>
                </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box blue">
                <div class="portlet-body">
                    @if (Model.AddedMemberRateModelList.Count > 0)
                    {
                        <div class="table-scrollable">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <label style="font-weight:700">Card Type</label>
                                        </th>
                                        <th>
                                            <label style="font-weight:700">Amt</label>
                                        </th>
                                        <th>
                                            <label style="font-weight:700">H.Chrg</label>
                                        </th>
                                        <th>
                                            <label style="font-weight:700">Total</label>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var r in Model.AddedMemberRateModelList)
                                    {
                                   
                                        <tr>
                                            <td>
                                              @r.Id) @r.Name
                                            </td>
                                            <td>
                                              $@r.FaceValue
                                                </td>
                                            <td>
                                               $@r.HandlingCharge
                                            </td>
                                            <td>
                                               $@r.Total
                                            </td>
                                            <td>
                                                @Ajax.ActionLink("X", "RemoveManualVoucher", new {Id = @r.Id },
                                                           new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new {Class = "" })


                                            </td>
                                        </tr>                                        
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    @if (Model.AddedMemberRateTotalModelList.Count > 0)
                    {
                        <div class="table-scrollable">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <label style="font-weight:700">Type</label>
                                        </th>
                                        <th>
                                            <label style="font-weight:700">Qty</label>
                                        </th>
                                        <th>
                                            <label style="font-weight:700">Total</label>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var r in Model.AddedMemberRateTotalModelList)
                                    {
                                        <tr>
                                            <td>
                                                @r.CardName
                                            </td>
                                            <td>
                                                @r.Qty
                                            </td>
                                            <td>
                                               $@r.Total
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>





























































@*@if (Model != null)
{
     <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <label>Card Type</label>
                                </th>
                                <th>
                                    <label>Face Value</label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var r in Model)
                            {
                                 @Html.HiddenFor(x => r.DocketPayMethod_key)                                  
                                <tr>
                                    <td>
                                        @r.Name
                                    </td>
                                    <td>
                                        <input type="text" style="height:20px; width:70px" class="form-control" id="@r.DocketPayMethod_key" name="@r.DocketPayMethod_key" />
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
}*@
   

@section scripts {
    <script type="text/javascript">

    </script>
}

