﻿@model PhoenixObjects.Cashing.ManualCashing
@{
 
    ViewBag.Title = "Service fee";
    Layout = "~/Views/Shared/_ManualCashingBusinessConfirm.cshtml";
}
 
       @*<input type="text" style="background-color:inherit; border:none" readonly name="sRate" id="sRate" value="">*@
       <input type="hidden" name="MemberId" value=@Model.MemberId><br />
          @Html.HiddenFor(m => m.ServiceFeeRateId, new { id = "sRate" })
          @Html.HiddenFor(m => m.MemberId, new { id = "MemberId" })
      @foreach (var m in Model.ServiceFeeRadioList)
      {
        <input type="radio" name="Servicefee" id=@m.ServiceFeeRate class="bus">
            <label> @m.BusinessType - @m.ServiceFeeRate %</label>
           <br />
      }


       @section scripts {
       <script type="text/javascript">
         
            </script>
       }