﻿@model PhoenixObjects.Member.MemberModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/DetailPopup.cshtml";
    ViewBag.DialogSize = "1000";
}

<h3 class="page-title">
    Member Details
    <small>update member details</small>
</h3>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
            Member
        </div>
       
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="horizontal-form">
            <div class="form-body">
                <h3 class="form-section">Member Info</h3>
                <input id="Member_key" name="Member_key" hidden="hidden" type="text" value="@Model.Member_key" />
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("MemberId", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.MemberId)
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.MemberId)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Business Type", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.BusinesstypeName)
                                @Html.DisplayFor(model => model.CompanyKey)
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.CompanyKey)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsBankCustomer, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.CheckBoxFor(model => model.IsBankCustomer, new { id = "IsBankCustomer" })
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.IsBankCustomer)
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsCashCustomer, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.CheckBoxFor(model => model.IsCashCustomer, new { id = "IsCashCustomer" })
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.IsCashCustomer)
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <h3 class="form-section">Personal Info</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.FirstName)
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.LastName)
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.LastName)
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Telephone, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.Telephone)
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.Telephone)
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Fax, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.Fax)
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.Fax)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Mobile, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.Mobile)
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.Mobile)
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.Email)
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.Email)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DriverLicenseNumber, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.DriverLicenseNumber)              
                                     <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.DriverLicenseNumber)
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DOB, new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.DisplayFor(model => model.DOB)
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.DOB)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="form-section">Business Details</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TradingName, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.TradingName)
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.TradingName)
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Dealer", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.Dealer.Dealer_key)
                                <span class="help-block">
                                  
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ABN, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.ABN)
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.ABN)
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ACN, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.ACN)
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.ACN)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.MerchantID, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.MerchantID)
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.MerchantID)
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
                <h3 class="form-section">Current Terminal Rental</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Template", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <table id="TerminalRentalRateTb"></table>
                                @if (@Model.TerminalRentalRateList != null)
                                {
                                    <table id="TerminalRentalRateTbSF">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Id
                                                </th>
                                                <th>|</th>
                                                <th>Transaction Target</th>
                                                <th>|</th>
                                                <th>Rent Amount</th>
                                                <th>|</th>
                                                <th>Start Date</th>
                                                <th>|</th>
                                                <th>End Date</th>
                                            </tr>
                                        </thead>
                                        @foreach (var mm in @Model.MemberCurrentTerminalRentalList)
                                        {
                                            <tr>
                                                <td>@mm.MemberTerminalRentalKey</td>
                                                <td>|</td>
                                                <td>@mm.TransactionTarget</td>
                                                <td>|</td>
                                                <td>@mm.RentalAmount</td>
                                                <td>|</td>
                                                <td>@mm.StartDate</td>
                                                <td>|</td>
                                                <td>@mm.EndDate</td>
                                            </tr>}
                                    </table>

                                }
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="form-section">Primary Address</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Address", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.Address)
                                <span class="help-block">

                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("City", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.City)
                                <span class="help-block">

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("State", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.State)
                                <span class="help-block">

                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Post Code", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.Postcode)
                                <span class="help-block">

                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="CommissionRateBar">
                    <h3 class="form-section">Commission Rate/MSF</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Debit Rate Percentage (%)", new { @class = "control-label col-md-3" })
                                <div class="col-md-3">
                                    @Html.DisplayFor(model => model.CRDebitRatePercentage)
                                     <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.CRDebitRatePercentage)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Manual Voucher Rate", new { @class = "control-label col-md-3" })
                                <div class="col-md-3">
                                    @Html.DisplayFor(model => model.CRManualVoucherRate)
                                   
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.CRManualVoucherRate)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Dealer Rate", new { @class = "control-label col-md-3" })
                                <div class="col-md-3">
                                    @Html.DisplayFor(model => model.CRDealerRate)
                                  
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.CRDealerRate)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="MSFBar">
                    <h3 class="form-section">
                        Commission Rate/MSF
                        <small>(Please Enter Postive values as it will be saved as negative for LiveEftpos customers)</small>
                    </h3>
                    <div id="CRBeditRateId" class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Debit Rate ($)", new { @class = "control-label col-md-3" })
                                <div class="col-md-3">
                                    @Html.DisplayFor(model => model.CRDebitRate)
                               
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.CRDebitRate)
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Visa Card Rate (%)", new { @class = "control-label col-md-3" })
                                <div class="col-md-3">
                                    @Html.DisplayFor(model => model.CRVisaRate)
                                  
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.CRVisaRate)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Master Card Rate (%)", new { @class = "control-label col-md-3" })
                                <div class="col-md-3">
                                    @Html.DisplayFor(model => model.CRMasterCardRate)
                                  
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.CRMasterCardRate)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Amex Rate (%)", new { @class = "control-label col-md-3" })
                                <div class="col-md-3">
                                    @Html.DisplayFor(model => model.CRAmexRate)
                                   
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.CRAmexRate)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Diners Rate (%)", new { @class = "control-label col-md-3" })
                                <div class="col-md-3">
                                    @Html.DisplayFor(model => model.CRDinersRate)
                                  
                                    <span class="help-block">
                                        @Html.ValidationMessageFor(model => model.CRDinersRate)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br />
           
            </div>
          
          
        </form>
        <!-- END FORM-->
    </div>
</div>
