﻿@model PhoenixWeb.Models.ViewModel.MemberNoteVM

@{
    ViewBag.Title = "Member Notes";
    ViewBag.Action = "CreateMemberNotes";
    Layout = "~/Views/Shared/_MemberNotesPopuLayout.cshtml";
    ViewBag.DialogSize = "600";
}

<h3 class="page-title">
    Notes
    <small>add member notes</small>
</h3>
<h4 style="color:red">@ViewBag.Error</h4>
<div class="portlet-body form">
    <div class="form-body">
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("MemberId", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.MemberId, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Trading Name", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.TradingName, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>  
  
</div>
<div class="portlet-body form">

    <div class="form-body">
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Warning", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <input type="checkbox" id="IsWarning" name="IsWarning">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.Label("Note", new { @class = "control-label col-md-3" })
                <div class="col-md-10">
                    <textarea style="width:450px;height:100px" name="Note" maxlength="150" required id="Note"></textarea>
                </div>
            </div>
        </div>
    </div>

</div>


<br />
@section scripts {
    <script type="text/javascript">
        //$(document).ready(function () {
        //    $(".active").removeClass("active open");
        //    $(".Cashing").addClass("active open");
        //});
   
    </script>
}