﻿@{
    ViewBag.Title = "Menu";
}

<div style="align-content:center; margin-left:35%; margin-right:35%">
    @if (ViewContext.Controller.HasPermission("CashingScanDocket"))
    {
        <a href="@Url.Action("Index", "Cashing")"><img id="Cash" src="~/Images/Cash.png" width:"50px" height:"30px" style="position:relative; float: left" /></a>
    }
  
</div>
@*<table cellpadding:"5" align="center" width="70">
    <tr>
        <td>
            <a href="@Url.Action("Index", "Cashing")"><img id="Cash" src="~/Images/Cash.png" width:"50px" height:"30px" /></a>
        </td>
       
    </tr>
</table>*@
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".active").removeClass("active open");
            $(".Cashing").addClass("active open");
        });
     
    </script>
}