﻿@model List<PhoenixObjects.Cashing.WebCashing_GetPendingBatchesHeaderByMemberKey>
@using PhoenixObjects.Enums;
@{
    ViewBag.Title = "No Receipt";
    ViewBag.Action = "NoReceipt";
    Layout = "~/Views/Shared/_NoReceipt.cshtml";
    ViewBag.DialogSize = "940";
}
@if (Model != null)
{
   
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Pending Transaction
            </div>
        </div>
        <div class="portlet-body">
            @if (Model != null)
            {

                <div class="panel-group accordion" id="accordion1">
                    <div class="panel panel-default" style="position: relative; overflow:scroll; width: auto; height: 400px;">
                        @foreach (var m in Model)
                        {
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <div class="row">

                                        <div class="col-md-11">
                                            <a style="font-size:small; font-weight:600" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#@m.DocketBatchId" aria-expanded="false">
                                                TID:@m.TerminalID |  BatchNo:@m.BatchNumber | Total $@m.FaceValue | Com: $@m.Commission | Others: $@m.Others  | @if (ViewContext.Controller.IsDisplayUIControl(SystemConfigurationKeyEnum.DisplayGlideboxUI.ToString(), BusinessDomainEnum.Glidebox)) { <span> Glidebox Comm: $@m.TotalGlideboxCommision |</span>} TotalPayable: $@m.Total

                                            </a>
                                        </div>
                                        <div class="col-md-1">
                                            <span style="float:right"><input type="checkbox" style="width:60px" id=@m.count name=@m.count> </span>
                                            @*@Html.CheckBoxFor(model => @m.IsSelected, new { @class = "mt-checkbox mt-checkbox-outline" })*@
                                        </div>
                                    </div>      
                                </div>           
                                    
                                </div>
                            <div id="@m.DocketBatchId" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                               
                                <div class="panel-body">
                                    <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 250px;">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    @*<th>
                                                        DocketBatchId
                                                    </th>*@
                                                    <th>
                                                        DocketDate
                                                    </th>
                                                    <th>
                                                        Docket Total
                                                    </th>
                                                    <th>
                                                        Comm Rate
                                                    </th>
                                                    <th>
                                                        Others
                                                    </th>
                                                    <th>
                                                        Comm Amount
                                                    </th>
                                                    @if (ViewContext.Controller.IsDisplayUIControl(SystemConfigurationKeyEnum.DisplayGlideboxUI.ToString(), BusinessDomainEnum.Glidebox))
                                                    {
                                                        <th>
                                                            Glidebox Comm
                                                        </th>
                                                    }

                                                    <th>
                                                        TotalPayable
                                                    </th>
                                                  

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var mc in m.WebCashing_GetPendingBatchesDetailsByMemberKey)
                                                {
                                                    <tr>
                                                        @*<td>
                                                            @mc.DocketBatchId
                                                        </td>*@
                                                        <td>
                                                            @mc.DocketDate
                                                        </td>
                                                        <td>
                                                            $@mc.PayableFaceValue
                                                        </td>
                                                        <td>
                                                            @mc.CommissionRate %
                                                        </td>
                                                        <td>
                                                            $@mc.PayableOthers
                                                        </td>
                                                        <td>
                                                            $@mc.PayableCommission
                                                        </td>
                                                        @if (ViewContext.Controller.IsDisplayUIControl(SystemConfigurationKeyEnum.DisplayGlideboxUI.ToString(), BusinessDomainEnum.Glidebox))
                                                        {
                                                             <td>
                                                                $@mc.GlideboxCommission
                                                            </td>
                                                        }
                                                       
                                                        <td>
                                                            $@mc.TotalPayable
                                                        </td>
                                                        

                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        }
                    </div>

                      
                </div>
            }

        </div>
    </div>
}

<script type="text/javascript">
    
</script>


@*<div class="panel-group accordion scrollable" id="accordion2">
    <div class="panel panel-default" style="position: relative; overflow:scroll; width: auto; height: auto;">
        @foreach (var m in Model)
        {

            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#@m.DocketBatchId">

                        <span style="font-weight: 600 ;font-size:small">
                            <span style="color:darkblue; font-weight:700"> BatchId: @m.BatchNumber </span> | <span style="color:darkblue; font-weight:700"> Batch Total: $@m.FaceValue  </span>| TId:@m.TerminalID | Fare:$@m.FaceValue | Extras:$@m.Others | Comm:$@m.Commission | Total:$@m.Total
                            <input type="checkbox" style="width:60px" id=@m.DocketBatchId name=@m.DocketBatchId>
                        </span>
                    </a>
                </h4>
            </div>
            <div id="@m.DocketBatchId" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: auto;">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        DocketBatchId
                                    </th>
                                    <th>
                                        DocketDate
                                    </th>
                                    <th>
                                        PayableFaceValue
                                    </th>
                                    <th>
                                        CommissionRate
                                    </th>
                                    <th>
                                        PayableCommission
                                    </th>
                                    <th>
                                        PayableOthers
                                    </th>
                                    <th>
                                        TotalPayable
                                    </th>
                                    <th>
                                        Docket_key
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var mc in m.WebCashing_GetPendingBatchesDetailsByMemberKey)
                                {
                                    <tr>
                                        <td>
                                            @mc.DocketBatchId
                                        </td>
                                        <td>
                                            $@mc.DocketDate
                                        </td>
                                        <td>
                                            $@mc.PayableFaceValue
                                        </td>
                                        <td>
                                            $@mc.CommissionRate
                                        </td>
                                        <td>
                                            $@mc.PayableCommission
                                        </td>
                                        <td>
                                            $@mc.PayableOthers
                                        </td>
                                        <td>
                                            $@mc.TotalPayable
                                        </td>
                                        <td>
                                            $@mc.Docket_key
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }

    </div>
</div>*@























@*<div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 300px;">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    TerminalID
                </th>
                <th>
                    BatchNumber
                </th>
                <th>
                    BatchYear
                </th>
                <th>
                    Commission
                </th>
                <th>
                    Others
                </th>
                <th>
                    FaceValue
                </th>
                <th>
                    Add
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model)
            {
                @Html.HiddenFor(m => @s.MemberId)
                <tr>
                    <td>
                        @s.TerminalID
                    </td>
                    <td>
                        @s.BatchNumber
                    </td>
                    <td>
                        @s.BatchYear
                    </td>
                    <td>
                        @s.Commission
                    </td>
                    <td>
                        @s.Others
                    </td>
                    <td>
                        @s.FaceValue
                    </td>
                    <td>
                        <input type="checkbox" style="width:60px" id=@s.DocketBatchId name=@s.DocketBatchId>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>*@






















































































































@*@if (Model != null)
{
     <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <label>Card Type</label>
                                </th>
                                <th>
                                    <label>Face Value</label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var r in Model)
                            {
                                 @Html.HiddenFor(x => r.DocketPayMethod_key)                                  
                                <tr>
                                    <td>
                                        @r.Name
                                    </td>
                                    <td>
                                        <input type="text" style="height:20px; width:70px" class="form-control" id="@r.DocketPayMethod_key" name="@r.DocketPayMethod_key" />
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
}*@
   

@section scripts {
    <script type="text/javascript">

    </script>
}

