﻿@{
    ViewBag.Title = "Error Occurred";
    Layout = "~/Views/Shared/_PayError.cshtml";
}
<h4>@ViewBag.Error</h4>
<h4>
    @ViewBag.Msg
</h4>
        @section scripts {
            <script type="text/javascript">
                $("#dialog").dialog({
                    width: "600"
                });
            </script>
        }
