﻿
@{
    ViewBag.Title = "Print Statement";
    Layout = "~/Views/Shared/_ConfirmPay.cshtml";
}
<h4>@ViewBag.Error</h4>
<h4>
    @ViewBag.Msg

</h4>


@section scripts {
    <script type="text/javascript">

        $("#dialog").dialog({
            width: "700"


        });

    </script>
}
