﻿@{
 
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_PayWithdrawalMsg.cshtml";
    ViewBag.DialogSize = "400";
}
      
 <table>
    <tr>
        <td>
            <input type="hidden"  class="form-control" name="MemberId" id="MemberId" value="@ViewBag.MemberId" />
            <input type="hidden" class="form-control" name="Balance" id="Balance" value="@ViewBag.Balance" />
            <input type="hidden" class="form-control" name="Amount" id="Amount" value="@ViewBag.Amount" />
            <label>Confirm Withdrawal Amount:$@ViewBag.Amount</label>
        </td>
    </tr>
   
</table><br />

        @section scripts {
            <script type="text/javascript">

            </script>
        }
