﻿@{
 
    ViewBag.Title = "Confirm Cash Withdrwal";
    Layout = "~/Views/Shared/_WithdrawConfirm.cshtml";
    ViewBag.DialogSize = "500";
}
   <h4 style="color:red">@ViewBag.Error</h4>   
 <table>
    <tr>
        @*<td>
            @Html.Label("MemberId: ")
        </td>*@
        <td>
            <input type="hidden"  class="form-control" name="MemberId" id="MemberId" value="@ViewBag.MemberId" />
            <input type="hidden" class="form-control" name="Balance" id="Balance" value="@ViewBag.Balance" />
            
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Enter Amount: ")
        </td>
        <td>
            <input type="text" required class="form-control" name="Amount" id="Amount" />
        </td>

    </tr>
</table><br />

        @section scripts {
            <script type="text/javascript">

            </script>
        }
