﻿@model PhoenixObjects.Cashing.WebCashingResult

@{
    ViewBag.Title = "Print";
    Layout = null;
}
<script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.9.2.custom.js"></script>
    <script type="text/javascript">
        window.print();
        
    </script>

@if (Model.ResultList.Count > 0)
{
    <table>
        <tr>
            <td>
                <span style="font-weight:700">Trading Name:</span>
            </td>
            <td>
                @Model.TradingName
            </td>
        </tr>
        <tr>
            <td>
                <span style="font-weight:700">Member ID:</span>
            </td>
            <td>
                @Model.memberid
            </td>
        </tr>
        <tr>
            <td>
                <span style="font-weight:700">Grand Total:</span>
            </td>
            <td>
                $@Model.GrandTotal
            </td>
        </tr>
    </table>
    <table style="width:90%">
        <thead>
            <tr>
                <th align="left">
                    Docket Date
                </th>

                <th align="left">
                    Batch No.
                </th>

                <th align="left">
                    Card No.
                </th>
                <th align="left">
                    Total Payable
                </th>
               
            </tr>

        </thead>
        @foreach (var m in Model.ResultList)
        {
            <tr>
                <td>
                    @m.docketdate

                </td>
                <td>
                    @m.BatchNumber
                </td>
                <td>
                    @m.CardNumberMasked
                </td>
                <td>
                    $@m.TotalPaid
                </td>
               
            </tr>
        }
    </table>
}
   
