﻿@model List<PhoenixWeb.Models.ViewModel.QuickScanVM>
@{
    ViewBag.Title = "Quick Scan";
    ViewBag.Action = "QuickScan";
    Layout = "~/Views/Shared/_QuickScanPopupLayout.cshtml";
    ViewBag.DialogSize = "1000";
}
<h3 class="page-title">
    Quick Scan
    <small>Scan all dockets and send at once</small>
</h3>
<div >
    <label style="color:red" id="error1" />
</div>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
            Scan docket(s)
        </div>

    </div>
    <div class="portlet-body form">
        <div id="SearchCriteriaPlaceHolder" class="portlet-body">
                <div class="form-body">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Scan Top BarCode", new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="QSTopBC" name="QSTopBC" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Scan Bottom BarCode", new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                <input id="QSBottomBC" class="form-control" required name="QSBottomBC" onblur="getfocus1()" type="text" />
                            </div>
                        </div>
                    </div>
                </div><br />
        </div>
    </div>
 
            @*<div class="portlet box blue">*@
                <div class="portlet-body">
                    @if (Model.Count > 0)
                    {
                        <div class="table-scrollable">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            &nbsp;
                                        </th>
                                        <th>
                                            <label style="font-weight:700">TopBar Code</label>
                                        </th>
                                        <th>
                                            <label style="font-weight:700">BottomBar Code</label>
                                        </th> 
                                        <th>
                                            <label style="font-weight:700">Amount</label>
                                        </th> 
                                                                             
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var r in Model)
                                    {
                                        <tr>
                                            <td>
                                                @r.Id
                                            </td>
                                            <td>
                                                @r.TopBarCode
                                            </td>
                                            <td>
                                                @r.BottomBarCode
                                            </td>
                                            <td>
                                                @r.Amount
                                            </td>
                                            <td>
                                                @Ajax.ActionLink("X", "RemoveQuick", new { Id = @r.Id },
                                                           new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "" })


                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            @*</div>*@      
</div>

@*@section scripts {
    <script type="text/javascript">

      
    </script>
}*@


























































@*@if (Model != null)
{
     <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <label>Card Type</label>
                                </th>
                                <th>
                                    <label>Face Value</label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var r in Model)
                            {
                                 @Html.HiddenFor(x => r.DocketPayMethod_key)                                  
                                <tr>
                                    <td>
                                        @r.Name
                                    </td>
                                    <td>
                                        <input type="text" style="height:20px; width:70px" class="form-control" id="@r.DocketPayMethod_key" name="@r.DocketPayMethod_key" />
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
}*@
   

@*@section scripts {
    <script type="text/javascript">

    </script>
}*@

