﻿@model PhoenixWeb.Models.ViewModel.RedeemVoucherVM
@{
    ViewBag.Title = "Redeem Vouchers";
    ViewBag.Action = "RedeemVouchers";
    Layout = "~/Views/Shared/_RedeemVouchers.cshtml";
    ViewBag.DialogSize = "940";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Redeem Vouchers
            @Html.HiddenFor(m => Model.Member_key)
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.MemberId, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.MemberId, new { @class = "form-control", id = "MemberId"})
                        <span class="help-block">
                            @Html.ValidationMessageFor(model => model.MemberId)
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.TotalPointEarned, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.TotalPointEarned, new { @class = "form-control", @readonly ="readonly", id = "TotalPointEarned" })
                        <span class="help-block">
                            @Html.ValidationMessageFor(model => model.TotalPointEarned)
                        </span>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", id = "Name" })
                        <span class="help-block">
                            @Html.ValidationMessageFor(model => model.Name)
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.TotalPointUsed, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.TotalPointUsed, new { @class = "form-control", @readonly = "readonly", id = "TotalPointUsed" })
                        <span class="help-block">
                            @Html.ValidationMessageFor(model => model.TotalPointUsed)
                        </span>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("VoucherType", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.VoucherTypekey, (IEnumerable<SelectListItem>)ViewBag.VoucherType, new { id = "VoucherType", @class = "form-control" })
                        <span class="help-block">
                            @Html.ValidationMessageFor(model => model.VoucherTypekey)
                        </span>
                    </div>
                </div>
            </div>     
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.TotalPointAvailable, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.TotalPointAvailable, new { @class = "form-control", @readonly = "readonly", id = "TotalPointAvailable" })
                        <span class="help-block">
                            @Html.ValidationMessageFor(model => model.TotalPointAvailable)
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Override, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.CheckBoxFor(model => model.Override, new { id = "Override" })
                        <span class="help-block">
                            @Html.ValidationMessageFor(model => model.Override)
                        </span>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>
@if (Model.HistoryVouchers.Count > 0)
{
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Vouchers
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable" style="position: relative; overflow:scroll; width: auto; height: 200px;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Voucher Number
                            </th>
                            <th>
                                Voucher
                            </th>
                            <th>
                                Creation Date
                            </th>
                            <th>
                                Expiry Date
                            </th>
                            <th>
                                Lastest Scan Date
                            </th>
                            <th>
                                Cash Value
                            </th>
                         
                            <th>
                               &nbsp;
                            </th>
                            <th>
                                &nbsp;
                            </th>
                     
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var s in Model.HistoryVouchers)
                        {

                            <tr>
                                <td>
                                    @s.vouchernumber
                                </td>
                                <td>
                                    @s.VoucherTypeName
                                </td>
                                <td>
                                    @s.CreationDate
                                </td>
                                <td>
                                    @s.ExpiryDate
                                </td>
                                <td>
                                    @s.LastestScanDate
                                </td>
                                <td>
                                    @s.CashValue
                                </td>
                                @if (@s.LastestScanDate == null)
                                { 
                                <td>                                 
                                    @Html.ActionLink("Print", "PrintVoucher", new { id = @s.vouchernumber, member = @Model.Member_key }, new { target = "_blank", Class = "btn btn-sm blue" })
                                </td>
                                <td>                                 
                                    @Ajax.ActionLink("Use voucher", "UseVoucher", "Cashing", new { voucher = @s.vouchernumber }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { @Class = "btn btn-default btn-sm" })


                                </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}





























































        @*@if (Model != null)
            {
                 <div class="portlet light bordered">
                        <div class="portlet-body">
                            <div class="table-scrollable">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <label>Card Type</label>
                                            </th>
                                            <th>
                                                <label>Face Value</label>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var r in Model)
                                        {
                                             @Html.HiddenFor(x => r.DocketPayMethod_key)
                                            <tr>
                                                <td>
                                                    @r.Name
                                                </td>
                                                <td>
                                                    <input type="text" style="height:20px; width:70px" class="form-control" id="@r.DocketPayMethod_key" name="@r.DocketPayMethod_key" />
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
            }*@


        @section scripts {
            <script type="text/javascript">

            </script>
        }

