﻿@model PhoenixWeb.Models.ViewModel.CashingReportVM
@{
    ViewBag.Title = "Reports";
}

<h3 class="page-title">
    Report
    <small>cashing report</small>
</h3>
<div>
    <label style="color:red" id="error" />
</div>
<div style="color:red">
    @ViewBag.Error
</div>
@using (Html.BeginForm("GenerateReport", "Cashing", FormMethod.Post, new { target = "_blank", id = "frmReport" }))
{
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-adjust"></i>
                Select Dates
            </div>

        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            @*<form action="#" class="horizontal-form">*@
                <div class="form-body">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Start Date", new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                <input type="datetime-local" class="form-control"  step="1" required name="StartDate" id="StartDate" value="@Model.StartDate" />
                                <span class="help-block">

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("End Date", new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                <input type="datetime-local"  step="1" class="form-control" required name="EndDate" id="EndDate" value="@Model.EndDate" />
                           
                                <span class="help-block">

                                </span>
                                <button type="submit" name="Command" value="Search" class="btn blue-madison">View <i class="m-icon-swapright m-icon-white"></i></button>

                                 <br />
                            </div>
                        </div>
                    </div>
                </div>
            @*</form>*@
            <br />

        </div>
    </div>

}

    <script type="text/javascript">

    $("#frmReport").submit(function (event) {
        var isValidStartDateEndDate = Util.CheckStartDateFollowEndDate("StartDate", "EndDate", "error");
        if (!isValidStartDateEndDate) {
            event.preventDefault();
            return;
        }

        $("#error").text("");
    });
    </script>


































@*@using (Html.BeginForm("GenerateReport", "Cashing"))
{
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
            Enter Dates
        </div>
    </div>
    <div class="portlet-body form">
        <div id="SearchCriteriaPlaceHolder" class="portlet-body">
                <div class="form-body">
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            @Html.Label("Start Date", new { @class = "control-label col-md-3" })
                            <div class="col-md-3">
                                <input type="datetime-local" class="form-control" required name="startDate" id="startDate" />
                            </div>
                        </div>
                    </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                @Html.Label("End Date", new { @class = "control-label col-md-3" })
                                <div class="col-md-3">
                                    <input type="datetime-local" class="form-control" required name="EndDate" id="EndDate" />
                                    <br />

                                    <input class="btn blue-madison" type="submit" name="Command" value="Daily Cashing Summary" />

                                </div>
                            </div>
                        </div>
                </div>
        </div>
        <br />
    </div>
</div>
}*@
