﻿@model PhoenixObjects.Financial.CommissionRate_MemberRateModelSameList
@using PhoenixObjects.Enums;
@{
    ViewBag.Title = "SameDay Cashing";
    ViewBag.Action = "SameDay";
    Layout = "~/Views/Shared/_SamePopupLayout.cshtml";
    ViewBag.DialogSize = "940";
}
<h3 class="page-title">
    SameDay Cashing
    <small>KEY: H.Chr = Handling Charges | Rate = Commission Rate</small>
</h3>
<i style="color:red">@ViewBag.Error</i>
<div class="row">
    <div class="col-md-6">
        <div class="portlet box blue">
            @*<div class="portlet-title">*@
                <div style="color:white" class="caption">
                    Top Barcode:@Model.TopBC | Bottom Barcode:@Model.BottomBC
                </div>
            @*</div>*@
                <div class="portlet-body">
                    @if (Model.MemberRateModelList.Count > 0)
                    {
                        <div class="table-scrollable">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <label style="font-weight:700">Type</label>
                                        </th>
                                        <th>
                                            <label style="font-weight:700">Amt</label>
                                        </th>
                                        <th>
                                            <label style="font-weight:700">Qty</label>
                                        </th>
                                        <th>
                                            <label style="font-weight:700">Rate</label>
                                        </th>
                                        <th>
                                            <label style="font-weight:700">H.Chrg</label>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var r in Model.MemberRateModelList)
                                    {
                                        <tr>
                                            <td>
                                                @r.Name
                                            </td>
                                            <td>
                                                <input type="text" style="height:20px; width:70px" class="form-control" id=@r.DocketPayMethod_key name=@r.DocketPayMethod_key />
                                            </td>
                                            <td>
                                                <input type="text" style="height:20px; width:70px" class="form-control" id=@r.DocketPayMethod_key1 name=@r.DocketPayMethod_key1 />
                                            </td>
                                            <td>
                                                @r.OperatorCommissionRate%
                                            </td>
                                            <td>
                                                @r.HandlingCharge
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    @if (ViewContext.Controller.IsDisplayUIControl(SystemConfigurationKeyEnum.DisplayGlideboxUI.ToString(), BusinessDomainEnum.Glidebox))
                    {
                        <div>
                            <span>Glidebox commission</span>
                            <div class="table-scrollable table-wrapper">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <label style="font-weight:700">Category ID</label>
                                            </th>
                                            <th>
                                                <label style="font-weight:700">Code</label>
                                            </th>
                                            <th>
                                                <label style="font-weight:700">Qty</label>
                                            </th>
                                            <th>
                                                <label style="font-weight:700">Comm per item</label>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var r in Model.GlideboxCommissionList)
                                        {
                                            <tr>
                                                <td>
                                                    @r.CategoryID
                                                </td>
                                                <td>
                                                    @r.ShortName
                                                </td>
                                                <td>
                                                    <input type="text" style="height:20px; width:70px" class="form-control" id=@r.CategoryID name=@r.CategoryID />
                                                </td>
                                                <td>
                                                    $@r.CommissionAmount
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }

                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box blue">
               @using (Html.BeginForm("ApplyLevyCharge", "Cashing" ))
               {
                <p style="text-align: right">
                    Find by Batch: @Html.TextBox("LevyCharge") <input type="submit" value="Apply" />
                </p>
               }
                <div class="portlet-body">
                    @if (Model.AddedMemberRateSameModelList.Count > 0)
                    {
                        <div class="table-scrollable">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <label style="font-weight:700">Card Type</label>
                                        </th>
                                        <th>
                                            <label style="font-weight:700">Amt</label>
                                        </th>
                                        <th>
                                            <label style="font-weight:700">Quantity</label>
                                        </th>
                                        <th>
                                            <label style="font-weight:700">Levy</label>
                                        </th>
                                        @*<th>
                                <label style="font-weight:700">Total</label>
                            </th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var r in Model.AddedMemberRateSameModelList)
                                    {
                                        <tr>
                                            <td>
                                                @r.Id) @r.Name
                                            </td>
                                            <td>
                                                $@r.FaceValue
                                            </td>
                                            <td>
                                                @r.Quantity
                                            </td>
                                            <td>
                                                $@r.LevyCharge
                                            </td>
                                            <td>
                                                @Ajax.ActionLink("X", "RemoveSamedayDocket", new { Id = @r.Id },
                                                           new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "" })


                                            </td>
                                            @*<td>
                                   $@r.HandlingCharge
                                </td>
                                <td>
                                   $@r.Total
                                </td>*@
                                            @*<td>
                                    @Ajax.ActionLink("X", "RemoveManualVoucher", new {Id = @r.Id },
                                               new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new {Class = "" })

                                </td>*@
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    @if (Model.AddedMemberRateSameTotalModelList.FaceValue != null && Model.AddedMemberRateSameTotalModelList.Commission != null && Model.AddedMemberRateSameTotalModelList.Total != null)
                    {
                        <div class="table-scrollable">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <label style="font-weight:700">Face Value total</label>
                                        </th>
                                        @*<th>
                                <label style="font-weight:700">Commission</label>
                            </th>
                            <th>
                                <label style="font-weight:700">H.Chrg</label>
                            </th>
                            <th>
                                <label style="font-weight:700">Total</label>
                            </th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            $@Model.AddedMemberRateSameTotalModelList.FaceValue
                                        </td>
                                        @*<td>
                                $@Model.AddedMemberRateSameTotalModelList.Commission
                            </td>
                            <td>
                                $@Model.AddedMemberRateSameTotalModelList.HandlingChrg
                            </td>
                            <td>
                                $@Model.AddedMemberRateSameTotalModelList.Total
                            </td>*@
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }
                    @if (ViewContext.Controller.IsDisplayUIControl(SystemConfigurationKeyEnum.DisplayGlideboxUI.ToString(), BusinessDomainEnum.Glidebox))
                    {
                        if (Model.AddedGlideboxCommissionList.Count > 0)
                        {
                            <div>
                                <span>Glidebox Commission</span>

                                <div class="table-scrollable">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <label style="font-weight:700">Category ID</label>
                                                </th>
                                                <th>
                                                    <label style="font-weight:700">Code</label>
                                                </th>
                                                <th>
                                                    <label style="font-weight:700">Qty</label>
                                                </th>
                                                <th>
                                                    <label style="font-weight:700">Commission</label>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var r in Model.AddedGlideboxCommissionList)
                                            {
                                                <tr>
                                                    <td>
                                                        @r.CategoryID
                                                    </td>
                                                    <td>
                                                        @r.ShortName
                                                    </td>
                                                    <td>
                                                        @r.Quantity
                                                    </td>
                                                    <td>
                                                        $@r.TotalCommissionAmount
                                                    </td>
                                                    <td>
                                                        @Ajax.ActionLink("X", "RemoveSamedayDocket", new { Id = @r.CategoryID },
                                                                   new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { Class = "" })


                                                    </td>
                                                </tr>
                                            }

                                            <tr>
                                                <td>Commission Total</td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    $@Model.AddedGlideboxCommissionList.Sum(x => x.TotalCommissionAmount)
                                                </td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

</div>





























































@*@if (Model != null)
{
     <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <label>Card Type</label>
                                </th>
                                <th>
                                    <label>Face Value</label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var r in Model)
                            {
                                 @Html.HiddenFor(x => r.DocketPayMethod_key)                                  
                                <tr>
                                    <td>
                                        @r.Name
                                    </td>
                                    <td>
                                        <input type="text" style="height:20px; width:70px" class="form-control" id="@r.DocketPayMethod_key" name="@r.DocketPayMethod_key" />
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
}*@
   

@section scripts {
    <script type="text/javascript">

    </script>
}

<style>
    .table-wrapper {
        height: 150px;
        overflow: auto;
    }
</style>