﻿@model PhoenixWeb.Models.ViewModel.UseVoucherVM
@{
    ViewBag.Title = "Scan Vouchers";
    ViewBag.Action = "UseVouchers";
    Layout = "~/Views/Shared/_UseVouchers.cshtml";
    ViewBag.DialogSize = "940";
}


<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Use Vouchers
            @Html.HiddenFor(m => Model.Member_key)
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
          
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.VoucherNumber, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.VoucherNumber, new { @class = "form-control", id = "VoucherNumber" })
                        <span class="help-block">
                            @Html.ValidationMessageFor(model => model.VoucherNumber)
                        </span>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.MemberId, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.MemberId, new { @class = "form-control", id = "MemberId" })
                        <span class="help-block">
                            @Html.ValidationMessageFor(model => model.MemberId)
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", id = "Name" })
                        <span class="help-block">
                            @Html.ValidationMessageFor(model => model.Name)
                        </span>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>






























































        @*@if (Model != null)
            {
                 <div class="portlet light bordered">
                        <div class="portlet-body">
                            <div class="table-scrollable">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <label>Card Type</label>
                                            </th>
                                            <th>
                                                <label>Face Value</label>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var r in Model)
                                        {
                                             @Html.HiddenFor(x => r.DocketPayMethod_key)
                                            <tr>
                                                <td>
                                                    @r.Name
                                                </td>
                                                <td>
                                                    <input type="text" style="height:20px; width:70px" class="form-control" id="@r.DocketPayMethod_key" name="@r.DocketPayMethod_key" />
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
            }*@


        @section scripts {
            <script type="text/javascript">

            </script>
        }

