﻿@model PhoenixObjects.Member.MemberBalanceModel
@{
    ViewBag.Title = "Index";
}
<h3 class="page-title">
    Cash Withdrawal
    <small>cash withdrawal over counter</small>
</h3>

<div style="color:green">
    @ViewBag.Msg
</div>
<div style="color:red">
    @ViewBag.Error
</div><br />

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-adjust"></i>
            Search
        </div>
    </div>
    <div class="portlet-body form">
        <div id="SearchCriteriaPlaceHolder" class="portlet-body">
            @using (Html.BeginForm())
            {
                <div class="form-body">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Scan top barcode", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <table>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control" id="TopBC" name="TopBC" autofocus onclick="Setfocus()" required />
                                        </td>
                                        <td>
                                            &nbsp;
                                        </td>
                                        <td>
                                            <button id="submit" type="submit" class="btn blue-madison" onfocus="onSubmitfocus()" onkeyup="onsub()" onclick="onsub()" @*class="btn blue"*@>SEARCH</button>
                                        </td>
                                    </tr>
                                </table><br />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@if (Model.FirstName != null)
{
  
//using (Html.BeginForm("PayWithdrawal", "Cashing",FormMethod.Post))
//{
    @Html.HiddenFor(m => m.MemberID)
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-adjust"></i>
                Member Information
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-9">
                            @if (Model.photo != null)
                            {
                                <img alt="" src="@Url.Action("GetPhoto", "Cashing", new {memberId = @Model.MemberID })" height="200" width="350" class="photo" />
                            }
                            else
                            {
                                <img id="CreateMember" src="~/Images/MemberNotFound.png" class="photo" width:"250px" height:"150px" />
                            }
                        </div>
                    </div>
                </div>
            </div><br />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Trading Name", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.TradingName, new { @class = "form-control" })
                            <span class="help-block">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Member ID", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.MemberID, new { @class = "form-control" })
                            <span class="help-block">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("First Name", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.FirstName, new { @class = "form-control" })
                            <span class="help-block">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Last Name", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.LastName, new { @class = "form-control" })
                            <span class="help-block">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Balance Amount", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            $@Html.DisplayFor(model => model.Balance, new { id = "Balance", @class = "form-control" })
                            <span class="help-block">
                            </span>
                        </div>
                    </div>
                </div>
            </div><br />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @*@Html.Label("Enter Withdraw Amount", new { @class = "control-label col-md-3" })*@
                        <div class="col-md-6">
                            @*<input type="text" class="form-control" name="Amount" id="Amount" />*@

                            <span id="Error" class="help-block">
                            </span>
                            @Ajax.ActionLink("Withdraw Amount", "PayWithdrawalConfirm", "Cashing", new { memberId = Model.MemberID, Balance = Model.Balance }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "dialog", OnSuccess = "openDialog" }, new { @Class = "btn blue-madison" })
                            @*<button id="submit" type="submit" class="btn blue-madison">Pay Amount</button>*@
                        </div>
                    </div>
                </div>
                <div style="color:green;font-size:large;font-weight:700">
                    @ViewBag.MsgConfirm
                </div>
            </div>
           
            <br />
        </div>
    </div>
//}
}


        @section scripts {
            <script type="text/javascript">
                $(document).ready(function () {
                    $(".active").removeClass("active open");
                    $(".Cashing").addClass("active open");
                });

                function Setfocus() {
                    $("#TopBC").focus();
                }

                //function getfocus() {
                //    $("#error").text("");
                //    var tb = $("#TopBC").val().length;
                //    var bb = $("#BottomBC").val().length;
                //    if (tb < 8) {
                //        $("#TopBC").focus();
                //        $("#error").text("Minimum 11-12 characters");
                //    }
                //    else if (bb < 6) {
                //        $("#BottomBC").focus();
                //        $("#error").text("Minimum 11-12 characters");
                //    }
                //    else {
                //        var ButtonKeys1 = { "EnterKey": 9 };
                //        $(function () {
                //            $("#BottomBC").keypress(function (e) {
                //                if (e.which == ButtonKeys1.EnterKey) {
                //                    document.getElementById('submit').focus()
                //                    return false;
                //                }
                //            });
                //        });
                //    }
                //}
                //function onSubmitfocus() {
                //    document.getElementById('submit').click()
                //}
                //function onsub() {
                //    document.getElementById('TopBC').focus()
                //    document.getElementById('TopBC').select()
                //}

            </script>
        }






